* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: Helvetica, verdana, sans-serif; 
  background-position: top center;
  background-repeat: repeat-y;
  background-color: #efefef;
}

nav ul{
  line-height: 1.8em;
  margin-left: -25px;
  list-style: none;
}

section h1 {
	font-size: 1.4em;
	font-weight: 600;
}

section h2 {
	font-size: 1.6em;
	font-weight: 400;
}

/* */
article h1{
	font-size: 1.4em;
	font-weight: 400;
}


article p {
	line-height: 1.4em;
	font-size: 1.1em;
	font-weight: 200;
	color: #111;
}

/* One column */
@media screen and (max-width: 624px) {
  html {
    padding: 50px 22px 50px 23px; 
  }
  
  nav, aside{
	  display: none;
  }
  
  .recommendation_content {
	  display: hidden;
  }
}

/* two columns */    
@media screen and (min-width: 625px) and (max-width: 924px) {
  header, main, footer {
    width: 600px;
    margin-left: auto;
    margin-right: auto; }
    
  nav, aside{
	  display: none;
  }

  html {
    padding: 75px 0 75px 25px; }
}

/* three columns */     
@media screen and (min-width: 925px) and (max-width: 1224px) {
  header, main, footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto; }

  nav {
    float: left;
    display: block;
    margin-right: 25px;
    width: 275px; }
    nav:last-child {
      margin-right: 0; }

  .content {
    float: left;
    display: block;
    margin-right: 25px;
    width: 575px; }
    .content:last-child {
      margin-right: 0; }

  aside {
    display: none; }

  html {
    padding: 75px 0 75px 25px; }
}

/* four columns */ 
@media screen and (min-width: 1225px) {
  html {
    padding: 100px 0 100px 25px; }

  header, main, footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .recommendation_content {
	display: block;
  }
   
  nav, aside {
    float: left;
    display: block;
    margin-right: 25px;
    width: 275px; }
    nav:last-child, aside:last-child {
      margin-right: 0; }

  .content {
    float: left;
    display: block;
    margin-right: 25px;
    width: 575px; }
    .content:last-child {
      margin-right: 0; }
}
