.container, .container-fluid {
    .consultation_details {
        margin-top: 20px;

        p, span {
            display: table-cell;
        }

        .consultation_processing_deadline, .consultation_deadline, .consultation_status, .conference_theme {
            span {
                width: 100px;
            }
        }
    }

    .ingress {
        border: none;
    }
}