@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.no-background {
    background: #f7f6f6;
}

.fa-calendar-o {
    float: left;
    padding-right: 25px;
    font-size: 300%;
}

.mainentrance {
    background: url(../img/forside_bakgrunnsbilde.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0 20px 0;
}

.entrancebutton {
    width: 250px;
    height: 150px;
    margin: 0 30px 30px 0;
    float: left;
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    background: @colorDarkBlue;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &.menu {
        border: none;
        height: 150px;
        width: 250px;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        border-radius: 4px;

        h2 {
            margin: auto;
            font-size: 22px;
            line-height: 26px;
            color: white;

            .fa-bars {
                padding-left: 10px;
            }
        }

        &.js-expanded {
            background-color: #02343f;
            color: white;
            outline: 0;
        }
    }

    &:hover {
        background: #02343f;
        text-decoration: none;

        h2, p, &:focus, h2:focus, p:focus {
            text-decoration: none;
            color: white;
        }
    }

    h3 {
        margin: 80px 0 0 0;
        padding: 0;
        font-size: 28px;
        font-family: @fontSohoLight;

        .fa-bars {
            margin-top: 20px;
        }
    }

    h2 {
        font-size: 22px;
        line-height: 26px;
        margin: 60px 12px 15px 20px;
        padding-bottom: 5px;
        color: white;
        position: relative;
    }

    p {
        line-height: 23px;
        position: relative;
        margin-left: 12px;
        margin-bottom: 15px;
    }

    &:focus {
        background: #02343f;

        h2, p {
            background: #02343f;
        }
    }

    &:visited, &:hover {
        color: white;

        &:hover {
            background: #02343f;
        }
    }

    &.alternative {
        height: 160px;

        h2 {
            margin: 25px 12px 15px 12px;
            font-size: 22px;
            line-height: 29px;
        }

        &.menu {
            height: 160px;

            h2 {
                font-size: 22px;
                line-height: 29px;
            }

            &:focus {
                h2 {
                    background: #666460;
                }
            }
        }
    }
}

.frontpagewrapper {
    &.grey {
        background: #DEDDDB;
    }

    &.white {
        background: white;
    }
}

.frontpagewrapper_crisis {
    background: @colorYellow;
    padding: 1px 0;
    margin-bottom: 30px;
}

.frontpage {
    padding-bottom: 50px;

    h2 {
        margin: 50px 0 20px 0;
        width: 100%;
        border-bottom: 3px solid #222;
        padding-bottom: 15px;

        &.noborder {
            border: none;
        }
    }

    a {
        color: @colorDarkBlue;
    }

    .news {
        margin: 20px 0 20px 0;

        p {
            color: @colorDarkBlue;
            font-size: 20px;
            padding-left: 35px;
        }

        a {
            font-size: 24px;
            font-family: @fontSohoLight;
            color: @colorDarkBlue;
            margin-bottom: 0;
        }

        .internal-link.arrow_right {
            margin-top: 0;
        }

        &:first-of-type {
            margin-top: 35px;
        }
    }

    p {
        margin: 0;
    }

    .conferenceitem {
        width: 100%;
        margin-bottom: 30px;

        p {
            padding: 0;
            line-height: 1em;
            font-size: 18px;
            margin-bottom: 10px;
            color: #222;
        }

        a {
            font-size: 24px;
        }

        .conference_date {
            font-size: 24px;
            color: @colorRed;
            display: block;
            font-family: @fontSohoLight;
            margin: 3px 28px 0 0;
            line-height: 42px;
            text-align: right;
        }

        .month {
            font-size: 24px;
            font-family: @fontSohoLight;
            color: @colorRed;
            text-align: right;
        }

        .conference_info {
            a {
                font-size: 24px;
                font-family: @fontSohoLight;
                color: @colorDarkBlue;
            }
        }
    }

    div.conferenceitem > div:nth-child(2n-1) {
        width: 44%;
        float: left;
    }

    div.conferenceitem > div:nth-child(2n) {
        width: 48%;
        float: left;
    }

    .statistics_image {
        margin-bottom: 20px;
    }

    .ingress {
        border: none;
        margin-top: 23px;

        &.nomargin {
            margin: 0;
        }
    }

    .importantnews {
        .ingress {
            margin-bottom: 20px;
        }

        .bulletlist {
            margin-bottom: 35px;
        }

        .text_and_image {
            width: 49%;
            float: left;
        }

        .importantphoto {
            margin: 28px 0 0 22px;
            width: 49%;
            float: left;
        }
    }

    &.newsandconference {
        background: white;
    }

    .chart_wrapper {
        margin: 40px 57px 0 57px;
        background: white;
        overflow: auto;
    }

    #chart_div {
        margin-bottom: 0;
    }

    .showmorenews {
        margin-top: 30px;
    }
}

.internal-link {
    background: url(../img/ikoner/lenkepil_blaa.png) no-repeat;
    background-size: 20px;
    background-position: 0 7px;
}

.toppmeny .tabs .tab-links li.menu_search {
    background: none;
    width: 170px;
    padding: 0;
}

#menu_search {
    border-radius: 0;

    &::-webkit-input-placeholder { /* WebKit browsers */
        font-size: 16px;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 16px;
        opacity: 1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 16px;
        opacity: 1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size: 16px;
    }
}

.video-container {
    padding-bottom: 40%;
    margin: 40px 0 20px 0;
}

.search_button img {
    width: 20px;
    vertical-align: initial;
}

.menu_search {
    input {
        height: 27px;
        width: 77%;
        cursor: pointer;
        border: none;
        color: @colorDarkBlue;
    }
}

.searchform {
    border: 1px solid #004e66;
    margin: 0;
    height: 31px;
    background: white;
    padding-left: 0;
}

@media only screen and (max-width: 599px) {
    .entrancebutton {
        width: 100%;
        height: 100%;
        margin: 7.5px 0 7.5px 0;

        a {
            h2 {
                margin: 15px 0 0 12px;
                color: white;
            }

            p {
                margin: 0 0 15px 12px;
                color: white;
            }
        }

        &.menu {
            width: 100%;
            height: 106px;
            border-radius: 4px;

            h2 {
                margin: 15px 0 15px 12px;
                text-align: center;

                .fa-bars {
                    padding-left: 10px;
                }
            }
        }
    }

    .frontpage .chart_wrapper {
        margin: 40px 0 0 0;
    }

    .frontpage .conferenceitem .conference_date {
        font-size: 28px;
        margin-right: 20px;
    }

    .frontpage div.conferenceitem > div:nth-child(2n-1) {
        width: 45%;
    }

    .frontpage div.conferenceitem > div:nth-child(2n) {
        width: 45%;
    }

    .frontpage .conferenceitem .conference_info a {
        line-height: 42px;
        margin-top: 5px;
    }

    .internal-link {
        background: url(../img/ikoner/lenkepil_blaa.png) no-repeat;
        background-size: 20px;
        background-position: 0 13px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .entrancebutton {
        margin: 30px 25px 0 0;
    }

    .frontpage div.conferenceitem > div:nth-child(2n-1) {
        width: 35%;
    }

    .frontpage div.conferenceitem > div:nth-child(2n) {
        width: 55%;
    }

    .frontpage .conferenceitem .conference_info a {
        line-height: 42px;
        margin-top: 3px;
    }

    .internal-link {
        background: url(../img/ikoner/lenkepil_blaa.png) no-repeat;
        background-size: 20px;
        background-position: 0 50%;
    }
}

@media only screen and (max-width: 899px) {
    .border_grey {
        padding-bottom: 30px;
        border-bottom: 1px solid @colorMediumGray;
    }

    .frontpage .importantnews {
        .text_and_image {
            width: 100%;
            float: none;
        }
    }
}

@media only screen and (min-width:900px) and (max-width: 1199px) {
    .frontpage .importantnews {
        .text_and_image {
            width: 48%;
            float: left;
        }

        .importantphoto {
            margin: 28px 0 0 22px;
            width: 48%;
            float: left;
        }
    }

    .frontpage div.conferenceitem > div:nth-child(2n-1) {
        width: 43%;
    }
}

@media only screen and (min-width: 1200px) {
    .center {
        padding: 0 165px;
    }
}