.no-background {
  background: #f7f6f6;
}
.fa-calendar-o {
  float: left;
  padding-right: 25px;
  font-size: 300%;
}
.mainentrance {
  background: url(../img/forside_bakgrunnsbilde.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px 0 20px 0;
}
.entrancebutton {
  width: 250px;
  height: 150px;
  margin: 0 30px 30px 0;
  float: left;
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  background: #004e66;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.entrancebutton.menu {
  border: none;
  height: 150px;
  width: 250px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 4px;
  background: white;
}
.entrancebutton.menu h2 {
  margin: auto;
  font-size: 22px;
  line-height: 26px;
  color: #004e66;
  transition: all 0.5s;
}
.entrancebutton.menu h2 .fa-bars {
  padding-left: 10px;
}
.entrancebutton.menu.js-expanded {
  background-color: #0093a7;
  color: white;
  outline: 0;
}
.entrancebutton.menu.js-expanded h2 {
  color: white;
  background: none;
}
.entrancebutton.menu:hover {
  background: #0093a7 !important;
}
.entrancebutton:hover {
  background: #002e41;
  text-decoration: none;
}
.entrancebutton:hover h2,
.entrancebutton:hover p,
.entrancebutton:hover:focus,
.entrancebutton:hover h2:focus,
.entrancebutton:hover p:focus {
  text-decoration: none;
  color: white;
}
.entrancebutton h3 {
  margin: 80px 0 0 0;
  padding: 0;
  font-size: 28px;
  font-family: "Soho Gothic W01 Light";
}
.entrancebutton h3 .fa-bars {
  margin-top: 20px;
}
.entrancebutton h2 {
  font-size: 22px;
  line-height: 26px;
  margin: 60px 12px 15px 20px;
  padding-bottom: 5px;
  color: white;
  position: relative;
}
.entrancebutton p {
  line-height: 23px;
  position: relative;
  margin-left: 12px;
  margin-bottom: 15px;
}
.entrancebutton:focus {
  background: #002e41;
}
.entrancebutton:focus h2,
.entrancebutton:focus p {
  background: #002e41;
}
.entrancebutton:visited,
.entrancebutton:hover {
  color: white;
}
.entrancebutton:visited:hover,
.entrancebutton:hover:hover {
  background: #002e41;
}
.entrancebutton.alternative {
  height: 160px;
}
.entrancebutton.alternative h2 {
  margin: 25px 12px 15px 12px;
  font-size: 22px;
  line-height: 29px;
}
.entrancebutton.alternative.menu {
  height: 160px;
}
.entrancebutton.alternative.menu h2 {
  font-size: 22px;
  line-height: 29px;
}
.entrancebutton.alternative.menu:focus h2 {
  background: #666460;
}
.search_button {
  float: none;
}
.frontpagewrapper.grey {
  background: #DEDDDB;
}
.frontpagewrapper.white {
  background: white;
}
.frontpagewrapper_crisis {
  background: #f4d01e;
  padding: 1px 0;
  margin-bottom: 30px;
}
.frontpage {
  padding-bottom: 50px;
}
.frontpage h2 {
  margin: 50px 0 20px 0;
  width: 100%;
  border-bottom: 3px solid #222;
  padding-bottom: 15px;
}
.frontpage h2.noborder {
  border: none;
}
.frontpage a {
  color: #004e66;
}
.frontpage .news {
  margin: 20px 0 20px 0;
}
.frontpage .news p {
  color: #838078;
  font-size: 18px;
  padding-left: 35px;
}
.frontpage .news a {
  font-size: 24px;
  font-family: "Soho Gothic W01 Light";
  color: #004e66;
  margin-bottom: 0;
}
.frontpage .news .internal-link.arrow_right {
  margin-top: 0;
}
.frontpage .news:first-of-type {
  margin-top: 35px;
}
.frontpage p {
  margin: 0;
}
.frontpage .conferenceitem {
  width: 100%;
  margin-bottom: 20px;
}
.frontpage .conferenceitem p {
  padding: 0;
  line-height: 1em;
  font-size: 18px;
  margin-bottom: 10px;
  color: #222;
}
.frontpage .conferenceitem a {
  font-size: 24px;
}
.frontpage .conferenceitem .conference_date {
  font-size: 26px;
  color: #c63629;
  display: block;
  font-family: "Soho Gothic W01 Light";
  margin-right: 28px;
  line-height: 27px;
  text-align: right;
}
.frontpage .conferenceitem .month {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Calibri';
  color: #c63629;
  display: block;
  text-align: right;
  margin-top: 2px;
}
.frontpage .conferenceitem .conference_info a {
  font-size: 24px;
  font-family: "Soho Gothic W01 Light";
  color: #004e66;
}
.frontpage div.conferenceitem > div:nth-child(2n-1) {
  width: 25%;
  float: left;
  min-height: 75px;
  padding-top: 10px;
}
.frontpage div.conferenceitem > div:nth-child(2n) {
  width: 68%;
  float: left;
  min-height: 75px;
  padding-top: 11px;
}
.frontpage .statistics_image {
  margin-bottom: 20px;
}
.frontpage .ingress {
  border: none;
  margin-top: 23px;
}
.frontpage .ingress.nomargin {
  margin: 0;
}
.frontpage .importantnews .ingress {
  margin-bottom: 20px;
}
.frontpage .importantnews .bulletlist {
  margin-bottom: 35px;
}
.frontpage .importantnews .text_and_image {
  width: 49%;
  float: left;
}
.frontpage .importantnews .importantphoto {
  margin: 28px 0 0 22px;
  width: 49%;
  float: left;
}
.frontpage.newsandconference {
  background: white;
}
.frontpage .chart_wrapper {
  margin: 40px 57px 0 57px;
  background: white;
  overflow: auto;
}
.frontpage #chart_div {
  margin-bottom: 0;
}
.frontpage .showmorenews {
  margin-top: 30px;
}
.internal-link {
  background: url(../img/ikoner/lenkepil_blaa.png) no-repeat;
  background-size: 20px;
  background-position: 0 7px;
}
.toppmeny .tabs .tab-links li.menu_search {
  background: none;
  width: 170px;
  padding: 0;
}
#menu_search {
  border-radius: 0;
}
#menu_search::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 16px;
}
#menu_search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 16px;
  opacity: 1;
}
#menu_search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 16px;
  opacity: 1;
}
#menu_search:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 16px;
}
.video-container {
  padding-bottom: 40%;
  margin: 40px 0 20px 0;
}
.search_button img {
  width: 20px;
  vertical-align: initial;
}
.menu_search input {
  height: 27px;
  width: 77%;
  cursor: pointer;
  border: none;
  color: #004e66;
}
.searchform {
  border: 1px solid #004e66;
  margin: 0;
  height: 31px;
  background: white;
  padding-left: 0;
}
@media only screen and (max-width: 599px) {
  .entrancebutton {
    width: 100%;
    height: 100%;
    margin: 7.5px 0 7.5px 0;
  }
  .entrancebutton a h2 {
    margin: 15px 0 0 12px;
    color: white;
  }
  .entrancebutton a p {
    margin: 0 0 15px 12px;
    color: white;
  }
  .entrancebutton.menu {
    width: 100%;
    height: 106px;
    border-radius: 4px;
  }
  .entrancebutton.menu h2 {
    margin: 15px 0 15px 12px;
    text-align: center;
  }
  .entrancebutton.menu h2 .fa-bars {
    padding-left: 10px;
  }
  .frontpage .chart_wrapper {
    margin: 40px 0 0 0;
  }
  .frontpage .conferenceitem .conference_date {
    font-size: 28px;
    margin-right: 20px;
  }
  .frontpage div.conferenceitem > div:nth-child(2n-1) {
    width: 45%;
  }
  .frontpage div.conferenceitem > div:nth-child(2n) {
    width: 45%;
  }
  .frontpage .conferenceitem .conference_info a {
    line-height: 42px;
    margin-top: 5px;
  }
  .internal-link {
    background: url(../img/ikoner/lenkepil_blaa.png) no-repeat;
    background-size: 20px;
    background-position: 0 13px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .entrancebutton {
    margin: 30px 25px 0 0;
  }
  .frontpage div.conferenceitem > div:nth-child(2n-1) {
    width: 35%;
  }
  .frontpage div.conferenceitem > div:nth-child(2n) {
    width: 55%;
  }
  .frontpage .conferenceitem .conference_info a {
    line-height: 42px;
    margin-top: 3px;
  }
  .internal-link {
    background: url(../img/ikoner/lenkepil_blaa.png) no-repeat;
    background-size: 20px;
    background-position: 0 50%;
  }
}
@media only screen and (max-width: 899px) {
  .border_grey {
    padding-bottom: 30px;
    border-bottom: 1px solid #bababa;
  }
  .frontpage .importantnews .text_and_image {
    width: 100%;
    float: none;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .frontpage .importantnews .text_and_image {
    width: 48%;
    float: left;
  }
  .frontpage .importantnews .importantphoto {
    margin: 28px 0 0 22px;
    width: 48%;
    float: left;
  }
  .frontpage div.conferenceitem > div:nth-child(2n-1) {
    width: 43%;
  }
}
@media only screen and (min-width: 1200px) {
  .center {
    padding: 0 165px;
  }
}
@media only screen and (min-width: 900px) {
  .frontpage .conferenceitem {
    margin-top: 24px;
  }
}
/*# sourceMappingURL=frontpage.css.map */