.meeting {
    p {
        display: inline;
        margin-right: 30px;
    }

    a {
        display: block;
    }

    padding-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.aside.alignwithheader {
    margin-top: 113px;
}

.refinesearch {
    margin-top: 20px;
}