.meeting {
  padding-bottom: 15px;
  margin-top: 30px;
  border-bottom: 1px solid gray;
}
.meeting p {
  display: inline;
  margin-right: 30px;
}
.meeting a {
  display: block;
}
.aside.alignwithheader {
  margin-top: 113px;
}
.refinesearch {
  margin-top: 20px;
}
.timeandplace {
  float: none;
}
.conference_transport {
  margin: 30px 0 0 0;
}
.conference_transport a div.date {
  float: left;
  width: auto;
  min-width: 160px;
  padding-right: 20px;
  font-weight: bold;
  display: block;
}
.conference_transport a div.information {
  float: left;
  width: 75%;
}
.conference_transport a div.information p {
  margin-left: 35px;
}
.conference_transport a div.information .internal-link {
  background-position: 0 15px;
}
.conference_transport a span.date_number {
  font-size: 36px;
  display: block;
  padding: 10px 0;
  color: #c63629;
  font-family: "Soho Gothic W01 Light";
  text-align: right;
}
.conference_transport a span.date_monthyear {
  display: block;
  color: #c63629;
  font-family: 'Calibri';
  font-size: 20px;
  text-transform: uppercase;
  text-align: right;
}
.conference_transport a h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
  margin: 0;
  color: #004e66;
  color: #0093a7;
}
.conference_transport a h2.internal-link.arrow_right {
  margin: 0;
}
.conference_transport a p {
  margin: 3px 0 0 0;
  color: #222;
}
.conference_transport a:hover h2 {
  text-decoration: underline;
}
.conference {
  background: white;
  padding: 25px 12px 10px 12px;
  margin-top: 0;
}
.conference .details {
  float: left;
  width: auto;
  min-width: 160px;
  padding-right: 30px;
  margin-top: 7px;
  font-weight: bold;
  display: block;
}
.conference .details .date,
.conference .details .year {
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 27px;
  display: block;
  color: #c63629;
  text-align: right;
}
.conference .details .date {
  font-size: 36px;
  font-family: "Soho Gothic W01 Light";
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.conference .information {
  float: left;
  width: 72%;
}
.conference .information .information_header {
  color: #0093a7;
  font-size: 36px;
  line-height: 40px;
  font-family: "Soho Gothic W01 Light";
  margin: 0 0 17px 0;
}
.conference button {
  margin-left: 15px;
}
.conference img {
  width: 210px;
  float: right;
  margin-top: 29px;
  margin-right: 17px;
}
.month {
  font-family: 'Calibri';
  line-height: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: #004e66;
  margin-bottom: 0;
}
@media only screen and (min-width: 599px) {
  .container .aside {
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  .conference .information {
    float: none;
  }
  .conference .information .information_header {
    margin-top: 10px;
  }
  .conference .details {
    float: none;
    width: 100%;
  }
  .conference .details .date,
  .conference .details .year,
  .conference .details .time {
    text-align: left;
    display: inline-block;
  }
  .conference_transport {
    margin: 10px 0 10px 0;
    padding: 5px 0 20px 15px;
    background: white;
  }
  .conference_transport a span.date_number,
  .conference_transport a span.date_monthyear {
    text-align: left;
    display: inline-block;
    font-size: 24px;
    line-height: 27px;
  }
  .conference_transport a span.date_monthyear {
    margin-bottom: 20px;
  }
  .conference_transport a div.date,
  .conference_transport a div.information {
    float: none;
    width: auto;
  }
  .conference_transport a h2 {
    font-size: 24px;
    line-height: 27px;
  }
  .conference_transport a span.date_number,
  .conference_transport a span.date_monthyear {
    font-size: 18px;
    margin-bottom: 0;
  }
  .conference_transport a div.information {
    width: 100%;
  }
  .conference_transport a h2.internal-link.arrow_right {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .conference_transport a div.information {
    width: 65%;
  }
  .conference img {
    margin: 0 auto;
    display: block;
  }
  .conference_transport a span.date_number,
  .conference_transport a span.date_monthyear {
    text-align: left;
  }
  .conference_transport a div.date {
    min-width: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  .conference_transport a div.information .internal-link {
    white-space: pre;
  }
}
/*# sourceMappingURL=moetekurs.css.map */