@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorDarkBlueHover: #002e41;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorMediumBlueHover: #006371;
@colorLightBlue: #6cb4b5;
@colorLightBlueHover: #4f8889;
@colorOrange: #df9922;
@colorOrangeHover: #b8811d;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorYellowHover: #c7ad1c;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGreenHover: #748f29;

.newsitem {
    .newitem_date {
        font-size: 16px;
    }

    .internal-link.arrow_right, p {
        margin: 0;
    }

    margin: 50px 0 70px 0;
}

.border {
    margin-bottom: 25px;
}

.newsarchive {
    margin-top: 50px;

    h2, h5 {
        border-bottom: 2px solid @colorDarkBlue;
        margin-bottom: 17px;
        padding-bottom: 15px;
        font-family: @fontSohoRegular;
        font-size: 28px;
        line-height: 42px;
        ;
    }
}

.filterlist {
    li {
        margin-bottom: 20px;

        a {
            color: @colorDarkBlue;
            font-size: 20px;
        }
    }

    .selectedfilter a, .selectedfilter a:visited {
        font-weight: bold;
        border-left: 3px solid @colorDarkBlue;
        padding-left: 10px;
    }
}

.newsdate {
    font-size: 18px;
}

.transportsideknapp.newsitem {
    margin: 35px 0;

    h2 {
        margin: 5px 0;
    }
}

.refinesearch {
    margin-top: 20px;
}