<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/icon.ico">
    <title>Ansvar og organisering | Helsedirektoratet</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/moetekurs.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/print.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>

<body>
    <div id="header">
        <div class="shortcuts">
            <ul>
                <li><a href="#" tabindex="1" accesskey="i" id="menushortcut">Gå til meny</a></li>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-5 nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../img/ehelse.no_logo.png" alt="" />
                    </a>
                    <p class="logo_subheading">IKT-løsninger og standarder i helse- og omsorgssektoren</p>
                </div>

                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-0" id="mainsearch">
                    <div class=" menubutton hidden-mobile">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="mainsearchcolumn  hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="soekeresultatside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass_hvitt.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="#">Om ehelse.no</a>
                            <a class=" hidden-sm hidden-xs" href="artikkel_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class=" toppmeny  container-fluid js-expand visuallyhidden">
        <div class="inner container-fluid">
            <div class="container">
                <nav class="tabs">
                    <ul class="tab-links" role="tablist">
                        <li class="tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</li>
                        <li class="tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</li>
                    </ul>
                    <div class="tab-content">
                        <div id="panel_header1" class="tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">

                            <div class="row">
                                <div class="col-sm-6 col-md-4">

                                    <ul>
                                        <li><a href="#" id="content_categories">Strategier og planer</a></li>
                                        <li><a href="#">Nasjonale e-helseutvalg</a></li>
                                        <li><a href="#">Driftsinformasjon</a></li>
                                        <li><a href="#">IKT-infrastruktur og felleskomponenter</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <ul>
                                        <li><a href="standarder.html">Standarder, terminologi og kodeverk</a></li>
                                        <li><a href="#">Utredning Én innbygger – én journal</a></li>
                                        <li><a href="#">Innbyggertjenester</a></li>
                                        <li><a href="#">Helsepersonelltjenester</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix visible-xs visible-sm"></div>

                                <div class=" col-sm-6 col-md-4">
                                    <ul>

                                        <li><a href="#">Personvern og informasjonssikkerhet</a></li>
                                        <li><a href="#">Styrings- og kunnskapsgrunnlag</a></li>
                                        <li><a href="#">Nyheter</a></li>
                                        <li><a href="#">Kurs og arrangement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="panel_header2" class="tab visuallyhidden tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                            <div class="row alphabetical">
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">A</li>
                                    </ul>

                                    <ul>
                                        <li class="character">B</li>
                                    </ul>

                                    <ul>
                                        <li class="character">D</li>
                                    </ul>

                                    <ul>
                                        <li class="character">E</li>
                                    </ul>
                                    <ul>
                                        <li class="character">F</li>
                                    </ul>
                                    <ul>
                                        <li class="character">G</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">H</li>
                                    </ul>
                                    <ul>
                                        <li class="character">I</li>
                                    </ul>
                                    <ul>
                                        <li class="character">K</li>
                                    </ul>
                                    <ul>
                                        <li class="character">L</li>
                                    </ul>
                                </div>
                                <div class="clearfix hidden-md hidden-lg"></div>
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">M</li>
                                    </ul>
                                    <ul>
                                        <li class="character">N</li>
                                    </ul>
                                    <ul>
                                        <li class="character">O</li>
                                    </ul>
                                    <ul>
                                        <li class="character">P</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">R</li>
                                    </ul>
                                    <ul>
                                        <li class="character">S</li>
                                    </ul>
                                    <ul>
                                        <li class="character">T</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <a id="content" tabindex="-1"></a>

    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Ansvar og organisering (Normen dokumentmal)</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-7">
                <div class="content">
                    <section>
                        <h2>Generell info</h2>
                        <section>
                            <h3>Målgruppe</h3>
                            <div class="metatext" style="margin-top:20px">
                                <span class="bold">Dette faktaarket er spesielt relevant for:</span>
                                <p>
                                    Sikkerhetsleder/sikkerhetskoordinator,
                                    Virksomhetens leder/ledelse, Forskningsansvarlig,
                                    Databehandler
                                </p>
                            </div>
                        </section>
                        <section>
                            <h3>Ansvar</h3>
                            <div>
                                <p>
                                    Virksomhetens leder skal påse at informasjonsbehandlingen og informasjonssikkerheten organiseres slik at det er tydelig hvem som har ansvar for de ulike deler av informasjonsbehandlingen.
                                    Ansvaret for informasjonssikkerhet innebærer både et overordnet ansvar for at virksomheten har tilfredsstillende og dekkende informasjonssikkerhet iht helseregisterloven, og et ansvar for at ledere, medarbeidere, innleid personell og leverandører følger de spesifikke krav og plikter som gjelder i virksomheten. Databehandler har et selvstendig ansvar for at Normen følges om dette er regulert i avtale med virksomheten eller Norsk Helsenett.
                                </p>
                            </div>
                        </section>
                        <section>
                            <h3>Gjennomføring</h3>
                            <div>
                                <p>Ansvar og organisering skal dokumenteres før behandling av helse- og personopplysninger begynner.</p>
                            </div>
                        </section>
                        <section>
                            <h3>Formål</h3>
                            <div>
                                <p>Beskrive hvordan arbeidet med informasjonssikkerhet organiseres slik at det kommer frem hvem som er ansvarlig på ulike nivåer, og hva de er ansvarlig for.</p>
                            </div>
                        </section>
                        <section>
                            <h3>Omfang</h3>
                            <div>
                                <p>Enhver virksomhet i helsesektoren og alt arbeid med informasjonssikkerhet som planlegging, styring, gjennomføring og kontroll i virksomheten samt utveksling av helse- og personopplysninger mellom virksomheter.</p>
                            </div>
                        </section>
                        <section>
                            <h3>Hjemmel</h3>
                            <div>
                                <ul class="bulletlist">
                                    <li>Personopplysningsforskriften § 2-3</li>
                                    <li>Helseforskningsloven § 6</li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h3>Referanser</h3>
                            <div>
                                <ul class="bulletlist">
                                    <li>
                                        Norm for informasjonssikkerhet, kap. 3.1 Ansvar
                                    </li>
                                    <li>
                                        Veileder i personvern og informasjonssikkerhet for helse- og sosialtjenester i
                                        kommuner
                                    </li>
                                    <li>
                                        Veileder for fjernaksess for vedlikehold og oppdateringer fra leverandør til
                                        helsevirksomhet
                                    </li>
                                    <li>
                                        Personvern og informasjonssikkerhet i forskningsprosjekter innenfor helse- og
                                        omsorgssektoren
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </section>
                    <section>
                        <h2>Handling/Utførelse</h2>
                        <section>
                            <h3 class="accordion">1. Ansvar for informasjonssikkerhet i store virksomheter (f.eks. sykehus, kommuner mv.) </h3>
                            <div>
                                <h4>Styret</h4>
                                <p>
                                    Styret har det overordnede ansvar for informasjonssikkerheten i virksomheten og skal påse at nødvendige prosedyrer/tiltak er iverksatt for å ivareta denne.
                                </p>                                Virksomhetsleder/adm.dir/rådmann
                                <ul class="bulletlist">
                                    <li>
                                        Definere mål og strategi for informasjonssikkerhet
                                    </li>
                                    <li>
                                        Beskrive ansvar og myndighetsforhold (se vedlagt eksempel med hvilke
                                        sikkerhetsfunksjoner/-roller som skal finnes i organisasjonen)
                                    </li>
                                    <li>
                                        Spesifisere hvilke behandlinger helse- og personopplysninger skal ha
                                    </li>
                                    <li>
                                        Melde og evt søke konsesjon for behandlinger til Datatilsynet
                                    </li>
                                    <li>
                                        Følge opp og kontrollere informasjonssikkerheten Linjeleder/avdelingssjef
                                    </li>
                                    <li>
                                        Videreføre virksomhetsleders ansvar i egen avdeling
                                    </li>
                                    <li>
                                        Faktaark 1 - Ansvar og organisering
                                    </li>
                                </ul>

                                <h4>Aktivitet/Beskrivelse</h4>
                                <ul class="bulletlist">
                                    <li> Følge opp og kontrollere informasjonssikkerheten                                </li>
                                    <li> Prioritere tiltak                                                               </li>
                                    <li> Følge opp avtaler om tilgang på tvers av virksomhetsgrenser                     </li>
                                    <li> Kontroll av tilgang på tvers IKT-ansvarlig                                      </li>
                                    <li> Sørge for at informasjonssystemet driftes og sikres iht fastsatte krav          </li>
                                    <li> Etablere beredskapsløsning                                                      </li>
                                    <li> Vurdere eventuell løsning for fjernaksess opp mot veileder for fjernaksess      </li>
                                    <li> Følge opp leverandører og databehandler Den enkelte medarbeider                 </li>
                                    <li> Følge virksomhetens sikkerhetsbestemmelser                                      </li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h3 class="accordion">
                                2. Ansvar for informasjonssikkerhet i mindre virksomheter (f.eks. rehabilitering- og opptreningsvirksomheter)
                            </h3>
                            <div>

                                <h4>Virksomhetsleder</h4>
                                <ul class="bulletlist">
                                    <li>Definere mål og strategi for informasjonssikkerhet                      </li>
                                    <li>
                                        Beskrive ansvar og myndighetsforhold (se vedlagt eksempel med hvilke
                                        sikkerhetsfunksjoner/-roller som finnes i organisasjonen)
                                    </li>
                                    <li>Spesifisere hvilke behandlinger helse- og personopplysninger skal ha    </li>
                                    <li>Melde og evt søke konsesjon for behandlinger til Datatilsynet           </li>
                                    <li>Følge opp og kontrollere informasjonssikkerheten                        </li>
                                    <li>Prioritere tiltak
                                </ul>

                                <h4>Linjeleder/avdelingssjef</h4>
                                <ul class="bulletlist">
                                    <li> Videreføre virksomhetsleders ansvar                         </li>
                                    <li> Følge opp avtaler tilgang på tvers av virksomhetsgrenser    </li>
                                    <li> Kontroll av tilgang på tvers                                </li>
                                </ul>
                                <h4>IKT-ansvarlig</h4>
                                <ul class="bulletlist">
                                    <li> Sørge for at informasjonssystemet driftes og sikres iht fastsatte krav        </li>
                                    <li> Vurdere eventuell løsning for fjernaksess opp mot veileder for fjernaksess    </li>
                                    <li> Følge opp leverandører og databehandler                                       </li>
                                    <li>   Den enkelte medarbeider                                                     </li>
                                    <li> Følge virksomhetens sikkerhetsbestemmelser                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section>
                            <h3 class="accordion">
                                3. Ansvar for informasjonssikkerhet i små virksomheter (f.eks. legekontor, tannlegekontor, fysioterapinstitutt, psykologfellesskap, bedriftshelsetjeneste, mv.)
                            </h3>
                            <div>
                                <h4>Daglig leder/virksomhetenes leder</h4>
                                <ul class="bulletlist">
                                    <li> Definere mål og strategi for informasjonssikkerhet                             </li>
                                    <li>
                                        Beskrive ansvar og myndighetsforhold (benytt vedlagte eksempel til å definere
                                        ansvarsområder)
                                    </li>
                                    <li> Spesifisere hvilke behandlinger helse- og personopplysninger skal ha           </li>
                                    <li> Melde og evt søke konsesjon for behandlinger til Datatilsynet                  </li>
                                    <li> Vurdere eventuell løsning for fjernaksess opp mot veileder for fjernaksess     </li>
                                    <li> Følge opp og kontrollere informasjonssikkerheten (inklusive databehandler)     </li>
                                    <li> Følge opp avtaler om tilgang på tvers av virksomhetsgrenser                    </li>
                                    <li> Kontroll av tilgang på tvers                                                   </li>
                                    <li> Prioritere tiltak                                                              </li>
                                </ul>
                            </div>
                        </section>
                    </section>
                    <div class=" module module_social">
                        <a href="javascript:window.print()" class=" ikon_skrivut">
                            <span></span>skriv ut
                        </a>
                        <a href="#" class="ikon_facebook"><span></span>del på facebook</a>
                        <a href="#" class="ikon_twitter"><span></span>del på twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class="shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class="footerwrapper">
            <div class="menuwrapper">
                <div class="container">
                    <div class="row forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1 class="visuallyhidden">Bunnmeny</h1>
                            <nav class="tabs">

                                <ul class="tab-links" role="tablist">
                                    <li class="tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</li>
                                    <li class="tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</li>
                                </ul>
                                <div class="tab-content">
                                    <div id="panel_footer1" class="tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">

                                                <ul>
                                                    <li><a href="#" id="footer_content_categories">Nasjonale planer og strategier</a></li>
                                                    <li><a href="#">Faggrupper og utvalg</a></li>
                                                    <li><a href="#">Driftsinformasjon</a></li>
                                                    <li><a href="#">IKT-infrastruktur og felleskomponenter</a></li>
                                                    <li><a href="standarder.html">Standarder, terminologi og kodeverk</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Arkitektur og infrastruktur</a></li>
                                                    <li><a href="#">Innsatsområder og styringsdokumenter</a></li>
                                                    <li><a href="#">Utredning Én innbygger – én journal</a></li>
                                                    <li><a href="#">Innbyggertjenester</a></li>
                                                    <li><a href="#">Helsepersonelltjenester</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix visible-xs visible-sm"></div>

                                            <div class=" col-sm-6 col-md-4">
                                                <ul>

                                                    <li><a href="#">Personvern og informasjonssikkerhet</a></li>
                                                    <li><a href="#">Styrings- og kunnskapsgrunnlag</a></li>
                                                    <li><a href="#">Nyheter</a></li>
                                                    <li><a href="#">Kurs og arrangement</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab visuallyhidden tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                </ul>
                                            </div>
                                            <div class="clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>

            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kontakt sekretariatet</h4>
                            </a>
                            <p>Telefon: +47 810 20 050</p>
                            <p>E-post: <a href="mailto:ehelse@helsedir.no">ehelse@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>