<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/icon.ico">
    <title>Article | Helsedirektoratet</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/moete.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/print.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>

<body>
    <div id="header">
        <div class="shortcuts">
            <ul>
                <li><a href="#" tabindex="1" accesskey="i" id="menushortcut">Gå til meny</a></li>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-5 nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../img/ehelse.no_logo.png" alt="" />
                    </a>
                    <p class="logo_subheading">IKT-løsninger og standarder i helse- og omsorgssektoren</p>
                </div>

                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-0" id="mainsearch">
                    <div class=" menubutton hidden-mobile">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="mainsearchcolumn  hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="soekeresultatside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass_hvitt.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="#">Om ehelse.no</a>
                            <a class=" hidden-sm hidden-xs" href="artikkel_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class=" toppmeny  container-fluid js-expand visuallyhidden">
        <div class="inner container-fluid">
            <div class="container">
                <nav class="tabs">
                    <ul class="tab-links" role="tablist">
                        <li class="tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</li>
                        <li class="tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</li>
                    </ul>
                    <div class="tab-content">
                        <div id="panel_header1" class="tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">

                            <div class="row">
                                <div class="col-sm-6 col-md-4">

                                    <ul>
                                        <li><a href="#" id="content_categories">Strategier og planer</a></li>
                                        <li><a href="#">Nasjonale e-helseutvalg</a></li>
                                        <li><a href="#">Driftsinformasjon</a></li>
                                        <li><a href="#">IKT-infrastruktur og felleskomponenter</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <ul>
                                        <li><a href="transportside_standarder.html">Standarder, terminologi og kodeverk</a></li>
                                        <li><a href="#">Utredning Én innbygger – én journal</a></li>
                                        <li><a href="#">Innbyggertjenester</a></li>
                                        <li><a href="#">Helsepersonelltjenester</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix visible-xs visible-sm"></div>

                                <div class=" col-sm-6 col-md-4">
                                    <ul>

                                        <li><a href="#">Personvern og informasjonssikkerhet</a></li>
                                        <li><a href="#">Styrings- og kunnskapsgrunnlag</a></li>
                                        <li><a href="#">Nyheter</a></li>
                                        <li><a href="#">Kurs og arrangement</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="panel_header2" class="tab visuallyhidden tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                            <div class="row alphabetical">
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">A</li>
                                    </ul>

                                    <ul>
                                        <li class="character">B</li>
                                    </ul>

                                    <ul>
                                        <li class="character">D</li>
                                    </ul>

                                    <ul>
                                        <li class="character">E</li>
                                    </ul>
                                    <ul>
                                        <li class="character">F</li>
                                    </ul>
                                    <ul>
                                        <li class="character">G</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">H</li>
                                    </ul>
                                    <ul>
                                        <li class="character">I</li>
                                    </ul>
                                    <ul>
                                        <li class="character">K</li>
                                    </ul>
                                    <ul>
                                        <li class="character">L</li>
                                    </ul>
                                </div>
                                <div class="clearfix hidden-md hidden-lg"></div>
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">M</li>
                                    </ul>
                                    <ul>
                                        <li class="character">N</li>
                                    </ul>
                                    <ul>
                                        <li class="character">O</li>
                                    </ul>
                                    <ul>
                                        <li class="character">P</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">

                                    <ul>
                                        <li class="character">R</li>
                                    </ul>
                                    <ul>
                                        <li class="character">S</li>
                                    </ul>
                                    <ul>
                                        <li class="character">T</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <a id="content" tabindex="-1"></a>

    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Søkeresultat</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-7">
                <div class="content">
                    <form class="searchform">
                        <label class="visuallyhidden" for="search">Søk i alt innhold</label>
                        <input id="search" type="text" class="search" placeholder="Søk i alt innhold">
                        <button type="submit" class="search_button">
                            <img src="../img/ikoner/ikon_forstorrelsesglass_sort.png" alt="Søk" />
                        </button>
                    </form>

                    <ul class=" filterlist">
                        <li class="selectedfilter"><a href="#">Alle</a></li>
                        <li><a href="#">Styringsdokumenter</a></li>
                        <li><a href="#">Normen-dokumenter</a></li>
                        <li><a href="#">Prosjekter og tiltak</a></li>
                        <li><a href="#">Standarder og kodeverk</a></li>
                    </ul>
                    <h2 class=" visuallyhidden">Søkeresultat</h2>
                    <p class=" numberofhits">20 treff på "helse"</p>
                </div>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class="shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class="footerwrapper">
            <div class="menuwrapper">
                <div class="container">
                    <div class="row forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1 class="visuallyhidden">Bunnmeny</h1>
                            <nav class="tabs">

                                <ul class="tab-links" role="tablist">
                                    <li class="tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</li>
                                    <li class="tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</li>
                                </ul>
                                <div class="tab-content">
                                    <div id="panel_footer1" class="tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">

                                                <ul>
                                                    <li><a href="#" id="footer_content_categories">Nasjonale planer og strategier</a></li>
                                                    <li><a href="#">Faggrupper og utvalg</a></li>
                                                    <li><a href="#">Driftsinformasjon</a></li>
                                                    <li><a href="#">IKT-infrastruktur og felleskomponenter</a></li>
                                                    <li><a href="transportside_standarder.html">Standarder, terminologi og kodeverk</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Arkitektur og infrastruktur</a></li>
                                                    <li><a href="#">Innsatsområder og styringsdokumenter</a></li>
                                                    <li><a href="#">Utredning Én innbygger – én journal</a></li>
                                                    <li><a href="#">Innbyggertjenester</a></li>
                                                    <li><a href="#">Helsepersonelltjenester</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix visible-xs visible-sm"></div>

                                            <div class=" col-sm-6 col-md-4">
                                                <ul>

                                                    <li><a href="#">Personvern og informasjonssikkerhet</a></li>
                                                    <li><a href="#">Styrings- og kunnskapsgrunnlag</a></li>
                                                    <li><a href="#">Nyheter</a></li>
                                                    <li><a href="#">Kurs og arrangement</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab visuallyhidden tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                </ul>
                                            </div>
                                            <div class="clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>

            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kontakt sekreteriatet</h4>
                            </a>
                            <p>Telefon: +47 810 20 050</p>
                            <p>E-post: <a href="mailto:ehelse@helsedir.no">ehelse@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>