<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/icon.ico">
    <title>Statusrapport | Helsedirektoratet</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common_ehelse.css" rel="stylesheet">
    <link href="../css/masterpage_ehelse.css" rel="stylesheet" />
    <link href="../css/moetekurs.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/print.css" rel="stylesheet">
    <!--[if IE 9]>
    <link href="../css/iefix.css" rel="stylesheet">
        <![endif]-->
    <!--[if lte IE 8]>
    <link href="../css/ie8fix.css" rel="stylesheet">
        <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>

<body>
    <div id="header">
        <div class="shortcuts">
            <ul>
                <li><a href="#" tabindex="1" accesskey="i" id="menushortcut">Gå til meny</a></li>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-3 col-lg-5 nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../images/ehelse.no_logo.png" alt="" />
                    </a>
                </div>

                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-8 col-md-offset-1 col-lg-7 col-lg-offset-0">
                    <div class=" menubutton hidden-mobile">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="mainsearchcolumn  hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="soekeresultatside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                                <button type="submit">
                                    <img src="../images/ikon_forstorrelsesglass_hvitt.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="#">Om ehelse.no</a>
                            <a class=" hidden-sm hidden-xs" href="artikkel_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="js-expand">
        <div class=" toppmeny  container-fluid ">
            <div class="inner container-fluid">
                <div class="container">
                    <nav class="tabs">
                        <ul class="tab-links" role="tablist">
                            <li role="presentation">
                                <span id="tab_header1" class="tabs_header" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</span>
                            </li>
                            <li role="presentation">
                                <span id="tab_header2" class="tabs_header" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</span>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="panel_header1" class="tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">

                                <div class="row">
                                    <div class="col-sm-6 col-md-4">

                                        <ul>
                                            <li><a href="#" id="content_categories">Strategier og planer</a></li>
                                            <li><a href="#">Nasjonale e-helseutvalg</a></li>
                                            <li><a href="#">Driftsinformasjon</a></li>
                                            <li><a href="#">IKT-infrastruktur og felleskomponenter</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="standarder.html">Standarder, terminologi og kodeverk</a></li>
                                            <li><a href="#">Utredning Én innbygger – én journal</a></li>
                                            <li><a href="#">Innbyggertjenester</a></li>
                                            <li><a href="#">Helsepersonelltjenester</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix visible-xs visible-sm"></div>

                                    <div class=" col-sm-6 col-md-4">
                                        <ul>

                                            <li><a href="#">Personvern og informasjonssikkerhet</a></li>
                                            <li><a href="#">Styrings- og kunnskapsgrunnlag</a></li>
                                            <li><a href="#">Nyheter</a></li>
                                            <li><a href="#">Kurs og arrangement</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="panel_header2" class="tab tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                <div class="row alphabetical">
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">A</li>
                                        </ul>

                                        <ul>
                                            <li class="character">B</li>
                                        </ul>

                                        <ul>
                                            <li class="character">D</li>
                                        </ul>

                                        <ul>
                                            <li class="character">E</li>
                                        </ul>
                                        <ul>
                                            <li class="character">F</li>
                                        </ul>
                                        <ul>
                                            <li class="character">G</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">H</li>
                                        </ul>
                                        <ul>
                                            <li class="character">I</li>
                                        </ul>
                                        <ul>
                                            <li class="character">K</li>
                                        </ul>
                                        <ul>
                                            <li class="character">L</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix hidden-md hidden-lg"></div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">M</li>
                                        </ul>
                                        <ul>
                                            <li class="character">N</li>
                                        </ul>
                                        <ul>
                                            <li class="character">O</li>
                                        </ul>
                                        <ul>
                                            <li class="character">P</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">R</li>
                                        </ul>
                                        <ul>
                                            <li class="character">S</li>
                                        </ul>
                                        <ul>
                                            <li class="character">T</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <a id="content" tabindex="-1"></a>

    <div class="container">
        <div class="row">
            <article class="col-md-7 col-lg-7">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>NUFA - Nasjonalt utvalg for fag og arkitektur</h1>
                    <p class="ingress">NUFA skal gi råd vedrørende prioritering og koordinering av nasjonale IKT-tiltak og valg av samhandlingsarkitektur i helse- og omsorgssektoren.</p>
                </header>
                <div class="content">
                    <section>
                        <h2>Møter i 2014</h2>
                        <div class="report clearfix">
                            <a href="motetemal.html">
                                <div class="date">
                                    <span class="date_number">3.</span>
                                    <span class="date_monthyear">desember</span>
                                </div>
                                <div class="information">
                                    <h3 class="internal-link document">Innkalling og agenda</h3>
                                </div>
                            </a>
                        </div>
                        <div class="report clearfix">
                            <a href="motetemal.html">
                                <div class="date">
                                    <span class="date_number">22.-23.</span>
                                    <span class="date_monthyear">oktober</span>
                                </div>
                                <div class="information">
                                    <h3 class="internal-link document">Innkalling og agenda</h3>
                                </div>
                            </a>
                        </div>
                        <div class="report clearfix">
                            <a href="motetemal.html">
                                <div class="date expired">
                                    <span class="date_number">27.</span>
                                    <span class="date_monthyear">august</span>
                                </div>
                                <div class="information">
                                    <h3 class="internal-link document">Referat</h3>
                                </div>
                            </a>
                        </div>
                        <div class="report clearfix">
                            <a href="#">
                                <div class="date expired">
                                    <span class="date_number">18.-19.</span>
                                    <span class="date_monthyear">juni</span>
                                </div>
                                <div class="information">
                                    <h3 class="internal-link document">Referat</h3>
                                </div>
                            </a>
                        </div>
                        <div class="report clearfix">
                            <a href="#">
                                <div class="date expired">
                                    <span class="date_number">7.-8.</span>
                                    <span class="date_monthyear">mai</span>
                                </div>
                                <div class="information">

                                    <h3 class="internal-link document">Referat</h3>
                                </div>
                            </a>
                        </div>
                        <div class="report clearfix">
                            <a href="#">
                                <div class="date expired">
                                    <span class="date_number">27.</span>
                                    <span class="date_monthyear">mars</span>
                                </div>
                                <div class="information">

                                    <h3 class="internal-link document">Referat</h3>
                                </div>
                            </a>
                        </div>
                        <div class="report clearfix">
                            <a href="#">
                                <div class="date expired">
                                    <span class="date_number">15.</span>
                                    <span class="date_monthyear">januar</span>
                                </div>
                                <div class="information">

                                    <h3 class="internal-link document">Referat</h3>
                                </div>
                            </a>
                        </div>

                        <a href="#" class="internal-link">Tidligere møter</a>

                        <!-- <dl class="datatable clearfix">
                             <dt class=" metatext">15.januar</dt>
                             <dd class=" metatext"><a href="#" class="internal-link arrow_right">Referat 15.01.2014</a></dd>
                             <dt class=" metatext">27.mars</dt>
                             <dd class=" metatext"><a href="#" class="internal-link arrow_right">Referat 27.03.2014</a></dd>
                             <dt class=" metatext">7.-8.mai</dt>
                             <dd class=" metatext"><a href="#" class="internal-link arrow_right">Referat 7.-8.05.2014</a></dd>
                             <dt class=" metatext">18.-10.juni</dt>
                             <dd class=" metatext"><a href="#" class="internal-link arrow_right">Referat 18.-19.06.2014</a></dd>
                             <dt class=" metatext">27.august</dt>
                             <dd class=" metatext"><a href="#" class="internal-link arrow_right">Innkalling og agenda 27.08.2014</a></dd>
                         </dl>-->
                    </section>
                    <section>

                        <!--                        <aside class="aside">-->
                        <!--                            <div class="module module_message date">-->
                        <!--                                <h5 class="module_header">Frist for innmelding</h5>-->
                        <!--                                <p class="keyfigures day">17.</p>-->
                        <!--                                <p class="keyfigures month">september</p>-->
                        <!--                            </div>-->
                        <!--                        </aside>-->
                    </section>
                    <section>
                        <h2>Om NUFA:</h2>
                        <p>
                            Nasjonalt utvalg for fag- og arkitektur (NUFA) under E-helsegruppen skal på helsefaglig og arkitekturmessig grunnlag gi råd vedrørende prioritering og koordinering av nasjonale IKT-tiltak og valg av samhandlingsarkitektur i helse- og omsorgssektoren.
                        </p>
                        <section>
                            <h3 class="accordion">Mandat</h3>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et leo et nibh ultricies pellentesque a at elit. Curabitur mi felis, pulvinar condimentum nulla dignissim, tempor eleifend tellus. Nunc mi enim, suscipit at ligula quis, dictum semper velit. Duis quis metus scelerisque, euismod sem sed, lacinia augue. Proin non lorem vel est faucibus porttitor. Ut ac elit vel metus ultrices egestas. Quisque viverra, ipsum nec porttitor consequat, mauris dolor facilisis tellus, nec dapibus elit lacus et sapien.
                                    Curabitur eget risus vitae risus dictum iaculis. Proin scelerisque erat leo, sit amet vulputate metus pretium venenatis.
                                </p>
                            </div>
                        </section>
                        <section>
                            <h3 class="accordion">Medlemmer</h3>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et leo et nibh ultricies pellentesque a at elit. Curabitur mi felis, pulvinar condimentum nulla dignissim, tempor eleifend tellus. Nunc mi enim, suscipit at ligula quis, dictum semper velit. Duis quis metus scelerisque, euismod sem sed, lacinia augue. Proin non lorem vel est faucibus porttitor. Ut ac elit vel metus ultrices egestas. Quisque viverra, ipsum nec porttitor consequat, mauris dolor facilisis tellus, nec dapibus elit lacus et sapien.
                                    Curabitur eget risus vitae risus dictum iaculis. Proin scelerisque erat leo, sit amet vulputate metus pretium venenatis.
                                </p>
                            </div>
                        </section>
                    </section>
                    <aside class="aside top">
                        <div class="module module_contact">
                            <p class="header">kontakt</p>
                            <div class="wrapper">
                                <p class="title">Sekretariatet</p>
                                <div class="contact_information clearfix">
                                    <span class="information_data"><a href="#">sekretariatet@helsedir.no</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="module module_related">
                            <h5 class="module_header">Innmelding av sak</h5>
                            <p>
                                Fristen for saksinnmelding, fem uker før kommende møte.
                            </p>
                            <a href="#" class="external-link">Last ned malen for saksinnmelding (word)</a>
                        </div>
                    </aside>
                </div>
            </article>
        </div>
    </div>

    <div id="footer">
        <div class="shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class="footerwrapper">
            <div class="menuwrapper">
                <div class="container">
                    <div class="row forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1 class="visuallyhidden">Bunnmeny</h1>
                            <nav class="tabs">

                                <ul class=" tab-links" role="tablist">
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="panel_footer1" class="tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">

                                                <ul>
                                                    <li><a href="#" id="footer_content_categories">Nasjonale planer og strategier</a></li>
                                                    <li><a href="#">Faggrupper og utvalg</a></li>
                                                    <li><a href="#">Driftsinformasjon</a></li>
                                                    <li><a href="#">IKT-infrastruktur og felleskomponenter</a></li>
                                                    <li><a href="standarder.html">Standarder, terminologi og kodeverk</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Arkitektur og infrastruktur</a></li>
                                                    <li><a href="#">Innsatsområder og styringsdokumenter</a></li>
                                                    <li><a href="#">Utredning Én innbygger – én journal</a></li>
                                                    <li><a href="#">Innbyggertjenester</a></li>
                                                    <li><a href="#">Helsepersonelltjenester</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix visible-xs visible-sm"></div>

                                            <div class=" col-sm-6 col-md-4">
                                                <ul>

                                                    <li><a href="#">Personvern og informasjonssikkerhet</a></li>
                                                    <li><a href="#">Styrings- og kunnskapsgrunnlag</a></li>
                                                    <li><a href="#">Nyheter</a></li>
                                                    <li><a href="#">Kurs og arrangement</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                </ul>
                                            </div>
                                            <div class="clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>

            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kontakt redaksjonen</h4>
                            </a>
                            <p>Telefon: +47 810 20 050</p>
                            <p>E-post: <a href="mailto:ehelse@helsedir.no">ehelse@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                            <h4>ehelse.no</h4>
                            <p>Offentlig portal for IKT-løsninger og standarder i helse- og omsorgssektoren, og er et samarbeid mellom:</p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne to</h4>
                            </a>
                            <p><a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne tre</h4>
                            </a>
                            <p> <a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                    </div>
                </div>
            </div>
            <div class="container-fluid logoline">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#"><img src="../images/logoer/HDIR-LOGO-HORISONTAL-NO-PMS.png" alt="" /></a>
                            <a href="#"><img src="../images/logoer/4bc608e17f.png" alt="" /></a>
                            <a href="#"><img src="../images/logoer/logo_nhn_gragronn.png" alt="" /></a>
                            <a href="#"><img src="../images/logoer/hod.png" alt="" /></a>
                            <a href="#"><img src="../images/logoer/NasjonalIKT.png" alt="" /></a>
                            <a href="#"><img src="../images/logoer/kskommit.png" alt="" /></a>
                            <a href="#"><img src="../images/logoer/SKJERM_MAIL_NETT.JPG" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>