article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  background: white;
}
body {
  padding: 0;
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 27px;
  color: #222;
  background: #f2f2f2;
}
.no-background {
  background: white;
}
h1 {
  font-weight: normal;
  font-size: 36px;
  font-family: "Soho Gothic W01 Light";
  line-height: 44px;
  margin: 50px 0 0 0;
  color: #838078;
  padding: 0 0 4px 0;
  border-top: 1px solid #aeaba8;
  border-bottom: 1px solid #aeaba8;
}
.h1b {
  color: #222;
  border: none;
}
.ingress {
  margin: 20px 0 20px 0;
  font-size: 24px;
  line-height: 30px;
  font-family: 'Calibri';
  color: #838078;
}
.headingwrapper {
  color: #838078;
}
h2 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Soho Gothic W01 Light";
  margin: 35px 0 0 0;
  color: #222;
}
h2.accordion {
  border-bottom: 1px solid #004e66;
  padding-bottom: 10px;
}
h3 {
  font-size: 26px;
  font-family: "Soho Gothic W01 Light";
  margin: 35px 0 0 0;
  line-height: 32px;
}
h3.accordion {
  border-bottom: 1px solid #bababa;
  padding-bottom: 10px;
}
h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-top: 55px;
  font-family: "Soho Gothic W01 Light";
  color: #222;
}
h4.accordion {
  margin: 55px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #004e66;
}
h5 {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #838078;
}
p {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 27px;
  color: #838078;
}
p a {
  border-bottom: 1px solid #aeaba8;
}
p a:hover {
  text-decoration: none;
  border-bottom: 1px solid #222;
}
ul.list {
  list-style: none;
  margin: 0 0 24px 0;
}
ul.list li {
  padding-bottom: 15px;
}
ul.list li:before {
  content: "•";
  color: #004e66;
  margin-right: 20px;
}
a {
  color: #004e66;
  font-size: 20px;
  line-height: 27px;
}
a:visited {
  color: #222;
}
a:focus,
a:visited:focus {
  background: #004e66;
  color: white !important;
  outline: 0;
}
a:focus h2,
a:visited:focus h2,
a:focus h4,
a:visited:focus h4,
a:focus p,
a:visited:focus p {
  background: #004e66;
  color: white !important;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
a.underline {
  text-decoration: underline;
}
.content {
  position: relative;
}
.breadcrumbs {
  padding: 0;
  list-style-type: none;
  margin: 10px 0 0 0;
}
.breadcrumbs li {
  display: block;
  float: left;
  padding-right: 0.3rem;
}
.breadcrumbs li:after {
  font-family: "FontAwesome";
  content: '\f104';
  color: #0093a7;
  font-size: 25px;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}
.breadcrumbs li:last-child:after {
  content: '';
}
.breadcrumbs a {
  text-decoration: underline;
  font-family: 'Calibri';
  font-size: 18px;
  line-height: 22px;
  color: #0093a7;
}
.breadcrumbs a:visited {
  color: #0093a7;
}
.has-hidden-content {
  cursor: pointer;
}
.has-hidden-content h2:before,
.has-hidden-content .accordion:before {
  float: left;
  padding: 3px 10px 0 0;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 40px;
}
.has-hidden-content h3.accordion:before {
  font-size: 30px;
}
.has-visible-content {
  cursor: pointer;
}
.has-visible-content h2:before,
.has-visible-content .accordion:before {
  float: left;
  padding: 3px 10px 0 0;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 40px;
}
.has-visible-content h3.accordion:before {
  font-size: 30px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.utvidbaroverskrift {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 0;
  min-height: 70px;
  width: 330px;
  border: 1px solid #eeeeee;
  background: #ffffff;
}
.fa-chevron-down {
  float: right;
  padding-top: 0.3rem;
  font-size: 1.5em;
}
.tabs {
  position: inherit;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*----- Content of Tabs -----*/
}
.tabs .tab-links {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}
.tabs .tab-links:after {
  display: block;
  clear: both;
  content: '';
}
.tabs .tab-links li {
  margin: 0;
  float: left;
  list-style: none;
  margin-right: 10px;
  width: 170px;
  text-align: center;
  transition: all linear 0.15s;
  padding-bottom: 6px;
}
.tabs .tab-links li.active {
  border: none;
}
.tabs .tab-links li.active a {
  color: #004e66;
  font-family: 'Calibri-Bold';
  background: white;
}
.tabs .tab-links li.active a:hover,
.tabs .tab-links li.active a:focus {
  background: white;
  color: #004e66;
}
.tabs .tab-links li a {
  display: inline-block;
  font-size: 16px;
  transition: all linear 0.15s;
  width: 100%;
  border-radius: 0;
  color: white;
  text-decoration: none;
  font-family: 'Calibri';
  background: #838078;
}
.tabs .tab-links li a:hover,
.tabs .tab-links li a:focus {
  color: white;
  background: #666460;
}
.tabs .tab-content {
  padding: 15px;
  border-radius: 3px;
}
.tabs .tab-content li {
  list-style-type: none;
  margin-left: 0;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #bababa;
}
@media only screen and (min-width: 900px) {
  .tabs .tab-content li:last-of-type {
    border-bottom: 0;
  }
}
.tabs .tab-content li:before {
  content: "";
}
.tabs .tab-content a,
.tabs .tab-content a:visited,
.tabs .tab-content a:hover {
  color: #004e66;
  text-decoration: none;
}
.tabs .tab-content .alphabetical {
  font-size: 18px;
}
.tabs .tab-content .alphabetical ul li:first-of-type {
  border-bottom: solid 1px #bababa;
}
.tabs .tab-content .alphabetical ul li {
  border: none;
}
.tabs .tab-content .alphabetical ul li a {
  color: #004e66;
  display: inline-block;
  line-height: 22px;
}
.tabs .tab-content .alphabetical .character {
  text-transform: uppercase;
  font-weight: bold;
}
.tabs .tab-content .alphabetical .character:hover {
  background: white;
}
.chart_div {
  height: 450px;
  margin: 20px 57px;
  background: white;
}
.visuallyhidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.search {
  width: 70%;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
}
.search_withbutton .search {
  display: inline;
  background: white;
}
.search_withbutton .calltoaction {
  display: inline;
  padding: 6px 20px 6px 40px;
  margin-left: 10px;
  background-position: 10% 50%;
}
.search_withbutton .calltoaction:hover {
  background-position: 10% 50%;
}
/**********************************************************************
    Moduler
***********************************************************************/
video {
  width: 100%;
  margin-top: 10px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 40px 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure .metatext {
  text-align: right;
}
.metatext {
  font-family: 'Calibri';
  font-size: 16px;
  color: #222;
}
.metatext.statistics {
  text-align: right;
  float: right;
}
.spennendeTall {
  border: 1px solid #222;
  width: 100%;
  margin-bottom: 10px;
}
.spennendeTall p {
  text-align: center;
  padding: 30px;
}
.sectionwithaside {
  position: relative;
}
.aside,
.aside.bottom {
  margin-right: 0;
  position: relative;
  width: 300px;
}
.aside h2,
.aside.bottom h2 {
  margin: 0;
}
.aside p,
.aside.bottom p,
.aside a,
.aside.bottom a {
  font-size: 18px;
  line-height: 22px;
}
.cleanlist {
  list-style-type: none;
  margin-left: 0;
}
.linklist {
  list-style-type: none;
  margin: 10px 0 15px 0;
}
.linklist a:visited {
  text-decoration: none;
}
.linklist li a,
.linklist li a.internal-link.arrow_right {
  margin-bottom: 5px;
}
.linklist li a.external-link {
  margin: 0;
}
.linklist li a.internal-link.arrow_right,
.linklist li a.external-link {
  text-decoration: none;
  margin: 5px 0;
}
.bulletlist {
  list-style-position: outside;
  margin-top: 10px;
}
.bulletlist li {
  margin: 0 0 0 25px;
  display: block;
  padding-bottom: 13px;
}
.bulletlist li:before {
  content: "•";
  color: #0093a7;
  margin: -1px 0 0 -25px;
  display: block;
  position: absolute;
}
.borderbox {
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #bababa;
  padding-left: 10px;
  background: white;
}
.borderbox .innerDiv {
  margin: 10px;
}
.borderbox .innerDiv p,
.borderbox .innerDiv a,
.borderbox .innerDiv h4 {
  margin: 0 0 0 10px;
}
.search_input {
  width: 75%;
  margin-bottom: 20px;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
/*******************************Ny forside******************************************/
.calltoaction {
  border: 2px solid #0093a7;
  color: white;
  padding: 10px 25px 10px 25px;
  margin: 20px 0 30px 0;
  font-family: 'Calibri';
  font-size: 20px;
  line-height: 24px;
  max-width: 270px;
  min-height: 50px;
  display: block;
  background: #0093a7;
  cursor: pointer;
  border-radius: 10px;
  border-top-left-radius: 0;
  transition: all 0.5s;
}
.calltoaction:hover,
.calltoaction:focus {
  color: white;
  background: #01737c;
  border: 2px solid #01737c;
}
iframe {
  margin-bottom: 23px;
}
.external-link,
a.external-link {
  color: #838078;
  font-family: 'Calibri';
  font-size: 20px;
  background: url(../img/ekstern_lenke_mellomblaa.svg) no-repeat;
  background-size: 10px;
  background-position: 0px 7px;
  padding-left: 22px;
  margin-top: 18px;
  display: block;
  cursor: pointer;
}
.external-link:hover,
a.external-link:hover {
  text-decoration: none;
  color: #838078;
}
.external-link:visited,
a.external-link:visited {
  color: #838078;
}
.external-link.last,
a.external-link.last {
  margin-top: 20px;
}
.external-link.inline,
a.external-link.inline {
  padding-left: 17px;
  background: url(../img/navigasjon/ekstern_lenke_sort.svg) no-repeat;
  background-size: 10px;
  background-position: 0px 10px;
  color: #222;
  border-bottom: 1px solid #aeaba8;
  display: inline;
  position: relative;
}
.external-link.inline:hover,
a.external-link.inline:hover {
  border-bottom: 1px solid #222;
}
.external-link.inline:before,
a.external-link.inline:before {
  content: "";
  position: absolute;
  left: 0px;
  height: 27px;
  width: 17px;
  border-bottom: 1px solid #f7f6f6;
}
.internal-link {
  color: #838078;
  font-family: 'Calibri';
  font-size: 20px;
  background: url(../img/ikoner/intern_lenke_mellomblaa.svg) left no-repeat;
  background-size: 20px;
  padding-left: 35px;
  margin-top: 40px;
  display: block;
}
.internal-link:visited {
  color: #838078;
}
p.keyfigures,
h4.keyfigures {
  font-size: 36px;
  color: #c63629;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
}
.header2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
  margin: 70px 0 0 0;
}
.header3 {
  font-size: 28px;
  font-family: "Soho Gothic W01 Regular";
  margin: 55px 0 0 0;
  line-height: 34px;
}
.module {
  display: inline-block;
  margin: 0 0 50px 0;
  position: relative;
}
.module.maincolumn {
  margin-top: 30px;
}
.module .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 5px;
}
.module a .module_header {
  color: #0093a7;
}
.module .module_header {
  font-family: "Soho Gothic W01 Light";
  font-size: 24px;
  line-height: 30px;
  color: #838078;
}
.module .module_header .internal-link.arrow_right {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
}
.module .module_theme {
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
  margin-right: 10px;
}
.module .module_ingress {
  display: inline;
}
.module img.pulse {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -19px;
  height: 100px;
}
.module.module_related .bulletlist {
  margin-top: 10px;
}
.module.module_related .bulletlist li:before {
  color: #a1bf37;
}
.module.module_related .illustration {
  display: blockmo;
}
.module.module_publication {
  border-left: 2px solid #df9922;
}
.module.module_guidelines {
  border-left: 2px solid #c63629;
}
.module.module_facts .bulletlist {
  margin-top: 10px;
}
.module.module_facts .bulletlist li:before {
  color: #0093a7;
}
.module.module_facts p {
  color: #838078;
}
.module.module_statistics_text .keyfigures,
.module.module_statistics_graph .keyfigures {
  font-size: 36px;
  color: #c63629;
  margin: 30px 0 5px 0;
}
.module.module_statistics_text .subject,
.module.module_statistics_graph .subject {
  margin: 5px 0 20px 0;
}
.module.module_statistics_text a,
.module.module_statistics_graph a {
  margin-top: 30px;
  line-height: 22px;
  display: block;
}
.module.module_statistics_text {
  max-width: 270px;
}
.module.module_statistics_graph {
  max-width: 300px;
}
.module.module_subscribe {
  padding: 0 0 5px 0;
  max-width: 300px;
  background: none;
  width: 100%;
}
.module.module_subscribe p {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  color: #0093a7;
  text-transform: uppercase;
}
.module.module_subscribe .header {
  color: #838078;
  border-bottom: 4px solid #0093a7;
  padding-bottom: 5px;
}
.module.module_subscribe a {
  font-size: 18px;
  margin: 0 20px 0 0;
  text-decoration: none;
  color: #0093a7;
}
.module.module_subscribe a:visited {
  color: #0093a7;
  text-decoration: none;
}
.module.module_subscribe a:hover {
  text-decoration: none;
}
.module.module_subscribe div {
  float: left;
  margin-right: 10px;
}
.module.module_subscribe .e-mail {
  padding-left: 40px;
  background: url(../img/ikoner/epost_regular.svg) no-repeat;
  background-size: 27px 20px;
  background-position: 10% 50%;
  display: inline-block;
  margin: 0;
  padding: 10px 10px 10px 45px;
}
.module.module_subscribe .e-mail p {
  display: inline;
  vertical-align: bottom;
  font-size: 16px;
}
.module.module_subscribe .rss {
  padding-left: 40px;
  background: url(../img/ikoner/rss_regular.svg) no-repeat;
  background-size: 27px 20px;
  background-position: 10% 50%;
  display: inline-block;
  margin: 0;
  padding: 10px 10px 10px 45px;
}
.module.module_subscribe .rss p {
  display: inline;
  vertical-align: bottom;
  font-size: 16px;
}
.module.module_subscribe .e-mail:hover,
.module.module_subscribe .rss:hover {
  background-color: #d1d0cf;
}
.module.module_message {
  display: inline-block;
  padding: 17px 30px 31px 22px;
  background: white;
  position: relative;
  width: 100%;
  border-left: 4px solid #0093a7;
}
.module.module_message .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 25px;
}
.module.module_message .module_header {
  font-family: "Soho Gothic W01 Light";
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 13px;
  color: #838078;
}
.module.module_message .message {
  margin-left: 30px;
}
.module.module_message.error img,
.module.module_message.warning img {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -19px;
  height: 100px;
}
.module.module_message.error {
  border: 2px solid #DF301D;
}
.module.module_message.warning {
  border: 2px solid #f4d01e;
}
.module.module_message.bubble {
  border: 2px solid #0093a7;
  margin-bottom: 70px;
}
.module.module_message.bubble img {
  position: absolute;
  right: 50px;
  bottom: 0;
  margin-bottom: -18px;
  width: 100px;
}
.module.module_message.date_small {
  border-left: 7px solid #0093a7;
  margin: 20px 0 10px 0;
  padding: 5px 20px;
  max-width: 600px;
}
.module.module_message.date_small .keyfigures {
  text-align: center;
  color: #c63629;
  margin-left: 30px;
  font-size: 24px;
  font-family: "Soho Gothic W01 Regular";
}
.module.module_message.date_small .module_header {
  font-size: 20px;
  color: #838078;
  font-family: 'Calibri';
}
.module.module_message p.keyfigures {
  margin-top: 0;
}
.module.module_message.withdrops {
  background: #ffffff url(../img/pil_knapp_mellomblaa.svg) no-repeat;
  background-size: 45px;
  background-position: 89% 87%;
  padding-bottom: 60px;
}
.module.module_message.withdrops .drops {
  margin-top: 15px;
}
.module.module_person {
  padding: 0;
  width: 300px;
  background: none;
}
.module.module_person h3 {
  margin-bottom: 1rem;
}
.module.module_person span {
  padding: 0;
}
.module.module_person .role,
.module.module_person .phone,
.module.module_person .e-mail {
  margin: 0 0 0 7px;
  font-size: 18px;
  line-height: 20px;
  color: #838078;
}
.module.module_person .role {
  margin-bottom: 5px;
}
.module.module_person .person_information a {
  line-height: 18px;
  display: block;
  color: #838078;
}
.module.module_person .person_information a.internal-link.arrow_right {
  margin-top: 0;
  background-size: 18px;
  padding-left: 28px;
  line-height: 19px;
  margin-left: 7px;
}
.module.module_person .name {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 7px 7px;
  font-family: "Soho Gothic W01 Light";
  color: #0093a7;
}
.module.module_person img {
  width: 130px;
  margin-right: 30px;
  float: left;
}
.module.module_person .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #838078;
  text-decoration: none;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 4px solid #0093a7;
}
.module.module_information {
  margin: 0;
  border-left: 6px solid #0093a7;
}
.module.module_information p {
  padding: 0 0 0 15px;
}
.module.module_information.has-hidden-content .accordion:before {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  left: -31px;
  top: 0;
  background: #0093a7;
  color: white;
  padding: 3px;
}
.module.module_information.has-visible-content .accordion:before {
  content: "\f00d";
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  left: -31px;
  top: 0;
  background: #0093a7;
  color: white;
  padding: 3px 3px 3px 6px;
  width: 25px;
}
.module.module_social {
  padding: 0;
  background: none;
  border-top: 4px solid #0093a7;
  margin: 60px 0 0 0;
  width: 100%;
}
.module.module_social a,
.module.module_social a:visited {
  color: #0093a7;
  text-transform: uppercase;
  float: left;
  margin: 0 50px 0 0;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.module.module_social a:last-of-type,
.module.module_social a:visited:last-of-type {
  margin-right: 0;
}
.module.module_social p,
.module.module_social span {
  float: left;
}
.module.module_social span {
  margin: 0 10px 0 0;
  height: 24px;
  width: 26px;
}
.module.module_social .ikon_facebook span {
  background: url(../img/ikoner/facebook_reg.svg) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.module.module_social .ikon_twitter span {
  background: url(../img/ikoner/twitter_blaa.svg) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.module.module_social .ikon_skrivut {
  display: block;
  padding: 10px 20px 10px 13px;
}
.module.module_social .ikon_skrivut:hover {
  background: #d1d0cf;
}
.module.module_social .ikon_skrivut span {
  background: url(../img/ikoner/skriv_ut_regular.svg) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.module.module_social p {
  margin: 0 20px 0 0;
  color: #004e66;
  text-transform: uppercase;
  display: inline;
  vertical-align: bottom;
  font-size: 16px;
}
.showmorenews {
  width: 250px;
  text-align: center;
  margin: 50px 0;
  border: 2px solid #004e66;
  color: #004e66;
  background: white;
  font-family: 'Calibri';
  font-size: 20px;
  line-height: 24px;
}
.showmorenews a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #222;
}
.showmorenews a:hover {
  text-decoration: none;
}
.showmorenews.selected {
  background: #004e66;
}
.showmorenews.selected a,
.showmorenews.selected a:visited {
  color: white;
}
.tema_select_all {
  font-weight: bold;
}
/**Kurs og konferanse*/
.conference_details {
  margin-top: 20px;
}
.conference_details p,
.conference_details span {
  display: table-cell;
}
.conference_details .conference_date span,
.conference_details .conference_location span,
.conference_details .conference_audience span {
  width: 100px;
}
/**Felles*/
.border {
  border-bottom: 2px solid #004e66;
  padding-bottom: 20px;
  width: 100%;
}
fieldset {
  border: none !important;
}
.cancelbutton {
  background: #004e66;
  color: white;
  font-family: 'Calibri';
  font-size: 20px;
  padding: 7px;
  text-align: center;
  width: 150px;
  border: none;
}
.cancelbutton:hover {
  background: #02343f;
}
.dropdown label {
  display: block;
  font-size: 18px;
  font-family: 'Calibri';
  color: #838078;
}
.dropdown select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #838078;
  font-family: 'Calibri';
  font-size: 20px;
  padding: 0 38px 4px 0;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /* Removes Default Firefox style*/
  background: url('../img/pil_nedover_graa.png') no-repeat;
  /*Adds background-image*/
  background-position: 96%;
  /*Position of the background-image*/
  background-size: 20px;
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
  color: #222;
}
.dropdown select::-ms-expand {
  display: none;
}
.dropdown select:focus,
.dropdown select:active {
  background: #838078 url('../img/pil_nedover_hvit.png') no-repeat;
  background-position: 96%;
  -moz-background-size: 20px;
  -o-background-size: 20px;
  -webkit-background-size: 20px;
  background-size: 20px;
  color: white;
}
@-moz-document url-prefix() {
  .refinesearch .form-group {
    overflow: hidden;
  }
  .refinesearch .form-group select {
    width: 317px;
    background: url('../img/pil_nedover_graa.png') no-repeat scroll 90% center;
    background-size: 20px;
  }
  .refinesearch .form-group select:focus,
  .refinesearch .form-group select:active {
    background: #838078 url('../img/pil_nedover_hvit.png') no-repeat;
    background-position: 90%;
    -moz-background-size: 20px;
    -o-background-size: 20px;
    -webkit-background-size: 20px;
    background-size: 20px;
    color: white;
  }
}
.refinesearch {
  margin-bottom: 45px;
  width: 300px;
}
.refinesearch h2,
.refinesearch h5 {
  margin-bottom: 18px;
  font-family: "Soho Gothic W01 Light";
  font-size: 24px;
  line-height: 28px;
  color: #838078;
}
.refinesearch select {
  margin-bottom: 20px;
}
.table_general {
  border: 1px solid #91c6c2;
  margin: 20px auto;
}
.table_general thead th {
  background: #91c6c2;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  line-height: 20px;
}
.table_general tr {
  background: #dfe8e7;
}
.table_general tr.odd {
  background: white;
}
.table_general tbody th,
.table_general td {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.table_general tbody th a,
.table_general td a {
  line-height: 24px;
}
.table_general.alignleft th,
.table_general.alignleft td {
  text-align: left;
}
.iveCharts {
  margin: 0 auto 20px auto;
  width: 100%;
  height: 300px;
}
.iveCharts .columnOuter {
  height: 100%;
  float: left;
  top: 0;
  text-align: center;
  position: relative;
  border-left: solid 1px #aaaaaa;
}
.iveCharts .columnOuter:first-of-type {
  border-left: none;
}
.iveCharts .columnOuter:after {
  clear: both;
}
.iveCharts .columnHolder {
  float: left;
  width: 50%;
  height: 90%;
  top: 0;
  position: relative;
}
.iveCharts .columnHolder:after {
  clear: both;
}
.iveCharts .number {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.iveCharts .number.small {
  font-size: 16px;
}
.iveCharts .column {
  bottom: 10%;
  position: absolute;
}
.iveCharts .column:hover {
  border: solid 1px #333;
  opacity: 0.7;
  /*cursor: pointer;*/
}
.iveCharts .title {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}
.iveCharts .title.small {
  font-size: 16px;
}
#graph-source {
  font-size: 18px;
  margin-right: 10px;
}
.image_intext {
  float: right;
  display: table;
  width: 87px;
  margin: 20px 0 20px 30px;
}
.image_intext figcaption {
  font-size: 18px;
}
.no-padding {
  padding: 0;
}
.h1_ingress {
  font-size: 20px;
  display: block;
  margin: 0;
  line-height: 24px;
}
@media only screen and (min-width: 1200px) {
  .aside {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: -54%;
  }
  .aside.module_person {
    top: auto;
  }
  .aside.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    margin-right: -46%;
  }
  .aside.top {
    margin-right: -46%;
  }
  .module_person.kontakt {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: -54%;
    width: 386px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .aside {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: -79%;
  }
  .aside.module_person {
    top: auto;
  }
  .aside.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    margin-right: -79%;
  }
  .aside.top {
    margin-right: -72%;
  }
}
@media only screen and (max-width: 1199px) {
  .refinesearch {
    margin-top: 30px;
    margin-left: 0;
    max-width: 300px;
    width: auto;
  }
  .border {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .statistics_compare button {
    margin-top: 30px;
  }
  .hidden_links {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  iframe {
    width: 100%;
  }
  .module_subscribe {
    margin: 0;
    padding: 0;
  }
  .module_message {
    margin: 0;
  }
  .aside {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .socialmedia a:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
@media only screen and (min-width: 600px) {
  .transportsideknapp {
    border: none;
  }
  .transportsideknapp .fa-chevron-right {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .aside,
  .aside.bottom {
    width: auto;
  }
  h1 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  .statistics_compare {
    background: #ddd;
    border-radius: 5px;
  }
  .breadcrumbs {
    margin: 0;
  }
  .tabs .tab-content ul {
    margin-bottom: 0;
  }
  .tabs .tab-content ul li {
    padding: 5px 0;
  }
  .accordion_mobile {
    border-bottom: 1px solid #004e66;
    padding-bottom: 10px;
  }
  .xs-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .entrancebutton {
    margin: 7.5px 0 7.5px 0;
    width: 100%;
    height: auto;
  }
  .entrancebutton a .innerDiv {
    margin-top: 15px;
  }
  .entrancebutton a .innerDiv h2 {
    font-size: 28px;
  }
  .socialmedia a:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .transportsideknapp {
    margin: 10px 0 10px 0;
    padding: 5px 0 20px 15px;
    background: white;
  }
  .transportsideknapp h2,
  .transportsideknapp p {
    margin: 0;
  }
  .breadcrumbs li {
    display: none;
  }
  .breadcrumbs li:last-child {
    display: block;
  }
  .breadcrumbs li:last-child:before {
    font-family: "FontAwesome";
    content: '\f104';
    color: #004e66;
    font-size: 25px;
    margin: 0 5px 0 5px;
    vertical-align: middle;
  }
  .statistics_table table,
  .statistics_table tbody {
    display: block;
    width: 100%;
  }
  .statistics_table table thead {
    display: none;
  }
  .statistics_table table tr,
  .statistics_table table th,
  .statistics_table table td {
    display: block;
    white-space: normal;
    border: 0;
  }
  .statistics_table table tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }
  .statistics_table table th[data-title]:before,
  .statistics_table table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }
  .statistics_table table tbody th:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
  }
  .statistics_table table tbody th:first-child:before {
    content: '';
  }
  .toppmeny .tab-links li,
  .tabs .tab-links li,
  .tabs-statistics .tabs .tab-links li {
    width: 114px;
    font-size: 12px;
  }
  .table_general {
    display: block;
    width: 100%;
  }
  .table_general tbody {
    display: block;
    width: 100%;
  }
  .table_general thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table_general tr,
  .table_general th,
  .table_general td {
    display: block;
  }
  .table_general tr {
    padding-bottom: 11px;
  }
  .table_general tbody th,
  .table_general td {
    border: none;
    position: relative;
    padding: 0;
    padding-left: 50%;
  }
  .table_general tbody th:before,
  .table_general td:before {
    position: absolute;
    left: 15px;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table_general th[data-title]:before,
  .table_general td[data-title]:before {
    content: attr(data-title);
  }
  .table_general tbody th:first-child {
    background: #d1d0cf;
    font-weight: bold;
    padding: 5px 0 5px 15px;
    text-align: left;
  }
  .table_general caption {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  .module_message {
    padding: 15px 15px 25px 15px;
  }
  .module_message .module_description {
    margin-left: 10px;
  }
  .chart_div {
    height: 300px;
    margin: 20px 0;
  }
}
@media braille {
  .has-hidden-content div {
    display: block !important;
  }
  .hidden-mobile {
    display: block !important;
  }
  #map {
    display: none;
  }
}
.method_entrance {
  float: left;
  margin: 50px 52px 50px 15px;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 170px;
}
.method_entrance:focus {
  background: none;
}
.method_entrance:first-of-type {
  margin-left: 0;
}
.method_entrance:last-of-type {
  margin-right: 0;
}
.method_entrance h3 {
  text-align: center;
  margin: 15px 0 0 0;
  font-size: 24px;
  font-family: "Soho Gothic W01 Light";
  color: #222;
  border-bottom: 2px dotted #222;
}
.method_entrance .drop_wrapper {
  display: inline-block;
  width: 100%;
}
.method_entrance .drop_wrapper .drop {
  position: relative;
  display: block;
  width: 193px;
  height: 163px;
  margin: auto;
  overflow: hidden;
}
.method_entrance .drop_wrapper .drop.oppstart .drop_triangle {
  border-left: 4.1em solid #0093a7;
}
.method_entrance .drop_wrapper .drop.oppstart .drop_circle {
  border: 4em solid #0093a7;
}
.method_entrance .drop_wrapper .drop.forslag .drop_triangle {
  border-left: 4.1em solid #a1bf17;
}
.method_entrance .drop_wrapper .drop.forslag .drop_circle {
  border: 4em solid #a1bf17;
}
.method_entrance .drop_wrapper .drop.metodevurdering .drop_triangle {
  border-left: 4.1em solid #004e66;
}
.method_entrance .drop_wrapper .drop.metodevurdering .drop_circle {
  border: 4em solid #004e66;
}
.method_entrance .drop_wrapper .drop.beslutning .drop_triangle {
  border-left: 4.1em solid #6cb4b5;
}
.method_entrance .drop_wrapper .drop.beslutning .drop_circle {
  border: 4em solid #6cb4b5;
}
.method_entrance .drop_wrapper .drop.implementering .drop_triangle {
  border-left: 4.1em solid #df9922;
}
.method_entrance .drop_wrapper .drop.implementering .drop_circle {
  border: 4em solid #df9922;
}
.method_entrance .drop_wrapper .drop .drop_triangle {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border: 4.1em solid transparent;
  border-radius: 4.1em;
  left: 5.5em;
  top: 0em;
  transition: all 0.5s;
}
.method_entrance .drop_wrapper .drop .drop_circle {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border-radius: 4em;
  left: 0em;
  top: 0.08333333333333333em;
  transition: all 0.5s;
}
.method_entrance .drop_wrapper .drop .drop_number {
  position: absolute;
  display: inline-block;
  top: 64px;
  left: 61px;
  font-size: 65px;
  font-family: "Soho Gothic W01 Regular";
  color: white;
}
.method_entrance:hover .drop_wrapper .drop.oppstart .drop_triangle {
  border-left: 4.1em solid #01737c;
}
.method_entrance:hover .drop_wrapper .drop.oppstart .drop_circle {
  border: 4em solid #01737c;
}
.method_entrance:hover .drop_wrapper .drop.forslag .drop_triangle {
  border-left: 4.1em solid #8ca037;
}
.method_entrance:hover .drop_wrapper .drop.forslag .drop_circle {
  border: 4em solid #8ca037;
}
.method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_triangle {
  border-left: 4.1em solid #02343f;
}
.method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_circle {
  border: 4em solid #02343f;
}
.method_entrance:hover .drop_wrapper .drop.beslutning .drop_triangle {
  border-left: 4.1em solid #448c8a;
}
.method_entrance:hover .drop_wrapper .drop.beslutning .drop_circle {
  border: 4em solid #448c8a;
}
.method_entrance:hover .drop_wrapper .drop.implementering .drop_triangle {
  border-left: 4.1em solid #c98523;
}
.method_entrance:hover .drop_wrapper .drop.implementering .drop_circle {
  border: 4em solid #c98523;
}
.method_entrance .heading_wrapper {
  margin-bottom: 30px;
  display: inline-block;
}
@media only screen and (max-width: 599px) {
  .module.module_information {
    margin-left: 25px;
  }
  .module.module_person {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .method_entrance {
    /* margin: 50px 57px 50px 15px; */
    cursor: pointer;
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 169px;
    margin: 20px auto 10px auto;
  }
  .method_entrance h3 {
    font-size: 22px;
  }
  .method_entrance .drop_wrapper .drop {
    position: relative;
    display: block;
    width: 146px;
    height: 123px;
    margin: auto;
  }
  .method_entrance .drop_wrapper .drop.oppstart .drop_triangle {
    border-left: 3.1em solid #0093a7;
  }
  .method_entrance .drop_wrapper .drop.oppstart .drop_circle {
    border: 3em solid #0093a7;
  }
  .method_entrance .drop_wrapper .drop.forslag .drop_triangle {
    border-left: 3.1em solid #a1bf17;
  }
  .method_entrance .drop_wrapper .drop.forslag .drop_circle {
    border: 3em solid #a1bf17;
  }
  .method_entrance .drop_wrapper .drop.metodevurdering .drop_triangle {
    border-left: 3.1em solid #004e66;
  }
  .method_entrance .drop_wrapper .drop.metodevurdering .drop_circle {
    border: 3em solid #004e66;
  }
  .method_entrance .drop_wrapper .drop.beslutning .drop_triangle {
    border-left: 3.1em solid #6cb4b5;
  }
  .method_entrance .drop_wrapper .drop.beslutning .drop_circle {
    border: 3em solid #6cb4b5;
  }
  .method_entrance .drop_wrapper .drop.implementering .drop_triangle {
    border-left: 3.1em solid #df9922;
  }
  .method_entrance .drop_wrapper .drop.implementering .drop_circle {
    border: 3em solid #df9922;
  }
  .method_entrance .drop_wrapper .drop .drop_triangle {
    border: 3.1em solid transparent;
    left: 4.1em;
  }
  .method_entrance .drop_wrapper .drop .drop_number {
    top: 47px;
    left: 47px;
    font-size: 50px;
  }
  .method_entrance:hover .drop_wrapper .drop.oppstart .drop_triangle {
    border-left: 3.1em solid #01737c;
  }
  .method_entrance:hover .drop_wrapper .drop.oppstart .drop_circle {
    border: 3em solid #01737c;
  }
  .method_entrance:hover .drop_wrapper .drop.forslag .drop_triangle {
    border-left: 3.1em solid #8ca037;
  }
  .method_entrance:hover .drop_wrapper .drop.forslag .drop_circle {
    border: 3em solid #8ca037;
  }
  .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_triangle {
    border-left: 3.1em solid #02343f;
  }
  .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_circle {
    border: 3em solid #02343f;
  }
  .method_entrance:hover .drop_wrapper .drop.beslutning .drop_triangle {
    border-left: 3.1em solid #448c8a;
  }
  .method_entrance:hover .drop_wrapper .drop.beslutning .drop_circle {
    border: 3em solid #448c8a;
  }
  .method_entrance:hover .drop_wrapper .drop.implementering .drop_triangle {
    border-left: 3.1em solid #c98523;
  }
  .method_entrance:hover .drop_wrapper .drop.implementering .drop_circle {
    border: 3em solid #c98523;
  }
}
/*# sourceMappingURL=common.css.map */