.container .search,
.container-fluid .search {
  border: none;
  cursor: pointer;
  color: #222;
  padding-right: 27px;
  padding-left: 0;
  width: 50%;
  background: #f2f2f2;
}
.container .search::-webkit-input-placeholder,
.container-fluid .search::-webkit-input-placeholder {
  color: #838078;
  text-align: left;
}
.container .search:-moz-placeholder,
.container-fluid .search:-moz-placeholder {
  /* Firefox 18- */
  color: #838078;
  text-align: left;
}
.container .search::-moz-placeholder,
.container-fluid .search::-moz-placeholder {
  /* Firefox 19+ */
  color: #222838078;
  text-align: left;
}
.container .search:-ms-input-placeholder,
.container-fluid .search:-ms-input-placeholder {
  color: #838078;
  text-align: left;
}
.container .searchform,
.container-fluid .searchform {
  width: 100%;
}
.container .searchform input,
.container-fluid .searchform input {
  width: 612px;
}
.container .resultnumber,
.container-fluid .resultnumber {
  color: #838078;
  text-transform: uppercase;
}
.container .resultnumber .numberofresults,
.container-fluid .resultnumber .numberofresults,
.container .resultnumber .resultfilter,
.container-fluid .resultnumber .resultfilter,
.container .resultnumber .sortedby,
.container-fluid .resultnumber .sortedby {
  font-weight: bold;
}
.container .cbs-list,
.container-fluid .cbs-list {
  width: 100%;
}
.container .transportsideknapp,
.container-fluid .transportsideknapp {
  background: #ffffff url(../images/pil_knapp_mellomblaa.svg) no-repeat;
  background-size: 45px 45px;
  background-position: 96% 93%;
  margin-top: 46px;
  max-width: 685px;
  display: inline-block;
  padding: 20px 30px 20px 30px;
}
.container .transportsideknapp .status_information,
.container-fluid .transportsideknapp .status_information {
  float: left;
  width: 362px;
  margin: 11px 0 0 30px;
}
.container .transportsideknapp .status_information .status_received,
.container-fluid .transportsideknapp .status_information .status_received {
  margin-right: 30px;
}
.container .transportsideknapp .status,
.container-fluid .transportsideknapp .status {
  float: left;
  padding: 0 15px 0 0;
  width: 200px;
  margin-top: 20px;
  font-family: "Soho Gothic W01 Light";
  font-size: 20px;
  color: #222;
  vertical-align: bottom;
}
.container .transportsideknapp .status.forslag,
.container-fluid .transportsideknapp .status.forslag {
  border-right: 5px solid #a1bf37;
}
.container .transportsideknapp .status.forslag:before,
.container-fluid .transportsideknapp .status.forslag:before {
  content: '';
  width: 40px;
  height: 24px;
  background: url(../images/ikoner/draape_forslag_tall.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.container .transportsideknapp .status.metodevurdering,
.container-fluid .transportsideknapp .status.metodevurdering {
  border-right: 5px solid #004e66;
}
.container .transportsideknapp .status.metodevurdering:before,
.container-fluid .transportsideknapp .status.metodevurdering:before {
  content: '';
  width: 40px;
  height: 24px;
  background: url(../images/ikoner/draape_metodevurdering_tall.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.container .transportsideknapp .status.beslutning,
.container-fluid .transportsideknapp .status.beslutning {
  border-right: 5px solid #6cb4b5;
}
.container .transportsideknapp .status.beslutning:before,
.container-fluid .transportsideknapp .status.beslutning:before {
  content: '';
  width: 40px;
  height: 24px;
  background: url(../images/ikoner/draape_beslutning_tall.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.container .transportsideknapp .status.implementering,
.container-fluid .transportsideknapp .status.implementering {
  border-right: 5px solid #df9922;
}
.container .transportsideknapp .status.implementering:before,
.container-fluid .transportsideknapp .status.implementering:before {
  content: '';
  width: 40px;
  height: 24px;
  background: url(../images/ikoner/draape_implementering_tall.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.container .transportsideknapp h2,
.container-fluid .transportsideknapp h2 {
  margin: 0;
  color: #c63629;
  border-bottom: 3px dotted #c63629;
  padding-bottom: 5px;
  display: inline-block;
  width: 90%;
}
.container .transportsideknapp h2:hover,
.container-fluid .transportsideknapp h2:hover {
  text-decoration: none;
}
.container .transportsideknapp p,
.container-fluid .transportsideknapp p {
  color: #838078;
}
.container .transportsideknapp:hover,
.container-fluid .transportsideknapp:hover {
  text-decoration: none;
  box-shadow: #0093a7 0 0 0 2px;
}
.container .transportsideknapp:hover h2,
.container-fluid .transportsideknapp:hover h2 {
  text-decoration: none;
}
.container .transportsideknapp.newsitem,
.container-fluid .transportsideknapp.newsitem {
  width: 100%;
}
.container .drops,
.container-fluid .drops {
  float: right;
  padding: 5px;
}
.container .borderbox,
.container-fluid .borderbox {
  padding: 10px;
  border: 1px solid #222;
}
@media only screen and (max-width: 599px) {
  .container .searchform input,
  .container-fluid .searchform input {
    width: 84%;
  }
  .container .resultnumber,
  .container-fluid .resultnumber {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 899px) {
  .container .drops,
  .container-fluid .drops {
    margin-top: 45px;
    float: none;
  }
  .container .refinesearch,
  .container-fluid .refinesearch {
    margin-bottom: 0;
  }
  .container .resultnumber,
  .container-fluid .resultnumber {
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1199px) {
  .container .transportsideknapp,
  .container-fluid .transportsideknapp {
    background-position: 96% 95%;
    padding: 20px 30px 50px 30px;
    margin-top: 20px;
    width: 100%;
  }
  .container .transportsideknapp .status_information,
  .container-fluid .transportsideknapp .status_information {
    margin-left: 0;
    width: 100%;
    margin-top: 5px;
  }
  .container .transportsideknapp .status_information p,
  .container-fluid .transportsideknapp .status_information p {
    margin-top: 0;
  }
  .container .transportsideknapp .status_information p.status_received,
  .container-fluid .transportsideknapp .status_information p.status_received {
    margin-right: 0;
  }
  .container .transportsideknapp .status,
  .container-fluid .transportsideknapp .status {
    width: 100%;
    padding: 10px 0 7px 0;
    margin-top: 5px;
  }
  .container .transportsideknapp .status.preparation,
  .container-fluid .transportsideknapp .status.preparation {
    border-right: none;
    border-bottom: 4px solid #a1bf37;
  }
  .container .transportsideknapp .status.evaluation,
  .container-fluid .transportsideknapp .status.evaluation {
    border-right: none;
    border-bottom: 4px solid #004e66;
  }
  .container .transportsideknapp .status.decided,
  .container-fluid .transportsideknapp .status.decided {
    border-right: none;
    border-bottom: 4px solid #6cb4b5;
  }
  .container .transportsideknapp .status.cancelled,
  .container-fluid .transportsideknapp .status.cancelled {
    border-right: none;
    border-bottom: 4px solid #c63629;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .container .searchform,
  .container-fluid .searchform {
    width: 100%;
  }
  .container .searchform input,
  .container-fluid .searchform input {
    width: 91%;
  }
}
@media only screen and (min-width: 900px) {
  .container .aside,
  .container-fluid .aside {
    top: 470px;
  }
  .container .aside.top,
  .container-fluid .aside.top {
    top: 0;
  }
  .container input,
  .container-fluid input {
    width: 93%;
  }
  .container .refinesearch,
  .container-fluid .refinesearch {
    margin-top: 45px;
  }
}
/*# sourceMappingURL=finnmetode.css.map */