@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorDarkBlueHover: #002e41;
@colorBlue: #023c49;
@colorMediumBlue: #0093a7;
@colorMediumBlueHover: #006371;
@colorLightBlue: #6cb4b5;
@colorLightBlueHover: #4f8889;
@colorOrange: #df9922;
@colorOrangeHover: #b8811d;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorYellowHover: #c7ad1c;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGreenHover: #748f29;

.search {
    border: none;
    cursor: pointer;
    color: #222;
    padding-right: 27px;
    padding-left: 0;
    width: 50%;
    background: #f2f2f2;

    &::-webkit-input-placeholder {
        color: #838078;
        text-align: left;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: #838078;
        text-align: left;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: #222838078;
        text-align: left;
    }

    &:-ms-input-placeholder {
        color: #838078;
        text-align: left;
    }
}

.searchform {
    width: 100%;

    input {
        width: 612px;
    }
}

.resultnumber {
    color: #838078;
    text-transform: uppercase;
}

.transportsideknapp {
    background: white url(../img/pil_knapp_mellomblaa.svg) no-repeat;
    background-size: 45px;
    background-position: 96% 93%;
    margin-top: 46px;
    max-width: 685px;
    display: inline-block;
    padding: 20px 30px 50px 30px;

    .status_information {
        float: left;
        width: 362px;
        margin: 24px 0 0 30px;

        .status_received {
            margin-right: 30px;
        }
    }

    .status {
        float: left;
        padding: 20px;
        width: 200px;
        margin-top: 30px;
        font-family: @fontSohoLight;
        font-size: 20px;
        color: #222;

        &.preparation {
            border-right: 4px solid @colorGreen;
        }

        &.evaluation {
            border-right: 4px solid @colorDarkBlue;
        }

        &.decided {
            border-right: 4px solid @colorLightBlue;
        }

        &.cancelled {
            border-right: 4px solid #c63629;
        }
    }

    h2 {
        margin: 0;
        color: #c63629;
        border-bottom: 3px dotted #c63629;
        padding-bottom: 5px;
        display: inline-block;
        width: 90%;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        color: #838078;
    }

    &:hover {
        text-decoration: none;
        box-shadow: @colorMediumBlue 0 0 0 2px;

        h2 {
            text-decoration: none;
        }
    }
}

.drops {
    float: right;
    padding: 5px;
}

.borderbox {
    padding: 10px;
    border: 1px solid #222;
}

@media only screen and (max-width: 599px) {
    .searchform {
        input {
            width: 84%;
        }
    }

    .resultnumber {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 899px) {
    .drops {
        margin-top: 45px;
        float: none;
    }

    .refinesearch {
        margin-bottom: 0;
    }

    .resultnumber {
        margin-bottom: 20px;
        margin-top: 0;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 1199px) {
    .transportsideknapp {
        background-position: 96% 95%;
        padding: 20px 30px 50px 30px;
        margin-top: 20px;
        width: 100%;

        .status_information {
            margin-left: 0;
            width: 100%;
            margin-top: 5px;

            p {
                margin-top: 0;

                &.status_received {
                    margin-right: 0;
                }
            }
        }

        .status {
            width: 100%;
            padding: 10px 0 7px 0;
            margin-top: 5px;

            &.preparation {
                border-right: none;
                border-bottom: 4px solid @colorGreen;
            }

            &.evaluation {
                border-right: none;
                border-bottom: 4px solid @colorDarkBlue;
            }

            &.decided {
                border-right: none;
                border-bottom: 4px solid @colorLightBlue;
            }

            &.cancelled {
                border-right: none;
                border-bottom: 4px solid #c63629;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
    .searchform {
        width: 100%;

        input {
            width: 91%;
        }
    }
}

@media only screen and (min-width: 900px) {
    .aside {
        top: 470px;
    }

    .aside.top {
        top: 0;
    }

    input {
        width: 93%;
    }

    .refinesearch {
        margin-top: 45px;
    }
}