@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGrayMetode: #838078;

h2 {
    font-weight: normal;
    font-size: 36px;
    font-family: @fontSohoLight;
    line-height: 45px;
    margin: 50px 0 31px 0;
    color: #838078;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #aeaba8;
}

.container {
    background: @colorLightGray;
}

.frontpagewrapper {
    &.white {
        background: white;

        .container {
            background: white;
        }
    }
}

.entrancebuttons {
    margin: 0 auto;
    display: table;
}

.entrancebutton {
    width: 250px;
    height: 230px;
    margin: 30px 60px 0 0;
    float: left;
    position: relative;

    a {
        height: 100%;
        width: 100%;
        display: inline-block;
        color: white;
        text-decoration: none;
        background: @colorDarkBlue;
        border-radius: 3px;

        &:hover {
            background: white;

            h2, p, &:focus, h2:focus, p:focus {
                text-decoration: none;
                color: @colorGrayMetode;
            }
        }

        h2 {
            font-size: 28px;
            line-height: 35px;
            padding-bottom: 5px;
            color: white;
            position: relative;
            text-align: center;
            margin-top: 30px;
            border: none;
        }

        &:focus {
            background: @colorDarkBlue;

            h2, p {
                background: @colorDarkBlue;
            }
        }
    }

    &:visited, &:hover {
        color: @colorGrayMetode;
    }

    span {
        border-radius: 50%;
        display: block;
        margin: 47px auto 30px auto;
        height: 70px;
        width: 70px;

        &.finnmetode {
            background: white url('../img/ikoner/hovedinngang_ikon_soek_blaa.svg') no-repeat;
            background-size: 30px;
            background-position: center;
        }

        &.sendforslag {
            background: white url('../img/ikoner/hovedinngang_ikon_send_blaa.svg') no-repeat;
            background-size: 32px;
            background-position: center;
        }

        &.omsystemet {
            /* background: @colorDarkBlue url(../img/eirik.gif) no-repeat;
           background: @colorDarkBlue no-repeat;
            background-size: 80px;
            background-position: 0 100px;
            transition: all 3s;
            -moz-transform: rotate(-82deg);
            -ms-transform: rotate(-82deg);
            -o-transform: rotate(-82deg);
            -webkit-transform: rotate(-82deg);
            transform: rotate(-82deg);*/
            background: white url('../img/ikoner/hovedinngang_ikon_systemet_blaa.svg') no-repeat;
            background-size: 41px;
            background-position: center;
        }
    }

    &:hover {
        span.finnmetode {
            background: @colorDarkBlue url('../img/ikoner/hovedinngang_ikon_soek_hvit.svg') no-repeat;
            background-size: 30px;
            background-position: center;
        }

        span.sendforslag {
            background: @colorDarkBlue url('../img/ikoner/hovedinngang_ikon_send_hvit.svg') no-repeat;
            background-size: 32px;
            background-position: center;
        }

        span.omsystemet {
            /*  background: white url(../img/eirik.gif) no-repeat;
             background: white no-repeat;
            background-size: 80px;
            background-position: 0 3px;*/
            background: @colorDarkBlue url('../img/ikoner/hovedinngang_ikon_systemet_hvit.svg') no-repeat;
            background-size: 41px;
            background-position: center;
        }
    }
}

.mainentrance {
    margin: 50px 0;

    .ingress {
        margin-top: 40px;
        font-size: 20px;
        font-family: @fontSohoLight;
        color: @colorGrayMetode;
        padding: 0 164px 0 105px;
    }
}

.internal-link {
    margin-bottom: 20px;
}

.news {
    .date, .date_status {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .date_status {
        padding-left: 35px;
        line-height: 20px;
    }

    .ingress {
        margin: 10px 0;
        color: #838078;
        font-size: 24px;
        font-family: @fontCalibri;
    }

    h4 {
        margin-top: 25px;
        font-size: 24px;
        line-height: 29px;
        font-family: @fontSohoLight;
        color: #222;
        background: url(../img/ikoner/intern_lenke_mellomblaa.svg) no-repeat;
        background-size: 20px;
        background-position: 0px 7px;
        padding-left: 35px;
    }

    h3 {
        margin-top: 24px;
    }

    p {
        margin-top: 0;
    }

    .see-all {
        margin-top: 20px;
        display: block;
    }

    a {
        &:hover {
            text-decoration: none;

            h3 {
                color: #01737c;
                border-bottom: 2px dotted #01737c;
            }
        }

        h3 {
            font-size: 24px;
            font-family: @fontSohoLight;
            color: @colorMediumBlue;
            border-bottom: 2px dotted @colorMediumBlue;
        }
    }

    .news_item {
        margin-bottom: 50px;
    }
}

.newsillustration {
    margin-top: 25px;
    width: 75%;
}

.module.module_message {
    margin-top: 20px;
}

.wrapper_leverandorer, .wrapper_pasienter {
    background: white;

    .container {
        background: white;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
    .entrancebutton {
        margin: 30px 30px 0 0;
    }
}

@media only screen and (max-width: 899px) {
    .entrancebuttons {
        margin: 0;
        width: 100%;

        .entrancebutton {
            width: 100%;
            height: auto;
            margin-right: 0;

            span {
                margin: 30px auto;
            }
        }
    }

    .frontpagewrapper {
        &.white {
            &.entrance {
                background: #f2f2f2;

                .container {
                    background: #f2f2f2;
                }
            }
        }
    }
}

@media only screen and (max-width: 899px) {
    .entrancebuttons {
        .entrancebutton {
            margin-top: 10px;

            a {
                h2 {
                    text-align: left;
                    margin-bottom: 0;
                }
            }

            span {
                margin: 10px 20px;
                float: left;
            }
        }
    }

    .method_entrance {
        float: none;
        vertical-align: initial;
        text-align: left;
        width: 100%;
        display: inline-block;
        margin: 5px 0 0 0;
        background: white;
        border-radius: 3px;

        .heading_wrapper {
            float: left;
            width: auto;
            margin: 10px 0 10px 5%;

            h3 {
                text-align: left;
                border: none;
                font-size: 20px;
                line-height: 24px;
            }
        }

        .drop_wrapper {
            width: 63px;
            float: left;
            margin: 10px 0 5px 4%;

            .drop {
                position: relative;
                display: inline-block;
                width: 63px;
                height: 55px;
                margin: 0;

                &.oppstart {
                    .drop_triangle {
                        border-left: 1.4em solid #0093a7;
                    }

                    .drop_circle {
                        border: 1.3em solid #0093a7;
                    }
                }

                &.forslag {
                    .drop_triangle {
                        border-left: 1.4em solid #a1bf17;
                    }

                    .drop_circle {
                        border: 1.3em solid #a1bf17;
                    }
                }

                &.metodevurdering {
                    .drop_triangle {
                        border-left: 1.4em solid #004e66;
                    }

                    .drop_circle {
                        border: 1.3em solid #004e66;
                    }
                }

                &.beslutning {
                    .drop_triangle {
                        border-left: 1.4em solid #6cb4b5;
                    }

                    .drop_circle {
                        border: 1.3em solid #6cb4b5;
                    }
                }

                &.implementering {
                    .drop_triangle {
                        border-left: 1.4em solid #df9922;
                    }

                    .drop_circle {
                        border: 1.3em solid #df9922;
                    }
                }

                .drop_triangle {
                    border: 1.4em solid transparent;
                    left: 1.7em;
                }

                .drop_number {
                    top: 15px;
                    left: 17px;
                    font-size: 32px;
                }
            }
        }

        &:hover {
            background: #aeaba8;

            .drop_wrapper {
                .drop {
                    &.oppstart {
                        .drop_triangle {
                            border-left: 1.4em solid #01737c;
                        }

                        .drop_circle {
                            border: 1.3em solid #01737c;
                        }
                    }

                    &.forslag {
                        .drop_triangle {
                            border-left: 1.4em solid #8ca037;
                        }

                        .drop_circle {
                            border: 1.3em solid #8ca037;
                        }
                    }

                    &.metodevurdering {
                        .drop_triangle {
                            border-left: 1.4em solid #02343f;
                        }

                        .drop_circle {
                            border: 1.3em solid #02343f;
                        }
                    }

                    &.beslutning {
                        .drop_triangle {
                            border-left: 1.4em solid #448c8a;
                        }

                        .drop_circle {
                            border: 1.3em solid #448c8a;
                        }
                    }

                    &.implementering {
                        .drop_triangle {
                            border-left: 1.4em solid #c98523;
                        }

                        .drop_circle {
                            border: 1.3em solid #c98523;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    .no-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mainentrance {
        margin: 10px 0;
    }

    h2 {
        margin-top: 30px;
    }

    .wrapper_statusoppdateringer {
        background: white;
        padding-bottom: 20px;
        margin-top: 10px;
        padding-top: 5px;
    }

    .wrapper_spesialisthelsetjenesten {
        background: white;

        .container {
            background: white;
        }
    }

    .wrapper_leverandorer {
        background: #f2f2f2;
        padding-bottom: 20px;

        .container {
            background: #f2f2f2;
        }
    }

    .wrapper_pasienter {
        background: #f2f2f2;

        .container {
            background: #f2f2f2;
        }
    }

    .footerlinkswrapper .linklist {
        margin-top: 30px;
    }
}