@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

h2 {
    font-weight: normal;
    font-size: 36px;
    font-family: @fontSohoLight;
    line-height: 45px;
    margin: 50px 0 0 0;
    color: #838078;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #aeaba8;
    border-top: 1px solid #aeaba8;
}

.container {
    background: @colorLightGray;
}

#header .container {
    background: white;
}

#footer .container {
    background: #838078;
}

.frontpagewrapper {
    &.white {
        background: white;

        .container {
            background: white;
        }
    }
}

.entrancebuttons {
    margin: 0 auto;
    display: table;
}

.entrancebutton {
    width: 250px;
    height: 230px;
    margin: 30px 60px 0 0;
    float: left;
    position: relative;

    a {
        height: 100%;
        width: 100%;
        display: inline-block;
        color: @colorDarkBlue;
        text-decoration: none;
        background: white;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;

        &:hover {
            background: #02343f;

            h2, p, &:focus, h2:focus, p:focus {
                text-decoration: none;
                color: white;
            }
        }

        h2 {
            font-size: 28px;
            line-height: 35px;
            padding-bottom: 5px;
            color: @colorDarkBlue;
            position: relative;
            text-align: center;
            margin-top: 30px;
            border: none;
        }

        &:focus {
            background: #02343f;

            h2, p {
                background: #02343f;
            }
        }
    }

    &:visited, &:hover {
        color: white;
    }

    span {
        border-radius: 50%;
        display: block;
        margin: 30px auto;
        height: 70px;
        width: 70px;

        &.finnmetode {
            background: @colorDarkBlue url('../img/ikon_forstorrelsesglass_hvitt.svg') no-repeat;
            background-size: 35px;
            background-position: center;
        }

        &.sendforslag {
            background: @colorDarkBlue no-repeat;
            background-size: 35px;
            background-position: center;
        }

        &.omsystemet {
            background: @colorDarkBlue url(../img/eirik.gif) no-repeat;
            background-size: 80px;
            background-position: 0 100px;
            transition: all 3s;
        }
    }

    &:hover {
        span.finnmetode {
            background: white url('../img/ikon_forstorrelsesglass.svg') no-repeat;
            background-size: 35px;
            background-position: center;
        }

        span.sendforslag {
            background: white no-repeat;
            background-size: 35px;
            background-position: center;
        }

        span.omsystemet {
            background: white url(../img/eirik.gif) no-repeat;
            background-size: 80px;
            background-position: 0 3px;
        }
    }
}

.method_entrance {
    float: left;
    margin: 50px 15px 50px 15px;
    cursor: pointer;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    h3 {
        text-align: center;
        margin: 15px 0 30px 0;
        font-size: 24px;
        font-family: @fontSohoLight;
        color: #222;
    }

    .drop_wrapper {
        display: inline-block;
        width: 100%;

        .drop {
            position: relative;
            display: block;
            width: 193px;
            height: 163px;
            margin: auto;

            &.oppstart {
                .drop_triangle {
                    border-left: 4.1em solid #df9922;
                }

                .drop_circle {
                    border: 4em solid #df9922;
                }
            }

            &.forslag {
                .drop_triangle {
                    border-left: 4.1em solid #004e66;
                }

                .drop_circle {
                    border: 4em solid #004e66;
                }
            }

            &.metodevurdering {
                .drop_triangle {
                    border-left: 4.1em solid #0093a7;
                }

                .drop_circle {
                    border: 4em solid #0093a7;
                }
            }

            &.beslutning {
                .drop_triangle {
                    border-left: 4.1em solid #6cb4b5;
                }

                .drop_circle {
                    border: 4em solid #6cb4b5;
                }
            }

            &.implementering {
                .drop_triangle {
                    border-left: 4.1em solid #a1bf17;
                }

                .drop_circle {
                    border: 4em solid #a1bf17;
                }
            }

            .drop_triangle {
                position: absolute;
                display: inline-block;
                width: 0;
                height: 0;
                line-height: 0;
                border: 4.1em solid transparent;
                border-radius: 4.1em;
                left: 5.5em;
                top: 0em;
                transition: all 0.5s;
            }

            .drop_circle {
                position: absolute;
                display: inline-block;
                width: 0;
                height: 0;
                line-height: 0;
                border-radius: 4em;
                left: 0em;
                top: 0.08333333333333333em;
                transition: all 0.5s;
            }

            .drop_number {
                position: absolute;
                display: inline-block;
                top: 64px;
                left: 61px;
                font-size: 65px;
                font-family: @fontSohoRegular;
                color: white;
            }
        }
    }

    &:hover {
        .drop_wrapper {
            .drop {
                &.oppstart {
                    .drop_triangle {
                        border-left: 4.1em solid #c98523;
                    }

                    .drop_circle {
                        border: 4em solid #c98523;
                    }
                }

                &.forslag {
                    .drop_triangle {
                        border-left: 4.1em solid #02343f;
                    }

                    .drop_circle {
                        border: 4em solid #02343f;
                    }
                }

                &.metodevurdering {
                    .drop_triangle {
                        border-left: 4.1em solid #01737c;
                    }

                    .drop_circle {
                        border: 4em solid #01737c;
                    }
                }

                &.beslutning {
                    .drop_triangle {
                        border-left: 4.1em solid #448c8a;
                    }

                    .drop_circle {
                        border: 4em solid #448c8a;
                    }
                }

                &.implementering {
                    .drop_triangle {
                        border-left: 4.1em solid #8ca037;
                    }

                    .drop_circle {
                        border: 4em solid #8ca037;
                    }
                }
            }
        }
    }
}

.mainentrance {
    margin: 50px 0;

    .ingress {
        text-align: center;
        margin-top: 40px;
    }
}

.news {
    float: left;
    width: 45%;

    &:first-of-type {
        margin-right: 110px;
    }

    .date {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .ingress {
        margin: 10px 0;
    }
}

@media only screen and (min-width: 900px) {
    .newsillustration {
        margin-top: 50px;
    }
}