h2 {
  font-weight: normal;
  font-size: 36px;
  font-family: "Soho Gothic W01 Light";
  line-height: 45px;
  margin: 50px 0 31px 0;
  color: #838078;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #aeaba8;
}
.container {
  background: #f2f2f2;
}
.frontpagewrapper.white {
  background: white;
}
.frontpagewrapper.white .container {
  background: white;
}
.entrancebuttons {
  margin: 0 auto;
  display: table;
}
.entrancebutton {
  width: 250px;
  height: 230px;
  margin: 30px 60px 0 0;
  float: left;
  position: relative;
}
.entrancebutton.aboutthesystem a {
  background: #0093a7;
}
.entrancebutton.aboutthesystem a:hover {
  background: #01737c;
}
.entrancebutton a {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #004e66;
  border-radius: 3px;
  transition: all 0.5s;
}
.entrancebutton a:hover {
  background: #002e41;
}
.entrancebutton a:hover h2,
.entrancebutton a:hover p,
.entrancebutton a:hover:focus,
.entrancebutton a:hover h2:focus,
.entrancebutton a:hover p:focus {
  text-decoration: none;
  color: white;
}
.entrancebutton a h2 {
  font-size: 28px;
  line-height: 35px;
  padding-bottom: 5px;
  color: white;
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  border: none;
}
.entrancebutton a:focus {
  background: #004e66;
}
.entrancebutton a:focus h2,
.entrancebutton a:focus p {
  background: #004e66;
}
.entrancebutton a p {
  text-align: center;
  color: white;
  margin-top: 0;
}
.entrancebutton:visited,
.entrancebutton:hover {
  color: #838078;
}
.entrancebutton span {
  border-radius: 50%;
  display: block;
  margin: 47px auto 30px auto;
  height: 70px;
  width: 70px;
}
.entrancebutton span.finnmetode {
  background: #ffffff url('../img/ikoner/hovedinngang_ikon_soek_blaa.svg') no-repeat;
  background-size: 30px;
  background-position: center;
}
.entrancebutton span.sendforslag {
  background: #ffffff url('../img/ikoner/hovedinngang_ikon_send_blaa.svg') no-repeat;
  background-size: 32px;
  background-position: center;
}
.entrancebutton span.omsystemet {
  /* background: @colorDarkBlue url(../img/eirik.gif) no-repeat;
           background: @colorDarkBlue no-repeat;
            background-size: 80px;
            background-position: 0 100px;
            transition: all 3s;
            -moz-transform: rotate(-82deg);
            -ms-transform: rotate(-82deg);
            -o-transform: rotate(-82deg);
            -webkit-transform: rotate(-82deg);
            transform: rotate(-82deg);*/
  background: #ffffff url('../img/ikoner/hovedinngang_ikon_systemet_blaa.svg') no-repeat;
  background-size: 41px;
  background-position: center;
}
.entrancebutton:hover span.finnmetode {
  background: #ffffff url('../img/ikoner/hovedinngang_ikon_soek_blaa.svg') no-repeat;
  background-size: 30px;
  background-position: center;
}
.entrancebutton:hover span.sendforslag {
  background: #ffffff url('../img/ikoner/hovedinngang_ikon_send_blaa.svg') no-repeat;
  background-size: 32px;
  background-position: center;
}
.entrancebutton:hover span.omsystemet {
  /*  background: white url(../img/eirik.gif) no-repeat;
             background: white no-repeat;
            background-size: 80px;
            background-position: 0 3px;*/
  background: #ffffff url('../img/ikoner/hovedinngang_ikon_systemet_blaa.svg') no-repeat;
  background-size: 41px;
  background-position: center;
}
.mainentrance {
  margin: 50px 0;
}
.mainentrance .ingress {
  margin-top: 40px;
  font-size: 20px;
  font-family: "Soho Gothic W01 Light";
  color: #838078;
  padding: 0 164px 0 105px;
}
.internal-link {
  margin-bottom: 20px;
}
.news .date,
.news .date_status {
  font-size: 18px;
  margin-bottom: 10px;
}
.news .date_status {
  line-height: 20px;
}
.news .ingress {
  margin: 10px 0;
  color: #838078;
  font-size: 24px;
  font-family: 'Calibri';
}
.news h4 {
  margin-top: 25px;
  font-size: 24px;
  line-height: 29px;
  font-family: "Soho Gothic W01 Light";
  color: #0093a7;
  border-bottom: 2px dotted #0093a7;
  display: inline;
}
.news h3 {
  margin-top: 24px;
}
.news p {
  margin-top: 0;
}
.news .see-all {
  margin-top: 20px;
  display: block;
}
.news a:hover {
  text-decoration: none;
}
.news a:hover h3 {
  color: #01737c;
  border-bottom: 2px dotted #01737c;
}
.news a h3 {
  font-size: 24px;
  font-family: "Soho Gothic W01 Light";
  color: #0093a7;
  border-bottom: 2px dotted #0093a7;
  display: inline;
}
.news .news_item {
  margin-bottom: 23px;
}
.news .internal-link {
  margin-bottom: 20px;
  background: none;
  padding-left: 0;
  margin-left: 30px;
}
.news .internal-link:before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 0;
  height: 22px;
  width: 23px;
  background: url(../img/ikoner/intern_lenke_mellomblaa.svg) no-repeat;
  /* background-position: 0 5px; */
  background-size: 20px;
}
.newsillustration {
  margin-top: 25px;
  width: 75%;
}
.module.module_message {
  margin-top: 20px;
}
.wrapper_leverandorer,
.wrapper_pasienter {
  background: white;
}
.wrapper_leverandorer .container,
.wrapper_pasienter .container {
  background: white;
}
.drops {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .entrancebutton {
    margin: 30px 30px 0 0;
  }
}
@media only screen and (max-width: 899px) {
  .entrancebuttons {
    margin: 0;
    width: 100%;
  }
  .entrancebuttons .entrancebutton {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .entrancebuttons .entrancebutton span {
    margin: 30px auto;
  }
  .frontpagewrapper.white.entrance {
    background: #f2f2f2;
  }
  .frontpagewrapper.white.entrance .container {
    background: #f2f2f2;
  }
  .news {
    margin-bottom: 25px;
  }
  .news .news_item .date {
    margin-bottom: 0;
  }
  .news .news_item .ingress {
    margin-top: 0;
  }
}
@media only screen and (max-width: 899px) {
  .entrancebuttons .entrancebutton {
    margin-top: 10px;
  }
  .entrancebuttons .entrancebutton a h2 {
    text-align: left;
    margin-bottom: 0;
  }
  .entrancebuttons .entrancebutton a p {
    text-align: left;
  }
  .entrancebuttons .entrancebutton span {
    margin: 10px 20px;
    float: left;
  }
  .method_entrance {
    float: none;
    vertical-align: initial;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin: 5px 0 0 0;
    background: white;
    border-radius: 3px;
  }
  .method_entrance .heading_wrapper {
    float: left;
    width: auto;
    margin: 10px 0 10px 5%;
  }
  .method_entrance .heading_wrapper h3 {
    text-align: left;
    border: none;
    font-size: 20px;
    line-height: 24px;
  }
  .method_entrance .drop_wrapper {
    width: 63px;
    float: left;
    margin: 10px 0 5px 4%;
  }
  .method_entrance .drop_wrapper .drop {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 55px;
    margin: 0;
  }
  .method_entrance .drop_wrapper .drop.oppstart .drop_triangle {
    border-left: 1.4em solid #0093a7;
  }
  .method_entrance .drop_wrapper .drop.oppstart .drop_circle {
    border: 1.3em solid #0093a7;
  }
  .method_entrance .drop_wrapper .drop.forslag .drop_triangle {
    border-left: 1.4em solid #a1bf17;
  }
  .method_entrance .drop_wrapper .drop.forslag .drop_circle {
    border: 1.3em solid #a1bf17;
  }
  .method_entrance .drop_wrapper .drop.metodevurdering .drop_triangle {
    border-left: 1.4em solid #004e66;
  }
  .method_entrance .drop_wrapper .drop.metodevurdering .drop_circle {
    border: 1.3em solid #004e66;
  }
  .method_entrance .drop_wrapper .drop.beslutning .drop_triangle {
    border-left: 1.4em solid #6cb4b5;
  }
  .method_entrance .drop_wrapper .drop.beslutning .drop_circle {
    border: 1.3em solid #6cb4b5;
  }
  .method_entrance .drop_wrapper .drop.implementering .drop_triangle {
    border-left: 1.4em solid #df9922;
  }
  .method_entrance .drop_wrapper .drop.implementering .drop_circle {
    border: 1.3em solid #df9922;
  }
  .method_entrance .drop_wrapper .drop .drop_triangle {
    border: 1.4em solid transparent;
    left: 1.7em;
  }
  .method_entrance .drop_wrapper .drop .drop_number {
    top: 15px;
    left: 17px;
    font-size: 32px;
  }
  .method_entrance:hover {
    background: #aeaba8;
  }
  .method_entrance:hover .drop_wrapper .drop.oppstart .drop_triangle {
    border-left: 1.4em solid #01737c;
  }
  .method_entrance:hover .drop_wrapper .drop.oppstart .drop_circle {
    border: 1.3em solid #01737c;
  }
  .method_entrance:hover .drop_wrapper .drop.forslag .drop_triangle {
    border-left: 1.4em solid #8ca037;
  }
  .method_entrance:hover .drop_wrapper .drop.forslag .drop_circle {
    border: 1.3em solid #8ca037;
  }
  .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_triangle {
    border-left: 1.4em solid #002e41;
  }
  .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_circle {
    border: 1.3em solid #002e41;
  }
  .method_entrance:hover .drop_wrapper .drop.beslutning .drop_triangle {
    border-left: 1.4em solid #448c8a;
  }
  .method_entrance:hover .drop_wrapper .drop.beslutning .drop_circle {
    border: 1.3em solid #448c8a;
  }
  .method_entrance:hover .drop_wrapper .drop.implementering .drop_triangle {
    border-left: 1.4em solid #c98523;
  }
  .method_entrance:hover .drop_wrapper .drop.implementering .drop_circle {
    border: 1.3em solid #c98523;
  }
}
@media only screen and (max-width: 599px) {
  .wrapper_statusoppdateringer {
    background: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .wrapper_aktuelt {
    background: white;
    padding: 5px 0;
    margin-top: 10px;
  }
  .no-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mainentrance {
    margin: 10px 0;
  }
  h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 32px;
  }
  .drops {
    margin-bottom: 10px;
  }
  .news .ingress {
    font-size: 20px;
    line-height: 24px;
  }
  .wrapper_statusoppdateringer {
    background: #f2f2f2;
    padding-bottom: 10px;
    padding-top: 5px;
  }
  .wrapper_aktuelt {
    background: white;
    padding: 5px 0;
    margin-top: 10px;
  }
  .wrapper_spesialisthelsetjenesten {
    background: white;
  }
  .wrapper_spesialisthelsetjenesten .container {
    background: white;
  }
  .wrapper_leverandorer {
    background: #f2f2f2;
    padding-bottom: 20px;
  }
  .wrapper_leverandorer .container {
    background: #f2f2f2;
  }
  .wrapper_pasienter {
    background: #f2f2f2;
  }
  .wrapper_pasienter .container {
    background: #f2f2f2;
  }
  .news h2 {
    margin-bottom: 15px;
  }
  .news h3 {
    margin-top: 15px;
  }
  .news .news_item {
    margin-bottom: 15px;
  }
  .news .internal-link {
    margin-top: 15px;
  }
  .entrancebutton span {
    width: 60px;
    height: 60px;
  }
  .entrancebutton span.sendforslag,
  .entrancebutton span.finnmetode {
    background-size: 28px;
  }
  .entrancebutton span.omsystemet {
    background-size: 32px;
  }
  .entrancebutton:hover span.sendforslag,
  .entrancebutton:hover span.finnmetode {
    background-size: 28px;
  }
  .entrancebutton:hover span.omsystemet {
    background-size: 32px;
  }
  .entrancebutton a h2 {
    margin-top: 23px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  h2 {
    margin-top: 0;
  }
  .drops,
  .news {
    margin-bottom: 50px;
  }
  #footer {
    padding-top: 10px;
  }
}
/*# sourceMappingURL=frontpage.css.map */