.method_entrance .drop_wrapper {
    display: inline-block;
    width: 100%;

    .drop > i {
        display: none !important;
    }

    .drop {
        width: 200px;
        height: 166px;

        &.forslag {
            background: url(../img/ikoner/draape_forslag.png) no-repeat;
        }

        &.metodevurdering {
            background: url(../img/ikoner/draape_metodevurdering.png) no-repeat;
        }

        &.beslutning {
            background: url(../img/ikoner/draape_beslutning.png) no-repeat;
        }

        &.implementering {
            background: url(../img/ikoner/draape_implementering.png) no-repeat;
        }
    }
}