@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

.shortcuts {
    position: absolute;
    top: 10px;
    left: 10px;

    ul {
        overflow: hidden;
        height: 0;

        li {
            list-style: none;
        }
    }

    a {
        position: absolute;
        top: -2013px;
        display: block;
        border-radius: 5px;

        &:focus {
            top: 10px;
        }
    }
}

.logo {
    display: block;
    height: 100px;

    &:hover {
        text-decoration: none;
    }

    p {
        color: #222;
        margin: 0;
        font-size: 18px;
        font-family: @fontSohoRegular;

        strong {
            font-size: 24px;
            line-height: 24px;
        }
    }
}

#header {
    background: white;
    padding-top: 10px;
}

#footer {
    padding-top: 50px;
}

.footerlinkswrapper {
    background: #838078;
    background-position: right;
    padding: 20px 0 50px 0;
    color: white;

    a, h4 {
        color: white;
    }
}

.links {
    margin-left: 20px;
    line-height: 74px;
}

.internal-link.arrow_right.loginlink {
    color: white;
    display: block;
    margin-top: 0;

    &:visited {
        color: white;
    }
}