.shortcuts {
  position: absolute;
  top: 10px;
  left: 10px;
}
.shortcuts ul {
  overflow: hidden;
  height: 0;
}
.shortcuts ul li {
  list-style: none;
}
.shortcuts a {
  position: absolute;
  top: -2013px;
  display: block;
  border-radius: 5px;
}
.shortcuts a:focus {
  top: 10px;
}
.logo {
  display: block;
  height: 100px;
  padding-top: 10px;
}
.logo:hover {
  text-decoration: none;
}
.logo span {
  font-family: "Soho Gothic W01 Light";
  display: block;
  font-size: 16px;
}
.logo span.highlight {
  text-transform: uppercase;
  color: #004e66;
  font-size: 22px;
}
#header {
  background: white;
  padding-top: 10px;
}
#footer {
  padding-top: 50px;
}
#footer .container {
  background: none;
}
.footerlinkswrapper {
  background: #ffffff url(../img/footer_illustrasjon.png) no-repeat;
  background-position: 80%;
  color: #222;
}
.footerlinkswrapper a,
.footerlinkswrapper h4 {
  color: #C63629;
}
.footerlinkswrapper a.internal-link,
.footerlinkswrapper h4.internal-link {
  background: url(../img/ikoner/intern_lenke_roed.svg) left no-repeat;
  background-size: 20px;
  font-size: 24px;
  font-family: "Soho Gothic W01 Regular";
}
.footerlinkswrapper h4 {
  margin-top: 38px;
}
.footerlinkswrapper .contact h5 {
  font-weight: bold;
  margin: 25px 0 0 0;
  color: #838078;
}
.footerlinkswrapper .contact p {
  margin-top: 0;
  color: #838078;
}
#header .container {
  background: white;
}
.internal-link.arrow_right.loginlink {
  color: white;
  display: block;
  margin-top: 0;
}
.internal-link.arrow_right.loginlink:visited {
  color: white;
}
.mainsearch {
  border: none;
  cursor: pointer;
  color: #004e66;
  padding-right: 27px;
  width: 170px;
}
.mainsearch::-webkit-input-placeholder {
  color: #004e66;
  text-align: left;
}
.mainsearch:-moz-placeholder {
  /* Firefox 18- */
  color: #004e66;
  text-align: left;
}
.mainsearch::-moz-placeholder {
  /* Firefox 19+ */
  color: #004e66;
  text-align: left;
}
.mainsearch:-ms-input-placeholder {
  color: #004e66;
  text-align: left;
}
.mainsearchcolumn {
  margin-top: 28px;
}
.mainsearchform {
  float: left;
  margin-top: 2px;
  height: 41px;
  /* max-width: 220px; */
  border: none;
  border-bottom: 1px solid #004e66;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;
  background: white;
}
.mainsearchform span {
  vertical-align: sub;
}
.mainsearchform button {
  border: none;
  background: none;
  width: 29px;
  padding: 0;
  vertical-align: middle;
}
.mainsearchform button img {
  width: 18px;
  vertical-align: middle;
}
.mainsearchform input {
  border: none;
  padding: 0;
  width: 170px;
  vertical-align: middle;
}
.searchform {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 41px;
  /* max-width: 220px; */
  border: none;
  border-bottom: 1px solid #004e66;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  padding-left: 5px;
  background: none;
}
.searchform span {
  vertical-align: sub;
}
.searchform button {
  border: none;
  background: none;
  width: 29px;
  padding: 0;
  vertical-align: middle;
}
.searchform button img {
  width: 18px;
  vertical-align: middle;
}
.searchform input {
  border: none;
  padding: 0;
  width: 170px;
  vertical-align: middle;
}
.masterheader .links {
  margin-left: 20px;
}
.masterheader .links span {
  vertical-align: sub;
}
.masterheader .links span a {
  color: #004e66;
  margin-right: 15px;
  vertical-align: sub;
}
.masterheader .links span a:focus {
  background: #004e66;
  color: white !important;
  outline: 0;
}
.masterheader .links span a:last-of-type {
  margin-right: 0;
}
.logoline .helsedirektoratet,
.logoline .kunnskapssenteret,
.logoline .legemiddelverk,
.logoline .helsemidt,
.logoline .helsenord,
.logoline .helsesoeroest,
.logoline .helsevest,
.logoline .straalevern {
  height: 25px;
  display: inline-block;
  margin: 90px 20px 45px 0;
}
.logoline .helsedirektoratet {
  background: url(../img/logoer/logo_hdir.png) no-repeat;
  background-size: 100%;
  width: 170px;
}
.logoline .kunnskapssenteret {
  background: url(../img/logoer/logo_KS.png) no-repeat;
  background-size: 100%;
  width: 158px;
}
.logoline .legemiddelverk {
  background: url(../img/logoer/logo_SLV.png) no-repeat;
  background-size: 100%;
  width: 134px;
}
.logoline .helsemidt {
  background: url(../img/logoer/logo_RHF_midt.png) no-repeat;
  background-size: 100%;
  width: 139px;
}
.logoline .helsenord {
  background: url(../img/logoer/logo_RHF_nord.png) no-repeat;
  background-size: 100%;
  width: 101px;
}
.logoline .helsesoeroest {
  background: url(../img/logoer/logo_RHF_sorost.png) no-repeat;
  background-size: 100%;
  width: 115px;
}
.logoline .helsevest {
  background: url(../img/logoer/logo_RHF_vest.png) no-repeat;
  background-size: 100%;
  width: 94px;
}
.logoline .straalevern {
  background: url(../img/logoer/Straalevernet.png) no-repeat;
  background-size: 100%;
  width: 84px;
  margin-right: 0;
}
.hidden-mobile {
  display: block;
}
@media only screen and (max-width: 600px) {
  .logo {
    height: auto;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .logoline {
    margin-top: 30px;
  }
  .logoline .helsedirektoratet,
  .logoline .kunnskapssenteret,
  .logoline .legemiddelverk,
  .logoline .helsemidt,
  .logoline .helsenord,
  .logoline .helsesoeroest,
  .logoline .helsevest,
  .logoline .straalevern {
    height: 25px;
    display: inline-block;
    margin: 20px 20px 20px 0;
  }
  .mainsearchform input {
    width: 150px;
  }
  .footerlinkswrapper {
    background: #ffffff url(../img/footer_illustrasjon.png) no-repeat;
    background-position: 80%;
    color: #222;
    background-size: cover;
  }
}
@media only screen and (max-width: 899px) {
  .menubutton {
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
    min-height: 40px;
    text-align: center;
  }
  .menubutton.mobile-search {
    display: inline-block;
    background: #004e66 url('../img/ikon_forstorrelsesglass_hvitt.svg') no-repeat;
    -moz-background-size: 30px;
    -o-background-size: 30px;
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: center;
    border-radius: 3px;
    margin-top: 31px;
  }
  .menubutton.mobile-search:focus {
    text-decoration: none;
    background-color: #0093a7;
    color: #004e66;
    border: solid 1px #004e66;
  }
  .menubutton.mobile-search:hover {
    background: #0093a7 url('../img/ikon_forstorrelsesglass_hvitt.svg') no-repeat;
    -moz-background-size: 30px;
    -o-background-size: 30px;
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: center;
    border-radius: 3px;
  }
  .menubutton.mobile-search.js-expanded {
    background: #0093a7;
    border-radius: 3px;
    padding-top: 6px;
  }
  .menubutton.mobile-search.js-expanded:before {
    font-family: "FontAwesome";
    content: '\f00d';
    font-size: 25px;
    color: white;
  }
  .hidden-mobile {
    display: none;
    padding: 10px;
  }
  .masterheader {
    margin: 10px 0 10px 0;
  }
  .mainsearchcolumn {
    float: none;
    margin-top: 0;
  }
  .mainsearchform {
    width: 100%;
    margin-bottom: 10px;
  }
  .mainsearchform input {
    width: 82%;
  }
}
/*# sourceMappingURL=masterpage.css.map */