.container .wrapper,
.container-fluid .wrapper {
  position: relative;
}
.container .wrapper .method_status,
.container-fluid .wrapper .method_status,
.container .wrapper .method_description,
.container-fluid .wrapper .method_description {
  background: #ffffff url(../images/placeholder.png);
  background-position: 10px 14px;
  background-repeat: no-repeat;
  border-left: 6px solid #a1bf37;
  margin-top: 30px;
  padding: 20px 0 60px 0;
  position: relative;
}
.container .wrapper .method_status h2,
.container-fluid .wrapper .method_status h2,
.container .wrapper .method_description h2,
.container-fluid .wrapper .method_description h2 {
  margin: 0 0 20px 30px;
}
.container .wrapper .method_status.blur,
.container-fluid .wrapper .method_status.blur,
.container .wrapper .method_description.blur,
.container-fluid .wrapper .method_description.blur {
  background: #dbdcdd;
}
.container .wrapper .method_status p,
.container-fluid .wrapper .method_status p,
.container .wrapper .method_description p,
.container-fluid .wrapper .method_description p {
  margin-left: 30px;
}
.container .wrapper .method_status p.text,
.container-fluid .wrapper .method_status p.text,
.container .wrapper .method_description p.text,
.container-fluid .wrapper .method_description p.text {
  margin-top: 20px;
  font-weight: bold;
}
.container .wrapper .method_status h3,
.container-fluid .wrapper .method_status h3,
.container .wrapper .method_description h3,
.container-fluid .wrapper .method_description h3 {
  margin: 40px 0 10px 30px;
}
.container .wrapper .method_status.beslutning,
.container-fluid .wrapper .method_status.beslutning,
.container .wrapper .method_description.beslutning,
.container-fluid .wrapper .method_description.beslutning {
  border-left: 6px solid #6cb4b5;
}
.container .wrapper .method_status.metodevurdering,
.container-fluid .wrapper .method_status.metodevurdering,
.container .wrapper .method_description.metodevurdering,
.container-fluid .wrapper .method_description.metodevurdering {
  border-left: 6px solid #004e66;
}
.container .wrapper .method_status.implementering,
.container-fluid .wrapper .method_status.implementering,
.container .wrapper .method_description.implementering,
.container-fluid .wrapper .method_description.implementering {
  border-left: 6px solid #df9922;
}
.container .wrapper .method_status .method_attribute_label,
.container-fluid .wrapper .method_status .method_attribute_label,
.container .wrapper .method_description .method_attribute_label,
.container-fluid .wrapper .method_description .method_attribute_label {
  width: 30%;
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 3px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Calibri';
  line-height: 22px;
}
.container .wrapper .method_status .method_attribute,
.container-fluid .wrapper .method_status .method_attribute,
.container .wrapper .method_description .method_attribute,
.container-fluid .wrapper .method_description .method_attribute {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  width: 58%;
  font-size: 18px;
  font-family: 'Calibri';
  line-height: 22px;
}
.container .wrapper .method_status.has-hidden-content,
.container-fluid .wrapper .method_status.has-hidden-content,
.container .wrapper .method_description.has-hidden-content,
.container-fluid .wrapper .method_description.has-hidden-content {
  cursor: pointer;
}
.container .wrapper .method_status.has-hidden-content h2:before,
.container-fluid .wrapper .method_status.has-hidden-content h2:before,
.container .wrapper .method_description.has-hidden-content h2:before,
.container-fluid .wrapper .method_description.has-hidden-content h2:before,
.container .wrapper .method_status.has-hidden-content h2.accordion:before,
.container-fluid .wrapper .method_status.has-hidden-content h2.accordion:before,
.container .wrapper .method_description.has-hidden-content h2.accordion:before,
.container-fluid .wrapper .method_description.has-hidden-content h2.accordion:before {
  content: " ";
  position: absolute;
  right: 40px;
  bottom: 15px;
  padding: 6px 9px;
  height: 25px;
  width: 25px;
  background: url(../images/ikoner/intern_lenke_mellomblaa.svg) no-repeat;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.6s;
}
.container .wrapper .method_status.has-hidden-content h3.accordion:before,
.container-fluid .wrapper .method_status.has-hidden-content h3.accordion:before,
.container .wrapper .method_description.has-hidden-content h3.accordion:before,
.container-fluid .wrapper .method_description.has-hidden-content h3.accordion:before {
  font-size: 30px;
}
.container .wrapper .method_status.has-visible-content,
.container-fluid .wrapper .method_status.has-visible-content,
.container .wrapper .method_description.has-visible-content,
.container-fluid .wrapper .method_description.has-visible-content {
  cursor: pointer;
}
.container .wrapper .method_status.has-visible-content h2:before,
.container-fluid .wrapper .method_status.has-visible-content h2:before,
.container .wrapper .method_description.has-visible-content h2:before,
.container-fluid .wrapper .method_description.has-visible-content h2:before,
.container .wrapper .method_status.has-visible-content h2.accordion:before,
.container-fluid .wrapper .method_status.has-visible-content h2.accordion:before,
.container .wrapper .method_description.has-visible-content h2.accordion:before,
.container-fluid .wrapper .method_description.has-visible-content h2.accordion:before {
  content: " ";
  position: absolute;
  right: 40px;
  bottom: 15px;
  padding: 6px 9px;
  height: 25px;
  width: 25px;
  background: url(../images/ikoner/intern_lenke_mellomblaa.svg) no-repeat;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: all 0.6s;
}
.container .wrapper .method_status.has-visible-content h2:focus,
.container-fluid .wrapper .method_status.has-visible-content h2:focus,
.container .wrapper .method_description.has-visible-content h2:focus,
.container-fluid .wrapper .method_description.has-visible-content h2:focus {
  outline: 5px auto #0093a7;
  outline-offset: -2px;
}
.container .wrapper .method_status.has-visible-content h3.accordion:before,
.container-fluid .wrapper .method_status.has-visible-content h3.accordion:before,
.container .wrapper .method_description.has-visible-content h3.accordion:before,
.container-fluid .wrapper .method_description.has-visible-content h3.accordion:before {
  font-size: 30px;
}
.container .wrapper .method_status .method_warning,
.container-fluid .wrapper .method_status .method_warning,
.container .wrapper .method_description .method_warning,
.container-fluid .wrapper .method_description .method_warning {
  color: white;
  margin-left: 30px;
}
.container .wrapper .method_status .method_warning .exclamation,
.container-fluid .wrapper .method_status .method_warning .exclamation,
.container .wrapper .method_description .method_warning .exclamation,
.container-fluid .wrapper .method_description .method_warning .exclamation {
  font-family: 'Calibri';
  font-size: 30px;
  float: left;
  background: #c63629;
  padding: 5px 15px;
  margin: 7px 67px 37px 51px;
  display: block;
  height: 40px;
  width: 40px;
}
.container .wrapper .method_status .method_warning p,
.container-fluid .wrapper .method_status .method_warning p,
.container .wrapper .method_description .method_warning p,
.container-fluid .wrapper .method_description .method_warning p {
  color: #222;
  width: 556px;
}
.container .wrapper .method_status .more_information,
.container-fluid .wrapper .method_status .more_information,
.container .wrapper .method_description .more_information,
.container-fluid .wrapper .method_description .more_information {
  width: 93%;
}
.container .wrapper .method_status.passive,
.container-fluid .wrapper .method_status.passive,
.container .wrapper .method_description.passive,
.container-fluid .wrapper .method_description.passive {
  border-left: 6px solid #838078;
  background: #dedddb;
  color: #222;
  padding: 13px 0;
}
.container .wrapper .method_status.passive h2,
.container-fluid .wrapper .method_status.passive h2,
.container .wrapper .method_description.passive h2,
.container-fluid .wrapper .method_description.passive h2,
.container .wrapper .method_status.passive p,
.container-fluid .wrapper .method_status.passive p,
.container .wrapper .method_description.passive p,
.container-fluid .wrapper .method_description.passive p {
  color: #222;
}
.container .wrapper .method_status.passive h2:before,
.container-fluid .wrapper .method_status.passive h2:before,
.container .wrapper .method_description.passive h2:before,
.container-fluid .wrapper .method_description.passive h2:before {
  display: none;
}
.container .wrapper .method_status .method_metadata,
.container-fluid .wrapper .method_status .method_metadata,
.container .wrapper .method_description .method_metadata,
.container-fluid .wrapper .method_description .method_metadata {
  padding-right: 30px;
}
.container .wrapper .method_description,
.container-fluid .wrapper .method_description {
  padding-bottom: 20px;
  border-left: 6px solid #004e66;
}
.container .wrapper .method_description button,
.container-fluid .wrapper .method_description button {
  margin: 20px 30px 0 30px;
  float: left;
}
.container .wrapper .method_description .module_message.date_small,
.container-fluid .wrapper .method_description .module_message.date_small {
  float: left;
  max-width: none;
  width: auto;
  border: none;
}
.container .wrapper .method_description .method_metadata p,
.container-fluid .wrapper .method_description .method_metadata p,
.container .wrapper .method_description .method_metadata .text,
.container-fluid .wrapper .method_description .method_metadata .text {
  padding-right: 35px;
}
.container .wrapper .informationicon,
.container-fluid .wrapper .informationicon {
  position: absolute;
  right: 45px;
  top: 13px;
  font-size: 31px;
  /* text-decoration: underline; */
  cursor: pointer;
  color: #0093a7;
  line-height: 20px;
  /* padding: 5px 12px; */
  display: block;
  height: 40px;
  width: 20px;
  padding: 16px;
}
.container .wrapper .informationicon.selected,
.container-fluid .wrapper .informationicon.selected {
  background: url(../images/ikon_lukk_kryss_mellomblaa.svg) no-repeat;
  background-size: 16px;
  background-position: 12px 3px;
  top: 31px;
  right: 44px;
  padding: 16px;
}
.container .wrapper .informationicon.explanation,
.container-fluid .wrapper .informationicon.explanation {
  font-size: 18px;
  width: 100px;
  text-decoration: underline;
  padding: 0;
  top: 30px;
}
.container .wrapper .informationicon.explanation.selected,
.container-fluid .wrapper .informationicon.explanation.selected {
  padding: 0;
  right: -30px;
}
.container .wrapper .method_evaluation,
.container-fluid .wrapper .method_evaluation {
  margin-top: 10px;
  padding: 30px 10px 20px 30px;
  background: #f2f2f2;
}
.container .wrapper .method_evaluation a,
.container-fluid .wrapper .method_evaluation a {
  color: #222;
}
.container .wrapper .method_evaluation .icon,
.container-fluid .wrapper .method_evaluation .icon {
  font-family: 'Calibri';
  font-size: 30px;
  float: left;
  color: white;
  background: #838078;
  padding: 5px 15px;
  margin: 7px 67px 37px 31px;
  display: block;
  height: 40px;
  width: 40px;
}
.container .wrapper .method_evaluation .information,
.container-fluid .wrapper .method_evaluation .information {
  float: left;
  width: 68%;
  margin-bottom: 15px;
}
.container .wrapper .method_evaluation .information p:first-of-type,
.container-fluid .wrapper .method_evaluation .information p:first-of-type {
  margin-top: 0;
}
@media only screen and (max-width: 1199px) {
  .container .wrapper .method_status .method_attribute_label,
  .container-fluid .wrapper .method_status .method_attribute_label,
  .container .wrapper .method_description .method_attribute_label,
  .container-fluid .wrapper .method_description .method_attribute_label {
    width: 38%;
  }
  .container .wrapper .method_status .method_attribute,
  .container-fluid .wrapper .method_status .method_attribute,
  .container .wrapper .method_description .method_attribute,
  .container-fluid .wrapper .method_description .method_attribute {
    width: 46%;
  }
}
@media only screen and (max-width: 599px) {
  .container h1,
  .container-fluid h1 {
    font-size: 27px;
    line-height: 33px;
  }
  .container .wrapper .informationicon,
  .container-fluid .wrapper .informationicon {
    right: 15px;
  }
  .container .wrapper .informationicon.selected,
  .container-fluid .wrapper .informationicon.selected {
    right: 15px;
    top: 25px;
  }
  .container .wrapper .method_status,
  .container-fluid .wrapper .method_status,
  .container .wrapper .method_description,
  .container-fluid .wrapper .method_description {
    padding-left: 0;
    margin-top: 22px;
  }
  .container .wrapper .method_status .method_attribute_label,
  .container-fluid .wrapper .method_status .method_attribute_label,
  .container .wrapper .method_description .method_attribute_label,
  .container-fluid .wrapper .method_description .method_attribute_label {
    width: 100%;
    margin-left: 15px;
  }
  .container .wrapper .method_status .method_attribute,
  .container-fluid .wrapper .method_status .method_attribute,
  .container .wrapper .method_description .method_attribute,
  .container-fluid .wrapper .method_description .method_attribute {
    margin-left: 15px;
    width: 100%;
  }
  .container .wrapper .method_status h2,
  .container-fluid .wrapper .method_status h2,
  .container .wrapper .method_description h2,
  .container-fluid .wrapper .method_description h2 {
    margin-left: 15px;
    font-size: 24px;
    line-height: 30px;
  }
  .container .wrapper .method_status .method_warning,
  .container-fluid .wrapper .method_status .method_warning,
  .container .wrapper .method_description .method_warning,
  .container-fluid .wrapper .method_description .method_warning {
    margin-left: 15px;
  }
  .container .wrapper .method_status .method_warning .exclamation,
  .container-fluid .wrapper .method_status .method_warning .exclamation,
  .container .wrapper .method_description .method_warning .exclamation,
  .container-fluid .wrapper .method_description .method_warning .exclamation {
    margin-left: 75px;
    margin-right: 20px;
  }
  .container .wrapper .method_status .method_warning p,
  .container-fluid .wrapper .method_status .method_warning p,
  .container .wrapper .method_description .method_warning p,
  .container-fluid .wrapper .method_description .method_warning p {
    width: 93%;
  }
  .container .wrapper .method_status p,
  .container-fluid .wrapper .method_status p,
  .container .wrapper .method_description p,
  .container-fluid .wrapper .method_description p {
    margin-top: 30px;
    margin-left: 15px;
  }
  .container .wrapper .method_status.has-hidden-content h2:before,
  .container-fluid .wrapper .method_status.has-hidden-content h2:before,
  .container .wrapper .method_status.has-hidden-content .accordion:before,
  .container-fluid .wrapper .method_status.has-hidden-content .accordion:before {
    right: 15px;
  }
  .container .wrapper .method_description.has-hidden-content h2:before,
  .container-fluid .wrapper .method_description.has-hidden-content h2:before,
  .container .wrapper .method_description.has-hidden-content .accordion:before,
  .container-fluid .wrapper .method_description.has-hidden-content .accordion:before {
    right: 15px;
  }
  .container .wrapper .method_status.has-visible-content h2:before,
  .container-fluid .wrapper .method_status.has-visible-content h2:before,
  .container .wrapper .method_status.has-visible-content .accordion:before,
  .container-fluid .wrapper .method_status.has-visible-content .accordion:before {
    right: 15px;
  }
  .container .wrapper .method_description.has-visible-content h2:before,
  .container-fluid .wrapper .method_description.has-visible-content h2:before,
  .container .wrapper .method_description.has-visible-content .accordion:before,
  .container-fluid .wrapper .method_description.has-visible-content .accordion:before {
    right: 15px;
  }
  .container .wrapper .method_evaluation .icon,
  .container-fluid .wrapper .method_evaluation .icon {
    display: none;
  }
  .container .wrapper .method_evaluation .information,
  .container-fluid .wrapper .method_evaluation .information {
    float: left;
    width: 100%;
  }
  .container .wrapper .method_evaluation,
  .container-fluid .wrapper .method_evaluation {
    padding: 0 0 10px 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .container .wrapper .method_status p,
  .container-fluid .wrapper .method_status p,
  .container .wrapper .method_description p,
  .container-fluid .wrapper .method_description p {
    margin-top: 30px;
  }
  .container .wrapper .informationicon,
  .container-fluid .wrapper .informationicon {
    right: 47px;
    top: 4px;
  }
  .container .wrapper .informationicon.selected,
  .container-fluid .wrapper .informationicon.selected {
    right: 45px;
    top: 20px;
  }
}
/*# sourceMappingURL=method.css.map */