.wrapper {
  position: relative;
}
.wrapper .method_status {
  background: #ffffff url(../img/placeholder.png);
  background-position: 10px 14px;
  background-repeat: no-repeat;
  border-left: 6px solid #a1bf37;
  margin-top: 30px;
  padding: 10px 0 60px 0;
  position: relative;
}
.wrapper .method_status h2 {
  margin: 0 0 20px 41px;
}
.wrapper .method_status.beslutning {
  border-left: 6px solid #6cb4b5;
}
.wrapper .method_status.metodevurdering {
  border-left: 6px solid #004e66;
}
.wrapper .method_status .method_attribute_label {
  width: 20%;
  float: left;
  margin-right: 10px;
  font-weight: bold;
  margin-left: 41px;
}
.wrapper .method_status .method_attribute {
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
  width: 60%;
}
.wrapper .method_status.has-hidden-content {
  cursor: pointer;
}
.wrapper .method_status.has-hidden-content h2:before,
.wrapper .method_status.has-hidden-content .accordion:before {
  content: "\f107";
  font-family: "FontAwesome";
  color: white;
  font-size: 35px;
  position: absolute;
  right: 40px;
  bottom: 10px;
  background: #004e66;
  padding: 0;
  padding: 6px 9px;
  line-height: 30px;
  height: 40px;
  width: 40px;
}
.wrapper .method_status.has-hidden-content h3.accordion:before {
  font-size: 30px;
}
.wrapper .method_status.has-visible-content {
  cursor: pointer;
}
.wrapper .method_status.has-visible-content h2:before,
.wrapper .method_status.has-visible-content .accordion:before {
  content: "\f106";
  font-family: "FontAwesome";
  color: white;
  font-size: 35px;
  position: absolute;
  right: 40px;
  bottom: 10px;
  background: #0093a7;
  padding: 0;
  padding: 6px 9px;
  line-height: 30px;
  height: 40px;
  width: 40px;
}
.wrapper .method_status.has-visible-content h3.accordion:before {
  font-size: 30px;
}
.wrapper .method_status .method_warning {
  color: white;
  margin-left: 41px;
}
.wrapper .method_status .method_warning .exclamation {
  font-family: 'Calibri';
  font-size: 30px;
  float: left;
  background: #c63629;
  padding: 5px 15px;
  margin: 7px 67px 37px 51px;
  display: block;
  height: 40px;
  width: 40px;
}
.wrapper .method_status .method_warning p {
  color: #222;
  width: 556px;
}
.wrapper .method_status .more_information {
  margin-left: 41px;
  width: 81%;
}
.wrapper .informationicon {
  position: absolute;
  right: 40px;
  top: 8px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background: #838078;
  line-height: 20px;
  padding: 5px 12px;
  display: block;
  height: 30px;
  width: 30px;
}
.wrapper .informationicon.selected {
  background: #838078;
  padding: 5px 5px;
  overflow: hidden;
}
.wrapper .informationicon.selected:before {
  content: "\f106";
  font-family: "FontAwesome";
  color: white;
  font-size: 30px;
  margin-right: 7px;
}
.wrapper .method_evaluation {
  margin-top: 10px;
  padding: 30px 10px 20px 41px;
  background: #f2f2f2;
}
.wrapper .method_evaluation a {
  color: #222;
}
.wrapper .method_evaluation .icon {
  font-family: 'Calibri';
  font-size: 30px;
  float: left;
  color: white;
  background: #838078;
  padding: 5px 15px;
  margin: 7px 67px 37px 51px;
  display: block;
  height: 40px;
  width: 40px;
}
.wrapper .method_evaluation .information {
  float: left;
  width: 64%;
}
.wrapper .method_evaluation .information p:first-of-type {
  margin-top: 0;
}
@media only screen and (max-width: 1199px) {
  .wrapper .method_status .method_attribute_label {
    width: 25%;
  }
}
@media only screen and (max-width: 599px) {
  h1 {
    font-size: 27px;
    line-height: 33px;
  }
  .wrapper .informationicon {
    right: 15px;
  }
  .wrapper .method_status {
    padding-left: 0;
  }
  .wrapper .method_status .method_attribute_label {
    width: 115px;
    margin-left: 10px;
  }
  .wrapper .method_status .method_attribute {
    margin-left: 10px;
    width: 67%;
  }
  .wrapper .method_status h2 {
    margin-left: 10px;
    font-size: 24px;
    line-height: 30px;
  }
  .wrapper .method_status .method_warning {
    margin-left: 10px;
  }
  .wrapper .method_status .method_warning .exclamation {
    margin-left: 75px;
    margin-right: 20px;
  }
  .wrapper .method_status .method_warning p {
    width: 93%;
  }
  .wrapper .method_status.has-hidden-content h2:before,
  .wrapper .method_status.has-hidden-content .accordion:before {
    right: 15px;
  }
  .wrapper .method_status.has-visible-content h2:before,
  .wrapper .method_status.has-visible-content .accordion:before {
    right: 15px;
  }
  .wrapper .method_evaluation .icon {
    display: none;
  }
  .wrapper .method_evaluation .information {
    float: left;
    width: 100%;
  }
  .wrapper .method_evaluation {
    padding: 0 0 0 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .wrapper .method_status {
    padding: 10px 40px 30px 15px;
  }
}
/*# sourceMappingURL=method.css.map */