@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.wrapper {
    position: relative;

    .method_status {
        background: white url(../img/placeholder.png);
        background-position: 10px 14px;
        background-repeat: no-repeat;
        border-left: 6px solid @colorDarkBlue;
        margin-top: 30px;
        padding: 10px 40px 30px 70px;
        position: relative;

        h2 {
            margin: 0 0 20px 0;

            &.blur {
                color: #aeaba8;
            }
        }

        .method_attribute_label {
            width: 20%;
            float: left;
            margin-right: 10px;
            font-weight: bold;
        }

        .method_attribute {
            margin-bottom: 10px;
        }

        &.has-hidden-content {
            cursor: pointer;

            h2:before, .accordion:before {
                content: "\f107";
                font-family: "FontAwesome";
                color: white;
                font-size: 30px;
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: #004e66;
                padding: 0;
                padding: 0 5px;
                line-height: 30px;
            }

            h3.accordion:before {
                font-size: 30px;
            }
        }

        &.has-visible-content {
            cursor: pointer;

            h2:before, .accordion:before {
                content: "\f106";
                font-family: "FontAwesome";
                color: white;
                font-size: 30px;
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: #004e66;
                padding: 0;
                padding: 0 5px;
                line-height: 30px;
            }

            h3.accordion:before {
                font-size: 30px;
            }
        }

        .method_warning {
            color: white;

            .fa-exclamation {
                font-size: 20px;
                margin-right: 10px;
                float: left;
                background: red;
                padding: 10px 15px;
            }

            p {
                color: #222;
                padding-right: 30px;
            }
        }

        .more_information p a {
            text-decoration: underline;
        }
    }

    .fa-info {
        position: absolute;
        top: 9px;
        right: 11px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        background: #004e66;
        line-height: 20px;
        padding: 4px 11px;

        &.selected {
            background: @colorMediumBlue;
        }
    }

    .method_evaluation {
        margin-top: 10px;
        border: 1px solid #D7D6D6;
        padding: 30px 10px 20px 70px;

        a {
            text-decoration: underline;
            color: blue;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .wrapper .method_status .method_attribute_label {
        width: 25%;
    }
}

@media only screen and (max-width: 599px) {
    .wrapper {
        .method_status {
            .method_attribute_label {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:899px) {
    .wrapper {
        .method_status {
            padding: 10px 40px 30px 15px;
        }
    }
}