@media print {
    body {
        background: none;
    }

    .container, .container-fluid {
        .mainsearchform, .calltoaction, .module_print, #footer {
            display: none;
        }

        .aside {
            margin-top: 50px;
        }
    }
}