.container .warning,
.container-fluid .warning {
  color: #222;
  margin: 30px 0;
  padding: 10px 20px;
  background: #fcf8e3;
}
.container .phonenumber,
.container-fluid .phonenumber,
.container .email,
.container-fluid .email,
.container .zipcode,
.container-fluid .zipcode,
.container .location,
.container-fluid .location {
  width: 44%;
  float: left;
  margin-bottom: 20px;
}
.container .email,
.container-fluid .email,
.container .location,
.container-fluid .location {
  margin-left: 75px;
}
.container input,
.container-fluid input,
.container textarea,
.container-fluid textarea {
  width: 100%;
  background: white;
  color: #222;
}
.container textarea,
.container-fluid textarea {
  height: 120px;
}
.container .label_addition,
.container-fluid .label_addition {
  font-size: 18px;
  line-height: 22px;
}
.container label,
.container-fluid label {
  margin-top: 20px;
}
.container .form label,
.container-fluid .form label {
  display: block;
}
.container .form input,
.container-fluid .form input {
  margin-bottom: 20px;
  padding: 5px 10px;
}
.container .radiobuttongroup,
.container-fluid .radiobuttongroup {
  margin-top: 20px;
}
.container .radiobuttongroup label,
.container-fluid .radiobuttongroup label {
  margin: 0 30px 0 0;
  float: left;
}
.container .radiobuttongroup input,
.container-fluid .radiobuttongroup input {
  margin-right: 5px;
}
.container .radiobuttongroup legend,
.container-fluid .radiobuttongroup legend {
  margin-right: 100px;
}
.container input.radio,
.container-fluid input.radio {
  width: auto;
}
.container .checkbox input,
.container-fluid .checkbox input {
  width: auto;
  margin: 10px 10px 10px 0;
}
.container .checkbox label,
.container-fluid .checkbox label {
  display: inline;
  margin: 10px 0;
}
.container .calltoaction.send,
.container-fluid .calltoaction.send {
  display: inline-block;
  margin-left: 30px;
}
.container .calltoaction.send.disabled,
.container-fluid .calltoaction.send.disabled {
  color: #aeaba8;
  background-color: #f2f2f2;
}
.container .schema_header,
.container-fluid .schema_header {
  font-size: 36px;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
  margin: 35px 0 0 0;
  color: #004e66;
}
.container .navigate_forward,
.container-fluid .navigate_forward,
.container .navigate_back,
.container-fluid .navigate_back {
  margin-top: 30px;
}
.container .navigate_forward a:hover,
.container-fluid .navigate_forward a:hover,
.container .navigate_back a:hover,
.container-fluid .navigate_back a:hover {
  border-bottom: 1px solid #0093a7;
  text-decoration: none;
}
.container .navigate_forward a span,
.container-fluid .navigate_forward a span,
.container .navigate_back a span,
.container-fluid .navigate_back a span {
  font-size: 18px;
  color: #0093a7;
}
.container .navigate_forward a:focus span,
.container-fluid .navigate_forward a:focus span,
.container .navigate_back a:focus span,
.container-fluid .navigate_back a:focus span {
  color: white;
}
.container .navigate_forward,
.container-fluid .navigate_forward {
  background: url(../images/pil_nestesteg_nesteside_mellomblaa.svg) no-repeat;
  background-position: 100% 60%;
  background-size: 28px;
  padding-right: 36px;
}
.container .navigate_back,
.container-fluid .navigate_back {
  background: url(../images/pil_forrigesteg_forrigeside_mellomblaa.svg) no-repeat;
  background-position: 0 60%;
  background-size: 28px;
  padding-left: 36px;
}
.container .border,
.container-fluid .border {
  border-bottom: 1px solid #004e66;
}
.container input[type=tel],
.container-fluid input[type=tel] {
  width: 137px;
}
.container input[type=text],
.container-fluid input[type=text],
.container input[type=tel],
.container-fluid input[type=tel],
.container input[type=email],
.container-fluid input[type=email],
.container textarea,
.container-fluid textarea {
  outline: none;
  padding: 8px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
.container input[type=text]:focus,
.container-fluid input[type=text]:focus,
.container textarea:focus,
.container-fluid textarea:focus,
.container input[type=tel]:focus,
.container-fluid input[type=tel]:focus,
.container input[type=email]:focus,
.container-fluid input[type=email]:focus {
  box-shadow: 0 0 5px magenta;
  padding: 8px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid magenta;
}
.container input[type=text],
.container-fluid input[type=text],
.container textarea,
.container-fluid textarea,
.container input[type=radio],
.container-fluid input[type=radio],
.container input[type=checkbox],
.container-fluid input[type=checkbox] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.container input[type=text]:focus,
.container-fluid input[type=text]:focus,
.container textarea:focus,
.container-fluid textarea:focus,
.container input[type=radio]:focus,
.container-fluid input[type=radio]:focus,
.container input[type=checkbox]:focus,
.container-fluid input[type=checkbox]:focus {
  box-shadow: 0 0 5px magenta;
  border: 1px solid magenta;
}
.container .formbuttons,
.container-fluid .formbuttons {
  margin-top: -10px;
}
.container .breadcrumbs_schema,
.container-fluid .breadcrumbs_schema {
  margin-top: 20px;
  width: 100%;
}
.container .breadcrumbs_schema li,
.container-fluid .breadcrumbs_schema li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 32%;
  margin: 5px 1px 0 0;
  text-indent: 22px;
  position: relative;
}
.container .breadcrumbs_schema li:before,
.container-fluid .breadcrumbs_schema li:before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: -2px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #f7f6f6;
  z-index: 0;
}
.container .breadcrumbs_schema li:first-child:before,
.container-fluid .breadcrumbs_schema li:first-child:before {
  border-color: transparent;
}
.container .breadcrumbs_schema li a:after,
.container-fluid .breadcrumbs_schema li a:after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  right: -15px;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent #ccc;
  z-index: 10;
}
.container .breadcrumbs_schema li.active a,
.container-fluid .breadcrumbs_schema li.active a {
  background: #004e66;
  z-index: 100;
  color: white;
}
.container .breadcrumbs_schema li.active a:after,
.container-fluid .breadcrumbs_schema li.active a:after {
  border-left-color: #004e66;
}
.container .breadcrumbs_schema li a,
.container-fluid .breadcrumbs_schema li a {
  display: block;
  background: #ccc;
  line-height: 30px;
  color: #222;
}
.container .breadcrumbs_schema li a:hover,
.container-fluid .breadcrumbs_schema li a:hover {
  background: #0093a7;
  color: white;
}
.container .breadcrumbs_schema li a:hover:after,
.container-fluid .breadcrumbs_schema li a:hover:after {
  border-color: transparent transparent transparent #0093a7;
}
.container .method_entrance,
.container-fluid .method_entrance {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 20px 0 10px 0;
}
.container .method_entrance:last-of-type,
.container-fluid .method_entrance:last-of-type {
  margin-right: 0;
}
.container .method_entrance h3,
.container-fluid .method_entrance h3 {
  margin-top: 0;
  font-size: 18px;
  border: none;
}
.container .method_entrance h3.selected,
.container-fluid .method_entrance h3.selected {
  border-bottom: 4px solid #838078;
}
.container .method_entrance .drop_wrapper .drop,
.container-fluid .method_entrance .drop_wrapper .drop {
  position: relative;
  display: block;
  width: 97px;
  height: 95px;
  margin: auto;
}
.container .method_entrance .drop_wrapper .drop.oppstart.selected .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.oppstart.selected .drop_triangle {
  border-left: 2.1em solid #0093a7;
}
.container .method_entrance .drop_wrapper .drop.oppstart.selected .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.oppstart.selected .drop_circle {
  border: 2em solid #0093a7;
}
.container .method_entrance .drop_wrapper .drop.forslag.selected .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.forslag.selected .drop_triangle {
  border-left: 2.1em solid #a1bf17;
}
.container .method_entrance .drop_wrapper .drop.forslag.selected .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.forslag.selected .drop_circle {
  border: 2em solid #a1bf17;
}
.container .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_triangle {
  border-left: 2.1em solid #004e66;
}
.container .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_circle {
  border: 2em solid #004e66;
}
.container .method_entrance .drop_wrapper .drop.beslutning.selected .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.beslutning.selected .drop_triangle {
  border-left: 2.1em solid #6cb4b5;
}
.container .method_entrance .drop_wrapper .drop.beslutning.selected .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.beslutning.selected .drop_circle {
  border: 2em solid #6cb4b5;
}
.container .method_entrance .drop_wrapper .drop.implementering.selected .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.implementering.selected .drop_triangle {
  border-left: 2.1em solid #df9922;
}
.container .method_entrance .drop_wrapper .drop.implementering.selected .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.implementering.selected .drop_circle {
  border: 2em solid #df9922;
}
.container .method_entrance .drop_wrapper .drop.oppstart .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.oppstart .drop_triangle,
.container .method_entrance .drop_wrapper .drop.forslag .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.forslag .drop_triangle,
.container .method_entrance .drop_wrapper .drop.metodevurdering .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.metodevurdering .drop_triangle,
.container .method_entrance .drop_wrapper .drop.beslutning .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.beslutning .drop_triangle,
.container .method_entrance .drop_wrapper .drop.implementering .drop_triangle,
.container-fluid .method_entrance .drop_wrapper .drop.implementering .drop_triangle {
  border: 2.1em solid transparent;
  left: 2.7em;
  border-left: 2.1em solid #aeaba8;
}
.container .method_entrance .drop_wrapper .drop.oppstart .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.oppstart .drop_circle,
.container .method_entrance .drop_wrapper .drop.forslag .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.forslag .drop_circle,
.container .method_entrance .drop_wrapper .drop.metodevurdering .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.metodevurdering .drop_circle,
.container .method_entrance .drop_wrapper .drop.beslutning .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.beslutning .drop_circle,
.container .method_entrance .drop_wrapper .drop.implementering .drop_circle,
.container-fluid .method_entrance .drop_wrapper .drop.implementering .drop_circle {
  border: 2em solid #aeaba8;
}
.container .method_entrance .drop_wrapper .drop .drop_number,
.container-fluid .method_entrance .drop_wrapper .drop .drop_number {
  top: 30px;
  left: 28px;
  font-size: 50px;
}
.container .method_entrance:hover .drop_wrapper .drop.oppstart .drop_triangle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.oppstart .drop_triangle {
  border-left: 2.1em solid #01737c;
}
.container .method_entrance:hover .drop_wrapper .drop.oppstart .drop_circle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.oppstart .drop_circle {
  border: 2em solid #01737c;
}
.container .method_entrance:hover .drop_wrapper .drop.forslag .drop_triangle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.forslag .drop_triangle {
  border-left: 2.1em solid #8ca037;
}
.container .method_entrance:hover .drop_wrapper .drop.forslag .drop_circle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.forslag .drop_circle {
  border: 2em solid #8ca037;
}
.container .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_triangle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_triangle {
  border-left: 2.1em solid #002e41;
}
.container .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_circle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_circle {
  border: 2em solid #002e41;
}
.container .method_entrance:hover .drop_wrapper .drop.beslutning .drop_triangle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.beslutning .drop_triangle {
  border-left: 2.1em solid #448c8a;
}
.container .method_entrance:hover .drop_wrapper .drop.beslutning .drop_circle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.beslutning .drop_circle {
  border: 2em solid #448c8a;
}
.container .method_entrance:hover .drop_wrapper .drop.implementering .drop_triangle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.implementering .drop_triangle {
  border-left: 2.1em solid #c98523;
}
.container .method_entrance:hover .drop_wrapper .drop.implementering .drop_circle,
.container-fluid .method_entrance:hover .drop_wrapper .drop.implementering .drop_circle {
  border: 2em solid #c98523;
}
@media only screen and (max-width: 1199px) {
  .container .breadcrumbs_schema li,
  .container-fluid .breadcrumbs_schema li {
    width: auto;
    text-indent: 30px;
  }
  .container .phonenumber,
  .container-fluid .phonenumber,
  .container .email,
  .container-fluid .email,
  .container .zipcode,
  .container-fluid .zipcode,
  .container .location,
  .container-fluid .location {
    width: auto;
    float: none;
    margin-left: 0;
  }
}
@media only screen and (max-width: 599px) {
  .container .method_entrance,
  .container-fluid .method_entrance {
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 25%;
  }
  .container .method_entrance .heading_wrapper,
  .container-fluid .method_entrance .heading_wrapper {
    width: auto;
    margin: 0;
  }
  .container .method_entrance .heading_wrapper h3,
  .container-fluid .method_entrance .heading_wrapper h3 {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  .container .method_entrance .drop_wrapper,
  .container-fluid .method_entrance .drop_wrapper {
    height: 15px;
  }
  .container .navigate_forward,
  .container-fluid .navigate_forward,
  .container .navigate_back,
  .container-fluid .navigate_back {
    margin: 30px 0 0 0;
  }
}
@media only screen and (max-width: 899px) {
  .container label,
  .container-fluid label {
    margin-top: 0;
  }
  .container h1,
  .container-fluid h1 {
    font-size: 22px;
  }
  .container .method_entrance,
  .container-fluid .method_entrance {
    margin-bottom: 0;
    float: left;
    width: 25%;
  }
  .container .method_entrance .heading_wrapper,
  .container-fluid .method_entrance .heading_wrapper {
    width: auto;
    margin: 0;
  }
  .container .method_entrance .heading_wrapper h3,
  .container-fluid .method_entrance .heading_wrapper h3 {
    text-align: left;
    border: none;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 2px;
  }
  .container .method_entrance .heading_wrapper h3.selected,
  .container-fluid .method_entrance .heading_wrapper h3.selected {
    border-bottom: 2px solid #838078;
  }
  .container .method_entrance .drop_wrapper,
  .container-fluid .method_entrance .drop_wrapper {
    width: 100%;
    float: left;
    margin: 0;
  }
  .container .method_entrance .drop_wrapper .drop,
  .container-fluid .method_entrance .drop_wrapper .drop {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 55px;
    margin: 0;
  }
  .container .method_entrance .drop_wrapper .drop.oppstart.selected .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.oppstart.selected .drop_triangle {
    border-left: 1.4em solid #0093a7;
  }
  .container .method_entrance .drop_wrapper .drop.oppstart.selected .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.oppstart.selected .drop_circle {
    border: 1.3em solid #0093a7;
  }
  .container .method_entrance .drop_wrapper .drop.forslag.selected .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.forslag.selected .drop_triangle {
    border-left: 1.4em solid #a1bf17;
  }
  .container .method_entrance .drop_wrapper .drop.forslag.selected .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.forslag.selected .drop_circle {
    border: 1.3em solid #a1bf17;
  }
  .container .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_triangle {
    border-left: 1.4em solid #004e66;
  }
  .container .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.metodevurdering.selected .drop_circle {
    border: 1.3em solid #004e66;
  }
  .container .method_entrance .drop_wrapper .drop.beslutning.selected .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.beslutning.selected .drop_triangle {
    border-left: 1.4em solid #6cb4b5;
  }
  .container .method_entrance .drop_wrapper .drop.beslutning.selected .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.beslutning.selected .drop_circle {
    border: 1.3em solid #6cb4b5;
  }
  .container .method_entrance .drop_wrapper .drop.implementering.selected .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.implementering.selected .drop_triangle {
    border-left: 1.4em solid #df9922;
  }
  .container .method_entrance .drop_wrapper .drop.implementering.selected .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.implementering.selected .drop_circle {
    border: 1.3em solid #df9922;
  }
  .container .method_entrance .drop_wrapper .drop .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop .drop_triangle {
    border: 1.4em solid transparent;
    left: 1.7em;
  }
  .container .method_entrance .drop_wrapper .drop .drop_number,
  .container-fluid .method_entrance .drop_wrapper .drop .drop_number {
    top: 15px;
    left: 17px;
    font-size: 32px;
  }
  .container .method_entrance .drop_wrapper .drop.oppstart .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.oppstart .drop_triangle,
  .container .method_entrance .drop_wrapper .drop.forslag .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.forslag .drop_triangle,
  .container .method_entrance .drop_wrapper .drop.metodevurdering .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.metodevurdering .drop_triangle,
  .container .method_entrance .drop_wrapper .drop.beslutning .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.beslutning .drop_triangle,
  .container .method_entrance .drop_wrapper .drop.implementering .drop_triangle,
  .container-fluid .method_entrance .drop_wrapper .drop.implementering .drop_triangle {
    border: 1.4em solid transparent;
    left: 1.7em;
    border-left: 1.4em solid #aeaba8;
  }
  .container .method_entrance .drop_wrapper .drop.oppstart .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.oppstart .drop_circle,
  .container .method_entrance .drop_wrapper .drop.forslag .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.forslag .drop_circle,
  .container .method_entrance .drop_wrapper .drop.metodevurdering .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.metodevurdering .drop_circle,
  .container .method_entrance .drop_wrapper .drop.beslutning .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.beslutning .drop_circle,
  .container .method_entrance .drop_wrapper .drop.implementering .drop_circle,
  .container-fluid .method_entrance .drop_wrapper .drop.implementering .drop_circle {
    border: 1.3em solid #aeaba8;
  }
  .container .method_entrance:hover .drop_wrapper .drop.oppstart .drop_triangle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.oppstart .drop_triangle {
    border-left: 1.4em solid #01737c;
  }
  .container .method_entrance:hover .drop_wrapper .drop.oppstart .drop_circle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.oppstart .drop_circle {
    border: 1.3em solid #01737c;
  }
  .container .method_entrance:hover .drop_wrapper .drop.forslag .drop_triangle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.forslag .drop_triangle {
    border-left: 1.4em solid #8ca037;
  }
  .container .method_entrance:hover .drop_wrapper .drop.forslag .drop_circle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.forslag .drop_circle {
    border: 1.3em solid #8ca037;
  }
  .container .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_triangle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_triangle {
    border-left: 1.4em solid #002e41;
  }
  .container .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_circle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.metodevurdering .drop_circle {
    border: 1.3em solid #002e41;
  }
  .container .method_entrance:hover .drop_wrapper .drop.beslutning .drop_triangle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.beslutning .drop_triangle {
    border-left: 1.4em solid #448c8a;
  }
  .container .method_entrance:hover .drop_wrapper .drop.beslutning .drop_circle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.beslutning .drop_circle {
    border: 1.3em solid #448c8a;
  }
  .container .method_entrance:hover .drop_wrapper .drop.implementering .drop_triangle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.implementering .drop_triangle {
    border-left: 1.4em solid #c98523;
  }
  .container .method_entrance:hover .drop_wrapper .drop.implementering .drop_circle,
  .container-fluid .method_entrance:hover .drop_wrapper .drop.implementering .drop_circle {
    border: 1.3em solid #c98523;
  }
}
/*# sourceMappingURL=skjema.css.map */