@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.warning {
    color: #222;
    margin: 30px 0;
    padding: 10px 20px;
    background: #fcf8e3;
}

.phonenumber, .email {
    width: 45%;
    float: left;
}

.email {
    margin-left: 75px;
}

input, textarea {
    width: 100%;
    background: white;
    color: #222;
}

textarea {
    height: 120px;
}

.label_addition {
    font-size: 18px;
    line-height: 22px;
}

label {
    margin-top: 20px;
}

.form {
    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}

.radiobuttongroup {
    margin-top: 20px;

    label {
        margin: 0 30px 0 0;
        float: left;
    }

    input {
        margin-right: 5px;
    }

    legend {
        margin-right: 100px;
    }
}

input.radio {
    width: auto;
}

.checkbox {
    input {
        width: auto;
        margin: 10px 20px 10px 0;
    }

    label {
        display: inline-block;
        margin: 10px 0;
    }
}

.calltoaction.send {
    display: inline-block;
    margin-left: 30px;
}

.method_navigation {
    margin-top: 30px;

    ol {
        margin-right: 50px;
    }
}

.schema_header {
    font-size: 36px;
    line-height: 42px;
    font-family: @fontSohoLight;
    margin: 35px 0 0 0;
    color: @colorDarkBlue;
}

.navigate_forward, .navigate_back {
    .fa {
        font-size: 21px;
    }

    .fa-angle-right {
        vertical-align: bottom;
    }
}

.border {
    border-bottom: 1px solid @colorDarkBlue;
}

@media only screen and (max-width: 599px) {
    label {
        margin-top: 0;
    }
}