@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.search {
    border: none;
    border-bottom: 1px solid #aeaba8;
    background-image: url('../img/ikoner/soek_ikon_graa.svg');
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    -moz-background-size: auto 68%;
    -o-background-size: auto 68%;
    -webkit-background-size: auto 68%;
    background-size: auto 68%;
    background-position: 97% 50%;
    background-position-x: 99%;
    background-position-y: 50%;
    cursor: pointer;
    color: #222;
    padding-right: 27px;
    padding-left: 0;
    margin-top: 50px;
    width: 50%;

    &::-webkit-input-placeholder {
        color: #222;
        text-align: left;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: #222;
        text-align: left;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: #222;
        text-align: left;
    }

    &:-ms-input-placeholder {
        color: #222;
        text-align: left;
    }
}

.resultnumber {
    color: #838078;
    text-transform: uppercase;
}

.transportsideknapp {
    background: white url(../img/pil_knapp_mellomblaa.svg) no-repeat;
    background-size: 45px;
    background-position: 96% 93%;
    margin-top: 50px;
    max-width: 685px;

    a, a:visited {
        display: inline-block;
        padding: 20px 30px 30px 30px;

        .status_information {
            float: left;
            width: 395px;
            margin: 24px 0 0 30px;

            .status_received {
                margin-right: 30px;
            }
        }

        .status {
            float: left;
            padding: 20px;
            width: 200px;
            margin-top: 30px;
            font-family: @fontSohoLight;
            font-size: 20px;
            color: #222;

            &.preparation {
                border-right: 4px solid purple;
            }

            &.evaluation {
                border-right: 4px solid green;
            }

            &.decided {
                border-right: 4px solid orange;
            }

            &.cancelled {
                border-right: 4px solid red;
            }
        }

        h2 {
            margin: 0 0 20px 0;
            color: #c63629;
            border-bottom: 3px dotted #c63629;
            padding-bottom: 5px;
            display: inline-block;

            &:hover {
                text-decoration: none;
            }
        }

        p {
            color: #838078;
        }

        &:hover {
            text-decoration: none;

            h2 {
                text-decoration: none;
            }
        }
    }
}

.drops {
    margin-top: 97px;
}

.borderbox {
    padding: 10px;
    border: 1px solid #222;
}

#footer {
    padding-top: 250px;
}

@media only screen and (max-width: 599px) {
    .search {
        width: auto;
        max-width: 300px;
    }

    .transportsideknapp a {
        padding-left: 0;

        .status_information {
            margin-left: 0;
            width: auto;
        }
    }
}

@media only screen and (max-width: 899px) {
    .drops {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 1199px) {
    .transportsideknapp a {
        .status_information {
            margin-left: 0;
            width: auto;
        }
    }
}