/*Styles for one single guideline*/

@mixin breakpoint($point) {
    @if $point == desktop-lg-under {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @if $point == desktop {
        @media (min-width: 993px) {
            @content;
        }
    }
    @else if $point == tablet {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $point == mobile {
        @media (max-width: 768px) {
            @content;
        }
    }
}
$fontCalibri: "Calibri";
$fontCalibriBold: "Calibri-Bold";
$fontSoho: "soho gothic pro medium";
$fontSohoLight: "Soho Gothic W01 Light";
$fontSohoRegular: "Soho Gothic W01 Regular";

$colorDarkBlue: #004e66;
$colorDarkBlueHover: #002e41;

$colorPurple: rgba(119, 67, 141, 0.89);
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorLightGray: #e7e7e6;
$blueText: #004e66;
$colorgrading-strong: #77438d;
$colorgrading-weak: #69b4b6;
$colorgrading-none: #aeaba8;
$colorgrading-blank: #ffffff;
#pageheader {
    background: $colorWhite;
    border-left: 19px solid $colorDarkBlue;
    color: $colorWhite;
    background: $colorPurple;
    background-image: url("../img/Livslinje-enkel-lilla.svg");
    background-repeat: no-repeat;
    background-size: 200% 60%;
    background-position: bottom;
    overflow: hidden;
    @include breakpoint("mobile") {
        border: none;
        margin: 0;
    }
    padding-bottom: 50px;
    .headerGroup {
         margin-left: -13px;
        @include breakpoint("mobile") {
            background: none;
        }

        h1 {
            font-weight: normal;
            font-size: 40px;
            font-family: $fontSohoLight;
            line-height: 48px;
            color: $colorWhite;
            
            padding-top: 0px;
            display: block;
            //position: relative;
            @include breakpoint("mobile") {
                padding-left: 15px;
                padding-right: 15px;
                color: #004e66;
                font-size: 36px;
            }
        }
        span {
            font-family: $fontSohoLight;
            //font-size: 18px;
            line-height: 22px;
            display: inline-block;
            @include breakpoint("mobile") {
                display: none;
            }
            margin-bottom: 30px;
        }
        li{
            margin-right: 30px;
            font-size: 18px;
            display: inline-block;
            span{
                font-size: 35px;
                margin-bottom: 5px;
                display: block;
            }
        }
        a.omRetningslinjen{
            position: absolute;
            right: 5%;
            top: 20%;
            color: #ffffff;
            font-size: 18px;
            &:before{
                color: #ffffff;
                display: block;
                background-color: rgba(255, 255, 255, 0.2);
                font-family: "FontAwesome";
                content: "\f129";
                text-align: center;
                width: 80px;
                padding: 25px 0;
                margin-left: 20px;
                font-size: 40px;
            }
        }
    }
}

form.retningslinjerSok{
    margin-top: 30px;
}

.innhold.subtitle{
    color: $blueText;
    text-transform: uppercase;
    font-family: "Calibri";
    font-size: 18px;
}

ul.guidelinelist{
    li{
        padding: 20px 30px;
        position: relative;
        margin-bottom: 20px;
        &:nth-child(odd){
            background-color: #eeeded;               
        }
        &:nth-child(even){
            background-color: #ffffff;
        }
        .sectioninformation{
            display: inline-block;
            position: absolute;
            right: 30px;
            top: 38%;
            //font-family: "FontAwesome";
            //font-size: 40px;
            //height: 20px;
            
            div {color: #aeabb3; font-size: 18px;}
            div > span{
                font-family: $fontSohoLight;
                color: #aeabb3;
                display: block;
                font-size: 30px;
                text-align: center;
            }
            img{
                width: 40px;
                margin-right: 30px;
            }
            }
    }
    h3{
        padding-right: 105px;
        margin-top: 0;
        color: #0093a7;
        span{
            display: block;
            color: $blueText;
            text-transform: uppercase;
            font-family: "Calibri";
            font-size: 18px;
        }
    }

}

/*hacking aside to fit with col-md-8 */
aside.retningslinjer.col-8{
    @media only screen and (min-width: 1200px){
        margin-right: -50%;
    }
    @media only screen and (max-width: 1199px) and (min-width: 950px){
        margin-right: -54%;
    }
    @media only screen and (max-width: 950px){
        margin-top: 0;
        margin-right: 0;
        position: relative;
        width: auto;
    }

}