/*Retningslinje forside. Liste over alle nasjonale faglige retningslinjer */
$blueText: #004e66;

#pageheader {
    margin-bottom: 30px;
}

ul.retningslinjer {
    li {
        background: #ffffff;
        padding: 30px;
        margin: 30px 0;
        h3 {
            margin-top: 0;
            margin-bottom: 15px;
        }
        &:first-child {
            margin-top: 10px;
        }
    }
}



span.number {
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    color: $blueText;
}

.avgrens {
    input[type="radio"]:focus + label {
        background: none;
        font-weight: bold;
        color: #000000;
    }
    input[type="radio"]:active + label {
        background: none;
        font-weight: bold;
        color: #000000;
    }
}