$fontCalibri: "Calibri";
$fontCalibriBold: "Calibri-Bold";
$fontSoho: "soho gothic pro medium";
$fontSohoLight: "Soho Gothic W01 Light";
$fontSohoRegular: "Soho Gothic W01 Regular";

$colorDarkBlue: #004e66;
$colorDarkBlueHover: #002e41;
$colorMediumBlue: #0093a7;
$colorMediumBlueHover: #006371;
$colorLightBlue: #6cb4b5;
$colorLightBlueHover: #4f8889;
$colorOrange: #df9922;
$colorOrangeHover: #b8811d;
$colorRed: #c63629;
$colorYellow: #f4d01e;
$colorYellowHover: #c7ad1c;
$colorDarkGray: #aeaba8;
$colorLightGray2: #dbdcdd;
$colorGreen: #a1bf37;
$colorGreenHover: #748f29;
$colorPurple: rgba(119, 67, 141, 0.89);
$colorWhite: #ffffff;
$colorBlack: #000000;

#pageheader {
    background: $colorWhite;
    border-left: 19px solid $colorDarkBlue;
    nav {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    .headerGroup {
        color: $colorWhite;
        background: $colorPurple;
        background-image: url("../img/Livslinje-enkel-lilla.svg");
        background-repeat: repeat-x;
        background-size: cover;
        overflow: hidden;
        h1 {
            color: $colorWhite;
            margin-top: 25px;
            padding-left: 30px;
            padding-top: 0px;
            padding-bottom: 45px;
            display: block;
            //position: relative;
       
        }
        span {
            font: $fontCalibri;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;
            display: inline-block;
            margin-left: 30px;
            margin-top: 30px;
        }
        .icon {
            display: block;
            font-family: $fontSoho;
            position: absolute;
            bottom: 0;
            right: 15px;
            cursor: pointer;
            padding: 3px 16px;
            background-color: rgba(255, 255, 255, 0.4);
            font-weight: bold;
        }
    }
}

.recommendation {

    .hidden {
        display: none;
    }

    padding: 0;
    background: $colorWhite;
    .header_wrapper {
        header.gradingStrong {
            border-left: 5px solid #77438d;
        }
        header.gradingWeak {
            border-left: 5px solid #69b4b6;
        }
        header.gradingNone {
            border-left: 5px solid #aeaba8;
        }
        header.gradingBlank {
            border-left: 5px solid #fffff1;
        }

        header {
            h2 {
                display: block;
                color: $colorDarkBlue;
                position: relative;
                padding-left: 45px;
                padding-bottom: 45px;
                padding-top: 30px;
                &:before {
                    position: absolute;
                    left: 15px;
                    content: "\f107";
                    font-family: "FontAwesome";
                    cursor: pointer;
                }
            }
        }
    }
    .text {
        margin-left: 50px;
        margin-right: 30px;

        /* Styling for EKG border  */
        .textContainer {
        	img.pulse {
        		top: 40px;
        	    position: absolute;
        	    left: -7px;
        	    height: 57px;
        	}
            &.gradingStrong {
                border-left: 2px solid #77438d;
            }
            &.gradingWeak {
                border-left: 2px solid #69b4b6;
            }
            &.gradingNone {
                border-left: 2px solid #aeaba8;
                img.pulse {
                	top:0px;
                }
            }
            &.gradingBlank {
                border-left: 2px solid #fffff1;
            }
            padding-left: 20px;
            padding-top: 0;

            img.pulse {
            	top: 40px;
                position: absolute;
                left: -7px;
                height: 57px;
            }

            /*Grading icon*/
            .icon{
            	margin-bottom: 10px;
            	display: inline-block;
            	font-family: $fontSoho;
            	font-size: 20px;
            	color: $colorWhite;
            	padding: 3px 16px;
            	font-weight: bold;
            	&.gradingStrong {
            	    background-color: #77438d;
            	}
            	&.gradingWeak {
            	    background-color: #69b4b6;
            	}
            	&.gradingNone {
            	    background-color: #aeaba8;
            	}
            }

            /*Grading text*/
            .recommendationstrength{
            	font-family: $fontCalibriBold;
            	text-transform: uppercase;
            	margin-left: 10px;
            	&.gradingStrong {
            	    color: #77438d;
            	}
            	&.gradingWeak {
            	    color: #69b4b6;
            	}
            }
        }
        /* Navigational tabs within recommendation */
        nav {
            margin-top: 45px;
            width: 100%;
            ul.tabnav {
                text-align: justify;
                li {
                    padding: 0 7px;
                    display: inline-block;
                    background-color: $colorLightGray2;
                    a {
                        font-size: 18px;
                        color: $colorBlack;
                    }
                }
                //Hack to make juistify work
                &:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                }
            }
        }

        .tab-content{
        	.tab-pane{
        		background-color: $colorLightGray2;
        		section.pico{
        			dl{
        				dt{
        					font-weight: bold;
        				}
        			}
        		}
        	}
        }
    }

    .closepane{
    	width: 100%;
    	height: 30px;
    	display: block;
    	i{
    		color: $colorWhite;
    		margin-left: 20px;
    		font-size: 28px;
    	}
    	&.gradingStrong {
    	    background-color: #77438d;
    	}
    	&.gradingWeak {
    	    background-color: #69b4b6;
    	}
    	&.gradingNone {
    	    background-color: #aeaba8;
    	}
    }
}