
$fontCalibri: "Calibri";
$fontCalibriBold: "Calibri-Bold";
$fontSoho: "soho gothic pro medium";
$fontSohoLight: "Soho Gothic W01 Light";
$fontSohoRegular: "Soho Gothic W01 Regular";

$colorDarkBlue: #004e66;
$colorDarkBlueHover: #002e41;
$colorDarkGray: #aeaba8;
$colorLightGray2: #dbdcdd;
$colorPurple: rgba(119, 67, 141, 0.89);
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorLightGray: #e7e7e6;

$colorgrading-strong: #77438d;
$colorgrafing-weak: #69b4b6;
$colorgrading-none: #aeaba8;
$colorgrading-blank: #ffffff;

   /* aside{
        @media screen (min-width: 1200px){
        margin-top: 
           .module_related{
            margin-top:
           }
        }
    }
}*/


#pageheader {
    background: $colorWhite;
    border-left: 19px solid $colorDarkBlue;
    nav {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    .headerGroup {
        color: $colorWhite;
        background: $colorPurple;
        background-image: url("../img/Livslinje-enkel-lilla.svg");
        background-repeat: repeat-x;
        background-size: cover;
        overflow: hidden;
        h1 {
            color: $colorWhite;
            margin-top: 25px;
            padding-left: 30px;
            padding-top: 0px;
            padding-bottom: 45px;
            display: block;
            //position: relative;
       
        }
        span {
            font: $fontCalibri;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;
            display: inline-block;
            margin-left: 30px;
            margin-top: 30px;
        }
        .icon {
            display: block;
            font-family: $fontSoho;
            position: absolute;
            bottom: 0;
            right: 15px;
            cursor: pointer;
            padding: 3px 16px;
            background-color: rgba(255, 255, 255, 0.4);
            font-weight: bold;
        }
    }
}

.recommendation {
    padding: 0;
    background: $colorWhite;

    dl dt{
        font-weight: bold;
    }

    @media (min-width: 768px){
        .dl-horizontal{
            width: 100%;
            overflow: auto;
            dt{
                float: left;
                //width: 160px;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            dd{
                margin-left: 120px;
                //float: left;
            }
        }
    }


    .header_wrapper {
        header.gradingStrong {
            border-left: 5px solid $colorgrading-strong;
        }
        header.gradingWeak {
            border-left: 5px solid $colorgrafing-weak;
        }
        header.gradingNone {
            border-left: 5px solid #aeaba8;
        }
        header.gradingBlank {
            border-left: 5px solid #fffff1;
        }
        header {
            h2 {
                margin-right: 30px;
                display: block;
                color: $colorDarkBlue;
                position: relative;
                padding-left: 45px;
                padding-bottom: 45px;
                padding-top: 30px;
                &:before {
                    position: absolute;
                    left: 15px;
                    content: "\f107";
                    font-family: "FontAwesome";
                    cursor: pointer;
                }
            }
        }
    }
    .text {

        /* Styling for EKG border  */
        .textContainer {
            margin-left: 50px;
            margin-right: 30px;
            padding-left: 20px;
            padding-top: 0;

            &.gradingStrong {
                border-left: 2px solid $colorgrading-strong;
            }
            &.gradingWeak {
                border-left: 2px solid $colorgrafing-weak;
            }
            &.gradingNone {
                border-left: 2px solid $colorgrading-none;
            }
            &.gradingBlank {
                border-left: 2px solid $colorgrading-blank;
            }

            .recommendation-text{
                max-width: 650px;
                margin-top: 15px;
            }
            
            img.pulse {
                top: 40px;
                position: absolute;
                left: 43px;
                height: 57px;
            }
            .recommendationexplanation {
                /*Grading icon*/
                .icon {
                    margin-bottom: 10px;
                    display: inline-block;
                    font-family: $fontSoho;
                    font-size: 20px;
                    color: $colorWhite;
                    padding: 3px 16px;
                    font-weight: bold;
                    cursor: pointer;
                    margin-bottom: 0;
                    &.gradingStrong {
                        background-color: $colorgrading-strong;
                    }
                    &.gradingWeak {
                        background-color: $colorgrafing-weak;
                    }
                    &.gradingNone {
                        background-color: $colorgrading-none;
                    }
                }
                /*Grading header*/
                .recommendationstrength {
                    cursor: pointer;
                    font-family: $fontCalibriBold;
                    text-transform: uppercase;
                    margin-left: 10px;
                    &.gradingStrong {
                        color: $colorgrading-strong;
                    }
                    &.gradingWeak {
                        color: $colorgrafing-weak;
                    }
                }
                /*Grading text*/
                .explainingtext{
                	margin-top: 0;
                	padding: 10px;
                	&.gradingStrong {
                	    background-color: #ded2e4;
                	}
                	&.gradingWeak {
                	    background-color: #c1dfdd;
                	}
                    p{
                        max-width: 650px;
                    }
                }
            }
        }
        /* Navigational tabs within recommendation */
        .tabs {
            margin-top: 45px;
            width: 100%;
            ul {
                margin-bottom: 30px;
                margin-left: 50px;
                margin-right: 30px;
                text-align: justify;
                .resp-tab-item {
                    $margin: 7px;
                    cursor: pointer;
                    padding: 2px 15px;
                    display: inline-block;
                    background-color: $colorLightGray;
                    margin-right: $margin;
                    &:last{
                        margin-right: 0px;
                        margin-left: $margin;
                    }
                    a {
                        font-size: 18px;
                        color: $colorBlack;
                    }

                    &.resp-tab-active{
                        background-color: #f6f6f6;
                        height: 40px;
                        font-weight: bold;
                    }
                }
                &.open{
                    margin-bottom: 0px;
                }
            }

            .resp-tabs-container{
                $border: 15px solid $colorWhite;
                border-left: $border;
                border-right: $border;
                border-bottom: $border;
                background-color: #f5f5f5;
                > div{
                    padding-top: 30px;
                    margin-left: 70px;
                    margin-right: 30px; 
                    padding-bottom: 30px;
                }
            }
            
        }

    }
    .closepane {
        width: 100%;
        height: 30px;
        display: block;
        i {
            color: $colorWhite;
            margin-left: 20px;
            font-size: 28px;
        }
        &.gradingStrong {
            background-color: $colorgrading-strong;
        }
        &.gradingWeak {
            background-color: $colorgrafing-weak;
        }
        &.gradingNone {
            background-color: $colorgrading-none;
        }
    }
}