.designcontainer {
    border: 3px dotted #ddd;
    margin-bottom: 48px;
    padding: 0 30px 30px 30px;

    .wrapper {
        margin-top: 2.0rem;
        margin-right: 2.0rem;
        margin-bottom: 2.0rem;
        width: 73px;
        float: left;
        text-align: center;
        text-align: -webkit-center;

        .farge {
            border-radius: 50px;
            height: 50px;
            width: 50px;
        }
    }
}

.container {
    .ingress {
        width: 100%;
    }
}