<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alkoholloven</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <nav>
                    <ol class="breadcrumbs clearfix">
                        <li><a href="forside.html">Forside</a></li>
                        <li class="active"><a href="transportside_loverogregler.html">Lover og regler</a></li>
                    </ol>
                </nav>

                <h1>Alkoholloven</h1>
                <div class="ingress">Loven regulerer kommunale og statlige bevillinger, fastsettelelse av vilkår for salg og skjenking av alkohol og kontroll med at vilkårene blir overholdt.</div>
                <section>
                    <h2>
                        Fortolkning av loven i rundskriv og veiledere
                    </h2>
                    <div>
                        <ul>
                            <li><a href="http://helsedirektoratet.no/publikasjoner/handbok-i-alkoholloven-mv/Sider/default.aspx">Håndbok i alkoholloven m.v. (Rundskriv)</a></li>
                            <li><a href="http://helsedirektoratet.no/publikasjoner/internkontroll-etter-alkoholloven---for-salgs-og-skjenkesteder/Sider/default.aspx">Internkontroll etter alkoholloven - for salgs- og skjenkesteder (Veileder)</a></li>
                        </ul>
                    </div>
                </section>

                <section>
                    <h2>Brev og uttalelser</h2>
                    <div>
                        <ul>
                            <li>
                                <a href="http://helsedirektoratet.no/lover-regler/alkoholloven/Documents/alkoholloven-tolkning-av-%C2%A7-1-10.pdf">Tolkning av alkoholloven § 1-10 første ledd, jf. § 1-6 </a>(2012, pdf)
                            </li>
                            <li>
                                <a href="http://helsedirektoratet.no/lover-regler/alkoholloven/Documents/alkoholloven-bransjeintern-pr%C3%B8vesmaking.pdf">Bransjeintern prøvesmaking og forholdet til alkoholloven </a>(2012, pdf)
                            </li>
                            <li>
                                <a href="http://helsedirektoratet.no/lover-regler/alkoholloven/Documents/alkoholforskriften-%C2%A7-4-6.pdf">Alkoholforskriften § 4-6 alkoholfrie/-svake alternativer til alkoholholdig drikk </a>(2011, pdf)
                            </li>
                        </ul>
                    </div>
                </section>

                <section class="sectionwithaside">
                    <h2>Om loven</h2>
                    <div>
                        <p>Lov om omsetning av alkoholholdig drikk mv. regulerer innførsel til, utførsel fra og omsetning av alkoholholdig drikk i Norge, samt forhold i tilknytning til slik aktivitet. Videre inneholder loven bestemmelser om anvendelse av alkohol i visse sammenhenger og særlige påbud og forbud knyttet til alkoholholdig drikk.</p>

                        <p>Loven regulerer tilgjengeligheten av alkoholholdig drikk, blant annet gjennom kommunale og statlige bevillinger, fastsettelse av vilkår for hvordan salg og skjenking skal skje og kontroll med at vilkårene blir overholdt. Loven inneholder også enkelte regler som tar sikte på å påvirke etterspørselen, blant annet aldersgrensebestemmelser og forbud mot alkoholreklame.</p>

                        <p>
                            Alkohollovens formål er i størst mulig utstrekning å begrense de samfunnsmessige og individuelle
                            skadene som alkoholbruk kan medføre, bl.a. ved å begrense forbruket av alkoholholdig drikk. Dette
                            gjøres dels ved å begrense antallet skjenkesteder og utsalgssteder gjennom et bevillingssystem, dels ved bruk av begrensede salgs- og skjenketider, dels ved hjelp av bestemte påbud og forbud og dels ved hjelp av lovbestemte aldersgrenser.
                        </p>

                        <div class="utvidbaroverskrift aside">
                            <h2>Alkoholloven på Lovdata</h2>

                            <ul>
                                <li>
                                    <a href="http://lovdata.no/dokument/NL/lov/1989-06-02-27">    Loven i fulltekst</a>
                                </li>
                                <li>
                                    <a href="http://lovdata.no/referanse/hjemmel?dokID=NL/lov/1989-06-02-27">Forskrifter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <!--legg inn innhold her-->
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>