<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artikkel</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <nav class="col-md-6">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li class="active"><a href="transportside_omoss.html">Om oss</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <article class="col-md-8 col-lg-8">
                <h1>Organisasjonskart</h1>
                <div class="ingress">
                    Helsedirektoratet har 30 avdelinger fordelt på 6 divisjoner.
                </div>

                <section class="organisasjonskart">
                    <h2 class="accordion">Helsedirektør og assisterende direktør</h2>
                    <div>
                        <div class="personmodul">
                            <img class="img-responsive direktoerfoto" src="../img/Bjorn_Guldvog_1.jpg" alt="Helsedirektør Bjørn Guldvog">
                            <p>Bjørn Guldvog</p>
                            <p>Direktør</p>
                            <p>Telefon: 974 57 585</p>
                            <p>jol@helsedir.no</p>
                        </div>
                        <div class="personmodul">
                            <img class="img-responsive direktoerfoto" src="../img/person_placeholder.png" alt="Assisterende helsedirektør ">
                            <p>
                                Ola Nordmann
                            </p>
                            <p>
                                Telefon: 974 57 585
                            </p>
                            <p>
                                jol@helsedir.no
                            </p>
                            <p>
                                Assisterende direktør
                            </p>
                        </div>
                    </div>
                </section>

                <p>Divisjoner og avdelinger</p>
                <section class="organisasjonskart">
                    <h2 class="accordion">Folkehelse</h2>
                    <div class="personmodul ">
                        <img class="img-responsive" src="../img/person_placeholder.png">
                        <p>
                            Ole Hansen<br />
                            Divisjonsdirektør<br /><br />
                            Telefon: 974 57 585<br />
                            jol@helsedir.no
                        </p>
                        <div class="organisasjonskart">
                            <h2 class="accordion">Forebygging i helsetjenesten</h2>
                            <div class="personmodul visuallyhidden">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="accordion">Oppvekst og aldring</h2>
                            <div class="personmodul ">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart ">
                            <h2 class="accordion">Global helse</h2>
                            <div class="personmodul ">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart ">
                            <h2 class="accordion">Levekår og helse</h2>
                            <div class="personmodul ">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart ">
                            <h2 class="accordion">Miljø og helse</h2>
                            <div class="">

                                <div class="personmodul">
                                    <img class="img-responsive" src="../img/person_placeholder.png">
                                    <p>
                                        Ole Hansen<br />
                                        Divisjonsdirektør<br /><br />
                                        Telefon: 974 57 585<br />
                                        jol@helsedir.no
                                    </p>
                                </div>
                                <h3>Ansvarsområder</h3>
                                <ul>
                                    <li>
                                        Klimaspørsmål
                                    </li>
                                    <li>
                                        Utvikle et nytt 10-årsprogram for astma, allergi og overfølsomhetsreaksjoner
                                    </li>
                                    <li>
                                        Fortolke, uvikle og veilede innenfor Folkehelseloven og miljørettet folkehelsearbeid.
                                    </li>
                                    <li>
                                        Koordinere og iverksette nasjonale strategier for å forebygge skader og ulykker, astma, allergi og inneklima
                                    </li>
                                    <li>
                                        Videreutvikle miljømedisinsk beredskap for kjemikalier, stråling og smittevern
                                    </li>
                                </ul>

                                <div class="personmodul">
                                    <h3>Kontaktperson</h3>
                                    <div class="stripes-outer">
                                        <div class="stripes cold left">
                                            <div class="left"></div>
                                            <div class="middle"></div>
                                            <div class="right"></div>
                                        </div>
                                        <img src="">
                                    </div>

                                    <p>
                                        Martin Martinsen<br />
                                        Rådgiver<br />
                                        Telefon: 974 57 585<br />
                                        martinmartinsen@helsedir.no
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="organisasjonskart ">
                    <h2 class="accordion">Helseøkonomi og finansiering</h2>
                    <div class="personmodul ">
                        <img class="img-responsive" src="../img/person_placeholder.png">
                        <p>
                            Ole Hansen<br />
                            Divisjonsdirektør<br /><br />
                            Telefon: 974 57 585<br />
                            jol@helsedir.no
                        </p>
                    </div>
                </section>
                <section class="organisasjonskart">
                    <h2 class="accordion">Spesialisthelsetjenester</h2>
                    <div class="personmodul ">
                        <img class="img-responsive" src="../img/person_placeholder.png">
                        <p>
                            Ole Hansen<br />
                            Divisjonsdirektør<br /><br />
                            Telefon: 974 57 585<br />
                            jol@helsedir.no
                        </p>
                    </div>
                </section>
                <section class="organisasjonskart ">
                    <h2 class="accordion">E-helse og IT</h2>
                    <div class="personmodul ">
                        <img class="img-responsive" src="../img/person_placeholder.png">
                        <p>
                            Ole Hansen<br />
                            Divisjonsdirektør<br /><br />
                            Telefon: 974 57 585<br />
                            jol@helsedir.no
                        </p>
                    </div>
                </section>
                <section class="organisasjonskart">
                    <h2 class="accordion">Primærhelsetjenester</h2>
                    <div class="personmodul ">
                        <img class="img-responsive" src="../img/person_placeholder.png">
                        <p>
                            Ole Hansen<br />
                            Divisjonsdirektør<br /><br />
                            Telefon: 974 57 585<br />
                            jol@helsedir.no
                        </p>
                    </div>
                </section>
                <section class="organisasjonskart ">
                    <h2 class="accordion">Administrasjon</h2>
                    <div class="personmodul ">
                        <img class="img-responsive" src="../img/person_placeholder.png">
                        <p>
                            Ole Hansen<br />
                            Divisjonsdirektør<br /><br />
                            Telefon: 974 57 585<br />
                            jol@helsedir.no
                        </p>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/accordion.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>