<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roller og oppgaver</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_omoss.html">Om oss</a></li>
                        </ol>
                    </nav>

                    <h1>Roller og oppgaver</h1>
                    <div class="ingress">
                        Helsedirektoratet er et fagdirektorat og myndighetsorgan underlagt Helse- og omsorgsdepartementet (HOD). Helsedirektoratet har også oppgaver fra Kommunal- og regionaldepartementet.
                    </div>
                    <div class="border"></div>
                </header>
                <section>
                    <p>
                        Vi skal fremme faktorer som gir god helse i befolkningen, redusere forskjellene i helse og levekår og bedre kvalitet i helse- og omsorgsektoren. Vi får oppgaver i tildelingsbrevet fra Helse- og omsorgsdepartementet.
                    </p>
                </section>
                <section>
                    <h2 class="accordion_mobile">Samfunnsoppdrag</h2>
                    <p>

                        Helsedirektoratet skal styrke hele befolkningens helse gjennom helhetlig og målrettet arbeid på tvers av tjenester, sektorer og forvaltningsnivå. Direktoratet skal gjøre dette med utgangspunkt i rollen som fagorgan, regelverksforvalter og iverksetter på helsepolitiske områder.
                    </p>
                </section>
                <section>
                    <h2 class="accordion_mobile">Rollene våre</h2>
                    <p>
                        Som faglig rådgiver har Helsedirektoratet ansvar for å følge med på forhold som påvirker folkehelsen og utviklingen i helse- og omsorgstjenestene. Direktoratet skal sammenstille kunnskap og erfaringer og opptre nasjonalt normerende på ulike områder. Vi er også et kompetanseorgan. I denne rollen er vi en selvstendig og uavhengig rådgiver.

                        Når vi iverksetter vedtatt politikk, utfører vi arbeid på vegne av regjering og
                        Storting. Dette kan for eksempel være å iverksette handlingsplaner og kampanjer, eller å tildele tilskudd med målsettingene Stortinget har satt.

                        Som forvalter har Helsedirektoratet ansvar for å bruke og å fortolke lover. Vi skal forvalte refusjonsordningene og regelverket vi gis myndighet til av Helse- og omsorgsdepartementet.
                    </p>
                </section>
                <section>
                    <h2 class="accordion_mobile">Visjon og verdier</h2>
                    <p>
                        Helsedirektoratets visjon er: God helse - gode liv. Det er dette vi arbeider for å oppnå.
                        Faglig styrke, åpenhet og samarbeid er verdiene våre. De skal prege alt vi gjør.
                    </p>                        <!---->
                </section>
                <section>
                    <h2 class="accordion_mobile">Helsedirektoratets rolle i helse-Norge</h2>
                    <div class="spennendeTall">
                        <p>figur</p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Fakt om Helsedirektoratet</h2>
                    <div>
                        <div class="spennendeTall">
                            <p><span style="font-size: 200%">800</span><br />ansatte</p>
                        </div>
                        <div class="spennendeTall">
                            <p><span style="font-size: 200%">50</span><br />avdelinger i Oslo og Trondheim</p>
                        </div>
                    </div>
                </section>
                <a href="artikkel_organisasjonskart.html">Organisasjonskart (alle avdelinger)</a>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>