<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Helse- og omsorgstjenesteloven</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_loverogregler.html">Lover og regler</a></li>
                        </ol>
                    </nav>
                    <h1>Helse- og omsorgstjenesteloven</h1>
                    <div class="border"></div>
                </header>

                <section>
                    <h2>
                        Fortolkning av loven i rundskriv og veiledere
                    </h2>
                    <ul class="linklist">
                        <li><a href="http://helsedirektoratet.no/publikasjoner/oppfolging-i-kommunene-av-personer-som-har-vert-berort-av-ulykker-og-katastrofer/Sider/default.aspx" class="internal-link aftertext">Oppfølging i kommunene av personer som har vært berørt av ulykker og katastrofer (rundskriv IS-4/2005)</a></li>
                        <li>
                            <a href="http://helsedirektoratet.no/publikasjoner/lov-om-sosiale-tjenester-kapittel-4a/Sider/default.aspx" class="internal-link aftertext">
                                Lov om sosiale tjenester kapittel 4A (rundskriv IS-10/2004)
                            </a>
                        </li>
                        <li><a href="http://helsedirektoratet.no/publikasjoner/barn-som-parorende/Sider/default.aspx" class="internal-link aftertext">Barn som pårørende (rundskriv IS-5/2010)</a></li>
                        <li><a href="http://helsedirektoratet.no/publikasjoner/barn-som-parorende/Sider/default.aspx" class="internal-link aftertext">Pasienter med CFS/ME: Utredning diagnostikk, behandling, pleie og omsorg (veileder IS-1944)</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Rundskriv fra helse- og omsorgsdepartementet</h2>

                    <ul class="linklist">
                        <li>
                            <a href="http://www.regjeringen.no/nb/dep/hod/dok/rundskriv/2013/i-62013-om-kommunenes-ansvar-ved-opphor-.html?id=736165" class="internal-link aftertext">
                                I-6/2013 Om kommunenes ansvar ved opphør av avtale med en annen kommune om kjøp av helse- og omsorgstjenester utenfor institusjon
                            </a>
                        </li>
                        <li><a href="http://www.regjeringen.no/nb/dep/hod/dok/rundskriv/2012/rundskriv-i-12013.html?id=710769" class="internal-link aftertext">Rundskriv I-1/2013 Endring av fribeløp og egenandeler for kommunale helse- og omsorgstjenester</a></li>
                        <li><a href="http://www.regjeringen.no/nb/dep/hod/dok/rundskriv/2009/i-62009-rett-til-egen-tros--og-livssynsu.html?id=587577" class="internal-link aftertext">I-6/2009 Rett til egen tros- og livssynsutøvelse</a></li>
                    </ul>
                </section>
                <section>
                    <h2>Brev og uttalelser</h2>
                    <ul class="linklist">
                        <li>
                            <a href="http://helsedirektoratet.no/lover-regler/helse-og-omsorgstjenesteloven/Documents/kap-3-2.pdf" class="internal-link aftertext">Rett til omsorgstjenester i mangel av annet dagtilbud. Svar til Fylkesmannen i Oslo og Akershus. (2013, pdf)</a>
                        </li>
                        <li><a href="http://helsedirektoratet.no/lover-regler/helse-og-omsorgstjenesteloven/Documents/kap-3-1.pdf" class="internal-link aftertext">Bransjeintern prøvesmaking og forholdet til alkoholloven (2012, pdf)</a></li>
                        <li><a href="http://helsedirektoratet.no/lover-regler/helse-og-omsorgstjenesteloven/Documents/kap-3-3.pdf" class="internal-link aftertext">Rettslig grunnlag for omsorgsbolig. Svar på privat henvendelse. (2013, pdf)</a></li>
                    </ul>
                </section>
                <section class="sectionwithaside">
                    <h2>Om loven</h2>
                    <div>

                        Helse- og omsorgstjenesteloven inneholder regler om kommunens overordnede ansvar for helse- og omsorgstjenester til alle som oppholder seg i kommunen. Den erstatter på dette området tidligere lov om sosiale tjenester og tidligere lov om helsetjenesten i kommunene. Reglene i helse- og omsorgstjenesteloven omhandler kommunens plikter; pasientenes og brukernes rettigheter til de samme tjenestene er regulert i pasient- og brukerrettighetsloven.

                        <p>Helse- og omsorgstjenesteloven inneholder blant annet regler om følgende:</p>
                        <h3>Kommunens ansvar for helse- og omsorgstjenester</h3>
                        <p>Loven pålegger kommunen å sørge for at personer som oppholder seg i kommunen tilbys nødvendige og forsvarlige helse- og omsorgstjenester. Kommunens ansvar omfatter alle pasient- og brukergrupper, herunder personer med somatisk eller psykisk sykdom, skade eller lidelse, rusmiddelproblemer, sosiale problemer eller nedsatt funksjonsevne. Kommunens ansvar er i loven regulert som et overordnet «sørge for-ansvar». I tillegg er enkelte særlig viktige tjenester nevnt i lovens kapittel 3, særlig § 3-2.</p>

                        <p>Også personer som kun oppholder seg midlertidig i en kommune, for eksempel i forbindelse med ferie eller som innsatt i fengsel, omfattes av kommunens ansvar. Varigheten av oppholdet vil kunne ha betydning for omfanget av kommunens ansvar.</p>

                        <p>For å kunne sørge for helse- og omsorgstjenester på en forsvarlig måte må kommune sette i verk systematiske tiltak som sikrer at virksomhetens aktiviteter planlegges, gjennomføres, evalueres og korrigeres i samsvar med krav fastsatt i relevante lover og forskrifter.</p>

                        <h3>Individuell plan og koordinator</h3>
                        <p>Loven pålegger kommunen å utarbeide en individuell plan for pasienter og brukere med behov for langvarige og koordinerte tjenester etter loven. Kommunen skal samarbeide med andre tjenesteytere om planen for å bidra til et helhetlig tilbud. Dersom en person har behov for tjenester fra både kommunen og spesialisthelsetjenesten, skal kommunen sørge for at det blir utarbeidet en individuell plan, og for at planarbeidet koordineres.</p>

                        <p>For pasienter og brukere med behov for langvarige og koordinerte tjenester etter helse- og omsorgstjenesteloven, skal kommunen tilby koordinator. Koordinatoren skal sørge for nødvendig oppfølging av den enkelte pasient eller bruker, samt sikre samordning av tjenestetilbudet og fremdrift i arbeidet med individuell plan. Kommunen skal tilby koordinator til pasienter og brukere med behov for langvarige og koordinerte tjenester, selv om de ikke ønsker individuell plan.</p>

                        <p>Kommunen skal ha en koordinerende enhet for habiliterings- og rehabiliteringsvirksomheten. Enheten skal ha overordnet ansvar for arbeidet med individuell plan, og for oppnevning, opplæring og veiledning av koordinator.</p>
                        <h3>Rettssikkerhet ved bruk av tvang og makt overfor enkelte personer med psykisk utviklingshemning</h3>
                        <p>Loven inneholder regler om vilkår, saksbehandling mv. ved behov for bruk av tvang og makt i tjenestene til personer med psykisk utviklingshemning. Som bruk av tvang eller makt regnes tiltak som brukeren eller pasienten motsetter seg, eller som er så inngripende at de uansett må regnes som bruk av tvang eller makt.</p>

                        <p>Tvang og makt kan bare brukes når det er faglig og etisk forsvarlig, tiltakene må ikke gå lenger enn det som er nødvendig for formålet, og kan bare brukes for å hindre eller begrense vesentlig skade. Andre løsninger skal være prøvd før det settes i verk tvangstiltak.</p>

                        <p>Vedtak om tvang og makt fattes av kommunen, og skal overprøves av Fylkesmannen før tiltaket kan settes i verk. Spesialisthelsetjenesten skal bistå kommunen i utformingen, gjennomføringen og evalueringen av tvangstiltak.</p>

                        <h3>Tvangstiltak overfor rusmiddelavhengige</h3>
                        <p>Loven inneholder regler om vilkår, saksbehandling mv. for tvangsmessig innleggelse og tilbakeholdelse i institusjon av rusmiddelavhengige personer som utsetter sin fysiske eller psykiske helse for fare ved omfattende og vedvarende misbruk av rusmidler. Andre hjelpetiltak må være vurdert som ikke tilstrekkelige.</p>

                        <p>Gravide rusmiddelavhengige kan uten eget samtykke tas inn på institusjon og holdes tilbake der i hele svangerskapet hvis rusmiddelmisbruket er av en slik art at det er overveiende sannsynlig at barnet vil bli født med skade, og dersom andre hjelpetiltak ikke er tilstrekkelig.</p>

                        <p>Vedtak om tilbakehold i institusjon skal treffes av Fylkesnemnda for barnevern og sosiale saker.</p>

                        <aside class="aside ">
                            <div class="module module_related">
                                <h5 class="module_header">Helse- og omsorgstjeneste-loven på Lovdata</h5>
                                <ul class="linklist">
                                    <li>
                                        <a href="http://lovdata.no/dokument/NL/lov/2011-06-24-30" class="external-link">    Loven i fulltekst</a>
                                    </li>
                                    <li>
                                        <a href="http://lovdata.no/referanse/hjemmel?dokID=NL/lov/2011-06-24-30" class="external-link">Forskrifter</a>
                                    </li>
                                </ul>
                                <img src="../img/modules/EKG-groenn.png" alt="" />
                            </div>
                        </aside>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>