<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rekrutteringsprosessen</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_jobbihelsedirektoratet.html">Jobb i Helsedirektoratet</a></li>
                        </ol>
                    </nav>
                    <h1>Rekrutteringsprosessen i Helsedirektoratet</h1>
                    <p class="ingress">
                        Hva skjer med søknaden din når du sender den inn.
                    </p>
                    <div class="border"></div>
                </header>

                <section class="sectionwithaside">
                    <p>
                        Alle våre ledige stillinger kunngjøres offentlig. Vi kan derfor ikke ta i mot åpne søknader.
                    </p>
                </section>

                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">
                        Søknad og intervju
                    </h2>
                    <div class="content">
                        <p>
                            Du søker på stillingen gjennom EasyCruit. Når du søker på en stilling i Helsedirektoratet får du umiddelbart en e-post med bekreftelse på at søknaden er mottatt.
                            Om å unnta søknaden fra offentlighet.
                            Når søknadsfristen er utløpt, kalles de best kvalifiserte søkerne inn til førstegangsintervju.  Dersom du inviteres til intervju, møter du vanligvis nærmeste leder til stillingen sammen med en medarbeider fra avdelingen og en ansatt som representerer søkeren. For de fleste stillinger vil det være to intervjurunder.
                            Ta vare på stillingsannonsen. Når søknadsfristen er gått ut, forsvinner utlysningsteksten fra nettet.
                        </p>
                    </div>
                    <aside class="aside">
                        <div class="module module_related">
                            <h5 class="module_header">Du er kanskje også interessert i:</h5>
                            <ul class="linklist">
                                <li>
                                    <a href="#" class="internal-link aftertext">Vår rekrutteringsprosess</a>
                                </li>
                                <li>
                                    <a href="#" class="internal-link aftertext">Hva vi tilbyr</a>
                                </li>
                            </ul>
                            <img class="pulse" src="../img/modules/EKG-groenn.png" alt="">
                        </div>
                    </aside>
                </section>

                <section>
                    <h2 class="accordion_mobile">
                        Valg av kandidat/ Innstilling
                    </h2>
                    <div class="content">
                        <p>
                            Etter intervjuerne og innhenting av referanser, sender lederen en innstilling til Helsedirektoratets tilsettingsråd med en begrunnet rangering av de søkerne som blir innstilt til stillingen. I tilsettingsrådet er både arbeidstakerne og arbeidsgiver representert og det er tilsettingsrådet som fatter det endelige vedtaket.
                        </p>
                    </div>
                </section>
                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">
                        Skriftlig tilbud
                    </h2>
                    <div class="content">
                        <p>
                            Helsedirektoratet sender et skriftlig tilbud om jobb til den søkeren som blir innstilt som nummer en. Vi ber vanligvis om svar innen én uke. Tar søkeren i mot tilbudet, undertegner begge parter en arbeidsavtale.
                        </p>
                    </div>
                    <aside class="aside">
                        <div class="module module_related">
                            <h5 class="module_header">Vi har et av Norges største IT-miljø</h5>

                            <video controls>
                                <source src="../video/movie.ogg" type="video/ogg">
                                <source src="../video/movie.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <p class="module_ingress">Møt Line, front-end-utvikler i Helsedirektoratet</p>
                            <img class="pulse" src="../img/modules/EKG-groenn.png" alt="">
                        </div>
                    </aside>
                </section>
                <section>
                    <h2 class="accordion_mobile">
                        Når stillingen er besatt / Utvidet søkerliste
                    </h2>
                    <div class="content">
                        <p>
                            Alle søkere underrettes når stillingen er besatt, med informasjon om hvem som er ansatt i stillingen.
                            Dersom du ønsker det, kan du få tilsendt utvidet søkerliste med opplysning om søkernes navn, alder, utdanning og praksis. For øvrig viser vi til nærmere regler om partenes innsyn i tilsettingssaker i Forskrift til forvaltningsloven (forvaltningslovforskriften).
                        </p>
                        <p>
                            Vi ønsker deg velkommen som søker!
                        </p>
                    </div>
                </section>
                <aside class="aside top">
                    <div class="module_person ">
                        <p class="module_description">Ansvarlig for denne siden</p>
                        <span><img src="../img/Lars_Erik_Pedersen.png"></span>
                        <span class="person_information">
                            <span class="name">Anne May Knudsen</span>
                            <span class="role">Beslutningsforum</span>
                            <span class="phone">975 92 815</span>
                            <span class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></span>
                        </span>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>