<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artikkel</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/tabs.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />


</head>

<body>
    <div class="headerGronn">
        <div class="headerBlaa"></div>
    </div>
    <div class="container">
        <header class="row">
            <div class="col-md-12 topplinje">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <img id="logo" src="../img/logo.svg"  />
                </div>
                <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2 menylinje">
                    <p class="pull-right">
                        <span>
                            <a href="#" class="js-expander">
                                Meny
                                <i class="fa fa-bars"></i>
                            </a>
                        </span>
                        <span>
                            |
                            <a href="#">
                                Søk
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                        <span class="hidden-xs hidden-sm">
                            |

                            <a href="#">Om oss</a>
                            |
                            <a href="#">English</a>
                        </span>
                    </p>
                </div>
            </div>

        </header>
    </div>
    <div class="dropdownWrapper js-expand">
        <div class="container">
            <div class="row">
                <div id="tabs">
                    <ul>
                        <li id="tabheading-1"><a href="#tabs-1">Kategorier</a></li>
                        <li id="tabheading-2"><a href="#tabs-2">A-Å</a></li>
                    </ul>
                    <div id="tabs-1" class="kollapslenker-tabs">
                        <div class="col-sm-3 col-md-4">
                            <div class=" toppmeny">
                                <ul id="nivaa1">
                                    <li><a href="#">Nasjonale strategier og planer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Folkehelse og forebygging<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Rapporter, brosjyrer og publikasjoner<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Helseøkonomi<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Medisinske retninglinjer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="toppmeny">
                                <ul id="nivaa2">
                                    <li><a href="#">Statistikk og analyse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Legemidler og medisisnk utstyr<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Beredskap<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Lover og rettigheter<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Høringer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="toppmeny">
                                <ul id="nivaa3">
                                    <li><a href="#">Kurs og konferanser<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Godkjenning og turnus<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Diagnoser og tilstander<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">eHelse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="tabs-2" class="kollapslenker-tabs"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <article class="row">
            <div class="col-md-7 col-lg-7">
                <section>
                    <h3>
                        Rundskriv og veiledere
                    </h3>
                    <ul class="nedlastingsLinker">
                        <li>
                            <a href="#">Helsepersonelloven med kommentarer. Rundksriv</a>
                            <p>
                                Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                            </p>
                        </li>
                        <li>
                            <a href="#">Helsetjenestens og politiets ansvar for psykisk syke. Rundskriv</a>
                            <p>
                                Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                Helsepersonells taushetsplikt. Vern av pasientens integritet i helsepersonells
                                samtaler med pasienten. Rundskriv
                            </a>
                            <p>
                                Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                            </p>
                        </li>
                        <li>
                            <a href="#">
                                Helsepersonells plikt og rett til å gi opplysninger til barneverntjenesten, politiet
                                og sosialtjenesten i saker som dreier seg om mishandling av barn i hjemmet. Veileder
                            </a>
                            <p>
                                Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                            </p>
                        </li>
                    </ul>
                </section>
                <section id="section2">

                    <div class="innholdswrapper js-toggler">
                        <h3>
                            Rundskriv og veiledere
                        </h3>
                        <ul class="nedlastingsLinker">
                            <li>
                                <a href="#">Helsepersonelloven med kommentarer. Rundksriv</a>
                                <p>
                                    Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                                </p>
                            </li>
                            <li>
                                <a href="#">Helsetjenestens og politiets ansvar for psykisk syke. Rundskriv</a>
                                <p>
                                    Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                                </p>
                            </li>
                            <li>
                                <a href="#">
                                    Helsepersonells taushetsplikt. Vern av pasientens integritet i helsepersonells
                                    samtaler med pasienten. Rundskriv
                                </a>
                                <p>
                                    Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                                </p>
                            </li>
                            <li>
                                <a href="#">
                                    Helsepersonells plikt og rett til å gi opplysninger til barneverntjenesten, politiet
                                    og sosialtjenesten i saker som dreier seg om mishandling av barn i hjemmet. Veileder
                                </a>
                                <p>
                                    Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="../img/last_ned.png" alt="nedlastingsknapp" />
                                </p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section id="section2">

                    <div class="innholdswrapper js-toggler">
                        <h3>
                            Kapittel 1 <br />Helsepersonell og helsehjelp
                        </h3>
                    </div>

                    <h4>Hvem gjelder loven for?</h4>

                    <p style="display: block">
                        Loven omfatter helsepersonell og virksomheter som yter helsehjelp.
                    </p>

                    <p style="display: block">
                        Loven gjelder all yrkesutøvelse der man opptrer i kraft av å være helsepersonell, uavhengig av hvilken profesjon
                        man tilhører, type helsehjelp man yter, hvilken del av helse- og omsorgstjenesten man arbeider i, om det er i
                        offentlig eller privat regi eller om arbeidet er fast eller leilighetsvis.
                    </p>

                    <p style="display: block">
                        Loven gjelder som utgangspunkt også andre enn autorisert helsepersonell så framt de yter helsehjelp i helse- og
                        omsorgstjenesten og apotek.
                    </p>

                    <p style="display: block">
                        Som hovedregel vil norsk helsepersonell som oppholder seg i og yter helsetjenester til pasienter som oppholder
                        seg i utlandet, ikke være omfattet av helsepersonelloven.
                    </p>

                    <p style="display: block">
                        Se mer i loven § 2 og merknadene til denne i rundskriv IS-2012.
                    </p>



                    <h4>Hvem er helsepersonell?</h4>

                    <p style="display: block">
                        Helsepersonell er for det første personell som har autorisasjon eller lisens etter reglene i helsepersonelloven
                        §§ 48-49. Videre regnes også andre som arbeider i helse- og omsorgstjenesten og apotek enn de som har
                        autorisasjon og lisens, som helsepersonell dersom de yter helsehjelp.
                    </p>

                    <p style="display: block">
                        Elever og studenter regnes som helsepersonell når de utfører helsehjelp i forbindelse med helsefaglig opplæring,
                        for eksempel i praksisperioder.
                    </p>

                    <p style="display: block">
                        Se mer i loven § 3 og merknadene til denne i rundskriv IS-2012.
                    </p>




                    <h4>Hva er helsehjelp?</h4>

                    <p style="display: block">
                        Med helsehjelp menes enhver handling som har forebyggende, diagnostisk, behandlende, helsebevarende,
                        rehabiliterende eller pleie og omsorgsformål og som utføres av helsepersonell. Nærmere om hva de enkelte
                        begrepene innebærer fremgår i merknadene til helsepersonelloven § 3 i rundskriv IS-2012.
                    </p>

                </section>

                <section>
                    <div class="innholdswrapper js-toggler">
                        <h3>
                            Kapittel 25 <br />Taushetsplikt
                        </h3>
                    </div>


                    <h4>Har helsepersonell taushetsplikt seg i mellom?</h4>

                    <p style="display: block">
                        Helsepersonell har som utgangspunkt taushetsplikt om alt de får vite om en pasients helse
                        eller personlige forhold. Taushetsplikten gjelder også helsepersonell imellom.
                        Unntak gjelder når samarbeidende personell må ha opplysninger for å kunne gi nødvendig og
                        forsvarlig helsehjelp.
                        Se helsepersonelloven § 25 og merknadene til denne i rundskriv IS-2012.
                    </p>

                    <h4>Når har helsepersonell opplysningsplikt til barneverntjenesten</h4>

                    <p style="display: block">
                        Helsepersonell har opplysningsplikt når de har mistanke om at et barn blir mishandlet, utsettes for
                        andre former for alvorlig omsorgssvikt eller dersom barnet har vist vedvarende og alvorlige
                        atferdsvansker.
                    </p>
                    <p style="display: block">

                        Opplysningsplikten inntrer også der det er mistanke om at et barn utsettes for alvorlige overgrep
                        fra andre enn sine nærmeste omsorgspersoner, og der man mistenker at barn kan bli utsatt for
                        kjønnslemlestelse.
                    </p>
                    <p style="display: block">

                        Det kreves ikke at helsepersonellet har sikker viten om mishandling eller omsorgssvikt, men det må
                        foreligge en begrunnet mistanke. Helsepersonellet bør så langt det er mulig og hensiktsmessig
                        informere foreldre og barn før opplysninger gis til barnevernet.
                    </p>
                    <p style="display: block">

                        Ytterligere informasjon om helsepersonells informasjonsplikt til barnevernet finnes i rundskriv
                        IS-17/2006 om helsepersonells plikt og rett til å gi opplysninger til barneverntjenesten, politiet
                        og sosialtjenesten ved mistanke om; mishandling av barn i hjemmet, andre former for alvorlig
                        omsorgssvikt, misbruk av rusmidler under graviditet.
                    </p>
                    <p style="display: block">

                        Se loven § 33 og merknadene til denne i rundskriv IS-2012.
                    </p>

                </section>
                <section id="section4">

                    <h3 class="utvidbarOverskrift js-expander">Om helsepersonelloven</h3>

                    <div class="utvidbarOverskrift js-expand">
                        Tekst
                    </div>
                    <ul>
                        <li>
                            <a href="#">Helsepersonelloven (Lovdata)</a>
                        </li>
                        <li>
                            <a href="#">Forskrifter (Lovdata)</a>
                        </li>
                    </ul>
                </section>

            </div>
            <div class="col-md-5 col-lg-4 col-lg-offset-1">
                <div class="kontaktModul">
                    <h3>Ansvarlig for denne siden</h3>
                    <div class="stripes-outer">
                        <div class="stripes cold left">
                            <div class="left"></div>
                            <div class="middle"></div>
                            <div class="right"></div>
                        </div>
                        <img src="../img/ansatt_bilde.png">
                    </div>

                    <p>
                        Martin Martinsen<br />
                        Rådgiver<br />
                        Telefon: 974 57 585<br />
                        martinmartinsen@helsedir.no
                    </p>
                </div>
            </div>
        </article>

    </div>

    <div class="container-fluid footerWrapper">
        <div class="container">
            <footer class="row">
                <div class="col-xs-7 col-xs-offset-5 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8">
                    <div class="abonneringsmodul">
                        <p>Abonner på innholdet på denne siden</p>
                        <a href="#"><i class="fa fa-envelope fa-lg"></i> E-post</a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i> RSS-strøm</a>
                    </div>
                </div>

            </footer>
        </div>
    </div>




    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/expand.js"></script>
    <script src="../js/tabsJQueryUI.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.js"></script>
</body>
</html>
