<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kostholdsråd</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="broedsmulesti clearfix">
            <li><a href="../">Forside</a></li>
            <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
            <li class="active"><a href="transportside_ernaering.html">Ernæring</a></li>
        </ol>
        <div class="row">
            <article class="col-md-8 col-lg-8">

                <h1>Kostholdsråd</h1>
                <div class="ingress">
                    Nye råd publisert i 2014....
                </div>
                <div class="veiledermodul">
                    <div class="innerDiv">
                        <p>Veileder</p>
                        <a href="#">
                            Kosthold, ernæring og fysisk aktivitet - Anbefalinger om kosthold, ernæring og fysisk aktivitet
                        </a>
                        <p>2014</p>
                    </div>
                </div>
                <section>
                    <h2>
                        1. Spis variert
                    </h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder mettet fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold.</li>
                        <li>Begrens inntaket av mat og drikke som har høyt energiinnhold og lite næring, som brus, godteri og snacks</li>
                        <li>Regelmessig fysisk aktivitet bidrar til å opprettholde kroppens energibalanse</li>
                    </ul>
                </section>
                <section class="avsnitt">
                    <h2>2. Hold energibalansen</h2>
                    <aside class="aside">
                        <h3>Mengde (%) tilstatt sukker i norsk kosthold</h3>
                        <img class="img-responsive" src="../img/statistikk_eksempel2.png" />
                        <a href="#">Flere tall og utvikling i norsk kosthold</a>
                    </aside>
                </section>

                <section>
                    <h2>
                        3. Spis fisk 2-3 ganger i uken
                    </h2>
                    <ul>
                        <li>En porsjon tilsvarer 100 gram, og kan for eksempel være en liten bolle med salat, en gulrot eller en middels stor frukt</li>
                        <li>Du kan bruke friske, hermetiske, frosne, og varmebehandlede grønnsaker, frukt og bær. Mulighetene er mange. Halvparten av "fem om dagen" bør være grønnsaker</li>
                        <li>Varier mellom ulike typer grønnsaker og frukt. Bruk gjerne tomater, løk, purre og hvitløk.</li>
                        <li>Poteter er ikke inkludert i "fem om dagen", men hører med i et variert kosthold. Poteter inneholder mer kostfiber, vitaminer og mineraler enn vanlig ris og pasta. Du bør helst velge kokte eller bakte poteter.</li>
                        <li>Belgvekster som bønner og linser, frø, krydder og urter inngår heller ikke i "fem om dagen". Disse har ofte et høyt innhold av næringsstoffer og hører med i et variert kosthold.</li>
                        <li>Spis gjerne en liten håndfull usaltede nøtter om dagen.</li>
                    </ul>
                </section>
                <section>
                    <h2>4. Spis grove kornprodukter</h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                    </ul>
                    <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                </section>
                <section>
                    <h2>5. Spis grove kornprodukter hver dag</h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                    </ul>
                    <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                </section>
                <section>
                    <h2>6. Velg magert kjøtt</h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                    </ul>
                    <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                </section>
                <section>
                    <h2>7. Begrens salt</h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                    </ul>
                    <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                </section>
                <section>
                    <h2>8. Spis grove kornprodukter hver dag</h2>

                    <ul>
                        <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                    </ul>
                    <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                </section>
                <section>
                    <h2>9. Velg vann som tørstedrikk</h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                    </ul>
                    <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                </section>
                <section class="avsnitt">
                    <h2>10. Vær fysisk aktiv i minst 30 min hver dag</h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                    </ul>
                    <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                    <aside class="aside retningslinjemodul">
                        <div class="innerDiv">
                            <p>Retningslinje</p>
                            <a href="#">
                                Forebygging, utredning og behandling av overvekt og fedme hos barn og unge
                            </a>
                            <p>2011</p>
                        </div>
                    </aside>
                </section>

                <p> <i class="fa fa-print"></i>Skriv ut kostholdsrådene </p>
                <div class="abonneringsmodul aside clearfix">
                    <h4>Få oppdateringer på denne siden</h4>
                    <div><i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a></div>
                    <div><i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a></div>
                </div>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>