<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artikkel</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <nav class="col-md-6">
                <ol class="broedsmulesti">
                    <li><a href="#">Forside</a></li>
                    <li><a href="#">Om helsedirektoratet</a></li>
                    <li class="active"><a href="#">Organisasjon</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <section class="col-md-12 col-lg-12">
                <h1>Organisasjonskart</h1>
                <div class="ingress">
                    Helsedirektoratet har 30 avdelinger fordelt på 6 divisjoner.
                </div>

                <div class="row">
                    <article class="col-xs-12 col-md-7 col-lg-7 ">
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Helsedirektør og assisterende direktør</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/Bjorn_Guldvog_1.jpg">
                                <p>
                                    Bjørn Guldvog<br />
                                    Direktør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <p>Divisjoner og avdelinger</p>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Folkehelse</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Forebygging i helsetjenesten</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Oppvekst og aldring</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Global helse</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Levekår og helse</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Miljø og helse</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                            <h3>Ansvarsområder</h3>
                            <ul>
                                <li>
                                    Klimaspørsmål
                                </li>
                                <li>
                                    Utvikle et nytt 10-årsprogram for astma, allergi og overfølsomhetsreaksjoner
                                </li>
                                <li>
                                    Fortolke, uvikle og veilede innenfor Folkehelseloven og miljørettet folkehelsearbeid.
                                </li>
                                <li>
                                    Koordinere og iverksette nasjonale strategier for å forebygge skader og ulykker, astma, allergi og inneklima
                                </li>
                                <li>
                                    Videreutvikle miljømedisinsk beredskap for kjemikalier, stråling og smittevern
                                </li>
                            </ul>

                            <div class="kontaktmodul">
                                <h3>Kontaktperson</h3>
                                <div class="stripes-outer">
                                    <div class="stripes cold left">
                                        <div class="left"></div>
                                        <div class="middle"></div>
                                        <div class="right"></div>
                                    </div>
                                    <img src="../img/ansatt_bilde.png">
                                </div>

                                <p>
                                    Martin Martinsen<br />
                                    Rådgiver<br />
                                    Telefon: 974 57 585<br />
                                    martinmartinsen@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Helseøkonomi og finansiering</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Spesialisthelsetjenester</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">E-helse og IT</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Primærhelsetjenester</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                        <div class="organisasjonskart">
                            <h2 class="js-toggler">Administrasjon</h2>
                            <div class="kontaktmodul">
                                <img class="img-responsive" src="../img/person_placeholder.png">
                                <p>
                                    Ole Hansen<br />
                                    Divisjonsdirektør<br /><br />
                                    Telefon: 974 57 585<br />
                                    jol@helsedir.no
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="row">
                    <article class="col-xs-7 col-md-7 col-lg-7"></article>
                    <aside class="col-xs-5 col-md-5 col-lg-4 col-lg-offset-1"></aside>
                </div>
            </section>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>