<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organisasjonen</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <nav class="col-md-6">
                <ol class="broedsmulesti">
                    <li><a href="../">Forside</a></li>
                    <li class="active"><a href="#">Om helsedirektoratet</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <article class="col-md-12 col-lg-12">
                <h1>Organisasjonen</h1>
                <div class="ingress">
                    Helsedirektoratet er eit fagdirektorat og myndigheitsorgan som har oppgåver frå Helse -og omsorgsdepartementet. Vår visjon er god helse - gode liv.
                </div>

                <div class="row">
                    <section class="col-xs-12 col-md-12 col-lg-12 ">
                        <h2>Ansvar og roller</h2>

                        <div class="organisasjonskart">
                            <h2 class="collapse">Faglig rådgiver</h2>
                        </div>

                        <div class="organisasjonskart">
                            <h2 class="collapse">Gjennomfører helsepolitikken</h2>
                        </div>

                        <div class="organisasjonskart">
                            <h2 class="collapse">Forvalter helselover</h2>
                        </div>

                        <div class="organisasjonskart">
                            <h2 class="collapse">Beredskap</h2>
                        </div>

                        <div class="organisasjonskart">
                            <h2 class="collapse">Representerer Norge i Verdens Helseorganisasjon</h2>
                        </div>

                        <h2>Helsedirektør</h2>
                        <div class="organisasjonskart">
                            <div class="kontaktmodul">
                                <figure>
                                    <img class="img-responsive" src="../img/Bjorn_Guldvog_1.jpg" alt="Helsedirektør Bjørn Guldvog">
                                    <figcaption>Bjørn Guldvog</figcaption>
                                </figure>
                                <p>
                                    Bjørn ble utnevt som helsedirektør desember 2012. Han har jobbet som assisterende helsedirektør siden 2004. Han er utdannet cand.med. fra Universitetet i Oslo i 1985 og har tidligere jobbet som fastlege, overlege og lege ved sykehus.
                                </p>
                            </div>
                        </div>

                        <h2>Helsedirektoratets rolle i helse-Norge</h2>
                        <div class="spennendeTall">
                            <p>figur</p>
                        </div>

                        <h2>Fakt om Helsedirektoratet</h2>
                        <div class="spennendeTall">
                            <p><span style="font-size: 200%">800</span><br />ansatte</p>
                        </div>
                        <div class="spennendeTall">
                            <p><span style="font-size: 200%">50</span><br />avdelinger i Oslo og Trondheim</p>
                        </div>
                    </section>
                </div>

                <div class="row">
                    <section class="col-xs-7 col-md-7 col-lg-7"></section>
                    <aside class="col-xs-5 col-md-5 col-lg-4 col-lg-offset-1"></aside>
                </div>
                <a href="artikkel_organisasjonskart.html">Organisasjonskart (alle avdelinger)</a>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/collapse.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>