<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roller og oppgaver</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <nav class="col-md-6">
                <ol class="broedsmulesti clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li class="active"><a href="transportside_omoss.html">Om oss</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <article class="col-md-8 col-lg-8">
                <h1>Roller og oppgaver</h1>
                <div class="ingress">
                    Helsedirektoratet er et fagdirektorat og myndighetsorgan underlagt Helse- og omsorgsdepartementet (HOD). Helsedirektoratet har også oppgaver fra Kommunal- og regionaldepartementet.
                </div>
                <p>
                    Vi skal fremme faktorer som gir god helse i befolkningen, redusere forskjellene i helse og levekår og bedre kvalitet i helse- og omsorgsektoren. Vi får oppgaver i tildelingsbrevet fra Helse- og omsorgsdepartementet.
                </p>
                <section>
                    <h2>Samfunnsoppdrag</h2>
                    <p>

                        Helsedirektoratet skal styrke hele befolkningens helse gjennom helhetlig og målrettet arbeid på tvers av tjenester, sektorer og forvaltningsnivå. Direktoratet skal gjøre dette med utgangspunkt i rollen som fagorgan, regelverksforvalter og iverksetter på helsepolitiske områder.
                    </p>
                </section>
                <section>
                    <h2>Rollene våre</h2>
                    <p>
                        Som faglig rådgiver har Helsedirektoratet ansvar for å følge med på forhold som påvirker folkehelsen og utviklingen i helse- og omsorgstjenestene. Direktoratet skal sammenstille kunnskap og erfaringer og opptre nasjonalt normerende på ulike områder. Vi er også et kompetanseorgan. I denne rollen er vi en selvstendig og uavhengig rådgiver.

                        Når vi iverksetter vedtatt politikk, utfører vi arbeid på vegne av regjering og
                        Storting. Dette kan for eksempel være å iverksette handlingsplaner og kampanjer, eller å tildele tilskudd med målsettingene Stortinget har satt.

                        Som forvalter har Helsedirektoratet ansvar for å bruke og å fortolke lover. Vi skal forvalte refusjonsordningene og regelverket vi gis myndighet til av Helse- og omsorgsdepartementet.
                    </p>
                </section>
                <section>
                    <h2>Visjon og verdier</h2>
                    <p>
                        Helsedirektoratets visjon er: God helse - gode liv. Det er dette vi arbeider for å oppnå.
                        Faglig styrke, åpenhet og samarbeid er verdiene våre. De skal prege alt vi gjør.
                    </p>                        <!---->
                    <!--                        <h2>Helsedirektør</h2>-->
                    <!--                        <div class="organisasjonskart">-->
                    <!--                            <div class="personmodul">-->
                    <!--                                <figure>-->
                    <!--                                    <img class="img-responsive" src="../img/Bjorn_Guldvog_1.jpg" alt="Helsedirektør Bjørn Guldvog">-->
                    <!--                                    <figcaption>Bjørn Guldvog</figcaption>-->
                    <!--                                </figure>-->
                    <!--                                <p>-->
                    <!--                                    Bjørn ble utnevt som helsedirektør desember 2012. Han har jobbet som assisterende helsedirektør siden 2004. Han er utdannet cand.med. fra Universitetet i Oslo i 1985 og har tidligere jobbet som fastlege, overlege og lege ved sykehus.-->
                    <!--                                </p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                </section>
                <section>
                    <h2>Helsedirektoratets rolle i helse-Norge</h2>
                    <div class="spennendeTall">
                        <p>figur</p>
                    </div>
                </section>
                <section>
                    <h2>Fakt om Helsedirektoratet</h2>
                    <div>
                        <div class="spennendeTall">
                            <p><span style="font-size: 200%">800</span><br />ansatte</p>
                        </div>
                        <div class="spennendeTall">
                            <p><span style="font-size: 200%">50</span><br />avdelinger i Oslo og Trondheim</p>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <section class="col-xs-7 col-md-7 col-lg-7"></section>
                    <aside class="col-xs-5 col-md-5 col-lg-4 col-lg-offset-1"></aside>
                </div>
                <a href="artikkel_organisasjonskart.html">Organisasjonskart (alle avdelinger)</a>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/collapse.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>