<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ernæring ved diabetes</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/tabs.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="../css/youtube.css" rel="stylesheet" />

</head>

<body>
    <div class="headerGronn">
        <div class="headerBlaa"></div>
    </div>
    <div class="container">
        <header class="row">
            <div class="col-md-12 topplinje">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <img id="logo" src="../img/logo.svg" />
                    </div>
                    <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-4 menylinje">
                        <p class="pull-right">
                            <span>
                                <a href="#" class="js-expander">
                                    Meny
                                    <i class="fa fa-bars"></i>
                                </a>
                            </span>
                            <span>
                                |
                                <a href="#">
                                    Søk
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                            <span class="hidden-xs hidden-sm">
                                |

                                <a href="#">Om oss</a>
                                |
                                <a href="#">English</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="dropdownWrapper js-expand">
        <div class="container">
            <div id="tabs">
                <ul>
                    <li id="tabheading-1"><a href="#tabs-1">Kategorier</a></li>
                    <li id="tabheading-2"><a href="#tabs-2">A-Å</a></li>
                </ul>
                <div id="tabs-1" class="kollapslenker-tabs">
                    <div class="row">
                        <div class="col-sm-3 col-md-4">
                            <div class=" toppmeny">
                                <ul id="nivaa1">
                                    <li><a href="#">Nasjonale strategier og planer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Folkehelse og forebygging<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Rapporter, brosjyrer og publikasjoner<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Helseøkonomi<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Medisinske retninglinjer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="toppmeny">
                                <ul id="nivaa2">
                                    <li><a href="#">Statistikk og analyse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Legemidler og medisinsk utstyr<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Beredskap<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Lover og rettigheter<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Høringer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="toppmeny">
                                <ul id="nivaa3">
                                    <li><a href="#">Kurs og konferanser<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Godkjenning og turnus<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Diagnoser og tilstander<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">eHelse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabs-2" class="kollapslenker-tabs"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <nav class="col-md-6">
                <ol class="broedsmulesti">
                    <li><a href="#">Forside</a></li>
                    <li class="active"><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                </ol>
            </nav>
        </div>
        <article class="row">
            <div class="col-md-12 col-lg-12">
                <h1>Ernæring ved diabetes</h1>
                <div class="row">

                    <div class="col-md-7 col-lg-7">


                        <div>
                            <h2 class="js-toggler">Faktaark</h2>
                            <p>
                                ​Kostholdsveiledning bidrar til å forebygge, utsette sykdomsprogresjon eller utvikling av komplikasjoner til etablert sykdom som ved diabetes, nyresykdom og hjerte-karsykdom eller ved sykdomsrelatert underernæring. Kunnskap om kosthold i sammenheng med den aktuelle lidelse, vil for den enkelte også kunne bidra til økt forståelse og motivasjon for å optimalisere kostholdet.
                            </p>

                        </div>
                        <div>
                            <h2 class="js-toggler">Retningslinjer, råd og anbefalinger</h2>
                            <p>
                                Pasienter og brukere av helse- og omsorgstjenester har i dag svært begrenset tilgang til spesialisert ernæringsfaglig kompetanse. Behov for økt ernæringsfaglig kompetanse og økt tilgang på spesialkompetanse innen ernæring/ klinisk ernæring på alle nivåer er dokumentert i en rekke sentrale, offentlige rapporter og styringsdokumenter. Gruppene som defineres som målgruppe for samhandlingsreformen er alle grupper med behov for og dokumentert nytte av kostholdsveiledning og/ eller ernæringsbehandling.

                                Marginal bemanning av kliniske ernæringsfysiologer fører mange steder til at akutte sykdommer og tilstander (alvorlig underernæring) og behandling av barnepasienter prioriteres. Ernæringsfaglig tilbud til brukere med annen kostholdsrelatert sykdom slik som overvekt, diabetes eller andre kroniske lidelser nedprioriteres.

                                Personer som skrives ut fra sykehus med behov for oppfølging av kostholds- eller ernæringsbehandling står i fare for å blir mangelfullt ivaretatt da det ikke eksisterer spesialisert klinisk ernæringsfaglig kompetanse i primærhelsetjenesteapparatet.                            </p>
                        </div>
                        
                        <div>
                            <h2 class="js-toggler">Verktøy for helsepersonell</h2>
                            <p>
                                En rekke yrkesgrupper i helse- og omsorgstjenesten har en rolle i det ernæringsfaglige arbeidet. De mest relevante yrkesgruppene er kliniske ernæringsfysiologer, leger, sykepleiere, helsesøstre, hjelpepleiere (nå helsefagarbeidere) og vernepleiere. I kommunehelsetjenesten vil også ufaglærte ta hånd om ernæringsfaglige oppgaver. Andre relevante grupper kan være logopeder, fysioterapeuter, ergoterapeuter, psykologer, farmasøyter. Kostøkonomer og institusjonskokker er viktige yrkesgrupper når det gjelder mattilbud og matservering i helseinstitusjoner. Kjøkkenpersonalet skal blant annet ha kunnskap om og rutiner for mat og måltider som er i tråd med gjeldende anbefalinger . I tannhelsetjenesten er tannleger og tannpleiere viktige grupper.

                                Personell med bachelor i generell ernæring (altså uten klinisk spesialisering) vil kunne fylle viktige roller i helsefremmende og sykdomsforebyggende(primærforebyggende) arbeid f eks gjennom kommunale lavterskeltilbud/ frisklivsentraler.

                                Rapporten «Ernæringskompetanse i helse- og omsorgstjenesten» beskriver kliniske ernæringsfysiologers rolle og funksjon i helse- og omsorgstjenesten og vurderinger av framtidig behov for kliniske ernæringsfysiologer. Videre beskrives ulike former for ernæringsarbeid og ernæringsfaglige utfordringer i ulike deler av helse- og omsorgstjenesten.

                                Rapporten foreslår ulike tiltak og modeller for hvordan man kan styrke ernæringskompetansen i tjenesten.                            </p>
                        </div>
                        
                        <div>
                            <h2 class="js-toggler">Verktøy for pasient/bruker</h2>
                            <p>
                                Helseforetakene og kommunene skal sikre at god ernæringspraksis er en integrert del av kvalitetssystemet. Ledelsen har et overordnet ansvar for å legge forholdene til rette slik at pasientene sikres et forsvarlig kosthold. Dette oppnås gjennom gode rutiner for målrettet ernæringsbehandling, et godt mattilbud, samt tilstrekkelig kompetanse/opplæring av ansatte. Mange institusjoner har utarbeidet ernæringsstrategi.
                            </p>
                                <video controls>
                                    <source src="../video/movie.ogg" type="video/ogg">
                                    <source src="../video/movie.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                        </div>
                        
                        <div>
                            <h2 class="js-toggler">Lær av andre</h2>
                            <p>
                                Ernæringsbehandling, dvs. utredning av pasientens ernæringstilstand, diagnostisering og ernæringsbehandling involverer flere helsefagprofesjoner. Som regel er det behov for tverrfaglig samarbeid, eventuelt opprettelse av tverrfaglig team (ernæringsteam) som drøfter behandling og oppfølging av ernæringssituasjonen for enkeltpersoner. Sammensetningen av et slikt tverrfaglig team må tilpasses pasientens/ brukergruppens behov.
                            </p>
                        </div>

                    </div>

                    <div class="col-xs-7 col-sm-7 col-md-5 col-lg-4 col-lg-offset-1">
                        <div class="kontaktModul">
                            <h3>Ansvarlig for denne siden</h3>
                            <div class="stripes-outer">
                                <div class="stripes cold left">
                                    <div class="left"></div>
                                    <div class="middle"></div>
                                    <div class="right"></div>
                                </div>
                                <img src="../img/ansatt_bilde.png">
                            </div>

                            <p>
                                Martin Martinsen<br />
                                Rådgiver<br />
                                Telefon: 974 57 585<br />
                                martinmartinsen@helsedir.no
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </article>

    </div>


    <div class="container-fluid footerWrapper">
        <div class="container">
            <footer class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <div class="sosialeMedier">
                        <h4>Følg oss</h4>
                        <div><i class="fa fa-facebook-square fa-lg"></i><a href="#">Facebook</a></div>
                        <div><i class="fa fa-twitter-square fa-lg"></i><a href="#">Twitter</a></div>
                        <div><i class="fa fa-linkedin-square fa-lg"></i><a href="#">LinkedIn</a></div>
                        <div><i class="fa fa-youtube-square fa-lg"></i><a href="#">YouTube</a></div>
                    </div>
                </div>

                <div class="col-xs-7 col-xs-offset-1 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <div class="abonneringsmodul">
                        <h4>Abonner på innholdet på denne siden</h4>
                        <div><a href="#"><i class="fa fa-envelope fa-lg"></i> E-post</a></div>
                        <div><a href="#"><i class="fa fa-rss fa-lg"></i> RSS-strøm</a></div>
                    </div>
                </div>

            </footer>
        </div>
    </div>

    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/expand.js"></script>
    <script src="../js/tabsJQueryUI.js"></script>
    <script src="../js/jquery-ui-1.10.4.custom.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>
