<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ledige stillinger</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_jobbihelsedirektoratet.html">Jobb i Helsedirektoratet</a></li>
                        </ol>
                    </nav>
                    <h1>Ledige stillinger</h1>
                    <p class="ingress">
                        Få oversikt over ledige stillinger og registrer din CV hos Helsedirektoratet
                    </p>
                    <div class="border"></div>
                </header>

                <section class="sectionwithaside">
                    <table class="table_general alignleft">
                        <thead>
                            <tr class="odd">
                                <th>Stillingstittel</th>
                                <th>Avdeling</th>
                                <th>Søknadsfrist</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td data-title="">Seniorrådgiver – befolkningsrettet folkehelse</td>
                                <td data-title="Avdeling">Avdeling befolkningsrettet folkehelse</td>
                                <td data-title="Søknadsfrist">18.6.2014</td>
                            </tr>
                            <tr>
                                <td data-title="">Seniorrådgiver – arbeid og psykisk helse</td>
                                <td data-title="Avdeling">Avdeling psykisk helse og rus</td>
                                <td data-title="Søknadsfrist">15.06.2014</td>
                            </tr>
                            <tr class="odd">
                                <td data-title="">Har du lyst til å leie arbeidsgruppa for utvikling av vegleiar om tannhelsetenester til barn og unge?</td>
                                <td data-title="Avdeling">Avdeling allmennhelsetjenester</td>
                                <td data-title="Søknadsfrist">15.06.2014</td>
                            </tr>
                            <tr class="">
                                <td data-title=""></td>
                                <td data-title="Avdeling"></td>
                                <td data-title="Søknadsfrist"></td>
                            </tr>
                        </tbody>
                    </table>
                    <aside class="aside">
                        <div class="module module_related">
                            <h5 class="module_header">Du er kanskje også interessert i:</h5>
                            <ul class="linklist">
                                <li>
                                    <a href="#" class="internal-link aftertext">Vår rekrutteringsprosess</a>
                                </li>
                                <li>
                                    <a href="#" class="internal-link aftertext">Hva vi tilbyr</a>
                                </li>
                            </ul>
                            <img class="pulse" src="../img/modules/EKG-groenn.png" alt="">
                        </div>
                        <div class="module module_related">
                            <h5 class="module_header">Vi har et av Norges største IT-miljø</h5>

                            <div class="video-container">
                                <iframe src="http://www.youtube.com/embed/t37uL7f6jyQ" frameborder="0"></iframe>
                            </div>
                            <p class="module_ingress">Møt Line, front-end-utvikler i Helsedirektoratet</p>
                            <img class="pulse" src="../img/modules/EKG-groenn.png" alt="">
                        </div>
                    </aside>
                </section>

                <section>
                    <h2 class="accordion_mobile">Logg inn</h2>
                    <div class="content">
                        <p>Har du tidligere registrert din CV, kan du oppdatere denne ved å <a href="#" class="external-link inline">logge deg inn her.</a></p>
                    </div>
                </section>

                <section>
                    <h2 class="accordion_mobile">Ny bruker</h2>
                    <div class="content">
                        <ul class="bulletlist">
                            <li>Registrer CV</li>
                            <li>Få jobbvarsler på e-post</li>
                            <li>Bruk din registrerte CV til nye søknader</li>
                        </ul>
                        <button class="calltoaction">Registrer ny bruker</button>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>