<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artikkel</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/organization.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_omoss.html">Om oss</a></li>
                        </ol>
                    </nav>

                    <h1>Organisasjonskart</h1>
                    <div class="ingress">
                        Helsedirektoratet har 30 avdelinger fordelt på 6 divisjoner.
                    </div>
                    <div class="border"></div>
                </header>

                <section class="organization clearfix">
                    <div class="division">
                        <a href="#">
                            <div id="folkehelse" class="division_header">
                                <p class="division_name">Folkehelse</p>
                                <p>5 avdelinger</p>
                            </div>
                        </a>
                        <div class="department folkehelse">
                            <div class="person">
                                <p class="title">Helsedirektør</p>
                                <img src="../img/lars_erik.jpg">
                                <p class="name">Anne May Knudsen</p>
                                <hr />
                                <p class="role">Beslutningsforum</p>
                                <p class="phone">975 92 815</p>
                                <p class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="division">
                        <a href="#">
                            <div id="helseoekonomiogfinansiering" class="division_header"><p>Helseøkonomi og finansiering</p></div>
                        </a>
                    </div>
                    <div class="division">
                        <a href="#">
                            <div id="spesialisthelsetjenesten" class="division_header"><p>Spesialist-helsetjenesten</p></div>
                        </a>
                    </div>
                    <div class="division">
                        <a href="#">
                            <div id="ehelseogit" class="division_header"><p>E-helse og it</p></div>
                        </a>
                    </div>
                    <div class="division">
                        <a href="#">
                            <div id="primaerhelsetjenesten" class="division_header"><p>Primær-helsetjenesten</p></div>
                        </a>
                    </div>
                    <div class="division">
                        <a href="#"><div id="administrasjon" class="division_header last"><p>Administrasjon</p></div></a>
                    </div>
                    <div class="department helseoekonomiogfinansiering"></div>
                    <div class="department spesialisthelsetjenesten"></div>
                    <div class="department ehelseogit"></div>
                    <div class="department primaerhelsetjenesten"></div>
                    <div class="department administrasjon"></div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/organization.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>