<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ernæring i skolen</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/youtube.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>

    <div class="container">
        <div class="row">
            <article class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                            <li class="active"><a href="transportside_ernaering.html">Ernæring</a></li>
                        </ol>
                    </nav>

                    <h1>Ernæring i skolen</h1>
                    <div class="ingress">
                        Slik jobber du med kosthold i skolen
                    </div>
                    <div class="border"></div>
                </header>
                <section>
                    <h2>Retningslinjer, råd og anbefalinger</h2>
                    <div>
                        <div class="module_guidelines">
                            <p>Retningslinje</p>
                            <a href="#">Retningslinjer for skolemåltidet</a>
                            <p>2011</p>
                        </div>

                        <div class="module_guide">
                            <p>Veileder</p>
                            <a href="#">Anbefalinger om kosthold, ernæring og fysisk aktivitet</a>
                            <p>2014</p>
                        </div>
                    </div>
                </section>
                <section class="sectionwithaside">
                    <h2>Slik inspirerer du elever til å spiste sunt</h2>
                    <div>
                        <h3>Undervisningsmateriell - matpakke og kostråd</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    Matpakker - for barn
                                </a>(presentasjon i PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon om matpakker med notater - for barn
                                </a> (PDF)
                            </li>

                            <li>
                                <a href="#">
                                    Presentasjon om matpakker - for voksne
                                </a>(PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon om matpakker med notater - for voksne
                                </a>(PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon uten notater - Råd for et sunnere kosthold
                                </a>
                                (PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon med notater - Råd for et sunnere kosthold
                                </a>(PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Fisk_plakat
                                </a>
                                (PDF)
                            </li>
                            <li>
                                <a href="#">Sukker-plakat</a> ( PDF)
                            </li>
                        </ul>

                        <h3>Nøkkelhullet, skolefrukt og skolemelk</h3>
                        <a href="#">Undervisningsmateriell Nøkkelhullet</a>

                        <h3>Kokebok for alle </h3>
                        <ul>
                            <li>Oppskriftene med serveringsforslag</li>
                            <li>Gratis for elever i ungdomsskolen</li>
                            <li>Kommunene kan kjøpe boken til redusert pris</li>
                        </ul>
                        <a href="#">Bestill boken</a>

                        <aside class="aside">
                            <div class="module module_statistics_graph">
                                <div class="module_description">Statistikk</div>
                                <h5 class="module_header">
                                    Mengde (%) tilsatt sukker i norsk kosthold
                                </h5>
                                <div id="module_chart_div"></div>

                                <a href="#" class="internal-link aftertext">Les mer om sammenhengen mellom bruk av sukker og livsstilssykdommer</a>
                                <img src="../img/modules/EKG-lyseblaa.png" alt="">
                            </div>
                        </aside>
                    </div>
                </section>
                <section>
                    <h2>Lær av andre</h2>
                    <div>
                        <h3>Navn på et spennende prosjekt</h3>
                        <p>Kort beskrivelse av prosjektet</p>
                        <a href="#">lenke til er om prosjektet (eksternt)</a>
                    </div>
                </section>
                <aside class="aside">
                    <div class="module_person ">
                        <p class="module_description">Ansvarlig for denne siden</p>
                        <span><img src="../img/Lars_Erik_Pedersen.png"></span>
                        <span class="person_information">
                            <span class="name">Anne May Knudsen</span>
                            <span class="role">Beslutningsforum</span>
                            <span class="phone">975 92 815</span>
                            <span class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></span>
                        </span>
                    </div>
                </aside>
                <aside class="aside bottom ">
                    <div class="module_subscribe">
                        <p class="header">Abonnér på denne siden</p>
                        <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                        <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['år', 'kg/person/år', 'energiprosent'],
                ['1970', 44, 14],
                ['1980', 45, 18],
                ['1990', 51, 15],
                ['2000', 28, 18],
                ['2010', 25, 11]
            ]);

            var options = {
                vAxis: { minValue: 0, maxValue: 50 },
                //                chartArea: { left: "5%", width: "60%" }
                'chartArea': { 'width': '80%', 'height': '70%' },
                legend: {
                    position: 'bottom',
                    alignment: 'start'
                },
                colors: ['#004e66', '#0093a7', '#6cb4b5', "#df9922", '#a1bf37'],
                series: {
                    0: { lineDashStyle: [14, 7] },
                    1: { lineDashStyle: [5, 5] },
                    4: { lineDashStyle: [7, 14] }
                }, lineWidth: 3
            };

            var chart = new google.visualization.LineChart(document.getElementById('module_chart_div'));
            chart.draw(data, options);
        }

        $(window).resize(function () {
            drawChart();
        });
    </script>
</body>
</html>