<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ernæring i skolen</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/youtube.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="broedsmulesti clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                    <li class="active"><a href="transportside_ernaering.html">Ernæring</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <article class="col-md-8 col-lg-8">
                <h1>Ernæring i skolen</h1>
                <div class="ingress">
                    Slik jobber du med kosthold i skolen
                </div>
                <h2>Retningslinjer, råd og anbefalinger</h2>

                <div class="retningslinjemodul">
                    <p>Retningslinje</p>
                    <a href="#">Retningslinjer for skolemåltidet</a>
                    <p>2011</p>
                </div>

                <div class="veiledermodul">
                    <p>Veileder</p>
                    <a href="#">Anbefalinger om kosthold, ernæring og fysisk aktivitet</a>
                    <p>2014</p>
                </div>
                <div class="avsnitt">
                    <h2>Slik inspirerer du elever til å spiste sunt</h2>
                    <h3>Undervisningsmateriell - matpakke og kostråd</h3>
                    <ul>
                        <li>
                            <a href="#">
                                Matpakker - for barn
                            </a>(presentasjon i PDF)
                        </li>
                        <li>
                            <a href="#">
                                Presentasjon om matpakker med notater - for barn
                            </a> (PDF)
                        </li>

                        <li>
                            <a href="#">
                                Presentasjon om matpakker - for voksne
                            </a>(PDF)
                        </li>
                        <li>
                            <a href="#">
                                Presentasjon om matpakker med notater - for voksne
                            </a>(PDF)
                        </li>
                        <li>
                            <a href="#">
                                Presentasjon uten notater - Råd for et sunnere kosthold
                            </a>
                            (PDF)
                        </li>
                        <li>
                            <a href="#">
                                Presentasjon med notater - Råd for et sunnere kosthold
                            </a>(PDF)
                        </li>
                        <li>
                            <a href="#">
                                Fisk_plakat
                            </a>
                            (PDF)
                        </li>
                        <li>
                            <a href="#">Sukker-plakat</a> ( PDF)
                        </li>
                    </ul>

                    <h3>Nøkkelhullet, skolefrukt og skolemelk</h3>
                    <a href="#">Undervisningsmateriell Nøkkelhullet</a>

                    <h3>Kokebok for alle </h3>
                    <ul>
                        <li>Oppskriftene med serveringsforslag</li>
                        <li>Gratis for elever i ungdomsskolen</li>
                        <li>Kommunene kan kjøpe boken til redusert pris</li>
                    </ul>
                    <a href="#">Bestill boken</a>

                    <aside class="aside">
                        <h3>Mengde (%) tilstatt sukker i norsk kosthold</h3>
                        <img class="img-responsive" src="../img/statistikk_eksempel2.png" />
                        <a href="#">Les om sammenhengen mellom bruk av sukker og livsstilssykdommer</a>
                    </aside>
                </div>
                <h2>Lær av andre</h2>
                <h3>Navn på et spennende prosjekt</h3>
                <p>Kort beskrivelse av prosjektet</p>
                <a href="#">lenke til er om prosjektet (eksternt)</a>
                <div class="abonneringsmodul aside clearfix">
                    <h4>Få oppdateringer på denne siden</h4>
                    <div><i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a></div>
                    <div><i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a></div>
                </div>
                <div class="personmodul kontakt">
                    <h3>Ansvarlig for denne siden</h3>
                    <div class="stripes-outer">
                        <div class="stripes cold left">
                            <div class="left"></div>
                            <div class="middle"></div>
                            <div class="right"></div>
                        </div>
                        <img src="../img/ansatt_bilde.png">
                    </div>

                    <p>
                        Martin Martinsen<br />
                        Rådgiver<br />
                        Telefon: 974 57 585<br />
                        martinmartinsen@helsedir.no
                    </p>
                </div>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>