<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skjenkebevilling</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <nav>
                    <ol class="broedsmulesti clearfix">
                        <li><a href="../">Forside</a></li>
                        <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                        <li class="active"><a href="transportside_alkohol.html">Alkohol i næringslivet</a></li>
                    </ol>
                </nav>

                <h1>Skjenkebevilling</h1>
                <div class="ingress">
                    Slik søker du om bevilling til å skjenke alkohol.
                </div>
                <section>
                    <h2>Søk om skjenkebevilling</h2>
                    <h3>Hotell, restaurant og pub</h3>

                    <p>
                        Søknad om skjenkebevilling sendes den kommunen der du skal skjenke alkohol. Søknadskjema og krav til dokumentasjon finner du på altinn.no.
                    </p>
                    <button class="btn btn-default btn-lg" type="submit">
                        Søk om skjenkebevilling (altinn.no)
                    </button>

                    <h3>Tog, fly og befalsmesser</h3>
                    <p>
                        Søknad om skjenkebevilling sendes til Helsedirektoratet, postboks 7000, St. Olavs plass, 0130 Oslo eller <a href="mailto:postmottak@helsedir.no">
                            postmottak@helsedir.no
                        </a>
                    </p>
                    <a href="#">Søk om skjenkebevilling (pdf)</a>
                    <p>Tog som ikke er ansett som kollektivtransport (for eksempel charterturer, sightseeingturer og leievogner) må søke om kommunal skjenkebevilling via <a href="http://www.altinn.no">altinn.no</a> i de kommunene toget skal kjøre.</p>
                    <p>Skjenkebevillingen kan søkes for flere fly samtidig dersom flyene trafikkerer den samme strekningen.</p>
                    <h3>Skip og cruisskip</h3>
                    <p>Søknad om skjenkebevilling sendes Fylkesmannen i det fylket skipet er registrert.</p>
                    <a href="http://www.fylkesmannen.no">
                        Finn din fylkesmann (fylkesmannen.no)
                    </a>

                    <p>
                        Bevillingsplikten for skjenking av alkohol gjelder kun i norsk farvann, det vil si 12 nautiske mil utenfor grunnlinjen. Plikten omfatter alle skip som begrenser sin fart til norsk farvann, uavhengig av nasjonalitet.
                        Norske skip i trafikk mellom Norge og utlandet er omfattet av den statlige bevillingsplikten når skipet er i norsk farvann. Utenlandske skip som går i rutetrafikk mellom Norge og utlandet er ikke omfattet av alkoholloven mens skipet er underveis.
                    </p>
                    <p>Dersom det skal serveres alkohol om bord mens skipet ligger til kai i Norge, må det ha kommunal bevilling.</p>
                    <h3>Ambulerende skjenkebevilling</h3>
                    <p>Søknad om skjenkebevilling sendes den kommunen der du skal skjenke alkohol. Søknadskjema og krav til dokumentasjon finner du på altinn.no.</p>
                    <a href="#">Søk om skjenkebevilling (altinn.no)</a>
                    <h3>Typer skjenkebevilling</h3>
                    <p>Skjenkebevilling kan gis for tre grupper alkohol:</p>
                    <ul>
                        <li>Gruppe 1: 2,5-4,7 prosent alkohol</li>
                        <li>Gruppe 2: 4,7-22 prosent alkohol</li>
                        <li>Gruppe 3: 22-60 prosent alkohol</li>
                    </ul>
                </section>
                <section class="avsnitt">
                    <h2>Krav til søker</h2>
                    <h3>Uklanderlig vandel</h3>
                    <p>For å få skjenkebevilling må bevillingshaver og personer med vesentlig innflytelse på virksomheten ha uklanderlig vandel i forhold til alkohollovgivningen og bestemmelser i annen lovgivning som har sammenheng med alkohollovens formål, samt skatte-, avgifts- og regnskapslovgivningen.</p>
                    <p>For hver bevilling skal det utpekes en styrer og stedfortreder. Styrer og stedfortreder må ha uklanderlig vandel når det gjelder forhold til alkohollovgivningen og bestemmelser i annen lovgivning som har sammenheng med alkohollovens formål.</p>
                    <h3>Krav til kunnskap og alder</h3>
                    <p>Styrer og stedfortreder må godkjennes av kommunen som bevillingsmyndighet, de må være over 20 år og de må ha bestått kunnskapsprøven. Denne avlegges hos kommunen.</p>
                    <p>Styrer og stedfortreder må være ansatt i virksomheten, eller de må jobbe der i kraft av sin eierstilling. Det er kun den som har styringsrett over skjenkingen som kan utnevnes til styrer. Hvis styrer slutter må du som bevillingshaver straks søke kommunen om godkjenning av ny styrer.<p>
                    <p>Hvis du får skjenkebevilling må du sørge for at virksomheten har et tilstrekkelig godt internkontrollsystem.</p>
                    <h3>Utøve på riktig måte</h3>
                    <p>En skjenkebevilling må hele tiden utøves i tråd med de vilkår som er gitt i bevillingen, i alkoholloven og dens forskrifter og ellers på en forsvarlig måte. Dette innebærer blant annet at man må følge skjenketider, aldersgrensebestemmelser, mengdebegrensningene og alkoholreklameforbudet.<p>
                    <p>
                        Det er viktig å merke seg at det ikke er tillatt å skjenke til mindreårige, eller til personer som er åpenbart påvirket eller skjenke på en slik måte at vedkommende må antas å bli åpenbart påvirket.
                        Hvis vilkårene er brutt kan kommunene inndra bevillingen for kortere eller lengre tid. Bevilling kan også som hovedregel inndras hvis den ikke er benyttet i løpet av det siste året.
                    </p>
                    <aside class="liteninformasjonsboks aside">
                        <h2>Festrelatert vold</h2>

                        <p>2012</p><p class="forminsk">Av det totale antall anmeldte voldtekter i</p>
                        <span class="blaasOpp">40%</span>
                        <p>var festrelterte voldtekter</p>
                        <p> Av alle siktet eller dømt for festrelatert vold</p>
                        <span class="blaasOpp">90%</span><p>var påvirket av alkohol</p>

                        <a href="#">Les mer om sammenhengen mellom alkohol og </a>
                    </aside>
                </section>
            </article>
        </div>
    </div>
    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>