<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Helsepersonelloven</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li class="active"><a href="transportside_loverogregler.html">Lover og regler</a></li>
                </ol>
            </div>
        </div>

        <article class="row">
            <section class="col-md-8 col-lg-8">
                <h1>Helsepersonelloven</h1>
                <div class="ingress">
                    Loven regulerer yrkesutøvelsen til helsepersonell.
                </div>
                <section>
                    <h2>
                        Fortolkning av loven i rundskriv og veiledere
                    </h2>
                    <ul>
                        <li>
                            <a href="#">Helsepersonelloven med kommentarer. Rundskriv</a> (2014, pdf)
                        </li>
                        <li>
                            <a href="#">Helsetjenestens og politiets ansvar for psykisk syke. Rundskriv</a> (2012, pdf)
                        </li>
                        <li>
                            <a href="#">
                                Helsepersonells taushetsplikt. Vern av pasientens integritet i helsepersonells
                                samtaler med pasienten. Rundskriv
                            </a>
                            (2010, pdf)
                        </li>
                        <li>
                            <a href="#">
                                Helsepersonells plikt og rett til å gi opplysninger til barneverntjenesten, politiet
                                og sosialtjenesten i saker som dreier seg om mishandling av barn i hjemmet. Veileder
                            </a>
                            (2006, pdf)
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>
                        Kapittel 1 <br />Helsepersonell og helsehjelp
                    </h2>
                    <div>
                        <h3>Hvem gjelder loven for?</h3>

                        <p>
                            Loven omfatter helsepersonell og virksomheter som yter helsehjelp.
                        </p>

                        <p>
                            Loven gjelder all yrkesutøvelse der man opptrer i kraft av å være helsepersonell, uavhengig av hvilken profesjon
                            man tilhører, type helsehjelp man yter, hvilken del av helse- og omsorgstjenesten man arbeider i, om det er i
                            offentlig eller privat regi eller om arbeidet er fast eller leilighetsvis.
                        </p>

                        <p>
                            Loven gjelder som utgangspunkt også andre enn autorisert helsepersonell så framt de yter helsehjelp i helse- og
                            omsorgstjenesten og apotek.
                        </p>

                        <p>
                            Som hovedregel vil norsk helsepersonell som oppholder seg i og yter helsetjenester til pasienter som oppholder
                            seg i utlandet, ikke være omfattet av helsepersonelloven.
                        </p>

                        <p>
                            <a>Se mer i loven § 2 og merknadene til denne i rundskriv IS-2012.</a>
                        </p>

                        <h3>Hvem er helsepersonell?</h3>

                        <p>
                            Helsepersonell er for det første personell som har autorisasjon eller lisens etter reglene i helsepersonelloven
                            §§ 48-49. Videre regnes også andre som arbeider i helse- og omsorgstjenesten og apotek enn de som har
                            autorisasjon og lisens, som helsepersonell dersom de yter helsehjelp.
                        </p>

                        <p>
                            Elever og studenter regnes som helsepersonell når de utfører helsehjelp i forbindelse med helsefaglig opplæring,
                            for eksempel i praksisperioder.
                        </p>

                        <p>
                            <a>Se mer i loven § 3 og merknadene til denne i rundskriv IS-2012.</a>
                        </p>

                        <h3>Hva er helsehjelp?</h3>

                        <p>
                            Med helsehjelp menes enhver handling som har forebyggende, diagnostisk, behandlende, helsebevarende,
                            rehabiliterende eller pleie og omsorgsformål og som utføres av helsepersonell. Nærmere om hva de enkelte
                            begrepene innebærer fremgår i merknadene til helsepersonelloven § 3 i rundskriv IS-2012.
                        </p>

                        <h3>Brev og uttalelser</h3>
                        <ul>
                            <li><a>Avklaring av virkeområdet for helsepersonell</a> (2008, pdf)</li>
                            <li><a>Vedrørende henvendelse - Bedrifhelsetjenestens status - svar til Abeids- og Velferdsdirektoratet</a> (2010, pdf)</li>
                        </ul>
                    </div>
                </section>
                <section class="avsnitt">
                    <h2>
                        Kapittel 5 <br />Taushetsplikt
                    </h2>
                    <div>
                        <h4>Har helsepersonell taushetsplikt seg i mellom?</h4>

                        <p>
                            Helsepersonell har som utgangspunkt taushetsplikt om alt de får vite om en pasients helse
                            eller personlige forhold. Taushetsplikten gjelder også helsepersonell imellom.
                            Unntak gjelder når samarbeidende personell må ha opplysninger for å kunne gi nødvendig og
                            forsvarlig helsehjelp.
                            Se helsepersonelloven § 25 og merknadene til denne i rundskriv IS-2012.
                        </p>

                        <h4>Når har helsepersonell opplysningsplikt til barneverntjenesten</h4>

                        <p>
                            Helsepersonell har opplysningsplikt når de har mistanke om at et barn blir mishandlet, utsettes for
                            andre former for alvorlig omsorgssvikt eller dersom barnet har vist vedvarende og alvorlige
                            atferdsvansker.
                        </p>
                        <p>

                            Opplysningsplikten inntrer også der det er mistanke om at et barn utsettes for alvorlige overgrep
                            fra andre enn sine nærmeste omsorgspersoner, og der man mistenker at barn kan bli utsatt for
                            kjønnslemlestelse.
                        </p>
                        <p>

                            Det kreves ikke at helsepersonellet har sikker viten om mishandling eller omsorgssvikt, men det må
                            foreligge en begrunnet mistanke. Helsepersonellet bør så langt det er mulig og hensiktsmessig
                            informere foreldre og barn før opplysninger gis til barnevernet.
                        </p>
                        <p>

                            Ytterligere informasjon om helsepersonells informasjonsplikt til barnevernet
                            finnes i <a>
                                rundskriv
                                IS-17/2006 om helsepersonells plikt og rett til å gi opplysninger til barneverntjenesten, politiet
                                og sosialtjenesten ved mistanke om; mishandling av barn i hjemmet, andre former for alvorlig
                                omsorgssvikt, misbruk av rusmidler under graviditet.
                            </a>
                        </p>

                        <h3>Dispensasjon fra taushetsplikt</h3>

                        <p>
                            Du kan søke om dispensajon fra taushetsplikten i forbindelse med kvalitetssikring, administrasjon, planlegging eller styring av helse- og omsorgstjenesten. Du kan søke om dispensasjon der du svarer ja på følgende spørsmål:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    Er det foretatt en grundig vurdering av om prosjektet kan baseres på samtykke fra prosjektdeltakerne?
                                </p>
                            </li>
                            <li>
                                <p>Er det vurdert om prosjektet kan defineres som et kvalitetssikringsprosjekt? </p>
                            </li>
                            <li><p>Skal opplysningene skal brukes til formålet administrasjon, planlegging eller styring av helse- og omsorgstjenesten?</p></li>
                        </ul>
                        <p>Søknad om dispensasjon fra taushetsplikt sendes til Helsedirektoratet, postboks 7000, St. Olavs plass, 0130 Oslo eller <a>postmottak@helsedir.no</a></p>
                        <a>Søk om dispensasjon fra taushetsplikt (doc)</a>
                        <h3>Brev og uttalelser</h3>

                        <ul>
                            <li>
                                <a href="#">
                                    Utlevering av taushetsbelagte opplysninger til politiet i krise- og katatstrofesituasjoner
                                </a>
                                (2012, pdf)
                            </li>
                            <li>
                                <a href="#">
                                    Taushetsplikt - opplysninger fra kommuner til tannhelsetjenesten i fylkeskommunen - Svar til Finnmark fylkeskommune
                                </a>

                                (2011, pdf)
                            </li>
                        </ul>
                        <div class="utvidbaroverskrift aside">
                            <h2>Helsepersonelloven på Lovdata</h2>

                            <ul>
                                <li>
                                    <a href="#">Helsepersonelloven</a>
                                </li>
                                <li>
                                    <a href="#">Forskrifter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <div class="personmodul kontakt">
                    <h3>Ansvarlig for denne siden</h3>
                    <div class="stripes-outer">
                        <div class="stripes cold left">
                            <div class="left"></div>
                            <div class="middle"></div>
                            <div class="right"></div>
                        </div>
                        <img src="">
                    </div>

                    <p>
                        Martin Martinsen<br />
                        Rådgiver<br />
                        Telefon: 974 57 585<br />
                        martinmartinsen@helsedir.no
                    </p>
                </div>
                <div class="abonneringsmodul aside clearfix">
                    <p>Abonnér på denne siden</p>
                    <i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a>
                    <i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a>
                </div>
            </section>
        </article>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>