<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salgsbevilling</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                            <li class="active"><a href="transportside_alkohol.html">Alkohol i næringslivet</a></li>
                        </ol>
                    </nav>

                    <h1>Salgsbevilling</h1>
                    <div class="border"></div>
                </header>

                <section>
                    <h2 class="accordion_mobile">Krav til salgbevilling</h2>
                    <div>
                        <p>
                            Personen som driver butikken
                            kan søke om bevilling. Men man har ikke krav på å få den. Den er opp til kommunen å vurdere om en søknad skal innvilges.

                            Personer med vesentlig innflytelse på virksomheten må:

                            <ul>
                                <li>Ha uklanderlig vandel</li>
                                <li>Være over 20 år  </li>
                                <li>Ha bestått kunnskapsprøven </li>
                            </ul>
                        </p>

                        <button class="btn btn-default btn-lg" type="submit">
                            Søk om salgsbevilling
                        </button>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Hvordan salgbevilling skal utøves</h2>
                    <div>
                        <p>
                            Utøvelsen av salgsbevillingen må følge de vilkårene som er gitt:
                        </p>

                        <ul>
                            <li>Salgstider</li>
                            <li>Aldersgrensebestemmelser</li>
                            <li>Regler om plassering av alkohol</li>
                            <li>Alkoholreklame</li>
                        </ul>
                        <p>Hvis vilkårene er brutt kan kommunene inndra bevillingen for kortere eller lengre tid</p>
                    </div>
                </section>
                <aside class="aside">
                    <div class="module module_statistics_text">
                        <div class="module_description">Statistikk</div>
                        <h5 class="module_header">
                            Festrelatert vold
                        </h5>
                        <p class="subject">Tall for 2012</p>
                        <p class="keyfigures">40%</p>
                        <p>var festrelaterte voldtekter, av det totale antall anmeldte voldtekter i 2012.</p>
                        <p class="keyfigures">90%</p>
                        <p>var påvirket av alkohol, av alle siktet eller dømt for festrelatert vold.</p>
                        <a href="#" class="internal-link aftertext">Les mer om sammenhengen mellom alkohol og vold</a>
                        <img src="../img/modules/EKG-lyseblaa.png" alt="">
                    </div>
                </aside>
                <aside class="aside bottom ">
                    <div class="module_subscribe">
                        <p class="header">Abonnér på denne siden</p>
                        <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                        <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>