<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ernæring ved diabetes</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/youtube.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>

    <div class="container">
        <div class="row">
            <article class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                        </ol>
                    </nav>
                    <h1>Ernæring ved diabetes</h1>
                    <div class="border"></div>
                </header>
                <section>
                    <h2>Faktaark</h2>
                    <p>
                        Kostholdsveiledning bidrar til å forebygge, utsette sykdomsprogresjon eller utvikling av komplikasjoner til etablert sykdom som ved diabetes, nyresykdom og hjerte-karsykdom eller ved sykdomsrelatert underernæring. Kunnskap om kosthold i sammenheng med den aktuelle lidelse, vil for den enkelte også kunne bidra til økt forståelse og motivasjon for å optimalisere kostholdet.
                    </p>
                </section>
                <section>
                    <h2>Retningslinjer, råd og anbefalinger</h2>
                    <div>
                        <div class="module_guidelines">
                            <div class="innerDiv">
                                <a href="#">
                                    <h4>Retningslinje med anbefalinger om forebygging, diagnostikk og behandling av diabetes (2009, revidert 2011)</h4>
                                </a>
                                <p>Pdf, 1.3 Mb</p>
                            </div>
                        </div>

                        <div class="module_guide">
                            <div class="innerDiv">
                                <h4>Veiledere</h4>
                                <a href="#">
                                    Kosthåndboken - veileder i ernæringsarbeid i helse -og omsorgstjenesten (2012)
                                </a>
                                <p>Pdf, 1.2 Mb</p>

                                <a href="#">
                                    Nøkkelrådkost
                                </a>
                                <p>Helsedirektoratets forslag for standardkoster for bruk i institusjon og hjemmetjenester <br /> Pdf, 1.2 Mb</p>
                            </div>
                        </div>

                        <h3>Kostveiledning</h3>

                        <p>
                            Personer med diabetes skal få tilbud om individuell kostveiledning. Veiledningen skal gis av en diabeteskyndig person (medlem av et diabetesteam), klinisk ernæringsfysiolog eller lege.

                            <h3>Praktiske råd</h3>
                            <ul>
                                <li>Ta utgangspunkt i <a href="#">Nøkkelrådskosten</a></li>
                                <li>Begrens inntaket av karbohydratrike matvarer med en høy andel av enkle sukkerarter og/eller stivelse.</li>
                                <li>Velg matvarer som gir en langsommere blodsukkerstigning som for eksempel fullkornsprodukter og eventuelt kunstig søtede produkter.</li>
                                <li>Måltidsrytme, aktivitetsnivå og stress vil også påvirke blodsukkeret. Å spise regelmessig er gunstig for blodsukkerkontrollen, gjerne hver 4. Time.</li>
                                <li>Velg et hjertevennlig kosthold med fokus på fettmengde og fettkvalitet med tanke på å forebygge senkomplikasjoner som hjerte- karsykdom.</li>
                            </ul>
                        </p>
                    </div>
                </section>
                <section>
                    <h2>Verktøy for helsepersonell</h2>
                    <p>
                        En rekke yrkesgrupper i helse- og omsorgstjenesten har en rolle i det ernæringsfaglige arbeidet. De mest relevante yrkesgruppene er kliniske ernæringsfysiologer, leger, sykepleiere, helsesøstre, hjelpepleiere (nå helsefagarbeidere) og vernepleiere. I kommunehelsetjenesten vil også ufaglærte ta hånd om ernæringsfaglige oppgaver. Andre relevante grupper kan være logopeder, fysioterapeuter, ergoterapeuter, psykologer, farmasøyter. Kostøkonomer og institusjonskokker er viktige yrkesgrupper når det gjelder mattilbud og matservering i helseinstitusjoner. Kjøkkenpersonalet skal blant annet ha kunnskap om og rutiner for mat og måltider som er i tråd med gjeldende anbefalinger . I tannhelsetjenesten er tannleger og tannpleiere viktige grupper.

                        Personell med bachelor i generell ernæring (altså uten klinisk spesialisering) vil kunne fylle viktige roller i helsefremmende og sykdomsforebyggende(primærforebyggende) arbeid f eks gjennom kommunale lavterskeltilbud/ frisklivsentraler.

                        Rapporten «Ernæringskompetanse i helse- og omsorgstjenesten» beskriver kliniske ernæringsfysiologers rolle og funksjon i helse- og omsorgstjenesten og vurderinger av framtidig behov for kliniske ernæringsfysiologer. Videre beskrives ulike former for ernæringsarbeid og ernæringsfaglige utfordringer i ulike deler av helse- og omsorgstjenesten.

                        Rapporten foreslår ulike tiltak og modeller for hvordan man kan styrke ernæringskompetansen i tjenesten.
                    </p>
                </section>
                <section>
                    <h2>Verktøy for pasient/bruker</h2>
                    <div>
                        <h3>Film om diabetes</h3>
                        <p>
                            Laget av NRK. Varer i 5 min. Kan sees sammen med pasienten/brukeren.
                        </p>
                        <video controls>
                            <source src="../video/movie.ogg" type="video/ogg">
                            <source src="../video/movie.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <h3>Gratis app for å bruke på reise</h3>
                        <p>
                            Appen er et personlig ID-kort som viser at man har diabetes. Laget av Diabetesforbundet for <a href="#">iPhone</a>, <a href="#">Android</a> og <a href="#">Windows</a>.
                            <br />
                            <br />
                            <a href="#">Mer om appen på Diabetforbundets sider</a>
                        </p>
                    </div>
                </section>
                <section>
                    <h2>Lær av andre</h2>
                    <p>
                        Ernæringsbehandling, dvs. utredning av pasientens ernæringstilstand, diagnostisering og ernæringsbehandling involverer flere helsefagprofesjoner. Som regel er det behov for tverrfaglig samarbeid, eventuelt opprettelse av tverrfaglig team (ernæringsteam) som drøfter behandling og oppfølging av ernæringssituasjonen for enkeltpersoner. Sammensetningen av et slikt tverrfaglig team må tilpasses pasientens/ brukergruppens behov.
                    </p>
                </section>
                <aside class="aside">
                    <div class="module_person ">
                        <p class="module_description">Ansvarlig for denne siden</p>
                        <span><img src="../img/Lars_Erik_Pedersen.png"></span>
                        <span class="person_information">
                            <span class="name">Anne May Knudsen</span>
                            <span class="role">Beslutningsforum</span>
                            <span class="phone">975 92 815</span>
                            <span class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></span>
                        </span>
                    </div>
                </aside>
                <aside class="aside bottom ">
                    <div class="module_subscribe">
                        <p class="header">Abonnér på denne siden</p>
                        <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                        <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>