<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publikasjoner</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>

                    <h1>Utredning av demens</h1>
                    <p class="ingress">Demensplan 2015 har som uttalt mål at «den enkelte bruker skal være sikret utredning og diagnostisering ved mistanke om demens» innen 2015.</p>
                    <div class="border"></div>
                </header>

                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">Hvem gjør hva?</h2>
                    <div>
                        <p>Kommunehelsetjenesten er ansvarlig for å utrede demens i de aller fleste tilfeller, ved et samarbeid mellom fastlege/sykehjemslege og kommunens helse- og omsorgstjeneste.</p>
                        <p>Legen er ansvarlig for medisinsk utredning, diagnostikk og behandling av demenssykdommen og eventuelle somatiske/og eller psykiatriske tilleggsproblemer. Demensteamet i kommunen har ansvar for å kartlegge funksjonsevne, hjemmesituasjon og eventuelle behov for bistand til pasient eller pårørende. Yngre personer (under 65 år) med demens, personer med minoritetsbakgrunn og personer med utagerende atferd skal som hovedregel henvises til spesialisthelsetjenesten.</p>
                        <aside class="aside">
                            <div class="module module_related">
                                <h5 class="module_header">Nasjonale strategier om demens</h5>
                                <ul class="linklist">
                                    <li><a href="http://www.regjeringen.no/upload/HOD/Vedlegg/Omsorgsplan_2015/Demensplan2015.pdf" class="external-link">Demensplan 2015</a></li>
                                    <li><a href="http://www.regjeringen.no/pages/35878701/demensplan_2015.pdf" class="external-link">Revidert handlingsplan 2012-2015</a></li>
                                </ul>

                                <img src="../img/modules/EKG-groenn.png" alt="">
                            </div>
                        </aside>
                    </div>
                </section>
                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">Verktøy for utredning</h2>

                    <div>
                        <p>Verktøy som er presentert her er beregnet for bruk på sykehjem, i kommunehelsetjenesten og i spesialisthelsetjenesten.  Alle verktøy krever opplæring.</p>

                        <h3>Anbefalte verktøy for utredning av demens:</h3>
                        <ul>
                            <li><a href="http://www.aldringoghelse.no/file/skalaer/tester/utredningsverktoyet/kommunehelsetjenesten.pdf" target="_blank">Demensutredning i kommunehelsetjenesten (til leger)</a></li>
                            <li><a href="http://www.aldringoghelse.no/file/skalaer/tester/utredningsverktoyet/kommunehelsetjenesten.pdf" target="_blank">Demensutredning i kommunehelsetjenesten (til helsepersonell)</a></li>
                            <li><a href="http://www.aldringoghelse.no/ViewFile.aspx?ItemID=2807" target="_blank">Oppfølging av pasienter med demens (til helsepersonell)</a></li>
                            <li><a href="http://www.aldringoghelse.no/ViewFile.aspx?ItemID=2806" target="_blank">Utredning og oppfølging av demens på sykehjem (til leger)</a></li>
                        </ul>

                        <h3>Utredning av demens - en demonstrasjonsfilm</h3>
                        <iframe src="//player.vimeo.com/video/69009182" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        <aside class="aside">
                            <div class="module module_related">
                                <div class="module_description ">Tilskudd</div>
                                <h5 class="module_header"><a href="#" class="internal-link aftertext">Etablering av nye dagaktivitetstilbud til hjemmeboende personer med demens</a></h5>
                                <p class="module_ingress">Søknadsfrist 31.12.2014</p>

                                <img src="../img/modules/EKG-groenn.png" alt="">
                            </div>
                        </aside>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Demensteam i din kommune</h2>
                    <div>
                        <p>Et kommunalt demensteam skal bistå fastlegene i å utrede personer med mistanke om demens og følge opp pasienten og deres pårørende videre i sykdomsforløpet. Som et resultat av Demensplan 2015 har det blitt etablert demensteam i nær halvparten av norske kommuner.</p>

                        <p>Et demensteam bør bestå av tre til fire personer med tverrfaglig bakgrunn. Det er en fordel å ha en lege tilknyttet demensteamet. Det er kommunens ledelse som avgjør hvilke oppgaver demensteamet skal utføre, hvor mye ressurser som skal settes av til arbeidet og hvordan teamet skal samarbeide med den øvrige helse- og omsorgstjenesten. Det er viktig at fastlegene i kommunen kontaktes i denne fasen for å avklare ansvarsfordeling.</p>

                        <a href="http://www.aldringoghelse.no/?PageID=1608&ItemID=2805">Se håndbok for etablering av demensteam i din kommune</a>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Kurs og konferanser om demens</h2>
                    <div>
                        <p>Nasjonal kompetansetjeneste for aldring og helse arrangerer hvert år flere kurs og konferanser om demens for alle som jobber med eller ønsker å lære mer om sykdommen.</p>

                        <a href="http://aldringoghelse.no/kurs-og-konferanser">Se oversikt over kurs om demens</a>
                    </div>
                </section>

                <aside class="aside top">
                    <div class="module_person ">
                        <p class="module_description">Ansvarlig for denne siden</p>
                        <span><img src="../img/Lars_Erik_Pedersen.png"></span>
                        <span class="person_information">
                            <span class="name">Anne May Knudsen</span>
                            <span class="role">Beslutningsforum</span>
                            <span class="phone">975 92 815</span>
                            <span class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></span>
                        </span>
                    </div>
                </aside>
            </article>
        </div>
    </div>
    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/helsedir.js"></script>

    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>