<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ernæring i skolen</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/youtube.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>

    <div class="container">
        <div class="row">
            <article class="col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                            <li class="active"><a href="transportside_ernaering.html">Ernæring</a></li>
                        </ol>
                    </nav>

                    <h1>Ernæring i skolen</h1>
                    <div class="ingress">
                        Slik jobber du med kosthold i skolen
                    </div>
                    <div class="border"></div>
                </header>
                <section>
                    <h2 class="accordion_mobile">Retningslinjer, råd og anbefalinger</h2>
                    <div>
                        <div class="module module_guidelines">
                            <div class="module_description ">Nasjonal faglig retningslinje</div>
                            <h5 class="module_header"><a href="#" class="internal-link aftertext">Retningslinjer for skolemåltidet</a></h5>
                            <p class="module_ingress">Regjeringen har som mål at barn og unge skal ha gode kostholdsvaner. Tilrettelegging for gode måltider og et sunt mat- og drikketilbud på skolen vil bidra til at barn og unge får gode muligheter til å etablere et helsefremmende og godt kosthold som de tar med seg videre i livet. </p>
                            <img src="../img/modules/EKG-sisteforsoek.png" alt="">
                        </div>

                        <div class="module module_related">
                            <div class="module_description ">Veileder</div>
                            <h5 class="module_header"><a href="#" class="internal-link aftertext">Anbefalinger om kosthold, ernæring og fysisk aktivitet</a></h5>
                            <p class="module_ingress">​De nye norske anbefalingene om kosthold og fysisk aktivitet, er laget på grunnlag av Nordic Nutrition Recommendations 2012 –integrating nutrition and physical activity (NNR 2012) og rapporten «Kostråd for a fremme folkehelsen og forebygge kroniske sykdommer» utgitt av Nasjonalt råd for ernæring 2011.​​​</p>

                            <img src="../img/modules/EKG-groenn.png" alt="">
                        </div>
                    </div>
                </section>
                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">Slik inspirerer du elever til å spiste sunt</h2>
                    <div>
                        <h3>Undervisningsmateriell - matpakke og kostråd</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    Matpakker - for barn
                                </a>(presentasjon i PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon om matpakker med notater - for barn
                                </a> (PDF)
                            </li>

                            <li>
                                <a href="#">
                                    Presentasjon om matpakker - for voksne
                                </a>(PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon om matpakker med notater - for voksne
                                </a>(PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon uten notater - Råd for et sunnere kosthold
                                </a>
                                (PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Presentasjon med notater - Råd for et sunnere kosthold
                                </a>(PDF)
                            </li>
                            <li>
                                <a href="#">
                                    Fisk_plakat
                                </a>
                                (PDF)
                            </li>
                            <li>
                                <a href="#">Sukker-plakat</a> ( PDF)
                            </li>
                        </ul>

                        <h3>Nøkkelhullet, skolefrukt og skolemelk</h3>
                        <a href="#">Undervisningsmateriell Nøkkelhullet</a>

                        <h3>Kokebok for alle </h3>
                        <ul>
                            <li>Oppskriftene med serveringsforslag</li>
                            <li>Gratis for elever i ungdomsskolen</li>
                            <li>Kommunene kan kjøpe boken til redusert pris</li>
                        </ul>
                        <a href="#">Bestill boken</a>

                        <aside class="aside">
                            <div class="module module_statistics_graph">
                                <div class="module_description">Statistikk</div>
                                <h5 class="module_header">
                                    Antall barn der viktigste henvisningsgrunn var skolevegring eller skolefravær
                                </h5>
                                <div id="module_chart_column"></div>

                                <a href="#" class="internal-link aftertext">Flere tall om skulking</a>
                                <img src="../img/modules/EKG-lyseblaa.png" alt="" />
                            </div>
                        </aside>
                    </div>
                </section>
                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">Lær av andre</h2>
                    <div>
                        <h3>Navn på et spennende prosjekt</h3>
                        <p>Kort beskrivelse av prosjektet</p>
                        <a href="#">lenke til er om prosjektet (eksternt)</a>

                        <h3>Navn på et spennende prosjekt</h3>
                        <p>Kort beskrivelse av prosjektet</p>
                        <a href="#">lenke til er om prosjektet (eksternt)</a>

                        <h3>Navn på et spennende prosjekt</h3>
                        <p>Kort beskrivelse av prosjektet</p>
                        <a href="#">lenke til er om prosjektet (eksternt)</a>

                        <h3>Navn på et spennende prosjekt</h3>
                        <p>Kort beskrivelse av prosjektet</p>
                        <a href="#">lenke til er om prosjektet (eksternt)</a>

                        <h3>Navn på et spennende prosjekt</h3>
                        <p>Kort beskrivelse av prosjektet</p>
                        <a href="#">lenke til er om prosjektet (eksternt)</a>
                        <h3>Navn på et spennende prosjekt</h3>
                        <p>Kort beskrivelse av prosjektet</p>
                        <a href="#">lenke til er om prosjektet (eksternt)</a>
                    </div>
                    <aside class="aside">
                        <div class="module module_statistics_text">
                            <div class="module_description">Statistikk</div>
                            <h5 class="module_header">
                                Skolevegring øker
                            </h5>
                            <p class="keyfigures">1200</p>
                            <p>barn hadde skolevegring som viktigste henvisningsgrunn i 2013</p>
                            <p class="keyfigures">973</p>
                            <p>barn hadde det i 2012</p>
                            <img src="../img/modules/EKG-lyseblaa.png" alt="" />
                        </div>
                    </aside>
                </section>
                <aside class="aside top">
                    <div class="module_person ">
                        <p class="module_description">Ansvarlig for denne siden</p>
                        <span><img src="../img/Lars_Erik_Pedersen.png"></span>
                        <span class="person_information">
                            <span class="name">Anne May Knudsen</span>
                            <span class="role">Beslutningsforum</span>
                            <span class="phone">975 92 815</span>
                            <span class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></span>
                        </span>
                    </div>
                </aside>
                <aside class="aside bottom ">
                    <div class="module_subscribe">
                        <p class="header">Abonnér på denne siden</p>
                        <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                        <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../js/chart_artikkel_ernaeringiskolen.js"></script>
</body>
</html>