<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/icon.ico">
    <title>Ledige stillinger | Helsedirektoratet</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/print.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>

<body>
    <div id="header">
        <div class=" shortcuts">
            <ul>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row  masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-4  nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../img/logo.svg" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-0 hidden-xs hidden-sm ">
                    <div class=" menubutton pull-right">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class=" menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-3  hidden-mobile" id="mainsearchcolumn">
                    <form class="mainsearch">
                        <h1 class=" visuallyhidden">Søk</h1>
                        <span role="search">
                            <label for="mainsearchinput" class=" visuallyhidden">Søk</label>
                            <input id="mainsearchinput" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                            <button type="submit">
                                <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                    <div class="pull-right">
                        <a class=" links hidden-sm hidden-xs" href="transportside_omoss.html">OM OSS</a>
                        <a class=" links hidden-sm hidden-xs" href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
        <div class=" toppmeny  container-fluid js-expand visuallyhidden">
            <div class="inner container-fluid">
                <div class="container">
                    <nav class=" tabs">

                        <ul class=" tab-links" role="tablist">
                            <li class=" tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</li>
                            <li class=" tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</li>
                        </ul>
                        <div class=" tab-content">
                            <div id="panel_header1" class=" tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">

                                <div class="row">
                                    <div class="col-sm-6 col-md-4">

                                        <ul>
                                            <li><a href="../medisinskeRetningslinjer/" id="content_categories">Nasjonale faglige retningslinjer</a></li>
                                            <li><a href="#">Nasjonale strategier og planer</a></li>
                                            <li><a href="transportside_statistikk.html">Statistikk og analyse</a></li>
                                            <li><a href="publikasjoner.html">Rapporter, brosjyrer og publikasjoner</a></li>
                                            <li><a href="tilskudd.html">Tilskudd</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                                            <li><a href="#">Beredskap</a></li>
                                            <li><a href="transportside_loverogregler.html">Lover og rettigheter</a></li>
                                            <li><a href="hoeringer.html">Høringer</a></li>
                                            <li><a href="kursogkonferanser.html">Kurs og konferanser</a></li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix visible-xs visible-sm"></div>

                                    <div class=" col-sm-6 col-md-4">
                                        <ul>

                                            <li><a href="transportside_diagnoserogtilstander.html">Diagnoser og tilstander</a></li>
                                            <li><a href="#">Legemidler og medisinsk utstyr</a></li>
                                            <li><a href="#">Godkjenning og turnus</a></li>
                                            <li><a href="#">eHelse</a></li>
                                            <li><a href="#">Helseøkonomi</a></li>
                                            <li class="hidden_links"><a href="transportside_omoss.html">Om oss</a></li>
                                            <li class="hidden_links"><a href="#">English</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="panel_header2" class=" tab visuallyhidden tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                <div class="row alphabetical">
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">A</li>
                                            <li><a href="#" id="content_alphabetical">AD/HD</a></li>
                                            <li><a href="transportside_alkohol.html">Alkohol</a></li>
                                            <li><a href="#">Antibiotika</a></li>
                                            <li><a href="#">Astma og allergi</a></li>
                                        </ul>

                                        <ul>
                                            <li class="character">B</li>
                                            <li><a href="#">Beredskap og krisehåndtering</a></li>
                                        </ul>

                                        <ul>
                                            <li class="character">D</li>
                                            <li><a href="artikkel_utredning_av_demens.html">Demens</a></li>
                                            <li><a href="#">Diabetes</a></li>
                                        </ul>

                                        <ul>
                                            <li class="character">E</li>
                                            <li><a href="#">E-resept</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">F</li>

                                            <li><a href="transportside_folkehelse.html">Folkehelsearbeid</a></li>
                                            <li><a href="#">Forgiftning</a></li>
                                            <li><a href="#">Frisklivssentraler</a></li>
                                            <li><a href="#">Fritt sykehusvalg </a></li>
                                            <li><a href="#">Fysioterapi       </a></li>
                                            <li><a href="#">Førerkort         </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">G</li>
                                            <li><a href="#">Godkjenning og autorisasjon </a></li>
                                            <li><a href="#">Graviditet, fødsel og amming</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">H</li>
                                            <li><a href="#">Helsestasjon og skolehelsetjenesten    </a></li>
                                            <li><a href="#">Helseøkonomi og finansiering           </a></li>
                                            <li><a href="#">Hjerneslag                             </a></li>
                                            <li><a href="#">Hjerte- og karsykdommer                </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">I</li>
                                            <li><a href="#">Individuell plan og rehabilitiering    </a></li>
                                            <li><a href="#">Influensa                              </a></li>
                                            <li><a href="#">Innvandrerhelse                        </a></li>
                                            <li><a href="#">IPLOS                                  </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">K</li>
                                            <li><a href="#">Kjernejournal                          </a></li>
                                            <li><a href="#">Kols                                   </a></li>
                                            <li><a href="transportside_ernaering.html">Kosthold, ernæring og fysisk aktivitet </a></li>
                                            <li><a href="#">Kreft                                  </a></li>
                                            <li><a href="#">Kvalitetsindikatorer                   </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">L</li>
                                            <li><a href="#">Legemidler                             </a></li>
                                            <li><a href="#">Legestillingsregisteret                </a></li>
                                            <li><a href="transportside_loverogregler.html">Lover og fortolkninger                 </a></li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix hidden-md hidden-lg"></div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">M</li>

                                            <li><a href="#">ME-CFS                                 </a></li>
                                            <li><a href="#">Medisinsk bibliotek                    </a></li>
                                            <li><a href="#">Medisinsk utstyr                       </a></li>
                                            <li><a href="#">Medisinske koder og kodeverk           </a></li>
                                            <li><a href="#">Motiverende intervju                   </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">N</li>
                                            <li><a href="../medisinskeRetningslinjer/">Nasjonale faglige retningslinjer       </a></li>
                                            <li><a href="#">Nasjonale strategier og handlingsplaner</a></li>
                                            <li><a href="#">Norsk pasientregister</a></li>
                                            <li><a href="#">Nødnett</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">O</li>
                                            <li><a href="#">Offshore                            </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">P</li>
                                            <li><a href="#">Pasientrettigheter                  </a></li>
                                            <li><a href="#">Psykisk helse                       </a></li>
                                            <li><a href="#">Psykisk utviklingshemmede           </a></li>
                                            <li><a href="#">Pårørende                           </a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">R</li>
                                            <li><a href="#">Refusjoner                          </a></li>
                                            <li><a href="#">Rus og narkotika                    </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">S</li>
                                            <li><a href="#">Samhandlingsreformen                </a></li>
                                            <li><a href="#">Seksuell helse                      </a></li>
                                            <li><a href="#">Skjemaer                            </a></li>
                                            <li><a href="#">Smittevern                          </a></li>
                                            <li><a href="transportside_statistikk.html">Statistikk, tall og analyse         </a></li>
                                            <li><a href="#">Sykehjem og hjemmesykepleie         </a></li>
                                            <li><a href="#">Sykemelding                         </a></li>
                                            <li><a href="#">System for innføring av nye metoder </a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">T</li>
                                            <li><a href="#">Tannhelse            </a></li>
                                            <li><a href="#">Taushetsplikt        </a></li>
                                            <li><a href="tilskudd.html">Tilskudd             </a></li>
                                            <li><a href="#">Tobakk, røyk og snus </a></li>
                                            <li><a href="#">Turnus </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <a id="content" tabindex="-1"></a>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_jobbihelsedirektoratet.html">Jobb i Helsedirektoratet</a></li>
                        </ol>
                    </nav>
                    <h1>Ledige stillinger</h1>
                    <p class=" ingress">
                        Få oversikt over ledige stillinger og registrer din CV hos Helsedirektoratet
                    </p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7">
                <div class=" content">
                    <div class=" border"></div>

                    <section>
                        <table class=" table_general alignleft">
                            <thead>
                                <tr class="odd">
                                    <th>Stillingstittel</th>
                                    <th>Avdeling</th>
                                    <th>Søknadsfrist</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td data-title=""><a href="#">Seniorrådgiver – befolkningsrettet folkehelse</a></td>
                                    <td data-title="Avdeling">Avdeling befolkningsrettet folkehelse</td>
                                    <td data-title="Søknadsfrist">18.6.2014</td>
                                </tr>
                                <tr>
                                    <td data-title=""><a href="#">Seniorrådgiver – arbeid og psykisk helse</a></td>
                                    <td data-title="Avdeling">Avdeling psykisk helse og rus</td>
                                    <td data-title="Søknadsfrist">15.06.2014</td>
                                </tr>
                                <tr class="odd">
                                    <td data-title=""><a href="#">Har du lyst til å leie arbeidsgruppa for utvikling av vegleiar om tannhelsetenester til barn og unge?</a></td>
                                    <td data-title="Avdeling">Avdeling allmennhelse&shy;tjenester</td>
                                    <td data-title="Søknadsfrist">15.06.2014</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                    <section class="accordion_mobile relative-container">
                        <h2>Logg inn</h2>
                        <div class=" content">
                            <p>Har du tidligere registrert din CV, kan du oppdatere denne ved å <a href="#" class=" external-link inline">logge deg inn her.</a></p>
                        </div>
                        <aside class=" aside">
                            <div class=" module module_related">
                                <h5 class=" module_header">Du er kanskje også interessert i:</h5>
                                <ul class=" linklist">
                                    <li>
                                        <a href="#" class=" internal-link arrow_right">Vår rekrutteringsprosess</a>
                                    </li>
                                    <li>
                                        <a href="#" class=" internal-link arrow_right">Hva vi tilbyr</a>
                                    </li>
                                </ul>
                                <img class="pulse" src="../img/modules/EKG-groenn.png" alt="">
                            </div>
                        </aside>
                    </section>

                    <section class="accordion_mobile">
                        <h2>Ny bruker</h2>
                        <div class=" content">
                            <ul class=" bulletlist">
                                <li>Registrer CV</li>
                                <li>Få jobbvarsler på e-post</li>
                                <li>Bruk din registrerte CV til nye søknader</li>
                            </ul>
                            <button class=" calltoaction">Registrer ny bruker</button>
                        </div>
                    </section>
                    <div class=" module module_social">
                        <a href="javascript:window.print()" class=" ikon_skrivut">
                            <span></span>skriv ut
                        </a>
                        <a href="#" class="ikon_facebook"><span></span>del på facebook</a>
                        <a href="#" class="ikon_twitter"><span></span>del på twitter</a>
                    </div>
                    <aside class=" aside top">
                        <div class=" module module_person ">
                            <h5 class=" module_description">Ansvarlig for denne siden</h5>
                            <a href="mailto:Anne.May.Knudsen@helsedir.no">
                                <img src="../img/eirik.gif" alt="Erik">
                                <div class="name">Eirik H. Rønjum</div>
                            </a>
                            <div class="person_information">
                                <p class="role">Webstrateg</p>
                                <p class="phone">Mobil: 975 92 815</p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class=" shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class=" footerwrapper" role="contentinfo">
            <div class=" menuwrapper">
                <div class="container">
                    <div class="row  forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class=" tabs">

                                <ul class=" tab-links" role="tablist">
                                    <li class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</li>
                                    <li class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</li>
                                </ul>
                                <div class=" tab-content">
                                    <div id="panel_footer1" class=" tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">

                                                <ul>
                                                    <li><a href="../medisinskeRetningslinjer/" id="footer_content_categories">Nasjonale faglige retningslinjer</a></li>
                                                    <li><a href="#">Nasjonale strategier og planer</a></li>
                                                    <li><a href="transportside_statistikk.html">Statistikk og analyse</a></li>
                                                    <li><a href="publikasjoner.html">Rapporter, brosjyrer og publikasjoner</a></li>
                                                    <li><a href="tilskudd.html">Tilskudd</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                                                    <li><a href="#">Beredskap</a></li>
                                                    <li><a href="transportside_loverogregler.html">Lover og rettigheter</a></li>
                                                    <li><a href="hoeringer.html">Høringer</a></li>
                                                    <li><a href="kursogkonferanser.html">Kurs og konferanser</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix visible-xs visible-sm"></div>

                                            <div class=" col-sm-6 col-md-4">
                                                <ul>

                                                    <li><a href="transportside_diagnoserogtilstander.html">Diagnoser og tilstander</a></li>
                                                    <li><a href="#">Legemidler og medisinsk utstyr</a></li>
                                                    <li><a href="#">Godkjenning og turnus</a></li>
                                                    <li><a href="#">eHelse</a></li>
                                                    <li><a href="#">Helseøkonomi</a></li>
                                                    <li class="hidden_links"><a href="transportside_omoss.html">Om oss</a></li>
                                                    <li class="hidden_links"><a href="#">English</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class=" tab visuallyhidden tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                    <li><a href="#" id="footer_content_alphabetical">AD/HD</a></li>
                                                    <li><a href="transportside_alkohol.html">Alkohol</a></li>
                                                    <li><a href="#">Antibiotika</a></li>
                                                    <li><a href="#">Astma og allergi</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                    <li><a href="#">Beredskap og krisehåndtering</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                    <li><a href="artikkel_utredning_av_demens.html">Demens</a></li>
                                                    <li><a href="#">Diabetes</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                    <li><a href="#">E-resept</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>

                                                    <li><a href="transportside_folkehelse.html">Folkehelsearbeid</a></li>
                                                    <li><a href="#">Forgiftning</a></li>
                                                    <li><a href="#">Frisklivssentraler</a></li>
                                                    <li><a href="#">Fritt sykehusvalg </a></li>
                                                    <li><a href="#">Fysioterapi       </a></li>
                                                    <li><a href="#">Førerkort         </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                    <li><a href="#">Godkjenning og autorisasjon </a></li>
                                                    <li><a href="#">Graviditet, fødsel og amming</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                    <li><a href="#">Helsestasjon og skolehelsetjenesten    </a></li>
                                                    <li><a href="#">Helseøkonomi og finansiering           </a></li>
                                                    <li><a href="#">Hjerneslag                             </a></li>
                                                    <li><a href="#">Hjerte- og karsykdommer                </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                    <li><a href="#">Individuell plan og rehabilitiering    </a></li>
                                                    <li><a href="#">Influensa                              </a></li>
                                                    <li><a href="#">Innvandrerhelse                        </a></li>
                                                    <li><a href="#">IPLOS                                  </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                    <li><a href="#">Kjernejournal                          </a></li>
                                                    <li><a href="#">Kols                                   </a></li>
                                                    <li><a href="transportside_ernaering.html">Kosthold, ernæring og fysisk aktivitet </a></li>
                                                    <li><a href="#">Kreft                                  </a></li>
                                                    <li><a href="#">Kvalitetsindikatorer                   </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                    <li><a href="#">Legemidler                             </a></li>
                                                    <li><a href="#">Legestillingsregisteret                </a></li>
                                                    <li><a href="transportside_loverogregler.html">Lover og fortolkninger                 </a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>

                                                    <li><a href="#">ME-CFS                                 </a></li>
                                                    <li><a href="#">Medisinsk bibliotek                    </a></li>
                                                    <li><a href="#">Medisinsk utstyr                       </a></li>
                                                    <li><a href="#">Medisinske koder og kodeverk           </a></li>
                                                    <li><a href="#">Motiverende intervju                   </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                    <li><a href="../medisinskeRetningslinjer/">Nasjonale faglige retningslinjer       </a></li>
                                                    <li><a href="#">Nasjonale strategier og handlingsplaner</a></li>
                                                    <li><a href="#">Norsk pasientregister</a></li>
                                                    <li><a href="#">Nødnett</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                    <li><a href="#">Offshore                            </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                    <li><a href="#">Pasientrettigheter                  </a></li>
                                                    <li><a href="#">Psykisk helse                       </a></li>
                                                    <li><a href="#">Psykisk utviklingshemmede           </a></li>
                                                    <li><a href="#">Pårørende                           </a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                    <li><a href="#">Refusjoner                          </a></li>
                                                    <li><a href="#">Rus og narkotika                    </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                    <li><a href="#">Samhandlingsreformen                </a></li>
                                                    <li><a href="#">Seksuell helse                      </a></li>
                                                    <li><a href="#">Skjemaer                            </a></li>
                                                    <li><a href="#">Smittevern                          </a></li>
                                                    <li><a href="transportside_statistikk.html">Statistikk, tall og analyse         </a></li>
                                                    <li><a href="#">Sykehjem og hjemmesykepleie         </a></li>
                                                    <li><a href="#">Sykemelding                         </a></li>
                                                    <li><a href="#">System for innføring av nye metoder </a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                    <li><a href="#">Tannhelse            </a></li>
                                                    <li><a href="#">Taushetsplikt        </a></li>
                                                    <li><a href="tilskudd.html">Tilskudd             </a></li>
                                                    <li><a href="#">Tobakk, røyk og snus </a></li>
                                                    <li><a href="#">Turnus </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>
            <div class=" footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="kontaktoss.html">
                                <h4 class=" internal-link arrow_right">Kontakt oss</h4>
                            </a>
                            <p>Telefon: +47 810 20 050</p>
                            <p>E-post: <a href="mailto:postmottak@helsedir.no">postmottak@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                        </section>
                        <section class="col-sm-12 col-md-4">
                            <a href="transportside_omoss.html">   <h4 class=" internal-link arrow_right">Om Helsedirektoratet</h4></a>
                            <p>Helsedirektoratet gjennomfører helsepolitikken, forvalter helselover og er faglig rådgiver innen helse.</p>
                            <ul class=" about">
                                <li><a href="#">Ledige stillinger</a></li>
                                <li><a href="artikkel_organisasjonskart.html">Organisasjonskart</a></li>
                                <li><a href="#">Aktuelt</a></li>
                                <li><a href="kursogkonferanser.html">Kurs og konferanser</a></li>
                                <li><a href="#">Presse</a></li>
                            </ul>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <h4>Abonner</h4>
                            <a href="#"><p class="abonner">Nyheter på e-post</p></a>
                            <a href="#"><p class="abonner">Nyheter på RSS</p></a>

                            <div class=" socialmedia clearfix">
                                <h4>Følg oss på</h4>
                                <div>
                                    <a class=" twitter" href="#"></a>
                                    <a class=" facebook" href="#"></a>
                                    <a class=" youtube" href="#"></a>
                                    <a class=" linkedin" href="#"></a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!--            <div id="map" class="map">-->
            <!--            </div>-->
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!--    <script src="../js/google.maps.js"></script>-->
</body>
</html>