<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hva vi tilbyr</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_jobbihelsedirektoratet.html">Jobb i Helsedirektoratet</a></li>
                        </ol>
                    </nav>
                    <h1>Hva vi tilbyr</h1>
                    <p class="ingress">
                        I Helsedirektoratet møter du faglig dyktige kollegaer som er stolte av jobben sin og utfører den med stort engasjement. Vår visjon om gode helse – gode liv er førende for vårt arbeid.  Det samme er verdiene våre faglig styrke, åpenhet og samarbeid.
                    </p>
                    <div class="border"></div>
                </header>

                <section class="sectionwithaside">
                    <p>Hvem jobber hos oss:</p>
                    <ul class="bulletlist">
                        <li>
                            Helsepersonell (leger, sykepleiere, fysioterapeuter, ernæringsfysiologer, psykologer, tannleger, farmasøyter, jordmødre, hjelpepleiere)
                        </li>
                        <li>
                            Jurister
                        </li>
                        <li>Samfunnsøkonomer</li>
                        <li>Helseøkonomer/helseadministrasjon</li>
                        <li>Sivilingeniører</li>
                        <li>
                            Statsvitere / sosiologer / sosialantropologer
                        </li>
                        <li>Organisasjon, kommunikasjon og ledelse</li>
                        <li>
                            IT (for eksempel IT-drift, arkitekter, løsningsansvarlige, testledere, Sharepoint-/.NET-utviklere)
                        </li>
                    </ul>
                </section>
                <section>
                    <h2 class="accordion_mobile">Kurs og opplæring</h2>
                    <div class="content">
                        <p>Vi arrangerer kurs for alle medarbeidere. Av grunnkurs og fag- og fordypningskurs kan vi tilby blant annet kommunikasjon, beredskap, presentasjonsteknikk og kunnskapsbasert metode , i tillegg til forvaltningskurs som virksomhetsstyring, personvern, saksbehandling, lovverk og prosjekt. Det første kurset vi anbefaler er «Startpakken» som bidrar til at nyansatte får en god innføring og forstår direktoratets oppgaver og rammebetingelser. </p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Fleksibel arbeidstid og betalt overtid</h2>
                    <div class="content">
                        <p>Arbeidstid i Helsedirektoratets er fra kl. 08.00 - 15.45. I sommerhalvåret er arbeidstiden fra kl. 08.00 - 15.00. Vi har fleksibel arbeidstid med kjernetid fra kl. 09.00 til kl. 14.30 og de ansatte har anledning til å avspasere opparbeidet plusstid ved behov. Alle ansatte (ikke ledere) har betalt overtid.</p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Treningstilbud og aktivitetsdager</h2>
                    <div class="content">
                        <p>Ansatte hos oss kan trene inntil to timer i arbeidstiden, når treningen foregår i Helsedirektoratets lokaler. Vi har et aktivt bedriftsidrettslag og det arrangeres aktiviteter som skidag og deltakelse i Holmenkollstafetten. Vi har treningsavtale med SATS treningssentre som gir fordeler ved medlemskap. </p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Pensjon, lån og forsikring</h2>
                    <div class="content">
                        <p>Alle ansatte er medlemmer av Statens pensjonskasse, som tilbyr en av Norges beste pensjonsordninger. De ansatte trekkes to prosent av brutto lønn til obligatorisk premieinnskudd. Via medlemskapet i Statens pensjonskasse får du tilgang til et av markedets beste boliglån. </p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Permisjon </h2>
                    <div class="content">
                        <p>I staten har vi gode avtaler og fleksible ordninger for omsorgs- og velferdspermisjoner med og uten lønn. Det er også mulig å få permisjon til studier og videreutvikling. </p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Sosialt fellesskap  </h2>
                    <div class="content">
                        <p>Helsedirektoratet har et aktivt velferdsutvalg som arrangerer utflukter og andre sosiale aktiviteter.</p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">Gode seniorordninger fra 60 år </h2>
                    <div class="content">
                        <p>Helsedirektoratet ønsker å beholde seniorer i organisasjonen. De har viktig kompetanse og erfaring som vi verdsetter og har stort behov for. Fra fylte 60 år har de ansatte en ekstra ferieuke. I tillegg vil man fra fylte 62 år ha rett til permisjon med lønn i 14 dager per kalenderår (seniorpolitiske dager). </p>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>