<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salgsbevilling</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <nav class="col-md-6">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                    <li class="active"><a href="transportside_alkohol.html">Alkohol i næringslivet</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <article class="col-md-12 col-lg-12">
                <h1>Salgsbevilling</h1>
                <div class="row">

                    <section class="col-md-7 col-lg-7">

                        <h2>Krav til salgbevilling</h2>
                        <div>
                            <p>
                                Personen som driver butikken
                                kan søke om bevilling. Men man har ikke krav på å få den. Den er opp til kommunen å vurdere om en søknad skal innvilges.

                                Personer med vesentlig innflytelse på virksomheten må:

                                <ul>
                                    <li>Ha uklanderlig vandel</li>
                                    <li>Være over 20 år  </li>
                                    <li>Ha bestått kunnskapsprøven </li>
                                </ul>
                            </p>

                            <button class="btn btn-default btn-lg" type="submit">
                                Søk om salgsbevilling
                            </button>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <section class="col-md-7 col-lg-7">

                        <h2>Hvordan salgbevilling skal utøves</h2>
                        <div>
                            <p>
                                Utøvelsen av salgsbevillingen må følge de vilkårene som er gitt:
                            </p>

                            <ul>
                                <li>Salgstider</li>
                                <li>Aldersgrensebestemmelser</li>
                                <li>Regler om plassering av alkohol</li>
                                <li>Alkoholreklame</li>
                            </ul>
                            <p>Hvis vilkårene er brutt kan kommunene inndra bevillingen for kortere eller lengre tid</p>
                        </div>
                    </section>

                    <aside class="col-xs-7 col-sm-7 col-md-5 col-lg-4 col-lg-offset-1">

                        <div class="module_information_small clearfix">
                            <h2>Festrelatert vold</h2>
                            <div>

                                <p>2012</p><p class="forminsk">Av det totale antall anmeldte voldtekter i<br /><p>
                                    <span class="blaasOpp">40%</span>
                                <p>var festrelterte voldtekter</p><br />
                                <p> Av alle siktet eller dømt for festrelatert vold</p><br />
                                <span class="blaasOpp">90%</span><p>var påvirket av alkohol</p><br />

                                <a href="#">Les mer om sammenhengen mellom alkohol og </a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="row">
                    <section class="col-md-7 col-lg-7"></section>
                    <aside class="col-xs-7 col-sm-7 col-md-5 col-lg-4 col-lg-offset-1">
                        <div class="module_person">
                            <h3>Ansvarlig for denne siden</h3>
                            <div class="stripes-outer">
                                <div class="stripes cold left">
                                    <div class="left"></div>
                                    <div class="middle"></div>
                                    <div class="right"></div>
                                </div>
                                <img src="">
                            </div>

                            <p>
                                Martin Martinsen<br />
                                Rådgiver<br />
                                Telefon: 974 57 585<br />
                                martinmartinsen@helsedir.no
                            </p>
                        </div>
                    </aside>
                </div>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>