<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kostholdsråd</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                            <li class="active"><a href="transportside_ernaering.html">Ernæring</a></li>
                        </ol>
                    </nav>
                    <h1>Kostholdsråd</h1>
                    <div class="ingress">
                        Nye råd publisert i 2014....
                    </div>
                    <div class="border"></div>
                </header>

                <section>
                    <h2 class="accordion_mobile">
                        1. Spis variert
                    </h2>
                    <ul>
                        <li>Velg matvarer med begrensede mengder mettet fett, sukker og salt</li>
                        <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold.</li>
                        <li>Begrens inntaket av mat og drikke som har høyt energiinnhold og lite næring, som brus, godteri og snacks</li>
                        <li>Regelmessig fysisk aktivitet bidrar til å opprettholde kroppens energibalanse</li>
                    </ul>
                </section>
                <section>
                    <h2 class="accordion_mobile">2. Hold energibalansen</h2>
                </section>

                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">
                        3. Spis fisk 2-3 ganger i uken
                    </h2>
                    <div>
                        <ul>
                            <li>En porsjon tilsvarer 100 gram, og kan for eksempel være en liten bolle med salat, en gulrot eller en middels stor frukt</li>
                            <li>Du kan bruke friske, hermetiske, frosne, og varmebehandlede grønnsaker, frukt og bær. Mulighetene er mange. Halvparten av "fem om dagen" bør være grønnsaker</li>
                            <li>Varier mellom ulike typer grønnsaker og frukt. Bruk gjerne tomater, løk, purre og hvitløk.</li>
                            <li>Poteter er ikke inkludert i "fem om dagen", men hører med i et variert kosthold. Poteter inneholder mer kostfiber, vitaminer og mineraler enn vanlig ris og pasta. Du bør helst velge kokte eller bakte poteter.</li>
                            <li>Belgvekster som bønner og linser, frø, krydder og urter inngår heller ikke i "fem om dagen". Disse har ofte et høyt innhold av næringsstoffer og hører med i et variert kosthold.</li>
                            <li>Spis gjerne en liten håndfull usaltede nøtter om dagen.</li>
                        </ul>
                        <aside class="aside">
                            <div class="module module_statistics_graph">
                                <div class="module_description">Statistikk</div>
                                <h5 class="module_header">
                                    Antall fedmeoperasjoner
                                </h5>
                                <div id="module_chart_div"></div>

                                <a href="#" class="internal-link aftertext">Les mer om sammenhengen mellom bruk av sukker og livsstilssykdommer</a>
                                <img src="../img/modules/EKG-lyseblaa.png" alt="">
                            </div>
                        </aside>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">4. Spis grove kornprodukter</h2>
                    <div>
                        <ul>
                            <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                            <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                        </ul>
                        <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">5. Spis grove kornprodukter hver dag</h2>
                    <div>
                        <ul>
                            <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                            <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                        </ul>
                        <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                    </div>
                </section>
                <section class="sectionwithaside">
                    <h2 class="accordion_mobile">6. Velg magert kjøtt</h2>
                    <div>
                        <ul>
                            <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                            <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                        </ul>
                        <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                        <aside class="aside">
                            <div class="module module_guidelines">
                                <div class="module_description ">Nasjonal faglig retningslinje</div>
                                <h5 class="module_header">
                                    <a href="#" class="internal-link aftertext">
                                        Forebygging, utredning og behandling av overvekt og fedme hos barn og unge
                                    </a>
                                </h5>
                                <p class="module_ingress">2011</p>
                                <img src="../img/modules/EKG-sisteforsoek.png" alt="">
                            </div>
                        </aside>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">7. Begrens salt</h2>
                    <div>
                        <ul>
                            <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                            <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                        </ul>
                        <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">8. Spis grove kornprodukter hver dag</h2>
                    <div>
                        <ul>
                            <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                            <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                        </ul>
                        <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">9. Velg vann som tørstedrikk</h2>
                    <div>
                        <ul>
                            <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                            <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                        </ul>
                        <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">10. Vær fysisk aktiv i minst 30 min hver dag</h2>
                    <div>
                        <ul>
                            <li>Velg matvarer med begrensede mengder fett, sukker og salt</li>
                            <li>Se etter Nøkkelhullet når du handler. Det gjør det enklere å sette sammen et sunt, variert og godt kosthold</li>
                        </ul>
                        <a href="#">Mer om variert kosthold (helsenorge.no)</a>
                    </div>
                </section>

                <p> <i class="fa fa-print"></i>Skriv ut kostholdsrådene </p>

                <aside class="aside bottom ">
                    <div class="module_subscribe">
                        <p class="header">Abonnér på denne siden</p>
                        <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                        <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Year', 'Menn', 'Kvinner'],
              ['2013', 1322, 6348],

            ]);

            var options = {
                //                vAxis: { minValue: 0, maxValue: 50 },
                //                chartArea: { left: "5%", width: "60%" }
                'chartArea': { 'width': '70%', 'height': '70%' },
                //                legend: {
                //                    position: 'bottom',
                //                    alignment: 'start'
                //                },
                colors: ['#6cb4b5', '#a1bf37', '#004e66', '#0093a7', "#df9922"],
                //                series: {
                //                    0: { lineDashStyle: [14, 7] },
                //                    1: { lineDashStyle: [5, 5] },
                //                    4: { lineDashStyle: [7, 14] }
                //                }, lineWidth: 3
                legend: {
                    position: 'bottom',
                    alignment: 'start'
                },
                bar: {
                    groupWidth: "50%"
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('module_chart_div'));
            chart.draw(data, options);
        }

        $(window).resize(function () {
            drawChart();
        });
    </script>
</body>
</html>