<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="css/master.css" rel="stylesheet" />
        <link href="css/customLESS.css" rel="stylesheet" />
        <link href="css/fonts.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    </head>
    <body class="artikkel">
        <header class="rammeverk">
            <div class="topplinje">

                <div class="container">

                </div>
            </div>

            <div class="container clearfix">
                <h1 id="hovedtittel">
                    <img id="logo" src="img/HDIR-LOGO-HORISONTAL-NEW.png" alt="Helsedirektoratet logo" />
                </h1>
                <img id="soekeknapp" src="img/ikon_søk.png" alt="Søkeknapp">
                <input id="search" />
            </div>
            <div class="container">
                <!--                <nav id="hovedmeny">-->
                <!--                    <ul>-->
                <!--                        <li class="hovedmenypunkt">-->
                <!--                            <a href="#" class="menypunkt">Tema</a>-->
                <!--                        </li>-->
                <!--                        <li class="hovedmenypunkt">-->
                <!--                            <a href="#" class="menypunkt">Publikasjoner</a>-->
                <!--</li>-->
                <!--                        <li class="hovedmenypunkt">-->
                <!--                            <a href="#" class="menypunkt">Skjema</a>-->
                <!--</li>-->
                <!--                        <li class="hovedmenypunkt">-->
                <!--                            <a href="#" class="menypunkt">Tilskudd</a>-->
                <!--</li>-->
                <!--                        <li class="hovedmenypunkt">-->
                <!--                            <a href="#" class="menypunkt">Tall og analyse</a>-->
                <!--</li>-->
                <!--                        <li class="hovedmenypunkt">-->
                <!--                            <a href="#" class="menypunkt">Lover og regler</a>-->
                <!--</li>-->
                <!---->
                <!--                    </ul>-->
                <!--                </nav>-->
            </div>
        </header>
        <div id="main">
            <article>
                <div class="container">
                    <div class="personmodul" style="float: right">
                        <h3>Ansvarlig for denne siden</h3>
                        <div class="stripes-outer">
                            <div class="stripes cold left">
                                <div class="left"></div>
                                <div class="middle"></div>
                                <div class="right"></div>
                            </div>
                            <img src="img/ansatt_bilde.png">
                        </div>

                        <p>
                            Martin Martinsen<br />
                            Rådgiver<br />
                            Telefon: 974 57 585<br />
                            martinmartinsen@helsedir.no
                        </p>
                    </div>


                    <img src="img/ikon-meny_aapne.png" alt="Menyknapp" id="menyknapp" class="menyknapp" onclick=diffImage(this) />
                    <div class="dropdownmeny" style="margin-bottom: 40px; margin-left: 0; padding: 0;">
                        <ul class="dropdownmenyliste no-js" style="padding-left: 0;">
                            <!--                            <li>-->
                            <!--                                 />-->
                            <!--                            </li>-->

                            <li class="hovedmenypunkt">
                                <span class="menypunkt"><a href="#">Tema</a></span>
                            </li>
                            <li class="hovedmenypunkt">
                                <span class="menypunkt"><a href="#">Publikasjoner</a></span>
                            </li>
                            <li class="hovedmenypunkt">

                                <span class="menypunkt"><a href="#">Skjema</a></span>
                            </li>
                            <li class="hovedmenypunkt">

                                <span class="menypunkt"><a href="#">Tilskudd</a></span>
                            </li>
                            <li class="hovedmenypunkt">

                                <span class="menypunkt"><a href="#">Tall og analyse</a></span>
                            </li>
                            <li class="hovedmenypunkt">

                                <span class="menypunkt"><a href="#">Lover og regler</a></span>
                            </li>

                        </ul>
                    </div>
                    <a href="#" style="color: #004e66">moiestie consequat, vel ilum dolore</a>
                    <br />
                    <br />
                    <a href="#" style="color: #df9922">moiestie consequat, vel ilum dolore</a>

                    <div class="kollapslenker">
                        <h4>Anbefalinger<i class="fa fa-chevron-down"></i></h4>
                        <h4>Aktivitetshåndboken<i class="fa fa-chevron-right"></i></h4>
                        <h4>Skole<i class="fa fa-chevron-right"></i></h4>
                        <h4>Tall<i class="fa fa-chevron-right"></i></h4>
                        <h4>Gå og sykle<i class="fa fa-chevron-right"></i></h4>
                    </div>
                    <div class="tabs">
                        <ul>
                            <li id="tabheading-1"><a href="#tabs-1">Spørsmål og svar</a></li>
                            <li id="tabheading-2"><a href="#tabs-2">Brev og uttalelser</a></li>
                        </ul>
                        <div id="tabs-1" class="kollapslenker-tabs">
                            <h4>Hvem gjelder loven for?<i class="fa fa-chevron-down"></i></h4>
                            <h4>Hvem er helsepersonell?<i class="fa fa-chevron-down"></i></h4>
                            <h4>Hva er helsehjelp?<i class="fa fa-chevron-down"></i></h4>
                        </div>
                        <div id="tabs-2" class="kollapslenker-tabs">
                            <h4>Brev<i class="fa fa-chevron-down"></i></h4>
                            <h4>Uttalelser<i class="fa fa-chevron-down"></i></h4>

                        </div>

                    </div>

                    <br />
                    <div class="kollapslenker-graa">
                        <h4>Anbefalinger<i class="fa fa-chevron-down"></i></h4>
                        <h4>Aktivitetshåndboken<i class="fa fa-chevron-right"></i></h4>
                        <h4>Skole<i class="fa fa-chevron-right"></i></h4>
                        <h4>Tall<i class="fa fa-chevron-right"></i></h4>
                        <h4>Gå og sykle<i class="fa fa-chevron-right"></i></h4>
                    </div>
                    <div class="informasjonsboks">
                        <img class="toppstrek" src="img/stripe_liten_varm.png" />
                        <h4>Nasjonale faglige retningslinjer</h4>
                        <ul id="retningslinjer">
                            <li><span>Svangerskapsomsorgen</span></li>
                            <li><span>Forebygging og behandling av osteoporose og osteoporotiske brudd</span></li>
                            <li><span>Røykeavvenning i primærhelsetjenesten</span></li>
                            <li><span>Gravide i legemiddelassistert rehabilitering (LAR) og oppfølging av familiene</span></li>
                        </ul>
                        <a><h4>Se alle nasjonale faglige retningslinjer</h4></a>
                    </div>
                    <br />
                    <div id="elementer">

                        <nav id="breadcrumbs">
                            <a href="#">Forside</a>
                            >
                            <a href="#">Folkehelse</a>
                        </nav>

                        <div class="nedlastingsLinker">
                            Last ned(pdf, 2MB)<img src="img/last_ned.png" alt="nedlastingsknapp" />
                        </div>
                        <br />
                        <img src="img/knapp-uten-tekst.png" />
                        <br />
                        <img src="img/stripe_liten_kald.png" />
                        <br />
                        <img src="img/stripe_liten_varm.png" />
                        <br />
                        <br />
                    </div>
                    <br />



                    <div class="faktaboks js-expander">
                        <div class="stripes-outer">
                            <div class="stripes cold">
                                <div class="left"></div>
                                <div class="middle"></div>
                                <div class="right"></div>
                            </div>
                        </div>
                        <h2>Om helsepersonelloven</h2>
                        <div class="js-expand">
                            <h4>Loven omhandler:</h4>
                            <ul>
                                <li>
                                    <span>faglig forsvarlig yrkesutøvelse</span>
                                </li>
                                <li>
                                    <span>taushetsplikt</span>
                                </li>
                                <li>
                                    <span>opplysningsplikt og meldeplikt til nød</span>
                                </li>
                                <li>
                                    <span>etater, barnevern, registre mv.</span>
                                </li>
                                <li>
                                    <span>dokumentasjonsplikt (journalføring)</span>
                                </li>
                                <li>
                                    <span>rekvirering av legemidler</span>
                                </li>
                                <li>
                                    <span>markedsføring</span>
                                </li>
                                <li>
                                    <span>utstedelse av attester og erklæringer</span>
                                </li>
                                <li>
                                    <span>autorisasjon og spesialitsgodkjenning</span>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="informasjonsboks">
                        <img class="toppstrek" src="img/stripe_liten_varm.png" />
                        <h4>Relevante tilskudd</h4>
                        <ul id="tilskudd">
                            <li><span>Forskning på selvorganisert selvhjelp</span></li>
                            <li><span>Nasjonal hivstrategi 2009-2014. Oppfølging av Aksept og mestringer</span></li>
                            <li><span>Hjelpetiltak for personer med problematisk spilleadferder</span></li>
                        </ul>
                        <a><h4>Se alle tilskudd</h4></a>
                    </div>

                    <div class="informasjonsboks" id="infoboks">

                        <div class="stripes-outer">
                            <div class="stripes warm">
                                <div class="left"></div>
                                <div class="middle"></div>
                                <div class="right"></div>
                            </div>

                            <h4>Lover</h4>
                        </div>
                        <ul id="lover">
                            <li><span>Helsepersonelloven</span></li>
                            <li><span>Folkehelseloven</span></li>
                            <li><span>Folketrygdloven</span></li>
                            <li><span>Helseregisterloven</span></li>
                        </ul>
                        <a><h4>Se alle lover</h4></a>
                    </div>
                    <div id="statistikk">
                        <ul>
                            <li id="tabheading-1"><a href="#tabs-1">Oversikt</a></li>
                            <li id="tabheading-2"><a href="#tabs-2">Tabeller</a></li>
                        </ul>
                        <div id="tabs-1" class="kollapslenker-tabs">

                        </div>
                        <div id="tabs-2" class="kollapslenker-tabs">

                        </div>
                        <div class="kollapslenker">
                            <h4>Om statistikken<i class="fa fa-chevron-down"></i></h4>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <footer class="rammeverk">
            <div class="container">
                <p>
                    Abonner på innholdet fra denne siden
                </p>
                <a href="#"><img src="img/ikon_abonner_epost.png" alt="Abonner på innholdet fra denne siden på E-post" />E-post</a>
                <a href="#"><img src="img/ikon_abonner_rss.png" alt="Abonner på innholdet fra denne siden på RSS" />RSS-strøm</a>
            </div>
        </footer>

        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/dropdown.js"></script>
        <script src="js/toggle.js"></script>
        <script src="js/sohoFont.js"></script>
        <script src="js/jquery-ui-1.10.4.custom.js"></script>
        <script src="js/tabs.js"></script>
        <script src="js/tabsJQueryUI.js"></script>
        <script src="js/expand.js"></script>
    </body>
</html>