<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foundation 4</title>
    <link href="css/master.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link href="css/tabs.css" rel="stylesheet">
    <link href="css/customLESS.css" rel="stylesheet">

    <link href="css/bootstrap.css" rel="stylesheet" />

  

</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col-xs-6 col-md-4">
                <img src="img/logo.svg" />
            </div>
<!--            <div class="col-md-2 col-md-offset-6">-->
<!--                <p>Meny</p><img id="menyknapp" src="img/meny.svg"/>-->
<!--                <img src="img/sok.svg"/>-->
<!--            </div>-->
        </header>
        
        <article class="row">
            <div class="col-md-7">
                <h1>
                    Salgsbevilling
                </h1>

                <p class="ingress">Regler og søknad for butikker som vil selge alkohol</p>

                <h2>Hvem kan selge alkohol?</h2>

                <p>For å selge alkohol i butikker må du søke om salgsveilling fra den kommunen forretningen ligger i. Bensinstasjoner og kiosker får ikke lov til å selge alkohol</p>

                <h2>Krav til salgbevilling</h2>

                <p>
                    Personen som driver butikken
                    kan søke om bevilling. Men man har ikke krav på å få den. Den er opp til kommunen å vurdere om en søknad skal innvilges.

                    Personer med vesentlig innflytelse på virksomheten må:

                    <ul>
                        <li>
                            Ha uklanderlig vandel
                        </li>
                        <li>
                            Være over 20 år
                        </li>
                        <li>
                            Ha bestått kunnskapsprøven
                        </li>
                    </ul>
                </p>

                <h2>Hvordan salgbevilling skal utøves</h2>

                <p>
                    Utøvelsen av salgsbevillingen må følge de vilkårene som er gitt

                    <ul>
                        <li>Salgstider</li>
                        <li>Aldersgrensebestemmelser</li>
                        <li>Regler om plassering av alkohol</li>
                        <li>Alkoholreklame</li>
                    </ul>
                    Hvis vilkårene er brutt kan kommunene inndra bevillingen for kortere eller lengre tid.
                </p>

                <!--                <section class="row">-->
                <!--                    <div class="col-md-12">-->
                <!--                        kerwtknwekjnr-->
                <!--                    </div>-->
                <!--                </section>-->
                <!--                <section class="row">-->
                <!--                    <div class="col-md-8">jksnkgjsngjknserjkn</div>-->
                <!--                    <div class="col-md-4">jksnkgjsngjknserjkn</div>-->
                <!--                </section>-->
            </div>
            <div class="col-md-4">
                <br/>
                <div class="informasjonsboks retningslinjer" id="infoboks">

                    <div class="stripes-outer">
                        <div class="stripes warm">
                            <div class="left"></div>
                            <div class="middle"></div>
                            <div class="right"></div>
                        </div>

                        <h4>Nasjonale faglige retningslinjer</h4>
                    </div>
                    <ul class="retningslinjer-liste">
                        <li><a>Svangerskapsomsorgen</a></li>
                        <li><a>Forebygging og behandling av osteoporose og osteoporotiske brudd</a></li>
                        <li><a>Røykeavvenning i primærhelsetjenesten</a></li>
                        <li><a>Gravide i legemiddelassistert rehabilitering (LAR) og oppfølging av familiene</a></li>
                    </ul>
                    <div class="seAlle-link"><a>Se alle nasjonale faglige retningslinjer</a></div>
                    <div class="skygge bottom">
                        <div class="orange"></div>
                    </div>
                </div>
            </div>
        </article>
    </div>





    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/changeLayoutOnHeaderContents.js"></script>
    <script src="js/clickableBox.js"></script>
    <script src="js/expand.js"></script>
    <script src="js/feedback.js"></script>
    <script src="js/login.js"></script>
    <script src="js/toggle.js"></script>
    <script src="js/sohoFont.js"></script>
    <script src="js/calibriFont.js"></script>
</body>
</html>
