<div class="container-fluid footerwrapper">
    <div class="container">
        <footer class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="sosialemedier">
                    <h4>Følg oss</h4>
                    <div><i class="fa fa-facebook-square fa-lg"></i><a href="#" class="klikkbar">Facebook</a></div>
                    <div><i class="fa fa-twitter-square fa-lg"></i><a href="#" class="klikkbar">Twitter</a></div>
                    <div><i class="fa fa-linkedin-square fa-lg"></i><a href="#" class="klikkbar">LinkedIn</a></div>
                    <div><i class="fa fa-youtube-square fa-lg"></i><a href="#" class="klikkbar">YouTube</a></div>
                </div>
            </div>

            <div class="col-xs-7 col-xs-offset-1 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-4">
            </div>
        </footer>
    </div>
</div>