<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/icon.ico">
    <title>Helsedirektoratet | Helsedirektoratet</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
</head>

<body>
    <div id="header" class="topbar"></div>
    <div class="container">
        <article class="row forside">
            <section class="col-lg-offset-4 col-lg-8">
                <a class="hContent" href="../medisinskeRetningslinjer/">
                    <h2 class="hContent">Finn retningslinjer</h2>
                    <p class="hContent">150 retningslinjer</p>
                </a>
                <a class="hContent" href="transportside_loverogregler.html">
                    <h2 class="hContent">Finn lovfortolkninger</h2>
                    <p class="hContent">22 lover innen helse</p>
                </a>
                <a href="#" class="hContent">
                    <h2 class="hContent">Søk tilskudd</h2>
                    <p class="hContent">   11 milliarder kroner deles ut årlig</p>
                </a>
                <a href="#" class="hContent">
                    <h2 class="hContent">Last ned publikasjon</h2>
                    <p class="hContent">889 rappporter, veiledere og håndbøker</p>
                </a>
                <a class="hContent" href="transportside_statistikk.html">
                    <h2 class="hContent">Finn statistikk</h2>
                    <p class="hContent">Tall fra 25 emner</p>
                </a>
            </section>
        </article>

        <h2 class="hContent">Ny rapport om kosthold, ernæring og fysisk aktivitet</h2>
        <article class="row">
            <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="img-responsive" src="../img/publisering_eksempel.png" />
            </section>
            <section class="col-md-6 col-lg-6">
                <p class="hContent">Ny rapport lansert 1.februar 2014. Den avløser "Norske anbefalinger for ernæring og fysisk aktivitet" fra 2005.</p>
                <ul class="hContent">
                    <li>Redusere stillesitting for alle aldersgrupper</li>
                    <li>Barn bør ha 60 minutter med moderat aktivitet om dagen</li>
                    <li>Spis mindre salt og mettet fett</li>
                </ul>
                <button class="btn btn-default btn-lg">Last ned rapporten</button>
                <a href="#" class="pull-right">Les mer om rådene til kosthold og trening</a>
            </section>
        </article>
        <article class="row">
            <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2 class="hContent">Aktuelt</h2>
                <a href="#" class="hContent">Aktuelt</a> <p class="hContent">7.mars 2014</p>
                <a href="#" class="hContent">Aktuelt</a> <p class="hContent">7.mars 2014</p>
                <a href="#" class="hContent">Se alle nyheter</a>
            </section>
            <section class=" col-md-6 col-lg-6">
                <h2 class="hContent">Kurs og konferanser</h2>
                <i class="fa fa-calendar-o"></i><a href="#" class="hContent">Helsekonferanse</a><p class="hContent">7-8.mai 2014 <br />Oslo</p>
                <i class="fa fa-calendar-o"></i><a href="#" class="hContent">Nordisk folkehelsekonferanse</a> <p class="hContent">1.juni 2014 <br />Trondheim</p>
                <a href="#" class="hContent">Se alle kurs og konferanser</a>
            </section>
        </article>
        <article>
            <img src="../img/statistikk_eksempel.png" class="img-responsive" />
            <a href="#" class="hContent">Les mer om samhandlingsreformen</a>
        </article>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/sohoFont.js"></script>

    <script src="../js/headerFooter.js"></script>
</body>
</html>