<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />

    <title>Helsedirektoratet</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header">
        <div class="container">
            <header class="row ">
                <div class="col-xs-8 col-sm-8 col-md-4 col-lg-3">
                    <a href="forside.html"><img id="logo" src="http://helsedir.azurewebsites.net/img/logo.svg" alt="" /></a>
                </div>

                <div class="col-xs-2 visible-xs xs-no-padding col-sm-2 visible-sm">
                    <div class="menubutton visible-xs visible-sm">
                        <a id="mobilesearch" class="mobile-search" href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-3 hidden-mobile  col-md-offset-1 col-lg-offset-3" id="mainsearch">
                    <input class="mainsearch" type="text" value="Søk i alt innhold" />
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                    <a class="links hidden-sm hidden-xs pull-right" href="#">ENGLISH</a>
                    <a class="links hidden-sm hidden-xs pull-right" href="transportside_omoss.html">OM OSS</a>
                </div>
            </header>
        </div>
    </div>
    <div class="container crisis ">
        <div class="row">
            <div class="col-md-12">
                <div class="header2">Vu<i class="fa fa-exclamation"></i>kanutbrudd på Island</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <section>
                    <div class="header3">Bruk munnbind</div>
                    <div>
                        <p>Asken fra vulkanutbruddet har ført til høy luftforurensing, og kan gi helseskader blant barn og personer med luftveissykdommer.</p>
                        <ul>
                            <li>Helsedirektoratet anbefaler personer i risikogruppene å bruke munnbind utendørs i de berørte områdene.</li>
                            <li>Det jobbes for å kartlegge graden av forurensing i lufta. Helse Vest og Helse Midt-Norge har styrket beredskapen.</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <div class="header3">Ekstra ambulansepersonell</div>
                    <div>
                        <p>Luftambulansen kan fortsatt ikke fly langs kysten i Sogn og Fjordane, Møre og Romsdal, Sør-Trøndelag og Nord-Trøndelag. Det er nå sendt 7 ambulanser med personell fra Helse Sør-Øst for å styrke beredskapen i området.</p>
                    </div>
                </section>
            </div>
            <div class="col-md-6">

                <section>
                    <div class="header3">For befolkningen</div>
                    <div>
                        <p>
                            Informasjon om luftforurensing og helseskader.
                            Gå til <a href="http://www.helsenorge.no">helsenorge.no</a> eller ring 815 70 030
                        </p>
                    </div>
                </section>
                <section>
                    <div class="header3">For fagpersonell</div>
                    <button class="calltoaction">God handlingsknapp</button>
                </section>
            </div>
        </div>
    </div>
    <div class="mainentrance">
        <div class="container">
            <article class="row forside">
                <section class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                    <div class="entrancebutton ">
                        <a href="transportside_folkehelse.html">
                            <div class="innerDiv">
                                <h2>Folkehelse og forebygging</h2><p>Kosthold, fysisk aktivitet, psykisk helse, tobakk ...</p>
                            </div>
                        </a>
                    </div>

                    <div class="entrancebutton">
                        <a href="../medisinskeRetningslinjer/">
                            <div class="innerDiv">
                                <h2>Nasjonale faglige retningslinjer</h2><p>Retningslinjer og veiledere</p>
                            </div>
                        </a>
                    </div>

                    <div class="entrancebutton">
                        <a href="transportside_loverogregler.html">
                            <div class="innerDiv">
                                <h2>Lovfortolkninger</h2><p>Fortolkninger, brev og uttalelser</p>
                            </div>
                        </a>
                    </div>
                    <div class="entrancebutton ">
                        <a href="#">
                            <div class="innerDiv"> <h2>Tilskudd</h2><p>Søk og rapporter tilskudd</p></div>
                        </a>
                    </div>

                    <div class="entrancebutton">
                        <a href="transportside_statistikk.html">
                            <div class="innerDiv">
                                <h2>Statistikk og analyse</h2>
                                <p>Finn statistikk, lag egne rapporter, hent rådata</p>
                            </div>
                        </a>
                    </div>

                    <!--
                        <div class="entrancebutton menuandsearch">-->
                    <!---->
                    <!--                        <div class="menubutton">-->
                    <!---->
                    <!--                            <input class="mainsearch" type="text" />-->
                    <!--                            <span class="js-expander menyknapp">-->
                    <!--                                <span>Alt innhold</span>-->
                    <!--                                <i class="fa fa-bars"></i>-->
                    <!--                            </span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <a href="../medisinskeRetningslinjer/">-->
                    <!--                        <h2>Finn retningslinjer</h2>-->
                    <!--                        <p>150 retningslinjer</p>-->
                    <!--                    </a>-->
                    <!--                    <a href="transportside_loverogregler.html">-->
                    <!--                        <h2>Finn lovfortolkninger</h2>-->
                    <!--                        <p>22 lover innen helse</p>-->
                    <!--                    </a>-->
                    <!--                    <a href="#">-->
                    <!--                        <h2>Søk tilskudd</h2>-->
                    <!--                        <p>   11 milliarder kroner deles ut årlig</p>-->
                    <!--                    </a>-->
                    <!--                    <a href="#">-->
                    <!--                        <h2>Last ned publikasjon</h2>-->
                    <!--                        <p>889 rappporter, veiledere og håndbøker</p>-->
                    <!--                    </a>-->
                    <!--                    <a href="transportside_statistikk.html">-->
                    <!--                        <h2>Finn statistikk</h2>-->
                    <!--                        <p>Tall fra 25 emner</p>-->
                    <!--                    </a>-->
                    <div class="entrancebutton menu menubar">
                        <div class="js-expander menyknapp">
                            <span>
                                Alt innhold A til Å <i class="fa fa-bars"></i>
                            </span>
                        </div>
                    </div>
                </section>
            </article>
            <!--            <div class="row">-->
            <!--                <div class="col-md-5 col-md-offset-7 menubar">-->
            <!--                    <div class="js-expander menyknapp">-->
            <!--                        <span>-->
            <!--                            Alt innhold og søk <i class="fa fa-bars"></i>-->
            <!--                        </span>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
    </div>

    <div class="toppmeny container-fluid js-expand">
        <div class="inner container-fluid">
            <div class="container">
                <nav class="tabs">
                    <ul class="tab-links">
                        <li class="active"><a href="#tab1">Kategorier</a></li>
                        <li><a href="#tab2">Innhold A-Å</a></li>
                        <li>
                            <input class="mainsearch" type="text" placeholder="Søk i alt innhold" value="Søk i alt innhold" />
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab active">

                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <ul>
                                        <li><a href="../medisinskeRetningslinjer/">Nasjonale faglige retningslinjer</a></li>
                                        <li><a href="#">Nasjonale strategier og planer</a></li>
                                        <li><a href="transportside_statistikk.html">Statistikk og analyse</a></li>
                                        <li><a href="publikasjoner.html">Rapporter, brosjyrer og publikasjoner</a></li>
                                        <li><a href="tilskudd.html">Tilskudd</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <ul>
                                        <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                                        <li><a href="#">Beredskap</a></li>
                                        <li><a href="transportside_loverogregler.html">Lover og rettigheter</a></li>
                                        <li><a href="hoeringer.html">Høringer</a></li>
                                        <li><a href="#">Kurs og konferanser</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <ul>

                                        <li><a href="transportside_diagnoserogtilstander.html">Diagnoser og tilstander</a></li>
                                        <li><a href="#">Legemidler og medisinsk utstyr</a></li>
                                        <li><a href="#">Godkjenning og turnus</a></li>
                                        <li><a href="#">eHelse</a></li>
                                        <li><a href="#">Helseøkonomi</a></li>
                                        <li><a href="transportside_omoss.html" class="hidden-lg hidden-md">Om oss</a></li>
                                        <li><a href="#" class="hidden-lg hidden-md">English</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="row alfabetisk">
                                <div class="col-sm-2 col-md-3 col-lg-3">

                                    <ul>
                                        <li>A</li>
                                        <li><a href="#">AD/HD</a></li>
                                        <li><a href="transportside_alkohol.html">Alkohol</a></li>
                                        <li><a href="#">Antibiotika</a></li>
                                        <li><a href="#">Astma og allergi</a></li>
                                    </ul>

                                    <ul>
                                        <li>B</li>
                                        <li><a href="#">Beredskap og krisehåndtering</a></li>
                                    </ul>

                                    <ul>
                                        <li>D</li>
                                        <li><a href="artikkel_utredning_av_demens.html">Demens</a></li>
                                        <li><a href="#">Diabetes</a></li>
                                    </ul>

                                    <ul>
                                        <li>E</li>
                                        <li><a href="#">E-resept</a></li>
                                    </ul>
                                    <ul>
                                        <li>F</li>

                                        <li><a href="transportside_folkehelse.html">Folkehelsearbeid</a></li>
                                        <li><a href="#">Forgiftning</a></li>
                                        <li><a href="#">Frisklivssentraler</a></li>
                                        <li><a href="#">Fritt sykehusvalg </a></li>
                                        <li><a href="#">Fysioterapi       </a></li>
                                        <li><a href="#">Førerkort         </a></li>
                                    </ul>
                                    <ul>
                                        <li>G</li>
                                        <li><a href="#">Godkjenning og autorisasjon </a></li>
                                        <li><a href="#">Graviditet, fødsel og amming</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">

                                    <ul>
                                        <li>H</li>
                                        <li><a href="#">Helsestasjon og skolehelsetjenesten    </a></li>
                                        <li><a href="#">Helseøkonomi og finansiering           </a></li>
                                        <li><a href="#">Hjerneslag                             </a></li>
                                        <li><a href="#">Hjerte- og karsykdommer                </a></li>
                                    </ul>
                                    <ul>
                                        <li>I</li>
                                        <li><a href="#">Individuell plan og rehabilitiering    </a></li>
                                        <li><a href="#">Influensa                              </a></li>
                                        <li><a href="#">Innvandrerhelse                        </a></li>
                                        <li><a href="#">IPLOS                                  </a></li>
                                    </ul>
                                    <ul>
                                        <li>K</li>
                                        <li><a href="#">Kjernejournal                          </a></li>
                                        <li><a href="#">Kols                                   </a></li>
                                        <li><a href="transportside_ernaering.html">Kosthold, ernæring og fysisk aktivitet </a></li>
                                        <li><a href="#">Kreft                                  </a></li>
                                        <li><a href="#">Kvalitetsindikatorer                   </a></li>
                                    </ul>
                                    <ul>
                                        <li>L</li>
                                        <li><a href="#">Legemidler                             </a></li>
                                        <li><a href="#">Legestillingsregisteret                </a></li>
                                        <li><a href="transportside_loverogregler.html">Lover og fortolkninger                 </a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">

                                    <ul>
                                        <li>M</li>

                                        <li><a href="#">ME-CFS                                 </a></li>
                                        <li><a href="#">Medisinsk bibliotek                    </a></li>
                                        <li><a href="#">Medisinsk utstyr                       </a></li>
                                        <li><a href="#">Medisinske koder og kodeverk           </a></li>
                                        <li><a href="#">Motiverende intervju                   </a></li>
                                    </ul>
                                    <ul>
                                        <li>N</li>
                                        <li><a href="../medisinskeRetningslinjer/">Nasjonale faglige retningslinjer       </a></li>
                                        <li><a href="#">Nasjonale strategier og handlingsplaner</a></li>
                                        <li><a href="#">Norsk pasientregister</a></li>
                                        <li><a href="#">Nødnett</a></li>
                                    </ul>
                                    <ul>
                                        <li>O</li>
                                        <li><a href="#">Offshore                            </a></li>
                                    </ul>
                                    <ul>
                                        <li>P</li>
                                        <li><a href="#">Pasientrettigheter                  </a></li>
                                        <li><a href="#">Psykisk helse                       </a></li>
                                        <li><a href="#">Psykisk utviklingshemmede           </a></li>
                                        <li><a href="#">Pårørende                           </a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">

                                    <ul>
                                        <li>R</li>
                                        <li><a href="#">Refusjoner                          </a></li>
                                        <li><a href="#">Rus og narkotika                    </a></li>
                                    </ul>
                                    <ul>
                                        <li>S</li>
                                        <li><a href="#">Samhandlingsreformen                </a></li>
                                        <li><a href="#">Seksuell helse                      </a></li>
                                        <li><a href="#">Skjemaer                            </a></li>
                                        <li><a href="#">Smittevern                          </a></li>
                                        <li><a href="transportside_statistikk.html">Statistikk, tall og analyse         </a></li>
                                        <li><a href="#">Sykehjem og hjemmesykepleie         </a></li>
                                        <li><a href="#">Sykemelding                         </a></li>
                                        <li><a href="#">System for innføring av nye metoder </a></li>
                                    </ul>
                                    <ul>
                                        <li>T</li>
                                        <li><a href="#">Tannhelse            </a></li>
                                        <li><a href="#">Taushetsplikt        </a></li>
                                        <li><a href="tilskudd.html">Tilskudd             </a></li>
                                        <li><a href="#">Tobakk, røyk og snus </a></li>
                                        <li><a href="#">Turnus </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container frontpage">
        <h2>Ny rapport om kosthold, ernæring og fysisk aktivitet</h2>
        <article class="row">
            <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img class="img-responsive" src="../img/publisering_eksempel.png" alt="Rapport: Anbefalinger om kosthold, ernæring og fysisk aktivitet" />
            </section>
            <section class="col-md-6 col-lg-6">
                <p>2014/02/01</p>
                <h3>Ny rapport lansert 1.februar 2014. Den avløser "Norske anbefalinger for ernæring og fysisk aktivitet" fra 2005.</h3>
                <ul>
                    <li>Redusere stillesitting for alle aldersgrupper</li>
                    <li>Barn bør ha 60 minutter med moderat aktivitet om dagen</li>
                    <li>Spis mindre salt og mettet fett</li>
                </ul>
                <form action="artikkel_kostholdsraad.html">
                    <button class="calltoaction">Les mer om kosthold og trening</button>
                </form>
            </section>
        </article>
    </div>
    <div class="container frontpage">

        <article class="row">
            <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2>Nyheter</h2>
                <div class="news"><p>08.05.2014</p> <a href="#">Nye nasjonale kvalitetsindikatorer</a></div>
                <div class="news">
                    <p>07.05.2014</p> <a href="#">Har du fått #dine30 i dag?</a>
                </div>
                <div class="news">
                    <p>05.05.2014</p> <a href="#">Følg Helsekonferansen 2014 direkte</a>
                </div>
                <a href="nyheter.html">Se alle nyheter</a>
            </section>
            <section class=" col-md-6 col-lg-6">
                <h2>Kurs og konferanser</h2>
                <div class="conferenceitem">
                    <i class="fa fa-calendar-o"></i>
                    <a href="#">Helsekonferanse</a><p>7-8.mai 2014</p> <p>Oslo</p>
                </div>
                <div class="conferenceitem">
                    <i class="fa fa-calendar-o"></i>
                    <a href="#">Nordisk folkehelsekonferanse</a> <p>1.juni 2014</p> <p>Trondheim</p>
                </div>
                <a href="#">Se alle kurs og konferanser</a>
            </section>
        </article>
    </div>
    <div class="frontpagewrapper grey">
        <div class="container frontpage">

            <article class="row">
                <section class="col-md-12">
                    <h2>Utvikling i median ventetid i antall dager, siste 12 måneder</h2>
                    <div id="chart_div"></div>
                    <a href="statistikk_ventetider.html">Les mer om ventetider</a>
                </section>
            </article>
        </div>
    </div>
    <footer class="footerwrapper">
        <div class="menuwrapper">
            <div class="container">
                <div class="row forside">
                    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <nav class="tabs">
                            <ul class="tab-links">
                                <li class="active"><a href="#tab3">Kategorier</a></li>
                                <li><a href="#tab4">Innhold A-Å</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab3" class="tab active">

                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="../medisinskeRetningslinjer/">Nasjonale faglige retningslinjer</a></li>
                                                <li><a href="#">Nasjonale strategier og planer</a></li>
                                                <li><a href="transportside_statistikk.html">Statistikk og analyse</a></li>
                                                <li><a href="publikasjoner.html">Rapporter, brosjyrer og publikasjoner</a></li>
                                                <li><a href="tilskudd.html">Tilskudd</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                                                <li><a href="#">Beredskap</a></li>
                                                <li><a href="transportside_loverogregler.html">Lover og rettigheter</a></li>
                                                <li><a href="hoeringer.html">Høringer</a></li>
                                                <li><a href="#">Kurs og konferanser</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <ul>

                                                <li><a href="transportside_diagnoserogtilstander.html">Diagnoser og tilstander</a></li>
                                                <li><a href="#">Legemidler og medisinsk utstyr</a></li>
                                                <li><a href="#">Godkjenning og turnus</a></li>
                                                <li><a href="#">eHelse</a></li>
                                                <li><a href="#">Helseøkonomi</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab4" class="tab">
                                    <div class="row alfabetisk">
                                        <div class="col-sm-2 col-md-3 col-lg-3">

                                            <ul>
                                                <li>A</li>
                                                <li><a href="#">AD/HD</a></li>
                                                <li><a href="transportside_alkohol.html">Alkohol</a></li>
                                                <li><a href="#">Antibiotika</a></li>
                                                <li><a href="#">Astma og allergi</a></li>
                                            </ul>

                                            <ul>
                                                <li>B</li>
                                                <li><a href="#">Beredskap og krisehåndtering</a></li>
                                            </ul>

                                            <ul>
                                                <li>D</li>
                                                <li><a href="artikkel_utredning_av_demens.html">Demens</a></li>
                                                <li><a href="#">Diabetes</a></li>
                                            </ul>

                                            <ul>
                                                <li>E</li>
                                                <li><a href="#">E-resept</a></li>
                                            </ul>
                                            <ul>
                                                <li>F</li>

                                                <li><a href="transportside_folkehelse.html">Folkehelsearbeid</a></li>
                                                <li><a href="#">Forgiftning</a></li>
                                                <li><a href="#">Frisklivssentraler</a></li>
                                                <li><a href="#">Fritt sykehusvalg </a></li>
                                                <li><a href="#">Fysioterapi       </a></li>
                                                <li><a href="#">Førerkort         </a></li>
                                            </ul>
                                            <ul>
                                                <li>G</li>
                                                <li><a href="#">Godkjenning og autorisasjon </a></li>
                                                <li><a href="#">Graviditet, fødsel og amming</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">

                                            <ul>
                                                <li>H</li>
                                                <li><a href="#">Helsestasjon og skolehelsetjenesten    </a></li>
                                                <li><a href="#">Helseøkonomi og finansiering           </a></li>
                                                <li><a href="#">Hjerneslag                             </a></li>
                                                <li><a href="#">Hjerte- og karsykdommer                </a></li>
                                            </ul>
                                            <ul>
                                                <li>I</li>
                                                <li><a href="#">Individuell plan og rehabilitiering    </a></li>
                                                <li><a href="#">Influensa                              </a></li>
                                                <li><a href="#">Innvandrerhelse                        </a></li>
                                                <li><a href="#">IPLOS                                  </a></li>
                                            </ul>
                                            <ul>
                                                <li>K</li>
                                                <li><a href="#">Kjernejournal                          </a></li>
                                                <li><a href="#">Kols                                   </a></li>
                                                <li><a href="transportside_ernaering.html">Kosthold, ernæring og fysisk aktivitet </a></li>
                                                <li><a href="#">Kreft                                  </a></li>
                                                <li><a href="#">Kvalitetsindikatorer                   </a></li>
                                            </ul>
                                            <ul>
                                                <li>L</li>
                                                <li><a href="#">Legemidler                             </a></li>
                                                <li><a href="#">Legestillingsregisteret                </a></li>
                                                <li><a href="transportside_loverogregler.html">Lover og fortolkninger                 </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">

                                            <ul>
                                                <li>M</li>

                                                <li><a href="#">ME-CFS                                 </a></li>
                                                <li><a href="#">Medisinsk bibliotek                    </a></li>
                                                <li><a href="#">Medisinsk utstyr                       </a></li>
                                                <li><a href="#">Medisinske koder og kodeverk           </a></li>
                                                <li><a href="#">Motiverende intervju                   </a></li>
                                            </ul>
                                            <ul>
                                                <li>N</li>
                                                <li><a href="../medisinskeRetningslinjer/">Nasjonale faglige retningslinjer       </a></li>
                                                <li><a href="#">Nasjonale strategier og handlingsplaner</a></li>
                                                <li><a href="#">Norsk pasientregister</a></li>
                                                <li><a href="#">Nødnett</a></li>
                                            </ul>
                                            <ul>
                                                <li>O</li>
                                                <li><a href="#">Offshore                            </a></li>
                                            </ul>
                                            <ul>
                                                <li>P</li>
                                                <li><a href="#">Pasientrettigheter                  </a></li>
                                                <li><a href="#">Psykisk helse                       </a></li>
                                                <li><a href="#">Psykisk utviklingshemmede           </a></li>
                                                <li><a href="#">Pårørende                           </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">

                                            <ul>
                                                <li>R</li>
                                                <li><a href="#">Refusjoner                          </a></li>
                                                <li><a href="#">Rus og narkotika                    </a></li>
                                            </ul>
                                            <ul>
                                                <li>S</li>
                                                <li><a href="#">Samhandlingsreformen                </a></li>
                                                <li><a href="#">Seksuell helse                      </a></li>
                                                <li><a href="#">Skjemaer                            </a></li>
                                                <li><a href="#">Smittevern                          </a></li>
                                                <li><a href="transportside_statistikk.html">Statistikk, tall og analyse         </a></li>
                                                <li><a href="#">Sykehjem og hjemmesykepleie         </a></li>
                                                <li><a href="#">Sykemelding                         </a></li>
                                                <li><a href="#">System for innføring av nye metoder </a></li>
                                            </ul>
                                            <ul>
                                                <li>T</li>
                                                <li><a href="#">Tannhelse            </a></li>
                                                <li><a href="#">Taushetsplikt        </a></li>
                                                <li><a href="tilskudd.html">Tilskudd             </a></li>
                                                <li><a href="#">Tobakk, røyk og snus </a></li>
                                                <li><a href="#">Turnus </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </section>
                </div>
            </div>
        </div>

        <div class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-7 col-md-7">
                        <h4>Kontakt oss</h4>
                        <p>Telefon: +47 810 20 050</p>
                        <p>E-post: postmottak@helsedir.no</p>
                        <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                        <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>

                        <h4>Abonner</h4>
                        <a href="#"><p class="abonner">Nyheter på e-post</p></a>
                        <a href="#"><p class="abonner">Nyheter på RSS</p></a>

                        <div class="socialmedia clearfix">
                            <span class="hidden-sm hidden-xs">Følg oss på</span>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        </div>
                    </section>
                    <section class="col-sm-5 col-md-3 col-md-offset-1">
                        <h4>Om Helsedirektoratet</h4>
                        <p>Helsedirektoratet gjennomfører helsepolitikken, forvalter helselover og er faglig rådgiver innen helse.</p>
                        <ul class="about">
                            <li><a href="kontaktoss.html">Kontakt oss</a></li>
                            <li><a href="#">Aktuelt</a></li>
                            <li><a href="#">Kurs og konferanser</a></li>
                            <li><a href="#">Presse</a></li>
                            <li><a href="#">Ledige stillinger</a></li>
                            <li><a href="artikkel_organisasjonskart.html">Organisasjonskart</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div id="map" class="map">
        </div>
    </footer>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/expand.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="../js/respond.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../js/chart.js"></script>
</body>
</html>