<div class="headerGronn">
    <div class="headerBlaa"></div>
</div>
<div class="container">
    <header class="row">
        <div class="col-md-12 topplinje">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <img id="logo" src="../img/logo.svg" />
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-4 menylinje">
                    <p class="pull-right">
                        <span>
                            <a href="#" class="js-expander">
                                Meny
                                <i class="fa fa-bars"></i>
                            </a>
                        </span>
                        <span>
                            |
                            <a href="#">
                                Søk
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                        <span class="hidden-xs hidden-sm">
                            |

                            <a href="#">Om oss</a>
                            |
                            <a href="#">English</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </header>
</div>
<div class="dropdownWrapper js-expand">
    <div class="container">
        <div id="tabs">
            <ul>
                <li id="tabheading-1"><a href="#tab1">Kategorier</a></li>
                <li id="tabheading-2"><a href="#tab2">A-Å</a></li>
            </ul>
            <div class="tab-folder">

                <div id="tab1" class="tab-content">
                    <div class="row">
                        <div class="col-sm-3 col-md-4">
                            <div class=" toppmeny">
                                <ul id="nivaa1">
                                    <li><a href="#">Nasjonale strategier og planer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Folkehelse og forebygging<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Rapporter, brosjyrer og publikasjoner<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Helseøkonomi<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Medisinske retninglinjer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="toppmeny">
                                <ul id="nivaa2">
                                    <li><a href="#">Statistikk og analyse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Legemidler og medisinsk utstyr<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Beredskap<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Lover og rettigheter<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Høringer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="toppmeny">
                                <ul id="nivaa3">
                                    <li><a href="#">Kurs og konferanser<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Godkjenning og turnus<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">Diagnoser og tilstander<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    <li><a href="#">eHelse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-content"></div>
            </div>
        </div>
    </div>
</div>