<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Høringer</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/hoeringer.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Høringer</h1>
                    <div class="border"></div>
                </header>
                <aside class="aside alignwithheader">
                    <div class="refinesearch">
                        <h2 class="accordion_mobile">Avgrens visning</h2>
                        <form class="dropdown">
                            <div class="form-group">
                                <label for="tema">Tema</label>
                                <select id="tema" class="form-control">
                                    <option>Alle tema</option>
                                    <option>
                                        Finansiering og helseøkonomi (3)
                                    </option>
                                    <option>
                                        Folkehelse (307)
                                    </option>
                                    <option>
                                        Giftinformasjon (4)
                                    </option>
                                    <option>
                                        Global helse (10)
                                    </option>
                                    <option>
                                        Helse- og omsorgstjenester (197)
                                    </option>
                                    <option>
                                        Helsepersonell (20)
                                    </option>
                                    <option>
                                        IT og helse (24)
                                    </option>
                                    <option>
                                        Kvalitet og planlegging (250)
                                    </option>
                                    <option>
                                        Psykisk helse og rus (117)
                                    </option>
                                    <option>
                                        Samhandlingsreformen (3)
                                    </option>
                                    <option>
                                        Statistikk og analyse (75)
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </aside>
                <section class="sectionwithaside">
                    <div class="hoeringer">
                        <a href="#">Veileder for Nødnett i helsetjenesten</a>
                        <p class="hoeringer_status">Ute på høring</p>
                        <p class="hoeringer_deadline">Høringsfrist: 02.06.2014</p>
                    </div>
                    <div class="hoeringer">
                        <a href="#">Kvinnehelse - 10 år etter kvinnestrategien</a>
                        <p class="hoeringer_status">Ute på høring</p>
                        <p class="hoeringer_deadline">Høringsfrist: 27.06.2014</p>
                    </div>
                    <div class="hoeringer">
                        <a href="hoeringer_underbehandling.html">Utkast til revidering av veileder til forskrift om miljørettet helsevern i barnehager og skoler</a>
                        <p class="hoeringer_status">Under behandling</p>
                        <p class="hoeringer_deadline">Behandlingsfrist: 01.06.2014</p>
                    </div>
                    <div class="toggleshowmorenews">
                        <div class="showmorenews"><a href="#" onclick="return false;">Vis flere høringer</a></div>
                    </div>
                </section>
                <aside class="aside bottom ">
                    <div class="module_subscribe">
                        <p class="header">Abonnér på denne siden</p>
                        <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                        <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>