<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Høringer</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/hoeringer.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                </ol>

                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h1>Høringer</h1>
                    </div>
                </div>
                <div class="row">
                    <article class="col-md-12 col-lg-12 avsnitt">

                        <aside class="aside">
                            <div>
                                <h2>Avgrens visning</h2>
                                <form>
                                    <div class="form-group">
                                        <label for="tema">Tema</label>
                                        <select id="tema" class="form-control">
                                            <option class="tema_select_all">Alle tema</option>
                                            <optgroup label="Folkehelse">
                                                <option>   Alle i Folkehelse (15)</option>
                                                <option>Folkehelsearbeid (9)</option>
                                                <option>Seksuell helse (4)</option>
                                                <option>Miljørettet helsevern (1)</option>
                                            </optgroup>
                                            <optgroup label="Helse og omsorgstjenester">
                                                <option>Alle i Helse- og omsorgstjenester (37)</option>
                                                <option>Omsorgstjenester (18)</option>
                                                <option>Tannhelse (8)</option>
                                                <option>Helsestasjon og skoletjenesten (1)</option>
                                                <option>Sjeldne tilstander (1)</option>
                                            </optgroup>
                                            <optgroup label="Helsepersonell">
                                                <option>Alle i Helsepersonell (6)</option>
                                            </optgroup>
                                            <optgroup label="Psykisk helse og rus">
                                                <option>Alle i psykisk helse og rus (28)</option>
                                                <option>Psykisk helsevern (6)</option>
                                                <option>Behandling av rusmiddelproblemer i TSB (2)</option>
                                                <option>Psykisk helsearbeid i kommunen (15)</option>
                                                <option>Vold og traumer (1)</option>
                                                <option>Rusmiddelarbeid i kommunen (10)</option>
                                                <option>Brukere og pårørende (3)</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </aside>
                        <div class="hoeringer">
                            <a href="#">Veileder for Nødnett i helsetjenesten</a>
                            <p class="hoeringer_status">Ute på høring</p>
                            <p class="hoeringer_deadline">Høringsfrist: 02.06.2014</p>
                        </div>
                        <div class="hoeringer">
                            <a href="#">Kvinnehelse - 10 år etter kvinnestrategien</a>
                            <p class="hoeringer_status">Ute på høring</p>
                            <p class="hoeringer_deadline">Høringsfrist: 27.06.2014</p>
                        </div>
                        <div class="hoeringer">
                            <a href="hoeringer_underbehandling.html">Utkast til revidering av veileder til forskrift om miljørettet helsevern i barnehager og skoler</a>
                            <p class="hoeringer_status">Under behandling</p>
                            <p class="hoeringer_deadline">Behandlingsfrist: 01.06.2014</p>
                        </div>
                        <div class="toggleshowmorenews">
                            <div class="showmorenews"><a href="#" onclick="return false;">Vis flere høringer</a></div>
                        </div>
                    </article>
                </div>
                <aside class="aside">
                    <div class="abonneringsmodul clearfix">
                        <p>Abonnér på denne siden</p>
                        <i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a>
                        <i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <script src="../js/helsedir.js"></script>
</body>
</html>