<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Høring under behandling</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/consultation.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <article class="container">
        <section class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_omoss.html">Om oss</a></li>
                            <li><a href="hoeringer.html">Høringer</a></li>
                        </ol>
                    </nav>
                    <h1>Utkast til revidering av veileder til forskrift om miljørettet helsevern i barnehager og skoler</h1>
                    <div class="border"></div>
                </header>
                <div class="consultation_details">
                    <div class="conference_theme">
                        <span>Tema</span><p>Miljørettet helsevern</p>
                    </div>
                    <div class="consultation_status">
                        <span>Status</span><p>Under behandling</p>
                    </div>
                    <div class="consultation_deadline">
                        <span>Høringsfrist</span><p>24.05.2013. Stengt for høringsinnspill</p>
                    </div>
                    <div class="consultation_processing_deadline">
                        <span>Hvem</span><p>01.06.2015</p>
                    </div>
                </div>

                <section>
                    <p class="ingress">
                        Det er besluttet å erstatte nåværende veileder med to nye veiledere, en for barnehagen "Miljø og helse i barnehagen" og en for skole "Miljø og helse i skolen".
                    </p>
                </section>
                <section>
                    <p>Ny kunnskap om miljøfaktorenes påvirkning på barn og unges helse og trivsel i barnehage- og skolemiljøet, endringer i annen aktuell lovgivning (spesielt barnehageloven, opplæringsloven og tobakksskadeloven) og nye driftsformer, bygningstyper, mv, har skapt behov for en oppdatert, mer tidsmessig og målrettet veiledning til personell og myndigheter som arbeider i og med disse virksomhetene.</p>

                    <p>Direktoratet har bedt om innspill til utkastet, spesielt til følgende:</p>
                    <ul>
                        <li>Veiledernes utforming/lesbarhet</li>
                        <li>Bruk og plassering av lenker og henvisninger</li>
                        <li>Omtalen av godkjenning og tilsyn</li>
                        <li>Er det hensiktsmessig å dele inn krav og anbefalinger i må og bør?</li>
                        <li>Forhold/temaer som mangler/savnes?</li>
                    </ul>
                </section>
                <section>
                    <h2 class="accordion">Høringsdokumenter</h2>
                    <div></div>
                </section>
                <section>
                    <h2 class="accordion">Foredrag fra høringsseminar 25.september 2013</h2>
                    <div></div>
                </section>
                <section>
                    <h2 class="accordion">Høringsuttalelser</h2>
                    <div></div>
                </section>
                <aside class="aside">
                    <div class="module_person ">
                        <p class="module_description">Ansvarlig for denne siden</p>
                        <span><img src="../img/Lars_Erik_Pedersen.png"></span>
                        <span class="person_information">
                            <span class="name">Anne May Knudsen</span>
                            <span class="role">Beslutningsforum</span>
                            <span class="phone">975 92 815</span>
                            <span class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></span>
                        </span>
                    </div>
                </aside>
            </div>
        </section>
    </article>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>