<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publikasjoner</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="broedsmulesti clearfix">
            <li><a href="forside.html">Forside</a></li>
        </ol>
        <section class="row">
            <article class="col-md-12 col-lg-8">
                <h1>Kontakt oss</h1>

                <h2>Sentralbord</h2>
                <p>Telefon: 810 200 50</p>
                <p>Faks: 24 16 30 01</p>
                <p>E-post:  <a href="mailto:postmottak@helsedir.no">postmottak@helsedir.no</a> (send aldri personsensitive opplysninger på e-post)</p>

                <h2>Finn ansatt</h2>
                <input type="search" />

                <p>Søk etter ansatt på navn, avdeling eller kompetanse eller <a href="artikkel_organisasjonskart.html">finn ansatt via organisasjonskartet</a></p>

                <h2>Adresser</h2>
                <p>Hovedkontoret ligger i Oslo, tre avdelinger i Trondheim.</p>

                <h3>Oslo</h3>
                <p>Postadresse: Helsedirektoratet, Postboks 7000, St. Olavs plass, 0130 Oslo</p>
                <p>Besøksadresse: Universitetsgata 2, 0164 Oslo</p>

                <h3>Trondheim</h3>
                <h4>Avdeling: Norsk pasientregister, Økonomi og analyse</h4>
                <p>Postadresse: Helsedirektoratet, Trondheim, Postboks 6173, Sluppen, 7435 Trondheim</p>
                <p>Besøksadresse: Sluppenveien 12 C, 7037 Trondheim</p>
                <h4>Avdeling: Standardisering</h4>
                <p>Postadresse: Postboks 6285 Sluppen, 7489 Trondheim</p>
                <p>Besøksadresse: Besøksadresse: Prof. Brochs gt. 2</p>

                <h2>Faktura og org.nr</h2>
                <p>E-faktura: EHF-format (se dfø.no)</p>
                <p>Papirfaktura: Helsedirektoratet, Sentralt fakturamottak/DFØ, Postboks 4104, 2307 Hamar</p>
                <p>Organisasjonsnummer: 983 544 622</p>

                <h2>Bestille publikasjoner</h2>
                <p>E-post: <a href="mailto:trykksak@helsedir.no">trykksak@helsedir.no</a></p>
                <p>Faks: 24 16 33 69</p>
                <a href="publikasjoner.html">Se alle publikasjoner</a>
                
                <h2>Bibliotek</h2>
                <p>Telefon: 24 16 33 00</p>
                <p>E-post: bibliotek@helsedir.no</p>
                <p>Helsedirektoratets bibliotek er betjent hverdager fra 09.00-15.00.</p>

                <h2>Presse</h2>
                pressekontakt akkurat nå, automagisk
                    <p><a href="#">Se alle pressekontakter</a></p>


            </article>
        </section>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>