<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kurs og konferanser</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <article class="container">
        <section class="row">
            <div class="col-md-12">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_omoss.html">Om oss</a></li>
                </ol>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 col-lg-8 ">
                <h1>Kurs og konferanser</h1>
                <aside class="abonneringsmodul aside clearfix">
                    <p>Abonnér på denne siden</p>
                    <i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a>
                    <i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a>
                </aside>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 col-lg-8 avsnitt">
                <div>
                    <section class="newsitem">
                        <a href="#"><h3>Normkonferansen 2014</h3></a>
                        <p>Treffer du ungdom og unge voksne i ditt arbeid som ønsker kompetanseheving og inspirasjon?</p>
                        <p class="newitem_date">14.-15.okbtober 2014, Rica Holmenkollen Park Hotell i Oslo</p>
                    </section>
                    <section class="newsitem">
                        <a href="kursogkonferanser_ungdomshelse.html"><h3>Nasjonal konferanse om ungdomshelse</h3></a>
                        <p>Treffer du ungdom og unge voksne i ditt arbeid og ønsker kompetanseheving og inspirasjon?</p>
                        <p class="newitem_date">17-18.november 2014, kl 9-16, Lillestrøm</p>
                    </section>
                </div>
                <aside class="aside">

                    <h2>Avgrens visning</h2>
                    <div>
                        <form>
                            <div class="form-group">
                                <label for="tema">Tema</label>
                                <select id="tema" class="form-control">
                                    <option>Alle tema</option>
                                    <option>
                                        Finansiering og helseøkonomi (3)
                                    </option>
                                    <option>
                                        Folkehelse (307)
                                    </option>
                                    <option>
                                        Giftinformasjon (4)
                                    </option>
                                    <option>
                                        Global helse (10)
                                    </option>
                                    <option>
                                        Helse- og omsorgstjenester (197)
                                    </option>
                                    <option>
                                        Helsepersonell (20)
                                    </option>
                                    <option>
                                        IT og helse (24)
                                    </option>
                                    <option>
                                        Kvalitet og planlegging (250)
                                    </option>
                                    <option>
                                        Psykisk helse og rus (117)
                                    </option>
                                    <option>
                                        Samhandlingsreformen (3)
                                    </option>
                                    <option>
                                        Statistikk og analyse (75)
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </aside>
            </div>
        </section>
    </article>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/mobileCollapse.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>