<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kurs og konferanser</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-8">
                <header id="pageheader">

                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_omoss.html">Om oss</a></li>
                            <li><a href="kursogkonferanser.html">Kurs og konferanser</a></li>
                        </ol>
                    </nav>

                    <h1>Nasjonal konferanse om ungdomshelse</h1>
                    <p class="ingress">Treffer du ungdom og unge voksne i ditt arbeid og ønsker kompetanseheving og inspirasjon?</p>
                    <div class="border"></div>
                </header>
                <div class="conference_details">
                    <div class="conference_date">
                        <span>Når</span><p>17.-18.november 2014, kl 9-16</p>
                    </div>
                    <div class="conference_location">
                        <span>Hvor</span><p>Lillestrøm</p>
                    </div>
                    <div class="conference_audience">
                        <span>Hvem</span><p>Deg som jobber i den kommunale helse-og omsorgstjenesten eller i spesialhelsetjenesten, hvor du treffer ungdom og unge voksne som har helseutfordringer.</p>
                    </div>
                </div>
                <button class="calltoaction">Meld deg på ungeshelse.no</button>
                <section>
                    <p>Konferansen arrangeres for 3.gang og er et samarbeid mellom Helsedirektoratet, Nasjonalt kompetansesenter for læring og mestring, Unge funksjonshemmede og Norsk forening for unges helse.</p>
                    <p>For nærmere informasjon om programmet og påmelding - følg med på www.ungeshelse.no</p>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>