<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artikkel</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/tabs.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />



</head>

<body>
    <!--<div class="container-fluid">
            <header class="row">
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <img src="img/logo.svg" />
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4">
                    <p class="pull-right">
                        <a href="#">
                            Meny
                            <i class="fa fa-bars"></i>
                        </a>
                        |
                        <a href="#">
                            Søk
                            <i class="fa fa-search"></i>
                        </a>
                        |

                        <a href="#">Om oss</a>
                        |
                        <a href="#">English</a>
                    </p>
                </div>
            </header>
        </div>-->
    <div style="height: 100px;"></div>
    <div class="container">
        <article class="row">
            <div class="col-md-12 col-lg-9">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h1>Overskrift h1</h1>
                        Suspendisse ac ligula eleifend, volutpat purus sit amet, porttitor sem. Nullam at mauris a tellus bibendum elementum. Praesent cursus interdum elementum. Curabitur non dui luctus, porttitor nunc non, porta risus. Donec auctor nisl sit amet volutpat volutpat. Suspendisse porta eget augue vel pretium. Vestibulum sed dolor in odio aliquam feugiat. Donec rutrum, quam ac imperdiet elementum, justo nibh venenatis ante, ac blandit turpis mauris tempor enim. Maecenas magna lectus, tempor at adipiscing a, molestie ut arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris non dapibus neque. Sed varius consectetur elit, eu ornare ligula convallis vitae. Nullam venenatis sem eu diam vulputate ultrices. Donec blandit turpis lacus, tempor dictum risus facilisis id. Morbi elit nibh, elementum vitae sem ac, ultrices condimentum eros.
                        <h2>Overskrift h2</h2>
                        Fusce tempus orci lacinia arcu cursus condimentum. Etiam ac mauris congue dolor vehicula vestibulum eget et est. Phasellus a ullamcorper tellus. Etiam in nibh vitae urna faucibus ultrices. Praesent eu ipsum a eros placerat commodo et in leo. Curabitur eleifend mauris ut vehicula ornare. Integer pellentesque quis sapien a aliquam. Ut consequat fringilla urna, et dignissim eros dapibus nec. 
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="faktaboks js-expander">
                            <div class="stripes-outer">
                                <div class="stripes cold">
                                    <div class="left"></div>
                                    <div class="middle"></div>
                                    <div class="right"></div>
                                </div>
                            </div>
                            <h3>Om helsepersonelloven</h3>
                            <div class="js-expand">
                                <h4>Loven omhandler:</h4>
                                <ul>
                                    <li>
                                        <span>faglig forsvarlig yrkesutøvelse</span>
                                    </li>
                                    <li>
                                        <span>taushetsplikt</span>
                                    </li>
                                    <li>
                                        <span>opplysningsplikt og meldeplikt til nød</span>
                                    </li>
                                    <li>
                                        <span>etater, barnevern, registre mv.</span>
                                    </li>
                                    <li>
                                        <span>dokumentasjonsplikt (journalføring)</span>
                                    </li>
                                    <li>
                                        <span>rekvirering av legemidler</span>
                                    </li>
                                    <li>
                                        <span>markedsføring</span>
                                    </li>
                                    <li>
                                        <span>utstedelse av attester og erklæringer</span>
                                    </li>
                                    <li>
                                        <span>autorisasjon og spesialitsgodkjenning</span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="kontaktModul">
                    <h3>Ansvarlig for denne siden</h3>
                    <div class="stripes-outer">
                        <div class="stripes cold left">
                            <div class="left"></div>
                            <div class="middle"></div>
                            <div class="right"></div>
                        </div>
                        <img src="../img/ansatt_bilde.png">
                    </div>

                    <p>
                        Martin Martinsen<br />
                        Rådgiver<br />
                        Telefon: 974 57 585<br />
                        martinmartinsen@helsedir.no
                    </p>
                </div>
            </div>
        </article>
    </div>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
</body>
</html>
