<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/icon.ico">
    <title>Foundation 4 | Helsedirektoratet</title>
    <link href="../css/master.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/tabs.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">

    <link href="css/bootstrap.css" rel="stylesheet" />

    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/changeLayoutOnHeaderContents.js"></script>
    <script src="../js/clickableBox.js"></script>
    <script src="../js/expand.js"></script>
    <script src="../js/feedback.js"></script>
    <script src="../js/login.js"></script>

    <script src="../js/sohoFont.js"></script>
</head>
<body class="artikkel">
    <header class="rammeverk">
        <div class="container clearfix">
            <h1 id="hovedtittel">
                <img id="logo" src="../img/HDIR-LOGO-HORISONTAL-NEW.png" alt="Helsedirektoratet logo" />
            </h1>
            <div class="js-toggler-cue" id="mobilmeny">
                <!--                        <ul class=" dropdownmeny no-js">-->
                <!--                            <li>-->
                <!--                                <img src="img/ikon_søk.png" alt="Søkeknapp" />-->
                <!--                            </li>-->
                <!--                            <li>-->
                Meny<img src="img/meny.svg" alt="Menyknapp" id="menyknapp" class="menyknapp" onclick=diffImage(this) />
                <img src="img/ikon_søk.png" alt="Søkeknapp"><!--                                <ul >-->
                <!--                                    <li class="hovedmenypunkt">-->
                <!--                                        <span class="menypunkt">Lenke 1</span>-->
                <!--                                    </li>-->
                <!--                                    <li class="hovedmenypunkt">-->
                <!--                                        <span class="menypunkt">Lenke 2</span>-->
                <!--                                    </li>-->
                <!--                                    <li class="hovedmenypunkt">-->
                <!---->
                <!--                                        <span class="menypunkt">Lenke 3</span>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
                <!--                            </li>-->
                <!--                        </ul>-->
            </div>
            <nav id="hovedmeny">
                <ul class=" dropdownmenyliste no-js">
                    <li class="hovedmenypunkt">
                        <span class="menypunkt"><a href="#">Tema</a></span>
                    </li>
                    <li class="hovedmenypunkt">
                        <span class="menypunkt"><a href="#">Publikasjoner</a></span>
                    </li>
                    <li class="hovedmenypunkt">

                        <span class="menypunkt"><a href="#">Skjema</a></span>
                    </li>
                    <li class="hovedmenypunkt">

                        <span class="menypunkt"><a href="tilskudd.html">Tilskudd</a></span>
                    </li>
                    <li class="hovedmenypunkt">

                        <span class="menypunkt"><a href="#">Tall og analyse</a></span>
                    </li>
                    <li class="hovedmenypunkt">

                        <span class="menypunkt"><a href="#">Lover og regler</a></span>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="main">
        <article>
            <nav id="breadcrumbs">
                <a href="#">Forside</a>>
                <a href="#">Lover og regler</a>
            </nav>
            <h1 id="sidetittel">Helsepersonelloven</h1>

            <div id="ingress">
                <p>
                    Loven regulerer yrkesutøvelsen til helsepersonell.
                </p>
            </div>

            <!--                <span id="breakpoint" class="js-toggler-cue">text</span>-->
            <h2 id="undertittel">Fortolkning av loven</h2>
            <section id="section1">
                <h3>
                    Rundskriv og veiledere
                </h3>
                <ul class="nedlastingsLinker">
                    <li>
                        <a href="#">Helsepersonelloven med kommentarer. Rundksriv</a>
                        <p>
                            Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="img/last_ned.png" alt="nedlastingsknapp" />
                        </p>
                    </li>
                    <li>
                        <a href="#">Helsetjenestens og politiets ansvar for psykisk syke. Rundskriv</a>
                        <p>
                            Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="img/last_ned.png" alt="nedlastingsknapp" />
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            Helsepersonells taushetsplikt. Vern av pasientens integritet i helsepersonells
                            samtaler med pasienten. Rundskriv
                        </a>
                        <p>
                            Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="img/last_ned.png" alt="nedlastingsknapp" />
                        </p>
                    </li>
                    <li>
                        <a href="#">
                            Helsepersonells plikt og rett til å gi opplysninger til barneverntjenesten, politiet
                            og sosialtjenesten i saker som dreier seg om mishandling av barn i hjemmet. Veileder
                        </a>
                        <p>
                            Last ned(pdf, 2MB)<img class="nedlastingslinkBilde" src="img/last_ned.png" alt="nedlastingsknapp" />
                        </p>
                    </li>
                </ul>
            </section>

            <section id="section2">

                <div class="innholdswrapper js-toggler">
                    <h3>
                        Kapittel 1 <br />Helsepersonell og helsehjelp
                    </h3>
                </div>

                <h4>Hvem gjelder loven for?</h4>

                <p style="display: block">
                    Loven omfatter helsepersonell og virksomheter som yter helsehjelp.
                </p>

                <p style="display: block">
                    Loven gjelder all yrkesutøvelse der man opptrer i kraft av å være helsepersonell, uavhengig av hvilken profesjon
                    man tilhører, type helsehjelp man yter, hvilken del av helse- og omsorgstjenesten man arbeider i, om det er i
                    offentlig eller privat regi eller om arbeidet er fast eller leilighetsvis.
                </p>

                <p style="display: block">
                    Loven gjelder som utgangspunkt også andre enn autorisert helsepersonell så framt de yter helsehjelp i helse- og
                    omsorgstjenesten og apotek.
                </p>

                <p style="display: block">
                    Som hovedregel vil norsk helsepersonell som oppholder seg i og yter helsetjenester til pasienter som oppholder
                    seg i utlandet, ikke være omfattet av helsepersonelloven.
                </p>

                <p style="display: block">
                    Se mer i loven § 2 og merknadene til denne i rundskriv IS-2012.
                </p>

                <h4>Hvem er helsepersonell?</h4>

                <p style="display: block">
                    Helsepersonell er for det første personell som har autorisasjon eller lisens etter reglene i helsepersonelloven
                    §§ 48-49. Videre regnes også andre som arbeider i helse- og omsorgstjenesten og apotek enn de som har
                    autorisasjon og lisens, som helsepersonell dersom de yter helsehjelp.
                </p>

                <p style="display: block">
                    Elever og studenter regnes som helsepersonell når de utfører helsehjelp i forbindelse med helsefaglig opplæring,
                    for eksempel i praksisperioder.
                </p>

                <p style="display: block">
                    Se mer i loven § 3 og merknadene til denne i rundskriv IS-2012.
                </p>

                <h4>Hva er helsehjelp?</h4>

                <p style="display: block">
                    Med helsehjelp menes enhver handling som har forebyggende, diagnostisk, behandlende, helsebevarende,
                    rehabiliterende eller pleie og omsorgsformål og som utføres av helsepersonell. Nærmere om hva de enkelte
                    begrepene innebærer fremgår i merknadene til helsepersonelloven § 3 i rundskriv IS-2012.
                </p>
            </section>

            <section>
                <div class="innholdswrapper js-toggler">
                    <h3>
                        Kapittel 25 <br />Taushetsplikt
                    </h3>
                </div>

                <h4>Har helsepersonell taushetsplikt seg i mellom?</h4>

                <p style="display: block">
                    Helsepersonell har som utgangspunkt taushetsplikt om alt de får vite om en pasients helse
                    eller personlige forhold. Taushetsplikten gjelder også helsepersonell imellom.
                    Unntak gjelder når samarbeidende personell må ha opplysninger for å kunne gi nødvendig og
                    forsvarlig helsehjelp.
                    Se helsepersonelloven § 25 og merknadene til denne i rundskriv IS-2012.
                </p>

                <h4>Når har helsepersonell opplysningsplikt til barneverntjenesten</h4>

                <p style="display: block">
                    Helsepersonell har opplysningsplikt når de har mistanke om at et barn blir mishandlet, utsettes for
                    andre former for alvorlig omsorgssvikt eller dersom barnet har vist vedvarende og alvorlige
                    atferdsvansker.
                </p>
                <p style="display: block">

                    Opplysningsplikten inntrer også der det er mistanke om at et barn utsettes for alvorlige overgrep
                    fra andre enn sine nærmeste omsorgspersoner, og der man mistenker at barn kan bli utsatt for
                    kjønnslemlestelse.
                </p>
                <p style="display: block">

                    Det kreves ikke at helsepersonellet har sikker viten om mishandling eller omsorgssvikt, men det må
                    foreligge en begrunnet mistanke. Helsepersonellet bør så langt det er mulig og hensiktsmessig
                    informere foreldre og barn før opplysninger gis til barnevernet.
                </p>
                <p style="display: block">

                    Ytterligere informasjon om helsepersonells informasjonsplikt til barnevernet finnes i rundskriv
                    IS-17/2006 om helsepersonells plikt og rett til å gi opplysninger til barneverntjenesten, politiet
                    og sosialtjenesten ved mistanke om; mishandling av barn i hjemmet, andre former for alvorlig
                    omsorgssvikt, misbruk av rusmidler under graviditet.
                </p>
                <p style="display: block">

                    Se loven § 33 og merknadene til denne i rundskriv IS-2012.
                </p>
            </section>
            <section id="section4">
                <!--<div class=" tabContent">-->

                <h3 class="utvidbarOverskrift js-expander">Om helsepersonelloven</h3>

                <div class="utvidbarOverskrift js-expand">
                    Tekst
                </div>
                <ul>
                    <li>
                        <a href="#">Helsepersonelloven (Lovdata)</a>
                    </li>
                    <li>
                        <a href="#">Forskrifter (Lovdata)</a>
                    </li>
                </ul>
                <!--</div>-->
            </section>
            <!--                    <section id="section5">-->
            <!--                        $1$<div class=" tabContent">#1#-->
            <!--                        <div class="abbonnementodul">-->
            <!---->
            <!--                            <p >Få oppdateringer fra denne siden</p>-->
            <!---->
            <!--                            <span class="alignLeft">-->
            <!--                                <img src="img/mail.png" alt="email" width="20px" height="auto">-->
            <!--                                <a href="#" >E-post</a>-->
            <!--                            </span>-->
            <!---->
            <!--                            <span class="alignRight">-->
            <!---->
            <!--                                <img src="img/rss.png" alt="rss" width="15px" height="auto">-->
            <!--                                <a href="#" >RSS-strøm</a>-->
            <!--                            </span>-->
            <!---->
            <!---->
            <!--                        </div>-->
            <!--</div>-->
            <!--                    </section>-->
            <div class=" module module_person">
                <h3>Ansvarlig for denne siden</h3>

                <!--                                            <div class="fargeboks1"></div>-->
                <!--                                            <div class="fargeboks2"></div>-->
                <!--                                            <div class="fargeboks3"></div>-->
                <!--<br />-->
                <!--<table class=" module_personStyling" cellspacing="0">-->
                <!--<tr>-->
                <!--<td style="background-color: #004e66"></td>-->
                <!--<td style="background-color: #6cb4b5"></td>-->
                <!--<td style="background-color: #0093a7"></td>-->
                <!--</tr>-->
                <!--</table>-->
                <img src="img/stripe_liten_kald.png" />
                <br />
                <img src="img/ansatt_bilde.png">

                <p>
                    Julia Olsen<br />
                    Rådgiver<br />
                    Norsk pasientregister<br />
                    <br />
                    Telefon: 974 57 585<br />
                    Epost: jol@helsedir.no
                </p>
            </div>
        </article>
    </div>
    <footer class="rammeverk">
        <div class="container">
            <p>
                Abonner på innholdet fra denne siden
            </p>
            <a href="#"><img src="img/ikon_abonner_epost.png" alt="Abonner på innholdet fra denne siden på E-post" />E-post</a>
            <a href="#"><img src="img/ikon_abonner_rss.png" alt="Abonner på innholdet fra denne siden på RSS" />RSS-strøm</a>
        </div>
    </footer>

    <script src="js/tabs.js"></script>
    <script src="js/dropdown.js"></script>
    <!--<script>-->
    <!--$(function () {-->
    <!--$(".tabs a").html5jTabs();-->
    <!--});-->
    <!--</script>-->
</body>
</html>