<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nye kreftlegemidler vurdert</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <article class="container">
        <section class="row">
            <div class="col-md-12">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_omoss.html">Om oss</a></li>
                    <li><a href="#">Nyheter</a></li>
                </ol>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 col-lg-8">
                <h1>
                    Ventetiden uendret for rettighetspasienter
                </h1>
                <p class="ingress">
                    ​​I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                </p>
                <p>Ventetiden for rettighetspasientene har gått ned eller er uendret i alle sektorer i 2013 sammenliknet med 2012 med unntak av psykisk helsevern for voksne. </p>

                <p>03.03.2014</p>
            </div>
        </section>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <section>
                    <h2>
                        Hovedtrekk ved ventelistesituasjonen i 2013
                    </h2>
                    <div>
                        <ul>
                            <li>
                                Rettighetspasienter ventet i gjennomsnitt 60 dager før de fikk igangsatt behandling
                            </li>
                            <li>
                                Det er fortsatt regionale variasjoner i tildeling av rett til nødvendig helsehjelp
                            </li>
                            <li>
                                Andel fristbrudd per 3. tertial 2013 er redusert i alle sektorer
                            </li>
                            <li>
                                Antall nyhenviste pasienter til venteliste er relativt stabilt fra i fjor
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h2>
                        Tildeling av rett til nødvendig helsehjelp
                    </h2>
                    <div>
                        <p>På landsbasis får 56 prosent av pasientene innen somatiske fagområder tildelt rett til nødvendig helsehjelp per 3. tertial 2013. Andelen innen psykisk helsevern for voksne er 71 prosent, innen psykisk helsevern for barn og unge 94 prosent og innen tverrfaglig spesialisert rusbehandling 86 prosent.</p>
                    </div>
                </section>
                <section>
                    <h2>
                        Ventetid til igangsatt helsehjelp
                    </h2>
                    <div>
                        <p>Ventetiden for rettighetspasientene har gått ned eller er uendret i alle sektorer i 2013 sammenliknet med 2012 med unntak av psykisk helsevern for voksne. I gjennomsnitt ventet disse pasientene 60 dager før de fikk igangsatt helsehjelp, noe som er uendret fra i fjor.</p>
                        <p>
                            Gjennomsnittlig ventetid per sektor for rettighetspasienter:
                        </p>
                        <table class="table table-bordered">
                            <tr>
                                <th></th>
                                <th>2012</th>
                                <th>2013</th>
                            </tr>
                            <tr>
                                <td>Somatiske fagområder</td>
                                <td>61 dager</td>
                                <td>61 dager</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for voksne	</td>
                                <td>​46 dager</td>
                                <td>47 dager</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for barn og unge</td>
                                <td>55 dager</td>
                                <td>52 dager</td>
                            </tr>
                            <tr>
                                <td>​Tverrfaglig spesialisert rusbehandling	</td>
                                <td>​63 dager</td>
                                <td>​60 dager</td>
                            </tr>
                            <tr>
                                <td>​Alle sektorer</td>
                                <td>​60 dager</td>
                                <td>​60 dager</td>
                            </tr>
                        </table>
                        <p>
                            Uavhengig av rettighetstildeling ventet pasientene i gjennomsnitt 74 dager før det ble igangsatt helsehjelp.
                        </p>
                        <p>
                            Gjennomsnittlig ventetid påvirkes av et lite antall pasienter med lange ventetider. Median ventetid er til sammenlikning 50 dager. Det betyr at halvparten av de som venter får helsehjelp innen 50 dager.
                        </p>
                    </div>
                </section>
                <section>
                    <h2>
                        Fristbrudd
                    </h2>
                    <div>
                        <p>
                            Tabellen viser andel fristbrudd for de pasientene som har mottatt helsehjelp i 3. tertial 2012 og 2013. Med fristbrudd menes at pasienten ikke ble tatt til utredning eller fikk behandling innen den medisinsk satte fristen.
                        </p>
                        <table class="table table-bordered">
                            <tr>
                                <th></th>
                                <th>​ 3. tertial 2012</th>
                                <th>
                                    3. tertial 2013
                                </th>
                            </tr>
                            <tr>
                                <td>Somatiske fagområder</td>
                                <td>7,3 prosent</td>
                                <td>6,8 prosent</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for voksne	</td>
                                <td>​4,9 prosent</td>
                                <td>2,5 prosent</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for barn og unge</td>
                                <td>7,1 prosent</td>
                                <td>2,8 prosent</td>
                            </tr>
                            <tr>
                                <td>​Tverrfaglig spesialisert rusbehandling	</td>
                                <td>​5,2 prosent</td>
                                <td>​4,6 prosent</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <aside class="aside">
                    <div class="statistics_module">
                        <a href="#"><h4>Utvikling i median ventetid i antall dager, siste 12 måneder</h4></a>
                        <div id="chart_div"></div>

                        <a href="#">Se ventetidsstatistikken</a>
                    </div>
                </aside>
            </div>
        </div>
    </article>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../js/chart _module.js"></script>
</body>
</html>