<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nye kreftlegemidler vurdert</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_omoss.html">Om oss</a></li>
                            <li><a href="#">Nyheter</a></li>
                        </ol>
                    </nav>

                    <h1>
                        Ventetiden uendret for rettighetspasienter
                    </h1>
                    <p class="ingress">
                        ​​I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                    </p>
                    <p>Ventetiden for rettighetspasientene har gått ned eller er uendret i alle sektorer i 2013 sammenliknet med 2012 med unntak av psykisk helsevern for voksne. </p>

                    <p>03.03.2014</p>
                    <div class="border"></div>
                </header>

                <section>
                    <h2 class="accordion_mobile">
                        Hovedtrekk ved ventelistesituasjonen i 2013
                    </h2>
                    <div>
                        <ul>
                            <li>
                                Rettighetspasienter ventet i gjennomsnitt 60 dager før de fikk igangsatt behandling
                            </li>
                            <li>
                                Det er fortsatt regionale variasjoner i tildeling av rett til nødvendig helsehjelp
                            </li>
                            <li>
                                Andel fristbrudd per 3. tertial 2013 er redusert i alle sektorer
                            </li>
                            <li>
                                Antall nyhenviste pasienter til venteliste er relativt stabilt fra i fjor
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">
                        Tildeling av rett til nødvendig helsehjelp
                    </h2>
                    <div>
                        <p>På landsbasis får 56 prosent av pasientene innen somatiske fagområder tildelt rett til nødvendig helsehjelp per 3. tertial 2013. Andelen innen psykisk helsevern for voksne er 71 prosent, innen psykisk helsevern for barn og unge 94 prosent og innen tverrfaglig spesialisert rusbehandling 86 prosent.</p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">
                        Ventetid til igangsatt helsehjelp
                    </h2>
                    <div>
                        <p>Ventetiden for rettighetspasientene har gått ned eller er uendret i alle sektorer i 2013 sammenliknet med 2012 med unntak av psykisk helsevern for voksne. I gjennomsnitt ventet disse pasientene 60 dager før de fikk igangsatt helsehjelp, noe som er uendret fra i fjor.</p>
                        <p>
                            Gjennomsnittlig ventetid per sektor for rettighetspasienter:
                        </p>
                        <table class="table_general">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>2012</th>
                                    <th>2013</th>
                                </tr>
                            </thead>

                            <tr>
                                <td>Somatiske fagområder</td>
                                <td data-title="2012">61 dager</td>
                                <td data-title="2013">61 dager</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for voksne	</td>
                                <td data-title="2012">​46 dager</td>
                                <td data-title="2013">47 dager</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for barn og unge</td>
                                <td data-title="2012">55 dager</td>
                                <td data-title="2013">52 dager</td>
                            </tr>
                            <tr>
                                <td>​Tverrfaglig spesialisert rusbehandling	</td>
                                <td data-title="2012">​63 dager</td>
                                <td data-title="2013">​60 dager</td>
                            </tr>
                            <tr>
                                <td>​Alle sektorer</td>
                                <td data-title="2012">​60 dager</td>
                                <td data-title="2013">​60 dager</td>
                            </tr>
                        </table>
                        <p>
                            Uavhengig av rettighetstildeling ventet pasientene i gjennomsnitt 74 dager før det ble igangsatt helsehjelp.
                        </p>
                        <p>
                            Gjennomsnittlig ventetid påvirkes av et lite antall pasienter med lange ventetider. Median ventetid er til sammenlikning 50 dager. Det betyr at halvparten av de som venter får helsehjelp innen 50 dager.
                        </p>
                    </div>
                </section>
                <section>
                    <h2 class="accordion_mobile">
                        Fristbrudd
                    </h2>
                    <div>
                        <p>
                            Tabellen viser andel fristbrudd for de pasientene som har mottatt helsehjelp i 3. tertial 2012 og 2013. Med fristbrudd menes at pasienten ikke ble tatt til utredning eller fikk behandling innen den medisinsk satte fristen.
                        </p>
                        <table class="table_general">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>​ 3. tertial 2012</th>
                                    <th>
                                        3. tertial 2013
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Somatiske fagområder</td>
                                <td data-title="3. tertial 2012">7,3 prosent</td>
                                <td data-title=" 3. tertial 2013">6,8 prosent</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for voksne	</td>
                                <td data-title="3. tertial 2012">​4,9 prosent</td>
                                <td data-title=" 3. tertial 2013">2,5 prosent</td>
                            </tr>
                            <tr>
                                <td>​Psykisk helsevern for barn og unge</td>
                                <td data-title="3. tertial 2012">7,1 prosent</td>
                                <td data-title=" 3. tertial 2013">2,8 prosent</td>
                            </tr>
                            <tr>
                                <td>​Tverrfaglig spesialisert rusbehandling	</td>
                                <td data-title="3. tertial 2012">​5,2 prosent</td>
                                <td data-title=" 3. tertial 2013">​4,6 prosent</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <aside class="aside">
                    <div class="module module_statistics_graph">
                        <div class="module_description">Statistikk</div>
                        <h5 class="module_header">
                            Utvikling i median ventetid i antall dager, siste 12 måneder
                        </h5>
                        <div id="chart_div"></div>

                        <a href="#" class="internal-link aftertext">Se ventetidsstatistikken</a>
                        <img src="../img/modules/EKG-lyseblaa.png" alt="" />
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Måned', 'Somatikk', 'VOP', 'BUP', 'RUS'],
              ['mar 13', 44, 36, 45, 35],
              ['apr 13', 52, 41, 52, 42],
              ['mai 13', 50, 39, 55, 42],
              ['jun 13', 48, 40, 50, 42],
              ['jul 13', 39, 33, 47, 42],
              ['aug 13', 61, 55, 68, 36],
              ['sep 13', 65, 39, 64, 38],
              ['okt 13', 49, 35, 35, 35],
              ['nov 13', 49, 35, 36, 36],
              ['des 13', 44, 35, 39, 37],
              ['jan 14', 56, 48, 50, 48],
              ['feb 14', 52, 34, 48, 34],
              ['mar 14', 47, 38, 42, 38]
            ]);

            var options = {
                vAxis: { minValue: 20, maxValue: 70, title: "Antall dager", ticks: [20, 30, 40, 50, 60, 70] },
                'chartArea': { 'width': '80%', 'height': '70%' },
                legend: {
                    position: 'bottom',
                    alignment: 'start'
                },
                colors: ['#004e66', '#0093a7', '#6cb4b5', "#df9922", '#a1bf37'],
                series: {
                    0: { lineDashStyle: [14, 7] },
                    1: { lineDashStyle: [5, 5] },
                    4: { lineDashStyle: [7, 14] }
                }, lineWidth: 3
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
        $(window).resize(function () {
            drawChart();
        });
    </script>
</body>
</html>