<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nyheter</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/news.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_omoss.html">Om oss</a></li>
                        </ol>
                    </nav>

                    <h1>Nyheter</h1>
                    <div class="border"></div>
                </header>
                <aside class="aside alignwithheader">
                    <div class="refinesearch">
                        <h2 class="accordion_mobile">Avgrens visning</h2>
                        <form class="dropdown">
                            <div class="form-group">
                                <label for="tema">Tema</label>
                                <select id="tema" class="form-control">
                                    <option>Alle tema</option>
                                    <option>
                                        Finansiering og helseøkonomi (3)
                                    </option>
                                    <option>
                                        Folkehelse (307)
                                    </option>
                                    <option>
                                        Giftinformasjon (4)
                                    </option>
                                    <option>
                                        Global helse (10)
                                    </option>
                                    <option>
                                        Helse- og omsorgstjenester (197)
                                    </option>
                                    <option>
                                        Helsepersonell (20)
                                    </option>
                                    <option>
                                        IT og helse (24)
                                    </option>
                                    <option>
                                        Kvalitet og planlegging (250)
                                    </option>
                                    <option>
                                        Psykisk helse og rus (117)
                                    </option>
                                    <option>
                                        Samhandlingsreformen (3)
                                    </option>
                                    <option>
                                        Statistikk og analyse (75)
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="newsarchive">
                        <h5>Nyhetsarkiv</h5>
                        <ul class="filterlist">
                            <li><a href="#">Nyeste</a></li>
                            <li class="selectedfilter"><a href="#">Tidligere i 2014</a></li>
                            <li><a href="#">2013</a></li>
                            <li><a href="#">2012</a></li>
                        </ul>
                    </div>
                </aside>
                <section class="sectionwithaside">

                    <section class="newsitem">
                        <p class="newitem_date">15.05.2014</p>

                        <a href="#"><h2 class="internal-link aftertext">Utprøving av kjernejournal startet</h2></a>
                        <p>Trondheim og Stavanger er de første som prøver ut kjernejournal. Kjernejournalen er en ny elektronisk løsning som samler viktige helseopplysninger i én kilder.</p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">25.04.2014</p>

                        <a href="nyheter_ennyhet.html"><h2 class="internal-link aftertext">Nye kreftlegemidler vurdert</h2></a>
                        <p>Fredag 25.april offentliggjorde Statens legemiddelverk sine vurderinger av fire nye legemidler. De regionale helseforetakene skal videre avgjøre om disse fire og to andre nye kreftlegemidler skal tas i bruk.</p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">03.03.2014</p>

                        <a href="nyheter_ventetider.html"><h2 class="internal-link aftertext"> Ventetiden uendret for rettighetspasienter</h2></a>
                        <p>
                            I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                        </p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">15.05.2014</p>

                        <a href="#"><h2 class="internal-link aftertext">Utprøving av kjernejournal startet</h2></a>
                        <p>Trondheim og Stavanger er de første som prøver ut kjernejournal. Kjernejournalen er en ny elektronisk løsning som samler viktige helseopplysninger i én kilder.</p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">25.04.2014</p>

                        <a href="nyheter_ennyhet.html"><h2 class="internal-link aftertext">Nye kreftlegemidler vurdert</h2></a>
                        <p>Fredag 25.april offentliggjorde Statens legemiddelverk sine vurderinger av fire nye legemidler. De regionale helseforetakene skal videre avgjøre om disse fire og to andre nye kreftlegemidler skal tas i bruk.</p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">03.03.2014</p>

                        <a href="nyheter_ventetider.html"><h2 class="internal-link aftertext"> Ventetiden uendret for rettighetspasienter</h2></a>
                        <p>
                            I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                        </p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">15.05.2014</p>

                        <a href="#"><h2 class="internal-link aftertext">Utprøving av kjernejournal startet</h2></a>
                        <p>Trondheim og Stavanger er de første som prøver ut kjernejournal. Kjernejournalen er en ny elektronisk løsning som samler viktige helseopplysninger i én kilder.</p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">25.04.2014</p>

                        <a href="nyheter_ennyhet.html"><h2 class="internal-link aftertext">Nye kreftlegemidler vurdert</h2></a>
                        <p>Fredag 25.april offentliggjorde Statens legemiddelverk sine vurderinger av fire nye legemidler. De regionale helseforetakene skal videre avgjøre om disse fire og to andre nye kreftlegemidler skal tas i bruk.</p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">03.03.2014</p>

                        <a href="nyheter_ventetider.html"><h2 class="internal-link aftertext"> Ventetiden uendret for rettighetspasienter</h2></a>
                        <p>
                            I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                        </p>
                    </section>
                    <section class="newsitem">
                        <p class="newitem_date">03.03.2014</p>

                        <a href="nyheter_ventetider.html"><h2 class="internal-link aftertext"> Ventetiden uendret for rettighetspasienter</h2></a>
                        <p>
                            I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                        </p>
                    </section>
                    <div class="toggleshowmorenews">
                        <div class="showmorenews">
                            <a href="#" onclick=" return false;">Tidligere i 2014</a>
                        </div>
                        <section class="newsitem visuallyhidden">
                            <p class="newitem_date">15.05.2014</p>

                            <a href="#"><h2 class="internal-link aftertext">Utprøving av kjernejournal startet</h2></a>
                            <p>Trondheim og Stavanger er de første som prøver ut kjernejournal. Kjernejournalen er en ny elektronisk løsning som samler viktige helseopplysninger i én kilder.</p>
                        </section>
                        <section class="newsitem visuallyhidden">
                            <p class="newitem_date">25.04.2014</p>

                            <a href="nyheter_ennyhet.html"><h2 class="internal-link aftertext">Nye kreftlegemidler vurdert</h2></a>
                            <p>Fredag 25.april offentliggjorde Statens legemiddelverk sine vurderinger av fire nye legemidler. De regionale helseforetakene skal videre avgjøre om disse fire og to andre nye kreftlegemidler skal tas i bruk.</p>
                        </section>
                        <section class="newsitem visuallyhidden">
                            <p class="newitem_date">03.03.2014</p>

                            <a href="nyheter_ventetider.html"><h2 class="internal-link aftertext"> Ventetiden uendret for rettighetspasienter</h2></a>
                            <p>
                                I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                            </p>
                        </section>
                    </div>
                    <div class="toggleshowmorenews">
                        <div class="showmorenews"><a href="#" onclick=" return false;">2013</a></div>
                    </div>
                    <div class="toggleshowmorenews">
                        <div class="showmorenews"><a href="#" onclick=" return false;">2012</a></div>
                    </div>
                    <div class="toggleshowmorenews">
                        <div class="showmorenews"><a href="#" onclick=" return false;">2011</a></div>
                    </div>
                    <aside class="aside bottom">
                        <div class="module_subscribe clearfix">
                            <p class="header">Abonnér på denne siden</p>
                            <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                            <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                        </div>
                    </aside>
                </section>
            </article>
        </div>
    </div>
    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>