<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nyheter</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <article class="container">
        <section class="row">
            <div class="col-md-12">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_omoss.html">Om oss</a></li>
                </ol>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 col-lg-8 avsnitt">
                <h1>Nyheter</h1>
                <aside class="abonneringsmodul aside clearfix">
                    <h4>Få oppdateringer på denne siden</h4>
                    <div><i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a></div>
                    <div><i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a></div>
                </aside>
            </div>
        </section>
        <section class="row">
            <div class="col-md-12 col-lg-8 avsnitt">
                <span>49 nyheter</span>
                <div>
                    <section class="newsitem">
                        <a href="#"><h3>Utprøving av kjernejournal startet</h3></a>
                        <p>Trondheim og Stavanger er de første som prøver ut kjernejournal. Kjernejournalen er en ny elektronisk løsning som samler viktige helseopplysninger i én kilder.</p>
                        <p class="newitem_date">15.05.2014</p>
                    </section>
                    <section class="newsitem">
                        <a href="nyheter_ennyhet.html"><h3>Nye kreftlegemidler vurdert</h3></a>
                        <p>Fredag 25.april offentliggjorde Statens legemiddelverk sine vurderinger av fire nye legemidler. De regionale helseforetakene skal videre avgjøre om disse fire og to andre nye kreftlegemidler skal tas i bruk.</p>
                        <p class="newitem_date">25.04.2014</p>
                    </section>
                    <section class="newsitem">
                        <a href="nyheter_ventetider.html"><h3> Ventetiden uendret for rettighetspasienter</h3></a>
                        <p>
                            ​​I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                        </p>
                        <p class="newitem_date">03.03.2014</p>
                    </section>
                    <div class="showmorenews"><a href="#">Vis flere aktuelle saker</a></div>
                </div>
                <aside class="aside">

                    <h2>Avgrens visning</h2>
                    <div>
                        <form>
                            <div class="form-group">
                                <label for="tema">Tema</label>
                                <select id="tema" class="form-control">
                                    <option>Alle tema</option>
                                    <option>
                                        Finansiering og helseøkonomi (3)
                                    </option>
                                    <option>
                                        Folkehelse (307)
                                    </option>
                                    <option>
                                        Giftinformasjon (4)
                                    </option>
                                    <option>
                                        Global helse (10)
                                    </option>
                                    <option>
                                        Helse- og omsorgstjenester (197)
                                    </option>
                                    <option>
                                        Helsepersonell (20)
                                    </option>
                                    <option>
                                        IT og helse (24)
                                    </option>
                                    <option>
                                        Kvalitet og planlegging (250)
                                    </option>
                                    <option>
                                        Psykisk helse og rus (117)
                                    </option>
                                    <option>
                                        Samhandlingsreformen (3)
                                    </option>
                                    <option>
                                        Statistikk og analyse (75)
                                    </option>
                                </select>
                            </div>
                        </form>
                        <div class="borderbox">
                            <p>Finner du ikke nyheter du lette etter?</p>
                            <p>Vi flytter nyheter som er eldre enn 6 måneder til arkiv.</p>
                            <a href="#">Gå til nyhetsarkivet</a>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </article>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>