<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nye kreftlegemidler vurdert</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_omoss.html">Om oss</a></li>
                    <li><a href="#">Nyheter</a></li>
                </ol>
                <img class="img-responsive" src="../img/nyhetsillustrasjon.png" alt="Illustrasjonsfoto av legemidler" />
                <a class="pull-right" href="#">Last ned høyoppløselig versjon</a>
            </div>
        </div>
        <div class="row">
            <article class="col-md-12 col-lg-8">
                <h1>Nye kreftlegemidler vurdert</h1>
                <p class="ingress">
                    Fredag 25.april offentliggjorde Statens legemiddelverk sine vurderinger av fire nye legemidler. De regionale helseforetakene skal videre avgjøre om disse fire og to andre nye kreftlegemidler skal tas i bruk.
                </p>
                <p>15.05.2014</p>
                <div class="border"></div>
                <section>
                    <h2>De seks nye kreftlegemidlene er:</h2>
                    <div>
                        <ul>
                            <li>Pertuzumab (Perjeta) til behandling av brystkreft med spredning</li>
                            <li>Eribulin (Halaven) til behandling av brystkreft med spredning</li>
                            <li>Enzalutamid (Xtandi) til behandling av prostatakreft med spredning</li>
                            <li>Trastuzumab (Herceptin subcutan) til behandling av brystkreft</li>
                            <li>Bevazicumab (Avastin) til behandling av eggstokkreft</li>
                            <li>Kabazitaksel (Jevtana) til behandling av prostatakreft med spredning</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h2>Hvordan og når skal beslutningen tas</h2>
                    <div>
                        <p>Det er de administrerende direktørene i de fire regionale helseforetakene som i fellesskap beslutter om nye metoder skal tas i bruk eller ikke. Etter planen, kommer de til å fatte sine beslutninger om disse legemidlene den 19.mai.</p>
                        <p>Hvis de fire administrerende direktørene beslutter at disse legemidlene skal tas i bruk, vil sykehusene få beskjed om dette. Samtidig vil Helsedirektoratet ta legemidlene inn i nasjonale retningslinjer for kreftbehandling.</p>
                        <p>Hvis de fire administrerende direktørene beslutter at en metode ikke skal tas i bruk, vil sykehusene få beskjed om dette.</p>
                        <p>De ferdige metodevurderingene finnes på nettsidene til <a href="#">Nasjonalt system for innføring av nye metoder i spesialhelsetjenesten</a> eller på <a href="#">nettsiden til Statens legemiddelverk</a></p>
                    </div>
                </section>
                <div class="module module_facts">
                    <div class="module_description">Fakta</div>

                    <div class="module_header">Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</div>
                    <ul class="bulletlist">
                        <li>
                            De regionale helseforetakene, Nasjonalt kunnskapssenter for helsetjenesten, Statens Legemiddelverk
                            og Helsedirektoratet samarbeider om System for innføring av nye metoder i spesialisthelsetjenesten.
                        </li>
                        <li>
                            Systemet åpnet for forslag om nasjonale metodevurderinger sommeren 2013, og de første
                            metodevurderingene er ferdige april 2014
                        </li>
                        <li>
                            Metodevurderinger er en del av grunnlaget for å beslutte om en ny metode skal tas i bruk eller ikke.
                        </li>
                        <li>
                            En metode regnes som ny når den ikke har vært brukt utenfor klinisk utprøving eller kun har vært brukt
                            på et lite antall pasienter. En ny indikasjon eller et nytt bruksområde for en eksisterende metode anses
                            også som ny metode.
                        </li>
                    </ul>
                    <img src="../img/modules/EKG-mellomblaa.png" alt="" />
                </div>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>