<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publikasjoner</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="broedsmulesti clearfix">
            <li><a href="forside.html">Forside</a></li>
            <li><a href="publikasjoner.html">publikasjoner</a></li>
        </ol>
        <div class="row report">
            <article class="col-md-12 col-lg-9">
                <p>Rapport</p>
                <h1>Kvalitet i ventelistedata</h1>
                <section>
                    <table>
                        <tbody>
                            <tr>
                                <td>Tema:</td>
                                <td>Kvalitet og planlegging</td>
                            </tr>
                            <tr>
                                <td>Type:</td>
                                <td>Rapport</td>
                            </tr>
                            <tr>
                                <td>Utgiver:</td>
                                <td>Helsedirektoratet</td>
                            </tr>
                            <tr>
                                <td>Ansvarlig avdeling:</td>
                                <td>Divisjon helseøkonomi og finansering, avdeling norsk pasientregister</td>
                            </tr>
                            <tr>
                                <td>År:</td>
                                <td>2014</td>
                            </tr>
                            <tr>
                                <td>Antall sider:</td>
                                <td>48</td>
                            </tr>
                            <tr>
                                <td>IS-nummer:</td>
                                <td>IS-2174</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-default">Laste ned i pdf</button>
                    <button class="btn btn-default">Bestill trykt</button>
                </section>

                <section>
                    <h2>Sammendrag</h2>
                    <p>Helsedirektoratet har i samarbeid med helseforetakene foretatt en gjennomgang av ventelistestatistikken og redegjort for de viktigste utfordringene og foreslått tiltak for å forbedre kvaliteten i ventelistestatistikken.</p>
                    <p>Bakgrunnen for arbeidet er at det er knyttet usikkerhet til kvaliteten i ventelistestatistikken. Blant annet har Riksrevisjonens kontroll med forvaltning av statlige selskaper pekt på at sykehusene har ulik praksis for når pasientene tas av ventelisten, og det kan medføre at den reelle ventetiden i mange tilfeller er lengre enn hva offisiell statistikk viser</p>
                </section>

                <section>
                    <h2>Last ned kapitler i pdf</h2>
                    <p><a href="#">Kapittel 1. Innledning</a></p>
                    <p><a href="#">Kapittel 2. Materiale og metode</a></p>
                    <p><a href="#">Kapittel 3. Resultater og validering</a></p>
                    <p><a href="#">Kapittel 4. Utfordringer i ventelistestatistikken</a></p>
                    <p><a href="#">Kapittel 4. Drøftinger og forslag til tiltak</a></p>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>