<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publikasjoner</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="broedsmulesti clearfix">
            <li><a href="forside.html">Forside</a></li>
        </ol>
        <div class="row">
            <article class="col-md-12 col-lg-8">

                <h1>Publikasjoner</h1>

                <form>
                    <input type="text" class="search_input" placeholder="Søk på tittel eller IS-nummer" />
                    <button>Søk</button>
                </form>
                <div class="publication_sortcontrols">
                    <p>890 publikasjoner</p>

                    <a href="#">Alfabetisk</a>
                    <a href="#">Sorter</a>
                    <a href="#">Nyeste</a>
                </div>

                <div class="publication">
                    <a href="#">Fysisk aktivitetsnivå blant voksne og eldre i Norge. Oppdaterte analyser basert på nye nasjonale anbefalinger i 2014</a>
                    <p class="publication_year">2014</p>
                    <p class="publication_type">Rapport</p>
                    <p class="publication_tema">Fysisk aktivitet</p>
                    <button class="btn btn-default">Laste ned i pdf</button>
                    <button class="btn btn-default">Bestill trykt</button>
                </div>

                <section></section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>