<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fysisk aktivitetsnivå blant voksne og eldre i Norge</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/publication.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row report">
            <article class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="publikasjoner.html">publikasjoner</a></li>
                        </ol>
                    </nav>

                    <p class="sitedescription">Rapport</p>
                    <h1>Fysisk aktivitetsnivå blant voksne og eldre i Norge. Oppdaterte analyser basert på nye nasjonale anbefalinger i 2014</h1>
                </header>
                <section class="publication_information">
                    <span class="publication_info_attributes">År</span><p class="publication_info_attributes_value">2014</p>
                    <span class="publication_info_attributes">Tema</span><p class="publication_info_attributes_value">Fysisk aktivitet</p>
                    <span class="publication_info_attributes">Type</span><p class="publication_info_attributes_value">Rapport</p>
                    <span class="publication_info_attributes">Ansvarlig avdeling</span><p class="publication_info_attributes_value">Avdeling miljø og helse</p>
                    <span class="publication_info_attributes">Antall sider</span><p class="publication_info_attributes_value">24</p>
                    <span class="publication_info_attributes">IS-nummer</span><p class="publication_info_attributes_value">IS-2183</p>
                </section>

                <section>
                    <div class="border"></div>
                    <h2 class="accordion_mobile">Sammendrag</h2>
                    <p>Denne rapporten inneholder oppdaterte analyser fra undersøkelsen «Fysisk aktivitet blant voksne og eldre i Norge» ( 2004) som var den første nasjonale undersøkelsen i overvåkingssystemet for voksne og eldre. I mars 2014 ble nye nasjonale anbefalinger for fysisk aktivitet lansert. Hensikten har vært å se hvor stor andel som oppfyller de nye anbefalingene for fysisk aktivitet.</p>
                </section>

                <section>
                    <h2 class="accordion_mobile">Last ned kapitler i pdf</h2>
                    <ul class="linklist">
                        <li><a href="#">Kapittel 1. Innledning (300kb)</a></li>
                        <li><a href="#">Kapittel 2. Metode (300kb)</a></li>
                        <li><a href="#">Kapittel 3. Resultater og kommentarer (300kb)</a></li>
                        <li><a href="#">Kapittel 4. Konklusjon (300kb)</a></li>
                    </ul>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
</body>
</html>