<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publikasjoner</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="broedsmulesti clearfix">
            <li><a href="forside.html">Forside</a></li>
            <li><a href="publikasjoner.html">publikasjoner</a></li>
        </ol>
        <div class="row report">
            <article class="col-md-12 col-lg-9">
                <p>Rapport</p>
                <h1>Fysisk aktivitetsnivå blant voksne og eldre i Norge. Oppdaterte analyser basert på nye nasjonale anbefalinger i 2014</h1>
                <section>
                    <table>
                        <tbody>
                            <tr>
                                <td>År:</td>
                                <td>2014</td>
                            </tr>
                            <tr>
                                <td>Tema:</td>
                                <td>Fysisk aktivitet</td>
                            </tr>
                            <tr>
                                <td>Type:</td>
                                <td>Rapport</td>
                            </tr>
                            <tr>
                                <td>Ansvarlig avdeling:</td>
                                <td>Avdeling miljø og helse</td>
                            </tr>
                            <tr>
                                <td>Antall sider:</td>
                                <td>24</td>
                            </tr>
                            <tr>
                                <td>IS-nummer:</td>
                                <td>IS-2183</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-default">Laste ned i pdf</button>
                    <button class="btn btn-default">Bestill trykt</button>
                </section>

                <section>
                    <h2>Sammendrag</h2>
                    <p>Denne rapporten inneholder oppdaterte analyser fra undersøkelsen «Fysisk aktivitet blant voksne og eldre i Norge» ( 2004) som var den første nasjonale undersøkelsen i overvåkingssystemet for voksne og eldre. I mars 2014 ble nye nasjonale anbefalinger for fysisk aktivitet lansert. Hensikten har vært å se hvor stor andel som oppfyller de nye anbefalingene for fysisk aktivitet.</p>
                </section>

                <section>
                    <h2>Last ned kapitler i pdf</h2>
                    <p><a href="#">Kapittel 1. Innledning</a></p>
                    <p><a href="#">Kapittel 2. Metode</a></p>
                    <p><a href="#">Kapittel 3. Resultater og kommentarer</a></p>
                    <p><a href="#">Kapittel 4. Konklusjon</a></p>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>