<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publikasjoner</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <h1>Publikasjoner</h1>
                <div class="abonneringsmodul aside clearfix">
                    <p>Abonnér på denne siden</p>
                    <i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a>
                    <i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a>
                </div>
            </div>
        </div>
        <div class="row">
            <article class="col-md-12 col-lg-8 avsnitt">
                <form>
                    <input type="text" class="search_input" placeholder="Søk på tittel eller IS-nummer" value="Søk på tittel eller IS-nummer" />
                    <button>Søk</button>
                </form>
                <aside class="aside">
                    <h2>Avgrens visning</h2>
                    <form>
                        <div class="form-group">
                            <label for="tema">Tema</label>
                            <select id="tema" class="form-control">
                                <option>Alle tema</option>
                                <option>
                                    Finansiering og helseøkonomi (3)
                                </option>
                                <option>
                                    Folkehelse (307)
                                </option>
                                <option>
                                    Giftinformasjon (4)
                                </option>
                                <option>
                                    Global helse (10)
                                </option>
                                <option>
                                    Helse- og omsorgstjenester (197)
                                </option>
                                <option>
                                    Helsepersonell (20)
                                </option>
                                <option>
                                    IT og helse (24)
                                </option>
                                <option>
                                    Kvalitet og planlegging (250)
                                </option>
                                <option>
                                    Psykisk helse og rus (117)
                                </option>
                                <option>
                                    Samhandlingsreformen (3)
                                </option>
                                <option>
                                    Statistikk og analyse (75)
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select id="type" class="form-control">
                                <option>Alle typer</option>
                                <option>
                                    Brosjyrer (151)
                                </option>
                                <option>
                                    Handlingsplaner og strategier (15)
                                </option>
                                <option>
                                    Håndbøker (14)
                                </option>
                                <option>
                                    Informasjonspakker (1)
                                </option>
                                <option>
                                    Lovpålagte skjema (6)
                                </option>
                                <option>
                                    Nasjonale faglige retningslinjer (62)
                                </option>
                                <option>
                                    Opplæring (26)
                                </option>
                                <option>
                                    Plakater og kort (33)
                                </option>
                                <option>
                                    Protokoller (4)
                                </option>
                                <option>
                                    Rapporter (356)
                                </option>
                                <option>
                                    Regelverk (16)
                                </option>
                                <option>
                                    Rekvisita (1)
                                </option>
                                <option>
                                    Rundskriv (50)
                                </option>
                                <option>
                                    Veiledere (162)
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="aar">År</label>
                            <select id="aar" class="form-control">
                                <option>Alle år</option>
                                <option>
                                    2014 (53)
                                </option>
                                <option>
                                    2013 (104)
                                </option>
                                <option>
                                    2012 (86)
                                </option>
                                <option>
                                    2011 (111)
                                </option>
                                <option>
                                    2010 (111)
                                </option>
                                <option>
                                    2009 (140)
                                </option>
                                <option>
                                    2008 (85)
                                </option>
                                <option>
                                    2007 (60)
                                </option>
                                <option>
                                    2006 (33)
                                </option>
                                <option>
                                    2005 (38)
                                </option>
                                <option>
                                    2004 (23)
                                </option>
                                <option>
                                    2003 (23)
                                </option>
                                <option>
                                    2002 (9)
                                </option>
                                <option>
                                    2001 (6)
                                </option>
                                <option>2000 (6)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="spraak">Språk</label>
                            <select id="spraak" class="form-control">
                                <option>
                                    Albansk (2)
                                </option>|
                                <option>
                                    Amharisk (1)
                                </option>|
                                <option>
                                    Arabisk (10)
                                </option>|
                                <option>
                                    Bosnisk (1)
                                </option>|
                                <option>
                                    Dansk (2)
                                </option>|
                                <option>
                                    Engelsk (53)
                                </option>|
                                <option>
                                    Farsi (3)
                                </option>|
                                <option>
                                    Finsk (1)
                                </option>|
                                <option>
                                    Fransk (5)
                                </option>|
                                <option>
                                    Kinesisk (1)
                                </option>|
                                <option>
                                    Kurdisk (2)
                                </option>|
                                <option>
                                    Litauisk (1)
                                </option>|
                                <option>
                                    Nord-samisk (1)
                                </option>|
                                <option selected>
                                    Norsk (bokmål) (855)
                                </option>|
                                <option>
                                    Norsk (nynorsk) (47)
                                </option>|
                                <option>
                                    Polsk (2)
                                </option>|
                                <option>
                                    Russisk (3)
                                </option>|
                                <option>
                                    Samisk (10)
                                </option>|
                                <option>
                                    Serbisk-bosnisk (1)
                                </option>|
                                <option>
                                    Somali (10)
                                </option>|
                                <option>
                                    Sorani (3)
                                </option>|
                                <option>
                                    Spansk (4)
                                </option>|
                                <option>
                                    Svensk (2)
                                </option>|
                                <option>
                                    Sør-samisk (1)
                                </option>|
                                <option>
                                    Tagalog (1)
                                </option>|
                                <option>
                                    Thai (1)
                                </option>|
                                <option>
                                    Tigrinja (1)
                                </option>|
                                <option>
                                    Tyrkisk (5)
                                </option>|
                                <option>
                                    Urdu (12)
                                </option>|
                                <option>    Vietnamesisk (2)</option>|
                            </select>
                        </div>
                    </form>
                </aside>
                <div class="publication_sortcontrols">
                    <p>890 publikasjoner</p>

                    <a href="#">Alfabetisk</a>
                    <a href="#">Sorter</a>
                    <a href="#">Nyeste</a>
                </div>

                <section class="publication">
                    <a href="publikasjoner_artikkel_fysiskaktivitetsnivaa.html">Fysisk aktivitetsnivå blant voksne og eldre i Norge. Oppdaterte analyser basert på nye nasjonale anbefalinger i 2014</a>
                    <p class="publication_year">2014</p>
                    <p class="publication_type">Rapport</p>
                    <p class="publication_tema">Fysisk aktivitet</p>
                    <button class="btn btn-default">Laste ned i pdf</button>
                    <button class="btn btn-default">Bestill trykt</button>
                </section>

                <section class="publication">
                    <a href="publikasjoner_artikkel_kvalitet_i_ventelistedata.html">Kvalitet i ventelistedata</a>
                    <p class="publication_year">2014</p>
                    <p class="publication_type">Rapport</p>
                    <p class="publication_tema">Kvalitet og planlegging</p>
                    <button class="btn btn-default">Laste ned i pdf</button>
                    <button class="btn btn-default">Bestill trykt</button>
                </section>

                <div class="toggleshowmorenews">
                    <div class="showmorenews"><a href="#" onclick="return false;">Vis flere publikasjoner</a></div>
                </div>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>