<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landingsside</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet" />
    <link href="../css/customLESS.css" rel="stylesheet" />
    <link href="../css/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="../css/retningslinje.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header"></div>  
		<div class="container">
			Kommer ...
		</div>
		<div id="footer">
	
	
</div>


    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/affix.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/easyResponsiveTabs.js"></script>
    <script src="../js/easyResponsiveTabs2.js"></script>
    <script src="../js/retningslinje.js"></script>
	</body>
</html>