<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nasjonal faglig retningslinje for antibiotika</title>
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet" />
    <link href="../css/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="../css/customLESS.css" rel="stylesheet" />
    <link href="../css/retningslinje.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header"></div>  
		<div class="container">
		  <div class="row">
	<div class="col-md-6">
  	<ol class="breadcrumbs clearfix">
    	<li><a href="#">Forside</a></li>
      <li><a href="#">Retningslinjer og veiledere</a></li>
      <li class="active"><a href="#">Nasjonal faglig retningslinje for antibiotikabruk i spesialisthelsetjenesten</a></li>
     </ol>
   </div>
</div>

		  <div class="row">
	  		<article class="col-md-12 col-lg-12">
	<header>
  	<h1>Nasjonal faglig retningslinje for antibiotikabruk i spesialisthelsetjenesten</h1>
  </header>
	<section class="col-md-7 col-lg-8">	
		<section id="section1">
	<header class="section_heading">
  	<h1>Sepsis</h1>
	</header>
	<section>
	<header class="section_heading">
  	<h1 class="">Ukjent fokus</h1>
	</header>
  	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Standardregime</h1>
<p class="grading"><span class="evidence">Sterk</span> for valg av regime</p>
</div>
  </header>

<p>Benzylpenicillin iv 3g x 4 + Gentamicin* iv 5-7 mg/kg x 1</p>
<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<div class="recommendation_tabs">          
	<ul class="resp-tabs-list">
  	<li>Nøkkelinfo</li>
    <li>Effektestimater</li>
    <li>Rasjonale</li>
    <li>Praktisk info</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container">                                                        
		<div>NB! Observer kontraindikasjoner og forsiktighetsregler for aminoglykosider. Ved alvorlig sepsis/septisk sjokk skal serumkonsentra-sjonsmålinger vurderes før evt. dose nummer to gis.</div>
		<div>
			..
		</div>
		<div>
		..
		</div>
		<div> ....... </div>
		<div>
			..
		</div>
	</div>
</div>  
  </div>
</section>
  	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Cave aminoglykosid grunnet alvorlig nyresvikt</h1>
<p class="grading"><span class="evidence">Sterk</span></p>
</div>
  </header>

<p>Benzylpenicillin iv + Ciprofloksacin iv, Piperacillin/tazobactam iv, Cefotaksim iv</p>
<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<div class="recommendation_tabs">          
	<ul class="resp-tabs-list">
  	<li>Nøkkelinfo</li>
    <li>Effektestimater</li>
    <li>Rasjonale</li>
    <li>Praktisk info</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container">                                                        
		<div>Doseres etter nyrefunksjonen. Ciprofloksacin kan doseres peroralt ved moderat alvorlig infeksjon.</div>
		<div>
			..
		</div>
		<div>
		..
		</div>
		<div> ....... </div>
		<div>
			..
		</div>
	</div>
</div>
  </div>
</section>
  	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1 >Alternative regimer</h1>
<p class="grading"><span class="evidence">Betinget</span></p>
</div>
  </header>

<p>3g x 3-4 Piperacillin/tazobactam iv, 2g x 3 Cefotaksim iv</p>
<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<div class="recommendation_tabs">          
	<ul class="resp-tabs-list">
  	<li>Nøkkelinfo</li>
    <li>Effektestimater</li>
    <li>Rasjonale</li>
    <li>Praktisk info</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container">                                                        
		<div>Ved alvorlig sepsis og septisk sjokk bør piperacillin/tazobactam kombineres med et aminoglykosid gitt i én tilstrekkelig høy døgndose. NB! Serumkonsentrasjonsmålinger før evt. dose nummer to!</div>
		<div>
			..
		</div>
		<div>
		..
		</div>
		<div> ....... </div>
		<div>
			..
		</div>
	</div>
</div>
  </div>
</section>
  	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Penicillin straksallergi (type I)</h1>
<p class="grading"><span class="evidence">Sterk</span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>600-900 mg x 3-4 Klindamycin iv + 5-7 mg/kg x 1 Gentamicin* iv</dd>
	<dt>Kommentar</dt>
	<dd>
		-
	</dd>
<dl>
  </div>
</section>
  	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Penicillinallergi (ikke type I)</h1>
<p class="grading"><span class="evidence">Sterk</span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>2 g x 3 Cefotaksim iv</dd>
	<dt>Kommentar</dt>
	<dd>
		Ved septisk sjokk og mistenkt gramnegativ etiologi kan vurderes lagt til gentamicin eller ciprofloksacin initialt.
	</dd>
<dl>
  </div>
</section>
</section>
	<section>
	<header class="section_heading">
  	<h1>Mistanke om utgangspunkt i  nedre luftveier</h1>
	</header>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Mistanke om utgangspunkt i urinveier</h1>
<p class="grading"><span class="evidence">Sterk</span> for benzylpenicillin</p>
<p class="grading"><span class="evidence">Betinget</span> for tillegg av aminoglykosid</p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>3 g x 4 Benzylpenicillin iv + evt 5(-7) mg/kg x 1 gentamicin* iv</dd>
	<dt>Kommentar</dt>
	<dd>
		Gentamicin kan vurderes gitt i én tilstrekkelig høy døgndose initialt. Ved antatt grampositiv etiologi er 5 mg/kg tilstrekkelig.
	</dd>
<dl>
  </div>
</section>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Alternativ ved kontraindikasjon mot standardregimet</h1>
<p class="grading"><span class="evidence">Sterk</span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>2 g x 3 Cefotaksim iv</dd>
	<dt>Kommentar</dt>
	<dd>
		-
	</dd>
<dl>
  </div>
</section>
	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1 >Atypisk pneumoni</h1>
<p class="grading"><span class="evidence">Sterk</span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>250 mg base x 4 - tillegg av erytromycin iv</dd>
	<dt>Kommentar</dt>
	<dd>
		-
	</dd>
<dl>
  </div>
</section>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Penicillin straksallergi (type I)</h1>
<p class="grading"><span class="evidence"></span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>250 mg base x 3-4 Erytromycin iv</dd>
	<dd>600-900 mg x 4 Klindamycin iv</dd>
	<dt>Kommentar</dt>
	<dd>
		-
	</dd>
<dl>
  </div>
</section>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Sykehuservervet - Standardregime</h1>
<p class="grading"><span class="evidence"></span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>3 g x 4 Benzylpenicillin iv + 5-7 mg/kg x 1 Gentamicin* iv eller 2 g x 4 Ampicillin iv + 5-7 mg/kg x 1 gentamicin* iv</dd>
	<dt>Kommentar</dt>
	<dd>
		Gentamicin gis initialt ved alvorlig sepsis. Ved antatt grampositiv etiologi er 5 mg/kg tilstrekkelig.
	</dd>
<dl>
  </div>
</section>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Alternativ ved kontraindikasjoner og forutgående antibiotikabehandling</h1>
<p class="grading"><span class="evidence"></span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>4 g x 4 Piperacillin/tazobactam iv + evt 5-7 mg/kg x 1 gentamicin* iv</dd>
	<dd>2 g x 3 Cefotaksim iv</dd>
	<dt>Kommentar</dt>
	<dd>
		Ved septisk sjokk vurderes gentamicin gitt initialt (1-2 dager) sammen med piperacillin/tazobactam.
	</dd>
<dl>
  </div>
</section>
</section>
	<section>
	<header class="section_heading">
  	<h1>Mistanke om utgangspunkt i urinveier</h1>
	</header>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1 >Mistanke om samfunnservervet pneumoni</h1>
<p class="grading"><span class="evidence"></span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>2 g x 4 Ampicillin iv + 5-7 mg/kg x 1 gentamicin* iv</dd>
	<dt>Kommentar</dt>
	<dd>
		-
	</dd>
<dl>
  </div>
</section>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Alternativ ved kontraindikasjon mot standardregimet</h1>
<p class="grading"><span class="evidence"></span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>2 g x 3 Cefotaksim iv</dd>
	<dt>Kommentar</dt>
	<dd>
		-
	</dd>
<dl>
  </div>
</section>
  <section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Penicillin straksallergi</h1>
<p class="grading"><span class="evidence"></span></p>
</div>
  </header>

<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<dl>
	<dt>Medikamenter</dt>
	<dd>400-600 mg x 2 ​Ciprofloksacin iv</dd>
	<dt>Kommentar</dt>
	<dd>
		-
	</dd>
<dl>
  </div>
</section>
</section>
	<h2 class="hide-on-narrow">Bakgrunn</h2>
	<p>
		Sepsis er en klinisk tilstand som avspeiler pasientens systemiske reaksjon på infeksjon. Rask og målrettet behandling av sepsis, og spesielt alvorlig sepsis, er avgjørende for lavest mulig dødelighet. Tiltakene består i å avdekke og sanere infeksjonsfokus, sikre mikrobiologiske prøver, starte virksomt antibiotikum og gi organstøttende behandling.
	</p>
	<p>
		Pasienter med alvorlig sepsis med uttalt organsvikt må ha umiddelbar livreddende behandling spesielt rettet mot sirkulasjons- og respirasjonssvikt. Behandling i intensiv- eller intermediærenhet velges avhengig av profil og grad av organsvikt, og behandling i en slik enhet må være regelen ved alvorlig sepsis.
	</p>
	<p>
		Antibiotika skal gis så snart som mulig og helst innen en time etter innleggelse, men fortrinnsvis etter at blodkultur er sikret. Hver times forsinkelse i oppstart av effektiv behandling er vist å øke mortalitet med ca. 7% [1]. Strukturert overvåkning er nødvendig for å forebygge eller oppheve alvorlig sepsis med organsvikt
	</p>
</section>	
	</section>
		<div class="col-md-5 col-lg-3 col-lg-offset-1 navigation-box">
		<nav id="local-nav" class="affix-top">
  		<h1>Innhold</h1>
			<ul class="nav">
  			<li><a href="#section1">Sepsis</a></li>
				<li><a href="#section2">Febril nøytropeni</a></li>
				</ul>
		</nav>
	</div>
</article>
		  </div>
		</div>
		<div id="footer">
	
	
</div>

		
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/affix.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>


    <script src="../js/easyResponsiveTabs.js"></script>
    <script src="../js/easyResponsiveTabs2.js"></script>
    <script src="../js/retningslinje.js"></script>
	</body>
</html>