<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nasjonal faglig retningslinje for spedbarnsernæring</title>
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet" />
    <link href="../css/customLESS.css" rel="stylesheet" />
    <link href="../css/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="../css/retningslinje.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header"></div>  
		<div class="container">
		  <div class="row">
	<div class="col-md-8">
  	<ol class="breadcrumbs clearfix">
    	<li><a href="#">Forside</a></li>
      <li><a href="#">Retningslinjer og veiledere</a></li>
      <li class="active"><a href="#">Nasjonal faglig retningslinje for spedbarnsernæring</a></li>
     </ol>
   </div>
</div>

		  <div class="row">
	  		<article class="col-md-12 col-lg-12">
	<header>
		<h1 id="sidetittel">Nasjonal faglig retningslinje for spedbarnsernæring</h1>
	</header>
	<section class="col-md-7 col-lg-8">
		<section id="section1">
	<header class="section_heading">
  	<h1>Lengden av fullammingsperioden og tidspunkt for introduksjon av fast føde</h1>
	</header>
	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Anbefalingsheading</h1>
</div>
  </header>

<p>
Det anbefales morsmelk som hovednæring i de første 6 levemånedene. Dersom spedbarnet vokser tilfredsstillende og mor trives med å fullamme, kan gjerne morsmelk gis som eneste næring til 6 måneders alder. Fra tidligst 4 måneders alder kan barnet gis små mengder (teskjeer) av tilleggskost/ fast føde.
</p>
<p>
Det anbefales morsmelkerstatning ved behov for annen melk enn morsmelk.
</p>
<p>
Veiledning til den enkelte mor må ta utgangspunkt i hennes situasjon og barnets behov.
</p>
<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<div class="recommendation_tabs">          
	<ul class="resp-tabs-list">
  	<li>Nøkkelinfo</li>
    <li>Effektestimater</li>
    <li>Rasjonale</li>
    <li>Praktisk info</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container">                                                        
		<div>Nøkkelinfo tekst...</div>
		<div>
			<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Populasjon</th>
				<th>Intervensjon</th>
				<th>Komparator</th>
				<th>Utfall</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Friske spedbarn i Norge og deres mødre</td>
				<td>Fullamming til 6 måneder</td>
				<td>Fullamming 4 måneder og fortsatt amming til 6 måneder med tillegg av annen kost</td>
				<td>Dødelighet, kognitiv funksjon, infeksjoner, vekst, overvekt/fedme, allergi/atopisk sykdom, cøliaki, spiseutvikling/smaksaksept
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="pico_details_tabs">          
	<ul class="resp-tabs-list2">
  	<li>Evidensprofil</li>
    <li>Sammendrag</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container2">                                                        
		<div>..</div>
		<div>
			..
		</div>
		<div>
			..
		</div>
	</div>
</div>  
	
		</div>
		<div>
		Ut fra det kunnskapsgrunnlaget som finnes per i dag og som har vært vurdert, fant vi at fullamming til 6 måneder gir en noe lavere risiko for mage- og tarminfeksjoner enn fullamming til 4 mnd. Forøvrig var det ingen forskjeller i helseutfall for barnet mellom fullamming til 6 md og amming til 6 md med tillegg av fast føde mellom 4 og 6 md. Kvinnen (og ev. partner) bør få veiledning og beslutningstøtte etter behov; ut fra barnets behov, særlige hensyn, samt mors verdier, preferanser og livssituasjon.
		</div>
		<div> ....... </div>
		<div>
			<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Tittel</th>
				<th>Pubmedid</th>
				<th>Tidsskriftid</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Kramer MS, Kakuma R. Optimal duration of exclusive breastfeeding. The Cochrane database of systematic reviews. 2012;8</td>
				<td><a href="http://www.ncbi.nlm.nih.gov/pubmed/22895934" target="_blank">22895934</a></td>
				<td></td>
			</tr>
			<tr>
				<td>2</td>
				<td>Hauck FR, Thompson JM, Tanabe KO, Moon RY, Vennemann MM. Breastfeeding and reduced risk of sudden infant death syndrome: a meta-analysis. Pediatrics. 2011 Jul;128(1):103-10.</td>
				<td><a href="http://www.ncbi.nlm.nih.gov/pubmed/21669892" target="_blank">21669892</a></td>
				<td></td>
			</tr>
			<tr>
				<td>3</td>
				<td>Stray-Pedersen A, Arnestad M, Vege A, Sveum L, Rognum TO. [Bed sharing and sudden infant death]. Tidsskr Nor Laegeforen. 2005 Nov 3;125(21):2919-21.</td>
				<td><a href="http://www.ncbi.nlm.nih.gov/pubmed/16276370" target="_blank">16276370</a></td>
				<td></td>
			</tr>
			<tr>
				<td>4</td>
				<td>Plenge-Bonig A, Soto-Ramirez N, Karmaus W, Petersen G, Davis S, Forster J. Breastfeeding protects against acute gastroenteritis due to rotavirus in infants. European journal of pediatrics. 2010 Dec;169(12):1471-6.</td>
				<td><a href="http://www.ncbi.nlm.nih.gov/pubmed/20617343" target="_blank">20617343</a></td>
				<td></td>
			</tr>
			<tr>
				<td>5</td>
				<td>Chmielewska A, Szajewska H, Shamir R. Celiac disease--prevention strategies through early infant nutrition. World review of nutrition and dietetics. 2013;108:91-7</td>
				<td><a href="http://www.ncbi.nlm.nih.gov/pubmed/24029792" target="_blank">24029792</a></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
		</div>
	</div>
</div>  
  </div>
</section>
	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Morsmelk som eneste næring frem til 6 måneders alder</h1>
</div>
  </header>

<p>
Dersom barnet vokser tilfredsstillende og mor ønsker det, kan barnet fullammes til 6 måneders alder.
</p>
<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<div class="recommendation_tabs">          
	<ul class="resp-tabs-list">
  	<li>Nøkkelinfo</li>
    <li>Effektestimater</li>
    <li>Rasjonale</li>
    <li>Praktisk info</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container">                                                        
		<div>Nøkkelinfo tekst...</div>
		<div> ....... </div>
		<div> ....... </div>
		<div> ....... </div>
		<div> ....... </div>
	</div>
</div>  
  </div>
</section>
	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Morsmelk  med små mengder tilleggskost fra tidligst 4 måneders alder</h1>
</div>
  </header>

<p>
Dersom barnet ikke vokser tilfredsstillende eller mor av ulike årsaker ønsker det, kan tilleggskost introduseres fra tidligst 4 md. Tilleggskost introduseres i form av små mengder (teskjeer).  Hvis barnet vokser tilfredsstillende, bør tilleggskost gis i så små mengder at det ikke erstatter/fortrenger morsmelken. 
</p>
<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<div class="recommendation_tabs">          
	<ul class="resp-tabs-list">
  	<li>Nøkkelinfo</li>
    <li>Effektestimater</li>
    <li>Rasjonale</li>
    <li>Praktisk info</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container">                                                        
		<div>Nøkkelinfo tekst...</div>
		<div> ....... </div>
		<div> ....... </div>
		<div> ....... </div>
		<div> ....... </div>
	</div>
</div>  
  </div>
</section>
	<section class="recommendation">
	<div class="recommendation_intro">
  <header class="recommendation_heading">
		<div>
<h1>Morsmelkerstatning ved behov for annen næring </h1>
</div>
  </header>

<p>
Hvis barnet ikke får morsmelk, eller det er behov for annen næring i tillegg til morsmelk, bør det gis morsmelkerstatning. Barn som får morsmelkerstatning, kan få små små mengder av tilleggskost fra 4 md alder. Det bør ikke gis kumelk, melk fra hoppe, geit eller andre dyr, eller andre melkeerstatninger eller næringsdrikker.  
</p>
<a class="show_recommendation_extras">Vis kunnskapsgrunnlaget</a>
</div>
<div class="recommendation_extras">
<div class="recommendation_tabs">          
	<ul class="resp-tabs-list">
  	<li>Nøkkelinfo</li>
    <li>Effektestimater</li>
    <li>Rasjonale</li>
    <li>Praktisk info</li>
    <li>Referanser</li>
  </ul> 

	<div class="resp-tabs-container">                                                        
		<div>Nøkkelinfo tekst...</div>
		<div> ....... </div>
		<div> ....... </div>
		<div> ....... </div>
		<div> ....... </div>
	</div>
</div>  
  </div>
</section>
	<a>Vis bakgrunnsinformasjon</a>
	<div class="hidden">
		<h2 class="">Bakgrunn</h2>
		<p>
  		Spedbarnets matinntak bør hovedsakelig bestå av morsmelk de første 6 levemånedene, hvis det er mulig. Alternativt skal det gis morsmelkerstatning. Det skal ikke gis umodifisert kumelk, melk fra andre dyr, vegetabilske melkeerstatninger, andre melkeerstatninger eller næringsdrikker. 
		</p>
	</div>
</section>
		<section id="section2">
	<header class="section_heading">
  	<h1>Kapittel 2</h1>
	</header>
	<a>Vis bakgrunnsinformasjon</a>
	<div class="hidden">
	<p>
  	Marfa DIY aesthetic messenger bag biodiesel, butcher Cosby sweater synth. Fingerstache lomo vegan 3 wolf moon salvia raw denim, ethnic hella farm-to-table viral before they sold out direct trade freegan photo booth. Chia forage typewriter jean shorts chambray next level pug, plaid sartorial try-hard quinoa occupy pickled McSweeney's narwhal. Thundercats skateboard shabby chic craft beer Williamsburg, PBR&B typewriter tote bag salvia mumblecore photo booth butcher. Intelligentsia PBR&B shabby chic literally quinoa raw denim, fanny pack umami fap small batch try-hard. You probably haven't heard of them Shoreditch 90's whatever keffiyeh. Wayfarers chambray XOXO, literally vinyl fixie 3 wolf moon ethnic drinking vinegar American Apparel Blue Bottle hashtag viral sriracha meh. 
	</p>
	<p>
		Sriracha flannel pop-up umami semiotics readymade, American Apparel blog bicycle rights Vice sustainable narwhal cliche. Quinoa hella bicycle rights, viral deep v vegan synth artisan. DIY single-origin coffee brunch Tumblr lo-fi, Bushwick beard before they sold out fashion axe photo booth semiotics. Cornhole readymade post-ironic, bicycle rights Pitchfork banh mi American Apparel paleo flannel Portland raw denim fashion axe art party normcore. Semiotics pop-up fanny pack Helvetica viral. PBR&B Etsy whatever Brooklyn, craft beer selvage tattooed meh. XOXO before they sold out readymade, Tonx PBR&B scenester selfies jean shorts Williamsburg Neutra biodiesel slow-carb artisan.
	</p>
	<p>
		Disrupt street art squid, flannel chillwave typewriter kitsch kale chips deep v mlkshk four loko. Skateboard blog beard roof party American Apparel cornhole freegan. Keytar Wes Anderson food truck flannel raw denim Pitchfork, post-ironic you probably haven't heard of them deep v ennui leggings chillwave Cosby sweater 8-bit. Chillwave lo-fi Cosby sweater readymade, biodiesel selvage street art. Wolf Godard tote bag PBR. Mumblecore disrupt Brooklyn, Etsy blog dreamcatcher Odd Future church-key brunch ethical. Authentic four loko sustainable butcher.
	</p>
	</div>
</section>

		<section id="section3">
	<header class="section_heading">
  	<h1>Kapittel 3</h1>
	</header>
	<a>Vis bakgrunnsinformasjon</a>
	<div class="hidden">
	<p>
  	Marfa DIY aesthetic messenger bag biodiesel, butcher Cosby sweater synth. Fingerstache lomo vegan 3 wolf moon salvia raw denim, ethnic hella farm-to-table viral before they sold out direct trade freegan photo booth. Chia forage typewriter jean shorts chambray next level pug, plaid sartorial try-hard quinoa occupy pickled McSweeney's narwhal. Thundercats skateboard shabby chic craft beer Williamsburg, PBR&B typewriter tote bag salvia mumblecore photo booth butcher. Intelligentsia PBR&B shabby chic literally quinoa raw denim, fanny pack umami fap small batch try-hard. You probably haven't heard of them Shoreditch 90's whatever keffiyeh. Wayfarers chambray XOXO, literally vinyl fixie 3 wolf moon ethnic drinking vinegar American Apparel Blue Bottle hashtag viral sriracha meh. 
	</p>
	<p>
		Sriracha flannel pop-up umami semiotics readymade, American Apparel blog bicycle rights Vice sustainable narwhal cliche. Quinoa hella bicycle rights, viral deep v vegan synth artisan. DIY single-origin coffee brunch Tumblr lo-fi, Bushwick beard before they sold out fashion axe photo booth semiotics. Cornhole readymade post-ironic, bicycle rights Pitchfork banh mi American Apparel paleo flannel Portland raw denim fashion axe art party normcore. Semiotics pop-up fanny pack Helvetica viral. PBR&B Etsy whatever Brooklyn, craft beer selvage tattooed meh. XOXO before they sold out readymade, Tonx PBR&B scenester selfies jean shorts Williamsburg Neutra biodiesel slow-carb artisan.
	</p>
	<p>
		Disrupt street art squid, flannel chillwave typewriter kitsch kale chips deep v mlkshk four loko. Skateboard blog beard roof party American Apparel cornhole freegan. Keytar Wes Anderson food truck flannel raw denim Pitchfork, post-ironic you probably haven't heard of them deep v ennui leggings chillwave Cosby sweater 8-bit. Chillwave lo-fi Cosby sweater readymade, biodiesel selvage street art. Wolf Godard tote bag PBR. Mumblecore disrupt Brooklyn, Etsy blog dreamcatcher Odd Future church-key brunch ethical. Authentic four loko sustainable butcher.
	</p>
	</div>
</section>

	</section>
		<div class="col-md-5 col-lg-3 col-lg-offset-1 navigation-box">
		<nav id="local-nav" class="affix-top">
  		<h1>Innhold</h1>
			<ul class="nav">
  			<li><a href="#section1">Lengden av fullammingsperioden og tidspunkt for introduksjon av fast føde</a></li>
  			<li><a href="#section2">Kapittel2</a></li>
  			<li><a href="#section3">Kapittel3</a></li>
				</ul>
		</nav>
	</div>
</article>
		  </div>
		</div>
		<div id="footer">
	
	
</div>


    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/affix.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/easyResponsiveTabs.js"></script>
    <script src="../js/easyResponsiveTabs2.js"></script>
    <script src="../js/retningslinje.js"></script>
	</body>
</html>