<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landingsside for retningslinjer</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet" />
    <link href="../css/customLESS.css" rel="stylesheet" />
    <link href="../css/retningslinje.css" rel="stylesheet" />
  </head>
  <body>
    <!-- @include _header -->  
		<div class="container">
		  <!-- @include _antibiotika_broedsmulesti -->
		  <div class="row">
	  		<!-- @include _antibiotika_guideline -->
		  </div>
		</div>
		<!-- @include _footer -->
		
		<script src="../js/jquery-1.11.0.js"></script>
		<script src="../js/affix.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/easyResponsiveTabs.js"></script>
    <script src="../js/retningslinje.js"></script>
	</body>
</html>
