<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Søk</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/search.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Søk</h1>
                    <div class="border"></div>
                </header>
                <form class="searchfield">
                    <label for="search" class="visuallyhidden">Søk</label>
                    <input id="search" class="mainsearch" type="text" placeholder="Søk i alt innhold">
                </form>
                <ul class="filterlist">
                    <li class="selectedfilter"><a href="#">Alt innhold (51)</a></li>
                    <li><a href="#">Retningslinjer(1)</a></li>
                    <li><a href="#">Statistikk(10)</a></li>
                    <li><a href="#">Tilskudd(5)</a></li>
                    <li><a href="#">Nyheter(20)</a></li>
                </ul>

                <p class="numberofhits">51 treff på "demens"</p>

                <article class="searchresult sectionwithaside">
                    <ol class="breadcrumbs clearfix">
                        <li><a href="forside.html">Forside</a></li>
                        <li><a href="../medisinskeRetningslinjer/index.html">Retningslinjer</a></li>
                        <li><a href="#">Retningslinjer under arbeid</a></li>
                    </ol>
                    <a href="#"><h2 class="internal-link aftertext">Nasjonal faglig retningslinje om utredning av demenssykdom og oppfølging av personer med <strong>demens</strong> og deres pårørende</h2></a>
                    <p>Arbeid med retningslinje om demens startet i apirl 2014. Den er forventet ferdig i 2015. Arbeidet er organisert som to delprosjekter utredning/diagnostisering og medisinsk behandling/oppfølging av personer med <strong>demens</strong> og deres pårørende</p>
                    <ul class="bulletlist">
                        <li>Prosjektledere: <a href="#">Berit.Kvalvaag.Gronnestad@helsedir.no</a> og <a href="#">Hilde.Heimli@helsedir.no</a></li>
                        <li>Ansvarlig avdeling: omsorgstjenester</li>
                    </ul>

                    <aside class="aside module module_related">
                        <a href="#" class="external-link">  <h5 class="module_header">Retningslinjer hos Helse-biblioteket</h5></a>
                        <p class="module_ingress">Den faglige nasjonale retningslinjen for bruk av antibiotika i sykehus gir føringer for antibiotikabehanlding i sykehus ved aktuelle infeksjonssykdommer, samt ved profylakse.</p>
                        <img src="../img/modules/EKG-groenn.png" alt="">
                    </aside>
                </article>

                <article class="searchresult sectionwithaside">
                    <ol class="breadcrumbs clearfix">
                        <li><a href="forside.html">Forside</a></li>
                        <li><a href="publikasjoner.html">Publikasjoner</a></li>
                    </ol>
                    <a href="#"><h2 class="internal-link aftertext">Glemsk, men ikke glemt. Rapport om <strong>demens</strong> (2007)</h2></a>
                    <p>Rapport om utredning og diagnostisering av <strong>demens </strong>; behandling og tilrettelegging av tjenester</p>
                    <button class="calltoaction">Laste ned i pdf</button>
                </article>

                <article class="searchresult sectionwithaside">
                    <ol class="breadcrumbs clearfix">
                        <li><a href="forside.html">Forside</a></li>
                        <li><a href="tilskudd.html">Tilskudd</a></li>
                    </ol>
                    <a href="#"><h2 class="internal-link aftertext">Etablering av nye dagaktivitetstilbud til hjemmeboende personer med <strong>demens</strong> </h2></a>
                    <p>Frist 21.02.2014</p>
                    <p>81,4 mill. kr. skal fordeles til etablering av om lag 2300 nye dagaktivitetsplasser for hjemmeboende personer med <strong>demens</strong> i kommunene.</p>

                    <aside class="aside module module_related">
                        <h5 class="module_header">"Demens" på helsenorge.no (130 treff)</h5>
                        <ul class="linklist">
                            <li><a href="#" class="external-link">Demens - symptomer, forebygging og hjelp</a></li>
                            <li><a href="#" class="external-link">Å leve med demens</a></li>
                            <li><a href="#" class="external-link">Symptomer på demens</a></li>
                            <li><a href="#" class="external-link">Se alle søkeresultater på helsenorge.no</a></li>
                        </ul>
                        <img src="../img/modules/EKG-groenn.png" alt="">
                    </aside>
                </article>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>