<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Somatiske sykehus</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="broedsmulesti clearfix">
            <li><a href="forside.html">Forside</a></li>
            <li><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
            <li class="active"><a href="transportside_ernaering.html">Ernæring</a></li>
        </ol>
        <div class="row">
            <article class="col-md-12 col-lg-8">

                <h1>Kommunenes bruk av somatiske sykehus</h1>

                <section class="avsnitt">
                    <h2>Trondheim kommune 1.tertial 2013</h2>
                    <div>
                        <ul class="cleanlist">
                            <li><input type="radio" checked />Aktivitetsdata(antall)</li>
                            <li><input type="radio" />Kostnad(kroner)</li>
                        </ul>

                        <div class="tabs-statistikk">
                            <div class="tabs">
                                <ul class="tab-links">
                                    <li class="active"><a href="#statistikktab1">Oversikt</a></li>
                                    <li><a href="#statistikktab2">Tabell</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="statistikktab1">
                                        <h3>Antall pasienter totalt</h3>
                                        <p class="bigfont">90 983</p>
                                        <p>Endring fra samme periode i fjor</p>
                                        <p class="mediumfont">-4,7%</p>
                                    </div>
                                    <div id="statistikktab2"></div>
                                </div>
                            </div>
                        </div>

                        <aside class="aside">
                            <div class="borderbox">
                                <p class="collapse">
                                    Hvordan beregnes pasienter på somatiske sykehus
                                </p>
                            </div>
                        </aside>
                    </div>
                </section>
                <section class="avsnitt">
                    <h2>Flere indikatorer</h2>
                    <div>
                        <h3>DRG-poeng</h3>
                        <h3>Innleggelser</h3>
                        <h3>Akuttinnleggelser</h3>
                        <h3>Konsultasjoner i poliklinikk</h3>
                        <h3>Om statistikken</h3>
                        <h3>Utvikling over tid</h3>

                        <aside class="aside">
                            <div class="borderbox">
                                <p>Tallene publiseres hvert tertial</p>
                                <p>Neste publisering</p>
                                <p>1.april 2014</p>
                            </div>
                            <div class="borderbox">
                                <p>Hva betyr disse tallene?</p>
                                <p>Rapporten Samhandlingsstatistikk2013 vil hjelpe deg å forstå og bruke tall riktig</p>
                                <a href="#">Last ned rapporten Samhandlingsstatistikk 2013</a>
                            </div>
                        </aside>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
</body>
</html>