<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kommunens bruk av somatiske sykehus</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/statistics.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <nav class="col-md-6">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li class="active"><a href="#">Statistikk</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <section class="col-md-12 col-lg-12">
                <h1>Kommunens bruk av somatiske sykehus</h1>
                <div class="row">

                    <article class="col-md-8 col-lg-8">
                        <div class="dropdown-statistikk">
                            <select>
                                <option value="" disabled selected>Velg kommune</option>
                                <option value="oslo">Oslo</option>
                                <option value="trondheim">Trondheim</option>
                                <option value="tromso">Tromsø</option>
                                <option value="bergen">Bergen</option>
                            </select>
                            <select>
                                <option value="" disabled selected>Velg periode</option>
                                <option value="januar">Januar</option>
                                <option value="februar">Februar</option>
                                <option value="mars">Mars</option>
                                <option value="april">April</option>
                            </select>
                            <button>Søk <i class="fa fa-search"></i></button>
                        </div>

                        <div class="tabs-statistics">
                            <h2>Trondheim kommune 1.tertial 2013</h2>
                            <div class="tabs">
                                <ul class="tab-links">
                                    <li class="active"><a href="#statistikktab1">Oversikt</a></li>
                                    <li><a href="#statistikktab2">Diagrammer</a></li>
                                    <li><a href="#statistikktab3">Tabeller</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="statistikktab1">
                                        <p>
                                            Antall pasienter<br />
                                            <span class="nokkeltall">90 983 </span><br />
                                            Totalt<br />
                                            <span class="nokkeltall">
                                                -4,7%
                                            </span><br />
                                            Endring fra samme periode i fjor
                                        </p>
                                        <h4> Om statistikken<i class="fa fa-chevron-down"></i></h4>
                                    </div>
                                    <div id="statistikktab2"></div>
                                    <div id="statistikktab3"></div>
                                </div>
                            </div>
                        </div>

                        <div id="chart_div"></div>

                        <p>
                            Aktivitetsstatistikk, som gir oversikt over hvilke rapporteringspliktige aktiviteter som utøves i helsevesenet. Aktivitetsdata samles inn og sammenstilles av Norsk Pasientregister (NPR), som er underlagt divisjon for helseøkonomi og finansiering i Helsedirektoratet.
                        </p>
                    </article>
                    <aside class="col-xs-7 col-sm-7 col-md-5 col-lg-3 col-lg-offset-1">
                        <div class="sidetekst">
                            <p>
                                Tallene publiseres hvert tertial. Neste publiseres<br />
                                <span class="nokkeltall">1.april 2014</span>
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="row">
                    <article class="col-md-7 col-lg-7"></article>

                    <aside class="col-xs-7 col-sm-7 col-md-5 col-lg-4 col-lg-offset-1"></aside>
                </div>
                <div class="row">
                    <article class="col-md-7 col-lg-8"></article>
                    <aside class="col-xs-7 col-sm-7 col-md-5 col-lg-3 col-lg-offset-1">
                        <div class="module_person">
                            <h3>Ansvarlig for denne siden</h3>
                            <div class="stripes-outer">
                                <div class="stripes cold left">
                                    <div class="left"></div>
                                    <div class="middle"></div>
                                    <div class="right"></div>
                                </div>
                                <img src="">
                            </div>

                            <p>
                                Martin Martinsen<br />
                                Rådgiver<br />
                                Telefon: 974 57 585<br />
                                martinmartinsen@helsedir.no
                            </p>
                        </div>
                    </aside>
                </div>
            </section>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../js/chart.js"></script>
</body>
</html>