<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Somatiske sykehus</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/htmlelements.css" rel="stylesheet" />
    <link href="../css/statistics.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="breadcrumbs clearfix">
            <li><a href="forside.html">Forside</a></li>
            <li><a href="transportside_statistikk.html">Statistikk</a></li>
        </ol>
        <div class="row">
            <article class="col-md-12 col-lg-8">

                <h1>Kommunenes bruk av somatiske sykehus</h1>
                <div class="sectionwithaside">

                    <section class="statistics_compare row">
                        <div class="col-md-5">
                            <p>Velg kommune og helseforetak</p>
                            <select>
                                <option value="trondheim" selected="selected">Trondheim</option>
                                <option value="oslo">Oslo</option>
                                <option value="bergen">Bergen</option>
                                <option value="tromsø">Tromsø</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <p>Velg periode</p>
                            <select>
                                <option selected="selected">1.tertial 2013</option>
                                <option>2.tertial 2013</option>
                                <option>3.tertial 2013</option>
                                <option>1.tertial 2014</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <form action="statistikk_sammenligning_somatiskesykehus.html">
                                <button class="btn">Vis</button>
                            </form>
                        </div>
                        <label> <input type="checkbox" id="compare_checkbox" value="Sammenlign med annen kommune/helsefortak" />Sammenlign med annen kommune/helsefortak</label>
                    </section>
                    <section id="compare_hiddenfields" class="statistics_compare row">
                        <div class="col-md-5">
                            <p>Velg kommune og helseforetak</p>
                            <select>
                                <option value="trondheim">Trondheim</option>
                                <option value="oslo">Oslo</option>
                                <option value="bergen">Bergen</option>
                                <option value="tromsø">Tromsø</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <p>Velg periode</p>
                            <select>
                                <option>1.tertial 2013</option>
                                <option>2.tertial 2013</option>
                                <option>3.tertial 2013</option>
                                <option>1.tertial 2014</option>
                            </select>
                        </div>
                    </section>
                    <a href="#">Se avansert statistikk</a>
                    <aside class="aside">
                        <div class="borderbox">
                            <p>Tallene publiseres hvert tertial</p>
                            <p>Neste publisering</p>
                            <p>1.april 2014</p>
                        </div>
                    </aside>
                </div>

                <section class="sectionwithaside">
                    <h2>Trondheim kommune 1.tertial 2013</h2>
                    <div>
                        <span class="radiobuttons">
                            <label><input type="radio" name="statistikkdata" value="aktivitetsdata" checked />Aktivitetsdata(antall)</label>
                            <label><input type="radio" name="statistikkdata" value="kostnad" />Kostnad(kroner)</label>
                        </span>
                        <div class="tabs-statistics">
                            <div class="tabs">
                                <ul class="tab-links">
                                    <li class="active"><a href="#statistikktab1">Oversikt</a></li>
                                    <li><a href="#statistikktab2">Tabell</a></li>
                                    <li><a href="#statistikktab3">Om statistikken</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="statistikktab1" class="tab active">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-6 statistics">
                                                <h2>Antall pasienter totalt</h2>
                                                <div id="chart_div" class="iveCharts">
                                                </div>
                                                <p>Endring -4,7%</p>
                                                <div class="borderbox">
                                                    <p>Hvordan beregnes pasienter på somatiske sykehus? <i class="fa fa-chevron-down"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 statistics">
                                                <h2>DRG-poeng</h2>
                                                <div id="chart_div2" class="iveCharts">
                                                </div>
                                                <p>Endring -4,7%</p>
                                                <div class="borderbox">
                                                    <p>Hvordan beregnes DRG-poeng? <i class="fa fa-chevron-down"></i></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 statistics">
                                                <h2>Innleggelser</h2>
                                                <div id="chart_div4" class="iveCharts">
                                                </div>
                                                <p>Endring -4,7%</p>
                                                <div class="borderbox">
                                                    <p>Hvordan beregnes innleggelser? <i class="fa fa-chevron-down"></i></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 statistics">
                                                <h2>Akuttinnleggelser</h2>
                                                <br /><!--midlertidig-->
                                                <div id="chart_div3" class="iveCharts">
                                                </div>
                                                <p>Endring -4,7%</p>
                                                <div class="borderbox">
                                                    <p>Hvordan beregnes pasienter på somatiske sykehus? <i class="fa fa-chevron-down"></i></p>
                                                </div>
                                            </div>
                                            <div class="col-md-6 statistics">
                                                <h2>Konsultasjoner i poliklinikk</h2>
                                                <div id="chart_div5" class="iveCharts">
                                                </div>
                                                <p>Endring -4,7%</p>
                                                <div class="borderbox">
                                                    <p>Hvordan beregnes konsultasjoner i poliklinikk? <i class="fa fa-chevron-down"></i></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="statistikktab2" class="tab">
                                        <section class="statistics">
                                            <h2>Flere indikatorer</h2>
                                            <div>
                                                <h3>DRG-poeng</h3>
                                                <table>
                                                    <caption>Alle tabeller må ha en Caption tag som beskriver kort hva som er i tabellen.</caption>
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Antall</th>
                                                            <th colspan="2">Endring samme periode som i fjor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Totalt</td>
                                                            <td>15 713</td>
                                                            <td>3,6 %</td>
                                                            <td><span class="fa fa-arrow-up"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Per 1000 innbyggere</td>
                                                            <td>86</td>
                                                            <td>2,3 %</td>
                                                            <td><span class="fa fa-arrow-up"></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h3>Innleggelser</h3>
                                                <table>
                                                    <caption>Alle tabeller må ha en Caption tag som beskriver kort hva som er i tabellen.</caption>
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Antall</th>
                                                            <th colspan="2">Endring samme periode som i fjor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Totalt</td>
                                                            <td>15 333</td>
                                                            <td>5,6 %</td>
                                                            <td><span class="fa fa-arrow-up"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Per 1000 innbyggere</td>
                                                            <td>84</td>
                                                            <td>4,2 %</td>
                                                            <td><span class="fa fa-arrow-up"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dager som utskrivingsklar = 0</td>
                                                            <td>38</td>
                                                            <td>-15,6 %</td>
                                                            <td><span class="fa fa-arrow-down"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dager som utskrivingsklar > 0</td>
                                                            <td>309</td>
                                                            <td>6,2 %</td>
                                                            <td><span class="fa fa-arrow-down"></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <h3>Akuttinnleggelser</h3>
                                                <h3>Konsultasjoner i poliklinikk</h3>
                                                <h3>Om statistikken</h3>
                                            </div>
                                        </section>
                                    </div>
                                    <div id="statistikktab3" class="tab statistics_about">
                                        <h3>
                                            Genrell informasjon
                                        </h3>
                                        <h4>Bruk tallene til å nå målene i samhandlingsreformen</h4>
                                        <p>Få informasjon for å vurdere tiltak.</p>
                                        <p>Sammenlign egen kommune med andre kommuner og bydeler i Oslo</p>
                                        <p>Sammenlign data for regioner og hele landet</p>
                                        <p>Sammenlign gruppe av kommuner med sammenlignbart innbyggertall</p>

                                        <h4>Datakilde</h4>
                                        <p>Datagrunnlaget for alle indikatorer er hentet fra Norsk Pasientregister (NPR)</p>

                                        <h4>For hver kommune er data inndelt i</h4>
                                        <p>Aldersgrupper</p>
                                        <p>Pasientgrupper</p>
                                        <p>Hvem som har henvist pasienten</p>
                                        <p>Hvor pasienten var før sykehusoppholdet?</p>
                                        <p>Hvor pasienten utskrives til etter sykehusoppholdet</p>

                                        <h4>Hovedgrupper av indikatorer som er tilgjengelige</h4>

                                        <h4>Datakvalitet</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <aside class="aside">

                            <div class="borderbox">
                                <p>Hva betyr disse tallene?</p>
                                <p>Rapporten Samhandlingsstatistikk2013 vil hjelpe deg å forstå og bruke tall riktig</p>
                                <a href="#">Last ned rapporten Samhandlingsstatistikk 2013</a>
                            </div>
                        </aside>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/statistics.js"></script>
    <script src="../js/iveCharts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>

    <script>
        $('#chart_div').singleColumns({
            colors: ['#004e66', '#df9922'],
            columns: [{ 'title': '1.tertial 2013', 'number': 90983 }, { 'title': '1.tertial 2012', 'number': 99183 }],
            //columns: [{ 'city': 'Oslo', 'number': 33 }, { 'city': 'Trondheim', 'number': 60 }],
            animate: true
        });
        $('#chart_div2').singleColumns({
            colors: ['#004e66', '#df9922'],
            columns: [{ 'title': '1.tertial 2013', 'number': 90983 }, { 'title': '1.tertial 2012', 'number': 99183 }],
            //columns: [{ 'city': 'Oslo', 'number': 33 }, { 'city': 'Trondheim', 'number': 60 }],
            animate: true
        });
        $('#chart_div3').singleColumns({
            colors: ['#004e66', '#df9922'],
            columns: [{ 'title': '1.tertial 2013', 'number': 90983 }, { 'title': '1.tertial 2012', 'number': 99183 }],
            //columns: [{ 'city': 'Oslo', 'number': 33 }, { 'city': 'Trondheim', 'number': 60 }],
            animate: true
        });
        $('#chart_div4').singleColumns({
            colors: ['#004e66', '#df9922'],
            columns: [{ 'title': '1.tertial 2013', 'number': 90983 }, { 'title': '1.tertial 2012', 'number': 99183 }],
            //columns: [{ 'city': 'Oslo', 'number': 33 }, { 'city': 'Trondheim', 'number': 60 }],
            animate: true
        });
        $('#chart_div5').singleColumns({
            colors: ['#004e66', '#df9922'],
            columns: [{ 'title': '1.tertial 2013', 'number': 90983 }, { 'title': '1.tertial 2012', 'number': 99183 }],
            //columns: [{ 'city': 'Oslo', 'number': 33 }, { 'city': 'Trondheim', 'number': 60 }],
            animate: true
        });
    </script>
</body>
</html>