<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Somatiske sykehus</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/htmlelements.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <ol class="broedsmulesti clearfix">
            <li><a href="forside.html">Forside</a></li>
            <li><a href="transportside_statistikk.html">Statistikk</a></li>
            <li><a href="statistikk_somatiskesykehus.html">Statistikk somatiske sykehus</a></li>
        </ol>
        <div class="row">
            <article class="col-md-12 col-lg-8">

                <h1>Kommunenes bruk av somatiske sykehus</h1>

                <section class="statistics_compare">
                    <span class="collapse">
                        Velg kommune og periode
                    </span>
                    <div>
                        <p>Velg komune og helseforetak</p>
                        <select>

                            <option value="trondheim">Trondheim</option>
                            <option value="oslo">Oslo</option>
                            <option value="bergen">Bergen</option>
                            <option value="tromsø">Tromsø</option>
                        </select>
                        <label> <input type="checkbox" value="Sammenlign med annen kommune/helsefortak" />Sammenlign med annen kommune/helsefortak</label>

                        <p>Velg periode</p>
                        <select>
                            <option>1.tertial 2013</option>
                            <option>2.tertial 2013</option>
                            <option>3.tertial 2013</option>
                            <option>1.tertial 2014</option>
                        </select>

                        <button class="btn btn-lg">Vis</button>
                    </div>

                    <a href="#">Se avansert statistikk</a>
                </section>

                <section class="avsnitt">
                    <h2>Trondheim kommune 1.tertial 2013</h2>
                    <div>
                        <span class="radiobuttons">
                            <label><input type="radio" name="statistikkdata" value="aktivitetsdata" checked />Aktivitetsdata(antall)</label>
                            <label><input type="radio" name="statistikkdata" value="kostnad" />Kostnad(kroner)</label>
                        </span>

                        <div class="tabs-statistikk">
                            <div class="tabs">
                                <ul class="tab-links">
                                    <li class="active"><a href="#statistikktab1">Oversikt</a></li>
                                    <li><a href="#statistikktab2">Tabell</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="statistikktab1" class="tab active">
                                        <h2>Antall pasienter totalt</h2>
                                        <div id="chart_div" class="iveCharts"></div>
                                        <h2>Antall pasienter totalt</h2>
                                        <div id="chart_div2" class="iveCharts"></div>
                                    </div>
                                    <div id="statistikktab2" class="tab"></div>
                                </div>
                            </div>
                        </div>

                        <aside class="aside">
                            <div class="borderbox">
                                <p class="collapse">
                                    Hvordan beregnes pasienter på somatiske sykehus
                                </p>
                            </div>
                        </aside>
                    </div>
                </section>
                <section class="avsnitt">
                    <h2>Flere indikatorer</h2>
                    <div>
                        <h3>DRG-poeng</h3>
                        <h3>Innleggelser</h3>
                        <h3>Akuttinnleggelser</h3>
                        <h3>Konsultasjoner i poliklinikk</h3>
                        <h3>Om statistikken</h3>
                        <h3>Utvikling over tid</h3>

                        <aside class="aside">
                            <div class="borderbox">
                                <p>Tallene publiseres hvert tertial</p>
                                <p>Neste publisering</p>
                                <p>1.april 2014</p>
                            </div>
                            <div class="borderbox">
                                <p>Hva betyr disse tallene?</p>
                                <p>Rapporten Samhandlingsstatistikk2013 vil hjelpe deg å forstå og bruke tall riktig</p>
                                <a href="#">Last ned rapporten Samhandlingsstatistikk 2013</a>
                            </div>
                        </aside>
                    </div>
                </section>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
    <!--<script src="../js/charts_comparison.js"></script>-->
    <script src="../js/iveCharts.js"></script>

    <script>
        $('#chart_div').singleColumns({
            colors: ['#004e66', '#df9922', '#0093a7', '#6cb4b5', '#aeaba8'],
            columns: [{ 'title': 'Oslo', 'number': 25000 }, { 'title': 'Trondheim', 'number': 75000 }, { 'title': 'Bergen', 'number': 100000 }, { 'title': 'Bodø', 'number': 75000 }, { 'title': 'Ålesund', 'number': 50000 }],
            //columns: [{ 'city': 'Oslo', 'number': 33 }, { 'city': 'Trondheim', 'number': 60 }],
            animate: true
        });

        $('#chart_div2').multiColumns({
            colors: ['#6cb4b5', '#aeaba8', '#0093a7'],
            columns: [{ 'title': 'Ålesund', 'data': [{ 'title': '2014', 'number': 355 }, { 'title': '2013', 'number': 199 }, { 'title': '2012', 'number': 331 }] }, { 'title': 'Oslo', 'data': [{ 'title': '2014', 'number': 235 }, { 'title': '2013', 'number': 435 }, { 'title': '2012', 'number': 33 }] }, { 'title': 'Trondheim', 'data': [{ 'title': '2014', number: 432 }, { title: '2013', number: 533 }, { 'title': '2012', 'number': 33 }] }],
            animate: true
        });
    </script>
</body>
</html>