<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publikasjoner</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/statistics.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_statistikk.html">Statistikk</a></li>
                </ol>
                <h1>Søke om data fra Norsk Pasientregister</h1>
                <p class="ingress">Slik bestiller du data til studier og forskning.</p>
            </div>
        </div>
        <section class="row">
            <article class=" col-md-12 col-lg-8">

                <button class="calltoaction">Søk om data fra Norsk pasientregister (altinn.no)</button>

                <ul class="list">
                    <li>Før du søker må du lese <a href="http://helsedirektoratet.no/kvalitet-planlegging/norsk-pasientregister-npr/bestille-data/Documents/Retningslinjer-for-utlevering-av-data.pdf">retningslinjer for utlevering av data fra Norsk Pasientregister</a>.</li>
                    <li>Husk å klargjør alle vedlegg, for eksempel konsesjoner, søknad eller vedtak fra REK, forskningsprotokoll og prosjektbeskrivelse</li>
                    <li>
                        Har du rollen «helse-, sosial og velferdstjenester» i Altinn ligger skjemaet lagret hos deg. Har du ikke rollen kan du be
                        arbeidsgiver om delegere den til deg.
                    </li>
                    <li>Er du utenlandsk statsborger uten norsk fødselsnummer eller D-nummer, send e-post til npr.felles@helsedir.no for veiledning.</li>
                </ul>
                <p>Norsk pasientregister utleverer data på en personvernmessig trygg måte, se personvern og informasjonssikkerhet (lenke) for informasjon.</p>
                <h2>Saksbehandlingstid</h2>
                <ul class="list">
                    <li>Statistikk: 30 dager</li>
                    <li>Statistikk sammenstilt med andre registre: 60 dager</li>
                    <li>Personidentifiserbare data: 60 dager</li>
                    <li>Avidentifiserte data: 60 dager</li>
                </ul>
                <p>Pris pr time kr. 700,- eks. mva.</p>

                <aside class="aside">
                    <div class="module_related">
                        <h3>Finn statistikk</h3>
                        <p>Sjekk om tallene du skal bestille er publisert på statistikksidene</p>
                    </div>
                    <div class="module_related">
                        <h3>Ordering data</h3>
                        <p>How to apply for data from the Norwegian Patient Register. Information in english.</p>
                    </div>
                </aside>

                <aside class="aside module_person">
                    <h3>Ansvarlig for denne siden</h3>
                    <img src="../img/0774aad.jpg">

                    <p>
                        Martin Martinsen<br />
                        Rådgiver<br />
                        Telefon: 974 57 585<br />
                        martinmartinsen@helsedir.no
                    </p>
                </aside>
            </article>
        </section>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/helsedir.js"></script>

    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>