<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tilskudd</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/contributions.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                </ol>

                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h1>Tilskudd</h1>
                        <p class="ingress">Søk etter rapporter på tilskudd</p>
                        <ul class="linklist">
                            <li><a href="#" class="external-link">Gå til Altinn for å søke eller rapportere</a></li>
                            <li><a href="#" class="external-link">Kontakt Altinn brukerservice</a></li>
                            <li><a href="#" class="external-link">Hvordan er søknadsprosessen?</a></li>
                        </ul>
                        <div class="tilskudd_sortcontrols">
                            <div class="checkbox">
                                <input type="radio" id="r1" name="radiobutton" />
                                <label for="r1"><span></span>Gjeldende tilskudd</label>
                            </div>
                            <div class="checkbox">
                                <input type="radio" id="r2" name="radiobutton" />
                                <label for="r2"><span></span>Utgåtte tilskudd</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <article class="col-md-12 col-lg-12 sectionwithaside">
                        <div class="border"></div>
                        <aside class="aside">
                            <div class="refinesearch">
                                <h2>Avgrens visning</h2>

                                <form class="dropdown">
                                    <div class="form-group">
                                        <label for="tema">Tema</label>
                                        <select id="tema" class="form-control">
                                            <option>Alle tema</option>
                                            <option>
                                                Finansiering og helseøkonomi (3)
                                            </option>
                                            <option>
                                                Folkehelse (307)
                                            </option>
                                            <option>
                                                Giftinformasjon (4)
                                            </option>
                                            <option>
                                                Global helse (10)
                                            </option>
                                            <option>
                                                Helse- og omsorgstjenester (197)
                                            </option>
                                            <option>
                                                Helsepersonell (20)
                                            </option>
                                            <option>
                                                IT og helse (24)
                                            </option>
                                            <option>
                                                Kvalitet og planlegging (250)
                                            </option>
                                            <option>
                                                Psykisk helse og rus (117)
                                            </option>
                                            <option>
                                                Samhandlingsreformen (3)
                                            </option>
                                            <option>
                                                Statistikk og analyse (75)
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <select id="type" class="form-control">
                                            <option>Alle typer</option>
                                            <option>
                                                Brosjyrer (151)
                                            </option>
                                            <option>
                                                Handlingsplaner og strategier (15)
                                            </option>
                                            <option>
                                                Håndbøker (14)
                                            </option>
                                            <option>
                                                Informasjonspakker (1)
                                            </option>
                                            <option>
                                                Lovpålagte skjema (6)
                                            </option>
                                            <option>
                                                Nasjonale faglige retningslinjer (62)
                                            </option>
                                            <option>
                                                Opplæring (26)
                                            </option>
                                            <option>
                                                Plakater og kort (33)
                                            </option>
                                            <option>
                                                Protokoller (4)
                                            </option>
                                            <option>
                                                Rapporter (356)
                                            </option>
                                            <option>
                                                Regelverk (16)
                                            </option>
                                            <option>
                                                Rekvisita (1)
                                            </option>
                                            <option>
                                                Rundskriv (50)
                                            </option>
                                            <option>
                                                Veiledere (162)
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="aar">År</label>
                                        <select id="aar" class="form-control">
                                            <option>Alle år</option>
                                            <option>
                                                2014 (53)
                                            </option>
                                            <option>
                                                2013 (104)
                                            </option>
                                            <option>
                                                2012 (86)
                                            </option>
                                            <option>
                                                2011 (111)
                                            </option>
                                            <option>
                                                2010 (111)
                                            </option>
                                            <option>
                                                2009 (140)
                                            </option>
                                            <option>
                                                2008 (85)
                                            </option>
                                            <option>
                                                2007 (60)
                                            </option>
                                            <option>
                                                2006 (33)
                                            </option>
                                            <option>
                                                2005 (38)
                                            </option>
                                            <option>
                                                2004 (23)
                                            </option>
                                            <option>
                                                2003 (23)
                                            </option>
                                            <option>
                                                2002 (9)
                                            </option>
                                            <option>
                                                2001 (6)
                                            </option>
                                            <option>2000 (6)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="spraak">Språk</label>
                                        <select id="spraak" class="form-control">
                                            <option>
                                                Albansk (2)
                                            </option>|
                                            <option>
                                                Amharisk (1)
                                            </option>|
                                            <option>
                                                Arabisk (10)
                                            </option>|
                                            <option>
                                                Bosnisk (1)
                                            </option>|
                                            <option>
                                                Dansk (2)
                                            </option>|
                                            <option>
                                                Engelsk (53)
                                            </option>|
                                            <option>
                                                Farsi (3)
                                            </option>|
                                            <option>
                                                Finsk (1)
                                            </option>|
                                            <option>
                                                Fransk (5)
                                            </option>|
                                            <option>
                                                Kinesisk (1)
                                            </option>|
                                            <option>
                                                Kurdisk (2)
                                            </option>|
                                            <option>
                                                Litauisk (1)
                                            </option>|
                                            <option>
                                                Nord-samisk (1)
                                            </option>|
                                            <option selected>
                                                Norsk (bokmål) (855)
                                            </option>|
                                            <option>
                                                Norsk (nynorsk) (47)
                                            </option>|
                                            <option>
                                                Polsk (2)
                                            </option>|
                                            <option>
                                                Russisk (3)
                                            </option>|
                                            <option>
                                                Samisk (10)
                                            </option>|
                                            <option>
                                                Serbisk-bosnisk (1)
                                            </option>|
                                            <option>
                                                Somali (10)
                                            </option>|
                                            <option>
                                                Sorani (3)
                                            </option>|
                                            <option>
                                                Spansk (4)
                                            </option>|
                                            <option>
                                                Svensk (2)
                                            </option>|
                                            <option>
                                                Sør-samisk (1)
                                            </option>|
                                            <option>
                                                Tagalog (1)
                                            </option>|
                                            <option>
                                                Thai (1)
                                            </option>|
                                            <option>
                                                Tigrinja (1)
                                            </option>|
                                            <option>
                                                Tyrkisk (5)
                                            </option>|
                                            <option>
                                                Urdu (12)
                                            </option>|
                                            <option>    Vietnamesisk (2)</option>|
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </aside>
                        <p class="numberofcontributions">40 gjeldende tilskudd</p>

                        <div>
                            <div class="tilskudd">
                                <a href="tilskudd_et_tilskudd.html"><h2 class="internal-link aftertext">Etablering av nye dagaktivitetstilbud til hjemmeboende personer med demens</h2></a>
                                <p>Frist: 15.08.2014</p>
                            </div>
                            <div class="tilskudd">
                                <a href="#"><h2 class="internal-link aftertext">Frivillig arbeid</h2></a>
                                <p>Frist: 25.09.2014</p>
                            </div>
                            <div class="tilskudd">
                                <a href="#"><h2 class="internal-link aftertext">Menn i helse - nasjonalt prosjekt</h2></a>
                                <p>Frist: 01.10.2014</p>
                            </div>
                            <div class="tilskudd">
                                <a href="#"><h2 class="internal-link aftertext">Velferdsteknologi i kommunene</h2></a>
                                <p>Frist: 01.11.2014</p>
                            </div>
                        </div>
                        <div class="toggleshowmorenews">
                            <div class="showmorenews"><a href="#" onclick="return false;">Vis flere tilskudd</a></div>
                        </div>

                        <aside class="aside bottom">
                            <div class="module_subscribe clearfix">
                                <p class="header">Abonnér på denne siden</p>
                                <a href="#" class="e-mail"><img src="../img/ikon_epost.svg" alt="" /><p>E-post</p></a>
                                <a href="#" class="rss"><img src="../img/ikon_rss.svg" alt="" /><p>RSS-strøm</p></a>
                            </div>
                        </aside>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <script src="../js/helsedir.js"></script>
</body>
</html>