<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tilskudd</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/contributions.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <article class="col-md-12 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="tilskudd.html">Tilskudd</a></li>
                        </ol>
                    </nav>

                    <h1>Etablering av nye dagaktivitetstilbud til hjemmeboende personer med demens</h1>
                </header>
                <section class="tilskudd_information">
                    <span class="tilskudd_info_attributes">Tilskuddår</span><p class="tilskudd_info_attributes_value">2014</p>
                    <span class="tilskudd_info_attributes">Tema</span><p class="tilskudd_info_attributes_value">Omsorgstjenester, Helse- og omsorgstjenester</p>
                    <span class="tilskudd_info_attributes">Hvem kan søke</span><p class="tilskudd_info_attributes_value">Kommuner</p>
                    <span class="tilskudd_info_attributes">Referanse til statsbudsjettet</span><p class="tilskudd_info_attributes_value">Kapittel 761 post 62 Helse- og omsorgsdepartementet</p>
                    <span class="tilskudd_info_attributes">Beløp til fordeling</span><p class="tilskudd_info_attributes_value">81,4 mill. kroner som øremerket stimuleringstilskudd</p>
                    <span class="tilskudd_info_attributes">Søknadsfrist</span><p class="tilskudd_info_attributes_value">24</p>
                </section>
                <section>
                    <h2>Sammendrag</h2>
                    <div>
                        <p>
                            Med forbehold om Stortingets behandling av statsbudsjettet 2014 bevilges det 81,4 mill. kr. som et øremerket stimuleringstilskudd til etablering av om lag 2300 nye dagaktivitetsplasser for hjemmeboende personer med demens i kommunene. Alle kommuner som skal etablere nye dagaktivitetsplasser for hjemmeboende personer med demens kan søke om tilskudd. Vi behandler søknader løpende. Søknader som mottas etter at fristen er utgått overføres til 2015.
                        </p>
                        <button class="calltoaction">Last ned søknadsskjema (excel)</button>
                    </div>
                </section>
                <section>
                    <h2 class="accordion">Mål for ordningen</h2>
                    <div></div>
                </section>
                <section>
                    <h2 class="accordion">Hvordan søke</h2>
                    <div></div>
                </section>
                <section>
                    <h2 class="accordion">Tildelingskriterier</h2>
                    <div></div>
                </section>
                <section>
                    <h2 class="accordion">Hvordan rapportere</h2>
                    <div>
                        <p>
                            Rapporteringsfrist er 20.desember 2014. Send <a href="#">rapporteringsskjema</a> (word, 42kb) til:
                        </p>
                        <p>
                            Helsedirektoratet<br />
                            Postboks 7000<br />
                            St.Olavs plass<br />
                            0130 Oslo
                        </p>
                        <p>eller elektronisk til:</p>
                        <a href="#">postmottak@helsedir.no</a>
                    </div>
                </section>

                <aside class="aside">
                    <div class="module_person ">
                        <p class="module_description">Ansvarlig for denne siden</p>
                        <span><img src="../img/Lars_Erik_Pedersen.png"></span>
                        <span class="person_information">
                            <span class="name">Anne May Knudsen</span>
                            <span class="role">Beslutningsforum</span>
                            <span class="phone">975 92 815</span>
                            <span class="e-mail"><a href="#">Anne.May.Knudsen@helsedir.no</a></span>
                        </span>
                    </div>
                </aside>
            </article>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>

    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>