<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tilskudd</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet" />

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                </ol>

                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h1>Tilskudd</h1>
                        <p>Søk etter rapporter på tilskudd</p>
                        <ul>
                            <li><a href="#">Gå til Altinn for å søke eller rapportere</a></li>
                            <li><a href="#" class="external-link">Kontakt Altinn brukerservice</a></li>
                            <li><a href="#" class="external-link">Hvordan er søknadsprosessen?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <article class="col-md-12 col-lg-12 avsnitt">

                        <aside class="aside">
                            <div>
                                <h2>Avgrens visning</h2>
                                <form>
                                    <div class="form-group">
                                        <label for="tema">Tema</label>
                                        <select id="tema" class="form-control">
                                            <option class="tema_select_all">Alle tema</option>
                                            <optgroup label="Folkehelse">
                                                <option>   Alle i Folkehelse (15)</option>
                                                <option>Folkehelsearbeid (9)</option>
                                                <option>Seksuell helse (4)</option>
                                                <option>Miljørettet helsevern (1)</option>
                                            </optgroup>
                                            <optgroup label="Helse og omsorgstjenester">
                                                <option>Alle i Helse- og omsorgstjenester (37)</option>
                                                <option>Omsorgstjenester (18)</option>
                                                <option>Tannhelse (8)</option>
                                                <option>Helsestasjon og skoletjenesten (1)</option>
                                                <option>Sjeldne tilstander (1)</option>
                                            </optgroup>
                                            <optgroup label="Helsepersonell">
                                                <option>Alle i Helsepersonell (6)</option>
                                            </optgroup>
                                            <optgroup label="Psykisk helse og rus">
                                                <option>Alle i psykisk helse og rus (28)</option>
                                                <option>Psykisk helsevern (6)</option>
                                                <option>Behandling av rusmiddelproblemer i TSB (2)</option>
                                                <option>Psykisk helsearbeid i kommunen (15)</option>
                                                <option>Vold og traumer (1)</option>
                                                <option>Rusmiddelarbeid i kommunen (10)</option>
                                                <option>Brukere og pårørende (3)</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="soeker">Hvem kan søke</label>
                                        <select id="soeker" class="form-control">
                                            <option>Alle</option>
                                            <option>Fylkeskommuner (16)</option>
                                            <option>Kommuner</option>
                                            <option>Organisasjoner (33)</option>
                                            <option>Private bedrifter (10)</option>
                                            <option>Privatpersoner (1)</option>
                                            <option>Statlige mottakere (20)</option>
                                            <option>Statlige/kommunale/fylkeskommunale bedrifter (23)</option>
                                            <option>Stiftelser (25)</option>
                                        </select>
                                    </div>
                                    <div class="form-group" id="tilskuddsaar">
                                        <label for="tilskuddsaar">
                                            Tilskuddsår
                                        </label>
                                        <select class="form-control">
                                            <option>2013 (10)</option>
                                            <option>2012 (1)</option>
                                            <option>2011 (1)</option>
                                            <option>2010 (1)</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </aside>
                        <p>40 gjeldende tilskudd</p>
                        <div class="tilskudd_sortcontrols">
                            <fieldset>
                                <legend class="hide">Sorter tilskudd etter:</legend>
                                <input type="radio" id="gjeldende_tilskudd" name="tilskuddsort" value="gjeldende_tilskudd" checked="" onclick="checkTilskudd()" />
                                <label for="gjeldende_tilskudd"><span></span>Gjeldende tilskudd</label>
                                <input type="radio" id="utgaatte_tilskudd" name="tilskuddsort" value="utgaatte_tilskudd" onclick="checkTilskudd()" />
                                <label for="utgaatte_tilskudd"><span></span>Utgåtte tilskudd</label>
                            </fieldset>
                        </div>

                        <div>
                            <div class="tilskudd">
                                <a href="tilskudd_et_tilskudd.html"><h2>Etablering av nye dagaktivitetstilbud til hjemmeboende personer med demens</h2></a>
                                <p>Frist: 15.08.2014</p>
                            </div>
                            <div class="tilskudd">
                                <a href="#"><h2>Frivillig arbeid</h2></a>
                                <p>Frist: 25.09.2014</p>
                            </div>
                            <div class="tilskudd">
                                <a href="#"><h2>Menn i helse - nasjonalt prosjekt</h2></a>
                                <p>Frist: 01.10.2014</p>
                            </div>
                            <div class="tilskudd">
                                <a href="#"><h2>Velferdsteknologi i kommunene</h2></a>
                                <p>Frist: 01.11.2014</p>
                            </div>
                        </div>
                        <div class="toggleshowmorenews">
                            <div class="showmorenews"><a href="#" onclick="return false;">Vis flere tilskudd</a></div>
                        </div>
                    </article>
                </div>
                <aside class="aside">
                    <div class="module_subscribe clearfix">
                        <p>Abonnér på denne siden</p>
                        <i class="fa fa-envelope fa-lg"></i><a href="#">E-post</a>
                        <i class="fa fa-rss fa-lg"></i><a href="#">RSS-strøm</a>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="../js/mobileCollapse.js"></script>
    <script src="../js/helsedir.js"></script>
</body>
</html>