<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside finn statistikk</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <nav class="col-md-6">
                <ol class="broedsmulesti clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li><a href="transportside_statistikk.html">Statistikk og analyse</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Finn statistikk</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 clearfix">

                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="">Finn statistikk på emne</label>
                        <input type="text" class="form-control input-lg" placeholder="Finn statistikk på emne">
                    </div>
                </form>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ventetider og pasientregister</h2>
                    </a>
                    <p><i class="fa fa-chevron-right"></i></p>

                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <!--                <div class="transportsideknapp clearfix">-->
                <!--                    <a href="#">-->
                <!--                        <h2>Rapporter</h2>-->
                <!--                    </a>-->
                <!--                    <p> Analyser av samhandlingsstatistikk, nøkkeltall og annen statistikk, årsrapporter, prognoser og evalueringer<i class="fa fa-chevron-right"></i></p>-->
                <!---->
                <!--                    <div class="skygge bottom">-->
                <!--                        <div class="blaa"></div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="transportsideknapp clearfix">
                    <a href="statistikk_somatiskesykehus.html">
                        <h2>Aktivitetsdata somatikk</h2>
                    </a>
                    <p> <i class="fa fa-chevron-right"></i></p>

                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Aktivitetsdata fra psykisk helsevern og TSB</h2>
                    </a>
                    <p> <i class="fa fa-chevron-right"></i></p>

                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Personskader og ulykker</h2>
                    </a>
                    <p> <i class="fa fa-chevron-right"></i></p>

                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Aktivitetsdata fra avtalespesialister, somatikk og psykisk helsevern</h2>
                    </a>
                    <p> <i class="fa fa-chevron-right"></i></p>

                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Styringsdata for kommuner (sykehusenes bruk av spesialisthelsetjenesten)</h2>
                    </a>
                    <p> <i class="fa fa-chevron-right"></i></p>

                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <aside class="aside borderbox">
                    <h3>Helsestatistikk levert av andre</h3>
                    <ul class="cleanlist">
                        <li>
                            <a href="#">Folkehelseprofiler ved Folkehelseinstituttet (Fhi)</a>
                        </li>
                        <li>
                            <a href="#">Levevaner ved Statistisk sentralbyrå (SSB)</a>
                        </li>
                        <li>
                            <a href="#">Årsverk i helsetjenesten ved Statistisk sentralbyrå (SSB)</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>