<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside jobb</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>

                    <h1>Jobb i Helsedirektoratet</h1>
                    <div class="border"></div>
                </header>
                <p>Her er et eksempel på en tekst som kan settes inn over for inngangene</p>
                <div class="video-container">
                    <iframe src="http://www.youtube.com/embed/t37uL7f6jyQ" frameborder="0"></iframe>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_ledigestillinger.html">
                        <h2>Ledige stillinger</h2>
                    </a>
                    <p>
                        Få oversikt over ledige stillinger og registrer din CV hos Helsedirektoratet
                    </p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_rekruttering.html">
                        <h2>Rekrutteringsprosessen</h2>
                    </a>
                    <p>
                        Hva skjer med søknaden din når du sender den inn.
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="artikkel_hvavitilbyr.html">
                        <h2>Hva vi tilbyr</h2>
                    </a>
                    <p>
                        I Helsedirektoratet møter du faglig dyktige kollegaer som er stolte av jobben sin og utfører den med stort engasjement. Vår visjon om gode helse – gode liv er førende for vårt arbeid.  Det samme er verdiene våre faglig styrke, åpenhet og samarbeid.
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Møt våre ansatte</h2>
                    </a>
                    <p>
                    </p>
                </div>
                <aside class="aside bottom">
                    <div class="module module_related">
                        <h5 class="module_header">Vi har et av Norges største IT-miljø</h5>

                        <div class="video-container">
                            <iframe src="http://www.youtube.com/embed/t37uL7f6jyQ" frameborder="0"></iframe>
                        </div>
                        <p class="module_ingress">Møt Line, front-end-utvikler i Helsedirektoratet</p>
                        <img class="pulse" src="../img/modules/EKG-groenn.png" alt="">
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>