<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside alkohol</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/tabs.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />


</head>

    <body>
        <div class="headerGronn"><div class="headerBlaa"></div>
</div>
        <div class="container">
            <header class="row">
                <div class="col-md-12 topplinje">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                            <img id="logo" src="../img/logo.svg"/>
                        </div>
                        <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-4 menylinje">
                            <p class="pull-right">
                                <span>
                                    <a href="#" class="js-expander">
                                        Meny
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </span>
                                <span>
                                    |
                                    <a href="#">
                                        Søk
                                        <i class="fa fa-search"></i>
                                    </a>
                                </span>
                                <span class="hidden-xs hidden-sm">
                                    |

                                    <a href="#">Om oss</a>
                                    |
                                    <a href="#">English</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="dropdownWrapper js-expand">
            <div class="container">
                <div id="tabs">
                    <ul>
                        <li id="tabheading-1"><a href="#tabs-1">Kategorier</a></li>
                        <li id="tabheading-2"><a href="#tabs-2">A-Å</a></li>
                    </ul>
                    <div id="tabs-1" class="kollapslenker-tabs">
                        <div class="row">
                            <div class="col-sm-3 col-md-4">
                                <div class=" toppmeny">
                                    <ul id="nivaa1">
                                        <li><a href="#">Nasjonale strategier og planer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Folkehelse og forebygging<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Rapporter, brosjyrer og publikasjoner<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Helseøkonomi<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Medisinske retninglinjer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-4">
                                <div class="toppmeny">
                                    <ul id="nivaa2">
                                        <li><a href="#">Statistikk og analyse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Legemidler og medisinsk utstyr<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Beredskap<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Lover og rettigheter<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Høringer<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-4">
                                <div class="toppmeny">
                                    <ul id="nivaa3">
                                        <li><a href="#">Kurs og konferanser<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Godkjenning og turnus<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">Diagnoser og tilstander<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                        <li><a href="#">eHelse<img class="pilIkon" src="../img/pil.svg" /></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabs-2" class="kollapslenker-tabs"></div>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="row">
                <nav class="col-md-6">
                    <ol class="broedsmulesti">
                        <li><a href="#">Forside</a></li>
                        <li class="active"><a href="#">Sidetittel</a></li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Overskrift</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 clearfix">
                    <div class="transportsideknapp">
                        <a href="#">
                            <h4>Overskrift</h4>
                            <p>
                                Tekst<i class="fa fa-chevron-right"></i>
                            </p>
                        </a>
                        <div class="skygge bottom">
                            <div class="blaa"></div>
                        </div>
                    </div>

                    <div class="transportsideknapp">
                        <a href="#">
                            <h4>Overskrift</h4>
                            <p>
                                Tekst<i class="fa fa-chevron-right"></i>
                            </p>
                        </a>
                        <div class="skygge bottom">
                            <div class="blaa"></div>
                        </div>
                    </div>

                    <div class="transportsideknapp">
                        <a href="#">
                            <h4>Overskrift</h4>
                            <p>
                                Tekst<i class="fa fa-chevron-right"></i>
                            </p>
                        </a>
                        <div class="skygge bottom">
                            <div class="blaa"></div>
                        </div>
                    </div>
                
                    <div class="transportsideknapp">
                        <a href="#">
                            <h4>Overskrift</h4>
                            <p>
                                Tekst<i class="fa fa-chevron-right"></i>
                            </p>
                        </a>
                        <div class="skygge bottom">
                            <div class="blaa"></div>
                        </div>
                    </div>
                    <div class="transportsideknapp">
                        <a href="#">
                            <h4>Overskrift</h4>
                            <p>
                                Tekst<i class="fa fa-chevron-right"></i>
                            </p>
                        </a>
                        <div class="skygge bottom">
                            <div class="blaa"></div>
                        </div>
                    </div>

                </div>
            </div>


        </div>


        <div class="container-fluid footerWrapper">
            <div class="container">
                <footer class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="sosialeMedier">
                            <h4>Følg oss</h4>
                            <div><i class="fa fa-facebook-square fa-lg"></i><a href="#">Facebook</a></div>
                            <div><i class="fa fa-twitter-square fa-lg"></i><a href="#">Twitter</a></div>
                            <div><i class="fa fa-linkedin-square fa-lg"></i><a href="#">LinkedIn</a></div>
                            <div><i class="fa fa-youtube-square fa-lg"></i><a href="#">YouTube</a></div>
                        </div>
                    </div>

                    <div class="col-xs-7 col-xs-offset-1 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-3 col-lg-4 col-lg-offset-4">
                        <div class="abonneringsmodul">
                            <h4>Abonner på innholdet på denne siden</h4>
                            <div><a href="#"><i class="fa fa-envelope fa-lg"></i> E-post</a></div>
                            <div><a href="#"><i class="fa fa-rss fa-lg"></i> RSS-strøm</a></div>
                        </div>
                    </div>

                </footer>
            </div>
        </div>


        <script src="../js/jquery-1.10.2.min.js"></script>
        <script src="../js/sohoFont.js"></script>
        <script src="../js/calibriFont.js"></script>
        <script src="../js/expand.js"></script>
        <script src="../js/tabsJQueryUI.js"></script>
        <script src="../js/jquery-ui-1.10.4.custom.js"></script>
        <script src="../js/toggle.js"></script>
    </body>
</html>
