<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside beredskap</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>

                    <h1>Beredskap</h1>
                    <div class="border"></div>
                </header>
                <p>Her er et eksempel på en tekst som kan settes inn over for inngangene</p>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Beredskap og krisehåndtering</h2>
                    </a>
                    <p>Planer og tiltak.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Nødnett</h2>
                    </a>
                    <p>Tidsplan for Innføring av nødnett. Nødnettsutstyr. Opplæring i nødnett.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>