<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside ernæring</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <nav class="col-md-6">
                <ol class="broedsmulesti clearfix">
                    <li><a href="../" class="">Forside</a></li>
                    <li class="active"><a href="transportside_folkehelse.html" class="">Folkehelse og forebygging</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Ernæring</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 clearfix">
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring</h2>
                        Råd, verktøy og gode eksempler for deg som jobber med ernæring<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="artikkel_kostholdsraad.html">
                        <h2>Kostholdsråd</h2>
                        Helsedirektorates anbefalinger<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Energi og næringsstoff</h2>
                        Anbefalinger<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring ved diabetes</h2>
                        Kostveiledning for personer med diabetes<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring i barnehager</h2>
                        Råd om måltider og verktøy for deg som jobber i barnehager<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_ernaeringiskolen.html">
                        <h2>Ernæring i skolen</h2>
                        Råd om måltider og verktøy for deg som jobber i skoler<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring på arbeidsplassen</h2>
                        Slik jobber du med å øke trivsel og bedre arbeidsmiljø<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Tall og undersøkelser om ernæring</h2>
                        Statistikk om utviklingen i norsk kosthold<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Strategier og nasjonale satsninger innen ernæring</h2>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>