<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside alkohol</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <nav class="col-md-6">
                <ol class="breadcrumbs clearfix">
                    <li class="active"><a href="forside.html">Forside</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Folkehelse og forebygging</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 clearfix">
                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Folkehelsearbeid i kommunen</h2>
                        Roller og ansvar, veiviser for lokalt folkehelsearbeid, helsefremmende arbeid i skolen, folkehelse i plan, folkehelseloven<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Frisklivssentraler</h2>
                        Kurs og verktøy for veilederen, helsesamtalen, statistikk og evaluering
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_alkohol.html">
                        <h2>Alkohol</h2>
                        Skjenkebevilling, regler om import, alkoholreklame, kunnskapsprøven
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_alkohol.html">
                        <h2>Røyking, snus og tobakk</h2>
                        Verktøy for røyk- og snusslutt, nasjonal tobakkstrategi, tall og undersøkelser, tobakkskadeloven
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_ernaering.html">
                        <h2>Kosthold og fysisk aktivitet</h2>
                        Kostholdsråd, oversikt næringsstoffer, nøkkelhullet, klinisk ernæring, ernæring i skolen
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_ernaering.html">
                        <h2>Seksuell helse</h2>
                        Nasjonal hiv-strategi, prevensjon, seksuelle minoriteter
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Rus og narkotika</h2>
                        Rusmiddelarbeid i kommunen, forebygging av rus, tidlig intervensjon, rusomsorg, behandling og oppfølging
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Psykisk helse</h2>
                        Arbeid og psykisk helse, forebygging av selvmord, vold og traumer, behandling og oppfølging, psykisk helsevern
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Tannhelse</h2>
                        Meldeplikt til barnevern, refusjon av behandling, e-læringskurs for pleiepersonell, munnhelse og tobakk
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>