<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside statistikk</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <article class="col-md-6">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Statistikk og analyse</h1>
                    <div class="border"></div>
                </header>
                <div class="transportsideknapp clearfix">
                    <a href="transportside_finnstatistikk.html">
                        <h2>Finn statistikk</h2>
                    </a>
                    <p> Aktivitetsdata, ventetider, tall fra folkehelse, psykisk helsevern og andre helserelaterte emner</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Statistikkalender</h2>
                    </a>
                    <p>  Oversikt over publiseringer av nye tall</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Rapportgenerator</h2>
                    </a>
                    <p> Analyser av samhandlingsstatistikk, nøkkeltall og annen statistikk, årsrapporter, prognoser og evalueringer</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Rapporter</h2>
                    </a>
                    <p> </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="statistikk_sokeomdata.html">
                        <h2>Søke om data</h2>
                    </a>
                    <p> Vil du bestille data til studier eller forskning? Her finner du retningslinjer, behandlingstid, søknadsskjema</p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Last ned rådata</h2>
                    </a>
                    <p>Vil du bruke vår data i en egen løsning? Du kan laste den ned……</p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Rapportering</h2>
                    </a>
                    <p> Slik rapporterer du inn data</p>
                </div>
            </article>
        </div>
    </div>
    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>