<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside finn statistikk</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_statistikk.html">Statistikk og analyse</a></li>
                        </ol>
                    </nav>

                    <h1>Finn statistikk</h1>
                    <div class="border"></div>
                </header>
                <form>
                    <label class="visuallyhidden" for="search_statistics">Søk i statistikk</label>
                    <input id="search_statistics" type="text" class="search" placeholder="Søk i statistikk">
                </form>

                <div class="transportsideknapp clearfix">
                    <a href="statistikk_ventetider.html">
                        <h2>Ventetider og pasientrettigheter</h2>
                    </a>
                    <p>Ventetider og pasientrettigheter</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Aktivitetsdata fra spesialisthelsetjenesten</h2>
                    </a>
                    <p>
                        Aktivitetsdata for avtalespesialister, somatikk og psykisk helsevern;
                        aktivitetsdata for somatikk; personskader og ulykker
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Legemidler</h2>
                    </a>
                    <p>
                        Antall legemiddelgjennomganger som utføres i henholdsvis hjemmetjenesten
                        og på sykehjem
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Styringsdata for kommuner (samhandlingsreformen)</h2>
                    </a>
                    <p>
                        Kommunenes bruk av somatiske sykehus, fastleger og legevakt, fysioterapeuter;  kommunal medfinansiering (KFM)
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Kommunehelsetjenesten</h2>
                    </a>
                    <p>
                        KOSTRA – «endelige tall»;  diagnoser i IPLOS-registeret; nasjonale kvalitetsindikatorer;
                        kommunalt øyeblikkelig hjelp døgnopphold
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Forgiftning</h2>
                    </a>
                    <p>
                        Akutte forgiftninger ved norske sykehus;  forgiftningsdødsfall i Norge
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Demens</h2>
                    </a>
                    <p>
                        Nasjonal kartlegging av tjenestetilbud til personer med demens.
                    </p>
                </div>

                <!--                <aside class="aside borderbox">-->
                <!--                    <h3>Helsestatistikk levert av andre</h3>-->
                <!--                    <ul class="cleanlist">-->
                <!--                        <li>-->
                <!--                            <a href="#">Folkehelseprofiler ved Folkehelseinstituttet (Fhi)</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Levevaner ved Statistisk sentralbyrå (SSB)</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Årsverk i helsetjenesten ved Statistisk sentralbyrå (SSB)</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="http://www.oecd.org/els/health-systems/health-at-a-glance.htm">OECD - Health at a Glance</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="http://www.who.int/gho/publications/world_health_statistics/2013/en">WHO - World Health Statistics</a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </aside>-->
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>