<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside organsisasjon</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>

                    <h1>Om Helsedirektoratet</h1>
                    <div class="border"></div>
                </header>

                <h2>Finn kontaktperson</h2>
                <form>
                    <label for="searchinput" class="visuallyhidden">Søk etter navn, kompetanse, tema eller avdeling</label>
                    <input id="searchinput" class="search" type="text" placeholder="Søk etter navn, kompetanse, tema eller avdeling" />
                </form>

                <div class="transportsideknapp clearfix">
                    <a href="kontaktoss.html">
                        <h2>Kontakt oss</h2>
                    </a>
                    <p>
                        Besøksadresse, postadresse
                    </p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_rollerogoppgaver.html">
                        <h2>Roller og ansvar</h2>
                    </a>
                    <p>
                        Oppgavene til Helsedirektoratet
                    </p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_organisasjonskart.html">
                        <h2>Organisasjonskart</h2>
                    </a>
                    <p>
                        Oversikt over ledelsen og avdelingene
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Jobb i Helsedirektoratet</h2>
                    </a>
                    <p>
                        Ledige stillinger, karrieremuligheter, ansattgoder, møt våre ansatte
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#" class="">
                        <h2>Presse</h2>
                    </a>
                    <p>
                        Pressevakt, bilder av ledelsen, illustrasjonsbilder til nedlasting
                    </p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Kurs og arrangement</h2>
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Nyheter</h2>
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Elektronisk postjournal</h2>
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Grafisk profil</h2>
                    </a>
                    <p>
                        Logoer, designretningslinjer
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>