<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Transportside alkohol</title>
    <link href="../css/font_soho.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container transportside">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_folkehelse.html">Folkehelse og forebygging</a></li>
                        </ol>
                    </nav>

                    <h1>Alkohol i næringslivet</h1>
                    <div class="border"></div>
                </header>
                <p>Her er et eksempel på en tekst som kan settes inn over for inngangene</p>

                <div class="transportsideknapp">
                    <a href="artikkel_salgsbevilling.html">
                        <h2>Salgsbevilling</h2>

                        Slik søker du om bevilling til å selge alkohol
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="artikkel_skjenkebevilling.html">
                        <h2>Skjenkebevilling</h2>
                        Slik søker du om bevilling til å servere/skjenke alkohol
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Produsere alkohol</h2>
                        Søk om bevilling til å produsere alkohol
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Importere alkohol</h2>
                        Søk om bevilling til å importere alkohol
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Bevillingsregisteret</h2>
                        Finn ut om virksomhet har alkoholbevilling
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Alkoholreklame</h2>
                        Slik etterfølger du reglene for alkoholreklame
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>