<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside organsisasjon</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap-full.min.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <nav class="col-md-12">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Om Helsedirektoratet</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 clearfix">

                <h2 style="margin-top: 20px;">Finn kontaktperson</h2>
                <form class="form-search form-horizontal" role="form">
                    <label class="sr-only" for=""> Søk etter navn, kompetanse, tema eller avdeling</label>
                    <div class="search">
                        <input type="text" class="form-control input-lg typeahead" placeholder="Søk etter navn, kompetanse, tema eller avdeling">
                    </div>
                </form>

                <div class="transportsideknapp clearfix">
                    <a href="kontaktoss.html">
                        <h2>Kontakt oss</h2>
                    </a>
                    <p>
                        Besøksadresse, postadresse<i class="fa fa-chevron-right"></i>
                    </p>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_rollerogoppgaver.html">
                        <h2>Roller og ansvar</h2>
                    </a>
                    <p>
                        Oppgavene til Helsedirektoratet<i class="fa fa-chevron-right"></i>
                    </p>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_organisasjonskart.html">
                        <h2>Organisasjonskart</h2>
                    </a>
                    <p>
                        Oversikt over ledelsen og avdelingene<i class="fa fa-chevron-right"></i>
                    </p>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Jobb i Helsedirektoratet</h2>
                    </a>
                    <p>
                        Ledige stillinger, karrieremuligheter, ansattgoder, møt våre ansatte<i class="fa fa-chevron-right"></i>
                    </p>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#" class="">
                        <h2>Presse</h2>
                    </a>
                    <p>
                        Pressevakt, bilder av ledelsen, illustrasjonsbilder til nedlasting<i class="fa fa-chevron-right"></i>
                    </p>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Kurs og arrangement</h2>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Nyheter</h2>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Elektronisk postjournal</h2>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Grafisk profil</h2>
                    </a>
                    <p>
                        Logoer, designretningslinjer<i class="fa fa-chevron-right"></i>
                    </p>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <h2>Fakta om Helsedirektoratet</h2>
                <div class="spennendeTall">
                    <p>noen spennende tall</p>
                </div>
                <div class="spennendeTall">
                    <p>noen spennende tall</p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>