<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside diagnoser og tilstander</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>

                    <h1>Diagnoser og tilstander</h1>
                    <div class="border"></div>
                </header>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Kols</h2>
                    </a>
                    <p>Nasjonal faglig retningslinje for forebygging, diagnostisering og oppfølging av personer med kols.</p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Kreft</h2>
                    </a>
                    <p>Nasjonale faglige retningslinjer og handlingsplaner. Kreftlegemidler, testmetoder og behandling.</p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>AD/HD</h2>
                    </a>
                    <p>Nasjonal faglig retningslinje for utredning, behandling og oppfølging av AD/HD.</p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Astma og allergi</h2>
                    </a>
                    <p>Nasjonal strategi for forebygging og behandling av astma og allergisykdommer.</p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_utredning_av_demens.html">
                        <h2>Demens</h2>
                    </a>
                    <p>Verktøy for utredning. Dagtilbud. Tilrettelegging av bolig. Hjelp til pårørende.</p>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Hjerneslag</h2>
                    </a>
                    <p>Nasjonal faglig retningslinje for behandling og rehabilitering ved hjerneslag. Symptomer på hjerneslag.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Hjerte- og karsykdommmer</h2>
                    </a>
                    <p>Nasjonal faglig retningslinje for individuell primærforebygging av hjerte- og karsykdommer.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Kronisk utmattelsessyndrom (ME-CFS)</h2>
                    </a>
                    <p>Nasjonal veileder for CFS/ME. Råd og anbefalinger.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Psykisk utviklingshemming</h2>
                    </a>
                    <p>Tilskudd til rehabilitering.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Psykiske lidelser</h2>
                    </a>
                    <p>Psykisk helsearbeid i kommunen. Tvang. Rusbehandling LAR og TSB. Hjelp til pårørende.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Diabetes</h2>
                    </a>
                    <p>Nasjonal faglig retningslinje med anbefalinger om forebygging, diagnostikk og behandling av diabetes.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Influensa</h2>
                    </a>
                    <p>Kriseinformasjon. Vaksiner.</p>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Graviditet</h2>
                    </a>
                    <p>Råd om svangerskaps-, fødsels- og barselomsorgen. Alkohol, tobakk og rusmidler under svangerskapet.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>