<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside alkohol</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container transportside">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>

                    <h1>Folkehelse og forebygging</h1>
                    <div class="border"></div>
                </header>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Folkehelsearbeid i kommunen</h2>
                        <p>Roller og ansvar, veiviser for lokalt folkehelsearbeid, helsefremmende arbeid i skolen, folkehelse i plan, folkehelseloven</p>
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Frisklivssentraler</h2>
                        <p> Kurs og verktøy for veilederen, helsesamtalen, statistikk og evaluering</p>
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_alkohol.html">
                        <h2>Alkohol</h2>
                        <p> Skjenkebevilling, regler om import, alkoholreklame, kunnskapsprøven</p>
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_alkohol.html">
                        <h2>Røyking, snus og tobakk</h2>
                        <p>Verktøy for røyk- og snusslutt, nasjonal tobakkstrategi, tall og undersøkelser, tobakkskadeloven</p>
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_ernaering.html">
                        <h2>Kosthold og fysisk aktivitet</h2>
                        <p> Kostholdsråd, oversikt næringsstoffer, nøkkelhullet, klinisk ernæring, ernæring i skolen</p>
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="transportside_ernaering.html">
                        <h2>Seksuell helse</h2>
                        <p>Nasjonal hiv-strategi, prevensjon, seksuelle minoriteter</p>
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Rus og narkotika</h2>
                        <p>  Rusmiddelarbeid i kommunen, forebygging av rus, tidlig intervensjon, rusomsorg, behandling og oppfølging</p>
                    </a>
                </div>

                <div class="transportsideknapp">
                    <a href="#">
                        <h2>Psykisk helse</h2>
                        <p>  Arbeid og psykisk helse, forebygging av selvmord, vold og traumer, behandling og oppfølging, psykisk helsevern</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>