<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside lover og regler</title>
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/customLESS.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <nav class="col-md-6">
                <ol class="broedsmulesti">
                    <li class="active"><a href="../" class="klikkbar">Forside</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Lover og regler</h1>

                <div class="ingress">
                    Helsedirektoratet forvalter 23 lover innen helse og omsorg.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 clearfix">
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h4>Abortloven</h4>
                        Reglene om svangerskapsavbrudd<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h4>Alternativ behandling</h4>
                        Godkjenning av personell og frivillig registreringsordning<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h4>Helse- og omsorgstjenesteloven</h4>
                        Regøer om kommunens overordnede ansvar for helse- og omsorgstjenester til alle som oppholder seg i kommunen<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="artikkel_loverogregler.html">
                        <h4>Helsepersonelloven</h4>
                        Loven regulerer yrkesutøvlsen til helsepersonell<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h4>Medisink utstyrloven</h4>
                        Regler om håndtering av medisink utstyr, språkkrav og CE-merking<i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="skygge bottom">
                        <div class="blaa"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>