<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside ernæring</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="transportside_folkehelse.html" class="">Folkehelse og forebygging</a></li>
                        </ol>
                    </nav>

                    <h1>Ernæring</h1>
                    <div class="border"></div>
                </header>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring</h2>
                        Råd, verktøy og gode eksempler for deg som jobber med ernæring
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="artikkel_kostholdsraad.html">
                        <h2>Kostholdsråd</h2>
                        Helsedirektorates anbefalinger
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Energi og næringsstoff</h2>
                        Anbefalinger
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring ved diabetes</h2>
                        Kostveiledning for personer med diabetes
                    </a>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring i barnehager</h2>
                        Råd om måltider og verktøy for deg som jobber i barnehager
                    </a>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="artikkel_ernaeringiskolen.html">
                        <h2>Ernæring i skolen</h2>
                        Råd om måltider og verktøy for deg som jobber i skoler
                    </a>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Ernæring på arbeidsplassen</h2>
                        Slik jobber du med å øke trivsel og bedre arbeidsmiljø
                    </a>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Tall og undersøkelser om ernæring</h2>
                        Statistikk om utviklingen i norsk kosthold
                    </a>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Strategier og nasjonale satsninger innen ernæring</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>