<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportside lover og regler</title>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html" class="">Forside</a></li>
                        </ol>
                    </nav>

                    <h1>Lover og regler</h1>

                    <div class="ingress">
                        Helsedirektoratet forvalter 23 lover innen helse og omsorg.
                    </div>
                    <div class="border"></div>
                </header>
                <div class="transportsideknapp clearfix">
                    <a href="#">

                        <h2>Abortloven</h2>
                        Reglene om svangerskapsavbrudd
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="artikkel_alkoholloven.html">
                        <h2>Alkoholloven</h2>

                        Loven regulerer kommunale og statlige bevillinger, fastsettelelse av vilkår for salg og skjenking av alkohol og kontroll med at vilkårene blir overholdt.
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Alternativ behandling</h2>

                        Godkjenning av personell og frivillig registreringsordning
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="artikkel_helseomsorgloven.html">
                        <h2>Helse- og omsorgstjenesteloven</h2>

                        Regler om kommunens overordnede ansvar for helse- og omsorgstjenester til alle som oppholder seg i kommunen
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="artikkel_helsepersonelloven.html">
                        <h2>Helsepersonelloven</h2>

                        Loven regulerer yrkesutøvlsen til helsepersonell
                    </a>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Medisink utstyrloven</h2>

                        Regler om håndtering av medisink utstyr, språkkrav og CE-merking
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/headerFooter.js"></script>
    <script src="../js/sohoFont.js"></script>
    <script src="../js/calibriFont.js"></script>
    <script src="../js/toggle.js"></script>
</body>
</html>