<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Transportside | Helsedirektoratet</title>
    <!--[if lte IE 8]>
     <script src="../js/html5.js"></script>
     <script src="../js/modernizr-latest.js"></script>
     <script src="../js/respond.js"></script>
     <link rel="stylesheet" href="/css/iesucks.css">
    <![endif]-->
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/print.css" rel="stylesheet">
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
    <link href="../css/reset.css" rel="stylesheet">

    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/masterpage.css" rel="stylesheet" />
</head>

<body>
    <div id="header"></div>
    <div class="container ">
        <div class="row">
            <nav class="col-md-6">
                <ol class="breadcrumbs clearfix">
                    <li><a href="forside.html">Forside</a></li>
                    <li class="active"><a href="#" class="">Sidetittel</a></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Overskrift</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 clearfix">
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Overskrift</h2>
                        Tekst
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Overskrift</h2>
                        Tekst
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Overskrift</h2>
                        Tekst
                    </a>
                </div>

                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Overskrift</h2>
                        Tekst
                    </a>
                </div>
                <div class="transportsideknapp clearfix">
                    <a href="#">
                        <h2>Overskrift</h2>
                        Tekst
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script src="../js/jquery-1.11.0.js"></script>

    <script src="../js/headerFooter.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="../js/google.maps.js"></script>
    <script src="https://www.google.com/jsapi"></script>
</body>
</html>