<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>For pasienter | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="../css/ie8fix.css" rel="stylesheet">
        <script src="../js/modernizr-latest.js"></script>
        <script src="../js/html5.js"></script>
        <script src="../js/respond.js"></script>
              <![endif]-->

    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-5 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                    </a>
                </div>
                <div class="col-xs-7 visible-xs xs-no-padding col-sm-4 visible-sm">
                    <a href="#" class="english pull-right"></a>

                    <a href="omoss.html" class="about pull-right"></a>
                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="sokeside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="transportside_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>For Pasienter</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <p class="ingress">Alle nye legemidler, medisinsk utstyr eller nye prosedyrer som skal tas i bruk på norske sykehus skal være funnet trygge og effektive. </p>
                    <p class="ingress">Dette er bakgrunnen for at man i Norge har innført et nasjonalt system som skal sikre at en metode blir vurdert likt og basert på kunnskap, før de tas i bruk i spesialisthelsetjenesten. Målet er blant annet å bidra til bedre og tryggere pasientbehandling.</p>
                    <h2>Pasienter kan sende inn forslag</h2>
                    <p>    Ansatte i spesialisthelsetjenesten, myndigheter, pasienter og leverandør av metoder med flere kan alle komme med forslag på nye metoder de ønsker skal bli gjennomgå en nasjonal metodevurdering.</p>
                    <p>Les mer om hvordan <a href="forslag.html">fremme et forslag</a></p>
                    <h2> Brukermedvirkning</h2>
                    <p>    Gjennom regionale og sykehusspesifikke brukerutvalg kan pasienter og pårørende være med på å påvirke at helsetjenesten videreutvikles på best mulig måte for alle pasienter. Se de regionale helseforetakenes nettsider for informasjon om hvordan pasienter kan medvirke.</p>
                    <p> Mange av metodene som gjennomgår en metodevurdering er ikke tatt i bruk i spesialisthelsetjenesten i Norge.  Det er heller ikke sikkert at de vil bli tatt i bruk.</p>

                    <aside class="aside top">
                        <div class=" module module_person ">
                            <h5 class=" module_description">KONTAKT</h5>
                            <a href="#">
                                <div class="name">Sekretariatet</div>
                            </a>
                            <div class="person_information">
                                <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Sekretariatet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Nasjonalt system for innføring av nye metoder</h5>
                            <p>skal sikre at nye metoder som tas i bruk i spesialisthelsetjenesten er vurdert ut fra effekt, sikkerhet og kostnader.</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="finnmetode.html" class="internal-link arrow_right">Finn metode</a>
                            </li>
                            <li>
                                <a href="hvemgjoerhva.html" class="internal-link arrow_right">Hvem gjør hva</a>
                            </li>
                            <li>
                                <a href="nyheter.html" class="internal-link arrow_right">Nyheter</a>
                            </li>
                            <li>
                                <a href="artikkel_tidslop_og_frister.html" class="internal-link arrow_right">Tidsfrister</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1 ">
                        <h4>Relevant for</h4>
                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>

                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="artikkel_pasienter.html" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>