<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Finn metode | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/finnmetode.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-5 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                    </a>
                </div>
                <div class="col-xs-7 visible-xs xs-no-padding col-sm-4 visible-sm">
                    <a href="#" class="english pull-right"></a>

                    <a href="omoss.html" class="about pull-right"></a>
                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="sokeside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="transportside_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12 ">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>
                        Finn metode
                    </h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="content">

                    <div class="relative_container">
                        <form class="searchform">
                            <span class="searchform_row">
                                <label class="visuallyhidden" for="Finn metode">Finn metode</label>
                                <span class="searchform_cell_input">
                                    <input id="Finn metode" type="text" class="search" placeholder="Søk i alle metoder">
                                </span>
                                <span class="searchform_cell_button">
                                    <button type="submit"></button>
                                </span>
                            </span>
                        </form>
                        <aside class="aside top">
                            <div class="refinesearch">
                                <h2>Avgrens visning</h2>
                                <form class="dropdown">
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select role="listbox" id="status" class="form-control">
                                            <option role="option" selected="selected">Alle </option>
                                            <option role="option">
                                                Forslag mottatt
                                            </option>
                                            <option role="option">
                                                Til Bestillerforum
                                            </option>
                                            <option role="option">
                                                Behandlet på Bestillerforum
                                            </option>
                                            <option role="option">
                                                Til metodevurdering
                                            </option>
                                            <option role="option">
                                                Metodevurderinger pågår
                                            </option>
                                            <option role="option">
                                                Metodevurdering ferdigstilt
                                            </option>
                                            <option role="option">
                                                Til beslutning
                                            </option>
                                            <option role="option">
                                                Beslutning foreligger
                                            </option>
                                            <option role="option">
                                                Implementering
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <select role="listbox" id="type" class="form-control">
                                            <option role="option" selected="selected">Alle</option>
                                            <option role="option">
                                                Legemidler
                                            </option>
                                            <option role="option">
                                                Metoder som ikke er legemidler
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="year">År</label>
                                        <select role="listbox" id="year" class="form-control">
                                            <option role="option">Alle</option>
                                            <option role="option">
                                                2013
                                            </option>
                                            <option role="option">
                                                2014
                                            </option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </aside>
                        <p class="resultnumber">60 metoder</p>

                        <a href="metode_status_forslag.html" class="transportsideknapp clearfix">
                            <h2>Eribulin (Halaven)</h2>

                            <p>
                                3.linje kjemoterapi ved matastatisk brystkreft
                            </p>
                            <div class="status preparation">Forslag mottatt</div><div class="status_information">
                                <p class="status_received">Innsendt dato: 12.05.2013</p> <p class="status_sender">Innsendt av: Roche Norge AS  (leverandør)</p>
                            </div>
                        </a>

                        <a href="#" class="transportsideknapp clearfix">
                            <h2>Glatirameracetat</h2>

                            <p>til behandling av multippel sklerose - Kost-effekt vurdering av ny patentert dosevariant (40 mg/ml) sammenliknet med etablert dosevariant (20 mg/ml) av glatirameracetat </p>
                            <div class="status preparation">Til Bestillerforum</div><div class="status_information"><p class="status_received">Innsendt dato: 09.04.2014</p>  <p class="status_sender">Innsendt av: Statens Legemiddelverk (myndighet)</p></div>
                        </a>
                        <a href="#" class="transportsideknapp clearfix">
                            <h2>Trastuzumab emtansine (Kadcuyla)</h2>

                            <p>
                                andrelinjebehandling av HER2-postitiv brystkreft
                            </p>
                            <div class="status preparation">Behandlet på Bestillerforum</div><div class="status_information">
                                <p class="status_received">Innsendt dato: 12.03.2014</p><p class="status_sender">Innsendt av: Roche Norge AS (leverandør)</p>
                            </div>
                        </a>
                        <a href="metode_status_besluttet_2.html" class="transportsideknapp clearfix">
                            <h2>Bertasumaib (Berjaita) </h2>

                            <p>
                                Til førstelinjebehandling av HEZ3-postiv metastatisk brystcancer
                            </p>
                            <div class="status decided"> Beslutning foreligger</div><div class="status_information">
                                <p class="status_received">Innsendt dato: 12.05.2014</p>   <p class="status_sender">Innsendt av: Statens Legemiddelverk (myndighet)</p>
                            </div>
                        </a>

                        <a href="#" class="transportsideknapp clearfix">
                            <h2>Helplasma for transfusjon </h2>

                            <p>
                                Alternativer til pasienter
                            </p>
                            <div class="statuswrapper">
                                <div class="status cancelled">Kansellert</div>
                                <div class="status_information">
                                    <p class="status_received">Innsendt dato: 12.05.2014</p>   <p class="status_status">Innsendt av: RHF, arbeidsgruppen for utredning av alternativer for helplasmatransfusjon (uspesifisert, rep.flere RHF)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="toggleshowmorenews">
                        <div class=" showmorenews">
                            <a href="#" onclick="return false;">Vis flere metoder</a>
                        </div>
                        <a href="#" class="transportsideknapp clearfix visuallyhidden">
                            <h2>Trastuzumab emtansine (Kadcuyla)</h2>

                            <p>
                                andrelinjebehandling av HER2-postitiv brystkreft
                            </p>
                            <div class="status preparation">Behandlet for Bestillerforum</div><div class="status_information">
                                <p class="status_received">Innsendt dato: 12.03.2014</p><p class="status_sender">Innsendt av: Roche</p>
                            </div>
                        </a>
                        <a href="#" class="transportsideknapp clearfix visuallyhidden">
                            <h2>Helplasma for transfusjon </h2>

                            <p>
                                Alternativer til pasienter
                            </p>
                            <div class="status evaluation"> Metodevurdering pågår</div><div class="status_information">
                                <p class="status_received">Innsendt dato: 12.05.2014</p>   <p class="status_sender">Innsendt av: arbeidsgruppen for utredning av alternativer for helplasmatransfusjon RHF uspesifisert  (rep.flere RHF)</p>
                            </div>
                        </a>
                        <a href="#" class="transportsideknapp clearfix visuallyhidden">
                            <h2>Pertuzumab (Perjeta)</h2>

                            <p>
                                Førstelinjebehandling av HER2-postiv metastatisk brystcancer
                            </p>
                            <div class="status decided">Beslutning foreligger</div><div class="status_information">
                                <p class="status_received">Innsendt dato: 12.05.2013</p> <p class="status_sender">Innsendt av: Roche Norge  Leverandør</p>
                            </div>
                        </a>
                    </div>

                    <div class=" module module_print">
                        <a href="javascript:window.print()" class=" ikon_skrivut">
                            <span></span>skriv ut
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Sekretariatet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Nasjonalt system for innføring av nye metoder</h5>
                            <p>skal sikre at nye metoder som tas i bruk i spesialisthelsetjenesten er vurdert ut fra effekt, sikkerhet og kostnader.</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="finnmetode.html" class="internal-link arrow_right">Finn metode</a>
                            </li>
                            <li>
                                <a href="hvemgjoerhva.html" class="internal-link arrow_right">Hvem gjør hva</a>
                            </li>
                            <li>
                                <a href="nyheter.html" class="internal-link arrow_right">Nyheter</a>
                            </li>
                            <li>
                                <a href="artikkel_tidslop_og_frister.html" class="internal-link arrow_right">Tidsfrister</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1 ">
                        <h4>Relevant for</h4>
                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>

                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="artikkel_pasienter.html" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>