<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Metode | Helsedirektoratet.no</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet">
    <link href="../css/frontpage.css" rel="stylesheet">
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="shortcuts">
            <ul>
                <li><a href="#" tabindex="1" accesskey="i" id="menushortcut">Gå til meny</a></li>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
                    <a href="forside.html" class="logo">
                        <img src="../img/logo.svg" alt="" />
                    </a>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class="mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2">
                    <div class="mainsearchcolumn" id="mainsearchcolumn">
                        <form class="mainsearchform hidden-mobile">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="#">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="#">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="mainentrance">
        <div class="container">
            <div class="row forside">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">

                    <div class="entrancebuttons clearfix">

                        <div class="entrancebutton ">
                            <a href="transportside.html">
                                <span class="finnmetode"></span>
                                <h2>Finn metode</h2>
                            </a>
                        </div>
                        <div class="entrancebutton">
                            <a href="#">
                                <span class="sendforslag"></span>
                                <h2>Send forslag</h2>
                            </a>
                        </div>
                        <div class="entrancebutton">
                            <a href="omoss.html">
                                <span class="omsystemet"></span>
                                <h2>Om systemet</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="frontpagewrapper white">
        <div class="container">
            <div class="row forside">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2> Faser ved innføring av nye metoder</h2>
                    <div class="clearfix">
                        <a href="oppstart.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop oppstart">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">1</span>
                                </span>
                            </span>
                            <div class="heading_wrapper"><h3>Oppstart</h3></div>
                        </a>
                        <a href="forslag.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop forslag">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">2</span>
                                </span>
                            </span>
                            <div class="heading_wrapper"><h3>Forslag</h3></div>
                        </a>
                        <a href="metodevurdering.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop metodevurdering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">3</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Metodevurdering</h3></div>
                        </a>
                        <a href="beslutning.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop beslutning">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">4</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Beslutning</h3></div>
                        </a>
                        <a href="implementering.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop implementering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">5</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Implementering</h3></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <div class="news">
                    <h2>Nyheter</h2>
                    <a href="#"><h3> Besluttet å innføre to nye kreftlegemidler </h3></a>
                    <p class="date">19.august 2014</p>

                    <p class=ingress>De regionale helseforetakenes Beslutningsforum fattet 19. mai de første beslutningene om nye kreftlegemidler</p>
                    <a href="#" class="internal-link">
                        Se flere nyheter
                    </a>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="news">
                    <h2>Siste status&shy;oppdateringer</h2>
                    <a href="#"><h4>Humira. Nytt forslag</h4> </a>
                    <p class="date_status">13.august 2014</p>
                    <a href="#"><h4>Glatirameracetat. Nytt forslag</h4> </a>
                    <p class="date_status">1.august 2014</p>
                    <a href="#"> <h4>Helplasma for transfusjon. Til metodevurdering</h4></a>
                    <p class="date_status">1.juni 2014</p>
                    <a href="#"> <h4>Pertuzumab (Perjeta)</h4></a>
                    <p class="date_status">15.mai 2014</p>
                    <a href="#"> <h4>Pasientnær (on-site) høysensitiv CRP. Til mini-metodevurdering</h4> </a>
                    <p class="date_status">15.mai 2014</p>

                    <a href="transportside.html" class="internal-link"> Se status på alle metoder</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Leverandører</h2>
                <ul class="bulletlist suppliers">
                    <li>Send inn forslag til metodevurdering</li>
                    <li>Finn maler for innlevering av dokumentasjon</li>
                    <li>Se frister for å gi innspill til innkomne forlag (neste frist 17. desember).</li>
                </ul>
                <button class="calltoaction">Gå til leverandørsidene</button>
                <a href="#" class="internal-link">English pages for the industry</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Spesialisthelse&shy;tjenesten</h2>
                <ul class="bulletlist">
                    <li>Send inn forslag til metodevurdering</li>
                    <li>Finn din RHF-koordinator</li>
                    <li>Les mer om mini-metodevurderinger</li>
                </ul>
                <button class="calltoaction">Les mer om sykehusenes rolle</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Pasienter</h2>
                <ul class="bulletlist">
                    <li>Send inn forslag til metodevurdering</li>
                    <li>Brukerutvalg på sykehus</li>
                </ul>
                <button class="calltoaction">Les mer om pasientmedvirkning</button>
            </div>
        </div>
    </div>

    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-7 ">
                        <div class="contact">
                            <a href="kontaktoss.html">
                                <h4 class="">Kontakt oss</h4>
                            </a>
                            <h5>Ansvarlig for nettløsningen</h5>
                            <p>Sekreteriatet for Nasjonalt system for innføring av nye metoder</p>

                            <h5>Helsedirektoratet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-2 ">
                        <ul>
                            <li>
                                <a href="transportside_omoss.html"> <h4 class="internal-link arrow_right">Om aktørene</h4></a>
                            </li>
                            <li>
                                <a href="leverandoer.html"><h4 class="internal-link arrow_right">Om systemet</h4></a>
                            </li>
                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Presse</h4></a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-12 logoline no-padding">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expander_frontpage.js"></script>
</body>
</html>