<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Metode | Helsedirektoratet.no</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet">
    <link href="../css/frontpage.css" rel="stylesheet">
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body class="no-background">
    <div id="header">
        <div class="shortcuts">
            <ul>
                <li><a href="#" tabindex="1" accesskey="i" id="menushortcut">Gå til meny</a></li>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
                    <a href="forside.html" class="logo">
                        <p>Nasjonalt system for</p>
                        <p><strong>innføring av nye metoder i spesialisthelsetjenesten</strong></p>
                    </a>
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-lg-offset-3 no-padding">
                    <div class="pull-right">
                        <a class="links hidden-sm hidden-xs " href="#">OM SYSTEMET</a>
                        <a class="links hidden-sm hidden-xs " href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="mainentrance">
        <div class="container">
            <div class="row forside">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
                    <h1>Alle metoder som tas i bruk i spesialisthelsetjenesten skal vurderes</h1>
                    <div class="entrancebuttons clearfix">

                        <div class="entrancebutton ">
                            <a href="#">
                                <h2>Finn metode</h2>
                            </a>
                        </div>
                        <div class="entrancebutton">
                            <a href="#">
                                <h2>Send forslag</h2>
                            </a>
                        </div>
                        <div class="entrancebutton">
                            <a href="#">
                                <h2>Om systemet</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border"></div>
        </div>
    </div>
    <div class="container">
        <div class="row forside">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2> Faser ved innføring av nye metoder</h2>
                <a href="oppstart.html" class="method_entrance"><h3>Oppstart</h3></a>
                <a href="forslag.html" class="method_entrance"><h3>Forslag</h3></a>
                <a href="metodevurdering.html" class="method_entrance"><h3>Metodevurdering</h3></a>
                <a href="beslutning.html" class="method_entrance"><h3>Beslutning</h3></a>
                <a href="retningslinjer.html" class="method_entrance"><h3>Nasjonale faglige retningslinjer</h3></a>
            </div>
        </div>
        <div class="border"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="news">
                    <h2>Nyheter</h2>
                    <a href="#"><h3> Besluttet å innføre to nye kreftlegemidler </h3></a>
                    <p>19.august 2014</p>
                    <p class=ingress>De regionale helseforetakenes Beslutningsforum fattet 19. mai de første beslutningene om nye kreftlegemidler</p>

                    <a href="#">
                        Se flere nyheter
                    </a>
                </div>
                <div class="news">
                    <h2>Siste status oppdateringer</h2>
                    <a href="#">Humira. Nytt forslag </a>
                    <p>13.august 2014</p>
                    <a href="#">Glatirameracetat. Nytt forslag </a>
                    <p>1.august 2014</p>
                    <a href="#"> Helplasma for transfusjon. Til metodevurdering</a>
                    <p>1.juni 2014</p>
                    <a href="#"> Pertuzumab (Perjeta)</a>
                    <p>15.mai 2014</p>
                    <a href="#"> Pasientnær (on-site) høysensitiv CRP. Til mini-metodevurdering </a>
                    <p>15.mai 2014</p>

                    <a href="transportside.html"> Se status på alle metoder</a>
                </div>
            </div>
        </div>
        <div class="border"></div>
        <div class="row">
            <div class="col-md-6">

                <h2> Er du pasient? Slik kan du bidra:</h2>

                <ul class="bulletlist">
                    <li>Gjennom brukerutvalg på sykehus </li>
                    <li>Sende inn et forslag til metodevurdering </li>
                    <li>Evaluere metoder som er i bruk</li>
                </ul>
                <a href="#">
                    Les mer om brukermedvirkning
                </a>
            </div>
            <div class="col-md-6">
                <img class="img-responsive newsillustration" src="../img/forside_nyhetsillustrasjon.png" alt="Illustrasjon" />
            </div>
        </div>
        <div class="row">
            <section class="col-md-12">
                <div class="border"></div>
                <h2>For leverandører av legemidler og utstyr som vurderes</h2>
                <div class="text_and_image clearfix">
                    <ul class="bulletlist">
                        <li>Send innspill til metodeforslag som omhandler deres produkt</li>
                        <li>Last ned male og send utarbeidet dokumentasjon</li>
                        <li>Se frister til innsending av innspill</li>
                    </ul>
                    <div class="calltoaction">Gå til leverandørsidene</div>
                </div>
            </section>
        </div>
    </div>
    <footer class="footerwrapper" id="footer">
        <div class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <a href="kontaktoss.html">
                            <h4 class="internal-link arrow_right">Kontakt oss</h4>
                        </a>
                        <p>Telefon: +47 24 16 38 20</p>
                        <p>E-post: metodevurdering@helsedir.no</p>
                        <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                        <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                    </section>
                    <section class="col-sm-12 col-md-4">
                        <a href="transportside_omoss.html">   <h4 class="internal-link arrow_right">Om oss</h4></a>
                        <ul class="about">
                            <li><a href="#">Hvem gjør hva</a></li>
                            <li><a href="artikkel_organisasjonskart.html">Hvordan sende et forslag</a></li>
                            <li><a href="#">Nyheter</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-12 col-md-4 ">
                        <ul>
                            <li>
                                <a href="leverandoer.html"><h4 class="internal-link arrow_right">For leverandører</h4></a>
                            </li>
                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Logg inn</h4></a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expander_frontpage.js"></script>
</body>
</html>