<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Metode | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet">
    <link href="../css/frontpage.css" rel="stylesheet">
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/print.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="../css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="shortcuts">
            <ul>
                <li><a href="#" tabindex="1" accesskey="i" id="menushortcut">Gå til meny</a></li>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-5 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                    </a>
                </div>
                <div class="col-xs-7 visible-xs xs-no-padding col-sm-4 visible-sm">
                    <a href="#" class="english pull-right"></a>

                    <a href="omoss.html" class="about pull-right"></a>
                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="sokeside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="transportside_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="mainentrance">
        <div class="container">
            <div class="row forside">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
                    <div class="entrancebuttons clearfix">
                        <div class="entrancebutton ">
                            <a href="finnmetode.html">
                                <span class="finnmetode"></span>
                                <h2>Finn metode</h2>
                            </a>
                        </div>
                        <div class="entrancebutton">
                            <a href="sendforslag.html">
                                <span class="sendforslag"></span>
                                <h2>Send forslag</h2>
                                <p>Frist: 20. oktober</p>
                            </a>
                        </div>
                        <div class="entrancebutton aboutthesystem">
                            <a href="omoss.html">
                                <span class="omsystemet"></span>
                                <h2>Om systemet</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="frontpagewrapper white entrance">
        <div class="container">
            <div class="row forside">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2> Faser ved innføring av nye metoder</h2>
                    <div class="clearfix drops">
                        <a href="forslag.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop forslag">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">1</span>
                                </span>
                            </span>
                            <div class="heading_wrapper"><h3>Forslag</h3></div>
                        </a>
                        <a href="metodevurdering.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop metodevurdering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">2</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Metodevurdering</h3></div>
                        </a>
                        <a href="beslutning.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop beslutning">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">3</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Beslutning</h3></div>
                        </a>
                        <a href="implementering.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop implementering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">4</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Implementering</h3></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="frontpagewrapper">
        <div class="container">
            <div class="row">
                <div class="wrapper_aktuelt">
                    <div class="col-md-6">
                        <div class="news">
                            <h2>Aktuelt</h2>
                            <div class="news_item">
                                <a href="nyheter_ennyhet.html"><h3> Besluttet å innføre to nye kreftlegemidler </h3></a>
                                <p class="date">19.august 2014</p>
                                <p class=ingress>De regionale helseforetakenes Beslutningsforum fattet 19. mai de første beslutningene om nye kreftlegemidler</p>
                            </div>
                            <div class="news_item">
                                <a href="artikkel_tidslop_og_frister.html"><h3> Frister </h3></a>
                                <p class="date">19.august 2014</p>
                                <p class=ingress>Se en oversikt over alle fristene.</p>
                            </div>
                            <a href="nyheter.html" class="internal-link">
                                Se flere aktuelle saker
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wrapper_statusoppdateringer">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="news">
                            <h2>Siste status&shy;oppdateringer</h2>
                            <a href="#"><h4>Humira. Nytt forslag</h4> </a>
                            <p class="date_status">13.august 2014</p>
                            <a href="#"><h4>Glatirameracetat. Nytt forslag</h4> </a>
                            <p class="date_status">1.august 2014</p>
                            <a href="#"> <h4>Helplasma for transfusjon. Til metodevurdering</h4></a>
                            <p class="date_status">1.juni 2014</p>
                            <a href="#"> <h4>Pertuzumab (Perjeta)</h4></a>
                            <p class="date_status">15.mai 2014</p>

                            <a href="finnmetode.html" class="internal-link"> Se status på alle metoder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Sekretariatet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Nasjonalt system for innføring av nye metoder</h5>
                            <p>skal sikre at nye metoder som tas i bruk i spesialisthelsetjenesten er vurdert ut fra effekt, sikkerhet og kostnader.</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="finnmetode.html" class="internal-link arrow_right">Finn metode</a>
                            </li>
                            <li>
                                <a href="hvemgjoerhva.html" class="internal-link arrow_right">Hvem gjør hva</a>
                            </li>
                            <li>
                                <a href="nyheter.html" class="internal-link arrow_right">Nyheter</a>
                            </li>
                            <li>
                                <a href="artikkel_tidslop_og_frister.html" class="internal-link arrow_right">Tidsfrister</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1 ">
                        <h4>Relevant for</h4>
                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>

                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="artikkel_pasienter.html" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expander_frontpage.js"></script>
</body>
</html>