<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>For leverandører | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="../css/ie8fix.css" rel="stylesheet">
        <script src="../js/modernizr-latest.js"></script>
        <script src="../js/html5.js"></script>
        <script src="../js/respond.js"></script>
              <![endif]-->

    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-6 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                    </a>
                </div>
                <div class="col-xs-6 visible-xs xs-no-padding col-sm-4 visible-sm">
                    <a href="#" class="english pull-right"></a>

                    <a href="omoss.html" class="about pull-right"></a>
                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="sokeside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                                <button type="submit">
                                    <img src="../images/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="transportside_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>For leverandører</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <p class="ingress">
                        Som leverandører kan dere sende inn forslag på metoder eller gi innspill på forslag som er sendt inn som gjelder deres metode. Leverandører utarbeider også dokumentasjon til hurtige metodevurderinger.
                    </p>
                    <section>
                        <h2>Send inn forslag</h2>
                    </section>
                    <section class="relative_container">
                        <h2>Send inn forslag på metode til nasjonal vurdering</h2>
                        <p>Gjennom å sende inn et forslag i god tid før planlagt lansering kan produsenter/leverandører være med på å legge til rette for at nye metoder kan tas raskere i bruk. </p>

                        <aside class="aside">
                            <div class=" module module_message date_small">
                                <span class=" module_header">Frist for innsending av forslag:</span>
                                <span class="keyfigures">15. januar 2014</span>
                            </div>
                        </aside>
                        <form action="skjema_trinndelt.html">
                            <button class="calltoaction">Sende inn forslag</button>
                        </form>
                        <p><a href="sendforslag.html">Hvordan sende inn forslag</a></p>
                        <p><a href="artikkel_tidslop_og_frister.html">Oversikt over alle frister </a></p>
                    </section>

                    <h2>
                        Sende innspill på metode som er foreslått
                    </h2>
                    <p>Leverandører kan gi komme med tilleggsinformasjon i forkant av at Bestillerforum RHF skal behandle et forslag om metodevurdering. I praksis er dette aktuelt når andre enn leverandøren selv har sendt inn forslag om metodevurdering. Leverandøren vil ofte kunne komme med verdifull tilleggsinformasjon.</p>
                    <p>
                        <a href="#"> Innspillskjema for legemidler</a> – til bruk når metoden i forslaget er et legemiddel
                        <a href="#">Innspillskjema for andre metoder</a> – til bruk når metoden i forslaget ikke er et legemiddel.
                    </p>
                    <p>
                        Skjemaene er utarbeidet av Sekretariatet for nasjonalt system i samarbeid med Lab Norge, LFH-Bransjeorganisasjonen for helse- og velferdsteknologi og Legemiddelindustriforeningen.
                        Frister finnes på den enkelte <a href="finnmetode.html">metode.</a>
                    </p>

                    <h2>Send inn dokumentasjon til metodevurdering</h2>
                    <p>Disse malene skal benyttes av produsenter/leverandører når de utarbeider og sender inn dokumentasjon til en hurtig metodevurdering. Malene skal brukes etter at Bestillerforum RHF har besluttet at det skal gjennomføres en hurtig metodevurdering på nasjonalt nivå.</p>
                    <section class="relative_container">
                        <h2>Gi innspill på innsendte forslag</h2>

                        <aside class="aside">
                            <div class=" module module_message date_small">
                                <span class=" module_header">Frister for innspill på innsendte forslag:</span>
                                <span class="keyfigures">1. april 2014</span>
                            </div>
                        </aside>
                        <form action="">
                            <button class="calltoaction">Gi innspill på innsendte forslag</button>
                        </form>
                    </section>
                    <section>
                        <h2>Send inn dokumentasjon til metodevurdering</h2>
                        <p>
                            Leverandøren/produsenten av en metode utarbeider deler av den dokumentasjon som en metodevurdering består av.
                            Disse malene skal benyttes av produsenter/leverandører når de utarbeider og sender inn dokumentasjon til en hurtig metodevurdering. Malene skal brukes etter at Bestillerforum RHF har besluttet at det skal gjennomføres en hurtig metodevurdering på nasjonalt nivå.
                        </p>
                        <h3>Dokumentasjon for legemidler</h3>
                        <p>
                            Last ned og fyll ut skjema:
                        </p>
                        <ul class="linklist">
                            <li><a href="#" class="internal-link">For legemidler (pdf)</a></li>
                            <li><a href="#" class="internal-link">For legemidler (word)</a></li>
                        </ul>
                        <p>Send det utfylte skjema til:</p>
                        <p>
                            Statens Legemiddelverk<br />
                            Avdeling for legemiddeløkonomi<br />
                            <a href="#">sykehus@legemiddelverket.no</a>
                        </p>
                        <h3>Dokumentasjon for medisinsk utstyr, diagnostiske tiltak, prosedyrer </h3>
                        <p>
                            Last ned og fyll ut skjema:
                        </p>
                        <ul class="linklist">
                            <li><a href="#" class="internal-link">For medisinsk utstyr, diagnostiske tiltak, prosedyrer mm (pdf)</a></li>
                            <li><a href="#" class="internal-link">For medisinsk utstyr, diagnostiske tiltak, prosedyrer mm (word)</a></li>
                        </ul>
                        <p>Send det utfylte skjema til:</p>
                        <p>
                            Kunnskapssenteret<br />
                            <a href="#">
                                mini-metodevurdering@kunnskapssenteret.no
                            </a>
                        </p>
                    </section>

                    <div class=" module module_print">
                        <a href="javascript:window.print()" class=" ikon_skrivut">
                            <span></span>skriv ut
                        </a>
                    </div>
                    <aside class="aside top">
                        <div class=" module module_person ">
                            <h5 class=" module_description">KONTAKT</h5>
                            <a href="#" class="name">
                                Sekretariatet
                            </a>
                            <div class="person_information">
                                <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Sekretariatet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Nasjonalt system for innføring av nye metoder</h5>
                            <p>skal sikre at nye metoder som tas i bruk i spesialisthelsetjenesten er vurdert ut fra effekt, sikkerhet og kostnader.</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="finnmetode.html" class="internal-link arrow_right">Finn metode</a>
                            </li>
                            <li>
                                <a href="hvemgjoerhva.html" class="internal-link arrow_right">Hvem gjør hva</a>
                            </li>
                            <li>
                                <a href="nyheter.html" class="internal-link arrow_right">Nyheter</a>
                            </li>
                            <li>
                                <a href="artikkel_tidslop_og_frister.html" class="internal-link arrow_right">Tidsfrister</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1 ">
                        <h4>Relevant for</h4>
                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>

                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="artikkel_pasienter.html" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>