<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bertasumaib (Berjaita) | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-5 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                    </a>
                </div>
                <div class="col-xs-7 visible-xs xs-no-padding col-sm-4 visible-sm">
                    <a href="#" class="english pull-right"></a>

                    <a href="omoss.html" class="about pull-right"></a>
                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="sokeside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="transportside_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li class="active"><a href="finnmetode.html">Finn metode</a></li>
                        </ol>
                    </nav>
                    <h1>
                        Bertasumaib (Berjaita)
                    </h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <p class="ingress">Til førstelinjebehandling av HEZ3-postiv metastatisk brystcancer</p>
                    <div class="wrapper ">
                        <div class="method_status accordion_method clearfix">

                            <h2>Forslag</h2>
                            <div class="method_evaluation clearfix">
                                <span class="icon">i</span>
                                <div class="information">
                                    <p>
                                        Forslag om å gjennomføre en <a href="#">nasjonal metodevurdering</a> av aktuell metode har kommet inn. <a href="#">Les om Hvordan fremme forslag</a>
                                    </p>
                                    <p>Hver metode får ved innsendelse tilsendt et unikt ID-nummer. En metode kan ha forskjellige ID nummer hvis det er sendt inn flere forslag på samme metode. ID-nummeret vil variere på de forslagene. I de etterfølgende fasene vil ID nummeret kunne være de samme.</p>
                                    <p>    En leverandør kan komme med tilleggsinformasjon til et eksisterende forslag i forkant av møtet i Bestillerforum RHF gjennom <a href="#">innspillskjema for leverandøren(e)</a></p>
                                    <p>
                                        Bestillerforum RHF beslutter om det skal gjennomføres i nasjonal metodevurdering av en metode på bakgrunn av et forslag eller ikke. Bestillerforum RHF beslutter også hvilken type metodevurdering som skal gjennomføres.
                                    </p>
                                    <p>  Ikke alle forslag til bestillinger som kommer inn til Bestillerforum RHF egner seg for en metodevurdering på nasjonalt nivå. Det kan for eksempel foreligge for lite dokumentasjon for at det skal være  hensiktsmessig  å gjennomføre en metodevurdering . I enkelte tilfeller har Bestillerforum RHF foreslått at et helseforetak gjennomfører en <a href="#">mini-metodevurdering</a> av metoden i et innkommet forslagHar du ytterligere spørsmål knyttet til forslag kan du ta <a href="#">kontakt med sekretariatet</a>.</p>
                                </div>
                            </div>
                            <span class="method_attribute_label">Innsendt dato:</span><p class="method_attribute">18.06.2013</p>
                            <span class="method_attribute_label">Innsendt av:</span><p class="method_attribute">Norsk Bryst Cancer Gruppe RHF uspesifisert (rep.flere RHF)</p>
                            <span class="method_attribute_label">ID-nummer:</span><p class="method_attribute">2013_008</p>
                            <span class="method_attribute_label">Innspill fra leverandør:</span><p class="method_attribute">Fristen har utløpt</p>
                            <span class="method_attribute_label">Om metoden:</span><p class="method_attribute">Legemiddel (til infusjon) til 1.linje behandling av brystkreft</p>
                            <p class="text">Beslutning på Bestillerforum RHF </p>
                            <p>Ble tatt 26.09.2013</p>
                            <p> Bestillerforum RHF ber om en hurtig metodevurdering ved Statens legemiddelverk. </p>
                            <div class="more_information">
                                <p>
                                    <a href="../docs/Forslagsskjema.pdf">Les forslag</a>
                                </p>
                                <p>
                                    <a href="../docs/Innspillsskjema.pdf">Les innspill fra leverandør</a>
                                </p>
                            </div>
                        </div>
                        <span class="informationicon">?</span>
                    </div>

                    <div class="wrapper relative_container">
                        <div class="method_status metodevurdering accordion_method clearfix">
                            <h2 class="">Metodevurdering</h2>
                            <div class="method_evaluation clearfix">
                                <span class="icon">i</span>
                                <div class="information">
                                    <p>
                                        Etter at Bestillerforum RHF har gitt oppdrag om en metodevurdering til Kunnskapssentret eller Statens Legemiddelverk begynner dokumentasjonsinnhentingen. Leverandøren(e) utarbeider dokumentasjonsgrunnlaget til hurtig metodevurderingene med hjelp av maler.
                                    </p>
                                    <p> En hurtig metodevurdering skal foreligge senest 180 dager etter det at Statens Legemiddelverk eller Kunnskapssenteret har mottatt all nødvendig dokumentasjon fra leverandøren(e)/produsenten(e). En fullstendig metodevurdering er ofte mere arbeidskrevende, og kan ta cirka 8 til 12 måneder å ferdigstille fra det at Kunnskapssentret har mottatt oppdraget.</p>
                                    <p>
                                        Når metodevurderingen er ferdigstilt sendes den til beslutning, og rapporten publiseres.
                                        Leverandøren har i denne fasen direkte kontakt med utreder i spørsmål som er knyttet direkte til leveringen av dokumentasjon og/eller selve gjennomføringen av metodevurderingen.
                                        Spørsmål om status eller andre ting knyttet til metodevurderingen kan rettes til  sekretariatet.
                                    </p>
                                </div>
                            </div>
                            <span class="method_attribute_label">Oppdrag gitt:</span><p class="method_attribute">26.09.2013</p>
                            <span class="method_attribute_label">Type:</span><p class="method_attribute">Hurtig metodevurdering</p>
                            <span class="method_attribute_label">Utreder:</span><p class="method_attribute">Statens Legemiddelverk</p>

                            <span class="method_attribute_label">Påbegynt:</span><p class="method_attribute">Oktober 2013</p>
                            <span class="method_attribute_label">Ferdigstilt:</span><p class="method_attribute">25.04.2014</p>
                            <p>Hurtig metodevurdering er ferdigstilt. Les <a href="#">rapporten.</a></p>
                            <div class="more_information">
                            </div>
                        </div>
                        <span class="informationicon">?</span>
                    </div>
                    <div class="wrapper">
                        <div class="method_status beslutning accordion_method clearfix">
                            <h2 class="">Beslutning</h2>
                            <div class="method_evaluation clearfix">
                                <span class="icon">i</span>
                                <div class="information">
                                    <p>              Det er de fire administrerende direktørene i de regionale helseforetakene (RHF) som beslutter om hvilke metoder som skal tas i bruk i spesialisthelsetjenesten.  Det legges til grunn at beslutningene fattes i konsensus mellom de fire administrerende direktørene i RHFene. Dette skjer i Beslutningsforum for nye metoder som har regelmessige møter.</p>

                                    <p> Før møtene i Beslutningsforum for nye metoder pågår det interne prosesser i RHFene for å forberede sakene som skal opp. Du kan lese mer om beslutningsprosesser her. På nettsiden finner du også en kalender over planlagte møter i Beslutningsforum for nye metoder.</p>
                                    <p>
                                        Når en beslutning fra Beslutningsforum for nye metoder foreligger gjøres den tilgjengelig på denne nettsiden i form av noen punkter fra protokollen. Det er mulighet for å laste ned fullstendige dokumenter, som sakspapirer (inklusive møteinnkallingen) og protokoll fra hvert møte.
                                        Oppfølgning av beslutningen i de regionale helseforetakene blir koordinert med Helsedirektorats ansvar for nasjonal faglige retningslinjer.
                                    </p>
                                    <p>
                                        Spørsmål om beslutningsprosessene som del av nasjonalt system kan rettes til sekretariatet i Helsedirektoratet.
                                        Spørsmål om  de interne prosessene i RHFene før en beslutning kan rettes til sekretariatet for fagdirektørene.
                                        Spørsmål om beslutningene rettes til kommunikasjonsrådgiveren til den administrerende direktør som leder Beslutningsforum for nye metoder.
                                    </p>
                                </div>
                            </div>
                            <span class="method_attribute_label">Dato:</span><p class="method_attribute">20.05.2014</p>
                            <span class="method_attribute_label">Ansvarlig:</span><p class="method_attribute"> Beslutningsforumet for nye metoder</p>
                            <p class="text">Beslutningsforumet for nye metoder</p>
                            <p>Beslutningsforumet for nye metoder tar ikke stilling til innføring av Bertasumaib (Berjaita)  på nåværende tidspunkt. </p>
                            <div class="more_information">
                                <p>
                                    Her kommer informasjon om tidligere beslutninger
                                </p>
                            </div>
                        </div>
                        <span class="informationicon">?</span>
                    </div>
                    <div class="wrapper">
                        <div class="method_status  implementering accordion_method clearfix passive">
                            <h2 class="blur">Implementering</h2>
                            <div class="more_information">
                            </div>
                        </div>
                        <span class="informationicon">?</span>
                    </div>
                    <aside class="aside top">
                        <div class=" module module_person ">
                            <h5 class=" module_description">KONTAKT</h5>
                            <a href="#">
                                <div class="name">Sekretariatet</div>
                            </a>
                            <div class="person_information">
                                <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            </div>
                        </div>
                        <div class="module module_message withdrops">
                            <h5 class="module_header">Faser ved innføring av nye metoder</h5>
                            <a href="oppstart.html" title="Gå til informasjonssider om metodevurderingsprosessen"><img class="img-responsive drops" src="../img/ikoner/hele_prosess_forloep_MED_TALL.png" alt=""></a>
                        </div>
                    </aside>
                    <aside class="aside bottom">
                        <div class=" module module_subscribe clearfix">
                            <p class="header">Abonnér på denne siden</p>
                            <a href="#" class="e-mail"><p>E-post</p></a>
                            <a href="#" class="rss"><p>RSS-strøm</p></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Sekretariatet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Nasjonalt system for innføring av nye metoder</h5>
                            <p>skal sikre at nye metoder som tas i bruk i spesialisthelsetjenesten er vurdert ut fra effekt, sikkerhet og kostnader.</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Metoder og statusoppdateringer</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Faser ved innføring av metoder</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Nyheter</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1 ">
                        <h4>Relevant for</h4>
                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>

                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>