<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eribulin (Halaven) | Helsedirektoratet</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>

<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-8 col-sm-8 col-md-5 col-lg-6">
                    <a href="forside.html" id="logo" title="Gå til forsiden"></a>
                </div>

                <div class="hidden-xs hidden-sm col-md-3 col-lg-2 col-lg-offset-4 no-padding">
                    <div class="pull-right">
                        <a class="links hidden-sm hidden-xs " href="#">OM OSS</a>
                        <a class="links hidden-sm hidden-xs " href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <h1>Eribulin (Halaven) <span class="h1_ingress">som 3.linje kjemoterapi ved matastatistk brystkreft</span></h1>
                <div class="wrapper">
                    <div class="method_status accordion_method">
                        <h2>Forslag</h2>
                        <span class="method_attribute_label">Mottatt:</span><p class="method_attribute">02.07.2013</p>
                        <span class="method_attribute_label">Innsendt av:</span><p class="method_attribute">Norsk Bryst Cancer Gruppe RHF uspesifisert (rep.flere RHF)</p>
                        <span class="method_attribute_label">ID-nummer:</span><p class="method_attribute">2013_002</p>
                        <div class="more_information"></div>
                    </div>
                    <i class="fa fa-info-circle"></i>
                </div>

                <div class="wrapper">
                    <div class="method_status accordion_method">
                        <h2>Forberedelser</h2>
                        <span class="method_attribute_label">Startet:</span><p class="method_attribute">03.08.2013</p>
                        <span class="method_attribute_label">Ansvarlig:</span><p class="method_attribute">Bestillerforum RHF</p>

                        <div class="more_information"></div>
                    </div>
                    <i class="fa fa-info-circle"></i>
                </div>

                <div class="wrapper">
                    <div class="method_status accordion_method">
                        <h2 class="">Metodevurdering</h2>
                        <span class="method_attribute_label">Startet:</span><p class="method_attribute">20.01.2014</p>
                        <span class="method_attribute_label">Ferdig:</span><p class="method_attribute">01.03.2014</p>
                        <span class="method_attribute_label">Ansvarlig:</span><p class="method_attribute">Statens legemiddelverk</p>
                        <span class="method_attribute_label">Konklusjon:</span><p class="method_attribute">Anbefaler å innføre</p>
                        <div class="more_information"></div>
                    </div>
                    <i id="method_evaluation_link" class="fa fa-info-circle"></i>
                    <div class="method_evaluation">
                        <p>Metodevurderingen gjennomføres hos Kunnskapssenteret eller Statens Legemiddelverk etter de har mottatt dokumentasjon fra leverandør/produsent.</p>
                        <p><a href="#">En hurtig metodevurdering</a>, skal foreligge senest 180 dager etter det at Statens Legemiddelverk eller Kunnskapssenteret har mottatt all nødvendig dokumentasjon fra leverandøren(e)/produsenten(e), eller den som markedsfører metoden.</p>
                        <p><a href="#">En fullstendig metodevurdering</a> er ofte mere arbeidskrevende, og kan ta cirka 8 til 12 månader.</p>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="method_status accordion_method">
                        <h2 class="">Beslutning</h2>
                        <span class="method_attribute_label">Startet:</span><p class="method_attribute">20.04.2014</p>
                        <span class="method_attribute_label">Ferdig:</span><p class="method_attribute">01.05.2014</p>
                        <span class="method_attribute_label">Ansvarlig:</span><p class="method_attribute"> Beslutningsforumet RHF</p>
                        <span class="method_attribute_label">Vedtak:</span><p class="method_attribute">1. Eribulin (Halaven) innføres. 2. Helsedirektoratet bes om å innarbeide dette legemidlet i relevante handlingsprogrammer for kreft.</p>
                        <div class="more_information">
                            <p>
                                Det viktigste fra protokollen oppsummeres i noen setninger. Hvis vi tilbyr et bra sammendrag, så slipper folk å laste ned dokumentet. Men for spesielt interesserte er det selvfølgelig mulig å laste ned <a href="#">selve protokollen 20140519.</a>
                            </p>
                            <p>
                                Det viktigste fra <a href="#">inkallingen</a> og <a href="#">sakspapirer</a> oppsummeres i noen setninger og så lenker vi til dokumentene i denne oppsummeringen istedenfor lenkeoppramsning.
                            </p>
                        </div>
                    </div>
                    <i class="fa fa-info-circle"></i>
                </div>
            </article>
        </div>
    </div>

    <footer class="footerwrapper" id="footer">
        <div class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <a href="kontaktoss.html">
                            <h4 class="internal-link arrow_right">Kontakt oss</h4>
                        </a>

                        <p>Telefon: +47 24 16 38 20</p>
                        <p>E-post: metodevurdering@helsedir.no</p>
                        <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                        <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                    </section>
                    <section class="col-sm-12 col-md-4">
                        <a href="transportside_omoss.html">   <h4 class="internal-link arrow_right">Om oss</h4></a>
                        <ul class="about">
                            <li><a href="#">Hvem gjør hva</a></li>
                            <li><a href="artikkel_organisasjonskart.html">Hvordan sende et forslag</a></li>
                            <li><a href="#">Nyheter</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-12 col-md-4 ">
                        <ul>
                            <li>
                                <a href="leverandoer.html"><h4 class="internal-link arrow_right">For leverandører</h4></a>
                            </li>
                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Logg inn</h4></a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>