<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eribulin (Halaven) | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-10 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                        <span>Nasjonalt system for</span>
                        <span class="highlight">innføring av nye metoder</span>
                        <span>i spesialisthelsetjenesten</span>
                    </a>
                </div>
                <div class="col-xs-2 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="#">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>
                        Eribulin (Halaven)
                        <span class="h1_ingress">3.linje kjemoterapi ved matastatistk brystkreft</span>
                    </h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="content">
                    <div class="wrapper">
                        <div class="method_status accordion_method">
                            <h2>Forslag</h2>
                            <span class="method_attribute_label">Mottatt:</span><p class="method_attribute">02.07.2013</p>
                            <span class="method_attribute_label">Innsendt av:</span><p class="method_attribute">Norsk Bryst Cancer Gruppe RHF uspesifisert (rep.flere RHF)</p>
                            <span class="method_attribute_label">ID-nummer:</span><p class="method_attribute">2013_002</p>
                            <div class="more_information"></div>
                        </div>
                        <span class="informationicon">Vis forklaring</span>
                    </div>
                    <div class="wrapper">
                        <div class="method_status accordion_method">
                            <h2>Forberedelser</h2>
                            <span class="method_attribute_label">Startet:</span><p class="method_attribute">03.08.2013</p>
                            <span class="method_attribute_label">Ansvarlig:</span><p class="method_attribute">Bestillerforum RHF</p>
                            <div class="method_warning">
                                <span class="exclamation">!</span>
                                <p>
                                    Er du leverandør for denne metoden?
                                    Register her, slik at du kan hjelpe oss å innhente god og korrekt dokumentasjon
                                </p>
                            </div>
                            <div class="more_information"></div>
                        </div>
                        <span class="informationicon">Vis forklaring</span>
                    </div>
                    <div class="wrapper sectionwithaside">
                        <div class="method_status metodevurdering accordion_method">
                            <h2 class="blur">Metodevurdering</h2>

                            <div class="method_evaluation clearfix">
                                <span class="icon">i</span>
                                <div class="information">
                                    <p>Metodevurderingen gjennomføres hos Kunnskapssenteret eller Statens Legemiddelverk etter de har mottatt dokumentasjon fra leverandør/produsent.</p>
                                    <p><a href="#">En hurtig metodevurdering</a>, skal foreligge senest 180 dager etter det at Statens Legemiddelverk eller Kunnskapssenteret har mottatt all nødvendig dokumentasjon fra leverandøren(e) / produsenten(e), eller den som markedsfører metoden.</p>
                                    <p><a href="#">En fullstendig metodevurdering</a> er ofte mere arbeidskrevende, og kan ta cirka 8 til 12 månader.</p>
                                </div>
                            </div>
                            <div class="more_information"></div>
                        </div>
                        <span class="informationicon">Vis forklaring</span>
                    </div>
                    <div class="wrapper">
                        <div class="method_status beslutning accordion_method">
                            <h2 class="blur">Beslutning</h2>
                            <div class="more_information"></div>
                        </div>
                        <span class="informationicon">Vis forklaring</span>
                    </div>

                    <aside class="aside top">
                        <div class=" module module_person ">
                            <h5 class=" module_description">KONTAKT</h5>
                            <a href="mailto:Anne.May.Knudsen@helsedir.no">
                                <div class="name">Sekretariatet</div>
                            </a>
                            <div class="person_information">
                                <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            </div>
                        </div>
                    </aside>
                    <aside class="aside bottom">
                        <div class=" module module_subscribe clearfix">
                            <p class="header">Abonnér på denne siden</p>
                            <a href="#" class="e-mail"><p>E-post</p></a>
                            <a href="#" class="rss"><p>RSS-strøm</p></a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Helsedirektoratet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Ansvarlig for nettløsningen</h5>
                            <p>Sekretariatet for Nasjonalt system for innføring av nye metoder</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Metoder og statusoppdateringer</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Faser ved innføring av metoder</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Nyheter</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-4 ">
                        <h4>Om metoder for</h4>
                        <ul class="linklist">

                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>