<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oppstart | Helsedirektoratet</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/skjema.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
                    <a href="forside.html" class="logo">
                        <img src="../img/logo.png" alt="" />
                    </a>
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-lg-offset-3 no-padding">
                    <div class="pull-right">
                        <a class="links hidden-sm hidden-xs " href="omoss.html">OM SYSTEMET</a>
                        <a class="links hidden-sm hidden-xs " href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Hvordan foregår metodevurdering</h1>
                    <p class="ingress">
                    </p>
                </header>
                <nav class="method_navigation clearfix">
                    <ol class="pull-left">
                        <li>1. Oppstart</li>
                        <li><a href="forslag.html" class="underline">2. Forslag</a></li>
                        <li><a href="metodevurdering.html" class="underline">3. Metodevurdering</a></li>
                    </ol>
                    <ol class="pull-left">
                        <li><a href="beslutning.html" class="underline">4. Beslutning</a></li>
                        <li><a href="implementering.html" class="underline">5. Implementering</a></li>
                    </ol>
                </nav>
                <div class="border"></div>
                <h1>1. Oppstart</h1>
                <p>Alle metoder skal gjennom en metodevurdering før det fattes en beslutning om de skal innføres.</p>
                <section>
                    <h2>Hva er metoder?</h2>
                    <p>Hva er metoder?</p>
                    <ul class="bulletlist">
                        <li>Legemidler</li>
                        <li>Utstyr</li>
                        <li>Prosedyrer</li>
                    </ul>
                </section>
                <section>
                    <h2>Hvordan starte?</h2>
                    <p>Alle kan levere inn et forslag til en metode de ønsker vurdert på nasjonalt nivå. Ansatte i spesialisthelsetjenesten kan også ta initiativ til en mini-metodevurdering lokalt på sitt sykehus. </p>
                    <h3>Sjekk metodevarsler</h3>
                    <p>Kunnskapssentret har <a href="#" class="underline">oversikt over nye metoder som er på vei (metodevarsler)</a> og som kan være aktuelle for innføring i Norge. Kunnskapssenteret identitfiserer nye metoder blant annet ved å søke i ulike databaser og gjennom internasjonalt samarbeid. De sammenstiller og distribuerer informasjonen om disse metodene i såkalte metodevarsler. Metodevarslene kan benyttes av helsetjenesten og myndighetene for å planlegge og tilrettelegge for fremtiden. På den måten kan samfunnet stå bedre forberedt og agere raskere når de nye metodene kommer på markedet.</p>
                    <p>Alle metoder skal gjennom en metodevurdering før de tas i bruk. Hvis du finner en metode i et varsel som kan være aktuelle for innføring kan du foreslå at det gjennomføres en metodevurdering.</p>
                    <h3>Hvis du er ansatt på sykehus, kan du foreslå en mini-metodevurdering i ditt helseforetak </h3>
                    <p>Mini-metodevurdering utføres lokalt ved sykehusene og involverer forslagsstillere (vanligvis klinikere), fagfeller og beslutningstakere. Mini-metodevurdering benyttes ved innføring av en ny metode der det er klinisk relevant usikkerhet, faglig uenighet vedrørende effekt eller sikkerhet, eller hvis innføring av metoden reiser etiske spørsmål. </p>
                    <p>
                        Når en mini-metodevurdering foreligger beslutter ditt HF om metoden skal tas i bruk eller ikke. Det er lagt til grunn at innføring av nye metoder skal gjøres innenfor gjeldende økonomiske rammer.
                        Vi har laget en <a href="#" class="underline">oversikt over hva slags type metoder som skal til mini-metodevurdering.</a>
                    </p>
                    <h3>Foreslå en metode til nasjonal metodevurdering</h3>
                    <p>Alle kan sende inn forslag på metoder som ønskes vurdert på nasjonalt nivå. På nasjonalt nivå finnes det to typer metodevurderinger; hurtige og fullstendige.</p>
                    <p>Hvilken metode som skal vurderes og hvilken type metodevurdering som skal benyttes besluttes av Bestillerforum RHF (en representant fra hvert RHF og to fra Helsedirektoratet). Legemidler skal alltid vurderes på nasjonalt nivå.For legemidler gir Bestillerforum RHF oppdrag til Legemiddelverket (hurtig metodevurderinger) og Kunnskapssenteret (fullstendig metodevurderinger). For andre metoder gir de oppdrag til Kunnskapssenteret uansett type metodevurdering.</p>
                    <p>Når en metodevurdering foreligger beslutter RHFene om metoden skal tas i bruk eller ikke. Det er lagt til grunn at innføring av nye metoder skal gjøres innenfor gjeldende økonomiske rammer.</p>
                    <button class="calltoaction">Send forslag til metodevurdering</button>
                </section>
                <nav>
                    <div class="navigate_forward pull-right">
                        <a href="forslag.html">
                            <span>Neste steg: Forslag</span>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </nav>
            </article>
        </div>
    </div>
    <footer class="footerwrapper" id="footer">
        <div class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <a href="kontaktoss.html">
                            <h4 class="internal-link arrow_right">Kontakt oss</h4>
                        </a>
                        <p>Telefon: +47 24 16 38 20</p>
                        <p>E-post: metodevurdering@helsedir.no</p>
                        <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                        <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                    </section>
                    <section class="col-sm-12 col-md-4">
                        <a href="transportside_omoss.html">   <h4 class="internal-link arrow_right">Om oss</h4></a>
                        <ul class="about">
                            <li><a href="#">Hvem gjør hva</a></li>
                            <li><a href="artikkel_organisasjonskart.html">Hvordan sende et forslag</a></li>
                            <li><a href="#">Nyheter</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-12 col-md-4 ">
                        <ul>
                            <li>
                                <a href="leverandoer.html"><h4 class="internal-link arrow_right">For leverandører</h4></a>
                            </li>
                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Logg inn</h4></a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>