<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oppstart | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <link href="../css/skjema.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-10 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                        <span>Nasjonalt system for</span>
                        <span class="highlight">innføring av nye metoder</span>
                        <span>i spesialisthelsetjenesten</span>
                    </a>
                </div>
                <div class="col-xs-2 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="#">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Hvordan innføres nye metoder</h1>
                    <p class="ingress">
                    </p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="content">
                    <nav class="clearfix">
                        <a href="oppstart.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop oppstart selected">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">1</span>
                                </span>
                            </span>
                            <div class="heading_wrapper"><h3 class="selected">Oppstart</h3></div>
                        </a>
                        <a href="forslag.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop forslag">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">2</span>
                                </span>
                            </span>
                            <div class="heading_wrapper"><h3>Forslag</h3></div>
                        </a>
                        <a href="metodevurdering.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop metodevurdering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">3</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Metodevurdering</h3></div>
                        </a>
                        <a href="beslutning.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop beslutning">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">4</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Beslutning</h3></div>
                        </a>
                        <a href="implementering.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop implementering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">5</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Implementering</h3></div>
                        </a>
                    </nav>
                    <h1 class="h1b">1. Oppstart</h1>
                    <p class="ingress">Alle kan levere inn et forslag på en metode de ønsker vurdert på nasjonalt nivå. Ansatte i spesialisthelsetjenesten kan også ta initiativ til en mini-metodevurdering lokalt på sitt sykehus.</p>

                    <section>
                        <h2>Metodevarsling</h2>
                        <p>Kunnskapssentret og <a href="#">Legemiddelverket</a> identifiserer nye metoder gjennom søk i databaser og samarbeid med nasjonale og <a href="#" class="external-link inline">internasjonale aktører.</a>  Målet er å tidlig fange opp nye metoder som er på vei og som kan være aktuelle for innføring i Norge.</p>
                        <p>Metodevarslene kan benyttes av helsetjenesten og myndighetene for å planlegge fremover, og gir mulighet til være bedre forberedt og agere raskere når nye metoder kommer på markedet.</p>
                        <p>Innholdet i metodevarslene kan danne et grunnlag for et forslag til en metodevurdering. Hvis du finner en metode i et varsel som du mener kan være aktuelle for innføring kan du foreslå at det gjennomføres en metodevurdering.</p>
                        <button class="calltoaction">Les mer om metodevarsling på Kunnskapsenteret</button>
                    </section>
                    <section>
                        <h2>Hvilken metodevurdering er aktuell?</h2>
                        <p>Er du usikker på hvilken metodevurdering som er riktig for din metode? Sjekk vår metodeveiviser eller ta kontakt med  sekreteriatet i Helsedirektoratet. Er du ansatt i spesialisthelsetjenesten kan du også henvende deg til kompetansemiljøer innefor ditt regionale helseforetak.</p>
                    </section>
                    <section>
                        <h2>Hvordan foreslå en metode for mini-metodevurdering i ditt helseforetak</h2>
                        <p>
                            Hvis du er ansatt på sykehus, kan du foreslå en mini-metodevurdering i ditt helseforetak.
                            En mini-metodevurdering er en forenklet metodevurdering.
                        </p>
                        <button class="calltoaction">Registrer en ny mini-metodevurdering</button>
                        <button class="calltoaction">Oversikt over registrerte minimetodevurderinger</button>
                    </section>
                    <section>
                        <h2>
                            Hvordan foreslå en metode til nasjonal metodevurdering
                        </h2>
                        <p>På nasjonalt nivå finnes det to typer metodevurderinger; hurtige og fullstendige. Prosessen for å fremme et forslag er noe forskjellig for ansatte i spesialisthelsetjenesten og for andre. Skjemaet som benyttes er det samme.</p>
                        <button class="calltoaction">Skjema for innsending av forslag på metode til nasjonal vurdering</button>
                        <section>
                            <h3>Ansatte i spesialisthelsetjenesten </h3>
                            <div>
                                <p>
                                    Den ansatte kontakter sin RHF-koordinator, som bidrar til å vurdere om den aktuelle metodevurderingen kan gjøres lokalt eller om den bør meldes inn for nasjonal metodevurdering.  I samråd med RHF koordinatoren, sender den ansatte/organisasjonen inn skjemaet Forslag til nasjonal metodevurdering sendes til sekretariatet i Helsedirektoratet: <a href="mailto:">postmottak@helsedir.no</a>.
                                    Merk e-posten med «Forslag til nasjonal metodevurdering».
                                </p>
                            </div>
                            <h3>Andre</h3>
                            <div>
                                <p>Er du ikke ansatt i spesialisthelsetjenesten, fremmer du forslag direkte gjennom å sende inn skjema.  Merk e- posten med « Forslag til nasjonal metodevurdering. </p>
                                <button class="calltoaction">Skjema for innsending av forslag til nasjonal metodevurdering til sekretariatet</button>
                                <p>Hvem kan foreslår en metodevurdering: Alle kan foreslå en metodevurdering, men de mest aktuelle er ansatte i spesialisthelsetjenesten, legemiddelfirmaer, utstyrsleverandører, pasientorganisasjoner, profesjonsorganisasjoner, Statens legemiddelverk, Nasjonalt kunnskapssenter for helsetjenesten og Helsedirektoratet.</p>
                            </div>
                        </section>
                    </section>
                    <nav>
                        <div class="navigate_forward pull-right">
                            <a href="forslag.html">
                                <span>Neste steg: Forslag</span>
                            </a>
                        </div>
                    </nav>
                    <aside class="aside">
                        <div class=" module module_subscribe clearfix">
                            <p class="header">Få statusoppdateringer på denne metoden</p>
                            <a href="#" class="e-mail"><p>E-post</p></a>
                            <a href="#" class="rss"><p>RSS-strøm</p></a>
                        </div>
                        <div class="module module_information has-hidden-content">
                            <p class="accordion">Relatert innhold</p>
                            <div class="visuallyhidden">
                                <p>Pudding pie cookie candy canes cheesecake marzipan pie icing gummi bears. Cotton candy cheesecake pie. Chocolate icing pudding bear claw chupa chups cotton candy. Jelly-o unerdwear.com apple pie sugar plum bonbon icing. Brownie sweet soufflé fruitcake toffee cookie tootsie roll donut. </p>
                            </div>
                        </div>
                    </aside>
                    <div class=" module module_social">
                        <a href="javascript:window.print()" class=" ikon_skrivut">
                            <span></span>skriv ut
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Helsedirektoratet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Ansvarlig for nettløsningen</h5>
                            <p>Sekreteriatet for Nasjonalt system for innføring av nye metoder</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <ul class="linklist">
                            <li>
                                <a href="finnmetode.html"> <p class="internal-link arrow_right">Finn metode</p></a>
                            </li>
                            <li>
                                <a href="#"><p class="internal-link arrow_right">Send forslag</p></a>
                            </li>
                            <li>
                                <a href="#"><p class="internal-link arrow_right">Nyheter</p></a>
                            </li>
                            <li>
                                <a href="#"><p class="internal-link arrow_right">Statusoppdateringer</p></a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-4 ">
                        <ul class="linklist_headings">
                            <li>
                                <a href="transportside_omoss.html"> <h4 class="internal-link arrow_right">Om aktørene og aktørene</h4></a>
                            </li>

                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Presse</h4></a>
                            </li>
                            <li>
                                <a href="leverandoer.html"><h4 class="internal-link arrow_right">Leverandører</h4></a>
                            </li>
                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Pasienter</h4></a>
                            </li>
                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Spesialisthelsetjenesten</h4></a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-12 logoline no-padding">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>