<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forslag | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/method.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-5 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                    </a>
                </div>
                <div class="col-xs-7 visible-xs xs-no-padding col-sm-4 visible-sm">
                    <a href="#" class="english pull-right"></a>

                    <a href="omoss.html" class="about pull-right"></a>
                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="sokeside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="transportside_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Forslag</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <p class="ingress">En ny metode kan bli vurdert for en mini-metodevurdering på det lokale sykehuset eller nasjonal metodevurdering av Bestillerforum RHF. </p>

                    <h2> Foreslå en metode for mini-metodevurdering i helseforetaket</h2>
                    <p>Hvis du er ansatt på sykehus, kan du foreslå en <a href="#">mini-metodevurdering</a> i ditt helseforetak. Du kan se <a href="#">oversikt over registrerte mini-metodevurderinger</a> på Kunnskapssenteret</p>
                    <p> <a href="http://www.helsebiblioteket.no/minimetodevurdering/registrer-ny-vurdering">Registrer en ny mini-metodevurdering på nettsidene til Kunnskapssenteret</a></p>

                    <div class="relative_container">
                        <h2>
                            Foreslå en metode til nasjonal metodevurdering
                        </h2>
                        <p>  Hurtige og fullstendige <a href="#">metodevurderinger</a> gjennomføres nasjonalt av Statens legemiddelverk eller Kunnskapsenteret.</p>
                        <button class="calltoaction">Send inn forslag</button>
                        <p> Sendes til sekretariatet i Helsedirektorat på <a href="#">postmottak@helsedir.no</a>.  Merk e-posten med «Forslag til nasjonal metodevurdering»</p>

                        <p> <a href="#"> Se oversikt over tidsløp og frister </a></p>
                        <aside class="aside ">
                            <div class=" module module_message date_small">
                                <span class="module_header">Neste frist: </span>
                                <span class="keyfigures">15. januar</span>
                            </div>
                        </aside>
                    </div>
                    <h2>
                        Hvilken metodevurdering er aktuell?
                    </h2>
                    <p>Er du usikker på hvilken metodevurdering som er riktig for din metode? Sjekk <a href="#">metodeveiviseren</a> eller ta kontakt med Sekretariatet i Helsedirektoratet. Er du ansatt i spesialisthelsetjenesten kan du også henvende deg til kompetansemiljøet i ditt regionale helseforetak.</p>

                    <div class="relative_container">
                        <h2>
                            Hvem kan foreslå en metodevurdering
                        </h2>
                        <p>   Alle kan foreslå en metodevurdering, men de fleste forslag kommer fra ansatte i spesialisthelsetjenesten, legemiddelfirmaer, utstyrsleverandører, pasientorganisasjoner, profesjonsorganisasjoner, Statens legemiddelverk, Nasjonalt kunnskapssenter for helsetjenesten og Helsedirektoratet.</p>
                        <aside class="aside">
                            <div class="module module_related">
                                <h5 class="module_header">Siste metodevarsler på kunnskapssentret.no</h5>

                                <ul class="linklist">
                                    <li>
                                        <a href="#" class="external-link">
                                            Pacemaker uten elektrodeledning (Nanostim) i behandling av atrieflimmer og bradykardi
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="external-link last">
                                            Se alle søkeresultater på kunnskapssenteret.no
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="relative_container">
                        <h2>Metodevarsel</h2>
                        <p>Et metodevarsel kan være et utgangspunkt for et forslag. Hvis du finner en metode i et varsel som du mener kan være aktuelle for innføring kan du foreslå at det gjennomføres en metodevurdering. De siste metodevarslene vises her.</p>
                    </div>
                    <aside class="aside top">
                        <div class=" module module_person ">
                            <h5 class=" module_description">KONTAKT</h5>
                            <a href="#">
                                <div class="name">Sekretariatet</div>
                            </a>
                            <div class="person_information">
                                <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Sekretariatet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Nasjonalt system for innføring av nye metoder</h5>
                            <p>skal sikre at nye metoder som tas i bruk i spesialisthelsetjenesten er vurdert ut fra effekt, sikkerhet og kostnader.</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="finnmetode.html" class="internal-link arrow_right">Metoder og statusoppdateringer</a>
                            </li>
                            <li>
                                <a href="forslag.html" class="internal-link arrow_right">Faser ved innføring av metoder</a>
                            </li>
                            <li>
                                <a href="nyheter.html" class="internal-link arrow_right">Nyheter</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1 ">
                        <h4>Relevant for</h4>
                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>

                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="artikkel_pasienter.html" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>