<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Søkeside | Nasjonalt system for innføring av nye metoder i spesialisthelsetjenesten</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/finnmetode.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="../css/ie8fix.css" rel="stylesheet">
        <script src="../js/modernizr-latest.js"></script>
        <script src="../js/html5.js"></script>
        <script src="../js/respond.js"></script>
              <![endif]-->

    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-5 col-sm-8 col-md-5 col-lg-5 no-padding">
                    <a href="forside.html" class="logo">
                    </a>
                </div>
                <div class="col-xs-7 visible-xs xs-no-padding col-sm-4 visible-sm">
                    <a href="#" class="english pull-right"></a>

                    <a href="omoss.html" class="about pull-right"></a>
                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform" action="sokeside.html">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                                <button type="submit">
                                    <img src="../images/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="omoss.html">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="transportside_engelsk.html">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Søkeside</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <form class="searchform">
                    <label class="visuallyhidden" for="Finn metode">Finn metode</label>
                    <input id="Finn metode" type="text" class="search" placeholder="Søk i alt innhold">
                    <button type="submit"></button>
                </form>

                <ul class=" filterlist">
                    <li class="selectedfilter"><a href="#">Alt innhold (51)</a></li>
                    <li><a href="#">Metoder</a></li>
                </ul>
                <h2 class=" visuallyhidden">Søkeresultat</h2>

                <a href="#" class=" transportsideknapp   clearfix">
                    <p class="">15.05.2014</p>
                    <h2>Utprøving av kjernejournal startet</h2>
                    <p>Trondheim og Stavanger er de første som prøver ut kjernejournal. Kjernejournalen er en ny elektronisk løsning som samler viktige helseopplysninger i én kilder.</p>
                </a>

                <a href="#" class=" transportsideknapp  clearfix">
                    <p class="">25.04.2014</p>
                    <h2>Nye kreftlegemidler vurdert</h2>
                    <p>Fredag 25.april offentliggjorde Statens legemiddelverk sine vurderinger av fire nye legemidler. De regionale helseforetakene skal videre avgjøre om disse fire og to andre nye kreftlegemidler skal tas i bruk.</p>
                </a>

                <a href="#" class=" transportsideknapp   clearfix">
                    <p class="">03.03.2014</p>
                    <h2> Ventetiden uendret for rettighetspasienter</h2>
                    <p>
                        I gjennomsnitt ventet rettighetspasienter 60 dager før de fikk igangsatt helsehjelp. Ventetiden er uendret fra i fjor viser nye tall fra Norsk pasientregister.
                    </p>
                </a>
                <a href="metode_status_besluttet.html" class="transportsideknapp clearfix">
                    <h2>Eribulin (Halaven)</h2>

                    <p>
                        3.linje kjemoterapi ved matastatisk brystkreft
                    </p>
                    <div class="status decided">Beslutning foreligger</div><div class="status_information">
                        <p class="status_received">Forslag mottatt: 12.05.2013</p> <p class="status_sender">Innsendt av: Roche Norge  Leverandør</p>
                    </div>
                </a>

                <a href="#" class="transportsideknapp clearfix">
                    <h2>Glatirameracetat</h2>

                    <p>til behandling av multippel sklerose - Kost-effekt vurdering av ny patentert dosevariant (40 mg/ml) sammenliknet med etablert dosevariant (20 mg/ml) av glatirameracetat </p>
                    <div class="status preparation">Til Bestillerforum</div><div class="status_information"><p class="status_received">Forslag mottatt: 09.04.2014</p>  <p class="status_sender">Innsendt av: Statens Legemiddelverk</p></div>
                </a>
                <a href="#" class="transportsideknapp clearfix">
                    <h2>Trastuzumab emtansine (Kadcuyla)</h2>

                    <p>
                        andrelinjebehandling av HER2-postitiv brystkreft
                    </p>
                    <div class="status preparation">Behandlet for Bestillerforum</div><div class="status_information">
                        <p class="status_received">Forslag mottatt: 12.03.2014</p><p class="status_sender">Innsendt av: Roche</p>
                    </div>
                </a>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <div class="contact">
                            <h4 class="">Kontakt oss</h4>

                            <h5>Sekretariatet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                            <h5>Nasjonalt system for innføring av nye metoder</h5>
                            <p>skal sikre at nye metoder som tas i bruk i spesialisthelsetjenesten er vurdert ut fra effekt, sikkerhet og kostnader.</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1">
                        <h4>Metoder</h4>

                        <ul class="linklist">
                            <li>
                                <a href="finnmetode.html" class="internal-link arrow_right">Finn metode</a>
                            </li>
                            <li>
                                <a href="hvemgjoerhva.html" class="internal-link arrow_right">Hvem gjør hva</a>
                            </li>
                            <li>
                                <a href="nyheter.html" class="internal-link arrow_right">Nyheter</a>
                            </li>
                            <li>
                                <a href="artikkel_tidslop_og_frister.html" class="internal-link arrow_right">Tidsfrister</a>
                            </li>
                        </ul>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-1 ">
                        <h4>Relevant for</h4>
                        <ul class="linklist">
                            <li>
                                <a href="#" class="internal-link arrow_right">Spesialist&shy;helsetjenesten</a>
                            </li>

                            <li>
                                <a href="leverandoer.html" class="internal-link arrow_right">Leverandører</a>
                            </li>
                            <li>
                                <a href="artikkel_pasienter.html" class="internal-link arrow_right">Pasienter</a>
                            </li>
                            <li>
                                <a href="#" class="internal-link arrow_right">Presse</a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="logoline ">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Antall forslag', { role: 'style' }],
                ['Legemiddel', 42, '#6cb4b5'],
                ['Medisinsk utstyr/prosedyrer', 10, '#a1bf37'],
            ]);

            var options = {
                title: '',
                'chartArea': { 'width': '70%', 'height': '70%' },
                backgroundColor: '#fff',
                legend: 'none',
                vAxis: { minValue: 0, maxValue: 50 }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('module_chart_column'));
            chart.draw(data, options);

        }
    </script>
</body>
</html>