<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Finn metode | Helsedirektoratet</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>

<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-8 col-sm-8 col-md-5 col-lg-6">
                    <a href="forside.html" id="logo" title="Gå til forsiden"></a>
                </div>

                <div class="hidden-xs hidden-sm col-md-3 col-lg-2 col-lg-offset-4 no-padding">
                    <div class="pull-right">
                        <a class="links hidden-sm hidden-xs " href="#">OM OSS</a>
                        <a class="links hidden-sm hidden-xs " href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <header id="pageheader">

                    <h1>Finn metode</h1>
                    <form>
                        <label class="visuallyhidden" for="Finn metode">Finn metode</label>
                        <input id="Finn metode" type="text" class="search" placeholder="Finn metode">
                    </form>
                </header>
                <div class="sectionwithaside">
                    <p>60 metoder</p>
                    <aside class="aside">
                        <div class="refinesearch">
                            <h2 class="accordion_mobile">Avgrens visning</h2>
                            <form class="dropdown">
                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <select role="listbox" id="status" class="form-control">
                                        <option role="option">Alle </option>
                                        <option role="option">
                                            Forberedelser
                                        </option>
                                        <option role="option">
                                            Metodevurdering
                                        </option>
                                        <option role="option">
                                            Besluttet
                                        </option>
                                        <option role="option">
                                            På vent/utsatt
                                        </option>
                                        <option role="option">
                                            Kansellert
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="type">TYPE</label>
                                    <select role="listbox" id="type" class="form-control">
                                        <option role="option">Alle</option>
                                        <option role="option">
                                            Legemidler
                                        </option>
                                        <option role="option">
                                            Metoder som ikke er legemidler
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="year">År</label>
                                    <select role="listbox" id="year" class="form-control">
                                        <option role="option">Alle</option>
                                        <option role="option">
                                            2013
                                        </option>
                                        <option role="option">
                                            2014
                                        </option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="borderbox">
                            <h5>Nyeste metodevarsler på Kunnskapssenteret</h5>
                            <ul class="bulletlist">
                                <li>
                                    <a class="external-link">
                                        Pacemaker uten elektrodeledning (Nanostim) i behandling av atrieflimmer og bradykardi
                                    </a>
                                </li>
                                <li>
                                    <a class="external-link">
                                        Aromatasehemmere (Letrozol, Anastrozol og Exemestan) i behandling av postmenopausale kvinner med tidlig østrogenreseptor (ER) -positiv brystkreft
                                    </a>
                                </li>
                                <li>
                                    <a class="external-link">
                                        Implanterbar batteridrevet kateterdrenering (Alfapump) ved behandlingsresistent og tilbakevendende væske i buken (ascites).
                                    </a>
                                </li>
                                <li>
                                    <a class="external-link">
                                        Se alle søkeresultater på helsenorge.no
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="borderbox">
                            <h5>Siste ferdigstilte mini-metodevurderinger på Kunnskapssentret</h5>
                            <ul class="bulletlist">
                                <li>
                                    <a class="external-link">
                                        Enkeltrom i familie-barn vennlig nyfødtavdeling
                                    </a>
                                </li>
                                <li>
                                    <a class="external-link">
                                        Lavfrekvent laser (Low level laser) i behandling av oral mucositt
                                    </a>
                                </li>
                                <li>
                                    <a class="external-link">
                                        HPV DNA testing på cervicale celler innsamlet i Surepath - konserveringsvæske (BD Diagnostics-TriPath)
                                    </a>
                                </li>
                                <li>
                                    <a class="external-link">
                                        Se alle mini-metodevurderinger på kunnskapssentret.no
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <div class="transportsideknapp clearfix">
                        <a href="#">
                            <h2>Glatirameracetat</h2>
                        </a>
                        <p>til behandling av multippel sklerose - Kost-effekt vurdering av ny patentert dosevariant (40 mg/ml) sammenliknet med etablert dosevariant (20 mg/ml) av glatirameracetat </p>
                        <div class="status preparation">Forberedelser</div><div class="status_infomration"><p class="status_received">Forslag mottatt: 09.04.2014</p>  <p class="status_sender">Innsendt av: Statens Legemiddelverk</p></div>
                    </div>

                    <div class="transportsideknapp clearfix">
                        <a href="#">
                            <h2>Trastuzumab emtansine (Kadcuyla)</h2>
                        </a>
                        <p>
                            andrelinjebehandling av HER2-postitiv brystkreft
                        </p>
                        <div class="status preparation">Forberedelser</div><div class="status_infomration">
                            <p class="status_received">Forslag mottatt: 12.03.2014</p><p class="status_sender">Innsendt av: Roche</p>
                        </div>
                    </div>

                    <div class="transportsideknapp clearfix">
                        <a href="#">
                            <h2>Helplasma for transfusjon </h2>
                        </a>
                        <p>
                            Alternativer til pasienter
                        </p>
                        <div class="status evaluation">Forberedelser</div><div class="status_infomration">
                            <p class="status_received">Forslag mottatt: 12.05.2014</p>   <p class="status_sender">Innsendt av: arbeidsgruppen for utredning av alternativer for helplasmatransfusjon RHF uspesifisert  (rep.flere RHF)</p>
                        </div>
                    </div>

                    <div class="transportsideknapp clearfix">
                        <a href="#">
                            <h2>Pertuzumab (Perjeta)</h2>
                        </a>
                        <p>
                            Førstelinjebehandling av HER2-postiv metastatisk brystcancer
                        </p>
                        <div class="status decided">Forberedelser</div><div class="status_infomration">
                            <p class="status_received">Forslag mottatt: 12.05.2013</p> <p class="status_sender">Innsendt av: Roche Norge  Leverandør</p>
                        </div>
                    </div>

                    <div class="transportsideknapp clearfix">
                        <a href="#">
                            <h2>Helplasma for transfusjon </h2>
                        </a>
                        <p>
                            Alternativer til pasienter
                        </p>
                        <div class="status cancelled">Forberedelser</div><div class="status_infomration">
                            <p class="status_received">Forslag mottatt: 12.05.2014</p>   <p class="status_status">Innsendt av: arbeidsgruppen for utredning av alternativer for helplasmatransfusjon RHF uspesifisert  (rep.flere RHF)</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <footer class="footerwrapper" id="footer">
        <div class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-4 ">
                        <a href="kontaktoss.html">
                            <h4 class="internal-link arrow_right">Kontakt oss</h4>
                        </a>

                        <p>Telefon: +47 810 20 050</p>
                        <p>E-post: postmottak@helsedir.no</p>
                        <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                        <p>Post: Pb 7000 St.Olavs plass, 0130 Oslo</p>
                    </section>
                    <section class="col-sm-12 col-md-4">
                        <a href="transportside_omoss.html">   <h4 class="internal-link arrow_right">Om Helsedirektoratet</h4></a>
                        <p>Helsedirektoratet gjennomfører helsepolitikken, forvalter helselover og er faglig rådgiver innen helse.</p>
                        <ul class="about">
                            <li><a href="#">Ledige stillinger</a></li>
                            <li><a href="artikkel_organisasjonskart.html">Organisasjonskart</a></li>
                            <li><a href="#">Aktuelt</a></li>
                            <li><a href="kursogkonferanser.html">Kurs og konferanser</a></li>
                            <li><a href="#">Presse</a></li>
                        </ul>
                    </section>
                    <section class="col-sm-12 col-md-4 ">
                        <h4>Abonner</h4>
                        <a href="#"><p class="abonner">Nyheter på e-post</p></a>
                        <a href="#"><p class="abonner">Nyheter på RSS</p></a>

                        <div class="socialmedia clearfix">
                            <h4>Følg oss på</h4>
                            <div>
                                <a class="twitter" href="#"></a>
                                <a class="facebook" href="#"></a>
                                <a class="youtube" href="#"></a>
                                <a class="linkedin" href="#"></a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>