<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Finn metode | Helsedirektoratet</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/transportside.css" rel="stylesheet" />
    <link href="../css/font_soho.css" rel="stylesheet">
    <link href="../css/font_calibri.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
          <![endif]-->
    <script type="text/javascript">
        var MTIProjectId = 'e2fdb423-4de3-47d7-999d-9093c5986e14';
        (function () {
            var mtiTracking = document.createElement('script');
            mtiTracking.type = 'text/javascript';
            mtiTracking.async = 'true';
            mtiTracking.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//fast.fonts.com/t/trackingCode.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mtiTracking);
        })();
    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-5 col-lg-5">
                    <a href="forside.html" class="logo">
                        <span>Nasjonalt system for</span>
                        <span class="highlight">innføring av nye metoder</span>
                        <span>i spesialisthelsetjenesten</span>
                    </a>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class="menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2" id="mainsearch">
                    <div class="mainsearchcolumn hidden-mobile" id="mainsearchcolumn">
                        <form class="mainsearchform">
                            <span role="search">
                                <label for="mainsearchinput" class="visuallyhidden">Søk</label>
                                <input id="mainsearchinput" class="mainsearch" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                                <button type="submit">
                                    <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                                </button>
                            </span>
                        </form>
                    </div>
                    <div class="pull-right links">
                        <span>
                            <a class=" hidden-sm hidden-xs" href="#">Om systemet</a>
                            <a class=" hidden-sm hidden-xs" href="#">English</a>
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <header id="pageheader">
                    <nav>
                        <ol class="breadcrumbs clearfix">
                            <li class="active"><a href="forside.html">Forside</a></li>
                        </ol>
                    </nav>
                    <h1>Finn metode</h1>
                </header>
            </div>
            <div class="col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-4">
                <a href="oppstart.html" title="Gå til informasjonssider om metodevurderingsprosessen"><img class="img-responsive drops" src="../img/drops.png" alt="" /></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="content">
                    <form class="searchform">
                        <label class="visuallyhidden" for="Finn metode">Finn metode</label>
                        <input id="Finn metode" type="text" class="search" placeholder="Søk etter en metode">
                        <button type="submit">
                            <img src="../img/ikon_forstorrelsesglass.png" alt="Søk" />
                        </button>
                    </form>
                    <div class="sectionwithaside">
                        <p class="resultnumber">60 metoder</p>
                        <aside class="aside">
                            <div class="refinesearch">
                                <h2 class="accordion_mobile">Avgrens visning</h2>
                                <form class="dropdown">
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select role="listbox" id="status" class="form-control">
                                            <option role="option">Alle </option>
                                            <option role="option" selected="selected">
                                                Forslag mottatt
                                            </option>
                                            <option role="option">
                                                Til Bestillerforum
                                            </option>
                                            <option role="option">
                                                Behandlet på Bestillerforum
                                            </option>
                                            <option role="option">
                                                Til metodevurdering
                                            </option>
                                            <option role="option">
                                                Metodevurderinger pågår
                                            </option>
                                            <option role="option">
                                                Metodevurdering ferdigstilt
                                            </option>
                                            <option role="option">
                                                Til beslutning
                                            </option>
                                            <option role="option">
                                                Beslutning foreligger
                                            </option>
                                            <option role="option">
                                                Implementering
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="type">Type</label>
                                        <select role="listbox" id="type" class="form-control">
                                            <option role="option">Alle</option>
                                            <option role="option" selected="selected">
                                                Legemidler
                                            </option>
                                            <option role="option">
                                                Metoder som ikke er legemidler
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="year">År</label>
                                        <select role="listbox" id="year" class="form-control">
                                            <option role="option">Alle</option>
                                            <option role="option">
                                                2013
                                            </option>
                                            <option role="option">
                                                2014
                                            </option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="module module_related">
                                <h5 class="module_header">Nyeste metodevarsler på Kunnskapssenteret</h5>

                                <a class="external-link">
                                    Pacemaker uten elektrodeledning (Nanostim) i behandling av atrieflimmer og bradykardi
                                </a>

                                <a class="external-link">
                                    Aromatasehemmere (Letrozol, Anastrozol og Exemestan) i behandling av postmenopausale kvinner med tidlig østrogenreseptor (ER) -positiv brystkreft
                                </a>

                                <a class="external-link">
                                    Implanterbar batteridrevet kateterdrenering (Alfapump) ved behandlingsresistent og tilbakevendende væske i buken (ascites).
                                </a>

                                <a class="external-link last">
                                    Se alle søkeresultater på kunnskapssenteret.no
                                </a>
                            </div>
                            <div class="borderbox">
                                <h5>Siste ferdigstilte mini-metodevurderinger på Kunnskapssentret</h5>
                                <ul class="bulletlist">
                                    <li>
                                        <a class="">
                                            Enkeltrom i familie-barn vennlig nyfødtavdeling
                                        </a>
                                    </li>

                                    <li>
                                        <a class="">
                                            Lavfrekvent laser (Low level laser) i behandling av oral mucositt
                                        </a>
                                    </li>

                                    <li>
                                        <a class="">
                                            HPV DNA testing på cervicale celler innsamlet i Surepath - konserveringsvæske (BD Diagnostics-TriPath)
                                        </a>
                                    </li>

                                    <li>
                                        <a class="">
                                            Se alle mini-metodevurderinger på kunnskapssentret.no
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <div class="transportsideknapp clearfix">
                            <a href="#">
                                <h2>Glatirameracetat</h2>

                                <p>til behandling av multippel sklerose - Kost-effekt vurdering av ny patentert dosevariant (40 mg/ml) sammenliknet med etablert dosevariant (20 mg/ml) av glatirameracetat </p>
                                <div class="status preparation">Til Bestillerforum</div><div class="status_information"><p class="status_received">Forslag mottatt: 09.04.2014</p>  <p class="status_sender">Innsendt av: Statens Legemiddelverk</p></div>
                            </a>
                        </div>
                        <div class="transportsideknapp clearfix">
                            <a href="#">
                                <h2>Trastuzumab emtansine (Kadcuyla)</h2>

                                <p>
                                    andrelinjebehandling av HER2-postitiv brystkreft
                                </p>
                                <div class="status preparation">Behandlet for Bestillerforum</div><div class="status_information">
                                    <p class="status_received">Forslag mottatt: 12.03.2014</p><p class="status_sender">Innsendt av: Roche</p>
                                </div>
                            </a>
                        </div>
                        <div class="transportsideknapp clearfix">
                            <a href="#">
                                <h2>Helplasma for transfusjon </h2>

                                <p>
                                    Alternativer til pasienter
                                </p>
                                <div class="status evaluation"> Metodevurdering pågår</div><div class="status_information">
                                    <p class="status_received">Forslag mottatt: 12.05.2014</p>   <p class="status_sender">Innsendt av: arbeidsgruppen for utredning av alternativer for helplasmatransfusjon RHF uspesifisert  (rep.flere RHF)</p>
                                </div>
                            </a>
                        </div>
                        <div class="transportsideknapp clearfix">
                            <a href="#">
                                <h2>Pertuzumab (Perjeta)</h2>

                                <p>
                                    Førstelinjebehandling av HER2-postiv metastatisk brystcancer
                                </p>
                                <div class="status decided">Beslutning foreligger</div><div class="status_information">
                                    <p class="status_received">Forslag mottatt: 12.05.2013</p> <p class="status_sender">Innsendt av: Roche Norge  Leverandør</p>
                                </div>
                            </a>
                        </div>
                        <div class="transportsideknapp clearfix">
                            <a href="#">
                                <h2>Helplasma for transfusjon </h2>

                                <p>
                                    Alternativer til pasienter
                                </p>
                                <div class="status cancelled">Kansellert</div><div class="status_information">
                                    <p class="status_received">Forslag mottatt: 12.05.2014</p>   <p class="status_status">Innsendt av: arbeidsgruppen for utredning av alternativer for helplasmatransfusjon RHF uspesifisert  (rep.flere RHF)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" module module_social">
                        <a href="javascript:window.print()" class=" ikon_skrivut">
                            <span></span>skriv ut
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div id="footer">
        <footer class="footerlinkswrapper">
            <div class="container">
                <div class="row">
                    <section class="col-sm-12 col-md-7 ">
                        <div class="contact">
                            <a href="kontaktoss.html">
                                <h4 class="">Kontakt oss</h4>
                            </a>
                            <h5>Ansvarlig for nettløsningen</h5>
                            <p>Sekreteriatet for Nasjonalt system for innføring av nye metoder</p>

                            <h5>Helsedirektoratet</h5>
                            <p>E-post: <a href="#">metodevurdering@helsedir.no</a></p>
                            <p>Besøk: Universitetsgata 2, 0130 Oslo</p>
                            <p>Pb 7000 St. Olavs plass, 0130 Oslo</p>
                        </div>
                    </section>

                    <section class="col-sm-12 col-md-3 col-md-offset-2 ">
                        <ul>
                            <li>
                                <a href="transportside_omoss.html"> <h4 class="internal-link arrow_right">Om aktørene</h4></a>
                            </li>
                            <li>
                                <a href="leverandoer.html"><h4 class="internal-link arrow_right">Om systemet</h4></a>
                            </li>
                            <li>
                                <a href="#"><h4 class="internal-link arrow_right">Presse</h4></a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <div class="col-md-12 logoline no-padding">
                        <a class="helsedirektoratet" href="#"></a>
                        <a class="kunnskapssenteret" href="#"></a>
                        <a class="legemiddelverk" href="#"></a>
                        <a class="helsemidt" href="#"></a>
                        <a class="helsenord" href="#"></a>
                        <a class="helsesoeroest" href="#"></a>
                        <a class="helsevest" href="#"></a>
                        <a class="straalevern" href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
    <script src="../js/method.js"></script>
</body>
</html>