article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  background: white;
}
body {
  padding: 0;
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 27px;
  color: #222;
  background: #f7f6f6 url('../img/bakgrunn_menneske.svg');
  background-position: 100% 20%;
  background-size: 40% auto;
  -webkit-background-size: 40% auto;
  -moz-background-size: 40% auto;
  -o-background-size: 40% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-weight: normal;
  font-size: 48px;
  font-family: "Soho Gothic W01 Light";
  line-height: 60px;
  margin: 50px 0 0 0;
  color: #004e66;
}
.ingress {
  margin: 20px 0 20px 0;
  font-size: 26px;
  line-height: 30px;
  font-family: 'Calibri';
}
h2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
  margin: 35px 0 0 0;
  color: #004e66;
}
h2.accordion {
  border-bottom: 1px solid #004e66;
  padding-bottom: 10px;
}
h2.internal-link {
  color: #0093a7;
}
h3 {
  font-size: 28px;
  font-family: "Soho Gothic W01 Regular";
  margin: 35px 0 0 0;
  line-height: 36px;
}
h3.accordion {
  border-bottom: 1px solid #bababa;
  padding-bottom: 10px;
}
h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-top: 55px;
  font-family: "Soho Gothic W01 Regular";
}
h4.accordion {
  margin: 55px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #004e66;
}
h5 {
  font-weight: normal;
  font-size: 18px;
}
p {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 27px;
}
ul.list {
  list-style: none;
  margin: 0 0 24px 0;
}
ul.list li {
  padding-bottom: 15px;
}
ul.list li:before {
  content: "•";
  color: #004e66;
  margin-right: 20px;
}
a {
  color: #004e66;
  font-size: 20px;
  line-height: 27px;
}
a:visited {
  color: #0093a7;
}
a:focus,
a:visited:focus {
  background: #004e66;
  color: white !important;
  outline: 0;
}
a:focus h2,
a:visited:focus h2,
a:focus h4,
a:visited:focus h4,
a:focus p,
a:visited:focus p {
  background: #004e66;
  color: white !important;
  outline: 0;
}
.marginTop20px {
  margin-top: 20px;
}
.marginBottom20px {
  margin-bottom: 20px;
}
.breadcrumbs {
  padding: 0;
  list-style-type: none;
  margin: 10px 0 0 0;
}
.breadcrumbs li {
  display: block;
  float: left;
  padding-right: 0.3rem;
}
.breadcrumbs li:after {
  font-family: "FontAwesome";
  content: '\f104';
  color: #004e66;
  font-size: 25px;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}
.breadcrumbs li:last-child:after {
  content: '';
}
.breadcrumbs a {
  text-decoration: underline;
  font-family: 'Calibri';
  font-size: 18px;
  line-height: 22px;
}
.breadcrumbs a:visited {
  color: #004e66;
}
.has-hidden-content {
  cursor: pointer;
}
.has-hidden-content h2:before,
.has-hidden-content .accordion:before {
  float: left;
  padding: 3px 10px 0 0;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 40px;
}
.has-hidden-content h3.accordion:before {
  font-size: 30px;
}
.has-visible-content {
  cursor: pointer;
}
.has-visible-content h2:before,
.has-visible-content .accordion:before {
  float: left;
  padding: 3px 10px 0 0;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 40px;
}
.has-visible-content h3.accordion:before {
  font-size: 30px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.utvidbaroverskrift {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 0;
  min-height: 70px;
  width: 330px;
  border: 1px solid #eeeeee;
  background: #ffffff;
}
.fa-chevron-down {
  float: right;
  padding-top: 0.3rem;
  font-size: 1.5em;
}
.tabs {
  position: inherit;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*----- Content of Tabs -----*/
}
.tabs .tab-links {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}
.tabs .tab-links:after {
  display: block;
  clear: both;
  content: '';
}
.tabs .tab-links li {
  margin: 0;
  float: left;
  list-style: none;
  margin-right: 10px;
  width: 170px;
  text-align: center;
  transition: all linear 0.15s;
  padding-bottom: 5px;
}
.tabs .tab-links li.active {
  border: none;
}
.tabs .tab-links li.active a {
  color: #004e66;
  font-family: 'Calibri bold';
  background: white;
}
.tabs .tab-links li.active a:hover,
.tabs .tab-links li.active a:focus {
  background: white;
  color: #004e66;
}
.tabs .tab-links li a {
  display: inline-block;
  font-size: 16px;
  transition: all linear 0.15s;
  width: 100%;
  border-radius: 0;
  color: white;
  text-decoration: none;
  font-family: 'Calibri';
  background: #838078;
}
.tabs .tab-links li a:hover,
.tabs .tab-links li a:focus {
  color: white;
  background: #666460;
}
.tabs .tab-content {
  padding: 15px;
  border-radius: 3px;
}
.tabs .tab-content li {
  list-style-type: none;
  margin-left: 0;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #bababa;
}
@media only screen and (min-width: 900px) {
  .tabs .tab-content li:last-of-type {
    border-bottom: 0;
  }
}
.tabs .tab-content li:before {
  content: "";
}
.tabs .tab-content a,
.tabs .tab-content a:visited,
.tabs .tab-content a:hover {
  color: #004e66;
  text-decoration: none;
}
.tabs .tab-content .alphabetical {
  font-size: 18px;
}
.tabs .tab-content .alphabetical ul li:first-of-type {
  border-bottom: solid 1px #bababa;
}
.tabs .tab-content .alphabetical ul li {
  border: none;
}
.tabs .tab-content .alphabetical ul li a {
  color: #004e66;
  display: inline-block;
  line-height: 22px;
}
.tabs .tab-content .alphabetical .character {
  text-transform: uppercase;
  font-weight: bold;
}
.tabs .tab-content .alphabetical .character:hover {
  background: white;
}
.chart_div {
  height: 450px;
  margin: 20px 57px;
  background: white;
}
.visuallyhidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.search {
  margin-top: 30px;
  width: 70%;
  height: 40px;
  padding: 5px 10px;
  background: #ffffff url('../img/ikon_forstorrelsesglass.png') center no-repeat;
  border: 1px solid #004e66;
  -moz-background-size: auto 80%;
  -o-background-size: auto 80%;
  -webkit-background-size: auto 80%;
  background-size: auto 80%;
  background-position: 99% 50%;
  background-position-x: 99%;
  background-position-y: 50%;
  cursor: pointer;
}
.search_withbutton .search {
  display: inline;
  background: white;
}
.search_withbutton .calltoaction {
  display: inline;
  padding: 6px 20px 6px 40px;
  margin-left: 10px;
  background-position: 10% 50%;
}
.search_withbutton .calltoaction:hover {
  background-position: 10% 50%;
}
/**********************************************************************
    Moduler
***********************************************************************/
.module_subscribe {
  margin: 40px 0 0 0;
  padding: 0 0 5px 0;
  max-width: 300px;
}
.module_subscribe p {
  font-size: 18px;
  margin: 0;
  color: #004e66;
  text-transform: uppercase;
}
.module_subscribe .header {
  border-bottom: 2px solid #004e66;
  margin-bottom: 10px;
}
.module_subscribe a {
  font-size: 18px;
  margin: 0 13px 0 0;
  text-decoration: none;
  color: #004e66;
}
.module_subscribe a:visited {
  color: #004e66;
  text-decoration: none;
}
.module_subscribe a:hover {
  text-decoration: none;
}
.module_subscribe div {
  float: left;
  margin-right: 10px;
}
.module_subscribe .e-mail img,
.module_subscribe .rss img {
  margin-right: 10px;
  width: 27px;
  height: 20px;
}
.module_subscribe .e-mail p,
.module_subscribe .rss p {
  display: inline;
  vertical-align: bottom;
  font-size: 16px;
}
.module_subscribe .email img {
  margin-right: 10px;
  width: 27px;
  height: 20px;
}
.module_subscribe .rss img {
  margin-right: 5px;
  width: 27px;
  height: 20px;
}
.module_information_small {
  margin: 30px 0 10px 0;
  padding: 10px 0 10px 10px;
  border: 1px solid #222;
}
.module_person {
  margin: 25px 0 0 0;
  width: 270px;
}
.module_person h3 {
  margin-bottom: 1rem;
}
.module_person span {
  padding: 0;
}
.module_person .role,
.module_person .phone,
.module_person .e-mail {
  margin: 0;
  font-size: 18px;
}
.module_person .name {
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 30px 0;
}
.module_person img {
  width: 130px;
  margin-right: 30px;
  float: left;
}
.module_person .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 25px;
  border-bottom: 2px solid #004e66;
}
video {
  width: 100%;
  margin-top: 10px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 40px;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.module_guide {
  border: 1px solid #bababa;
  padding-left: 10px;
}
.module_guide .innerDiv {
  margin: 10px;
  /*border-left: 8px solid @colorOrange;*/
}
.module_guide .innerDiv p,
.module_guide .innerDiv a,
.module_guide .innerDiv h4 {
  margin: 0 0 0 10px;
}
figure .metatext {
  text-align: right;
}
.metatext {
  font-family: 'Calibri';
  font-size: 16px;
  color: #222;
}
.metatext.statistics {
  text-align: right;
}
.spennendeTall {
  border: 1px solid #222;
  width: 100%;
  margin-bottom: 10px;
}
.spennendeTall p {
  text-align: center;
  padding: 30px;
}
.sectionwithaside {
  position: relative;
}
.aside,
.aside.bottom {
  margin-right: 0;
  position: relative;
  width: 300px;
}
.aside h2,
.aside.bottom h2 {
  margin: 0;
}
.aside p,
.aside.bottom p,
.aside a,
.aside.bottom a {
  font-size: 18px;
  line-height: 22px;
}
.cleanlist {
  list-style-type: none;
  margin-left: 0;
}
.linklist {
  list-style-type: none;
  text-decoration: underline;
  margin: 10px 0 15px 0;
}
.linklist a:visited {
  text-decoration: none;
}
.linklist li a,
.linklist li a.internal-link.aftertext {
  margin-bottom: 5px;
}
.linklist li a.external-link {
  margin: 0;
}
.linklist li a.internal-link.aftertext {
  text-decoration: none;
}
.bulletlist {
  list-style-position: outside;
  margin-top: 10px;
}
.bulletlist li {
  margin: 0 0 0 10px;
}
.bulletlist li:before {
  content: "•";
  color: #004e66;
  margin-right: 20px;
}
.borderbox {
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #bababa;
  padding-left: 10px;
  background: white;
}
.borderbox .innerDiv {
  margin: 10px;
}
.borderbox .innerDiv p,
.borderbox .innerDiv a,
.borderbox .innerDiv h4 {
  margin: 0 0 0 10px;
}
.search_input {
  width: 75%;
  margin-bottom: 20px;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
/*******************************Ny forside******************************************/
.calltoaction {
  border: 2px solid #004e66;
  color: #004e66;
  padding: 10px 20px 10px 35px;
  margin: 20px 0 30px 0;
  font-family: 'Calibri';
  font-size: 20px;
  line-height: 24px;
  width: 270px;
  display: block;
  background: #ffffff url('../img/ikon_pilmothoyre.svg') no-repeat;
  background-position: 5% 50%;
  background-size: 10px;
}
.calltoaction:hover,
.calltoaction:focus {
  color: white;
  background: #004e66 url('../img/ikon_pilmothoyre_hvit.svg') no-repeat;
  background-position: 5% 50%;
  background-size: 10px;
}
iframe {
  margin-bottom: 23px;
}
.external-link {
  background: url('../img/navigasjon/ikon_eksternlenke.svg') right no-repeat;
  background-size: 16px 16px;
  padding-right: 22px;
  text-decoration: none;
  margin: 15px 0;
  display: inline-block;
}
.external-link.inline,
.external-link .inline:visited {
  text-decoration: underline;
  margin: 0;
}
.external-link:visited {
  background: url('../img/navigasjon/ikon_eksternlenkebesoekt.svg') right no-repeat;
  background-size: 16px 16px;
}
.internal-link {
  text-decoration: none;
  color: #004e66;
  display: inline-block;
}
.internal-link:visited {
  color: #0093a7;
  text-decoration: none;
}
.internal-link h2,
.internal-link h3,
.internal-link h4,
.internal-link p {
  display: inline;
}
.internal-link.aftertext {
  margin: 15px 0;
}
.internal-link.aftertext:after {
  padding-left: 10px;
  content: "\f105";
  font-family: "FontAwesome";
  font-size: inherit;
  text-decoration: none;
}
.internal-link.inline,
.internal-link .inline:visited {
  text-decoration: underline;
}
.statistics_module {
  background: white;
  padding-left: 54px;
  max-width: 390px;
  background-size: contain;
}
.statistics_module #chart_div {
  margin-bottom: 20px;
}
p.keyfigures,
h4.keyfigures {
  font-size: 36px;
  color: #c63629;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
}
.header2 {
  font-size: 36px;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
  margin: 70px 0 0 0;
}
.header3 {
  font-size: 28px;
  font-family: "Soho Gothic W01 Regular";
  margin: 55px 0 0 0;
  line-height: 34px;
}
.module {
  display: inline-block;
  margin: 0 0 30px 0;
  padding: 30px 30px 30px 30px;
  background: white;
  position: relative;
}
.module.maincolumn {
  margin-top: 30px;
}
.module .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 5px;
}
.module a .module_header {
  color: #0093a7;
}
.module .module_header {
  font-family: "Soho Gothic W01 Regular";
  font-size: 24px;
  line-height: 30px;
  color: #222;
}
.module .module_header .internal-link.aftertext {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
}
.module .module_theme {
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
  margin-right: 10px;
}
.module .module_ingress {
  display: inline;
}
.module img.pulse {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -19px;
  height: 100px;
}
.module.module_related {
  border-left: 2px solid #a1bf37;
}
.module.module_related .bulletlist {
  margin-top: 10px;
}
.module.module_related .bulletlist li:before {
  color: #a1bf37;
}
.module.module_related .illustration {
  display: blockmo;
}
.module.module_publication {
  border-left: 2px solid #df9922;
}
.module.module_guidelines {
  border-left: 2px solid #c63629;
}
.module.module_facts {
  border-left: 2px solid #0093a7;
  margin-top: 30px;
}
.module.module_facts .bulletlist {
  margin-top: 10px;
}
.module.module_facts .bulletlist li:before {
  color: #0093a7;
}
.module.module_statistics_text,
.module.module_statistics_graph {
  border-left: 2px solid #6cb4b5;
}
.module.module_statistics_text h5,
.module.module_statistics_graph h5 {
  color: #004e66;
}
.module.module_statistics_text .keyfigures,
.module.module_statistics_graph .keyfigures {
  font-size: 36px;
  color: #c63629;
  margin: 30px 0 5px 0;
}
.module.module_statistics_text .subject,
.module.module_statistics_graph .subject {
  margin: 5px 0 20px 0;
}
.module.module_statistics_text a,
.module.module_statistics_graph a {
  margin-top: 30px;
  line-height: 22px;
  display: block;
}
.module.module_statistics_text {
  max-width: 270px;
}
.module.module_statistics_graph {
  max-width: 300px;
}
.module .external-link {
  margin-top: 0;
}
.module_report {
  margin: 0 0 0 30px;
  padding: 0 40px 0 30px;
  background: url(../img/groenn_EKG.png) no-repeat left, #ffffff;
  background-size: contain;
}
.module_report .header3 {
  font-size: 28px;
  font-family: "Soho Gothic W01 Regular";
  line-height: 34px;
  margin: 0;
}
.module_report .smallHeader {
  font-family: 'Calibri';
  color: #004e66;
  font-size: 18px;
  padding: 30px 0 20px 0;
  text-transform: uppercase;
}
.showmorenews {
  width: 250px;
  text-align: center;
  margin: 50px 0;
  border: 2px solid #004e66;
  color: #004e66;
  background: white;
  font-family: 'Calibri';
  font-size: 20px;
  line-height: 24px;
}
.showmorenews a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: black;
}
.showmorenews a:hover {
  text-decoration: none;
}
.showmorenews.selected {
  background: #004e66;
}
.showmorenews.selected a,
.showmorenews.selected a:visited {
  color: white;
}
.crisis {
  margin: 15px;
  padding-bottom: 50px;
  background: white;
  padding-top: 1px;
}
.crisis .fa-exclamation {
  color: #df9922;
  font-size: 2em;
}
.crisis .calltoaction {
  border-color: #df9922;
  color: black;
}
.crisis .border_crisis {
  border-bottom: 5px solid #df9922;
  padding-bottom: 20px;
  width: 100%;
}
.crisis .border_crisis_bottom {
  border-bottom: 5px solid #df9922;
  padding-bottom: 50px;
  width: 100%;
}
.crisis #volcano {
  height: 100px;
  margin: 40px 60px;
  display: block;
}
.crisis .bulletlist li:before {
  content: "•";
  color: #df9922;
  margin-right: 20px;
}
.crisis .urgentinformation {
  padding-left: 50px;
}
.tema_select_all {
  font-weight: bold;
}
/**Kurs og konferanse*/
.conference_details {
  margin-top: 20px;
}
.conference_details p,
.conference_details span {
  display: table-cell;
}
.conference_details .conference_date span,
.conference_details .conference_location span,
.conference_details .conference_audience span {
  width: 100px;
}
/**Felles*/
.border {
  border-bottom: 2px solid #004e66;
  padding-bottom: 20px;
  width: 100%;
}
.checkbox {
  margin-right: 20px;
}
input[type="radio"] {
  float: left;
  width: 0px;
  opacity: 0;
  height: 0px;
}
input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
  background: url('../img/navigasjon/radioknapp_inaktiv.svg') top left no-repeat;
  cursor: pointer;
  background-size: 19px;
}
input[type="radio"] + label span:hover {
  background: url('../img/navigasjon/radioknapp_hover.svg') top left no-repeat;
  background-size: 19px;
}
input[type="radio"]:checked + label span {
  background: url(../img/navigasjon/radioknapp_valgt.svg) top no-repeat;
  background-size: 19px;
}
input[type="checkbox"] {
  float: left;
  width: 0px;
  opacity: 0;
  height: 0px;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
  background: url('../img/navigasjon/checkbox_inaktiv.svg') top left no-repeat;
  cursor: pointer;
  background-size: 19px;
}
input[type="checkbox"] + label span:hover {
  background: url('../img/navigasjon/checkbox_hover.svg') top left no-repeat;
  background-size: 19px;
}
input[type="checkbox"]:checked + label span {
  background: url(../img/navigasjon/checkbox_valgt.svg) top no-repeat;
  background-size: 19px;
}
fieldset {
  border: none !important;
}
.form label {
  display: block;
  margin-bottom: 10px;
}
.form input {
  margin-bottom: 20px;
  padding: 5px 10px;
}
.form .form_field_standard {
  border: 1px solid #004e66;
}
.form .form_field_zip {
  border: 1px solid #004e66;
  width: 4em;
}
.cancelbutton {
  background: #004e66;
  color: white;
  font-family: 'Calibri';
  font-size: 20px;
  padding: 7px;
  text-align: center;
  width: 150px;
  border: none;
}
.cancelbutton:hover {
  background: #02343f;
}
.dropdown label {
  display: block;
  margin-bottom: 5px;
}
.dropdown select {
  min-width: 270px;
  max-width: 270px;
  border: 1px solid #004e66;
  font-family: 'Calibri';
  font-size: 20px;
  padding: 5px 38px 4px 10px;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /* Removes Default Firefox style*/
  background: #ffffff url('../img/knapp_nedtrekksmeny.svg') no-repeat;
  /*Adds background-image*/
  background-position: 100%;
  /*Position of the background-image*/
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
  color: #222;
}
.refinesearch {
  margin-left: 30px;
  width: 300px;
}
.refinesearch h2,
.refinesearch h5 {
  border-bottom: 2px solid #004e66;
  margin-bottom: 17px;
  padding-bottom: 15px;
  font-family: "Soho Gothic W01 Regular";
  font-size: 28px;
  line-height: 42px;
}
.refinesearch select {
  margin-bottom: 20px;
}
.message_module {
  display: inline-block;
  margin: 100px 0 0 30px;
  padding: 30px 30px 45px 30px;
  background: white;
  position: relative;
}
.message_module .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 25px;
}
.message_module .module_header {
  font-family: "Soho Gothic W01 Regular";
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
  color: #222;
}
.message_module .message {
  margin-left: 30px;
}
.message_module.error img,
.message_module.warning img {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -19px;
  height: 100px;
}
.message_module.error {
  border: 2px solid #DF301D;
}
.message_module.warning {
  border: 2px solid #f4d01e;
}
.message_module.bubble {
  border: 2px solid #0093a7;
  margin-bottom: 70px;
}
.message_module.bubble img {
  position: absolute;
  right: 50px;
  bottom: 0;
  margin-bottom: -18px;
  width: 100px;
}
.table_general {
  border: 1px solid #91c6c2;
  margin: 20px auto;
}
.table_general th {
  background: #91c6c2;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  line-height: 20px;
}
.table_general tr {
  background: #dfe8e7;
}
.table_general tr.odd {
  background: white;
}
.table_general td {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.table_general td a {
  line-height: 24px;
}
.table_general.alignleft th,
.table_general.alignleft td {
  text-align: left;
}
.iveCharts {
  margin: 0 auto 20px auto;
  width: 100%;
  height: 300px;
}
.iveCharts .columnOuter {
  height: 100%;
  float: left;
  top: 0;
  text-align: center;
  position: relative;
  border-left: solid 1px #aaaaaa;
}
.iveCharts .columnOuter:first-of-type {
  border-left: none;
}
.iveCharts .columnOuter:after {
  clear: both;
}
.iveCharts .columnHolder {
  float: left;
  width: 50%;
  height: 90%;
  top: 0;
  position: relative;
}
.iveCharts .columnHolder:after {
  clear: both;
}
.iveCharts .number {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.iveCharts .number.small {
  font-size: 16px;
}
.iveCharts .column {
  bottom: 10%;
  position: absolute;
}
.iveCharts .column:hover {
  border: solid 1px #333;
  opacity: 0.7;
  /*cursor: pointer;*/
}
.iveCharts .title {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}
.iveCharts .title.small {
  font-size: 16px;
}
#graph-source {
  font-size: 18px;
  margin-right: 10px;
}
.image_intext {
  float: right;
  display: table;
  width: 87px;
  margin: 20px 0 20px 30px;
}
.image_intext figcaption {
  font-size: 18px;
}
@media only screen and (min-width: 1200px) {
  .aside {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: -50%;
  }
  .aside.module_person {
    top: auto;
  }
  .aside.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    margin-right: -50%;
  }
  .aside.top {
    margin-right: -46%;
  }
  .module_person.kontakt {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: -54%;
    width: 386px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .aside {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: -79%;
  }
  .aside.module_person {
    top: auto;
  }
  .aside.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    margin-right: -71%;
  }
  .aside.top {
    margin-right: -72%;
  }
}
@media only screen and (max-width: 1199px) {
  .refinesearch {
    margin-top: 30px;
    margin-left: 0;
    max-width: 300px;
    width: auto;
  }
  .border {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .statistics_compare button {
    margin-top: 30px;
  }
  .hidden_links {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  iframe {
    width: 100%;
  }
  .module_subscribe {
    margin: 0;
    padding: 0;
  }
  .message_module {
    margin: 0;
  }
  .aside {
    margin-top: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .socialmedia a:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
@media only screen and (min-width: 600px) {
  .transportsideknapp {
    border: none;
  }
  .transportsideknapp .fa-chevron-right {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .aside,
  .aside.bottom {
    width: auto;
  }
  h1 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  .statistics_compare {
    background: #ddd;
    border-radius: 5px;
  }
  .breadcrumbs {
    margin: 0;
  }
  .tabs .tab-content ul {
    margin-bottom: 0;
  }
  .tabs .tab-content ul li {
    padding: 5px 0;
  }
  .accordion_mobile {
    border-bottom: 1px solid #004e66;
    padding-bottom: 10px;
  }
  .xs-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .entrancebutton {
    margin: 7.5px 0 7.5px 0;
    width: 100%;
    height: auto;
  }
  .entrancebutton a .innerDiv {
    margin-top: 15px;
  }
  .entrancebutton a .innerDiv h2 {
    font-size: 28px;
  }
  .socialmedia a:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .transportsideknapp {
    margin: 10px 15px 10px 15px;
    padding: 5px 0 20px 15px;
    background: white;
  }
  .transportsideknapp h2,
  .transportsideknapp p {
    margin: 0;
  }
  .breadcrumbs li {
    display: none;
  }
  .breadcrumbs li:last-child {
    display: block;
  }
  .breadcrumbs li:last-child:before {
    font-family: "FontAwesome";
    content: '\f104';
    color: #004e66;
    font-size: 25px;
    margin: 0 5px 0 5px;
    vertical-align: middle;
  }
  .statistics_table table,
  .statistics_table tbody {
    display: block;
    width: 100%;
  }
  .statistics_table table thead {
    display: none;
  }
  .statistics_table table tr,
  .statistics_table table th,
  .statistics_table table td {
    display: block;
    white-space: normal;
    border: 0;
  }
  .statistics_table table tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }
  .statistics_table table th[data-title]:before,
  .statistics_table table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }
  .statistics_table table td:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
  }
  .statistics_table table td:first-child:before {
    content: '';
  }
  .toppmeny .tab-links li,
  .tabs .tab-links li,
  .tabs-statistics .tabs .tab-links li {
    width: 114px;
  }
  .toppmeny .tab-links li a,
  .tabs .tab-links li a,
  .tabs-statistics .tabs .tab-links li a,
  .toppmeny .tab-links li a.active,
  .tabs .tab-links li a.active,
  .tabs-statistics .tabs .tab-links li a.active {
    font-size: 12px;
  }
  .table_general {
    display: block;
    width: 100%;
  }
  .table_general tbody {
    display: block;
    width: 100%;
  }
  .table_general thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table_general tr,
  .table_general th,
  .table_general td {
    display: block;
  }
  .table_general tr {
    padding-bottom: 11px;
  }
  .table_general td {
    border: none;
    position: relative;
    padding: 0;
    padding-left: 50%;
  }
  .table_general td:before {
    position: absolute;
    left: 15px;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table_general th[data-title]:before,
  .table_general td[data-title]:before {
    content: attr(data-title);
  }
  .table_general td:first-child {
    background: #d1d0cf;
    font-weight: bold;
    padding: 5px 0 5px 15px;
    text-align: left;
  }
  .message_module {
    padding: 15px 15px 25px 15px;
  }
  .message_module .module_description {
    margin-left: 10px;
  }
  .chart_div {
    height: 300px;
    margin: 20px 0;
  }
}
@media braille {
  .has-hidden-content div {
    display: block !important;
  }
  .hidden-mobile {
    display: block !important;
  }
}
/*# sourceMappingURL=common.css.map */