article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 100%;
  background: white;
}
body {
  padding: 0;
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 30px;
  color: #222;
  background-color: #f7f6f6;
  background-image: url('../img/bakgrunn_menneske.svg');
  background-position: 100% 20%;
  background-position-x: 100%;
  background-position-y: 20%;
  -webkit-background-size: 40% auto;
  -moz-background-size: 40% auto;
  -o-background-size: 40% auto;
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1.hContent {
  font-weight: normal;
  font-size: 40px;
  font-family: "Soho Gothic W01 Light";
  line-height: 48px;
  margin: 50px 0 0 0;
  color: #004e66;
}
.hContent.ingress {
  margin: 20px 0 20px 0;
  font-size: 25px;
  line-height: 30px;
  font-family: 'Calibri';
}
h2.hContent {
  font-size: 34px;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
  margin: 35px 0 10px 0;
  color: #004e66;
}
h2.hContent.accordion {
  border-bottom: 1px solid #004e66;
  padding-bottom: 10px;
}
h2.hContent.internal-link {
  color: #0093a7;
}
h3.hContent {
  font-size: 28px;
  font-family: "Soho Gothic W01 Light";
  margin: 35px 0 0 0;
  line-height: 36px;
}
h3.hContent.accordion {
  border-bottom: 1px solid #bababa;
  padding-bottom: 10px;
}
h4.hContent {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-top: 55px;
  font-family: "Soho Gothic W01 Regular";
}
h4.hContent.accordion {
  margin: 55px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #004e66;
}
h5.hContent {
  font-weight: normal;
  font-size: 18px;
}
p.hContent {
  margin: 10px 0 0 0;
  font-size: 20px;
  font-family: 'Calibri';
  line-height: 27px;
}
ul.hContent.list {
  list-style: none;
  margin: 0 0 24px 0;
}
ul.hContent.list li {
  padding-bottom: 15px;
}
ul.hContent.list li:before {
  content: "•";
  color: #004e66;
  margin-right: 20px;
}
a.hContent {
  color: #004e66;
  font-size: 20px;
  line-height: 27px;
}
a.hContent:visited {
  color: #0093a7;
}
a.hContent:focus,
a.hContent:visited:focus {
  background: #004e66;
  color: white !important;
  outline: 0;
}
a.hContent:focus h2,
a.hContent:visited:focus h2,
a.hContent:focus h4,
a.hContent:visited:focus h4,
a.hContent:focus p,
a.hContent:visited:focus p {
  background: #004e66;
  color: white !important;
  outline: 0;
}
a.hContent:hover {
  text-decoration: underline;
}
.hContent.breadcrumbs {
  padding: 0;
  list-style-type: none;
  margin: 10px 0 0 0;
}
.hContent.breadcrumbs li {
  display: block;
  float: left;
  padding-right: 0.3rem;
}
.hContent.breadcrumbs li:after {
  font-family: "FontAwesome";
  content: '\f104';
  color: #004e66;
  font-size: 25px;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}
.hContent.breadcrumbs li:last-child:after {
  content: '';
}
.hContent.breadcrumbs a {
  text-decoration: underline;
  font-family: 'Calibri';
  font-size: 18px;
  line-height: 22px;
}
.hContent.breadcrumbs a:visited {
  color: #004e66;
}
.hContent.has-hidden-content {
  cursor: pointer;
}
.hContent.has-hidden-content h2:before,
.hContent.has-hidden-content .accordion:before {
  float: left;
  padding: 3px 20px 0 0;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 40px;
  cursor: pointer;
}
.hContent.has-hidden-content h3.accordion:before {
  font-size: 30px;
}
.hContent.has-visible-content h2:before,
.hContent.has-visible-content .accordion:before {
  float: left;
  padding: 3px 20px 0 0;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 40px;
}
.hContent.has-visible-content .accordion {
  cursor: pointer;
}
.hContent.has-visible-content h3.accordion:before {
  font-size: 30px;
}
.hContent.clearfix:before,
.hContent.clearfix:after {
  display: table;
  content: " ";
}
.hContent.clearfix:after {
  clear: both;
}
.hContent.fa-chevron-down {
  float: right;
  padding-top: 0.3rem;
  font-size: 1.5em;
}
.hContent.tabs {
  position: inherit;
  height: 100%;
  width: 100%;
  display: inline-block;
  /*----- Content of Tabs -----*/
}
.hContent.tabs .tab-links {
  margin: 0;
  padding-left: 20px;
  list-style: none;
}
.hContent.tabs .tab-links:after {
  display: block;
  clear: both;
  content: '';
}
.hContent.tabs .tab-links li {
  margin: 0;
  float: left;
  list-style: none;
  margin-right: 10px;
  width: 170px;
  text-align: center;
  transition: all linear 0.15s;
  padding-bottom: 6px;
}
.hContent.tabs .tab-links li.active {
  border: none;
}
.hContent.tabs .tab-links li.active a {
  color: #004e66;
  font-family: 'Calibri-Bold';
  background: white;
}
.hContent.tabs .tab-links li.active a:hover,
.hContent.tabs .tab-links li.active a:focus {
  background: white;
  color: #004e66;
}
.hContent.tabs .tab-links li a {
  display: inline-block;
  font-size: 16px;
  transition: all linear 0.15s;
  width: 100%;
  border-radius: 0;
  color: white;
  text-decoration: none;
  font-family: 'Calibri';
  background: #838078;
}
.hContent.tabs .tab-links li a:hover,
.hContent.tabs .tab-links li a:focus {
  color: white;
  background: #666460;
}
.hContent.tabs .tab-content {
  padding: 15px;
  border-radius: 3px;
}
.hContent.tabs .tab-content li {
  list-style-type: none;
  margin-left: 0;
  padding: 5px 0 5px 10px;
  border-bottom: solid 1px #bababa;
}
@media only screen and (min-width: 900px) {
  .hContent.tabs .tab-content li:last-of-type {
    border-bottom: 0;
  }
}
.hContent.tabs .tab-content li:before {
  content: "";
}
.hContent.tabs .tab-content a,
.hContent.tabs .tab-content a:visited,
.hContent.tabs .tab-content a:hover {
  color: #004e66;
  text-decoration: none;
}
.hContent.tabs .tab-content .alphabetical {
  font-size: 18px;
}
.hContent.tabs .tab-content .alphabetical ul li:first-of-type {
  border-bottom: solid 1px #bababa;
}
.hContent.tabs .tab-content .alphabetical ul li {
  border: none;
}
.hContent.tabs .tab-content .alphabetical ul li a {
  color: #004e66;
  display: inline-block;
  line-height: 22px;
}
.hContent.tabs .tab-content .alphabetical .character {
  text-transform: uppercase;
  font-weight: bold;
}
.hContent.tabs .tab-content .alphabetical .character:hover {
  background: white;
}
.hContent.chart_div {
  height: 450px;
  margin: 20px 57px;
  background: white;
}
.hContent.visuallyhidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
.hContent.search {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background: #ffffff url('../img/ikon_forstorrelsesglass.png') center no-repeat;
  border: 1px solid #004e66;
  -moz-background-size: auto 80%;
  -o-background-size: auto 80%;
  -webkit-background-size: auto 80%;
  background-size: auto 80%;
  background-position: 99% 50%;
  background-position-x: 99%;
  background-position-y: 50%;
  cursor: pointer;
}
.hContent.search_withbutton .search {
  display: inline;
  background: white;
}
.hContent.search_withbutton .calltoaction {
  display: inline;
  padding: 6px 20px 6px 40px;
  margin-left: 10px;
  background-position: 10% 50%;
}
.hContent.search_withbutton .calltoaction:hover {
  background-position: 10% 50%;
}
/**********************************************************************
    Moduler
***********************************************************************/
video {
  width: 100%;
  margin-top: 10px;
}
.hContent.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 40px 0;
}
.hContent.video-container iframe,
.hContent.video-container object,
.hContent.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.hContent .metatext {
  text-align: right;
}
.hContent.metatext {
  font-family: 'Calibri';
  font-size: 18px;
  color: #222;
  line-height: 22px;
}
.hContent.metatext.statistics {
  text-align: right;
  float: right;
}
.hContent.spennendeTall {
  border: 1px solid #222;
  width: 100%;
  margin-bottom: 10px;
}
.hContent.spennendeTall p {
  text-align: center;
  padding: 30px;
}
.hContent.sectionwithaside {
  position: relative;
}
.hContent.content {
  position: relative;
}
.hContent.aside,
.hContent.aside.bottom {
  margin-right: 0;
  position: relative;
  width: 300px;
}
.hContent.aside h2,
.hContent.aside.bottom h2 {
  margin: 0;
}
.hContent.aside p,
.hContent.aside.bottom p,
.hContent.aside a,
.hContent.aside.bottom a {
  font-size: 18px;
  line-height: 22px;
}
.hContent.linklist {
  list-style-type: none;
  margin: 10px 0 15px 0;
}
.hContent.linklist a:visited {
  text-decoration: none;
}
.hContent.linklist li a,
.hContent.linklist li a.internal-link.arrow_right {
  margin-bottom: 5px;
}
.hContent.linklist li a.external-link {
  margin: 0;
}
.hContent.linklist li a.internal-link.arrow_right,
.hContent.linklist li a.external-link {
  text-decoration: none;
  margin: 5px 0;
}
.hContent.bulletlist {
  list-style-position: outside;
  margin-top: 10px;
}
.hContent.bulletlist li {
  margin: 0 0 0 25px;
  display: block;
}
.hContent.bulletlist li:before {
  content: "•";
  color: #004e66;
  margin: -1px 0 0 -25px;
  display: block;
  position: absolute;
}
.hContent.borderbox {
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #bababa;
  padding-left: 10px;
  background: white;
}
.hContent.borderbox .innerDiv {
  margin: 10px;
}
.hContent.borderbox .innerDiv p,
.hContent.borderbox .innerDiv a,
.hContent.borderbox .innerDiv h4 {
  margin: 0 0 0 10px;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
.hContent.calltoaction {
  border: 2px solid #004e66;
  color: white;
  padding: 10px 20px 10px 45px;
  margin: 20px 30px 30px 0;
  font-family: 'Calibri';
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  min-width: 240px;
  background: #004e66 url('../img/ikon_pilmothoyre_hvit.png') no-repeat;
  background-position: 20px 50%;
  background-size: 10px;
  cursor: pointer;
  text-align: left;
  transition: all 0.5s;
}
.hContent.calltoaction:hover,
.hContent.calltoaction:focus {
  color: white;
  background: #02343f url('../img/ikon_pilmothoyre_hvit.png') no-repeat;
  background-position: 20px 50%;
  background-size: 10px;
}
.hContent.calltoaction.secondary {
  border: 2px solid #0093a7;
  background: #ffffff url('../img/ikon_pilmothoyre.png') no-repeat;
  background-position: 20px 50%;
  background-size: 10px;
  color: #004e66;
}
.hContent.calltoaction.secondary:hover,
.hContent.calltoaction.secondary:focus {
  background: #0093a7 url('../img/ikon_pilmothoyre_hvit.png') no-repeat;
  background-position: 20px 50%;
  background-size: 10px;
  color: white;
}
iframe.hContent {
  margin-bottom: 23px;
}
.hContent.external-link {
  background: url('../img/navigasjon/ikon_eksternlenke.svg') right no-repeat;
  background-size: 16px 16px;
  padding-right: 22px;
  text-decoration: none;
  margin: 15px 0;
  display: inline-block;
}
.hContent.external-link.inline,
.hContent.external-link .inline:visited {
  text-decoration: none;
  margin: 0;
}
.hContent.external-link:visited {
  background: url('../img/navigasjon/ikon_eksternlenkebesoekt.svg') right no-repeat;
  background-size: 16px 16px;
}
.hContent.internal-link {
  text-decoration: none;
  color: #004e66;
  display: inline-block;
}
.hContent.internal-link:visited {
  color: #0093a7;
}
.hContent.internal-link h2,
.hContent.internal-link h3,
.hContent.internal-link h4,
.hContent.internal-link p {
  display: inline;
}
.hContent.internal-link.arrow_right {
  margin: 15px 0;
  padding-bottom: 4px;
}
.hContent.internal-link.arrow_right:after {
  padding-left: 10px;
  content: "\f105";
  font-family: "FontAwesome";
  font-size: inherit;
  text-decoration: none;
  position: absolute;
  padding-top: 3px;
}
.hContent.internal-link.inline,
.hContent.internal-link.inline:visited {
  border-bottom: 1px solid #bababa;
}
.hContent.internal-link.inline:hover,
.hContent.internal-link.inline:visited:hover {
  border-bottom: 1px solid #bababa;
}
.hContent.internal-link:hover {
  text-decoration: none;
}
.hContent.internal-link:hover.arrow_right:after {
  text-decoration: none;
}
.hContent p.keyfigures,
.hContent h4.keyfigures {
  font-size: 36px;
  color: #c63629;
  line-height: 42px;
  font-family: "Soho Gothic W01 Light";
}
.hContent.header3 {
  font-size: 28px;
  font-family: "Soho Gothic W01 Regular";
  margin: 55px 0 0 0;
  line-height: 34px;
}
.hContent.module {
  display: inline-block;
  margin: 0 0 30px 0;
  padding: 30px 30px 30px 30px;
  background: white;
  position: relative;
}
.hContent.module.maincolumn {
  margin-top: 30px;
}
.hContent.module .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 5px;
}
.hContent.module a .module_header {
  color: #0093a7;
}
.hContent.module .module_header {
  font-family: "Soho Gothic W01 Regular";
  font-size: 24px;
  line-height: 30px;
  color: #222;
}
.hContent.module .module_header .internal-link.arrow_right {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
}
.hContent.module .module_theme {
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
  margin-right: 10px;
}
.hContent.module .module_ingress {
  display: inline;
}
.hContent.module img.pulse {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -19px;
  height: 100px;
}
.hContent.module.module_related {
  border-left: 2px solid #a1bf37;
}
.hContent.module.module_related .bulletlist {
  margin-top: 10px;
}
.hContent.module.module_related .bulletlist li:before {
  color: #a1bf37;
}
.hContent.module.module_related .illustration {
  display: blockmo;
}
.hContent.module.module_publication {
  border-left: 2px solid #df9922;
}
.hContent.module.module_guidelines {
  border-left: 2px solid #c63629;
}
.hContent.module.module_facts {
  border-left: 2px solid #0093a7;
  margin-top: 30px;
}
.hContent.module.module_facts .bulletlist {
  margin-top: 10px;
}
.hContent.module.module_facts .bulletlist li:before {
  color: #0093a7;
}
.hContent.module.module_statistics_text,
.hContent.module.module_statistics_graph {
  border-left: 2px solid #6cb4b5;
}
.hContent.module.module_statistics_text h5,
.hContent.module.module_statistics_graph h5 {
  color: #004e66;
}
.hContent.module.module_statistics_text .keyfigures,
.hContent.module.module_statistics_graph .keyfigures {
  font-size: 36px;
  color: #c63629;
  margin: 30px 0 5px 0;
}
.hContent.module.module_statistics_text .subject,
.hContent.module.module_statistics_graph .subject {
  margin: 5px 0 20px 0;
}
.hContent.module.module_statistics_text a,
.hContent.module.module_statistics_graph a {
  margin-top: 30px;
  line-height: 22px;
  display: block;
}
.hContent.module.module_statistics_graph {
  max-width: 300px;
}
.hContent.module .external-link {
  margin-top: 0;
}
.hContent.module.module_subscribe {
  margin: 40px 0 0 0;
  padding: 0 0 5px 0;
  max-width: 300px;
  background: none;
  width: 100%;
}
.hContent.module.module_subscribe p {
  font-size: 18px;
  margin: 0;
  color: #004e66;
  text-transform: uppercase;
}
.hContent.module.module_subscribe .header {
  border-top: 2px solid #004e66;
  padding-top: 15px;
  margin-bottom: 10px;
}
.hContent.module.module_subscribe a {
  font-size: 18px;
  margin: 0 40px 0 0;
  text-decoration: none;
  color: #004e66;
}
.hContent.module.module_subscribe a:visited {
  color: #004e66;
  text-decoration: none;
}
.hContent.module.module_subscribe a:hover {
  text-decoration: none;
}
.hContent.module.module_subscribe div {
  float: left;
  margin-right: 10px;
}
.hContent.module.module_subscribe .e-mail {
  width: 28px;
  height: 23px;
  padding-left: 40px;
  background: url(../img/modules/icons/epost_regular.svg) no-repeat;
  background-size: 27px 20px;
}
.hContent.module.module_subscribe .e-mail:hover {
  background: url(../img/modules/icons/epost_hover.svg) no-repeat;
  background-size: 28px 23px;
}
.hContent.module.module_subscribe .e-mail p {
  display: inline;
  vertical-align: bottom;
  font-size: 16px;
}
.hContent.module.module_subscribe .rss {
  width: 28px;
  height: 23px;
  padding-left: 40px;
  background: url(../img/modules/icons/rss_regular.svg) no-repeat;
  background-size: 27px 20px;
}
.hContent.module.module_subscribe .rss:hover {
  background: url(../img/modules/icons/rss_hover.svg) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.hContent.module.module_subscribe .rss p {
  display: inline;
  vertical-align: bottom;
  font-size: 16px;
}
.hContent.module.module_message {
  display: inline-block;
  margin: 100px 0 0 0;
  padding: 30px 30px 45px 30px;
  background: white;
  position: relative;
  width: 100%;
}
.hContent.module.module_message .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 25px;
}
.hContent.module.module_message .module_header {
  font-family: "Soho Gothic W01 Regular";
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 25px;
  color: #222;
}
.hContent.module.module_message .message {
  margin-left: 30px;
}
.hContent.module.module_message.error img,
.hContent.module.module_message.warning img {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -19px;
  height: 100px;
}
.hContent.module.module_message.error {
  border: 2px solid #DF301D;
}
.hContent.module.module_message.warning {
  border: 2px solid #f4d01e;
}
.hContent.module.module_message.bubble {
  border: 2px solid #0093a7;
  margin-bottom: 70px;
}
.hContent.module.module_message.bubble img {
  position: absolute;
  right: 50px;
  bottom: 0;
  margin-bottom: -18px;
  width: 100px;
}
.hContent.module.module_message.date {
  border: 2px solid #0093a7;
  margin-bottom: 70px;
  text-align: center;
}
.hContent.module.module_message.date .keyfigures {
  text-align: center;
}
.hContent.module.module_message.date_small {
  border: 2px solid #0093a7;
  margin: 30px 0 10px 0;
  padding: 5px 20px;
}
.hContent.module.module_message.date_small .keyfigures {
  text-align: center;
  color: #c63629;
  margin-left: 30px;
  font-size: 24px;
  font-family: "Soho Gothic W01 Regular";
}
.hContent.module.module_message.date_small_closed {
  border: 2px solid #0093a7;
  margin: 30px 0 10px 0;
  padding: 5px 20px 15px 20px;
  font-family: "Soho Gothic W01 Regular";
  font-size: 24px;
  color: #838078;
}
.hContent.module.module_message.date_small_closed .keyfigures {
  margin: 0 30px;
}
.hContent.module.module_message.date_small_closed .module_header {
  color: #838078;
}
.hContent.module.module_message.date_small_closed .closed {
  color: #c63629;
  display: block;
}
.hContent.module.module_person {
  margin: 0;
  padding: 20px 0 0 0;
  width: 100%;
  background: none;
}
.hContent.module.module_person h3 {
  margin-bottom: 1rem;
}
.hContent.module.module_person span {
  padding: 0;
  line-height: 22px;
}
.hContent.module.module_person .role,
.hContent.module.module_person .phone,
.hContent.module.module_person .e-mail {
  margin: 0;
  font-size: 18px;
}
.hContent.module.module_person .name {
  font-size: 28px;
  line-height: 30px;
}
.hContent.module.module_person img {
  width: 36%;
  margin-right: 19px;
  float: left;
  margin-bottom: 14px;
}
.hContent.module.module_person .module_description {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 15px;
  border-top: 2px solid #004e66;
  padding-top: 15px;
}
.hContent.module.module_print,
.hContent.module.module_social {
  padding: 0;
  background: none;
  border-top: 2px solid #004e66;
  padding-top: 19px;
  margin: 60px 0 0 0;
  width: 100%;
}
.hContent.module.module_print p,
.hContent.module.module_social p,
.hContent.module.module_print span,
.hContent.module.module_social span {
  float: left;
}
.hContent.module.module_print span,
.hContent.module.module_social span {
  margin: 0 10px 0 0;
  height: 24px;
  width: 26px;
}
.hContent.module.module_print .ikon_print,
.hContent.module.module_social .ikon_print {
  display: block;
}
.hContent.module.module_print .ikon_facebook,
.hContent.module.module_social .ikon_facebook {
  background: url(../img/modules/icons/facebook_reg.svg) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.hContent.module.module_print .ikon_twitter,
.hContent.module.module_social .ikon_twitter {
  background: url(../img/modules/icons/twitter_blaa.svg) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.hContent.module.module_print .ikon_skrivut,
.hContent.module.module_social .ikon_skrivut {
  background: url(../img/modules/icons/skriv_ut_regular.svg) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.hContent.module.module_print p,
.hContent.module.module_social p {
  width: 70px;
  margin: 0 20px 0 0;
  color: #004e66;
  text-transform: uppercase;
  display: inline;
  vertical-align: bottom;
  font-size: 16px;
}
.hContent.module.module_print .ikon_skrivut:hover,
.hContent.module.module_social .ikon_skrivut:hover {
  background: url(../img/modules/icons/skriv_ut_hover.svg) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.hContent.module.module_print .ikon_facebook:hover,
.hContent.module.module_social .ikon_facebook:hover {
  background: url(../img/modules/icons/facebook_hover.svg) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.hContent.module.module_print .ikon_twitter:hover,
.hContent.module.module_social .ikon_twitter:hover {
  background: url(../img/modules/icons/twitter_hover.svg) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.hContent.showmorenews {
  width: 250px;
  text-align: center;
  margin: 50px 0;
  color: #004e66;
  background: #d1d0cf url(../img/spinner.png) no-repeat;
  font-family: 'Calibri';
  font-size: 20px;
  line-height: 24px;
  -moz-background-size: 12%;
  -o-background-size: 12%;
  -webkit-background-size: 12%;
  background-size: 12%;
  background-position: 7% 50%;
  transition: all 0.5s;
}
.hContent.showmorenews a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #222;
  padding: 10px 20px 10px 30px;
}
.hContent.showmorenews a:hover {
  text-decoration: none;
}
.hContent.showmorenews.selected {
  background: #004e66;
}
.hContent.showmorenews.selected a,
.hContent.showmorenews.selected a:visited {
  color: white;
}
.hContent.showmorenews:hover {
  background: #bababa url(../img/spinner.png) no-repeat;
  -moz-background-size: 12%;
  -o-background-size: 12%;
  -webkit-background-size: 12%;
  background-size: 12%;
  background-position: 7% 50%;
}
.hContent.crisis {
  margin: 15px;
  padding-bottom: 50px;
  background: #f4d01e;
  padding-top: 1px;
}
.hContent.crisis h1 {
  background-color: #f4d01e;
  background-image: url(../img/kriseikon_trekant.svg);
  background-size: 49px;
  background-position: left;
  background-repeat: no-repeat;
  color: #222;
  padding-left: 80px;
}
.hContent.crisis .fa-exclamation {
  color: #df9922;
  font-size: 2em;
}
.hContent.crisis .calltoaction {
  border-color: #222;
  color: #222;
}
.hContent.crisis .calltoaction:hover {
  background: #666460 url(../img/ikon_pilmothoyre_hvit.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  color: white;
}
.hContent.crisis .calltoaction:hover:before {
  color: white;
}
.hContent.crisis .border_crisis {
  border-bottom: 5px solid #222;
  padding-bottom: 20px;
  width: 100%;
}
.hContent.crisis #volcano {
  height: 100px;
  margin: 40px 60px;
  display: block;
}
.hContent.crisis .bulletlist li:before {
  content: "•";
  color: #222;
  margin-right: 20px;
}
.hContent.crisis .urgentinformation {
  padding-left: 50px;
}
.hContent.crisis a {
  text-decoration: underline;
  color: #222;
}
.hContent.crisis a:hover,
.hContent.crisis a:visited {
  color: #222;
}
.hContent.crisis_banner {
  background: #f4d01e;
  height: 100px;
}
.hContent.crisis_banner .container {
  background-color: #f4d01e;
  background-image: url(../img/kriseikon_trekant.svg);
  background-size: 49px;
  background-position: left;
  background-repeat: no-repeat;
}
.hContent.crisis_banner h1 {
  font-size: 28px;
  line-height: 34px;
  margin: 33px 0 0 58px;
  padding: 0;
  color: #222;
  float: left;
}
.hContent.crisis_banner .crisis_info {
  float: left;
  margin-left: 40px;
  max-width: 530px;
  color: #222;
}
.hContent.crisis_banner .crisis_link {
  float: left;
  margin: 63px 0 0 20px;
  display: block;
  color: #222;
}
.hContent.crisis_banner .crisis_link:hover,
.hContent.crisis_banner .crisis_link:visited {
  color: #222;
}
/**Kurs og konferanse*/
/**Felles*/
.hContent.border {
  border-bottom: 2px solid #004e66;
  padding-bottom: 20px;
  width: 100%;
}
.hContent.checkbox {
  margin-right: 20px;
}
input.hContent[type="radio"] {
  float: left;
  width: 0;
  opacity: 0;
  height: 0;
}
input.hContent[type="radio"]:focus + label,
input.hContent[type="radio"]:active + label {
  background: #004e66;
  color: white;
}
input.hContent[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
  background: url('../img/navigasjon/radioknapp_inaktiv.svg') top left no-repeat;
  cursor: pointer;
  -moz-background-size: 19px;
  -o-background-size: 19px;
  -webkit-background-size: 19px;
  background-size: 19px;
}
input.hContent[type="radio"] + label span:hover {
  background: url('../img/navigasjon/radioknapp_hover.svg') top left no-repeat;
  -moz-background-size: 19px;
  -o-background-size: 19px;
  -webkit-background-size: 19px;
  background-size: 19px;
}
input.hContent[type="radio"]:checked + label span {
  background: url(../img/navigasjon/radioknapp_valgt.svg) top no-repeat;
  -moz-background-size: 19px;
  -o-background-size: 19px;
  -webkit-background-size: 19px;
  background-size: 19px;
}
input.hContent[type="checkbox"] {
  float: left;
  width: 0;
  opacity: 0;
  height: 0;
}
input.hContent[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -5px 10px 0 0;
  vertical-align: middle;
  background: url('../img/navigasjon/checkbox_inaktiv.svg') top left no-repeat;
  cursor: pointer;
  -moz-background-size: 19px;
  -o-background-size: 19px;
  -webkit-background-size: 19px;
  background-size: 19px;
}
input.hContent[type="checkbox"] + label span:hover {
  background: url('../img/navigasjon/checkbox_hover.svg') top left no-repeat;
  -moz-background-size: 19px;
  -o-background-size: 19px;
  -webkit-background-size: 19px;
  background-size: 19px;
}
input.hContent[type="checkbox"]:checked + label span {
  background: url(../img/navigasjon/checkbox_valgt.svg) top no-repeat;
  -moz-background-size: 19px;
  -o-background-size: 19px;
  -webkit-background-size: 19px;
  background-size: 19px;
}
fieldset.hContent {
  border: none !important;
}
.hContent.form label {
  display: block;
  margin-bottom: 10px;
}
.hContent.form input {
  margin-bottom: 20px;
  padding: 5px 10px;
}
.hContent.form .form_field_standard {
  border: 1px solid #004e66;
}
.hContent.form .form_field_zip {
  border: 1px solid #004e66;
  width: 4em;
}
.hContent.cancelbutton {
  background: #004e66;
  color: white;
  font-family: 'Calibri';
  font-size: 20px;
  padding: 7px;
  text-align: center;
  width: 150px;
  border: none;
}
.hContent.cancelbutton:hover {
  background: #02343f;
}
.hContent.dropdown label {
  display: block;
  margin-bottom: 5px;
}
.hContent.dropdown select {
  width: 100%;
  border: 1px solid #004e66;
  font-family: 'Calibri';
  font-size: 20px;
  padding: 5px 38px 4px 10px;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /* Removes Default Firefox style*/
  background: #ffffff url('../img/knapp_nedtrekksmeny.png') no-repeat;
  /*Adds background-image*/
  background-position: 100%;
  /*Position of the background-image*/
  text-indent: 0.01px;
  text-overflow: '';
  color: #222;
}
.hContent.dropdown select::-ms-expand {
  display: none;
}
.hContent.dropdown select:hover,
.hContent.dropdown select:focus,
.hContent.dropdown select:active {
  background: #004e66 url('../img/knapp_nedtrekksmeny_hvit.png') no-repeat;
  background-position: 96%;
  -moz-background-size: 20px;
  -o-background-size: 20px;
  -webkit-background-size: 20px;
  background-size: 20px;
  color: white;
}
.hContent.refinesearch {
  width: 300px;
}
.hContent.refinesearch h2,
.hContent.refinesearch h5 {
  border-top: 2px solid #004e66;
  margin-bottom: 17px;
  padding-top: 15px;
  font-family: 'Calibri';
  line-height: 20px;
  text-transform: uppercase;
  font-size: 18px;
  color: #004e66;
}
.hContent.refinesearch select {
  margin-bottom: 20px;
}
@-moz-document url-prefix() {
  .hContent.refinesearch .form-group {
    overflow: hidden;
  }
  .hContent.refinesearch .form-group select {
    width: 317px;
  }
}
.hContent.table_general {
  border: 1px solid #91c6c2;
  margin: 20px auto;
}
.hContent.table_general thead th {
  background: #91c6c2;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  line-height: 20px;
}
.hContent.table_general tr {
  background: #dfe8e7;
}
.hContent.table_general tr.odd {
  background: white;
}
.hContent.table_general tbody th,
.hContent.table_general td {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}
.hContent.table_general tbody th a,
.hContent.table_general td a {
  line-height: 24px;
}
.hContent.table_general.alignleft th,
.hContent.table_general.alignleft td {
  text-align: left;
}
.hContent.iveCharts {
  margin: 0 auto 20px auto;
  width: 100%;
  height: 300px;
}
.hContent.iveCharts .columnOuter {
  height: 100%;
  float: left;
  top: 0;
  text-align: center;
  position: relative;
  border-left: solid 1px #aaaaaa;
}
.hContent.iveCharts .columnOuter:first-of-type {
  border-left: none;
}
.hContent.iveCharts .columnOuter:after {
  clear: both;
}
.hContent.iveCharts .columnHolder {
  float: left;
  width: 50%;
  height: 90%;
  top: 0;
  position: relative;
}
.hContent.iveCharts .columnHolder:after {
  clear: both;
}
.hContent.iveCharts .number {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.hContent.iveCharts .number.small {
  font-size: 16px;
}
.hContent.iveCharts .column {
  bottom: 10%;
  position: absolute;
}
.hContent.iveCharts .column:hover {
  border: solid 1px #333;
  opacity: 0.7;
  /*cursor: pointer;*/
}
.hContent.iveCharts .title {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
}
.hContent.iveCharts .title.small {
  font-size: 16px;
}
#graph-source {
  font-size: 18px;
  margin-right: 10px;
}
.hContent.image_intext {
  float: right;
  display: table;
  width: 87px;
  margin: 20px 0 20px 30px;
}
.hContent.image_intext figcaption {
  font-size: 18px;
}
.hContent.transportsideknapp a {
  display: block;
  width: 100%;
  height: 100%;
  color: #222;
  text-decoration: none;
}
.hContent.transportsideknapp a h2 {
  color: #0093a7;
  margin: 35px 0 0 0;
}
.hContent.transportsideknapp a h2:after {
  padding-left: 10px;
  content: "\f105";
  font-family: "FontAwesome";
  font-size: inherit;
  text-decoration: none;
}
.hContent.transportsideknapp a:visited {
  text-decoration: none;
  color: #222;
}
.hContent.transportsideknapp a:visited h2 {
  color: #0093a7;
}
.hContent.transportsideknapp a:hover {
  text-decoration: none;
  color: #222;
}
.hContent.transportsideknapp a:hover h2 {
  text-decoration: none;
  color: #0093a7;
}
.hContent.transportsideknapp p {
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .hContent.aside {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: -77%;
  }
  .hContent.aside.module_person {
    top: auto;
  }
  .hContent.aside.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    margin-right: -77%;
  }
  .hContent.module_person.kontakt {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: -54%;
    width: 386px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .hContent.aside {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: -79%;
  }
  .hContent.aside.module_person {
    top: auto;
  }
  .hContent.aside.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    margin-right: -71%;
  }
  .hContent.aside.top {
    margin-right: -72%;
  }
}
@media only screen and (max-width: 1199px) {
  .hContent.refinesearch {
    margin-top: 30px;
    margin-left: 0;
    max-width: 300px;
    width: auto;
  }
  .hContent.border {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .hContent.statistics_compare button {
    margin-top: 30px;
  }
  .hContent.hidden_links {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  iframe.hContent {
    width: 100%;
  }
  .hContent.module_subscribe {
    margin: 0;
    padding: 0;
  }
  .hContent.module_message {
    margin: 0;
  }
  .hContent.aside {
    margin-top: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .hContent.socialmedia a:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}
@media only screen and (min-width: 600px) {
  .hContent.transportsideknapp {
    border: none;
  }
  .hContent.transportsideknapp .fa-chevron-right {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .hContent.aside,
  .hContent.aside.bottom {
    width: auto;
  }
  h1.hContent {
    font-size: 30px;
    line-height: 36px;
    margin-top: 40px;
  }
  h2.hContent {
    font-size: 28px;
    line-height: 32px;
  }
  h3.hContent {
    font-size: 26px;
    line-height: 30px;
  }
  h4.hContent {
    font-size: 22px;
    line-height: 28px;
  }
  .hContent.ingress {
    font-size: 23px;
  }
  .hContent.statistics_compare {
    background: #ddd;
    border-radius: 5px;
  }
  .hContent.tabs .tab-content ul {
    margin-bottom: 0;
  }
  .hContent.tabs .tab-content ul li {
    padding: 5px 0;
  }
  .hContent.accordion_mobile {
    border-bottom: 1px solid #004e66;
    padding-bottom: 10px;
  }
  .hContent.xs-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .hContent.entrancebutton {
    margin: 7.5px 0 7.5px 0;
    width: 100%;
    height: auto;
  }
  .hContent.entrancebutton a .innerDiv {
    margin-top: 15px;
  }
  .hContent.entrancebutton a .innerDiv h2 {
    font-size: 28px;
  }
  .hContent.socialmedia a:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .hContent.transportsideknapp {
    margin: 10px 0 10px 0;
    padding: 5px 0 20px 15px;
    background: white;
  }
  .hContent.transportsideknapp h2,
  .hContent.transportsideknapp p {
    margin: 0;
  }
  .hContent.breadcrumbs {
    margin: 0;
  }
  .hContent.breadcrumbs li {
    display: none;
  }
  .hContent.breadcrumbs li:last-child {
    display: block;
  }
  .hContent.breadcrumbs li:last-child:before {
    font-family: "FontAwesome";
    content: '\f104';
    color: #004e66;
    font-size: 25px;
    margin: 0 5px 0 5px;
    vertical-align: middle;
  }
  .hContent.statistics_table table,
  .hContent.statistics_table tbody {
    display: block;
    width: 100%;
  }
  .hContent.statistics_table table thead {
    display: none;
  }
  .hContent.statistics_table table tr,
  .hContent.statistics_table table th,
  .hContent.statistics_table table td {
    display: block;
    white-space: normal;
    border: 0;
  }
  .hContent.statistics_table table tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }
  .hContent.statistics_table table th[data-title]:before,
  .hContent.statistics_table table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }
  .hContent.statistics_table table tbody th:first-child {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
  }
  .hContent.statistics_table table tbody th:first-child:before {
    content: '';
  }
  .hContent.toppmeny .tab-links li,
  .hContent.tabs .tab-links li,
  .hContent.tabs-statistics .tabs .tab-links li {
    width: 114px;
    font-size: 12px;
  }
  .hContent.table_general {
    display: block;
    width: 100%;
  }
  .hContent.table_general tbody {
    display: block;
    width: 100%;
  }
  .hContent.table_general thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .hContent.table_general tr,
  .hContent.table_general th,
  .hContent.table_general td {
    display: block;
  }
  .hContent.table_general tr {
    padding-bottom: 11px;
  }
  .hContent.table_general tbody th,
  .hContent.table_general td {
    border: none;
    position: relative;
    padding: 0;
    padding-left: 50%;
  }
  .hContent.table_general tbody th:before,
  .hContent.table_general td:before {
    position: absolute;
    left: 15px;
    padding-right: 10px;
    white-space: nowrap;
  }
  .hContent.table_general th[data-title]:before,
  .hContent.table_general td[data-title]:before {
    content: attr(data-title);
  }
  .hContent.table_general tbody th:first-child {
    background: #d1d0cf;
    font-weight: bold;
    padding: 5px 0 5px 15px;
    text-align: left;
  }
  .hContent.table_general caption {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  .hContent.module_message {
    padding: 15px 15px 25px 15px;
  }
  .hContent.module_message .module_description {
    margin-left: 10px;
  }
  .hContent.chart_div {
    height: 300px;
    margin: 20px 0;
  }
  .hContent.module.module_message.date_small_closed .keyfigures {
    display: block;
    margin: 0;
  }
}
@media braille {
  .hContent.has-hidden-content div {
    display: block !important;
  }
  .hContent.hidden-mobile {
    display: block !important;
  }
  #map {
    display: none;
  }
}
/*# sourceMappingURL=common.css.map */