@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@fontSohoRegular: "soho gothic pro regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.tilskudd {
    padding: 25px 0 10px 0;
    border-bottom: 1px solid black;

    a {
        text-decoration: underline;
    }

    p {
        margin: 0;
    }
}

.tilskudd_sortcontrols {
    border-bottom: 1px solid black;
    margin-top: 20px;

    form {
        display: inline;

        label {
            margin: 0 10px 0 5px;
        }
    }
}

#tilskuddsaar {
    display: none;
}

.tilskudd_information {
    .tilskudd_info_attributes {
        width: 35%;
        float: left;
        margin-right: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}