@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@fontSohoRegular: "soho gothic pro regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.tilskudd {
    margin-bottom: 10px;

    a {
        text-decoration: none;
    }

    p {
        margin: 0;
    }

    h2.internal-link.aftertext {
        margin-bottom: 0;
    }
}

.tilskudd_sortcontrols {
    .checkbox {
        display: inline-block;
    }

    margin-top: 35px;
    height: 25px;
}

#tilskuddsaar {
    display: none;
}

.tilskudd_information {
    .tilskudd_info_attributes {
        width: 35%;
        float: left;
        margin-right: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}

.numberofcontributions {
    text-transform: uppercase;
    color: @colorDarkBlue;
    font-size: 18px;
    margin-bottom: 30px;
}

.border {
    padding-bottom: 57px;
}

@media only screen and (min-width:599px) {
    .aside {
        margin-top: 0;
    }
}