.minimertTekst
{
    min-height: 70px;
    background: whitesmoke;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

}

.utvidbarMeny{
    width:330px;
    min-height: 70px;
    border:1px solid #eeeeee;
    background: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

}

.abonnement{
    width:250px;
    min-height: 70px;
    border:1px solid gray;
    background: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    clear: both;
    overflow: auto;
}

h1{
    font-size: 2em;
    font-family: "Soho Gothic Pro Medium";
}

#ingress{
    font-size: 1.125em;
    font-family: "Soho Gothic Pro Medium";


}

h2{
    font-family: "Soho Gothic Pro Medium";
}

h3{
    font-size: 1.125em;
    font-family: "Soho Gothic Pro Medium";
}

a{
text-decoration: underline;
    color: #004e66;

}

a:visited{
    color: #df9922
;
}

.alignLeft{
    float:left;
}

.alignRight{
    float: right;
}

.kontaktModul{
    font-family: "soho gothic pro medium";
    /*float: right;*/
    margin: 4px 0;
    padding-left: 2rem;
    display: inline-block;
}


#sidelogo{

    background-color: #ffffff;
    background-image: url('../img/HDIR-LOGO-HORISONTAL-NEW.png');
    background-repeat: no-repeat;
    min-height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fargeboks1{
    width: 6.250em;
    height: 0.625em;
    background:#004e66;
    display: inline-block;
  float: left;
}
.fargeboks2{
    width: 6.250em;
    height: 0.625em;
    background:#6cb4b5;
    display: inline-block;
float: left;
}
.fargeboks3{
    width: 6.250em;
    height: 0.625em;
    background:#0093a7;
    display: inline-block;
    float: left;
}

.nedlastingsLinker {
    list-style-type: none;
    padding: 12px;
}

.nedlastingsLinker li {
    margin-bottom: 15px;
}

.nedlastingsLinker img {
    vertical-align: bottom;
    height: 1.3em;
}

.menyknapp {
    cursor: pointer;
}