html {
  font-size: 100%;
}
body {
  font-family: 'Calibri';
  font-size: 20px;
  /*font-weight: 300;*/
  color: #222;
  margin-bottom: 2.300em;
  padding: 0;
  line-height: 1.750em;
}
h1 {
  font-size: 2.800em;
  font-family: "soho gothic pro light";
  font-weight: normal;
}
.ingress {
  font-size: 1.579em;
  font-family: 'Calibri';
}
h2 {
  font-size: 1.200em;
  font-family: "soho gothic pro light";
  font-weight: normal;
}
.has-hidden-content {
  padding: 0 0 0 10px;
  margin-bottom: 8px;
  border: 1px solid #222;
  cursor: pointer;
}
.has-hidden-content h2 {
  font-size: 1.100em;
  cursor: pointer;
}
.has-hidden-content h2:after {
  font-family: "FontAwesome";
  content: "\f054";
  float: right;
  padding-right: 10px;
}
.has-visible-content {
  border: 1px solid #222;
  padding: 0 0 0 10px;
  margin-bottom: 8px;
}
.has-visible-content h2 {
  font-size: 1.100em;
  cursor: pointer;
}
.has-visible-content h2:after {
  font-family: "FontAwesome";
  content: "\f078";
  float: right;
  padding-right: 10px;
}
h3 {
  font-size: 1em;
  margin-bottom: 2.875rem;
}
h4 {
  font-family: "soho gothic pro light";
  font-size: 26px;
}
#logo {
  background: white;
  padding: 1rem 1rem 1.7rem 1rem;
  max-height: 106px;
}
a {
  text-decoration: none;
  color: #004e66;
}
a:hover {
  text-decoration: underline;
  color: #cc00cc;
  /* hot pink? */
}
header {
  background: #004e66;
}
header a,
header a:hover,
header a:visited {
  color: black;
  text-decoration: none;
}
footer.rammeverk {
  height: 100%;
  color: white;
  background: #004e66;
}
footer.rammeverk p {
  padding-left: 1.3rem;
  margin: 0.5rem;
}
footer.rammeverk img {
  padding-left: 1.8rem;
  vertical-align: middle;
  padding-right: 0.4rem;
}
footer.rammeverk a,
footer.rammeverk a:visited {
  text-decoration: none;
  color: white !important;
}
.nedlastingsLinker {
  margin: 0;
  padding: 0;
}
.menylinje p span a,
.menylinje > p > span {
  color: white;
}
#mobilmeny {
  background: #004e66;
  float: right;
}
#menyknapp {
  width: 2rem;
}
.fonttest {
  font-family: Calibri;
  font-size: 100%;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.dropdownmeny {
  margin-left: 1rem;
}
.dropdownmeny ul li {
  border-top: 1px solid #df9922;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  border-bottom: 1px solid #df9922;
}
.dropdownmeny .dropdownmenyliste {
  margin: 0;
  /*height: 1.9em;*/
  display: inline;
  list-style-type: none;
}
.dropdownmeny .dropdownmenyliste ul li {
  background: white;
  color: black;
}
.dropdownmeny .dropdownmenyliste a {
  text-decoration: none;
}
#soekefelt {
  float: right;
  margin-top: 2rem;
}
#sokeknapp {
  width: 2rem;
}
#hovedmeny ul {
  height: 3rem;
  display: block;
}
#hovedmeny ul li {
  background: #004e66;
  float: left;
  text-align: center;
  padding-right: 1rem;
}
#hovedmeny ul li a {
  display: block;
  line-height: 1em;
  height: 1.5rem;
  width: 10em;
  text-decoration: none;
}
#hovedmeny ul li :hover {
  background: #df9922;
}
#hovedmeny a {
  color: white;
}
#hovedmeny .hovedmenypunkt {
  height: 1.6rem;
}
#hovedmeny .menypunkt {
  margin: 0.5rem;
}
.dropdownmeny {
  width: 40%;
}
.kontaktModul {
  color: #004e66;
  /*float: right;*/
  margin: 0;
  display: inline-block;
}
.kontaktModul p {
  line-height: 1.5rem;
  margin: 0;
}
.kontaktModul h3 {
  margin-bottom: 1rem;
}
.utvidbarOverskrift {
  width: 330px;
  min-height: 70px;
  border: 1px solid #eeeeee;
  background: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  padding-top: 0;
}
.faktaboks {
  position: relative;
  min-height: 70px;
  background: #b2babc;
  color: black;
  margin-bottom: 10px;
  padding: 10px;
}
.faktaboks .stripes-outer {
  top: -9px;
}
.faktaboks .stripes-under {
  top: 100%;
}
.faktaboks ul {
  list-style-type: square;
}
.faktaboks ul > li {
  color: #004e66;
}
.faktaboks ul > li > span {
  color: black;
}
.faktaboks h3 {
  text-align: center;
  height: 50%;
}
.faktaboks h4 {
  padding-left: 1.2rem;
}
.informasjonsboks {
  position: relative;
  min-height: 70px;
  color: Black;
  padding: 30px 30px 0 30px;
}
.informasjonsboks a {
  text-decoration: underline;
  cursor: pointer;
  color: #004e66;
}
.informasjonsboks a h4 {
  padding-left: 1.2rem;
  border-left: 1px solid #c63629;
  border-bottom: 1px solid #c63629;
  border-right: 1px solid #c63629;
  border-top: 0;
}
.informasjonsboks .seAlle-link {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.informasjonsboks ul {
  list-style-type: disc;
  padding-left: 1.4rem;
}
.informasjonsboks ul li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.informasjonsboks #retningslinjer > li {
  color: #c63629;
}
.informasjonsboks #tilskudd > li {
  color: #f4d01e;
}
.informasjonsboks.lover {
  border: 1px solid #c63629;
}
.informasjonsboks.lover .lover-liste > li {
  color: #c63629;
}
.informasjonsboks.retningslinjer {
  border: 1px solid #df9922;
}
.informasjonsboks.retningslinjer .retningslinjer-liste > li {
  color: #df9922;
}
.informasjonsboks .stripes {
  left: 0;
  width: 100%;
  top: -36px;
}
.informasjonsboks h4 {
  margin-bottom: 2rem;
}
/**Slett senere*/
#infoboks {
  float: none;
}
.kollapslenker h4 {
  width: 33%;
  border: 1px solid #eeeeee;
  background: #004e66;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.kollapslenker-graa h4 {
  width: 33%;
  border: 1px solid #eeeeee;
  background: #b2babc;
  color: #004e66;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.kollapslenker-graa h4 .fa-chevron-down {
  color: black;
}
.fa-chevron-right {
  font-size: 1.5em;
  color: #df9922;
  float: right;
  padding-top: 0.3rem;
}
.fa-chevron-down {
  padding-top: 0.3rem;
  font-size: 1.5em;
  float: right;
}
#tabs #tabheading-1 {
  border-top: 7px solid #004e66;
  border-bottom: 7px solid white;
  border-right: 2px solid #0093a7;
}
#tabs #tabheading-2 {
  border-bottom: 7px solid #6cb4b5;
  border-top: 7px solid white;
}
#tabs a {
  color: #004e66;
}
#statistikk {
  width: 90rem;
}
#statistikk #tabheading-1 {
  border-top: 7px solid #004e66;
  border-bottom: 7px solid white;
  border-right: 2px solid #0093a7;
}
#statistikk #tabheading-2 {
  border-bottom: 7px solid #6cb4b5;
  border-top: 7px solid white;
}
#statistikk a {
  color: #004e66;
}
#statistikk .fa-chevron-down {
  color: #df9922;
}
.kollapslenker-tabs h4 {
  border: 1px solid #eeeeee;
  background: #aeaba8;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.kollapslenker-tabs h4 .fa-chevron-down {
  color: #004e66;
}
.minimertTekst {
  min-height: 70px;
  background: whitesmoke;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}
.abonnement {
  width: 250px;
  min-height: 70px;
  border: 1px solid gray;
  background: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  clear: both;
  overflow: auto;
}
a {
  text-decoration: underline;
  color: #004e66;
  font-size: 1em;
  line-height: 35px;
}
a:visited {
  color: #df9922
;
}
.alignLeft {
  float: left;
}
.alignRight {
  float: right;
}
#sidelogo {
  background-color: #ffffff;
  background-image: url('../img/HDIR-LOGO-HORISONTAL-NEW.png');
  background-repeat: no-repeat;
  min-height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fargeboks1 {
  width: 6.250rem;
  height: 0.625rem;
  background: #004e66;
  display: inline-block;
  float: left;
}
.fargeboks2 {
  width: 6.250rem;
  height: 0.625rem;
  background: #6cb4b5;
  display: inline-block;
  float: left;
}
.fargeboks3 {
  width: 6.250rem;
  height: 0.625rem;
  background: #0093a7;
  display: inline-block;
  float: left;
}
.nedlastingsLinker {
  list-style-type: none;
}
.nedlastingsLinker li {
  margin-bottom: 15px;
}
.nedlastingsLinker img {
  vertical-align: text-bottom;
  height: 1.3rem;
}
.menyknapp {
  cursor: pointer;
}
article .innholdswrapper {
  min-height: 70px;
  background: whitesmoke;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}
article .has-hidden-content h3,
article .has-visible-content h3 {
  padding-right: 1.5rem;
}
article .has-hidden-content h3:before,
article .has-visible-content h3:before {
  font-family: FontAwesome;
  content: "\f106";
  float: right;
  margin-right: -0.7rem;
  font-size: 2rem;
}
article .has-hidden-content h3:before {
  content: "\f107";
  font-size: 2rem;
}
#breakpoint {
  color: white;
}
#hovedmeny div {
  float: right;
}
#elementer {
  display: inline;
}
.hhs .topplinje {
  color: white;
  background: #004e66;
}
.hhs .toppmeny ul a,
.hhs .toppmeny ul a:visited {
  color: #fff;
}
.hhs h1,
.hhs h2 {
  font-family: "soho gothic pro light";
}
.hhs h2 {
  font-size: 2em;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.hhs #hovedtittel {
  font-size: 3em;
  padding-top: 2em;
  padding-bottom: 1em;
  font-weight: normal;
  height: auto;
  line-height: 1.2em;
  margin: 0;
}
.hhs .ingress {
  max-width: 500px;
  margin-bottom: 3em;
  line-height: 1.5em;
}
.hhs .illustrasjonOverskrift {
  font-family: "soho gothic pro light";
  color: #94928F;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  margin-top: 2rem;
  margin-bottom: 1em;
}
.hhs .sirkel {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
.hhs .illustrasjonsWrapper {
  float: left;
  margin-right: 1em;
}
.hhs #logo {
  width: 30%;
}
.hhs #bodyFont p {
  font-size: 1em;
  line-height: 30px;
}
.hhs #h2Font h2 {
  font-family: "soho gothic pro medium";
  font-size: 1.333em;
  margin: 0;
}
.hhs .boks {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 5em;
}
.hhs .illustrasjon table {
  margin-bottom: 1em;
}
.hhs .illustrasjon table tr:nth-child(odd) td,
.hhs .illustrasjon table tr:nth-child(odd) th {
  background-color: #ebeaea;
}
.hhs .illustrasjon table tr:nth-child(even) td,
.hhs .illustrasjon table tr:nth-child(even) th {
  background-color: white;
}
.hhs .illustrasjon table th,
.hhs .illustrasjon table td {
  width: 20em;
  padding: 0.5em;
}
.hhs .illustrasjon table .tableHeader {
  font-family: "soho gothic pro medium";
  color: #555;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
}
.hhs .ikoner img {
  width: 1.875rem;
  vertical-align: bottom;
  margin-right: 0.2em;
}
.hhs .c2aKnapp {
  width: 14.375rem;
  height: 2.3rem;
}
.hhs #toppmenyKnapp {
  vertical-align: text-top;
}
.hhs .faktaboks {
  width: 20rem;
}
.hhs .faktaboks ul {
  padding-left: 2rem;
  float: none;
}
.hhs #tabs {
  width: 35%;
}
.hhs .informasjonsboks {
  width: 30rem;
}
.hhs .transportsideknapp {
  width: 600px;
}
.hhs .skygge {
  position: relative;
}
.stripes {
  width: 75%;
  position: absolute;
  height: 6px;
  left: 12.5%;
  top: -6px;
}
.stripes .left,
.stripes .middle,
.stripes .right {
  width: 33%;
  float: left;
  height: 100%;
}
.stripes.cold .left {
  background: #004e66;
}
.stripes.cold .middle {
  background: #0093a7;
}
.stripes.cold .right {
  background: #6cb4b5;
}
.stripes.warm .left {
  background: #c63629;
}
.stripes.warm .middle {
  background: #df9922;
}
.stripes.warm .right {
  background: #f4d01e;
}
.stripes.left {
  left: 0;
}
.skygge {
  width: 75%;
  position: absolute;
  height: 5px;
  left: 12.5%;
  top: 100%;
}
.skygge > div {
  float: left;
  width: 100%;
  height: 100%;
}
.skygge .sort {
  background: black;
}
.skygge .orange {
  background: #df9922;
}
.skygge .roed {
  background: #c63629;
}
.skygge .blaa {
  background: #0093a7;
}
.skygge.bottom {
  left: 0;
  width: 100%;
  top: 5px;
}
.stripes-outer,
.stripes-under {
  position: relative;
}
.transportsideknapp {
  border: 1px solid #0093a7;
  padding: 1rem 1rem 1rem 0.5rem;
}
.transportsideknapp a,
.transportsideknapp a:hover,
.transportsideknapp a:visited {
  color: black;
  text-decoration: none;
}
.transportsideknapp .skygge {
  height: 3px;
  top: 19px;
}
.toppmeny ul {
  list-style-type: none;
  float: left;
  margin: 1rem 2rem 1rem 0;
  padding: 0 2rem 1rem 0;
}
.toppmeny ul h2 {
  margin-bottom: 0.7rem;
}
.toppmeny ul a,
.toppmeny ul a:visited {
  text-decoration: none;
  color: #004e66;
}
.pilIkon {
  width: 1.875rem;
  vertical-align: bottom;
  margin-right: 0.2em;
}
.topplinjeWrapper {
  overflow: auto;
  background: #004e66;
}
.dropdownWrapper {
  overflow: auto;
  background: white;
  color: #004e66;
}
.c2aKnapp {
  background-color: #df9922;
  line-height: 2.2rem;
  padding: 0;
  border: none;
}
.c2aKnapp h3 {
  font-family: 'Calibri';
  font-weight: bold;
  margin: 0;
}
.c2aKnapp img {
  float: right;
  width: 1.875rem;
  padding-top: 0.2rem;
}
.liten-informasjonsboks {
  border: 1px solid #222;
  padding: 10px 0 10px 10px;
  margin: 10px 0 10px 0;
}
.liten-informasjonsboks .blaasOpp {
  font-size: 3em;
}
.liten-informasjonsboks .forminsk {
  font-size: 0.8em;
}
.liten-informasjonsboks p,
.liten-informasjonsboks span,
.liten-informasjonsboks a {
  float: left;
}
/*# sourceMappingURL=customLESS.css.map */