@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@colorMorkBlaa: #004e66;
@colorOrange: #df9922;
@colorMediumBlaa: #0093a7;
@colorLysBlaa: #6cb4b5;
@colorGraa: #aeaba8;
@colorLysGraa: #B2BABC;
@colorLysLysGraa: #dbdcdd;
@colorRoed: #c63629;
@colorGul: #f4d01e;

html {
    font-size: 100%;
    background: @colorMorkBlaa;
}

body {
    padding: 0;
    font-size: 20px;
    font-family: 'Calibri';
    line-height: 1.750em;
    color: #222;
    background: white;
}

h1 {
    font-weight: normal;
    font-size: 2.800em;
    font-family: @fontSohoLight;
    line-height: 1em;
    margin: 0 0 25px 0;
    color: @colorDarkBlue;
}

.ingress {
    margin-bottom: 25px;
    font-size: 1.579em;
    font-family: @fontCalibri;
}

h2 {
    font-weight: normal;
    font-size: 36px;
    font-family: @fontSohoLight;
    margin-bottom: 6px;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    font-family: @fontSohoLight;
}

h4 {
    font-weight: normal;
    font-size: 20px;
    font-family: @fontSohoLight;
}

h5 {
    font-weight: normal;
    font-size: 18px;
}

ol.broedsmulesti {
    margin-bottom: 25px;
}

p, ul {
    margin-bottom: 24px;
}

ul {
    list-style-type: disc;
    padding-left: 23px;

    li {
        margin-left: 40px;
    }
}

a {
    color: @colorMediumBlaa;
    text-decoration: underline;
    font-size: 1em;
    line-height: 35px;

    &:visited {
        color: @colorMediumBlaa;
        text-decoration: underline;
    }

    h2 {
        margin: 0;
    }

    p {
        margin: 0 0 50px 0;
    }

    &:focus {
        h2, h4, p {
            background: @colorMorkBlaa;
            color: white !important;
            outline: 0;
        }

        background: @colorMorkBlaa;
        color: white !important;
        outline: 0;
    }
}

.defaultSmall {
    font-size: 18px;
    line-height: 20px;
}

header, footer {
    a {
        &:focus {
            background: white;
            color: @colorMorkBlaa !important;
            outline: 0;
        }
    }
}

header {
    background: @colorMorkBlaa;

    a, a:visited {
        color: @colorMorkBlaa;
        text-decoration: none;
    }
}

footer {
    .tab-links {
        padding-left: 20px;

        li {
            &.active {
                border: none;
                background: white;
            }

            &.active a {
                background: white;
            }
        }

        a {
            background: #EBEEEF;
        }
    }

    .tab-content {
        background: white;

        li a {
            color: @colorMorkBlaa;
        }
    }
}

footer.rammeverk {
    height: 100%;
    background: @colorMorkBlaa;
    color: white;

    p {
        margin: 0.5rem;
        padding-left: 1.3rem;
    }

    img {
        padding-right: 0.4rem;
        padding-left: 1.8rem;
        vertical-align: middle;
    }

    a, a:visited {
        color: white !important;
        text-decoration: none;
    }
}

.has-hidden-content {
    cursor: pointer;

    h2:before, .collapse:before {
        float: left;
        padding-right: 10px;
        content: "\f078";
        font-family: "FontAwesome";
    }
}

.has-visible-content {
    cursor: pointer;

    h2:before, .collapse:before {
        float: left;
        padding-right: 10px;
        content: "\f077";
        font-family: "FontAwesome";
    }
}

.organisasjonskart, .divisjon {
    &.has-visible-content {
        margin-bottom: 25px;
        padding: 0;

        > div, > h3 {
            padding: 0 10px 5px 10px;
        }

        > ul {
            padding-left: 30px;
        }

        h2 {
            margin: 0;
            padding: 10px;
            border: 1px solid #222;
            background: @colorLysGraa;
            cursor: pointer;
        }

        h2:before {
            float: left;
            padding-right: 10px;
            content: "\f077";
            font-family: "FontAwesome";
        }
    }

    &.has-hidden-content {
        margin-bottom: 25px;
        padding: 0;
        border: none;

        h2, h3 {
            margin: 0;
            padding: 10px;
            background: white;
            cursor: pointer;
        }

        h2:before, h3:before {
            float: left;
            padding-right: 10px;
            content: "\f078";
            font-family: "FontAwesome";
        }
    }
}

#logo {
    padding: 6px 16px 2px 12px;
    min-height: 44px;
    max-height: 44px;
    background: white;
}

.broedsmulesti {
    padding: 0;
    list-style-type: none;

    li {
        display: block;
        float: left;
        padding-right: 0.3rem;
    }

    li:after {
        content: ' >';
    }

    li:last-child:after {
        content: '';
    }

    a {
        text-decoration: underline;
    }

    a:visited {
        color: @colorMorkBlaa;
    }
}

.menylinje {
    a {
        padding: 7px 0 12px 4px;

        &:hover {
            text-decoration: none;
        }
    }

    a.js-expanded {
        background: white;
        color: @colorMorkBlaa;
    }

    nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    input {
        border: 1px solid @colorMorkBlaa;
    }
}

.menylinje nav a, .menylinje > nav > span {
    color: white;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.utvidbaroverskrift {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 0;
    min-height: 70px;
    width: 330px;
    border: 1px solid #eeeeee;
    background: #ffffff;
}
/**Slett senere*/
#infoboks {
    float: none;
}
/**************/
.fa-chevron-right {
    float: right;
    padding-top: 0.3rem;
    color: @colorOrange;
    font-size: 1.5em;
}

.fa-chevron-down {
    float: right;
    padding-top: 0.3rem;
    font-size: 1.5em;
}

.fa-calendar-o {
    float: left;
    padding-right: 25px;
    font-size: 300%;
}
/*----- Tabs -----*/
.tabs {
    position: inherit;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.tab-links {
    margin: 0;

    &:after {
        display: block;
        clear: both;
        content: '';
    }

    li {
        margin: 0;
        float: left;
        list-style: none;

        &.active a, &.active a:hover {
            color: #4c4c4c;
        }

        &.active {
            border: 2px solid #EBEEEF;
            border-bottom: 0;
        }
    }

    a {
        padding: 9px 15px;
        display: inline-block;
        border-radius: 3px 3px 0px 0px;
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        transition: all linear 0.15s;
        background: white;

        &:hover, &:focus {
            background: #a7cce5;
            text-decoration: none;
            color: black !important;
        }
    }
}
/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    border-top: 2px solid #EBEEEF;
    border-radius: 3px;

    li {
        list-style-type: none;
                    margin-left: 0;
                    padding: 15px 0;
                    border-bottom: solid 1px @colorLysGraa;

                    @media only screen and (min-width:900px) {
                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                }
    a, a:visited, a:hover {
            color: @colorMorkBlaa;
        }
}

.tabs-statistikk {
    .tab-content {
        padding: 15px 0 0 0;
    }

    #statistikktab1 {
        p {
            text-align: center;
            color: @colorMorkBlaa;

            .nokkeltall {
                font-size: 300%;
            }
        }

        h4 {
            padding: 0 15px 0 15px;
            background: @colorMorkBlaa;
            color: white;

            i {
                color: @colorOrange;
            }
        }
    }
}



.dropdown-statistikk {
    select {
        width: 40%;
    }

    button {
        background: @colorOrange;
        border: 0;
    }
}

#chart_div {
    width: 100%;
    height: 400px;
}

#statistikk {
    width: 90rem;

    #tabheading-1 {
        border-top: 7px solid @colorMorkBlaa;
        border-right: 2px solid @colorMediumBlaa;
        border-bottom: 7px solid white;
    }

    #tabheading-2 {
        border-top: 7px solid white;
        border-bottom: 7px solid @colorLysBlaa;
    }

    a {
        color: @colorMorkBlaa;
    }

    .fa-chevron-down {
        color: @colorOrange;
    }
}

.nedlastingslinker {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        color: @colorMediumBlaa;
    }

    li {
        margin-bottom: 15px;
    }

    img {
        height: 1.3rem;
        vertical-align: text-bottom;
    }
}

section .innholdswrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 70px;
    background: whitesmoke;
}

.stripes {
    position: absolute;
    top: -6px;
    left: 12.5%;
    width: 75%;
    height: 6px;

    .left, .middle, .right {
        float: left;
        width: 33%;
        height: 100%;
    }

    &.cold {
        .left {
            background: @colorMorkBlaa;
        }

        .middle {
            background: @colorMediumBlaa;
        }

        .right {
            background: @colorLysBlaa;
        }
    }

    &.warm {
        .left {
            background: @colorRoed;
        }

        .middle {
            background: @colorOrange;
        }

        .right {
            background: @colorGul;
        }
    }

    &.left {
        left: 0;
    }
}

.skygge {
    position: absolute;
    top: 100%;
    left: 12.5%;
    width: 75%;
    height: 5px;

    > div {
        float: left;
        width: 100%;
        height: 100%;
    }

    .sort {
        background: black;
    }

    .orange {
        background: @colorOrange;
    }

    .roed {
        background: @colorRoed;
    }

    .blaa {
        background: @colorMediumBlaa;
    }

    &.bottom {
        top: 5px;
        left: 0;
        width: 100%;
    }
}

.stripes-outer, .stripes-under {
    position: relative;
}

.pilIkon {
    margin-right: 0.2em;
    width: 1.875rem;
    vertical-align: bottom;
}

.dropdownwrapper {
    overflow: auto;
    background: white;
    color: @colorMorkBlaa;
}

.footerwrapper {
    border-top: 5px solid @colorMediumBlaa;
    background: @colorMorkBlaa;
}

.headergronn {
    position: absolute;
    width: 100%;
    height: 44px;
    background: @colorMediumBlaa;
}

.headerblaa {
    position: absolute;
    width: 100%;
    height: 44px;
    background: @colorMorkBlaa;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    transition: 0.5s all;
}

.search {
    display: inline;

    input {
        margin-right: 10px;
        margin-bottom: 20px;
        border-radius: 3px;
        height: 39px;
        border: 1px solid #004e66;
        width: 80%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    button {
        border: 0;
        height: 43px;
    }
}
/**********************************************************************
    Moduler
***********************************************************************/
.abonneringsmodul {
    padding-bottom: 20px;

    .fa {
        color: @colorMediumBlaa;
    }

    a {
        margin-left: 10px;
    }

    :visited {
        color: #222;
        text-decoration: none;
    }

    :hover {
        text-decoration: none;
    }

    div {
        float: left;
        margin-right: 10px;
    }
}

.informasjonsboks {
    position: relative;
    padding: 30px 30px 0 30px;
    min-height: 70px;
    color: Black;

    a {
        color: @colorMorkBlaa;
        text-decoration: underline;
        cursor: pointer;

        h4 {
            padding-left: 1.2rem;
            border-top: 0;
            border-right: 1px solid @colorRoed;
            border-bottom: 1px solid @colorRoed;
            border-left: 1px solid @colorRoed;
        }
    }

    .seAlle-link {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    ul {
        padding-left: 1.4rem;
        list-style-type: disc;

        li {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    #retningslinjer > li {
        color: @colorRoed;
    }

    #tilskudd > li {
        color: @colorGul;
    }

    &.lover {
        border: 1px solid @colorRoed;

        .lover-liste > li {
            color: @colorRoed;
        }
    }

    &.retningslinjer {
        border: 1px solid @colorOrange;

        .retningslinjer-liste > li {
            color: @colorOrange;
        }

        ul {
        }
    }

    .stripes {
        top: -36px;
        left: 0;
        width: 100%;
    }

    h4 {
        margin-bottom: 2rem;
    }
}

.liteninformasjonsboks {
    margin: 30px 0 10px 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #222;

    .blaasOpp {
        font-size: 3em;
    }

    .forminsk {
        font-size: 0.8em;
    }
}

.c2aknapp {
    padding: 0;
    border: none;
    background-color: @colorOrange;
    line-height: 2.2rem;

    h3 {
        margin: 0;
        font-weight: bold;
        font-family: @fontCalibri;
    }

    img {
        float: right;
        padding-top: 0.2rem;
        width: 1.875rem;
    }
}

.transportsideknapp {
    a {
        display: block;
        width: 100%;
        height: 100%;
        color: black;

        h2 {
            color: @colorMediumBlaa;
        }
    }

    a:visited, a:hover {
        h2 {
            color: @colorMediumBlaa;
        }

        color: black;
    }

    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;

    .skygge {
        display: none;
    }

    h4 {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    p {
        margin: 0;
    }

    .fa-chevron-right {
        display: none;
    }
}

.personmodul { /*float: right;*/
    margin: 25px 0 25px 0; //padding-left: 2rem;color: @colorMorkBlaa; p {margin: 5px;line-height: 1.5rem;}
    h3 {
        margin-bottom: 1rem;
    }

    p {
        margin: 0;
    }
}

.faktaboks {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 70px;
    background: @colorLysGraa;
    color: black;

    .stripes-outer {
        top: -9px;
    }

    .stripes-under {
        top: 100%;
    }

    ul {
        padding: 25px 25px 35px 25px;
        list-style-type: square;

        > li {
            color: @colorMorkBlaa;

            > span {
                color: black;
            }
        }
    }

    p {
        padding: 0 25px 35px 25px;
    }

    h3 {
        padding-top: 25px;
        padding-left: 25px;
    }

    h4 {
        padding-top: 25px;
        padding-left: 25px;
    }
}

.sosialemedier {
    color: white;

    h4 {
        margin: 0 0 5px 0;
    }

    a {
        margin-left: 10px;
    }

    a:visited {
        color: white;
    }
}

video {
    width: 100%;
}

.retningslinjemodul {
    margin-bottom: 20px;
    border: 1px solid @colorLysGraa;
    padding-left: 10px;

    .innerDiv {
        margin: 10px;
        /*border-left: 8px solid @colorRoed;*/
        p, a, h4 {
            margin: 0 0 0 10px;
        }
    }
}

.veiledermodul {
    border: 1px solid @colorLysGraa;
    padding-left: 10px;

    .innerDiv {
        margin: 10px;
        /*border-left: 8px solid @colorOrange;*/
        p, a, h4 {
            margin: 0 0 0 10px;
        }
    }
}

.sidetekst {
    margin: 10px;
    border-left: 8px solid @colorRoed;

    p, a, h4 {
        margin: 0 0 0 10px;
    }

    .nokkeltall {
        font-size: 200%;
    }
}

.spennendeTall {
    border: 1px solid #222;
    width: 100%;
    margin-bottom: 10px;

    p {
        text-align: center;
        padding: 30px;
    }
}

.avsnitt {
    position: relative;
}

.aside {
    margin-right: 0;
    position: relative;
    width: 386px;
}

@media (min-width: 1200px) {
    .aside {
        top: 0;
        right: 0;
        position: absolute;
        margin-right: -54%;
    }

    .personmodul.kontakt {
        bottom: 0;
        right: 0;
        position: absolute;
        margin-right: -54%;
        width: 386px;
    }
}

@media (min-width: 900px) {
    .statistics_compare button {
        margin-top: 30px;
    }
}

@media (min-width: 600px) {
    .transportsideknapp {
        border: none;

        .fa-chevron-right {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .aside {
        width: auto;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    .statistics_compare {
        background: #ddd;
        border-radius: 5px;
    }
}

.omoss {
    color: white;

    .omossboks {
        list-style-type: none;
        padding-left: 0;
    }

    i {
        font-size: 200%;
        padding: 10px;
    }

    h3 {
        margin: 10px 0 0 0;
    }

    .abonner {
        display: inline;
        margin-right: 30px;
    }

    a {
        color: white;
    }
}

.forside {
    article {
        margin: 20px 0 20px 0;
        border-bottom: 1px solid @colorLysGraa;
        padding-bottom: 20px;
    }
}

.alfabetisk {
    font-size: 16px;
}

.headline {
    margin-bottom: 20px;
    line-height: 40px;

    h2 {
        margin: 0;
        padding: 0;
    }
}

.direktoerfoto {
    max-height: 259px;
}

.hygienemeny {
    border-top: 1px solid white;
    font-size: 18px;
    margin: 20px 0 20px 0;
    color: white;

    p {
        margin: 0;
    }
}

.toppmeny {
    /*border-bottom: 1px solid @colorLysGraa;*/
    margin-bottom: 30px;
    background: @colorLysLysGraa;
    padding-top: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 50px;
    transition: all 0.5s;

    .inner {
        background: #ffffff;
        padding: 0;
        margin-top: 55px;

        .tab-content {
            ul {
                padding: 0 10px 0 10px;

                @media only screen and (max-width:600px) {
                    padding: 0;
                    margin: 0;
                }

                li {
                    margin-left: 0;
                    padding: 15px 0;
                    border-bottom: solid 1px @colorLysGraa;

                    @media only screen and (min-width:900px) {
                        &:last-of-type {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links {
        margin: 0;
        margin-top: -53px;
        background-color: transparent;

        &:after {
            display: block;
            clear: both;
            content: '';
        }

        li {
            margin: 0 10px 0 0;
            float: left;
            list-style: none;

            a {
                background-color: @colorDarkBlue;
                border-radius: 0;
                color: #ffffff;
            }

            &.active a, &.active a:hover {
                color: #4c4c4c;
                background-color: #ffffff;
            }

            &.active {
                border: none !important;
                /*border: 2px solid #EBEEEF;
            border-bottom: 0;*/
            }
        }

        a {
            padding: 9px 15px;
            display: inline-block;
            border-radius: 3px 3px 0px 0px;
            font-size: 16px;
            font-weight: 600;
            color: #4c4c4c;
            transition: all linear 0.15s;
            background: white;

            &:hover, &:focus {
                background: #a7cce5;
                text-decoration: none;
                color: black !important;
            }
        }
    }
    /*----- Content of Tabs -----*/
    .tab-content {
        padding: 15px;
        border-top: none !important;
        border-radius: 3px;

        li {
            list-style-type: none;


            a, a:visited, a:hover {
                color: @colorMorkBlaa;
            }
        }
    }

    .tabs-statistikk {
        .tab-content {
            padding: 15px 0 0 0;
        }

        #statistikktab1 {
            p {
                text-align: center;
                color: @colorMorkBlaa;

                .nokkeltall {
                    font-size: 300%;
                }
            }

            h4 {
                padding: 0 15px 0 15px;
                background: @colorMorkBlaa;
                color: white;

                i {
                    color: @colorOrange;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .xs-no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}



.fa-search {
    border: 2px solid white;
    padding: 5px;
}

.menyknapp {
    vertical-align: middle;
}

.cleanlist {
    list-style-type: none;
}

.borderbox {
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid @colorLysGraa;
    padding-left: 10px;

    .innerDiv {
        margin: 10px;
        /*border-left: 8px solid @colorRoed;*/
        p, a, h4 {
            margin: 0 0 0 10px;
        }
    }
}

.bigfont {
    font-size: 3em;
}

.mediumfont {
    font-size: 2em;
}

.topbar {
    margin-bottom: 60px;
}

/*.statistics_compare {
    background: #ddd;
    border-radius: 5px;
    padding: 5px 0 10px 10px;

    select {
        display: block;
        margin-bottom: 20px;
    }

    input {
        display: inline-block;
        margin-right: 5px;
    }

    button {
        background: white;
    }
}
    */
.radiobuttons label {
    display: block;
}

.statistics_compare {
    padding: 5px 0 10px 10px;

    p {
        margin: 0;
    }

    select {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }

    label {
        display: inline-block;

        input {
            margin-right: 5px;
        }
    }

    button {
        background: white;
        border: 1px solid @colorLysGraa;
    }

    a {
        display: block;
    }

    label, a {
        padding-left: 15px;
    }
}

#compare_hiddenfields {
    display: none;
}

.statistics {
    h2 {
        text-align: center;
    }

    .fa-chevron-down {
        float: none;
        padding: 0;
    }
}

.statistics_about {
    h4 {
        margin: 50px 0 10px 0;
    }

    p {
        margin: 0;
    }
}

.publication_sortcontrols {
    width: 81%;

    p {
        display: inline;
    }

    a {
        float: right;
        margin-left: 15px;
        color: black;
    }
}

.publication {
    margin-top: 30px;

    a {
        display: block;
        text-decoration: underline;
    }

    p {
        display: inline-block;
        margin-right: 25px;
    }

    button {
        display: block;
        margin-right: 25px;
        float: left;
    }
}

.search_input {
    width: 75%;
    margin-bottom: 20px;
}

//Center text in input fields
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

/*******************************Ny forside******************************************/
@colorDarkBlue: #004e66;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;

html {
    background: white;
}

header {
    height: 40px;
    margin: 25px 0 35px 0;
    background: white;

    .links {
        color: @colorDarkBlue;
        font-weight: bold;
        margin-left: 20px;
    }

    .mainsearch {
        height: 39px;
        /*max-width: 220px;*/
        width: 100%;
        padding: 0 35px 0 5px;
        border-radius: 3px;
        border: 1px solid @colorDarkBlue;
        vertical-align: middle;
        background: url('../img/search_icon.png') right center no-repeat;
        background-size: auto 100%;
        background-color: #ffffff;
    }

    @media only screen and (max-width: 900px) {
        margin: 10px 0 10px 0;
    }
}

.menubutton {
    width: 150px;
    min-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 40px;

    a {
        border-radius: 3px;
        background-color: @colorDarkBlue;
        vertical-align: middle;
        padding: 7px 30px 7px 30px;
        color: #ffffff;
        font-weight: normal;
        transition: all 0.5s;

        &:visited {
            background-color: @colorDarkBlue;
            color: #ffffff;
        }

        &:focus {
            text-decoration: none;
            background-color: @colorLysLysGraa;
            color: @colorDarkBlue;
            border: solid 1px @colorDarkBlue;
        }

        &:hover {
            text-decoration: none;
            background-color: @colorLysLysGraa;
            color: @colorDarkBlue;
        }

        &.js-expanded {
            padding-bottom: 42px;
            border-radius: 3px 3px 0 0;
            background-color: @colorLysLysGraa;
            color: @colorDarkBlue;
        }

        i {
            /*font-size: 28px;*/
            margin-left: 10px;
        }
    }

    @media only screen and (max-width:900px) {
        width: auto;
        margin-right: 5px;

        a {
            padding: 7px 7px 7px 7px;

            &:hover {
                text-decoration: none;
            }


            &.js-expanded {
                padding-bottom: 18px;
            }

            span {
                display: none;
            }

            i {
                margin-left: 0;
            }
        }
    }
}


.mobile-search {
    display: none;
}

-hidden-mobile {
    display: block;
}

@media only screen and (max-width: 900px) {

    .hidden-mobile {
        display: none;
        background-color: @colorLysLysGraa;
        padding: 20px;
        margin-top: 10px;
    }

    .mobile-search {
        display: inline;

        .fa {
            font-size: 28px;
            border: none;
        }
    }
}

.mainentrance {
    background: #95BBBC url('../img/forside_bakgrunn2.svg') no-repeat center;
    -webkit-background-size: auto,cover;
    -moz-background-size: auto,cover;
    -o-background-size: auto,cover;
    background-size: auto,cover;
    margin-bottom: 20px;
    padding: 20px 0 50px 0;
}

#logo {
    padding: 0;
    min-height: 40px;
    max-height: 40px;
}

.entrancebutton {
    width: 250px;
    height: 230px;
    border-radius: 4px;
    background: @colorDarkBlue;
    margin: 30px 30px 0 0;
    float: left;
    position: relative;

    a {
        height: 100%;
        width: 100%;
        display: block;
        color: white;

        .innerDiv {
            position: relative;
            margin-left: 12px;
            margin-bottom: 15px;
            top: 50%;

            p {
                margin: 0;
                padding: 0;
                font-size: 16px;
                line-height: 25px;
            }

            h2 {
                margin-bottom: 5px;
                font-size: 30px;
            }
        }

        &:visited, &:hover {
            color: white;
        }

        &:hover {
            h2 {
                text-decoration: underline;
            }
        }
    }

    &.grey {
        background: @colorDarkGray;
    }
}

.frontpagewrapper {
    &.grey {
        background: #DEDDDB;
    }
}

footer {

    .map {
        height: 500px;
    }

    .tab-links {
        padding-left: 20px;
        margin-top: -37px;

        li {
            margin-right: 10px;

            &.active {
                border: none;
                background: white;
            }

            &.active a {
                background: white;
                color: @colorDarkBlue;
            }
        }

        a {
            background: @colorDarkBlue;
            color: white;
            padding: 0 30px 0 20px;
            border-radius: 0;
        }
    }

    .tab-content {
        background: white;
        border: none;
        border-radius: 0;

        li a {
            color: @colorDarkBlue;
        }
    }

    .tabs {
        margin-bottom: 50px;
    }
}

.footerwrapper {
    background: @colorLightGray;
    border: none;
    padding-top: 100px;
    width: 100%;
}

.menuwrapper {
    background: white;
}

.footerlinkswrapper {
    background: #838078;
    border-top: 1px solid black;
    padding-top: 40px;

    h4, p, a, a:visited, a:hover {
        color: white;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    p {
        margin: 0;
        font-size: 18px;
        line-height: 1.5em;
    }

    a {
        text-decoration: underline;
        font-size: 18px;
        line-height: 1.5em;
    }

    .socialmedia {
        border-radius: 3px;
        margin: 20px 0 20px 0;

        h3 {
            background: white;
            color: black;
            border-radius: 3px;
            padding: 10px 40px 10px 30px;
            float: left;
        }

        a {
            background: @colorLightBlue;
            padding: 10px 20px 10px 20px;
            color: white;
            float: left;
            line-height: 35px;
        }

        a:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}

.about {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;

    a {
        cursor: pointer;
    }

    li {
        margin: 0;
        line-height: 1.5em;
    }
}

.calltoaction {
    border: 2px solid @colorDarkBlue;
    color: @colorDarkBlue;
    padding: 5px 15px 5px 15px;
    background: white;

    &:before {
        float: left;
        padding-right: 10px;
        content: "\f054";
        font-family: "FontAwesome";
    }
}

.frontpage {
    /*.row {
        border-top: 3px solid #004e66;
        margin-top: -10px;
        padding-top: 40px;
    }
        */
    padding-bottom: 50px;

    h2 {
        margin: 50px 0 20px 0;
        width: 100%;
        border-bottom: 3px solid @colorDarkBlue;
        padding-bottom: 7px;
    }

    a {
        color: @colorDarkBlue;
    }

    .newsitem {
        margin-bottom: 20px;

        p {
            color: black;
        }
    }

    p {
        margin: 0;
        color: @colorLightBlue;
    }

    .conferenceitem {
        margin-bottom: 20px;

        a, p {
            padding: 0;
            line-height: 1em;
        }

        p {
            color: black;
        }
    }

    .statistics_image {
        margin-bottom: 20px;
    }
}

@media (max-width: 1199px) {
    header .links {
        margin-left: 15px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .entrancebutton {
        margin: 50px 25px 30px 0;
    }

    .socialmedia {
        a:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }
}

@media(max-width: 600px) {
    .entrancebutton {
        margin: 7.5px 0 7.5px 0;
        width: 100%;
        height: auto;

        a .innerDiv {
            margin-top: 15px;

            h2 {
                font-size: 28px;
            }
        }
    }

    .socialmedia {
        a:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    .transportsideknapp {
        background: @colorLightGray;
    }
}

.report {
    table {
        width: 100%;
        margin-bottom: 20px;

        td {
            padding: 0 10px;

            &:first-child {
                width: 25%;
            }
        }
    }

    @media only screen and (max-width:900px) {
        table {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 900px) {
    iframe {
        width: 100%;
    }
}

iframe {
    margin-bottom: 23px;
}
