@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@colorMorkBlaa: #004e66;
@colorOrange: #df9922;
@colorMediumBlaa: #0093a7;
@colorLysBlaa: #6cb4b5;
@colorGraa: #aeaba8;
@colorLysGraa: #B2BABC;
@colorRoed: #c63629;
@colorGul: #f4d01e;

html {
    font-size: 100%;
    background: @colorMorkBlaa;
}

body {
    padding: 0;
    font-size: 20px;
    font-family: 'Calibri';
    line-height: 1.750em;
    color: #222;
    background: white;
}

h1 {
    font-weight: normal;
    font-size: 2.800em;
    font-family: @fontSohoLight;
    line-height: 1.667em;
}

.ingress {
    margin-bottom: 20px;
    font-size: 1.579em;
    font-family: @fontCalibri;
}

h2 {
    font-weight: normal;
    font-size: 36px;
    font-family: @fontSohoLight;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    font-family: @fontSohoLight;
}

h4 {
    font-weight: normal;
    font-size: 20px;
    font-family: @fontSohoLight;
}

h5 {
    font-weight: normal;
    font-size: 18px;
}

a {
    color: #222;
    text-decoration: underline;
    font-size: 1em;
    line-height: 35px;

    &:visited {
        color: @colorMediumBlaa;
        text-decoration: underline;
    }

    &:focus, &:hover, h4:hover, h4:focus, p:hover {
        background: @colorMorkBlaa;
        color: white !important;
        outline: 0;
    }
}

header, footer {
    a {
        &:focus, &:hover {
            background: white;
            color: @colorMorkBlaa !important;
            outline: 0;
        }
    }
}

header {
    background: @colorMorkBlaa;

    a, a:hover, a:visited {
        color: black;
        text-decoration: none;
    }
}

footer.rammeverk {
    height: 100%;
    background: @colorMorkBlaa;
    color: white;

    p {
        margin: 0.5rem;
        padding-left: 1.3rem;
    }

    img {
        padding-right: 0.4rem;
        padding-left: 1.8rem;
        vertical-align: middle;
    }

    a, a:visited {
        color: white !important;
        text-decoration: none;
    }
}

/*.has-hidden-content {
    padding: 0 0 0 10px;
    margin-bottom: 8px;
    border: 1px solid #222;
    cursor: pointer;

    h2 {
        cursor: pointer;
    }

        h2:after {
            font-family: "FontAwesome";
            content: "\f078";
            float: right;
            padding-right: 10px;
        }
}

.has-visible-content {
    border: 1px solid #222;
    padding: 0 0 0 10px;
    margin-bottom: 8px;

    h2 {
        cursor: pointer;
    }

        h2:after {
            font-family: "FontAwesome";
            content: "\f077";
            float: right;
            padding-right: 10px;
        }
}
    */

.organisasjonskart, .divisjon {
    &.has-visible-content {
        margin-bottom: 25px;
        padding: 0;

        > div, > h3 {
            padding: 0 10px 5px 10px;
        }

        > ul {
            padding-left: 30px;
        }

        h2 {
            margin: 0;
            padding: 10px;
            border: 1px solid #222;
            background: @colorLysGraa;
            cursor: pointer;
        }

            h2:before {
                float: left;
                padding-right: 10px;
                content: "\f077";
                font-family: "FontAwesome";
            }
    }

    &.has-hidden-content {
        margin-bottom: 25px;
        padding: 0;
        border: none;

        h2, h3 {
            margin: 0;
            padding: 10px;
            background: white;
            cursor: pointer;
        }

            h2:before, h3:before {
                float: left;
                padding-right: 10px;
                content: "\f078";
                font-family: "FontAwesome";
            }
    }
}

#logo {
    padding: 6px 16px 2px 12px;
    min-height: 44px;
    max-height: 44px;
    background: white;
}

.broedsmulesti {
    padding: 0;
    list-style-type: none;

    li {
        display: block;
        float: left;
        padding-right: 0.3rem;
    }

        li:after {
            content: ' >';
        }

        li:last-child:after {
            content: '';
        }

    a {
        text-decoration: underline;
    }

        a:visited {
            color: @colorMorkBlaa;
        }
}

a:hover { /* hot pink? */
    color: #cc00cc;
    text-decoration: underline;
}

.menylinje {
    a {
        padding: 5px 0 9px 4px;
    }

        a.js-expanded {
            background: white;
            color: @colorMorkBlaa;
        }

    nav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

    .menylinje nav span a, .menylinje > nav > span {
        color: white;
    }

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.utvidbaroverskrift {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 0;
    min-height: 70px;
    width: 330px;
    border: 1px solid #eeeeee;
    background: #ffffff;
}

/**Slett senere*/
#infoboks {
    float: none;
}
/**************/

.fa-chevron-right {
    float: right;
    padding-top: 0.3rem;
    color: @colorOrange;
    font-size: 1.5em;
}

.fa-chevron-down {
    float: right;
    padding-top: 0.3rem;
    font-size: 1.5em;
}

/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */

.tab-links {
    margin: 0;

    &:after {
        display: block;
        clear: both;
        content: '';
    }

    li {
        margin: 0 5px;
        float: left;
        list-style: none;

        &.active a, &.active a:hover {
            background: lightgrey;
            color: #4c4c4c;
        }
    }

    a {
        padding: 9px 15px;
        display: inline-block;
        border-radius: 3px 3px 0px 0px;
        font-size: 16px;
        font-weight: 600;
        color: #4c4c4c;
        transition: all linear 0.15s;
        background: white;

        &:hover, &:focus {
            background: #a7cce5;
            text-decoration: none;
            color: black !important;
        }
    }
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
    background: lightgrey;

    li {
        list-style-type: none;

        a, a:visited, a:hover {
            color: @colorMorkBlaa;
        }
    }
}

.tabs-statistikk {
    .tab-content {
        padding: 15px 0 0 0;
    }

    #statistikktab1 {
        p {
            text-align: center;
            color: @colorMorkBlaa;

            .nokkeltall {
                font-size: 300%;
            }
        }

        h4 {
            padding: 0 15px 0 15px;
            background: @colorMorkBlaa;
            color: white;

            i {
                color: @colorOrange;
            }
        }
    }
}

.dropdown-statistikk {
    select {
        width: 40%;
    }

    button {
        background: @colorOrange;
        border: 0;
    }
}

#chart_div {
    width: 100%;
    height: 600px;
}

#statistikk {
    width: 90rem;

    #tabheading-1 {
        border-top: 7px solid @colorMorkBlaa;
        border-right: 2px solid @colorMediumBlaa;
        border-bottom: 7px solid white;
    }

    #tabheading-2 {
        border-top: 7px solid white;
        border-bottom: 7px solid @colorLysBlaa;
    }

    a {
        color: @colorMorkBlaa;
    }

    .fa-chevron-down {
        color: @colorOrange;
    }
}

.nedlastingslinker {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 15px;
    }

    img {
        height: 1.3rem;
        vertical-align: text-bottom;
    }
}

section .innholdswrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 70px;
    background: whitesmoke;
}

.stripes {
    position: absolute;
    top: -6px;
    left: 12.5%;
    width: 75%;
    height: 6px;

    .left, .middle, .right {
        float: left;
        width: 33%;
        height: 100%;
    }

    &.cold {
        .left {
            background: @colorMorkBlaa;
        }

        .middle {
            background: @colorMediumBlaa;
        }

        .right {
            background: @colorLysBlaa;
        }
    }

    &.warm {
        .left {
            background: @colorRoed;
        }

        .middle {
            background: @colorOrange;
        }

        .right {
            background: @colorGul;
        }
    }

    &.left {
        left: 0;
    }
}

.skygge {
    position: absolute;
    top: 100%;
    left: 12.5%;
    width: 75%;
    height: 5px;

    > div {
        float: left;
        width: 100%;
        height: 100%;
    }

    .sort {
        background: black;
    }

    .orange {
        background: @colorOrange;
    }

    .roed {
        background: @colorRoed;
    }

    .blaa {
        background: @colorMediumBlaa;
    }

    &.bottom {
        top: 5px;
        left: 0;
        width: 100%;
    }
}

.stripes-outer, .stripes-under {
    position: relative;
}

.pilIkon {
    margin-right: 0.2em;
    width: 1.875rem;
    vertical-align: bottom;
}

.dropdownwrapper {
    overflow: auto;
    background: white;
    color: @colorMorkBlaa;
}

.footerwrapper {
    margin-top: 2rem;
    border-top: 5px solid @colorMediumBlaa;
    background: @colorMorkBlaa;
}

.headergronn {
    position: absolute;
    width: 100%;
    height: 44px;
    background: @colorMediumBlaa;
}

.headerblaa {
    position: absolute;
    width: 100%;
    height: 39px;
    background: @colorMorkBlaa;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.soekefelt {
    input {
        margin-right: 10px;
        padding: 10px;
        width: 80%;
    }

    button {
        border: 0;
        padding: 10px;
    }
}

/**********************************************************************
    Moduler
***********************************************************************/

.abonneringsmodul {
    padding-bottom: 20px;

    .fa {
        color: @colorMediumBlaa;
    }

    a {
        margin-left: 10px;
    }

    :visited {
        color: #222;
        text-decoration: none;
    }

    :hover {
        text-decoration: none;
    }

    div {
        float: left;
        margin-right: 10px;
    }
}

.informasjonsboks {
    position: relative;
    padding: 30px 30px 0 30px;
    min-height: 70px;
    color: Black;

    a {
        color: @colorMorkBlaa;
        text-decoration: underline;
        cursor: pointer;

        h4 {
            padding-left: 1.2rem;
            border-top: 0;
            border-right: 1px solid @colorRoed;
            border-bottom: 1px solid @colorRoed;
            border-left: 1px solid @colorRoed;
        }
    }

    .seAlle-link {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    ul {
        padding-left: 1.4rem;
        list-style-type: disc;

        li {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    #retningslinjer > li {
        color: @colorRoed;
    }

    #tilskudd > li {
        color: @colorGul;
    }

    &.lover {
        border: 1px solid @colorRoed;

        .lover-liste > li {
            color: @colorRoed;
        }
    }

    &.retningslinjer {
        border: 1px solid @colorOrange;

        .retningslinjer-liste > li {
            color: @colorOrange;
        }

        ul {
        }
    }

    .stripes {
        top: -36px;
        left: 0;
        width: 100%;
    }

    h4 {
        margin-bottom: 2rem;
    }
}

.liteninformasjonsboks {
    margin: 30px 0 10px 0;
    padding: 10px 0 10px 10px;
    border: 1px solid #222;

    .blaasOpp {
        font-size: 3em;
    }

    .forminsk {
        font-size: 0.8em;
    }

    p, span, a {
        float: left;
    }
}

.c2aknapp {
    padding: 0;
    border: none;
    background-color: @colorOrange;
    line-height: 2.2rem;

    h3 {
        margin: 0;
        font-weight: bold;
        font-family: @fontCalibri;
    }

    img {
        float: right;
        padding-top: 0.2rem;
        width: 1.875rem;
    }
}

.transportsideknapp {
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    margin-top: 1.2rem;
    padding: 1rem 1rem 1rem 0.5rem;
    border: 1px solid @colorMediumBlaa;

    .skygge {
        position: relative;
        top: 19px;
        height: 3px;
    }

    h4 {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}

.kontaktmodul { /*float: right;*/
    margin: 0; //padding-left: 2rem;color: @colorMorkBlaa; p {margin: 5px;line-height: 1.5rem;}
    h3 {
        margin-bottom: 1rem;
    }
}

.faktaboks {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    min-height: 70px;
    background: @colorLysGraa;
    color: black;

    .stripes-outer {
        top: -9px;
    }

    .stripes-under {
        top: 100%;
    }

    ul {
        padding: 25px 25px 35px 25px;
        list-style-type: square;

        > li {
            color: @colorMorkBlaa;

            >span {
                color: black;
            }
        }
    }

    p {
        padding: 0 25px 35px 25px;
    }

    h3 {
        padding-top: 25px;
        padding-left: 25px;
    }

    h4 {
        padding-top: 25px;
        padding-left: 25px;
    }
}

.sosialemedier {
    color: white;

    h4 {
        margin: 0 0 5px 0;
    }

    a {
        margin-left: 10px;
    }

        a:visited {
            color: white;
        }
}

video {
    width: 100%;
}

.retningslinjemodul {
    margin-bottom: 20px;
    border: 1px solid @colorLysGraa;

    .innerDiv {
        margin: 10px;
        border-left: 8px solid @colorRoed;

        p, a, h4 {
            margin: 0 0 0 10px;
        }
    }
}

.veiledermodul {
    border: 1px solid @colorLysGraa;

    .innerDiv {
        margin: 10px;
        border-left: 8px solid @colorOrange;

        p, a, h4 {
            margin: 0 0 0 10px;
        }
    }
}

.sidetekst {
    margin: 10px;
    border-left: 8px solid @colorRoed;

    p, a, h4 {
        margin: 0 0 0 10px;
    }

    .nokkeltall {
        font-size: 200%;
    }
}

.spennendeTall {
    border: 1px solid #222;
    width: 100%;
    margin-bottom: 10px;

    p {
        text-align: center;
        padding: 30px;
    }
}

.testSection {
    position: relative;
}

.testAside {
    margin-right: 0;
    position: relative;
    width: 386px;
}

@media (min-width: 1200px) {
    .testAside {
        top: 0;
        right: 0;
        position: absolute;
        margin-right: -54%;
    }
}