@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@colorMorkBlaa: #004e66;
@colorOrange: #df9922;
@colorMediumBlaa: #0093a7;
@colorLysBlaa: #6cb4b5;
@colorGraa: #aeaba8;
@colorLysGraa: #B2BABC;
@colorRoed: #c63629;
@colorGul: #f4d01e;

html {
    font-size: 100%;
}

body {
font-family: 'Calibri';
    font-size: 20px;
    /*font-weight: 300;*/
    color: #222;
    margin-bottom: 2.300em;
    padding: 0;
    line-height: 1.750em;
}

h1{
font-size: 2.800em;
font-family: @fontSohoLight;
font-weight: normal;
}

.ingress{
    font-size: 1.579em;
    font-family: @fontCalibri;
}

h2{
    font-size: 1.200em;
    font-family: @fontSohoLight;
    font-weight: normal;
}

h3{
    font-size: 1em;
    margin-bottom: 2.875rem;
}

a {
    text-decoration: none;
    color: #004e66;
}

a:hover {
    text-decoration: underline;
    color: #cc00cc; /* hot pink? */
}

header {
    background: @colorMorkBlaa;

    a, a:hover, a:visited {
        color: black;
        text-decoration: none;
    }
}


footer.rammeverk{
    height: 100%;
    color: white;
    background: @colorMorkBlaa;
        
    p{
        padding-left: 1.3rem;
        margin: 0.5rem;
    }
    img{
        padding-left: 1.8rem;
        vertical-align:middle;
        padding-right: 0.4rem;
    }

    a, a:visited {
        text-decoration: none;
        color: white !important;
            }
}

.nedlastingsLinker p {
    margin: 0;
}

#mobilmeny{
    background:#004e66;
    float: right;
}

#menyknapp{
    width: 2rem;
}

.fonttest{
    font-family: Calibri;
    font-size: 100%;
}

.clearfix:before,
.clearfix:after{
        content: " ";
        display: table;
}
.clearfix:after{
    clear:both;
}



.dropdownmeny {
    margin-left: 1rem;

    ul li {
        border-top: 1px solid @colorOrange;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        border-bottom: 1px solid @colorOrange;
    }
    .dropdownmenyliste {
    margin: 0;
    /*height: 1.9em;*/
    display: inline;
    list-style-type: none;

    ul{

    }
    
    ul li{
        background: white;
        color: black;
    }
    a{
        text-decoration: none;
    }
}
}

.topplinje{
    background: @colorMorkBlaa;
    min-height: 3rem;
}

#soekefelt{
    float: right;
    margin-top: 2rem;
}

#sokeknapp{
    width: 2rem;
}

#hovedmeny {

    ul {
        height: 3rem;
        display: block;

        li {
            background: @colorMorkBlaa;
            float: left;
            text-align: center;
            padding-right: 1rem;
            a {
                display: block;
                line-height: 1em;
                height: 1.5rem;
                width: 10em;
                text-decoration: none;
            }

            :hover{
                                background:@colorOrange;

            }
        }
    }

    a {
        color: white;
    }

    .hovedmenypunkt{
        height: 1.6rem;
    }

    .menypunkt{
        margin: 0.5rem;
    }

    
}
.dropdownmeny{
        width: 40%;
    }

.kontaktModul{
    color :  @colorMorkBlaa;
    /*float: right;*/
    margin: 0;
    padding-left: 2rem;
    display: inline-block;
    
    p{
        line-height: 1.5rem;
        margin: 0;
    }
}

.utvidbarOverskrift{
    width:330px;
    min-height: 70px;
    border:1px solid #eeeeee;
    background: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    padding-top: 0;

}

.faktaboks {
    position: relative;
    min-height: 70px;
    background: @colorLysGraa;
    color: black;
    margin-bottom: 10px;
    padding: 10px;

    .stripes-outer {
        top: -9px;
    }

    .stripes-under {
        top: 100%;
    }

    ul{
                list-style-type: square;
                > li {
                    color: @colorMorkBlaa;

                    >span{
                        color:black;
                    }
                }
    }
    h3{
        text-align: center;
        height:50%;
    }

    h4{
        padding-left: 1.2rem;
    }
}

.informasjonsboks {
    float: right;
    position: relative;
    width: 25rem;
    min-height: 70px;
    color: Black;
    margin-bottom: 10px;
    padding: 10px;

    .toppstrek {
        position: absolute;
        top: 1.74rem;
        left: 4.5rem;
    }

    a {
        text-decoration: none;
        cursor: pointer;

        h4 {
            padding-left: 1.2rem;
            border-left: 1px solid @colorRoed;
            border-bottom: 1px solid @colorRoed;
            border-right: 1px solid @colorRoed;
            border-top: 0;
        }
    }

    ul {
        list-style-type: square;



        li > span {
            color: @colorMorkBlaa;
        }
    }

    #retningslinjer > li {
        color: @colorRoed;
    }

    #tilskudd > li{
        color:@colorGul;
    }
    #lover > li{
        color:@colorOrange;
    }

    h4 {
        padding-left: 1.2rem;
        border-left: 1px solid @colorRoed;
        border-top: 1px solid @colorRoed;
        border-right: 1px solid @colorRoed;
    }
}

/**Slett senere*/
#infoboks{
    float:none;
}

.kollapslenker {

    h4 {
        width: 33%;
        border: 1px solid #eeeeee;
        background: @colorMorkBlaa;
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}

.kollapslenker-graa {

    h4 {
        width: 33%;
        border: 1px solid #eeeeee;
        background: @colorLysGraa;
        color: @colorMorkBlaa;
        margin-bottom: 10px;
        margin-top: 10px;
                padding-left: 0.7rem;
        padding-right: 0.7rem;

        .fa-chevron-down {
            color: black;
        }
    }
}

.fa-chevron-right{
    font-size: 1.5em;
    color: @colorOrange;
    float:right;
    padding-top: 0.3rem;
}
.fa-chevron-down{
         padding-top: 0.3rem;

    font-size: 1.5em;
    float:right;
}

 #tabs{

     #tabheading-1{
         border-top: 7px solid @colorMorkBlaa;
         border-bottom: 7px solid white;
         border-right: 2px solid @colorMediumBlaa;
     }
     #tabheading-2{
         border-bottom: 7px solid @colorLysBlaa;
         border-top: 7px solid white;
     }

     a{
         color: @colorMorkBlaa;
     }
 }

  #statistikk{
      width: 90rem;

     #tabheading-1{
         border-top: 7px solid @colorMorkBlaa;
         border-bottom: 7px solid white;
         border-right: 2px solid @colorMediumBlaa;
     }
     #tabheading-2{
         border-bottom: 7px solid @colorLysBlaa;
         border-top: 7px solid white;
     }

     a{
         color: @colorMorkBlaa;
     }

     .fa-chevron-down{
        color: @colorOrange;
}
 }

 .kollapslenker-tabs {

    h4 {
        border: 1px solid #eeeeee;
        background: @colorGraa;
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
                padding-left: 0.7rem;
        padding-right: 0.7rem;
        
        .fa-chevron-down{
            color: @colorMorkBlaa;

        }
    }
}

 .minimertTekst
{
    min-height: 70px;
    background: whitesmoke;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;

}



.abonnement{
    width:250px;
    min-height: 70px;
    border:1px solid gray;
    background: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    clear: both;
    overflow: auto;
}



a{
text-decoration: underline;
    color: #004e66;
    font-size: 1em;
    line-height: 35px;

}

a:visited{
    color: #df9922
;
}

.alignLeft{
    float:left;
}

.alignRight{
    float: right;
}




#sidelogo{

    background-color: #ffffff;
    background-image: url('../img/HDIR-LOGO-HORISONTAL-NEW.png');
    background-repeat: no-repeat;
    min-height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fargeboks1{
    width: 6.250rem;
    height: 0.625rem;
    background:#004e66;
    display: inline-block;
  float: left;
}
.fargeboks2{
    width: 6.250rem;
    height: 0.625rem;
    background:#6cb4b5;
    display: inline-block;
float: left;
}
.fargeboks3{
    width: 6.250rem;
    height: 0.625rem;
    background:#0093a7;
    display: inline-block;
    float: left;
}

.nedlastingsLinker {
    list-style-type: none;
}

.nedlastingsLinker li {
    margin-bottom: 15px;
}

.nedlastingsLinker img {
    vertical-align: text-bottom;
    height: 1.3rem;
}

.menyknapp {
    cursor: pointer;
}

article .innholdswrapper{
      min-height: 70px;
    background: whitesmoke;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

article .has-hidden-content h3,
article .has-visible-content h3 {
    padding-right: 1.5rem;
}

article .has-hidden-content h3:before,
article .has-visible-content h3:before {
	font-family: FontAwesome;
	content: "\f106"; 
    float: right;
    margin-right: -0.7rem;
    font-size: 2rem;

}

article .has-hidden-content h3:before {
    content: "\f107";
    font-size: 2rem;
}

#breakpoint {
    color: white;
}

#hovedmeny div {
        float: right;
}

header.rammeverk p {
    
}

#elementer{
    display: inline;
}

.hhs {

    @fontLight: "soho gothic pro light";

    .topplinje {
        color: white;
    }

   

    h1, h2 {
        font-family: @fontLight;
    }

    h2 {
        font-size: 2em;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #hovedtittel {
        font-size: 3em;
        padding-top: 2em;
        padding-bottom: 1em;
        font-weight: normal;
        height: auto;
        line-height: 1.2em;
        margin: 0;
    }

    .ingress {
        max-width: 500px;
        margin-bottom: 3em;
        line-height: 1.5em;
    }

    .illustrasjonOverskrift {

            font-family: @fontLight;
            color: #94928F;
            text-transform: uppercase;
            border-top: 1px solid #ddd;
            margin-top: 2rem;
            margin-bottom: 1em;
        
    }


    .sirkel {
        border-radius: 50px;
        height: 50px;
        width: 50px;
    }

    .illustrasjonsWrapper {
        float: left;
        margin-right: 1em;
    }

    #logo {
        width: 30%;
    }



    #bodyFont p {
        font-size: 1em;
        line-height: 30px;
    }

  

    #h2Font h2 {
        font-family: @fontSoho;
        font-size: 1.333em;
        margin: 0;
    }


    .boks {
        border: 1px solid #ddd;
        padding: 1em;
        margin-bottom: 5em;
    }

    .illustrasjon {

        p {
            max-width: 500px;
        }

        table {

            tr:nth-child(odd) td, tr:nth-child(odd) th {
                background-color: #ebeaea;
            }

            tr:nth-child(even) td, tr:nth-child(even) th {
                background-color: white;
            }

            margin-bottom: 1em;

            th, td {
                width: 20em;
                padding: 0.5em;
            }



            .tableHeader {
                font-family: "soho gothic pro medium";
                color: #555;
                text-transform: uppercase;
                margin-top: 2em;
                margin-bottom: 1em;
            }
        }
    }

    .ikoner img{
        width: 1.875rem;
        vertical-align: bottom;
        margin-right: 0.2em;
    }

    .c2aKnapp {
        background-color: @colorOrange;
        width: 14.375rem;
        height: 2.3rem;
        line-height: 2.2rem;
        padding: 0;
        border: none;
        h3 {
            font-family: @fontCalibri;
            font-weight: bold;
            margin: 0;
        }



        img {
            float: right;
            width: 1.875rem;
            padding-top: 0.2rem;
        }
    }

 

    .toppmeny{
        ul{
                    list-style-type: none;

            float: left;
            margin: 1rem 2rem 1rem 0;
            padding: 1rem 2rem 1rem 0;

            h2{
                margin-bottom: 0.7rem;
            }

            a, a:visited{
                text-decoration: none;
                color: #fff;

            }
        }
    }

    #toppmenyKnapp
    {
        vertical-align: text-top;
    }

     .faktaboks{
         width: 20rem;

         ul{
             padding-left: 2rem;
                             float: none;

         }
     }

     #tabs{
         width: 35%;
     }

}

.stripes {
    width: 75%;
    position: absolute;
    height: 6px;
    left: 12.5%;
    top: -6px;

    .left, .middle, .right {
        width: 33%;
        float: left;
        height: 100%;
        
    }

    &.cold {

        .left {
            background: @colorMorkBlaa;
        }

        .middle {
            background: @colorMediumBlaa;
        }

        .right {
            background: @colorLysBlaa;
        }
    }

    &.warm {
        .left {
            background: @colorGul;
        }

        .middle {
            background: @colorOrange;
        }

        .right {
            background: @colorRoed;
        }
    }

    &.left{
        left: 0;
    }
}

.skygge{
     width: 75%;
    position: absolute;
    height: 5px;
    left: 12.5%;
    top: 100%;

    .center{
        float:left;
        width: 100%;
        height: 100%;
        background: black;
    }
}

.stripes-outer, .stripes-under, .skygge{
    position: relative;
}
