footer.rammeverk {
  font-family: "soho gothic pro medium";
  height: 100%;
  color: white;
  background: #004e66;
}
footer.rammeverk p {
  padding-left: 1.3em;
  margin: 0.5em;
}
footer.rammeverk img {
  padding-left: 1.8em;
  vertical-align: middle;
  padding-right: 0.4em;
}
footer.rammeverk a {
  text-decoration: none;
}
.nedlastingsLinker p {
  margin: 0;
  font-family: "soho gothic pro medium";
}
#mobilmeny {
  background: #004e66;
}
#menyknapp {
  vertical-align: top;
}
