@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@colorMorkBlaa: #004e66;
@colorOrange: #df9922;
@colorMediumBlaa: #0093a7;
@colorLysBlaa: #6cb4b5;
@colorGraa: #aeaba8;
@colorLysGraa: #B2BABC;
@colorRoed: #c63629;
@colorGul: #f4d01e;

.hhs {
    @fontLight: "soho gothic pro light";

    header {
        margin: 0;
    }

    .topplinje {
        color: white;
        background: @colorMorkBlaa;
    }

    .headerBlaa {
        height: 40px;
    }

    .toppmeny {
        background: @colorMorkBlaa;
        color: white;

        a, a:visited {
            text-decoration: none;
            color: white;
        }

        ul {
            list-style-type: none;
            float: left;
            margin: 1rem 2rem 1rem 0;
            padding: 0 2rem 1rem 0;

            h2 {
                margin-bottom: 0.7rem;
                margin-top: 0;
            }
        }
    }

    h1, h2 {
        font-family: @fontLight;
    }

    h2 {
        font-size: 2em;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #hovedtittel {
        font-size: 3em;
        padding-top: 2em;
        padding-bottom: 1em;
        font-weight: normal;
        height: auto;
        line-height: 1.2em;
        margin: 0;
    }

    .ingress {
        max-width: 500px;
        margin-bottom: 3em;
        line-height: 1.5em;
    }

    .illustrasjonOverskrift {
        font-family: @fontLight;
        color: #94928F;
        text-transform: uppercase;
        border-top: 1px solid #ddd;
        margin-top: 2rem;
        margin-bottom: 1em;
    }

    .sirkel {
        border-radius: 50px;
        height: 50px;
        width: 50px;
    }

    .illustrasjonsWrapper {
        float: left;
        margin-right: 1em;
    }

    #logo {
        width: 30%;
    }

    #bodyFont p {
        font-size: 1em;
        line-height: 30px;
    }

    #h2Font h2 {
        font-family: @fontSoho;
        font-size: 1.333em;
        margin: 0;
    }

    .boks {
        border: 1px solid #ddd;
        padding: 1em;
        margin-bottom: 5em;
    }

    .illustrasjon {
        p {
        }

        table {
            tr:nth-child(odd) td, tr:nth-child(odd) th {
                background-color: #ebeaea;
            }

            tr:nth-child(even) td, tr:nth-child(even) th {
                background-color: white;
            }

            margin-bottom: 1em;

            th, td {
                width: 20em;
                padding: 0.5em;
            }

            .tableHeader {
                font-family: "soho gothic pro medium";
                color: #555;
                text-transform: uppercase;
                margin-top: 2em;
                margin-bottom: 1em;
            }

            tr {
                text-align: center;
            }
        }
    }

    .ikoner img {
        width: 1.875rem;
        vertical-align: bottom;
        margin-right: 0.2em;
    }

    .c2aknapp {
        width: 14.375rem;
        height: 2.3rem;
    }

    #toppmenyknapp {
        vertical-align: text-top;
    }

    .faktaboks {
        width: 20rem;

        ul {
            float: none;
        }
    }

    #tabs {
        width: 35%;
    }

    .informasjonsboks {
        width: 30rem;
    }

    .transportsideknapp {
        width: 600px;
    }

    .skygge {
        position: relative;
    }

    iframe, video {
        width: 560px;
        height: 315px;
    }

    .farger {
        text-align: center;
        text-align: -webkit-center;
        background: white;
        padding: 10px;
    }

    .textexamples {
        margin-top: 20px;
        display: table;

        p, span, a {
            display: table-cell;
        }

        span {
            width: 250px;
        }
    }
}