@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@fontSohoRegular: "soho gothic pro regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.no-background {
    background: #f7f6f6;
}

.fa-calendar-o {
    float: left;
    padding-right: 25px;
    font-size: 300%;
}

.mainentrance {
    background: url('../img/forside_bakgrunn_abstrahert_graaere.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 40px 0;
}

.entrancebutton {
    width: 250px;
    height: 230px;
    border-radius: 4px;
    background: @colorDarkBlue;
    margin: 30px 30px 0 0;
    float: left;
    position: relative;
    transition: all 0.5s;

    &.menu {
        background: #838078;

        h3 {
            text-align: center;
            position: relative;
            margin: 80px 10px 15px 12px;
        }

        &.js-expanded {
            background-color: #dbdcdd;
            color: black;
            padding-bottom: 65px;
        }

        &:hover {
            background: #666460;
        }
    }

    a {
        height: 100%;
        width: 100%;
        display: inline-block;
        color: white;
        text-decoration: none;

        .innerDiv {
            position: relative;
            margin-left: 12px;
            margin-bottom: 15px;
        }

        h3 {
            margin: 80px 0 0 0;
            padding: 0;
            font-size: 28px;
            font-family: @fontSohoLight;

            .fa-bars {
                margin-top: 20px;
            }
        }

        h2 {
            margin-bottom: 5px;
            font-size: 28px;
            line-height: 35px;
            margin: 80px 0 0 0;
            padding-bottom: 5px;
            color: white;
        }

        p {
            line-height: 23px;
        }
    }

    &:visited, &:hover {
        color: white;
    }

    &:hover {
        background: #02343f;

        a, h2, p, a:focus, h2:focus, p:focus {
            text-decoration: none;
            color: white;
        }
    }
}

.frontpagewrapper {
    &.grey {
        background: #DEDDDB;
    }

    &.white {
        background: white;
    }
}

.frontpage {
    padding-bottom: 50px;

    h2 {
        margin: 50px 0 20px 0;
        width: 100%;
        border-bottom: 3px solid @colorDarkBlue;
        padding-bottom: 15px;
    }

    a {
        color: @colorDarkBlue;
    }

    .news {
        margin-bottom: 20px;

        p {
            color: #222;
            font-size: 18px;
        }

        a {
            font-size: 26px;
        }
    }

    p {
        margin: 0;
    }

    .conferenceitem {
        table td:first-of-type {
            width: 160px;
            vertical-align: middle;
            text-align: center;
        }

        margin-bottom: 20px;

        p {
            padding: 0;
            line-height: 1em;
            font-size: 18px;
            margin-bottom: 10px;
            color: black;
        }

        a {
            font-size: 26px;
            padding-left: 0;
        }

        .conference_date {
            font-size: 36px;
            color: @colorRed;
            display: block;
            font-family: @fontSohoLight;
            margin-right: 10px;
            line-height: 42px;
        }

        .conference_info {
        }
    }

    .statistics_image {
        margin-bottom: 20px;
    }

    .ingress {
        border: none;
        margin-top: 23px;
    }

    .importantnews {
        .bulletlist {
            margin-bottom: 35px;
        }
    }

    .importantphoto {
        margin-top: 28px;
    }

    &.newsandconference {
        background: white;
    }

    #chart_div {
        margin-top: 40px;
    }
}

.toppmeny .tabs .tab-links li.menu_search {
    background: none;
}

@media only screen and (max-width: 599px) {
    .entrancebutton {
        width: 100%;
        height: 100%;
        margin: 7.5px 0 7.5px 0;

        a {
            h2, p {
                margin: 0;
                color: white;
            }
        }

        &.menu {
            h3 {
                margin: 15px 0 15px 12px;
                text-align: left;

                .fa-bars {
                    padding-left: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .entrancebutton {
        margin: 30px 25px 0 0;
    }
}

@media only screen and (min-width: 900px) {
    .hidden_links {
        display: none;
    }
}