.no-background {
  background: #f7f6f6;
}
.fa-calendar-o {
  float: left;
  padding-right: 25px;
  font-size: 300%;
}
.mainentrance {
  background: url('../img/forside_bakgrunn_abstrahert_graaere.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 0 40px 0;
}
.entrancebutton {
  width: 250px;
  height: 230px;
  border-radius: 4px;
  background: #004e66;
  margin: 30px 30px 0 0;
  float: left;
  position: relative;
  transition: all 0.5s;
}
.entrancebutton.menu {
  background: #838078;
}
.entrancebutton.menu h3 {
  text-align: center;
  position: relative;
  margin: 80px 10px 15px 12px;
}
.entrancebutton.menu.js-expanded {
  background-color: #dbdcdd;
  color: black;
  padding-bottom: 65px;
}
.entrancebutton.menu:hover {
  background: #666460;
}
.entrancebutton a {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: white;
  text-decoration: none;
}
.entrancebutton a .innerDiv {
  position: relative;
  margin-left: 12px;
  margin-bottom: 15px;
}
.entrancebutton a h3 {
  margin: 80px 0 0 0;
  padding: 0;
  font-size: 28px;
  font-family: "soho gothic pro light";
}
.entrancebutton a h3 .fa-bars {
  margin-top: 20px;
}
.entrancebutton a h2 {
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 35px;
  margin: 80px 0 0 0;
  padding-bottom: 5px;
  color: white;
}
.entrancebutton a p {
  line-height: 23px;
}
.entrancebutton:visited,
.entrancebutton:hover {
  color: white;
}
.entrancebutton:hover {
  background: #02343f;
}
.entrancebutton:hover a,
.entrancebutton:hover h2,
.entrancebutton:hover p,
.entrancebutton:hover a:focus,
.entrancebutton:hover h2:focus,
.entrancebutton:hover p:focus {
  text-decoration: none;
  color: white;
}
.frontpagewrapper.grey {
  background: #DEDDDB;
}
.frontpagewrapper.white {
  background: white;
}
.frontpage {
  padding-bottom: 50px;
}
.frontpage h2 {
  margin: 50px 0 20px 0;
  width: 100%;
  border-bottom: 3px solid #004e66;
  padding-bottom: 15px;
}
.frontpage a {
  color: #004e66;
}
.frontpage .news {
  margin-bottom: 20px;
}
.frontpage .news p {
  color: #222;
  font-size: 18px;
}
.frontpage .news a {
  font-size: 26px;
}
.frontpage p {
  margin: 0;
}
.frontpage .conferenceitem {
  margin-bottom: 20px;
}
.frontpage .conferenceitem table td:first-of-type {
  width: 160px;
  vertical-align: middle;
  text-align: center;
}
.frontpage .conferenceitem p {
  padding: 0;
  line-height: 1em;
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}
.frontpage .conferenceitem a {
  font-size: 26px;
  padding-left: 0;
}
.frontpage .conferenceitem .conference_date {
  font-size: 36px;
  color: #c63629;
  display: block;
  font-family: "soho gothic pro light";
  margin-right: 10px;
  line-height: 42px;
}
.frontpage .statistics_image {
  margin-bottom: 20px;
}
.frontpage .ingress {
  border: none;
  margin-top: 23px;
}
.frontpage .importantnews .bulletlist {
  margin-bottom: 35px;
}
.frontpage .importantphoto {
  margin-top: 28px;
}
.frontpage.newsandconference {
  background: white;
}
.frontpage #chart_div {
  margin-top: 40px;
}
.toppmeny .tabs .tab-links li.menu_search {
  background: none;
}
@media only screen and (max-width: 599px) {
  .entrancebutton {
    width: 100%;
    height: 100%;
    margin: 7.5px 0 7.5px 0;
  }
  .entrancebutton a h2,
  .entrancebutton a p {
    margin: 0;
    color: white;
  }
  .entrancebutton.menu h3 {
    margin: 15px 0 15px 12px;
    text-align: left;
  }
  .entrancebutton.menu h3 .fa-bars {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .entrancebutton {
    margin: 30px 25px 0 0;
  }
}
@media only screen and (min-width: 900px) {
  .hidden_links {
    display: none;
  }
}
/*# sourceMappingURL=frontpage.css.map */