@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorDarkBlueHover: #002e41;

@colorMediumBlue: #0093a7;
@colorMediumBlueHover: #006371;
@colorLightBlue: #6cb4b5;
@colorLightBlueHover: #4f8889;
@colorOrange: #df9922;
@colorOrangeHover: #b8811d;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorYellowHover: #c7ad1c;
@colorDarkGray: #aeaba8;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGreenHover: #748f29;

.no-background {
    background: #f7f6f6;
}

.mainentrance {
    background: url('../img/forside_bakgrunn_abstrahert_graaere.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0 40px 0;
}

.container {
    .entrancebutton {
        width: 250px;
        height: 230px;
        margin: 30px 30px 0 0;
        float: left;
        position: relative;

        &.menu {
            button {
                background: #838078;
                border: none;
                height: 230px;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                border-radius: 4px;

                h2 {
                    margin: auto;
                    font-size: 28px;
                    line-height: 35px;
                    color: white;
                }

                &.js-expanded {
                    background-color: #5e5d57;
                    color: white;
                    outline: 0;
                }

                &:hover {
                    background: #5e5d57;
                }

                &:focus {
                    background: #5e5d57;
                }
            }
        }

        a {
            height: 100%;
            width: 100%;
            display: inline-block;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            background: @colorDarkBlue;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;

            &:hover {
                background: @colorDarkBlueHover;

                h2, p, &:focus, h2:focus, p:focus {
                    text-decoration: none;
                    color: white;
                }
            }

            h3 {
                margin: 80px 0 0 0;
                padding: 0;
                font-size: 28px;
                font-family: @fontSohoLight;

                .fa-bars {
                    margin-top: 20px;
                }
            }

            h2 {
                font-size: 28px;
                line-height: 35px;
                margin: 80px 0 15px 12px;
                padding-bottom: 5px;
                color: white;
                position: relative;
            }

            p {
                line-height: 23px;
                position: relative;
                margin-left: 12px;
                margin-bottom: 15px;
            }

            &:focus {
                background: @colorDarkBlueHover;

                h2, p {
                    background: @colorDarkBlueHover;
                }
            }
        }

        &:visited, &:hover {
            color: white;
        }
    }

    &.frontpage {
        padding-bottom: 50px;

        h2 {
            margin: 50px 0 20px 0;
            width: 100%;
            border-bottom: 3px solid @colorDarkBlue;
            padding-bottom: 15px;

            &.noborder {
                border: none;
            }
        }

        a {
            color: @colorDarkBlue;
            text-decoration: none;

            &:hover h2 {
                text-decoration: underline;
            }

            &:hover h2.internal-link {
                text-decoration: underline;
                border-bottom: 3px solid #004e66;
                padding-bottom: 0;
            }
        }

        .internal-link {
            text-decoration: none;
            color: @colorDarkBlue;
            display: inline-block;

            &:visited {
                color: @colorMediumBlue;
            }

            h2, h3, h4, p {
                display: inline;
            }

            &.arrow_right {
                padding: 0;

                &:hover {
                    margin-bottom: 0;
                }
            }

            &.arrow_right:after {
                padding-top: 3px;
            }

            &.inline, &.inline:visited {
                border-bottom: 1px solid @colorDarkGray;

                &:hover {
                    border-bottom: 1px solid @colorDarkGray;
                }
            }

            &:hover {
                border-bottom: 1px solid @colorMediumBlue;
                text-decoration: none;
                padding-bottom: 3px;

                &.arrow_right:after {
                    text-decoration: none;
                }
            }
        }

        a h2.internal-link.arrow_right {
            padding-bottom: 15px;
            margin-bottom: 19px;

            &:hover {
                margin-bottom: 19px;
                text-decoration: none;
            }
        }

        .news {
            margin-bottom: 20px;
            margin-top: 35px;

            p {
                color: #222;
                font-size: 18px;
                line-height: 22px;
            }

            a {
                font-size: 26px;
            }

            .internal-link.arrow_right {
                margin: 0;
            }
        }

        p {
            margin: 0;
        }

        .conferenceitem {
            width: 100%;
            margin-bottom: 20px;

            p {
                padding: 0;
                line-height: 22px;
                font-size: 18px;
                margin-bottom: 10px;
                color: #222;
            }

            a {
                font-size: 26px;
            }

            .conference_date {
                font-size: 26px;
                color: @colorRed;
                display: block;
                font-family: @fontSohoLight;
                margin-right: 28px;
                line-height: 27px;
                text-align: right;
            }

            .month {
                font-size: 18px;
                text-transform: uppercase;
                font-family: @fontCalibri;
                color: @colorRed;
                display: block;
                text-align: right;
                margin-top: 2px;
            }

            .external-link {
                margin-bottom: 0;
            }
        }

        .conferenceitem > div:nth-child(2n-1) {
            width: 25%;
            float: left;
            min-height: 85px;
            padding-top: 15px;
        }

        .conferenceitem > div:nth-child(2n) {
            width: 68%;
            float: left;
            min-height: 100px;
        }

        .statistics_image {
            margin-bottom: 20px;
        }

        .ingress {
            border: none;
            margin-top: 23px;

            &.nomargin {
                margin: 0;
            }
        }

        .importantnews {
            .ingress {
                margin-bottom: 20px;
            }

            .bulletlist {
                margin-bottom: 35px;
            }

            .text_and_image {
                width: 49%;
                float: left;
            }

            .importantphoto {
                margin: 28px 0 0 22px;
                width: 49%;
                float: left;
            }

            a {
                border-bottom: none;
            }
        }

        &.newsandconference {
            background: white;
        }

        .chart_wrapper {
            margin: 40px 57px 0 57px;
            background: white;
            overflow: auto;
        }

        #chart_div {
            margin-bottom: 0;
        }
    }

    .video-container {
        padding-bottom: 40%;
        margin: 40px 0 20px 0;
    }
}

.frontpagewrapper {
    &.grey {
        background: #DEDDDB;
    }

    &.white {
        background: white;
    }
}

.frontpagewrapper_crisis {
    background: @colorYellow;
}

.container-fluid.toppmeny .tabs .tab-links li.menu_search {
    background: none;
    padding-top: 0;
}

#menu_search {
    border-radius: 0;

    &::-webkit-input-placeholder { /* WebKit browsers */
        font-size: 16px;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 16px;
        opacity: 1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 16px;
        opacity: 1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size: 16px;
    }
}

@media only screen and (max-width: 599px) {
    .container {
        .entrancebutton {
            width: 100%;
            height: 100%;
            margin: 7.5px 0 7.5px 0;

            a {
                h2 {
                    margin: 15px 0 0 12px;
                    color: white;
                }

                p {
                    margin: 0 0 15px 12px;
                    color: white;
                }
            }

            &.menu {
                button {
                    width: 100%;
                    height: 93px;
                    border-radius: 4px;
                }

                h2 {
                    margin: 15px 0 15px 12px;
                    text-align: center;

                    .fa-bars {
                        padding-left: 10px;
                    }
                }
            }
        }

        &.frontpage .chart_wrapper {
            margin: 40px 0 0 0;
        }

        &.frontpage .conferenceitem .conference_date {
            font-size: 28px;
            margin-right: 20px;
        }

        &.frontpage .conferenceitem > div:nth-child(2n-1) {
            width: 100%;
            float: none;
            text-align: left;
            padding-top: 0;
            min-height: 0;

            .month {
                text-align: left;
                display: inline;
            }
        }

        &.frontpage .conferenceitem > div:nth-child(2n) {
            width: 100%;
            float: none;
            text-align: left;
            min-height: 0;
            margin-bottom: 30px;

            .internal-link.arrow_right {
                margin-top: 0;
            }
        }
    }

    #header {
        .mainsearch {
            width: 100%;

            input {
                width: 85%;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .container {
        .entrancebutton {
            margin: 30px 25px 0 0;
        }
    }
}

@media only screen and (max-width: 899px) {
    .container {
        &.frontpage .importantnews {
            .text_and_image {
                width: 100%;
                float: none;
            }
        }

        &.frontpage {
            padding-bottom: 20px;

            h2 {
                margin-top: 40px;
            }

            .conferenceitem {
                margin-bottom: 0;

                & > div:nth-child(2n) {
                    margin-bottom: 20px;
                }

                .conference_date {
                    line-height: 34px;
                }
            }

            .ingress {
                margin-top: 0;
            }
        }

        .video-container {
            margin: 40px 0 0 0;
        }

        .calltoaction {
            margin-top: 0;
        }

        .border_grey {
            border-top: 1px solid #aeaba8;
            margin-top: 20px;
        }
    }
}

@media only screen and (min-width:900px) and (max-width: 1199px) {
    &.frontpage .importantnews {
        .text_and_image {
            width: 48%;
            float: left;
        }

        .importantphoto {
            margin: 28px 0 0 22px;
            width: 48%;
            float: left;
        }
    }

    #header {
        .mainsearch {
            width: 100%;

            input {
                width: 82%;
            }
        }
    }

    .container {
        &.frontpage .conferenceitem > div:nth-child(2n-1) {
            width: 34%;
        }

        &.frontpage .conferenceitem > div:nth-child(2n) {
            width: 58%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        .center {
            padding: 0 165px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    #header {
        .mainsearch {
            width: 100%;

            input {
                width: 92%;
            }
        }
    }
}