/*Styles for one single guideline*/
#pageheader {
  background: #ffffff;
  border-left: 19px solid #004e66;
  color: #ffffff;
  background: rgba(119, 67, 141, 0.89);
  background-image: url("../img/Livslinje-enkel-lilla.svg");
  background-repeat: no-repeat;
  background-size: 200% 60%;
  background-position: bottom;
  overflow: hidden;
}
@media (max-width: 768px) {
  #pageheader {
    border: none;
    margin: 0;
  }
}
#pageheader .headerGroup {
  /*To make icon move to bottom right*/
  margin-left: -13px;
}
@media (max-width: 992px) {
  #pageheader .headerGroup {
    position: relative;
  }
}
#pageheader .headerGroup span.number {
  font-family: "Soho Gothic W01 Light";
}
#pageheader .headerGroup > .container {
  padding-bottom: 50px;
}
@media (min-width: 993px) {
  #pageheader .headerGroup > .container {
    position: relative;
  }
}
@media (max-width: 768px) {
  #pageheader .headerGroup {
    background: none;
  }
}
#pageheader .headerGroup h1 {
  font-weight: normal;
  font-size: 40px;
  font-family: "Soho Gothic W01 Light";
  line-height: 48px;
  color: #ffffff;
  padding-top: 0px;
  display: block;
}
@media (max-width: 768px) {
  #pageheader .headerGroup h1 {
    font-size: 36px;
  }
}
#pageheader .headerGroup span.subtitle {
  font-family: "Soho Gothic W01 Light";
  line-height: 22px;
  display: inline-block;
  margin-bottom: 30px;
}
#pageheader .headerGroup li {
  margin-right: 30px;
  font-size: 18px;
  display: inline-block;
}
#pageheader .headerGroup li span {
  font-size: 35px;
  margin-bottom: 5px;
  display: block;
}
#pageheader .headerGroup a.omRetningslinjen {
  position: absolute;
  right: 0;
  top: 40%;
  color: #ffffff;
}
@media (max-width: 992px) {
  #pageheader .headerGroup a.omRetningslinjen {
    bottom: 0;
    top: auto;
  }
}
#pageheader .headerGroup a.omRetningslinjen:before {
  color: #ffffff;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  content: url("../img/modules/icons/ico-i.svg");
  text-align: center;
  width: 80px;
  padding: 15px 20px;
  margin-left: 20px;
}
@media (max-width: 992px) {
  #pageheader .headerGroup a.omRetningslinjen:before {
    padding: 8px 10px;
    width: 50px;
  }
}
#pageheader .headerGroup a.omRetningslinjen span {
  font-size: 18px;
}
@media (max-width: 992px) {
  #pageheader .headerGroup a.omRetningslinjen span {
    display: none;
  }
}

form.retningslinjerSok {
  margin-top: 30px;
}

.innhold.subtitle {
  color: #004e66;
  text-transform: uppercase;
  font-family: "Calibri";
  font-size: 18px;
}

ul.guidelinelist li {
  padding: 20px 30px;
  position: relative;
  margin-bottom: 20px;
}
ul.guidelinelist li:nth-child(odd) {
  background-color: #eeeded;
}
ul.guidelinelist li:nth-child(even) {
  background-color: #ffffff;
}
ul.guidelinelist li .sectioninformation {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 38%;
}
ul.guidelinelist li .sectioninformation div {
  color: #aeabb3;
  font-size: 18px;
}
ul.guidelinelist li .sectioninformation div > span {
  font-family: "Soho Gothic W01 Light";
  color: #aeabb3;
  display: block;
  font-size: 30px;
  text-align: center;
}
ul.guidelinelist li .sectioninformation img {
  width: 40px;
  margin-right: 30px;
}
ul.guidelinelist h3 {
  padding-right: 105px;
  margin-top: 0;
  color: #0093a7;
  word-break: break-all;
}
ul.guidelinelist h3 span {
  display: block;
  color: #004e66;
  text-transform: uppercase;
  font-family: "Calibri";
  font-size: 18px;
}

/*hacking aside to fit with col-md-8 */
@media only screen and (min-width: 1200px) {
  aside.retningslinjer.col-8 {
    margin-right: -50%;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 950px) {
  aside.retningslinjer.col-8 {
    margin-right: -54%;
  }
}
@media only screen and (max-width: 950px) {
  aside.retningslinjer.col-8 {
    margin-top: 0;
    margin-right: 0;
    position: relative;
    width: auto;
  }
}

/*# sourceMappingURL=guideline_frontpage.css.map */
