.hoeringer {
    p {
        display: inline;
        margin-right: 30px;
    }

    a {
        display: block;
    }

    padding-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.aside.alignwithheader {
    margin-top: 113px;
}

.hoeringer_details {
    margin-top: 20px;

    p, span {
        display: table-cell;
    }

    .hoeringer_processing_deadline, .hoeringer_deadline, .hoeringer_status, .hoeringer_theme {
        span {
            width: 100px;
        }
    }
}