.hoeringer {
    p {
        display: inline;
        margin-right: 30px;
    }

    a {
        display: block;
    }

    padding-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}