body {
  background-attachment: local;
}
.no-svg .container .facebook {
  background-image: url(../images/sosiale_ikon_facebook.png) !important;
}
.no-svg .container .twitter {
  background-image: url(../images/sosiale_ikon_twitter.png) !important;
}
.no-svg .container .linkedin {
  background-image: url(../images/sosiale_ikon_linkedin.png) !important;
}
.no-svg .container .youtube {
  background-image: url(../images/sosiale_ikon_youtube.png) !important;
}
.no-svg .container #logo {
  background-image: url('../images/logo.png') !important;
}
.no-svg .container input[type="checkbox"] {
  float: left;
  width: auto;
  opacity: 1;
  height: autp;
}
.no-svg .container input[type="radio"] {
  float: left;
  width: auto;
  opacity: 1;
  height: auto;
}
.no-svg .container input[type="radio"] + label span {
  margin: 0;
  vertical-align: auto;
  width: auto;
  height: auto;
}
.no-svg .container input[type="checkbox"] + label span {
  margin: 0;
  vertical-align: auto;
  width: auto;
  height: auto;
}
.no-svg .container .e-mail {
  background-image: url('../images/modules/icons/epost_regular.png');
  background-repeat: no-repeat;
  background-size: 20px 27px;
  padding-left: 30px;
}
.no-svg .container .e-mail img {
  display: none;
}
.no-svg .container .rss {
  background-image: url('../images/modules/icons/rss_regular.png');
  background-repeat: no-repeat;
  background-size: 20px 27px;
  padding-left: 30px;
}
.no-svg .container .rss img {
  display: none;
}
.no-svg .container .module.module_socialandprint .ikon_facebook {
  background: url(../images/modules/icons/facebook_blaa.png) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.no-svg .container .module.module_socialandprint .ikon_twitter {
  background: url(../images/modules/icons/twitter_blaa.png) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.no-svg .container .module.module_socialandprint .ikon_skrivut {
  background: url(../images/modules/icons/ikon_skriv_ut.png) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.no-svg .container .module.module_socialandprint .ikon_skrivut:hover {
  background: url(../images/modules/icons/skriv_ut_hover.png) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.no-svg .container .module.module_socialandprint .ikon_facebook:hover {
  background: url(../images/modules/icons/sosiale_ikon_facebook_hover.svg) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.no-svg .container .module.module_socialandprint .ikon_twitter:hover {
  background: url(../images/modules/icons/twitter_hover.png) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.no-svg .menubutton a.js-expander i {
  margin-left: 0;
}
.no-svg .mainsearch,
.no-svg .search {
  background-image: url('../images/ikon_forstorrelsesglass_IE8.png');
  background-repeat: no-repeat;
  -moz-background-size: auto 80%;
  -o-background-size: auto 80%;
  -webkit-background-size: auto 80%;
  background-size: auto 80%;
  background-color: #ffffff;
  background-position: 97% 50%;
  background-position-x: 97%;
  background-position-y: 50%;
}
/*# sourceMappingURL=ie8fix.css.map */