@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@fontSohoRegular: "soho gothic pro regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.search, .mainsearch {
    background-color: white;
    background-image: url('../img/ikon_forstorrelsesglass.png') !important;
    border: 1px solid @colorDarkBlue;
    -moz-background-size: auto 80%;
    -o-background-size: auto 80%;
    -webkit-background-size: auto 80%;
    background-size: auto 80%;
    background-position: 97% 50%;
    background-position-x: 97%;
    background-position-y: 50%;
}