@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@fontSohoRegular: "soho gothic pro regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorPurple: #76428d;

.organization {
    .division {
        float: left;

        .division_header {
            color: @colorDarkBlue;
            padding: 6px;
            margin: 20px 22px 30px 0;
            line-height: 24px;
            width: 170px;
            height: 120px;
            background: white;
            display: table;
            position: relative;

            p {
                text-align: center;
                font-family: @fontSohoRegular;
                font-size: 18px;
                line-height: 20px;

                &.division_name {
                    text-transform: uppercase;
                }
            }

            &.last {
                margin: 20px 0 30px 0;
            }

            &#folkehelse {
                border: 4px solid @colorLightBlue;

                &.selected {
                    &:before {
                        position: absolute;
                        content: "\f106";
                        font-family: "FontAwesome";
                        font-size: 50px;
                        color: white;
                        left: 0;
                        top: 88px;
                        padding-left: 65px;
                        padding-right: 65px;
                        background: @colorLightBlue;
                    }
                }
            }

            &#helseoekonomiogfinansiering {
                border: 4px solid @colorGreen;

                &.selected {
                    &:before {
                        position: absolute;
                        content: "\f106";
                        font-family: "FontAwesome";
                        font-size: 50px;
                        color: white;
                        left: 0;
                        top: 85px;
                        padding-left: 65px;
                        padding-right: 65px;
                        background: @colorGreen;
                    }
                }
            }

            &#spesialisthelsetjenesten {
                border: 4px solid @colorDarkGray;

                &.selected {
                    &:before {
                        position: absolute;
                        content: "\f106";
                        font-family: "FontAwesome";
                        font-size: 50px;
                        color: white;
                        left: 0;
                        top: 85px;
                        padding-left: 65px;
                        padding-right: 65px;
                        background: @colorDarkGray;
                    }
                }
            }

            &#ehelseogit {
                border: 4px solid @colorRed;

                &.selected {
                    &:before {
                        position: absolute;
                        content: "\f106";
                        font-family: "FontAwesome";
                        font-size: 50px;
                        color: white;
                        left: 0;
                        top: 85px;
                        padding-left: 65px;
                        padding-right: 65px;
                        background: @colorRed;
                    }
                }
            }

            &#primaerhelsetjenesten {
                border: 4px solid @colorOrange;

                &.selected {
                    &:before {
                        position: absolute;
                        content: "\f106";
                        font-family: "FontAwesome";
                        font-size: 50px;
                        color: white;
                        left: 0;
                        top: 85px;
                        padding-left: 65px;
                        padding-right: 65px;
                        background: @colorOrange;
                    }
                }
            }

            &#administrasjon {
                border: 4px solid @colorPurple;

                &.selected {
                    &:before {
                        position: absolute;
                        content: "\f106";
                        font-family: "FontAwesome";
                        font-size: 50px;
                        color: white;
                        left: 0;
                        top: 85px;
                        padding-left: 65px;
                        padding-right: 66px;
                        background: @colorPurple;
                    }
                }
            }

            &:before {
                position: absolute;
                content: "\f107";
                font-family: "FontAwesome";
                font-size: 50px;
                color: @colorDarkBlue;
                left: 0;
                top: 85px;
                padding-left: 65px;
                padding-right: 65px;
            }
        }

        .department {
            float: left;

            .person {
                color: @colorDarkBlue;
                padding: 10px;
                font-family: @fontSohoRegular;
                font-size: 18px;
                line-height: 24px;
                width: 170px;
                margin-bottom: 30px;

                p {
                    margin: 0;

                    &.e-mail {
                        word-break: break-all;
                        text-decoration: underline;
                    }
                }

                .title {
                    font-family: @fontCalibri;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: @colorDarkBlue;
                    text-decoration: none;
                    margin-bottom: 10px;
                }
            }

            &.folkehelse .person hr {
                display: block;
                height: 4px;
                border: 0;
                border-top: 4px solid @colorLightBlue;
                margin: 15px 0;
                padding: 0;
                width: 20%;
            }
        }
    }
}