.organization .division {
  float: left;
}
.organization .division .division_header {
  color: #004e66;
  padding: 6px;
  margin: 20px 22px 30px 0;
  line-height: 24px;
  width: 170px;
  height: 120px;
  background: white;
  display: table;
  position: relative;
}
.organization .division .division_header p {
  text-align: center;
  font-family: "soho gothic pro regular";
  font-size: 18px;
  line-height: 20px;
}
.organization .division .division_header p.division_name {
  text-transform: uppercase;
}
.organization .division .division_header.last {
  margin: 20px 0 30px 0;
}
.organization .division .division_header#folkehelse {
  border: 4px solid #6cb4b5;
}
.organization .division .division_header#folkehelse.selected:before {
  position: absolute;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 50px;
  color: white;
  left: 0;
  top: 88px;
  padding-left: 65px;
  padding-right: 65px;
  background: #6cb4b5;
}
.organization .division .division_header#helseoekonomiogfinansiering {
  border: 4px solid #a1bf37;
}
.organization .division .division_header#helseoekonomiogfinansiering.selected:before {
  position: absolute;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 50px;
  color: white;
  left: 0;
  top: 85px;
  padding-left: 65px;
  padding-right: 65px;
  background: #a1bf37;
}
.organization .division .division_header#spesialisthelsetjenesten {
  border: 4px solid #aeaba8;
}
.organization .division .division_header#spesialisthelsetjenesten.selected:before {
  position: absolute;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 50px;
  color: white;
  left: 0;
  top: 85px;
  padding-left: 65px;
  padding-right: 65px;
  background: #aeaba8;
}
.organization .division .division_header#ehelseogit {
  border: 4px solid #c63629;
}
.organization .division .division_header#ehelseogit.selected:before {
  position: absolute;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 50px;
  color: white;
  left: 0;
  top: 85px;
  padding-left: 65px;
  padding-right: 65px;
  background: #c63629;
}
.organization .division .division_header#primaerhelsetjenesten {
  border: 4px solid #df9922;
}
.organization .division .division_header#primaerhelsetjenesten.selected:before {
  position: absolute;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 50px;
  color: white;
  left: 0;
  top: 85px;
  padding-left: 65px;
  padding-right: 65px;
  background: #df9922;
}
.organization .division .division_header#administrasjon {
  border: 4px solid #76428d;
}
.organization .division .division_header#administrasjon.selected:before {
  position: absolute;
  content: "\f106";
  font-family: "FontAwesome";
  font-size: 50px;
  color: white;
  left: 0;
  top: 85px;
  padding-left: 65px;
  padding-right: 66px;
  background: #76428d;
}
.organization .division .division_header:before {
  position: absolute;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 50px;
  color: #004e66;
  left: 0;
  top: 85px;
  padding-left: 65px;
  padding-right: 65px;
}
.organization .division .department {
  float: left;
}
.organization .division .department .person {
  color: #004e66;
  padding: 10px;
  font-family: "soho gothic pro regular";
  font-size: 18px;
  line-height: 24px;
  width: 170px;
  margin-bottom: 30px;
}
.organization .division .department .person p {
  margin: 0;
}
.organization .division .department .person p.e-mail {
  word-break: break-all;
  text-decoration: underline;
}
.organization .division .department .person .title {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 10px;
}
.organization .division .department.folkehelse .person hr {
  display: block;
  height: 4px;
  border: 0;
  border-top: 4px solid #6cb4b5;
  margin: 15px 0;
  padding: 0;
  width: 20%;
}
/*# sourceMappingURL=organization.css.map */