@font_soho: "soho gothic pro medium";


body {
    font-family:Calibri;
    line-height: 35pt;
    font-size: 18px;
}

h1{
    font-family: @font_soho;
    font-size: 32pt;
}
h2{
    font-family: @font_soho;
    font-size: 24pt;
}
h3{
    font-family: @font_soho;
    font-size: 18pt;
}
.ingress{
    font-family: @font_soho;
    font-size: 18pt;
    line-height: 40pt;
}

a{
    text-decoration: underline;
    color: #004e66;
}

.broedsmulesti {
    font-family: @font_soho;
    font-size: 14pt;

    a {
        text-decoration: none;
    }
}