@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.container {
    .publication_information {
        margin: 50px 10px 0 0;

        dt {
            width: auto;
            min-width: 250px;
            padding-right: 10px;
            float: left;
            font-weight: bold;
        }

        dd {
            width: 60%;
            float: left;
        }
    }

    .search {
        width: 100%;
    }

    .numberofpublications {
        font-family: @fontCalibri;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 18px;
        color: #004e66;
    }

    .transportsideknapp {
        .publication_year, .publication_type, .publication_tema {
            float: left;
            margin-right: 20px;
        }

        .publication_download {
            display: inline-block;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        .refinesearch {
            margin-top: 20px;
        }
    }
}