@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorDarkBlueHover: #002e41;

@colorMediumBlue: #0093a7;
@colorMediumBlueHover: #006371;
@colorLightBlue: #6cb4b5;
@colorLightBlueHover: #4f8889;
@colorOrange: #df9922;
@colorOrangeHover: #b8811d;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorYellowHover: #c7ad1c;
@colorDarkGray: #aeaba8;

@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGreenHover: #748f29;

.container {
    .form {
        display: initial;
    }

    .publication_information {
        margin: 50px 10px 0 0;

        dt {
            width: auto;
            min-width: 250px;
            padding-right: 10px;
            float: left;
            font-weight: bold;
        }

        dd {
            width: 60%;
            float: left;
        }
    }

    .search {
        width: 100%;
    }

    .numberofpublications {
        font-family: @fontCalibri;
        line-height: 22px;
        text-transform: uppercase;
        font-size: 18px;
        color: #004e66;
    }

    .transportsideknapp {
        .publication_year, .publication_type, .publication_tema {
            float: left;
            margin-right: 20px;
        }

        .publication_download {
            display: inline-block;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .refinesearch.publication {
        width: 100%;

        .form-group {
            width: 243px;
            display: inline-block;
            margin-right: 30px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        .refinesearch {
            margin-top: 20px;
        }
    }
}