
body > header img{
	width: 20em;
}

@media print{
	@page{
		margin: 2cm;

	}

	body{
		background: white;
		font-size: 12pt;
		font-family:  Calibri;
		line-height: 27px;
	}

	body >header{
		width: 100%;
		top:0;
	}
	body > header img{
		float:right;
		margin: 0;
		padding: 0;
		width: 200pt;
	}

	header > h1{
		clear: both;
	}

	h1,h2,h3,h4,h5,h6{
		font-family: "Soho Gothic W01 Light";
	}

	h1 {
		font-size: 24pt;
	}

	h2 {
	font-size: 14pt;
	margin-top: 25px;
	}




}