/* Spesifikt for retningslinjer */

article header, section header {
	background: none;
	margin-bottom: 0px;
}

article p, section p {
	display: block;
	margin-bottom: 10px;
}

.recommendation {
	border: 1px solid #999;
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 10px 0px;
	box-shadow: 0 0.5px 1px #aaa;
	-moz-border-radius: 1px;
	-webkit-border-radius: 0.5px;
	border-radius: 0.5px;
}

.recommendation header {
	cursor: pointer;
}

.recommendation_extras {
	margin-top: 10px;
}

.recommendation_tabs {
	line-height: 1.4em;
}

.recommendation_tabs .resp-tabs-container {
	font-size: 0.8em;
	line-height: 1.4em;
}

section header.section_heading h1 {
	margin-top: 1em;
	margin-bottom: 0.1em;
}

.shortcuts {
	margin-top: 50px;
}

article nav h1 {
	font-size: 1.333em;
}

article section header h1, section header h1, .subsections {
	font-size: 1.333em;
}

.subsections {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	line-height: 1.8em;
}

.subsectionLink:after {
	  content: "\f054"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #999;
    font-size: 24px;
    padding-left: 4px;
}

p.grading {
	display: none;
}


section.recommendation header h1 {
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 1.5em
}

#local-nav.affix {
    position: fixed;
    top: 0px;
}

.form-inline .form-group input {
    width:100%;
}



.accordion {
	position: relative;
}

.accordion:before {
    content: "\f078"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #999;
    font-size: 24px;
    padding-right: 0.5em;
    position: absolute;
    top: -4px;
    left: 0;
}

.accordion.open:before {
    content: "\f077";
}


.hidden {
	display: none;
}

@media screen and (max-width: 880px) {
  /*section.recommendation {
		border: 1px solid #DDDDDD;
		background-color: #efefef;
		margin-bottom: 8px;
		padding: 10px;
		box-shadow:0 1px 2px #aaa;
		-moz-border-radius: 1px;
	  -webkit-border-radius: 1px;
	  border-radius: 1px;
	}*/
	
	#local-nav.affix {
    position: static;
    
}
	
	/*section.recommendation header h1 {
		margin-left: 1em;
	}*/
}