@charset "UTF-8";
   /* aside{
        @media screen (min-width: 1200px){
        margin-top: 
           .module_related{
            margin-top:
           }
        }
    }
}*/
@media (max-width: 768px) {
  .col-md-12.pageheader {
    padding: 0;
  }
}
#pageheader {
  background: #ffffff;
  border-left: 19px solid #004e66;
}
@media (max-width: 768px) {
  #pageheader {
    border: none;
    margin: 0;
  }
}
#pageheader nav {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 30px;
}
@media (max-width: 768px) {
  #pageheader nav {
    margin: 0;
    background: #004e66;
  }
  #pageheader nav li {
    margin-left: 45px;
    padding: 7px 0px;
    display: none;
  }
  #pageheader nav li:last-child {
    display: block;
  }
  #pageheader nav li:before {
    position: absolute;
    left: 20px;
    top: 5px;
    font-family: "FontAwesome";
    content: "\f104";
    font-size: 40px;
    vertical-align: middle;
    color: #ffffff;
  }
  #pageheader nav a {
    color: #ffffff;
    font-size: 20px;
  }
}
#pageheader .headerGroup {
  color: #ffffff;
  background: rgba(119, 67, 141, 0.89);
  background-image: url("../img/Livslinje-enkel-lilla.svg");
  background-repeat: repeat-x;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 768px) {
  #pageheader .headerGroup {
    background: none;
  }
}
#pageheader .headerGroup h1 {
  color: #ffffff;
  margin-top: 25px;
  padding-left: 30px;
  padding-top: 0px;
  padding-bottom: 45px;
  display: block;
}
@media (max-width: 768px) {
  #pageheader .headerGroup h1 {
    padding-left: 15px;
    padding-right: 15px;
    color: #004e66;
    font-size: 36px;
  }
}
#pageheader .headerGroup span {
  font-family: "Calibri";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  #pageheader .headerGroup span {
    display: none;
  }
}
#pageheader .headerGroup .icon {
  display: block;
  font-family: "soho gothic pro medium";
  position: absolute;
  bottom: 0;
  right: 15px;
  cursor: pointer;
  padding: 3px 16px;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.recommendation {
  padding: 0;
  background: #ffffff;
  margin-top: 25px;
}
.recommendation:first-child {
  margin-top: 40px;
}
.recommendation dl dt {
  font-weight: bold;
}
@media (min-width: 768px) {
  .recommendation .dl-horizontal {
    width: 100%;
    overflow: auto;
  }
  .recommendation .dl-horizontal dt {
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .recommendation .dl-horizontal dd {
    margin-left: 120px;
  }
}
@media (max-width: 768px) {
  .recommendation.open {
    margin-bottom: 150px;
  }
}
.recommendation .header_wrapper header.gradingStrong {
  border-left: 5px solid #77438d;
}
.recommendation .header_wrapper header.gradingWeak {
  border-left: 5px solid #69b4b6;
}
.recommendation .header_wrapper header.gradingNone {
  border-left: 5px solid #aeaba8;
}
.recommendation .header_wrapper header.gradingBlank {
  border-left: 5px solid #fffff1;
  /*Change to site background on mobile */
}
@media (max-width: 768px) {
  .recommendation .header_wrapper header.gradingBlank {
    border-left: 5px solid #f5f5f5;
  }
}
.recommendation .header_wrapper header h2 {
  margin-top: 0;
  margin-right: 30px;
  display: block;
  color: #004e66;
  position: relative;
  padding-left: 45px;
  padding-bottom: 45px;
  padding-top: 30px;
}
.recommendation .header_wrapper header h2:before {
  position: absolute;
  left: 15px;
  content: "\f107";
  font-family: "FontAwesome";
  cursor: pointer;
}
.recommendation .header_wrapper header h2.clicked:before {
  content: "";
}
@media (max-width: 768px) {
  .recommendation .header_wrapper header h2 {
    padding-bottom: 15px;
    width: 100%;
    padding-right: 45px;
  }
  .recommendation .header_wrapper header h2.clicked {
    background: #f5f5f5;
  }
}
.recommendation .text {
  /* Styling for EKG border  */
  /* Navigational tabs within recommendation */
}
.recommendation .text .recommendationexplanation {
  /*Grading icon*/
  margin-left: 50px;
  padding-left: 20px;
  /*Grading header*/
  /*Grading text*/
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation {
    margin-left: 0;
    padding-left: 0;
  }
}
.recommendation .text .recommendationexplanation.gradingStrong {
  border-left: 2px solid #77438d;
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation.gradingStrong {
    border-left: none;
  }
}
.recommendation .text .recommendationexplanation.gradingWeak {
  border-left: 2px solid #69b4b6;
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation.gradingWeak {
    border-left: none;
  }
}
.recommendation .text .recommendationexplanation.gradingNone {
  border-left: 2px solid #aeaba8;
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation.gradingNone {
    border-left: none;
  }
}
.recommendation .text .recommendationexplanation.gradingBlank {
  border-left: 2px solid #ffffff;
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation.gradingBlank {
    border-left: none;
  }
}
.recommendation .text .recommendationexplanation .clickable {
  cursor: pointer;
}
.recommendation .text .recommendationexplanation .icon {
  padding: 7px 15px;
  width: 50px;
  text-align: center;
  display: inline-block;
}
.recommendation .text .recommendationexplanation .icon:before {
  content: "\f129";
  margin-bottom: 10px;
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0;
}
.recommendation .text .recommendationexplanation .icon.open:before {
  content: "";
}
.recommendation .text .recommendationexplanation .icon.gradingStrong {
  background-color: #77438d;
}
.recommendation .text .recommendationexplanation .icon.gradingWeak {
  background-color: #69b4b6;
}
.recommendation .text .recommendationexplanation .icon.gradingNone {
  background-color: #aeaba8;
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation .icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    padding: 10px 15px;
    width: 50px;
    text-align: center;
  }
}
.recommendation .text .recommendationexplanation .recommendationstrength {
  cursor: pointer;
  font-family: "Calibri-Bold";
  text-transform: uppercase;
  margin-left: 15px;
}
.recommendation .text .recommendationexplanation .recommendationstrength.gradingStrong {
  color: #77438d;
}
.recommendation .text .recommendationexplanation .recommendationstrength.gradingWeak {
  color: #69b4b6;
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation .recommendationstrength {
    display: block;
    padding-top: 15px;
    font-size: 24px;
    font-family: "Calibri";
    height: 51px;
  }
}
.recommendation .text .recommendationexplanation .explainingtext {
  margin-top: 0;
  margin-right: 20px;
  padding: 10px;
}
.recommendation .text .recommendationexplanation .explainingtext.gradingStrong {
  background-color: #ded2e4;
}
.recommendation .text .recommendationexplanation .explainingtext.gradingWeak {
  background-color: #c1dfdd;
}
.recommendation .text .recommendationexplanation .explainingtext p {
  max-width: 650px;
}
@media (max-width: 768px) {
  .recommendation .text .recommendationexplanation .explainingtext {
    padding: 25px 15px;
    font-size: 24px;
    margin-right: 0;
  }
}
.recommendation .text .textContainer {
  margin-left: 50px;
  margin-right: 30px;
  padding-left: 20px;
  padding-top: 0;
}
@media (max-width: 768px) {
  .recommendation .text .textContainer {
    margin: 0;
    padding: 15px;
  }
}
.recommendation .text .textContainer.gradingStrong {
  border-left: 2px solid #77438d;
}
@media (max-width: 768px) {
  .recommendation .text .textContainer.gradingStrong {
    border-left: none;
  }
}
.recommendation .text .textContainer.gradingWeak {
  border-left: 2px solid #69b4b6;
}
@media (max-width: 768px) {
  .recommendation .text .textContainer.gradingWeak {
    border-left: none;
  }
}
.recommendation .text .textContainer.gradingNone {
  border-left: 2px solid #aeaba8;
}
@media (max-width: 768px) {
  .recommendation .text .textContainer.gradingNone {
    border-left: none;
  }
}
.recommendation .text .textContainer.gradingNone .recommendation-text {
  padding-top: 0;
}
.recommendation .text .textContainer.gradingBlank {
  border-left: 2px solid #ffffff;
}
@media (max-width: 768px) {
  .recommendation .text .textContainer.gradingBlank {
    border-left: none;
  }
}
.recommendation .text .textContainer .recommendation-text {
  max-width: 650px;
  padding-top: 15px;
}
.recommendation .text .textContainer img.pulse {
  top: 40px;
  position: absolute;
  left: 43px;
  height: 57px;
}
@media (max-width: 768px) {
  .recommendation .text .textContainer img.pulse {
    display: none;
  }
}
.recommendation .text .tabs {
  margin-top: 45px;
  width: 100%;
}
.recommendation .text .tabs ul {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 30px;
  text-align: justify;
}
.recommendation .text .tabs ul .resp-tab-item {
  cursor: pointer;
  padding: 2px 15px;
  display: inline-block;
  background-color: #e7e7e6;
  margin-right: 7px;
}
.recommendation .text .tabs ul .resp-tab-item:last {
  margin-right: 0px;
  margin-left: 7px;
}
.recommendation .text .tabs ul .resp-tab-item a {
  font-size: 18px;
  color: #000000;
}
.recommendation .text .tabs ul .resp-tab-item.resp-tab-active {
  background-color: #f6f6f6;
  height: 40px;
  font-weight: bold;
}
.recommendation .text .tabs ul.open {
  margin-bottom: 0px;
}
.recommendation .text .tabs .resp-tabs-container {
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  border-bottom: 15px solid #ffffff;
  /* container divs for tab content */
}
@media (min-width: 993px) {
  .recommendation .text .tabs .resp-tabs-container {
    background-color: #f5f5f5;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .recommendation .text .tabs .resp-tabs-container {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media (max-width: 768px) {
  .recommendation .text .tabs .resp-tabs-container {
    margin: 0;
    border: 0;
    background-color: #f6f6f6;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.recommendation .text .tabs .resp-tabs-container > div {
  padding-top: 30px;
  margin-left: 60px;
  margin-right: 30px;
  padding-bottom: 30px;
}
@media (max-width: 992px) {
  .recommendation .text .tabs .resp-tabs-container > div {
    background-color: #f6f6f6;
    margin: 0;
    padding-left: 20px;
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  .recommendation .text .tabs .resp-tabs-container > div {
    background-color: #e0e0e0;
  }
}
.recommendation .text .tabs .resp-tabs-container h3 {
  padding: 7px 20px;
  background-color: #e7e7e6;
  margin-top: 3px;
}
@media (max-width: 768px) {
  .recommendation .text .tabs .resp-tabs-container h3 {
    background-color: #ffffff;
  }
}
.recommendation .text .tabs .resp-tabs-container h3 a {
  color: #000000;
}
.recommendation .text .tabs .resp-tabs-container h3 a:before {
  padding-right: 10px;
  font-size: 30px;
  content: "\f107";
  font-family: "FontAwesome";
  text-decoration: none;
  color: #838078;
}
.recommendation .text .tabs .resp-tabs-container h3.resp-tab-active {
  background-color: #f6f6f6;
}
@media (max-width: 768px) {
  .recommendation .text .tabs .resp-tabs-container h3.resp-tab-active {
    background-color: #e0e0e0;
  }
}
.recommendation .text .tabs .resp-tabs-container h3.resp-tab-active a:before {
  content: "\f106";
}
.recommendation .text .tabs .resp-tabs-container ul.linklist {
  margin-left: 0;
}
.recommendation .text .tabs .resp-tabs-container ul.linklist li {
  display: inline-block;
  margin-right: 20px;
}
.recommendation .text .tabs .resp-tabs-container ul.linklist li a {
  font-size: 18px;
  text-decoration: underline;
  color: #000000;
}
.recommendation .text .tabs .resp-tabs-container ul.linklist li a:after {
  content: url("../img/modules/icons/ico-full-skjerm.svg");
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 15px;
}
.recommendation .closepane {
  width: 100%;
  height: 30px;
  display: block;
}
@media (max-width: 768px) {
  .recommendation .closepane {
    height: 44px;
  }
}
.recommendation .closepane i {
  color: #ffffff;
  margin-left: 20px;
  font-size: 28px;
}
@media (max-width: 768px) {
  .recommendation .closepane i {
    font-size: 30px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.recommendation .closepane.gradingStrong {
  background-color: #77438d;
}
.recommendation .closepane.gradingWeak {
  background-color: #69b4b6;
}
.recommendation .closepane.gradingNone {
  background-color: #aeaba8;
}
.recommendation:last-child {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  aside.retningslinjer {
    float: none;
  }
}
aside.retningslinjer .module_related {
  width: 100%;
}
aside.retningslinjer .module_related.module {
  margin-top: 25px;
}
aside.retningslinjer .module_related.module:last-child {
  margin-bottom: 25px;
}
aside.retningslinjer .module_related h3 {
  font-family: "Calibri";
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  color: #004e66;
  line-height: 20px;
}
aside.retningslinjer .module_related ul.linklist li {
  font-size: 20px;
  font-family: "Soho Gothic W01 Regular";
}
aside.retningslinjer .module_related ul.linklist a {
  color: #004e66;
  font-size: 20px;
  font-family: "Soho Gothic W01 Regular";
}
aside.retningslinjer .module_related ul.linklist a:after {
  padding-left: 10px;
  content: "\f105";
  font-family: "FontAwesome";
  text-decoration: none;
  font-size: inherit;
}
aside.retningslinjer .module_related.green {
  border-left: 2px solid #a1bf37;
}
aside.retningslinjer .module_related.blue {
  border-left: 2px solid #6bb3b4;
}

.picoModal {
  display: none;
  font-size: 18px;
  background: #ffffff;
}
@media (min-width: 1200px) {
  .picoModal {
    width: 1200px;
  }
}
.picoModal .header {
  background: #d0d2d3;
  font-weight: bold;
  padding: 10px 30px;
}
.picoModal .header a {
  text-decoration: underline;
  color: #828078;
  position: absolute;
  right: 10px;
  font-weight: normal;
}
.picoModal .header a:after {
  font-family: "FontAwesome";
  content: "\f00d";
  text-decoration: none;
  font-size: inherit;
  padding-left: 10px;
}
.picoModal table {
  margin-top: 30px;
  margin-bottom: 30px;
}
.picoModal table th {
  font-weight: bold;
  text-align: left;
}
.picoModal table td:first-child {
  width: 300px;
  padding-left: 30px;
}
.picoModal table th:first-child {
  width: 300px;
  padding-left: 30px;
}
.picoModal table td:last-child {
  padding-right: 30px;
}
.picoModal table th:last-child {
  padding-right: 30px;
}
.picoModal table tbody tr:nth-child(odd) {
  background: #f7f6f6;
}

/*# sourceMappingURL=retningslinjer_endringer.css.map */
