/* Spesifikt for retningslinjer */

article header {
	background: none;
}

article p {
	display: block;
	margin-bottom: 10px;
}

.recommendation {
	border: 1px solid #df9922;
	padding: 15px 15px 15px 15px;
	margin: 10px 0px 10px 0px;
}

.recommendation_tabs .resp-tabs-container {
	font-size: 0.8em;
	line-height: 1.4em;
}

section header.section_heading h1 {
	margin-top: 1em;
	margin-bottom: 0.1em;
}

article nav h1 {
	font-size: 1.333em;
}

article section header h1 {
	font-size: 1.333em;
}

section.recommendation header h1 {
	font-size: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
}

#local-nav.affix {
    position: fixed;
    top: 0px;
}


.accordion {
	position: relative;
}

/*.accordion:before {
    content: "\f138"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 20px;
    padding-right: 0.5em;
    position: absolute;
    top: 2px;
    left: 0;
}*/

/*.accordion.open:before {
    content: "\f13a";
}*/


.hidden {
	display: none;
}

@media screen and (max-width: 880px) {
  /*section.recommendation {
		border: 1px solid #DDDDDD;
		background-color: #efefef;
		margin-bottom: 8px;
		padding: 10px;
		box-shadow:0 1px 2px #aaa;
		-moz-border-radius: 1px;
	  -webkit-border-radius: 1px;
	  border-radius: 1px;
	}*/
	
	#local-nav.affix {
    position: static;
    
}
	
	/*section.recommendation header h1 {
		margin-left: 1em;
	}*/
}