/* Spesifikt for retningslinjer */

body{
	background-color: #f3f3f3;
}

.btn {
	border-radius: 0px;
}

article header, section header {
	background: none;
	margin-bottom: 0px;
}

article p, section p {
	display: block;
	margin-bottom: 10px;
}

.guidelineInfo {
	padding: 0.5em;
}
.guidelineInfo dt {
	float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: normal;
}

.guidelineInfo dt:after {
	content: ":";
}

.guidelineInfo dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	font-weight: bold;
}


.keyInfo {
	padding: 0.5em;
}
.keyInfo dt {
	float: left;
  clear: left;
  width: 150px;
  text-align: right;
  font-weight: normal;
}

.keyInfo dt:after {
	content: ":";
}

.keyInfo dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	font-weight: bold;
}

/* PICO samkjør med guidelineInfo */
.pico {
	padding: 0.5em;
	margin-bottom: 0px;
}

.pico:not(:first-child) {
    margin-top: 30px;
}

.pico dt {
	float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}

.pico dt:after {
	content: ":";
}

.pico dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	font-weight: normal;
}

.evidensprofil {
	margin-top:10px;
}

.recommendation {
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 10px 0px;
	background-color: #ffffff;
	box-shadow: 0 0.5px 1px #aaa;
	-moz-border-radius: 1px;
	-webkit-border-radius: 0.5px;
	border-radius: 0.5px;
}

.recommendation header {
	cursor: pointer;
}


.recommendationType {
	width: 4em;
	position: absolute;
	top: -24px;
	left: -8px;
}

.recommendationType span {
	font-size: 0.6em;
	color: #004e66;
	display: block;
	text-align: center;
	vertical-align: middle;
}

.recommendation_text{
	margin-top: 0.5em;
}

.recommendation_extras {
	margin-top: 10px;
	margin-bottom: 10px;
}

.recommendation_kunnskapsgrunnlag {
	margin-top: 10px;
}

.recommendation_tabs {
	line-height: 1.4em;
}

.recommendation_tabs .resp-tabs-container {
	font-size: 0.8em;
	line-height: 1.4em;
}

.grading {
	border: 1px solid #b57e1f;
	background-color: #df9922;
	color: #fff;
	width: 100%;
	padding-left: 5px;
	font-size: 0.8em;
}

section header.section_heading h1 {
	margin-top: 1em;
	margin-bottom: 0.1em;
}

.shortcuts {
	margin-top: 20px;
}

article nav h1 {
	font-size: 1.333em;
}

article section header h1, section header h1, .subsections {
	font-size: 1.333em;
}

.subsections {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	line-height: 1.8em;
}

.subsections a {
	text-decoration: none;
}

.subsectionLink:after {
	  content: "\f178"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #999;
    font-size: 18px;
    padding-left: 10px;
}

p.grading {
	display: none;
}


section.recommendation header h1 {
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 0.1em;
	margin-right: 1.5em;
	padding-top: 2px;
}

#local-nav.affix {
    position: fixed;
    top: 0px;
}

.form-inline .form-group input {
    width:100%;
}



.accordion {
	position: relative;
}

.accordion:after {
    content: "\f078"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #004e66;
    font-size: 20px;
    padding-right: 0.3em;
    position: absolute;
    top: 0px;
    right: 0;
    
}

.accordion.open:after {
    content: "\f077";
}

/* Actions/buttons */

.show_kunnskapsgrunnlag:before {
    content: "\f078"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #666;
    font-size: 14px;
    padding-right: 0.3em;
}

.show_kunnskapsgrunnlag.open:before {
    content: "\f077";
}

.show_evidensprofil{
	margin-left: 120px;
}

.show_evidensprofil:before {
	 content: "\f078"; 
	 font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
   color: #666;
   font-size: 14px;
   padding-right: 0.3em;
}

.show_evidensprofil.open:before {
	content: "\f077";
}



/* icons */
.fa-search {
	border: none;
}


/* Helpers */
.hidden {
	display: none;
}

.uppercase {
	text-transform: uppercase;
}


@media screen and (max-width: 880px) {
  /*section.recommendation {
		border: 1px solid #DDDDDD;
		background-color: #efefef;
		margin-bottom: 8px;
		padding: 10px;
		box-shadow:0 1px 2px #aaa;
		-moz-border-radius: 1px;
	  -webkit-border-radius: 1px;
	  border-radius: 1px;
	}*/
    
}
	
	/*section.recommendation header h1 {
		margin-left: 1em;
	}*/
}

/* Autocomplete */
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 5px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #004e66;
    cursor: pointer;

}

.tt-suggestion p {
    margin: 0;
}