@fontRoboto: 'Roboto', sans-serif;
@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "soho gothic pro light";
@fontSohoRegular: "soho gothic pro regular";

@colorDarkBlue: #004e66;
@colorBlue023c49: #023c49;
@colorMediumBlue: #0093a7;
@colorLightBlue: #6cb4b5;
@colorOrange: #df9922;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;

.search_withbutton {
    input {
        width: 80%;
    }

    .calltoaction {
        width: 100px;
    }
}

.filterlist {
    li {
        display: inline;
        margin-right: 25px;

        a {
            color: @colorDarkBlue;
            font-size: 18px;
        }
    }

    .selectedfilter a, .selectedfilter a:visited {
        font-weight: bold;
        border-bottom: 3px solid @colorDarkBlue;
        padding-bottom: 6px;
    }
}

.numberofhits {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 18px;
    color: @colorDarkBlue;
}

.searchresult {
    margin: 50px 0 70px 0;

    .breadcrumbs {
        a, a:visited {
            text-decoration: none;
        }
    }

    h2 {
        margin-top: 10px;
    }
}

.searchfield {
    margin: 40px 0 10px 0;
}