@fontCalibri: 'Calibri';
@fontCalibriBold: 'Calibri-Bold';
@fontSoho: "soho gothic pro medium";
@fontSohoLight: "Soho Gothic W01 Light";
@fontSohoRegular: "Soho Gothic W01 Regular";

@colorDarkBlue: #004e66;
@colorDarkBlueHover: #002e41;

@colorMediumBlue: #0093a7;
@colorMediumBlueHover: #006371;
@colorLightBlue: #6cb4b5;
@colorLightBlueHover: #4f8889;
@colorOrange: #df9922;
@colorOrangeHover: #b8811d;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorYellowHover: #c7ad1c;
@colorDarkGray: #aeaba8;


@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGreenHover: #748f29;

.container {
    .dropdown-statistikk {
        select {
            width: 40%;
        }

        button {
            background: @colorOrange;
            border: 0;
        }
    }

    .radiobuttons label {
        display: block;
    }

    .statistics_compare {
        padding: 5px 0 10px 10px;

        p {
            margin: 0;
        }

        select {
            display: block;
            margin-bottom: 20px;
            width: 100%;
        }

        label {
            display: inline-block;

            input {
                margin-right: 5px;
            }
        }

        button {
            background: white;
            border: 1px solid @colorDarkGray;
        }

        a {
            display: block;
        }

        label, a {
            padding-left: 15px;
        }
    }

    #compare_hiddenfields {
        display: none;
    }

    .statistics {
        h2 {
            text-align: center;
        }

        .fa-chevron-down {
            float: none;
            padding: 0;
        }
    }

    .statistics_about {
        h4 {
            margin: 50px 0 10px 0;
        }

        p {
            margin: 0;
        }
    }

    #statistikktab1, #statistikktab2, #statistikktab3 {
        margin-top: 20px;
    }

    .statistics_chart {
        margin: 40px 0 0 0;
        background: white;
        overflow: auto;

        #chart_div {
            height: 400px;
            width: 100%;
            display: inline-block;
        }
    }

    .statistics_table {
        margin-top: 50px;
        display: inline-block;
        width: 100%;
    }

    .table_general {
        width: 100%;
        margin-bottom: 0;
    }

    .statistics_description {
        margin: 40px 0;
    }

    .statistics_reports {
        h2 {
            margin-bottom: 10px;
        }
    }

    #chart_div_legend {
        margin-left: 37px;
        list-style: none;
        font-size: 16px;
    }

    .legendMarker {
        height: 1em;
        width: 1em;
        display: inline-block;
        margin: 0 5px 0 0;
    }
}