/*Retningslinje forside. Liste over alle nasjonale faglige retningslinjer */


.Guidelinesfrontpage .pageheader {
    margin-bottom: 30px;
}

.Guidelinesfrontpage .guidelineslist {
    li {
        background: #ffffff;
        padding: 30px;
        margin: 30px 0;
        @include breakpoint("mobile"){
            padding: 10px;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 15px;
            color: #0093a7;
        }
        &:first-child {
            margin-top: 10px;
        }

    } 
}
 
 

.Guidelinesfrontpage .guidelinecount {
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
    color: $blueText;
}

.Guidelinesfrontpage .guidelinesummary{
    word-wrap: break-word;
    color: #000;
}
 