.container .division {
  float: left;
}
.container .division a:hover {
  text-decoration: none;
}
.container .division .division_header {
  color: #004e66;
  padding: 6px;
  margin: 20px 22px 10px 0;
  line-height: 24px;
  width: 170px;
  height: 130px;
  background: white;
  display: table;
  position: relative;
  cursor: pointer;
}
.container .division .division_header p {
  text-align: center;
  font-family: "Soho Gothic W01 Regular";
  font-size: 18px;
  line-height: 20px;
}
.container .division .division_header p.division_name {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Calibri';
}
.container .division .division_header p:last-of-type {
  display: none;
}
.container .division .division_header.last {
  margin: 20px 0 10px 0;
}
.container .division .division_header#folkehelse.selected:before,
.container .division .division_header#helseoekonomiogfinansiering.selected:before,
.container .division .division_header#spesialisthelsetjenesten.selected:before,
.container .division .division_header#ehelseogit.selected:before,
.container .division .division_header#primaerhelsetjenesten.selected:before,
.container .division .division_header#administrasjon.selected:before {
  position: absolute;
  content: "\f106";
  font-family: "FontAwesome";
  color: white;
  left: 0;
  top: 95px;
  font-size: 30px;
  left: 46%;
}
.container .division .division_header#folkehelse {
  border: 4px solid #6cb4b5;
}
.container .division .division_header#folkehelse.selected {
  border-bottom: 31px solid #6cb4b5;
}
.container .division .division_header#folkehelse.selected:before {
  background: #6cb4b5;
}
.container .division .division_header#helseoekonomiogfinansiering {
  border: 4px solid #a1bf37;
}
.container .division .division_header#helseoekonomiogfinansiering.selected {
  border-bottom: 31px solid #a1bf37;
}
.container .division .division_header#helseoekonomiogfinansiering.selected:before {
  background: #a1bf37;
}
.container .division .division_header#spesialisthelsetjenesten {
  border: 4px solid #aeaba8;
}
.container .division .division_header#spesialisthelsetjenesten.selected {
  border-bottom: 31px solid #aeaba8;
}
.container .division .division_header#spesialisthelsetjenesten.selected:before {
  background: #aeaba8;
}
.container .division .division_header#ehelseogit {
  border: 4px solid #c63629;
}
.container .division .division_header#ehelseogit.selected {
  border-bottom: 31px solid #c63629;
}
.container .division .division_header#ehelseogit.selected:before {
  background: #c63629;
}
.container .division .division_header#primaerhelsetjenesten {
  border: 4px solid #df9922;
}
.container .division .division_header#primaerhelsetjenesten.selected {
  border-bottom: 31px solid #df9922;
}
.container .division .division_header#primaerhelsetjenesten.selected:before {
  background: #df9922;
}
.container .division .division_header#administrasjon {
  border: 4px solid #76428d;
}
.container .division .division_header#administrasjon.selected {
  border-bottom: 31px solid #76428d;
}
.container .division .division_header#administrasjon.selected:before {
  background: #76428d;
}
.container .division .division_header:before {
  position: absolute;
  content: "\f107";
  font-family: "FontAwesome";
  color: #004e66;
  top: 95px;
  left: 46%;
  font-size: 30px;
}
.container .division .department {
  float: left;
}
.container .division .department .person,
.container .division .department .person_sub,
.container .division .department .person_subsub {
  color: #004e66;
  padding: 20px 10px 10px 10px;
  font-family: "Soho Gothic W01 Regular";
  font-size: 18px;
  line-height: 24px;
  width: 170px;
}
.container .division .department .person p,
.container .division .department .person_sub p,
.container .division .department .person_subsub p {
  margin: 0;
}
.container .division .department .person p.e-mail,
.container .division .department .person_sub p.e-mail,
.container .division .department .person_subsub p.e-mail {
  word-break: break-all;
  text-decoration: underline;
}
.container .division .department .person .title,
.container .division .department .person_sub .title,
.container .division .department .person_subsub .title {
  font-family: 'Calibri';
  font-size: 18px;
  text-transform: uppercase;
  color: #004e66;
  text-decoration: none;
  margin-bottom: 10px;
}
.container .division .department.folkehelse .sub-division .box {
  border-left: 4px solid #6cb4b5;
}
.container .division .department.folkehelse .sub-division .box.selected {
  border: 4px solid #6cb4b5;
}
.container .division .department.folkehelse .sub-division .box.selected:before {
  background: #6cb4b5;
}
.container .division .department.folkehelse .sub-division .box ~ .person_sub {
  border-left: 3px dotted #6cb4b5;
}
.container .division .department.folkehelse .person_sub,
.container .division .department.folkehelse .person_subsub {
  border-bottom: 4px solid #6cb4b5;
}
.container .division .department.folkehelse .sub-division .subsub-divisions .subsub-division .circle {
  background: #6cb4b5;
}
.container .division .department.folkehelse .sub-division .decorativeborder {
  border-right: 3px dotted #6cb4b5;
  border-bottom: 3px dotted #6cb4b5;
}
.container .division .department.folkehelse .sub-division .subsub-divisions {
  border-left: 3px dotted #6cb4b5;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .box {
  border-left: 4px solid #a1bf37;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .box.helfo {
  background: #dbdcdd;
  margin-top: 0;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .box.selected {
  border: 4px solid #a1bf37;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .box.selected:before {
  background: #a1bf37;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .box ~ .person_sub {
  border-left: 3px dotted #a1bf37;
}
.container .division .department.helseoekonomiogfinansiering .person_sub,
.container .division .department.helseoekonomiogfinansiering .person_subsub {
  border-bottom: 4px solid #a1bf37;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .subsub-divisions .subsub-division .circle {
  background: #a1bf37;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .decorativeborder {
  border-right: 3px dotted #a1bf37;
  border-bottom: 3px dotted #a1bf37;
}
.container .division .department.helseoekonomiogfinansiering .sub-division .subsub-divisions {
  border-left: 3px dotted #a1bf37;
}
.container .division .department.spesialisthelsetjenesten .sub-division .box {
  border-left: 4px solid #aeaba8;
}
.container .division .department.spesialisthelsetjenesten .sub-division .box.selected {
  border: 4px solid #aeaba8;
}
.container .division .department.spesialisthelsetjenesten .sub-division .box.selected:before {
  background: #aeaba8;
}
.container .division .department.spesialisthelsetjenesten .sub-division .box.selected ~ .person_sub {
  border-left: 3px dotted #aeaba8;
}
.container .division .department.spesialisthelsetjenesten .person_sub,
.container .division .department.spesialisthelsetjenesten .person_subsub {
  border-bottom: 4px solid #aeaba8;
}
.container .division .department.spesialisthelsetjenesten .sub-division .subsub-divisions .subsub-division .circle {
  background: #aeaba8;
}
.container .division .department.spesialisthelsetjenesten .sub-division .decorativeborder {
  border-right: 3px dotted #aeaba8;
  border-bottom: 3px dotted #aeaba8;
}
.container .division .department.spesialisthelsetjenesten .sub-division .subsub-divisions {
  border-left: 3px dotted #aeaba8;
}
.container .division .department.ehelseogit .sub-division .box {
  border-left: 4px solid #c63629;
}
.container .division .department.ehelseogit .sub-division .box.selected {
  border: 4px solid #c63629;
}
.container .division .department.ehelseogit .sub-division .box.selected:before {
  background: #c63629;
}
.container .division .department.ehelseogit .sub-division .box.selected ~ .person_sub {
  border-left: 3px dotted #c63629;
}
.container .division .department.ehelseogit .person_sub,
.container .division .department.ehelseogit .person_subsub {
  border-bottom: 4px solid #c63629;
}
.container .division .department.ehelseogit .sub-division .subsub-divisions .subsub-division .circle {
  background: #c63629;
}
.container .division .department.ehelseogit .sub-division .decorativeborder {
  border-right: 3px dotted #c63629;
  border-bottom: 3px dotted #c63629;
}
.container .division .department.ehelseogit .sub-division .subsub-divisions {
  border-left: 3px dotted #c63629;
}
.container .division .department.primaerhelsetjenesten .sub-division .box {
  border-left: 4px solid #df9922;
}
.container .division .department.primaerhelsetjenesten .sub-division .box.selected {
  border: 4px solid #df9922;
}
.container .division .department.primaerhelsetjenesten .sub-division .box.selected:before {
  background: #df9922;
}
.container .division .department.primaerhelsetjenesten .sub-division .box.selected ~ .person_sub {
  border-left: 3px dotted #df9922;
}
.container .division .department.primaerhelsetjenesten .person_sub,
.container .division .department.primaerhelsetjenesten .person_subsub {
  border-bottom: 4px solid #df9922;
}
.container .division .department.primaerhelsetjenesten .sub-division .subsub-divisions .subsub-division .circle {
  background: #df9922;
}
.container .division .department.primaerhelsetjenesten .sub-division .decorativeborder {
  border-right: 3px dotted #df9922;
  border-bottom: 3px dotted #df9922;
}
.container .division .department.primaerhelsetjenesten .sub-division .subsub-divisions {
  border-left: 3px dotted #df9922;
}
.container .division .department.administrasjon .sub-division .box {
  border-left: 4px solid #76428d;
  margin-right: 0;
}
.container .division .department.administrasjon .sub-division .box.selected {
  border: 4px solid #76428d;
}
.container .division .department.administrasjon .sub-division .box.selected:before {
  background: #76428d;
}
.container .division .department.administrasjon .sub-division .box.selected ~ .person_sub {
  border-left: 3px dotted #76428d;
}
.container .division .department.administrasjon .person_sub,
.container .division .department.administrasjon .person_subsub {
  border-bottom: 4px solid #76428d;
}
.container .division .department.administrasjon .sub-division .subsub-divisions .subsub-division .circle {
  background: #76428d;
}
.container .division .department.administrasjon .sub-division .decorativeborder {
  border-right: 3px dotted #76428d;
  border-bottom: 3px dotted #76428d;
}
.container .division .department.administrasjon .sub-division .subsub-divisions {
  border-left: 3px dotted #76428d;
}
.container .division .department .sub-division .box {
  color: #004e66;
  padding: 10px 6px 30px 2px;
  margin: 20px 22px 10px 0;
  width: 170px;
  height: 90px;
  background: white;
  display: table;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin-top: 5px;
}
.container .division .department .sub-division .box:before {
  position: absolute;
  content: "\f107";
  font-family: "FontAwesome";
  color: #004e66;
  bottom: 0;
  left: 0;
  font-size: 30px;
  right: 0;
}
.container .division .department .sub-division .box.selected {
  padding: 6px 6px 30px 6px;
  margin-bottom: 0;
}
.container .division .department .sub-division .box.selected:before {
  content: "\f106";
  font-family: "FontAwesome";
  color: #004e66;
}
.container .division .department .sub-division#utviklingsdirektoer .box {
  background: #76428d;
  color: white;
  height: 45px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.container .division .department .sub-division#utviklingsdirektoer .box:before {
  content: '';
}
.container .division .department .sub-division#utviklingsdirektoer .box:after {
  color: white;
  top: 13px;
}
.container .division .department .sub-division .subsub-divisions {
  padding-top: 10px;
  position: relative;
}
.container .division .department .sub-division .subsub-divisions:before {
  content: "";
  position: absolute;
  left: -3px;
  height: 45px;
  width: 3px;
  border-left: 3px solid #f7f6f6;
  bottom: 0;
}
.container .division .department .sub-division .subsub-divisions .subsub-division {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .division .department .sub-division .subsub-divisions .subsub-division .circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  left: -10%;
  top: 30px;
  z-index: 1;
  color: white;
  text-align: center;
  line-height: 33px;
  font-size: 28px;
}
.container .division .department .sub-division .subsub-divisions .subsub-division .box {
  margin-top: 0;
  width: 163px;
  margin-left: 5px;
}
.container .division .department .sub-division .subsub-divisions .subsub-division:last-child {
  margin-bottom: 40px;
}
.container .division .department .sub-division .decorativeborder {
  width: 85px;
  height: 20px;
}
.container .division .department.administrasjon .sub-division {
  margin: 10px 0 0 0;
}
.container .etater {
  margin-top: 33px;
  font-size: 18px;
}
.container .border {
  padding: 0;
}
.container .underliggende_etat {
  color: #004e66;
  padding: 6px 24px 6px 16px;
  margin: 20px 30px 0 0;
  line-height: 24px;
  width: 190px;
  height: 72px;
  background: white;
  display: table;
  position: relative;
  border-left: 4px solid #004e66;
  float: left;
}
.container .underliggende_etat p {
  font-size: 18px;
  line-height: 20px;
  display: table-cell;
  vertical-align: middle;
}
.container .underliggende_etat:after {
  position: absolute;
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 25px;
  color: #004e66;
  left: 103px;
  top: 27px;
  padding-left: 65px;
  padding-right: 65px;
}
.container .director {
  width: 33.3333333333%;
  height: 100px;
  display: table;
  margin: 0 auto;
  background: #004e66 url(../img/menneske_i_footer.svg) no-repeat right top;
}
.container .director p {
  text-align: center;
  font-family: "Soho Gothic W01 Regular";
  font-size: 18px;
  line-height: 20px;
  color: white;
}
.container .director p:first-of-type {
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  .container #kunnskapssenteret {
    margin-left: 192px;
  }
}
@media only screen and (max-width: 1199px) {
  .container .division {
    float: none;
  }
  .container .division .division_header {
    margin: 10px 15px 10px 0;
    padding: 5px 0 5px 10px;
    width: 100%;
    height: 50px;
  }
  .container .division .division_header a {
    display: block;
  }
  .container .division .division_header p {
    text-align: left;
    margin: 0;
  }
  .container .division .division_header p:last-of-type {
    display: block;
    font-size: 18px;
    font-family: 'Calibri';
  }
  .container .division .division_header:before {
    position: absolute;
    content: "\f107";
    font-family: "FontAwesome";
    color: #004e66;
    top: 15px;
    left: 96%;
    font-size: 30px;
  }
  .container .division .division_header.last {
    margin: 10px 15px 10px 0;
  }
  .container .division .division_header#folkehelse.selected:before,
  .container .division .division_header#helseoekonomiogfinansiering.selected:before,
  .container .division .division_header#spesialisthelsetjenesten.selected:before,
  .container .division .division_header#ehelseogit.selected:before,
  .container .division .division_header#primaerhelsetjenesten.selected:before,
  .container .division .division_header#administrasjon.selected:before {
    position: absolute;
    content: "\f106";
    font-family: "FontAwesome";
    color: #004e66;
    top: 15px;
    left: 96%;
    font-size: 30px;
    background: none;
  }
  .container .division .division_header#folkehelse.selected {
    border-bottom: 4px solid #6cb4b5;
  }
  .container .division .division_header#folkehelse.selected ~ .department {
    border-left: 3px dotted #6cb4b5;
    border-bottom: 4px solid #6cb4b5;
  }
  .container .division .division_header#helseoekonomiogfinansiering.selected {
    border-bottom: 4px solid #a1bf37;
  }
  .container .division .division_header#helseoekonomiogfinansiering.selected ~ .department {
    border-left: 3px dotted #a1bf37;
    border-bottom: 4px solid #a1bf37;
  }
  .container .division .division_header#spesialisthelsetjenesten.selected {
    border-bottom: 4px solid #aeaba8;
  }
  .container .division .division_header#spesialisthelsetjenesten.selected ~ .department {
    border-left: 3px dotted #aeaba8;
    border-bottom: 4px solid #aeaba8;
  }
  .container .division .division_header#ehelseogit.selected {
    border-bottom: 4px solid #c63629;
  }
  .container .division .division_header#ehelseogit.selected ~ .department {
    border-left: 3px dotted #c63629;
    border-bottom: 4px solid #c63629;
  }
  .container .division .division_header#primaerhelsetjenesten.selected {
    border-bottom: 4px solid #df9922;
  }
  .container .division .division_header#primaerhelsetjenesten.selected ~ .department {
    border-left: 3px dotted #df9922;
    border-bottom: 4px solid #df9922;
  }
  .container .division .division_header#administrasjon.selected {
    border-bottom: 4px solid #76428d;
  }
  .container .division .division_header#administrasjon.selected ~ .department {
    border-left: 3px dotted #76428d;
    border-bottom: 4px solid #76428d;
  }
  .container .division .department {
    width: 100%;
  }
  .container .division .department .person,
  .container .division .department .person_sub {
    padding: 10px 10px 0 10px;
    width: 90%;
    float: right;
  }
  .container .division .department .sub-division {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 10px;
    width: 90%;
    float: right;
  }
  .container .division .department .sub-division p {
    text-align: left;
    margin: 0;
    width: 100%;
  }
  .container .division .department .sub-division:after {
    content: '';
  }
  .container .division .department .sub-division#utviklingsdirektoer {
    margin: 10px 0;
  }
  .container .division .department .sub-division#utviklingsdirektoer p:before {
    color: white;
  }
  .container .division .department .sub-division .box {
    width: 100%;
    float: right;
    height: 70px;
    text-align: left;
    padding: 24px 6px 6px 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .container .division .department .sub-division .box:before {
    top: 28px;
    left: 94%;
    padding: 0;
  }
  .container .division .department .sub-division .box.selected {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .container .division .department .sub-division .box.selected:before {
    background: none !important;
    top: 22px;
    left: 95%;
    padding: 0;
    content: "\f106";
  }
  .container .division .department .sub-division .person_sub {
    float: right;
    width: 100%;
    padding-bottom: 10px;
  }
  .container .division .department .sub-division .decorativeborder {
    width: 40%;
    margin-left: 75px;
  }
  .container .division .department .sub-division .subsub-divisions {
    display: inline-block !important;
    width: 90%;
    float: right;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 7px;
    width: 100%;
    float: right;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division p {
    text-align: left;
    margin: 0;
    width: 100%;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division:after {
    content: '';
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .box {
    width: 100%;
    float: right;
    height: 70px;
    text-align: left;
    padding: 24px 6px 6px 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .box:before {
    top: 28px;
    left: 94%;
    padding: 0;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .box.selected {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .box.selected:before {
    background: none !important;
    left: 95%;
    top: 60px;
    content: "\f106";
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .person_subsub {
    float: right;
    width: 100%;
    padding-bottom: 10px;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .circle {
    left: -3%;
    top: 25px;
  }
  .container .division .department.administrasjon .sub-division {
    margin: 10px 0 10px 0;
  }
  .container .etater {
    width: 59%;
    float: right;
  }
}
@media only screen and (max-width: 899px) {
  .container .division .department .sub-division .box:before {
    left: 92%;
  }
  .container .division .department .sub-division .box.selected:before {
    left: 92%;
  }
  .container .division .division_header:before {
    left: 95%;
  }
  .container .division .division_header#folkehelse.selected:before,
  .container .division .division_header#helseoekonomiogfinansiering.selected:before,
  .container .division .division_header#spesialisthelsetjenesten.selected:before,
  .container .division .division_header#ehelseogit.selected:before,
  .container .division .division_header#primaerhelsetjenesten.selected:before,
  .container .division .division_header#administrasjon.selected:before {
    left: 95%;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .box:before {
    left: 90%;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .box.selected:before {
    left: 91%;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .circle {
    left: -4%;
    top: 25px;
  }
}
@media only screen and (max-width: 599px) {
  .container .division .division_header#folkehelse.selected:before,
  .container .division .division_header#helseoekonomiogfinansiering.selected:before,
  .container .division .division_header#spesialisthelsetjenesten.selected:before,
  .container .division .division_header#ehelseogit.selected:before,
  .container .division .division_header#primaerhelsetjenesten.selected:before,
  .container .division .division_header#administrasjon.selected:before {
    left: 91%;
  }
  .container .division .department .sub-division .box:before {
    left: 90%;
  }
  .container .division .department .sub-division .box.selected:before {
    left: 90%;
  }
  .container .division .department .sub-division {
    width: 95%;
  }
  .container .division .department .sub-division .box {
    float: none;
    padding-right: 27px;
  }
  .container .division .department .sub-division .subsub-divisions {
    float: right;
  }
  .container .division .department .sub-division .subsub-divisions .subsub-division .circle {
    left: -4%;
  }
  .container .division .department .person,
  .container .division .department .person_sub {
    width: 100%;
    float: none;
  }
  .container .division .division_header {
    padding: 5px 25px 5px 10px;
  }
  .container .division .division_header:before {
    left: 91%;
  }
}
/*# sourceMappingURL=organization.css.map */