<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Takstsystemet | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />

    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="header">
        <div class=" shortcuts">
            <ul>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-4  nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../img/HELFO-logo.svg" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-0 hidden-xs hidden-sm ">
                    <div class=" menubutton pull-right">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class=" menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-3  hidden-mobile" id="mainsearchcolumn">
                    <form class="mainsearch">

                        <span role="search">
                            <label for="mainsearchinput" class=" visuallyhidden">Søk</label>
                            <input id="mainsearchinput" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                            <button type="submit">
                                <img src="../img/ikoner/ikon_forstorrelsesglass.png" alt="Søkeknapp" />
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                    <div class="pull-right">
                        <a class=" links hidden-sm hidden-xs" href="transportside_omoss.html">OM OSS</a>
                        <a class=" links hidden-sm hidden-xs" href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
        <div class=" toppmeny  container-fluid js-expand">
            <div class="inner container-fluid">
                <div class="container">
                    <nav class=" tabs">
                        <ul class=" tab-links" role="tablist">
                            <li role="presentation"><span class=" tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</span></li>
                            <li role="presentation"><span class=" tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                        </ul>
                        <div class=" tab-content">
                            <div id="panel_header1" class=" tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#" id="content_categories">Avtale</a></li>
                                            <li><a href="#">Takster</a></li>
                                            <li><a href="#">Oppgjør</a></li>
                                            <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#">Skjema</a></li>
                                            <li><a href="#">Frikort</a></li>
                                            <li><a href="#">Vikar</a></li>
                                            <li><a href="#">På vegne av pasient</a></li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix visible-xs visible-sm"></div>
                                    <div class=" col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#">Blå resept</a></li>
                                            <li><a href="#">Hvit resept</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="panel_header2" class=" tab tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                <div class="row alphabetical">
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">A</li>
                                            <li><a href="#">Apotek og bandasjist</a></li>
                                        </ul>

                                        <ul>
                                            <li class="character">B</li>
                                            <li class=""><a href="#">Behandling i utlandet</a></li>
                                        </ul>

                                        <ul>
                                            <li class="character">D</li>
                                            <li class=""><a href="#">Diagnoser og takster</a></li>
                                        </ul>

                                        <ul>
                                            <li class="character">E</li>
                                        </ul>
                                        <ul>
                                            <li class="character">F</li>
                                        </ul>
                                        <ul>
                                            <li class="character">G</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">H</li>
                                        </ul>
                                        <ul>
                                            <li class="character">I</li>
                                        </ul>
                                        <ul>
                                            <li class="character">J</li>
                                            <li><a href="#">Jordmor og helsestasjon</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">K</li>
                                            <li><a href="#">Kiropraktor</a></li>
                                            <li><a href="#">Kommune og fylkeskommune</a></li>
                                            <li><a href="#">Kurssentra og andre senter</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">L</li>
                                            <li class=""><a href="#">Lege</a></li>
                                            <li class=""><a href="#">Logoped og audiopedagog</a></li>
                                            <li class=""><a href="#">Leverandører</a></li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix hidden-md hidden-lg"></div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">M</li>
                                            <li><a href="#">Manuellterapeut</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">N</li>
                                            <li><a href="#">Nasjonalt kontaktpunkt</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">O</li>
                                            <li><a href="#">Ortoptist</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">P</li>
                                            <li><a href="#">Produkt- og prislisten</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">

                                        <ul>
                                            <li class="character">R</li>
                                        </ul>
                                        <ul>
                                            <li class="character">S</li>
                                            <li><a href="#">Sykehus og poliklinikk</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">T</li>
                                            <li><a href="#">Tannlege og tannpleier</a></li>
                                        </ul>
                                        <ul>
                                            <li class="character">U</li>
                                            <li>
                                                <a href="#">Utbetalingsvedtak</a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li class="character">V</li>
                                            <li>
                                                <a href="#">Veiledet tjeneste</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <a id="content" tabindex="-1"></a>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-7">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_takster.html">Takster</a></li>
                        </ol>
                    </nav>
                    <h1>Slik bruker lege takstsystemet</h1>
                    <p class="ingress">
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 ">
                <div class="content">
                    <h2>Oppbygging av takstsystemet</h2>
                    <p>Inntekta til legen kjem i hovudsak frå tre kjelder</p>
                    <ul class="bulletlist">
                        <li>
                            Eigendelar frå pasienten
                        </li>
                        <li>
                            Refusjon frå HELFO
                        </li>
                        <li>
                            Basistilskot/per capitatilskot/driftstilskot
                        </li>
                    </ul>
                    <p>For legevaktslegar vil det vere punkt 1 og 2 som gir inntekta.</p>
                    <p>Kva takstar du kan krevje refusjon for går fram av <a href="#" class="inline">Forskrift om stønad til dekning av utgifter til undersøkelse og behandling hos lege</a> (takstforkrifta/normaltariffen). Du pliktar å sette deg inn i takstforskrifta/normaltariffen og bruke takstane etter gjeldande regelverk.  </p>
                    <p>Forskrifta fortel kva takstar du kan nytte ved dei ulike kontaktformene, prosedyrane og prøvene som vert gjort.  Du finn også her informasjon om kva takstar som kan kombinerast og om det er knytt visse vilkår til bruken av taksten. Som lege med avtale om direkteoppgjer med HELFo kan du ikkje krevje høgare eigendel frå pasienten enn det forskrifta seier.  Du kan heller ikkje krevje tilleggsbetaling frå pasienten for å gjere prosedyrar/arbeid som er omfatta av forskrifta.</p>
                    <p>Takstsystemet er organisert i ulike kapittel, og med fleire takstar innanfor kvart av kapitla.</p>
                    <ul class="bulletlist">
                        <li>Enkle pasientkontaktar</li>
                        <li>Konsultasjonar og sjukebesøk</li>
                        <li>Reisetillegg, ledsagigng av pasient og skyssgodtgjersle</li>
                        <li>Kvelds-, natt- og helgedagstillegg</li>
                        <li>Prosedyretakstar</li>
                        <li>Laboratorieundersøkingar og prøver</li>
                        <li>Radiologi</li>
                    </ul>
                    <p>Honoraret for kvar takst er delt opp i eigendel og refusjonsdel.  I forskrifta står det på  kvar takst informasjon om dette er ein takst som kan repeterast, og om den eventuelt kan repeterast fleire gongar om prosedyren vert gjort fleire gongar i løpet av same konsultasjon.  Det er også på dei fleste takstar vist til ein eller fleire merknadar. Desse merknadane gir utfyllande informasjon om taksten.</p>
                    <h2>Fritak for å betale eigendel</h2>
                    <p>Dei fleste pasientar skal betale ein eigendel når dei er til ein konsultasjon hos lege.  Ein del pasientar er likevel fritekne frå å betale eigendel om dei på konsultasjonstidspunktet kjem inn under ein av kategoriane som har eigendelsfritak. Desse pasientane får då refusjon etter honorartakstane, det vil seie at dei slepp å betale eigendel. Desse fritaksgrunnane er:</p>
                    <ul class="bulletlist">
                        <li>Pasientar som har frikort tak 1</li>
                        <li>Kontrollundersøking unders svangerskap, ved fødsel og ved behandling for sjukdom i samband med svangerskap og fødsel, og for ei undersøking etter fødselen.</li>
                        <li>Ved behandling av skade eller sjukdom som går inn under folketrygdlova kapittel 13, jamfør lova § 5-25, og under lovene om krigspensjonering.  For militærpersonar er det likevel eit vilkår at legehjelpa ikkje vert gitt av militærlege</li>
                        <li>Ved behandling av eit medlem som er innsett i fengselvesenet sine anstaltar, dersom legehjelpa vert gitt ved anna personell enn det som er knytt til fengselshelsetenesten.</li>
                        <li>Ved behandling der pasientens tilstand på konsultasjonstidspunktet er til hinder for at legen kan krevje inn eigendelen. For eksempel ved alvorlige sinnslidingar, behandling etter pasient- og brukarrettighetslova kapittel 4a, akutte større skader, bevistlausheit og dødsfall.</li>
                        <li>Ved psykoterapeutisk behandling av barn og ungdom under 18 år (gjeld spesialisthelsetenesten)</li>
                        <li>Ved behandlinga v barn under 16 år</li>
                        <li>Ved undersøking, behandling og kontroll for allmennfarlige smittsame sjukdomar. Sjå liste i takstforskrift/normaltariff om kva som kjem inn under allmennfarlige smittsame sjukdomar.</li>
                        <li>Ved første legeundersøking for personar som søker akutt hjelp etter å ha vore utsett for vold i nære relasjonar og/eller seksuelle overgrep.</li>
                    </ul>
                    <aside class="aside top">
                        <div class="module module_related">
                            <p class="module_description">Viktige meldinger</p>
                            <p>
                                <a href="#">Nye takster for leger fra 1.juli 2014</a>
                            </p>
                        </div>
                        <a href="http://lovdata.no/dokument/SF/forskrift/2014-06-25-872" class="module module_related clickable">
                            <p class="module_description">Forskrift</p>
                            <h5 class="module_header">Stønad til dekning av utgifter til undersøkelse og behandling hos lege</h5>
                            <p class="source">På lovdata.no</p>
                        </a>
                    </aside>
                </div>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class=" shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class=" footerwrapper" role="contentinfo">
            <div class=" menuwrapper">
                <div class="container">
                    <div class="row  forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class=" tabs">

                                <ul class=" tab-links" role="tablist">
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                                </ul>
                                <div class=" tab-content">
                                    <div id="panel_footer1" class=" tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#" id="footer_content_categories">Avtale</a></li>
                                                    <li><a href="#">Takster</a></li>
                                                    <li><a href="#">Oppgjør</a></li>
                                                    <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Skjema</a></li>
                                                    <li><a href="#">Frikort</a></li>
                                                    <li><a href="#">Vikar</a></li>
                                                    <li><a href="#">På vegne av pasient</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix visible-xs visible-sm"></div>
                                            <div class=" col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Blå resept</a></li>
                                                    <li><a href="#">Hvit resept</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                    <li><a href="#">Apotek og bandasjist</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                    <li class=""><a href="#">Behandling i utlandet</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                    <li class=""><a href="#">Diagnoser og takster</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">J</li>
                                                    <li><a href="#">Jordmor og helsestasjon</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                    <li><a href="#">Kiropraktor</a></li>
                                                    <li><a href="#">Kommune og fylkeskommune</a></li>
                                                    <li><a href="#">Kurssentra og andre senter</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                    <li class=""><a href="#">Lege</a></li>
                                                    <li class=""><a href="#">Logoped og audiopedagog</a></li>
                                                    <li class=""><a href="#">Leverandører</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>
                                                    <li><a href="#">Manuellterapeut</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                    <li><a href="#">Nasjonalt kontaktpunkt</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                    <li><a href="#">Ortoptist</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                    <li><a href="#">Produkt- og prislisten</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                    <li><a href="#">Sykehus og poliklinikk</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                    <li><a href="#">Tannlege og tannpleier</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">U</li>
                                                    <li>
                                                        <a href="#">Utbetalingsvedtak</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li class="character">V</li>
                                                    <li>
                                                        <a href="#">Veiledet tjeneste</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>
            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="artikkel_kontaktoss.html">
                                <h4>Kontakt oss</h4>
                            </a>
                            <p>Telefon: +47 815 70 070</p>
                            <p>E-post: <a href="mailto:post@helfo.no">post@helfo.no</a></p>
                            <p>Postadresse: HELFO, Postboks 2415, 3104 Tønsberg</p>
                            <h4>HELFO.no</h4>
                            <p>Portal for helseaktører om avtale, oppgjør og refusjon fra HELFO</p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne to</h4>
                            </a>
                            <p><a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne tre</h4>
                            </a>
                            <p> <a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>