<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Takstsystemet | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">

    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/print.css" rel="stylesheet" />
    <link href="../css/nosvg.css" rel="stylesheet" />

    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="header">
        <div class=" shortcuts">
            <ul>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-4  nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                    </a>
                </div>

                <div class="col-md-2 col-lg-2 col-lg-offset-0 hidden-xs hidden-sm ">
                    <div class=" menubutton pull-right">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class=" menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-3  hidden-mobile" id="mainsearchcolumn">
                    <form class="mainsearch">

                        <span role="search">
                            <label for="mainsearchinput" class=" visuallyhidden">Søk</label>
                            <input id="mainsearchinput" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                            <button type="submit">
                                <img src="../img/ikoner/ikon_forstorrelsesglass_sort.png" alt="Søkeknapp" />
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
                    <div class="pull-right">
                        <a class="links hidden-sm hidden-xs " href="transportside_omoss.html">om helfo</a>
                        <a class=" links hidden-sm hidden-xs" href="#">English</a>
                    </div>
                </div>
            </header>
        </div>
        <div class="js-expand">
            <div class=" toppmeny  container-fluid ">
                <div class="inner container-fluid">
                    <div class="container">
                        <nav class=" tabs">
                            <ul class=" tab-links" role="tablist">
                                <li role="presentation"><span class=" tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                <li role="presentation"><span class=" tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                            </ul>
                            <div class=" tab-content">
                                <div id="panel_header1" class=" tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="transportside_avtale.html" id="content_categories">Avtale med HELFO</a></li>
                                                <li><a href="transportside_takster.html">Takster</a></li>
                                                <li><a href="transportside_oppgjor.html">Oppgjør</a></li>
                                                <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="skjema.html">Skjema</a></li>
                                                <li><a href="#">Frikort</a></li>
                                                <li><a href="#">Vikar</a></li>
                                                <li><a href="#">På vegne av pasient</a></li>
                                            </ul>
                                        </div>
                                        <div class=" clearfix visible-xs visible-sm"></div>
                                        <div class=" col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="transportside_blaaresept.html">Blå resept</a></li>
                                                <li><a href="#">Hvit resept</a></li>
                                                <li class="hidden-lg hidden-md"><a href="#">Om oss</a></li>
                                                <li class="hidden-lg hidden-md"><a href="#">English</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="panel_header2" class=" tab tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                    <div class="row alphabetical">
                                        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                            <div class="col-sm-12 col-md-6 col-lg-6">

                                                <ul>
                                                    <li class="character">A</li>
                                                    <li><a href="#" id="content_alphabetical">Apotek og bandasjist</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                    <li><a href="#">Behandling i utlandet</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                    <li><a href="#">Diagnoser og takster</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>

                                            <div class="col-sm-12 col-md-6 col-lg-6">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">J</li>
                                                    <li><a href="#">Jordmor og helsestasjon</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                    <li><a href="transportside_kiropraktor.html">Kiropraktor</a></li>
                                                    <li><a href="#">Kommune og fylkeskommune</a></li>
                                                    <li><a href="#">Kurssentra og andre senter</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                    <li><a href="transportside_leger.html">Lege</a></li>
                                                    <li><a href="#">Logoped og audiopedagog</a></li>
                                                    <li><a href="transportside_leverandor.html">Leverandører</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                            <div class="col-sm-12 col-md-6 col-lg-6">

                                                <ul>
                                                    <li class="character">M</li>
                                                    <li><a href="#">Manuellterapeut</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                    <li><a href="#">Nasjonalt kontaktpunkt</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                    <li><a href="#">Ortoptist</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                    <li><a href="artikkel_prisproduktliste.html">Produkt- og prislisten</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                    <li><a href="#">Sykehus og poliklinikk</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                    <li><a href="transportside_tannlege.html">Tannlege og tannpleier</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">U</li>
                                                    <li>
                                                        <a href="#">Utbetalingsvedtak</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li class="character">V</li>
                                                    <li>
                                                        <a href="#">Veiledet tjeneste</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <a id="content" tabindex="-1" aria-hidden="true"></a>
    </div>
    <article class="container" role="main">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_takster.html">Takster</a></li>
                        </ol>
                    </nav>
                    <h1>Slik bruker lege takstsystemet</h1>
                    <p class="ingress"></p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <p>Inntekta til legen kjem i hovudsak frå tre kjelder</p>
                    <ul class="bulletlist">
                        <li>
                            Eigendelar frå pasienten
                        </li>
                        <li>
                            Refusjon frå HELFO
                        </li>
                        <li>
                            Basistilskot/per capitatilskot/driftstilskot
                        </li>
                    </ul>
                    <p>For legevaktslegar vil det vere punkt 1 og 2 som gir inntekta.</p>
                    <p>Kva takstar du kan krevje refusjon for går fram av <a href="#">Forskrift om stønad til dekning av utgifter til undersøkelse og behandling hos lege</a> (takstforkrifta/normaltariffen). </p>
                    <section class="accordion">
                        <h2>Hvordan forstå takster</h2>
                        <div>
                            <p>Forskrifta fortel kva takstar du kan nytte ved dei ulike kontaktformene, prosedyrane og prøvene som vert gjort.  Du finn også her informasjon om kva takstar som kan kombinerast og om det er knytt visse vilkår til bruken av taksten. Som lege med avtale om direkteoppgjer med HELFo kan du ikkje krevje høgare eigendel frå pasienten enn det forskrifta seier.  Du kan heller ikkje krevje tilleggsbetaling frå pasienten for å gjere prosedyrar/arbeid som er omfatta av forskrifta.</p>
                            <p>Takstsystemet er organisert i ulike kapittel, og med fleire takstar innanfor kvart av kapitla.</p>
                            <ul class="bulletlist">
                                <li>Enkle pasientkontaktar</li>
                                <li>Konsultasjonar og sjukebesøk</li>
                                <li>Reisetillegg, ledsagigng av pasient og skyssgodtgjersle</li>
                                <li>Kvelds-, natt- og helgedagstillegg</li>
                                <li>Prosedyretakstar</li>
                                <li>Laboratorieundersøkingar og prøver</li>
                                <li>Radiologi</li>
                            </ul>

                            <p>Honoraret for kvar takst er delt opp i eigendel og refusjonsdel.  I forskrifta står det på  kvar takst informasjon om dette er ein takst som kan repeterast, og om den eventuelt kan repeterast fleire gongar om prosedyren vert gjort fleire gongar i løpet av same konsultasjon.  Det er også på dei fleste takstar vist til ein eller fleire merknadar. Desse merknadane gir utfyllande informasjon om taksten.</p>
                        </div>
                    </section>
                    <section class="accordion">
                        <h2>Fritak for å betale eigendel</h2>
                        <div>
                            <p>Dei fleste pasientar skal betale ein eigendel når dei er til ein konsultasjon hos lege.  Ein del pasientar er likevel fritekne frå å betale eigendel om dei på konsultasjonstidspunktet kjem inn under ein av kategoriane som har eigendelsfritak. Desse pasientane får då refusjon etter honorartakstane, det vil seie at dei slepp å betale eigendel. Desse fritaksgrunnane er:</p>
                            <ul class="bulletlist">
                                <li>Pasientar som har frikort tak 1</li>
                                <li>Kontrollundersøking unders svangerskap, ved fødsel og ved behandling for sjukdom i samband med svangerskap og fødsel, og for ei undersøking etter fødselen.</li>
                                <li>Ved behandling av skade eller sjukdom som går inn under folketrygdlova kapittel 13, jamfør lova § 5-25, og under lovene om krigspensjonering.  For militærpersonar er det likevel eit vilkår at legehjelpa ikkje vert gitt av militærlege</li>
                                <li>Ved behandling av eit medlem som er innsett i fengselvesenet sine anstaltar, dersom legehjelpa vert gitt ved anna personell enn det som er knytt til fengselshelsetenesten.</li>
                                <li>Ved behandling der pasientens tilstand på konsultasjonstidspunktet er til hinder for at legen kan krevje inn eigendelen. For eksempel ved alvorlige sinnslidingar, behandling etter pasient- og brukarrettighetslova kapittel 4a, akutte større skader, bevistlausheit og dødsfall.</li>
                                <li>Ved psykoterapeutisk behandling av barn og ungdom under 18 år (gjeld spesialisthelsetenesten)</li>
                                <li>Ved behandlinga v barn under 16 år</li>
                                <li>Ved undersøking, behandling og kontroll for allmennfarlige smittsame sjukdomar. Sjå liste i takstforskrift/normaltariff om kva som kjem inn under allmennfarlige smittsame sjukdomar.</li>
                                <li>Ved første legeundersøking for personar som søker akutt hjelp etter å ha vore utsett for vold i nære relasjonar og/eller seksuelle overgrep.</li>
                            </ul>
                        </div>
                    </section>
                    <section class="accordion">
                        <h2>
                            Takstar for legeerklæringar
                        </h2>
                        <div>
                            <p>Legeerklæringar i samband med sjukdom vert i hovudsak bestilt av NAV, og det er NAV som honorerer deg for dette arbeidet. Det er også NAV som honorerer di deltaking i dialogmøter.  For deg som har avtale om direkte oppgjer med HELFO betalar HELFO på vegne av NAV ut refusjon for desse erklæringane og dialogmøta, og du sender dess rekningane i same krav som takstar for pasientbehandling.</p>
                            <p>Informasjon om kva legeerklæringar som gir refusjon frå NAV finn du i <a href="https://www.nav.no/rettskildene/Vedlegg/104173.cms">Vedlegg 1 til § 21-4 av Honorartakster for legeerklæringer m.m. - (L-takster).</a></p>
                            <p>
                                Ta kontakt med NAV dersom du har spørsmål om bruken om av Legeerklæringstakstane (L-takstane):
                            </p>
                            <p>Epost: nav.kontroll.ost@nav.no <br />Telefon: 21 06 88 46</p>
                        </div>
                    </section>
                    <section class="accordion">
                        <h2>Diagnosar</h2>
                        <div>
                            <p>
                                Rekningar du sender til HELFO må innehalde minst ei diagnose. Du skal då primært kode ei sjukdomsdiagnose (nummer 70-99) på rekninga.  Dersom det ut i frå klinisk vurdering ikkje er mulig å stille sjukdomsdiagnose skal du sekundært bruke ei symptomdiagnose (1-29).
                            </p>
                            <p>
                                På rekninga skal dei sjukdommar/symptom/plager som er grunnlaget for takstbruken kodast. Hoveddiagnosa først.
                            </p>
                            <p>Legar innanfor primærhelsetenesten skal bruke kodeverk ICPC-2, medan legar i  spesialisthelsetenesten skal bruke kodeverket ICD-10</p>
                        </div>
                    </section>
                    <section class="accordion">
                        <h2>Ofte stilte spørsmål om bruk av takster</h2>
                        <div>
                            <h3> Kan eg krevje refusjon for takst 8 når eg sender ei henvisning til sjukehuset på vegne av pasienten, sjølv om pasienten er til konsultasjonstime hos meg når henvisninga vert skriven?</h3>

                            <p> Ja, dersom pasienten ynskjer at du skal sende henvisninga på vegne av han til sjukehuset, kan takst 8 krevjast også her.  Det er eit vilkår for å krevje takst 8 at pasienten har eit reelt val om han skal ta med henvisninga sjølv eller om du som lege skal sende henvisninga for pasienten.  Dersom pasienten sjølv ynskjer å ta med henvisninga og sende den, så kan ikkje takst 8 krevjast. Dersom henvisninga vert sendt elektronisk kan det ikkje krevjast takst 8, sidan pasienten då ikkje vil ha eit reelt val om å sende henvisninga sjølv.</p>

                            <h3> Kan takst 7 – tolketakst, krevjast når legen er framandspråklig og har vanskar med å forstå pasientar som snakkar norsk?</h3>
                            <p> Nei. Taksten kan aldri krevjast fordi legen er framandspråklig.  Taksten kan berre krevjast der legen må kommunisere gjenonm ein 3.person fordi pasienten er framandspråklig, døv eller av medisinske tilstandar manglar vanlig språk.</p>

                            <h3> Nokre av mine pasientar får i konsultasjonen injeksjonar som består av både legemiddel og bedøvingsmiddel.  Dei får altså berre ein injeksjon. Kva takst kan eg krevje for dette?</h3>
                            <p> Dersom dette er ein intramuskulær injeksjon av vanlige medikament + bedøvingsmiddel kan du krevje takst 149a, i tillegg til konsultasjonstaksten.  Dersom dette er injeksjon av legemiddel i ledd, slimpose eller seneskjede kan det krevjast refusjon for både takst 100 og 149a, i tillegg til konsultasjonstaksten. Dette sjølv om det berre vert sett ein injeksjon beståande av både legemiddel og bedøvingsmiddel.</p>

                            <h3> Eg har fått avvist nokre rekningar, og lurer på kor lang frist eg har på å korrigere desse og sende dei inn på nytt?</h3>
                            <p> Rekningar som er avvist på grunn av feil vil ha ny 3 års foreldingsfrist. Vi anbefalar likevel at du sender inn desse rekningane på nytt så fort som mogleg, spesielt dersom rekninga inneheld takstar med eigendelar, slik at pasienten slepp å vente på å få sin eigendel registrert i eigendelsregisteret opp mot frikort tak 1.</p>

                            <h3> Hjemmesykepleieren sier vi betaler for mye, når min gamle mor må betale kr 232,- for at hjemmesykepleier tar med blodprøve til INR-test til legekontoret. Stemmer det?</h3>

                            <p> Ja, det er feil pris. Pasienten skal betale 48 kroner her, da det bare har vært tatt en blodprøve som blir analysert, og ikke har foregått en konsultasjon.</p>

                            <h3>
                                Hvilke takster kan jeg ta når en arbeidsgiver ber meg komme på et møte angående en av mine pasienter? Han er ikke syk nå, men har tidligere hatt en del skulder og nakkeproblemer. Arbeidsgiver ønsker en del generelle råd opp mot hvordan de kan legge til rette på arbeidsplassen så pasienten slipper å få så stor belastning og kanskje bli sykmeldt senere.
                            </h3>
                            <p>
                                Du kan ikke kreve takster for friske pasienter. Dette må arbeidsgiver betale.
                            </p>
                            <h3>
                                Jeg skriver en del søknader om å få dekket salver, kremer og medisinsk forbruksmateriell gjennom bidragsordningen, og lurer på hvilken takst dette utløser?
                            </h3>
                            <p>
                                Det er ingen takst for å søke om bidrag til dekning av medisinsk forbruksmateriell. Takst H1 gjelder søknad om dekning av viktige legemidler som ikke omfattes av blåreseptforskriften, og kan ikke brukes ved søknad om forbruksmateriell. Dersom hjemmesykepleien har ansvar for sårstell hjemme hos en pasient, skal kommunen dekke utgifter til bandasjer, medisinsk forbruksmateriell, samt reseptfrie legemidler som blir brukt ved sårstellet.
                            </p>

                            <h3>
                                Jeg har nå gått over til e-resept.  Kan jeg fremdeles kreve takst 8 fra pasienten for å sende resepten til apoteket?
                            </h3>
                            <p>
                                Nei, skriving av e-resept utløser takst 1i, fremfor 1h ved utskriving av «vanlig» resept. Takst 1i kan ikke kombineres med takst 8.
                            </p>

                            <h3>
                                ”På legekontoret vårt får vi stadig telefoner fra spesialister, fysioterapeuter og andre som ber om å få opplyst HPR-nummer. Må vi opplyse om dette?
                            </h3>
                            <p>
                                Alle som får henvist pasienter fra førstelinjetjenesten, må registrere inn henvisningsopplysninger i sine refusjonskrav til HELFO. Det anbefales derfor å alltid føre helsepersonellnummeret (HPR-nr) på henvisningen når du henviser pasienter videre til andre behandlere. Det forenkler oppgjørsrutinene for de som da slipper å sende inn henvisninger i papirform til HELFO.

                                Det kan også opplyses at enkelte journalprogram har en kobling til helsepersonellregisteret, slik at en enkelt kan søke opp andres HPR-nr.
                            </p>

                            <h3>
                                Ved vårt kontor har en del pasienter flere utestående faktura. Hva kan vi gjøre for å unngå at disse ubetalte egenandelene inngår i pasientens beregningsgrunnlag for frikort
                            </h3>
                            <p>
                                Opplysninger om betalte egenandeler for legehjelp hentes fra refusjonskravene som du sender til HELFO. Dersom egenandelen er en utestående fordring, har du muligheten til å kun sende refusjonskravet, uten å rapportere egenandelen som betalt. Når faktura senere blir oppgjort, sender du en tilleggsmelding som endrer status på egenandelen til ”betalt” i våre system, og egenandelen teller da med i pasientens opptjening til frikort.  For å kunne sende melding om betalt/ikke betalt egenandel, må journalsystemet kommunisere disse meldingene til HELFO. Ta kontakt med din journalleverandør for mer informasjon.
                            </p>
                            <h3>
                                Jeg får ikke kvittering på at min elektroniske innsending er mottatt hos HELFO. Har dere fått mitt oppgjør?
                            </h3>
                            <p>
                                Når HELFO har mottatt og godkjent innsendingen, går det automatisk ut en kvittering fra vårt system. i følge tilbakemeldinger fra ulike legekontor, varierer det mye hvordan og om denne kvitteringen vises i journalsystemene.
                                Leger som mottar sine utbetalingsvedtak pr e-post får raskt tilbakemelding på at krav er mottatt, om enkeltregninger er avvist og beløp til utbetaling. Vi anbefaler derfor at de leger som ikke får vedtak på e-post tar kontakt med HELFO for å få ordnet dette.
                            </p>
                            <h3>
                                Jeg finner ikke lenger noen takst som dekker skjema for søknad om behandlingsreiser til utlandet. Hvilken erklæringstakst kan brukes i slike tilfeller, og kan vi egentlig bruke erklæringstakster for andre skjema de som er nevnt i oversikten?
                            </h3>
                            <p>
                                Oversikten over honorartakster for legeerklæringer er uttømmende, og gjelder derfor kun ved utfylling av de skjemaene som er nevnt under hver takst. Dersom du ikke lenger finner skjemaet på listen, vil det ikke være noen honorartakst for skjemaet.
                            </p>
                            <h3>
                                Hva gjør jeg når jeg får pasienter som ikke har norsk 11- sifret personnr, for eksempel asylsøkere?
                            </h3>
                            <p>
                                Da kan du skrive inn pasientens fødselsdag, mnd og år, 6 -siffer. Husk å oppgi kjønn, og en merknad i merknadsfeltet.
                            </p>
                        </div>
                    </section>
                    <aside class="aside top">
                        <div class="module module_related viktigemeldinger">
                            <p class="module_description">Viktige meldinger</p>
                            <p>
                                <a href="artikkel_takstendring_leger.html">Nye takster for leger fra 1.juli 2014</a>
                            </p>
                        </div>
                        <a href="http://lovdata.no/dokument/SF/forskrift/2014-06-25-872" class="module module_related clickable regelverk">
                            <p class="module_description">Regelverk</p>
                            <h5 class="module_header">Forskrift om stønad til dekning av utgifter til undersøkelse og behandling hos lege</h5>
                            <p class="source">På lovdata.no</p>
                        </a>
                    </aside>
                </div>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class=" shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class=" footerwrapper" role="contentinfo">
            <div class=" menuwrapper">
                <div class="container">
                    <div class="row  forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class=" tabs">

                                <ul class=" tab-links" role="tablist">
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                                </ul>
                                <div class=" tab-content">
                                    <div id="panel_footer1" class=" tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="transportside_avtale.html" id="footer_content_categories">Avtale med HELFO</a></li>
                                                    <li><a href="transportside_takster.html">Takster</a></li>
                                                    <li><a href="transportside_oppgjor.html">Oppgjør</a></li>
                                                    <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="skjema.html">Skjema</a></li>
                                                    <li><a href="#">Frikort</a></li>
                                                    <li><a href="#">Vikar</a></li>
                                                    <li><a href="#">På vegne av pasient</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix visible-xs visible-sm"></div>
                                            <div class=" col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="transportside_blaaresept.html">Blå resept</a></li>
                                                    <li><a href="#">Hvit resept</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                                <div class="col-sm-12 col-md-6 col-lg-6">

                                                    <ul>
                                                        <li class="character">A</li>
                                                        <li><a href="#" id="footer_content_alphabetical">Apotek og bandasjist</a></li>
                                                    </ul>

                                                    <ul>
                                                        <li class="character">B</li>
                                                        <li><a href="#">Behandling i utlandet</a></li>
                                                    </ul>

                                                    <ul>
                                                        <li class="character">D</li>
                                                        <li><a href="#">Diagnoser og takster</a></li>
                                                    </ul>

                                                    <ul>
                                                        <li class="character">E</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">F</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">G</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">

                                                    <ul>
                                                        <li class="character">H</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">I</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">J</li>
                                                        <li><a href="#">Jordmor og helsestasjon</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">K</li>
                                                        <li><a href="transportside_kiropraktor.html">Kiropraktor</a></li>
                                                        <li><a href="#">Kommune og fylkeskommune</a></li>
                                                        <li><a href="#">Kurssentra og andre senter</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">L</li>
                                                        <li><a href="transportside_leger.html">Lege</a></li>
                                                        <li><a href="#">Logoped og audiopedagog</a></li>
                                                        <li><a href="transportside_leverandor.html">Leverandører</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <ul>
                                                        <li class="character">M</li>
                                                        <li><a href="#">Manuellterapeut</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">N</li>
                                                        <li><a href="#">Nasjonalt kontaktpunkt</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">O</li>
                                                        <li><a href="#">Ortoptist</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">P</li>
                                                        <li><a href="artikkel_prisproduktliste.html">Produkt- og prislisten</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">

                                                    <ul>
                                                        <li class="character">R</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">S</li>
                                                        <li><a href="#">Sykehus og poliklinikk</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">T</li>
                                                        <li><a href="transportside_tannlege.html">Tannlege og tannpleier</a></li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">U</li>
                                                        <li>
                                                            <a href="#">Utbetalingsvedtak</a>
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <li class="character">V</li>
                                                        <li>
                                                            <a href="#">Veiledet tjeneste</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1" aria-hidden="true"></a>
            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <div class="contact">
                                <a href="artikkel_kontaktoss.html">
                                    <h4>Kontakt oss</h4>
                                </a>
                                <div class=" clearfix">
                                    <p class="info">E-post </p>
                                    <p><a href="mailto:post@helfo.no">post@helfo.no</a></p>
                                    <p class="info">Postadresse </p>
                                    <p>HELFO<br /> Postboks 2415<br /> 3104 Tønsberg</p>
                                </div>
                                <span class="info">HELFO veiledning for helseaktører</span>
                                <div class="contact clearfix">
                                    <p class="info">Telefon </p>
                                    <p>+47 815 70 070</p>
                                </div>

                                <span><a href="artikkel_kontaktoss.html">Alle telefonnumre til HELFO</a></span>
                            </div>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="transportside_omoss.html">
                                <h4>Om HELFO</h4>
                            </a>
                            <p class="about"> Helseøkonomiforvaltningen (HELFO) er en ytre etat under Helsedirektoratet. Vi forvalter oppgjør til behandlere, leverandører og tjenesteytere, samt individuell refusjon av privatpersoners utgifter til blant annet legemidler, tannhelse og helsetjenester i utlandet.</p>
                            <p><a href="#">HELFOs organisasjon</a></p>
                            <p><a href="#">Ledige stillinger</a></p>
                            <p><a href="#">Mediehenvendelser</a></p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <h4>Abonner</h4>
                            <p class="email"> <a href="#">Nyheter på e-post</a></p>
                            <p class="rss"><a href="#">Nyheter på RSS</a></p>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>