<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Ofte stilte spørsmål - leger | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />

    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="header">
        <div class=" shortcuts">
            <ul>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-4  nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../img/HELFO-logo.svg" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-0 hidden-xs hidden-sm ">
                    <div class=" menubutton pull-right">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class=" menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-3  hidden-mobile" id="mainsearchcolumn">
                    <form class="mainsearch">

                        <span role="search">
                            <label for="mainsearchinput" class=" visuallyhidden">Søk</label>
                            <input id="mainsearchinput" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                            <button type="submit">
                                <img src="../img/ikoner/ikon_forstorrelsesglass.png" alt="Søkeknapp" />
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                    <div class="pull-right">
                        <a class=" links hidden-sm hidden-xs" href="transportside_omoss.html">OM OSS</a>
                        <a class=" links hidden-sm hidden-xs" href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
        <div class=" toppmeny  container-fluid js-expand">
            <div class="inner container-fluid">
                <div class="container">
                    <nav class=" tabs">
                        <ul class=" tab-links" role="tablist">
                            <li role="presentation"><span class=" tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</span></li>
                            <li role="presentation"><span class=" tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                        </ul>
                        <div class=" tab-content">
                            <div id="panel_header1" class=" tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#" id="content_categories">Avtale med HELFO</a></li>
                                            <li><a href="#">Takster</a></li>
                                            <li><a href="#">Oppgjør</a></li>
                                            <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#">Skjema</a></li>
                                            <li><a href="#">Frikort</a></li>
                                            <li><a href="#">Vikar</a></li>
                                            <li><a href="#">På vegne av pasient</a></li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix visible-xs visible-sm"></div>
                                    <div class=" col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#">Blå resept</a></li>
                                            <li><a href="#">Hvit resept</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="panel_header2" class=" tab tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                <div class="row alphabetical">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">A</li>
                                        </ul>
                                        <ul>
                                            <li class="character">B</li>
                                        </ul>
                                        <ul>
                                            <li class="character">D</li>
                                        </ul>
                                        <ul>
                                            <li class="character">E</li>
                                        </ul>
                                        <ul>
                                            <li class="character">F</li>
                                        </ul>
                                        <ul>
                                            <li class="character">G</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">H</li>
                                        </ul>
                                        <ul>
                                            <li class="character">I</li>
                                        </ul>
                                        <ul>
                                            <li class="character">K</li>
                                        </ul>
                                        <ul>
                                            <li class="character">L</li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix hidden-md hidden-lg"></div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">M</li>
                                        </ul>
                                        <ul>
                                            <li class="character">N</li>
                                        </ul>
                                        <ul>
                                            <li class="character">O</li>
                                        </ul>
                                        <ul>
                                            <li class="character">P</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">R</li>
                                        </ul>
                                        <ul>
                                            <li class="character">S</li>
                                        </ul>
                                        <ul>
                                            <li class="character">T</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <a id="content" tabindex="-1"></a>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-7">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_takster.html">Takster</a></li>
                            <li><a href="transportside_faq.html">Ofte stilte spørsmål</a></li>
                        </ol>
                    </nav>
                    <h1>Ofte stilte spørsmål - leger</h1>
                    <p class="ingress">
                    </p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 ">
                <div class="content">
                    <h2> Kan eg krevje refusjon for takst 8 når eg sender ei henvisning til sjukehuset på vegne av pasienten, sjølv om pasienten er til konsultasjonstime hos meg når henvisninga vert skriven?</h2>

                    <p> Ja, dersom pasienten ynskjer at du skal sende henvisninga på vegne av han til sjukehuset, kan takst 8 krevjast også her.  Det er eit vilkår for å krevje takst 8 at pasienten har eit reelt val om han skal ta med henvisninga sjølv eller om du som lege skal sende henvisninga for pasienten.  Dersom pasienten sjølv ynskjer å ta med henvisninga og sende den, så kan ikkje takst 8 krevjast. Dersom henvisninga vert sendt elektronisk kan det ikkje krevjast takst 8, sidan pasienten då ikkje vil ha eit reelt val om å sende henvisninga sjølv.</p>

                    <h2> Kan takst 7 – tolketakst, krevjast når legen er framandspråklig og har vanskar med å forstå pasientar som snakkar norsk?</h2>
                    <p> Nei. Taksten kan aldri krevjast fordi legen er framandspråklig.  Taksten kan berre krevjast der legen må kommunisere gjenonm ein 3.person fordi pasienten er framandspråklig, døv eller av medisinske tilstandar manglar vanlig språk.</p>

                    <h2> Nokre av mine pasientar får i konsultasjonen injeksjonar som består av både legemiddel og bedøvingsmiddel.  Dei får altså berre ein injeksjon. Kva takst kan eg krevje for dette?</h2>
                    <p> Dersom dette er ein intramuskulær injeksjon av vanlige medikament + bedøvingsmiddel kan du krevje takst 149a, i tillegg til konsultasjonstaksten.  Dersom dette er injeksjon av legemiddel i ledd, slimpose eller seneskjede kan det krevjast refusjon for både takst 100 og 149a, i tillegg til konsultasjonstaksten. Dette sjølv om det berre vert sett ein injeksjon beståande av både legemiddel og bedøvingsmiddel.</p>

                    <h2> Eg har fått avvist nokre rekningar, og lurer på kor lang frist eg har på å korrigere desse og sende dei inn på nytt?</h2>
                    <p> Rekningar som er avvist på grunn av feil vil ha ny 3 års foreldingsfrist. Vi anbefalar likevel at du sender inn desse rekningane på nytt så fort som mogleg, spesielt dersom rekninga inneheld takstar med eigendelar, slik at pasienten slepp å vente på å få sin eigendel registrert i eigendelsregisteret opp mot frikort tak 1.</p>

                    <h2> Hjemmesykepleieren sier vi betaler for mye, når min gamle mor må betale kr 232,- for at hjemmesykepleier tar med blodprøve til INR-test til legekontoret. Stemmer det?</h2>

                    <p> Ja, det er feil pris. Pasienten skal betale 48 kroner her, da det bare har vært tatt en blodprøve som blir analysert, og ikke har foregått en konsultasjon.</p>

                    <h2>
                        Hvilke takster kan jeg ta når en arbeidsgiver ber meg komme på et møte angående en av mine pasienter? Han er ikke syk nå, men har tidligere hatt en del skulder og nakkeproblemer. Arbeidsgiver ønsker en del generelle råd opp mot hvordan de kan legge til rette på arbeidsplassen så pasienten slipper å få så stor belastning og kanskje bli sykmeldt senere.
                    </h2>
                    <p>
                        Du kan ikke kreve takster for friske pasienter. Dette må arbeidsgiver betale.
                    </p>
                    <h2>
                        Jeg skriver en del søknader om å få dekket salver, kremer og medisinsk forbruksmateriell gjennom bidragsordningen, og lurer på hvilken takst dette utløser?
                    </h2>
                    <p>
                        Det er ingen takst for å søke om bidrag til dekning av medisinsk forbruksmateriell. Takst H1 gjelder søknad om dekning av viktige legemidler som ikke omfattes av blåreseptforskriften, og kan ikke brukes ved søknad om forbruksmateriell. Dersom hjemmesykepleien har ansvar for sårstell hjemme hos en pasient, skal kommunen dekke utgifter til bandasjer, medisinsk forbruksmateriell, samt reseptfrie legemidler som blir brukt ved sårstellet.
                    </p>

                    <h2>
                        Jeg har nå gått over til e-resept.  Kan jeg fremdeles kreve takst 8 fra pasienten for å sende resepten til apoteket?
                    </h2>
                    <p>
                        Nei, skriving av e-resept utløser takst 1i, fremfor 1h ved utskriving av «vanlig» resept. Takst 1i kan ikke kombineres med takst 8.
                    </p>

                    <h2>
                        ”På legekontoret vårt får vi stadig telefoner fra spesialister, fysioterapeuter og andre som ber om å få opplyst HPR-nummer. Må vi opplyse om dette?
                    </h2>
                    <p>
                        Alle som får henvist pasienter fra førstelinjetjenesten, må registrere inn henvisningsopplysninger i sine refusjonskrav til HELFO. Det anbefales derfor å alltid føre helsepersonellnummeret (HPR-nr) på henvisningen når du henviser pasienter videre til andre behandlere. Det forenkler oppgjørsrutinene for de som da slipper å sende inn henvisninger i papirform til HELFO.

                        Det kan også opplyses at enkelte journalprogram har en kobling til helsepersonellregisteret, slik at en enkelt kan søke opp andres HPR-nr.
                    </p>

                    <h2>
                        Ved vårt kontor har en del pasienter flere utestående faktura. Hva kan vi gjøre for å unngå at disse ubetalte egenandelene inngår i pasientens beregningsgrunnlag for frikort
                    </h2>
                    <p>
                        Opplysninger om betalte egenandeler for legehjelp hentes fra refusjonskravene som du sender til HELFO. Dersom egenandelen er en utestående fordring, har du muligheten til å kun sende refusjonskravet, uten å rapportere egenandelen som betalt. Når faktura senere blir oppgjort, sender du en tilleggsmelding som endrer status på egenandelen til ”betalt” i våre system, og egenandelen teller da med i pasientens opptjening til frikort.  For å kunne sende melding om betalt/ikke betalt egenandel, må journalsystemet kommunisere disse meldingene til HELFO. Ta kontakt med din journalleverandør for mer informasjon.
                    </p>
                    <h2>
                        Jeg får ikke kvittering på at min elektroniske innsending er mottatt hos HELFO. Har dere fått mitt oppgjør?
                    </h2>
                    <p>
                        Når HELFO har mottatt og godkjent innsendingen, går det automatisk ut en kvittering fra vårt system. i følge tilbakemeldinger fra ulike legekontor, varierer det mye hvordan og om denne kvitteringen vises i journalsystemene.
                        Leger som mottar sine utbetalingsvedtak pr e-post får raskt tilbakemelding på at krav er mottatt, om enkeltregninger er avvist og beløp til utbetaling. Vi anbefaler derfor at de leger som ikke får vedtak på e-post tar kontakt med HELFO for å få ordnet dette.
                    </p>
                    <h2>
                        Jeg finner ikke lenger noen takst som dekker skjema for søknad om behandlingsreiser til utlandet. Hvilken erklæringstakst kan brukes i slike tilfeller, og kan vi egentlig bruke erklæringstakster for andre skjema de som er nevnt i oversikten?
                    </h2>
                    <p>
                        Oversikten over honorartakster for legeerklæringer er uttømmende, og gjelder derfor kun ved utfylling av de skjemaene som er nevnt under hver takst. Dersom du ikke lenger finner skjemaet på listen, vil det ikke være noen honorartakst for skjemaet.
                    </p>
                    <h2>
                        Hva gjør jeg når jeg får pasienter som ikke har norsk 11- sifret personnr, for eksempel asylsøkere?
                    </h2>
                    <p>
                        Da kan du skrive inn pasientens fødselsdag, mnd og år, 6 -siffer. Husk å oppgi kjønn, og en merknad i merknadsfeltet.
                    </p>
                </div>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class=" shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class=" footerwrapper" role="contentinfo">
            <div class=" menuwrapper">
                <div class="container">
                    <div class="row  forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class=" tabs">

                                <ul class=" tab-links" role="tablist">
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                                </ul>
                                <div class=" tab-content">
                                    <div id="panel_footer1" class=" tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#" id="footer_content_categories">Avtale med HELFO</a></li>
                                                    <li><a href="#">Takster</a></li>
                                                    <li><a href="#">Oppgjør</a></li>
                                                    <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Skjema</a></li>
                                                    <li><a href="#">Frikort</a></li>
                                                    <li><a href="#">Vikar</a></li>
                                                    <li><a href="#">På vegne av pasient</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix visible-xs visible-sm"></div>
                                            <div class=" col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Blå resept</a></li>
                                                    <li><a href="#">Hvit resept</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>
            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="transportside_omoss.html">
                                <h4>Kontakt oss</h4>
                            </a>
                            <p>Telefon: +47 815 70 070</p>
                            <p>E-post: <a href="mailto:post@helfo.no">post@helfo.no</a></p>
                            <p>Postadresse: HELFO, Postboks 2415, 3104 Tønsberg</p>
                            <h4>HELFO.no</h4>
                            <p>Portal for helseaktører om avtale, oppgjør og refusjon fra HELFO</p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne to</h4>
                            </a>
                            <p><a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne tre</h4>
                            </a>
                            <p> <a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>