<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Blå resept - ofte stilte spørsmål | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/nosvg.css" rel="stylesheet" />
    <link href="../css/article.css" rel="stylesheet" />

    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="header">
        <div class=" shortcuts">
            <ul>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-4  nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                    </a>
                </div>

                <div class="col-md-2 col-lg-2 col-lg-offset-0 hidden-xs hidden-sm ">
                    <div class=" menubutton pull-right">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class=" menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-3  hidden-mobile" id="mainsearchcolumn">
                    <form class="mainsearch">

                        <span role="search">
                            <label for="mainsearchinput" class=" visuallyhidden">Søk</label>
                            <input id="mainsearchinput" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                            <button type="submit">
                                <img src="../img/ikoner/ikon_forstorrelsesglass_sort.png" alt="Søkeknapp" />
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
                    <div class="pull-right">
                        <a class="links hidden-sm hidden-xs " href="transportside_omoss.html">om helfo</a>
                        <a class=" links hidden-sm hidden-xs" href="#">English</a>
                    </div>
                </div>
            </header>
        </div>
        <div class="js-expand">
            <div class=" toppmeny  container-fluid ">
                <div class="inner container-fluid">
                    <div class="container">
                        <nav class=" tabs">
                            <ul class=" tab-links" role="tablist">
                                <li role="presentation"><span class=" tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                <li role="presentation"><span class=" tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                            </ul>
                            <div class=" tab-content">
                                <div id="panel_header1" class=" tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="transportside_avtale.html" id="content_categories">Avtale med HELFO</a></li>
                                                <li><a href="transportside_takster.html">Takster</a></li>
                                                <li><a href="transportside_oppgjor.html">Oppgjør</a></li>
                                                <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="skjema.html">Skjema</a></li>
                                                <li><a href="#">Frikort</a></li>
                                                <li><a href="#">Vikar</a></li>
                                                <li><a href="#">På vegne av pasient</a></li>
                                            </ul>
                                        </div>
                                        <div class=" clearfix visible-xs visible-sm"></div>
                                        <div class=" col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="transportside_blaaresept.html">Blå resept</a></li>
                                                <li><a href="#">Hvit resept</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="panel_header2" class=" tab tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                    <div class="row alphabetical">
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">A</li>
                                                <li><a href="#" id="content_alphabetical">Apotek og bandasjist</a></li>
                                            </ul>

                                            <ul>
                                                <li class="character">B</li>
                                                <li><a href="#">Behandling i utlandet</a></li>
                                            </ul>

                                            <ul>
                                                <li class="character">D</li>
                                                <li><a href="#">Diagnoser og takster</a></li>
                                            </ul>

                                            <ul>
                                                <li class="character">E</li>
                                            </ul>
                                            <ul>
                                                <li class="character">F</li>
                                            </ul>
                                            <ul>
                                                <li class="character">G</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">H</li>
                                            </ul>
                                            <ul>
                                                <li class="character">I</li>
                                            </ul>
                                            <ul>
                                                <li class="character">J</li>
                                                <li><a href="#">Jordmor og helsestasjon</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">K</li>
                                                <li><a href="transportside_kiropraktor.html">Kiropraktor</a></li>
                                                <li><a href="#">Kommune og fylkeskommune</a></li>
                                                <li><a href="#">Kurssentra og andre senter</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">L</li>
                                                <li><a href="transportside_leger.html">Lege</a></li>
                                                <li><a href="#">Logoped og audiopedagog</a></li>
                                                <li><a href="transportside_leverandor.html">Leverandører</a></li>
                                            </ul>
                                        </div>
                                        <div class=" clearfix hidden-md hidden-lg"></div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">M</li>
                                                <li><a href="#">Manuellterapeut</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">N</li>
                                                <li><a href="#">Nasjonalt kontaktpunkt</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">O</li>
                                                <li><a href="#">Ortoptist</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">P</li>
                                                <li><a href="artikkel_prisproduktliste.html">Produkt- og prislisten</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">R</li>
                                            </ul>
                                            <ul>
                                                <li class="character">S</li>
                                                <li><a href="#">Sykehus og poliklinikk</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">T</li>
                                                <li><a href="transportside_tannlege.html">Tannlege og tannpleier</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">U</li>
                                                <li>
                                                    <a href="#">Utbetalingsvedtak</a>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li class="character">V</li>
                                                <li>
                                                    <a href="#">Veiledet tjeneste</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <a id="content" tabindex="-1"></a>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_blaaresept.html">Blå resept</a></li>
                        </ol>
                    </nav>
                    <h1>Blå resept – ofte stilte spørsmål</h1>
                    <p class="ingress">
                    </p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 ">

                <section class="accordion">
                    <h2>
                        Hvordan kan kunden få dekket sine utgifter på blå resept?
                    </h2>
                    <div>
                        <p> Kunden kan få dekket sine utgifter dersom:</p>
                        <ul class="bulletlist">
                            <li> sykdommen krever minst tre måneders behandling i løpet av et år</li>
                            <li> refusjonsvilkårene er oppfylt. Både legemiddel og diagnose må samsvare og være oppført på refusjonslisten ( lenke til refusjonslisten)</li>
                        </ul>
                    </div>
                </section>
                <section class="accordion">
                    <h2>
                        Finnes det preparater/varer som ikke kan dekkes på blå resept?
                    </h2>
                    <div>
                        <p> Det er ikke alt som dekkes på blå resept. </p>

                        <h3>Blåreseptforskriften dekker:</h3>
                        <ul class="bulletlist">

                            <li> legemidler mv. til fengselsinnsatte </li>
                            <li>legemidler mv. til personer opptatt i kommunens hjemmesykepleie</li>
                            <li> refusjonsvilkårene er oppfylt. Både legemiddel og diagnose må samsvare og være oppført på refusjonslisten ( lenke til refusjonslisten)</li>
                        </ul>
                        <h3>Blåreseptforskriften dekker ikke:</h3>
                        <ul class="bulletlist">
                            <li> handelsvarer </li>

                            <li> reseptfrie legemidler </li>

                            <li> homøopatpreparater/antroposofiske preparater </li>

                            <li> diagnostiske legemidler </li>

                            <li> legemidler som brukes i forbindelse med behandling i utlandet </li>

                            <li> legemidler som er under klinisk utprøving </li>

                            <li> legemidler klassifisert i gruppe A og B dekkes kun under enkelte refusjonskoder </li>

                            <li> legemidler der finansieringsansvaret er overført til regionale helseforetak </li>

                            <li> legemidler mv. som brukes i institusjon </li>
                        </ul>
                    </div>
                </section>

                <section class="accordion">
                    <h2>
                        Er det andre ting varer enn legemidler som dekkes på blå resept?
                    </h2>
                    <div>
                        <p>
                            Ja, for eksempel er medisinsk forbruksmateriell omfattet av blåreseptforskriften (§ 5)  ved gitte diagnoser. De produktene som er dekket er omfattet av pris- og produktlister som du finner her.
                        </p>
                        <p> Også næringsmidler kan det gis dekning for. Dette krever imidlertid et vedtak fra HELFO, med unntak av de kundene som har Føllings sykdom. Næringsmidler har også pris- og produktlister </p>
                    </div>
                </section>

                <section class="accordion ">
                    <h2>
                        Hva er forhåndsgodkjent refujon?
                    </h2>
                    <div>
                        <p>
                            Forhåndsgodkjent refusjon er legemiddel som kan forskrivast av lege etter gitte vilkår ved gitte diagnoser. Apoteket kan da, etter legen sin attestasjon, utlevere legemiddelet på blå resept.
                        </p>
                        <p>
                            Det er Statens Legemiddelverk som godkjenner legemiddel som kan forskrivast direkte på blå resept, dette er da et forhåndsgodkjent legemiddel.
                        </p>
                    </div>
                </section>
                <section class="accordion">
                    <h2>Hva er individuell refusjon?</h2>
                    <div>
                        <p>
                            Individuell refusjon er når et legemiddel ikke er forhåndsgodkjent på blå resept, men legen likevel mener at dette legemiddelet skal dekkes på blå resept. Legen søker da på vegne av pasienten til HELFO om likevel å kunne få dekning etter blåreseptforskriften. Bakgrunnen for søknaden kan for eksempel være manglende effekt eller bivirkninger av behandling, manglende behandlingsalternativer eller vanskelige administrasjonsmetoder for forhåndsgodkjente legemidler.
                        </p>
                        <p>
                            HELFO vurderer hver enkelt søknad individuelt etter blåreseptforskriftens § 3a og § 3b, søknader om næringsmidler blir vurdert etter § 6.
                        </p>
                        <p>
                            Ved innvilgelse av blå resept på individuell refusjon vil resepten kun være gyldig dersom innvilget vedtak om individuell refusjon fremvises.
                        </p>
                    </div>
                </section>
                <section class="accordion">
                    <h2>Er det noe vi som apotek må være spesielt OBS på ved utlevering av legemidler på individuell refusjon?</h2>
                    <div>
                        <p>Ja, ved ekspedering av resepter med vedtak etter § 3a og § 3b må apoteket</p>
                        <ul class="bulletlist">
                            <li>sjekke at vedtaket er gyldig                                                                 </li>
                            <li>sjekke om vedtaket er tidsbegrenset                                                          </li>
                            <li>legge inn aktuell informasjon og refusjonskoden som står oppført i vedtaket                  </li>
                            <li>sjekke at forskrivningen er utført av riktig lege/legekontor når dette er oppgitt i vedtaket </li>
                            <li>kontrollere dose og tidsbegrensning for vedtak som gjelder vanedannende legemidler           </li>
                        </ul>
                    </div>
                </section>
                <section class="accordion">
                    <h2>
                        Hva skjer dersom vi utleverer større mengder legemidler enn innvilget dosering på individuell refusjon, for eksempel på vanedannende legemidler?
                    </h2>
                    <div>
                        <p>
                            Dersom dette skjer vil apoteket bli holdt økonomisk ansvarlige og HELFO kan ved kontroll komme til å sanksjonere mot dette. En helt vanlig reaksjon i slike tilfeller er tilbakekreving av feilutbetalt refusjon pluss renter.
                        </p>
                        <p>
                            Dette skal imidlertid ikke skje, og HELFO går ut i fra at apotekene har gode rutiner for å hindre slike utleveringer. Dersom kunden har respt som går utover innvilget dosering skal legemidlet utleveres og ekspederes som hvit resept. Dersom innvilget dosering er feil er det opptil pasient og lege å søke om nytt vedtak fra HELFO med korrekt refusjonsberettiget behandling.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class=" shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class=" footerwrapper" role="contentinfo">
            <div class=" menuwrapper">
                <div class="container">
                    <div class="row  forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class=" tabs">

                                <ul class=" tab-links" role="tablist">
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                                </ul>
                                <div class=" tab-content">
                                    <div id="panel_footer1" class=" tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="transportside_avtale.html" id="footer_content_categories">Avtale med HELFO</a></li>
                                                    <li><a href="transportside_takster.html">Takster</a></li>
                                                    <li><a href="transportside_oppgjor.html">Oppgjør</a></li>
                                                    <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="skjema.html">Skjema</a></li>
                                                    <li><a href="#">Frikort</a></li>
                                                    <li><a href="#">Vikar</a></li>
                                                    <li><a href="#">På vegne av pasient</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix visible-xs visible-sm"></div>
                                            <div class=" col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="transportside_blaaresept.html">Blå resept</a></li>
                                                    <li><a href="#">Hvit resept</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                    <li><a href="#" id="content_alphabetical">Apotek og bandasjist</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                    <li><a href="#">Behandling i utlandet</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                    <li><a href="#">Diagnoser og takster</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">J</li>
                                                    <li><a href="#">Jordmor og helsestasjon</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                    <li><a href="transportside_kiropraktor.html">Kiropraktor</a></li>
                                                    <li><a href="#">Kommune og fylkeskommune</a></li>
                                                    <li><a href="#">Kurssentra og andre senter</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                    <li><a href="transportside_leger.html">Lege</a></li>
                                                    <li><a href="#">Logoped og audiopedagog</a></li>
                                                    <li><a href="transportside_leverandor.html">Leverandører</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>
                                                    <li><a href="#">Manuellterapeut</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                    <li><a href="#">Nasjonalt kontaktpunkt</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                    <li><a href="#">Ortoptist</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                    <li><a href="artikkel_prisproduktliste.html">Produkt- og prislisten</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                    <li><a href="#">Sykehus og poliklinikk</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                    <li><a href="transportside_tannlege.html">Tannlege og tannpleier</a></li>
                                                </ul>
                                                <ul>
                                                    <li class="character">U</li>
                                                    <li>
                                                        <a href="#">Utbetalingsvedtak</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li class="character">V</li>
                                                    <li>
                                                        <a href="#">Veiledet tjeneste</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>
            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="artikkel_kontaktoss.html">
                                <h4>Kontakt oss</h4>
                            </a>
                            <p>HELFO veiledning for helseaktører</p>
                            <div class="contact clearfix">
                                <p>Telefon: </p>
                                <p>+47 815 70 070</p>
                                <p>E-post: </p>
                                <p><a href="mailto:post@helfo.no">post@helfo.no</a></p>
                                <p>Postadresse: </p>
                                <p>HELFO<br /> Postboks 2415<br /> 3104 Tønsberg</p>
                            </div>
                            <p><a href="artikkel_kontaktoss.html">Finn telefonnummer når du ringer på vegne av pasient</a></p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="transportside_omoss.html">
                                <h4>Om HELFO</h4>
                            </a>
                            <p> Helseøkonomiforvaltningen (HELFO) er en ytre etat under Helsedirektoratet. Vi forvalter oppgjør til behandlere, leverandører og tjenesteytere, samt individuell refusjon av privatpersoners utgifter til blant annet legemidler, tannhelse og helsetjenester i utlandet.</p>
                            <ul class="bulletlist">
                                <li>HELFOs organisasjon</li>
                                <li>Ledige stillinger</li>

                                <li>Mediehenvendelser</li>
                            </ul>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <h4>Abonner</h4>
                            <p> <a href="#">Nyheter på e-post</a></p>
                            <p><a href="#">Nyheter på RSS</a></p>
                            <h4>Følg oss på</h4>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>