<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Designsystem | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/nosvg.css" rel="stylesheet" />
    <link href="../css/designsystem.css" rel="stylesheet" />

    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <article class="container" style="padding-bottom: 100px; padding-top: 50px;">

        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Typografi</h4>
                <p>Fontstørrelse 62.5% av 16px. 1rem = 10px. 1.5rem = 15px.</p>
                <h1>h1 - Roboto Light (300) 48/60px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
                <h2>h2 - Roboto Light (300) 36/48px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h2>
                <h3>h3 - Roboto Light (300) 30/36px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h3>
                <h4>h4 - Roboto Regular (400) 16/20px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h4>
                <h5>h5 - Roboto Regular (400) 18/30px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h5>
                <p>p - Roboto Light (300) 20/30px - Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
                <p class="ingress">ingress - Roboto Regular (400) 20/30px - Grumpy wizards make toxic brew for the evil Queen and Jack.</p>

                <ol class="breadcrumbs"><li><a href="#">brødsmulesti - Roboto Regular (400) 18/26px - Grumpy wizards make toxic brew for the evil Queen and Jack.</a></li></ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Transportsideknapp</h4>
                <a href="veiviser_autorisasjon_lege.html" class="transportsideknapp clearfix">
                    <h2>Lege</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Transportsideknapp dokument</h4>
                <a href="http://www.helfo.no/SiteCollectionDocuments/Skjema/Opplysningsskjema%20for%20privatpraktiserende%20tannleger%20og%20tannpleiere%20med%20direkte%20oppgj%C3%B8r-05-06.23-bokm%C3%A5l.pdf" class="transportsideknapp_dokument">
                    <h2>Opplysningsskjema for private tannleger/tannpleiere med direkte oppgjør (05-06.23)</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Modul relatert innhold</h4>
                <div style="width: 300px">
                    <a href="https://www.nav.no/rettskildene/forskrift/F19980618-590" class="module module_related regelverk clickable">
                        <p class="module_description">Regelverk</p>
                        <h5 class="module_header">Forskrift om rett til trygderefusjon for leger, spesialister i klinisk psykologi og Fysioterapeuter</h5>
                        <p class="source">På nav.no</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Modul viktige meldinger</h4>
                <div style="width: 300px">
                    <a href="https://www.nav.no/rettskildene/forskrift/F19980618-590" class="module module_related viktigemeldinger clickable">
                        <p class="module_description">Viktige meldinger</p>
                        <h5 class="module_header">Forskrift om rett til trygderefusjon for leger, spesialister i klinisk psykologi og Fysioterapeuter</h5>
                        <p class="source">På nav.no</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Modul tilbakemelding</h4>
                <div style="width: 300px">
                    <div class="module module_feedback">
                        <p class="module_description">Fant du det du lette etter?</p>
                        <input type="radio" id="r1" name="contact" value="ja" />
                        <label for="r1"><span></span>Ja</label>
                        <input type="radio" id="r2" name="contact" value="nei" />
                        <label for="r2"><span></span>Nei</label>
                        <label for="t1" class="visuallyhidden">Fortell...</label>
                        <input id="t1" type="text" placeholder="Fortell..." />
                        <button class="calltoaction">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Modul kontakt oss</h4>
                <div style="width: 300px">
                    <div class="module module_contact">
                        <p class="module_description">Kontakt oss</p>
                        <div class="phone"><p>+47 815 70 070</p></div>
                        <div class="email"><a href="mailto:post@helfo.no">post@helfo.no</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Modul abonnér</h4>
                <div style="width: 300px">
                    <div class="module module_subscribe">
                        <p class="module_description">Abonnér på denne siden</p>
                        <div class="email"><a href="mailto:post@helfo.no">post@helfo.no</a></div>
                        <div class="rss"><a href="#">RSS-strøm</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 designcontainer">
                <h4>Modul abonnér</h4>
                <div style="width: 300px">
                    <div class="refinesearch">
                        <h2>Avgrens visning</h2>
                        <form class="dropdown">
                            <div class="form-group">
                                <label for="yrke">Yrke</label>
                                <select role="listbox" id="yrke" class="form-control">
                                    <option role="option">Alle</option>
                                    <option role="option">Lege</option>
                                    <option role="option">Tannlege/tannpleier</option>
                                    <option role="option">Fysioterapeut</option>
                                    <option role="option">Apotek/bandasjist     </option>
                                    <option role="option">Jordmor/helsestasjon  </option>
                                    <option role="option">Manuellterapeut       </option>
                                    <option role="option">Kiropraktor</option>
                                    <option role="option">Ortoptist             </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tema">Tema</label>
                                <select role="listbox" id="tema" class="form-control">
                                    <option role="option">Alle</option>
                                    <option role="option">Avtale</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sprak">Språk</label>
                                <select role="listbox" id="sprak" class="form-control">
                                    <option role="option">
                                        Norsk (bokmål)
                                    </option>
                                    <option role="option">
                                        Norsk (nynorsk)
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>