<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title> | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/designsystem.css" rel="stylesheet" />

    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <article class="container">

        <div class="row">
            <div class="col-md-12 designcontainer">
                <h1>Typografi</h1>
                <p>Fontstørrelse 62.5% av 16px. 1rem = 10px. 1.5rem = 15px.</p>
                <h1>h1 - Roboto Light (300) 48/60px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
                <h2>h2 - Roboto Light (300) 30/36px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h2>
                <h3>h3 - Roboto Bold (700) 18/24px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h3>
                <h4>h4 - Roboto Medium (500) 16/24px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h4>
                <h5>h5 - Roboto Regular (400) 18/30px - Grumpy wizards make toxic brew for the evil Queen and Jack.</h5>
                <p>p - Roboto Regular (400) 16/24px - Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
                <p class="ingress">ingress - Roboto Regular (400) 22/30px - Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1></h1>
            </div>
        </div>
    </article>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>