<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Slik inngår du avtale | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../js/rem.js" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/skjema.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/nosvg.css" rel="stylesheet" />
    <link href="../css/print.css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        window.onload = function () { window.print(); }
    </script>
</head>
<body>

    <article class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="../img/HELFO-logo.png" alt="" />
            </div>
        </div>

        <h1>Slik søker du om plass på produkt- og prislistene </h1>
        <h2>1. Hvem kan søke </h2>
        <p>Hvis du er leverandør av medisinsk forbruksmateriell eller næringsmidler kan du søke om å få varer inn på en eller flere av våre <a href="artikkel_prisproduktliste.html">produkt- og prislister.</a></p>

        <p>Hvis du søker på vegne av leverandør, må du legge ved en fullmakt fra leverandøren.</p>

        <h2>2. Hvilke produkter </h2>
        <p><a href="https://www.nav.no/rettskildene/forskrift/F20070628-814">Blåreseptforskriften (§ 5-14)</a> og <a href="#">Rundskriv til § 5-14</a> stiller noen grunnleggende krav til medisinsk forbruksmateriell og næringsmidler til spesielle medisinske formål på blå resept:</p>
        <ul class="bulletlist">
            <li>Produkter på blå resept skal brukes utenfor institusjon (sykehus og lignende)</li>
            <li>Produktet skal være ment til behandling av sykdom som har gått inn i en langvarig fase.</li>
        </ul>
        <h3>Medisinsk forbruksmateriell</h3>
        <p><a href="artikkel_prisproduktliste.html">Produkt- og prislistene</a> som HELFO utarbeider viser hvilke produkt pasienten kan få på blå resept. Produkt- og prislister for medisinsk forbruksmateriell omfatter følgende medisinske tilstander:</p>
        <ul class="numberedlist">
            <li>1.	Inkontinens                                           </li>
            <li>2.	Urinretensjon                                         </li>
            <li> 3.	Strupeopererte                                        </li>
            <li>4.	Diabetes                                                    </li>
            <li>5.	Stomi                                                       </li>
            <li>6.	Blødere                                                     </li>
            <li>7.	Lungesykdom                                                 </li>
            <li>8.	Veksthormonforstyrrelse                                     </li>
            <li>9.	Nyretransplanterte                                          </li>
            <li>10.	Hoftebeskyttere                                             </li>
            <li>11.	Glukosemåling ved intravenøs ernæring                       </li>
            <li>12.	Tuberkulosebehandling (ny produktliste fra 1. januar 2014)  </li>
        </ul>
        <h4>Tuberkulosebehandling</h4>
        <p>Leverandører SKAL IKKE søke om å få sine produkter oppført på produktliste for medisinsk forbruksmateriell ved tuberkulosebehandling. Denne produktlisten angir bare retningslinjer for produkter som apotekene og bandasjistene kan levere ut til pasienter som har blå resept.</p>
        <h3>Næringsmidler</h3>
        <p><a href="#">Produkt- og prislister for næringsmidler</a> omfatter følgende medisinske tilstander:</p>
        <ul class="bulletlist">
            <li>	Sykelige prosesser som affiserer munn, svelg og spiserør og som hindrer tilførsel av vanlig mat.</li>
            <li>Sykelige prosesser som affiserer mage eller tarm, og som hindrer opptak av viktige næringsstoffer, samt stoffskiftesykdom og behandlingsrefraktær epilepsi.</li>
            <li>	Laktose-, melkeproteinintoleranse eller allergi hos barn under 10 år.</li>
            <li>	Fenylketonuri</li>
            <li>	Behandling av kreft/immunsvikt eller annen sykdom som medfører så sterk svekkelse at næringstilskudd er påkrevd.</li>
        </ul>
        <p>
            I noen spesielle tilfeller kan leger, på vegne av pasienten, søke om individuell refusjon. Da må pasienten enten ha behov for et produkt som ikke står på produkt- og prislisten, eller ikke kunne bruke produkt fra produkt- og prislisten.
            I tillegg må produktet oppfylle kvalitetskravene ( lenke?) HELFO stiller.
        </p>

        <h2>3. Hvordan søke</h2>
        <p>
            Du kan søke om å få produkt på produkt- og prislisten året rundt.
            Vær oppmerksom på at du må levere søknad for alle pakninger (varenummer) som du ønsker inn på produkt- og prislistene.
        </p>
        <p> HELFO kan på grunnlag av bruksverdien inndele utstyret/produktene i grupper og fastsette en egen referansepris for utstyr/produkter i samme gruppe. Referanseprisen er det maksimale beløp som folketrygden kan dekke.</p>
        <p>Dersom produktet skal søkes inn under flere bruksområder, må du levere søknadsskjema for hvert område.</p>
        <h3>For alle nye produkter, produkter med nytt varenummer fra Farmalogg og produkter som skal søkes inn for nye bruksområder/indikasjoner, bruke disse skjemaene.</h3>
        <ul class="bulletlist">
            <li> <a href="#"> Søk om nytt produkt for medisinsk forbruksmateriell og næringsmidler til spesielle medisinske formål (05-14.20)</a></li>
            <li><a href="#">Søk om nytt produkt for medisinsk forbruksmateriell ved diabetes og glukosemåling ved intravenøs ernæring (05-14.21)</a></li>
        </ul>
        <h3>For blodsukkerstrimler</h3>
        <p>Bruk dette skjemaet:</p>
        <ul>
            <li> <a href="#">Søk om nye blodsukkertester</a></li>
        </ul>
        <p>  Det er egne kvalitetskrav for blodsukkerteststrimler på produkt- og prislisten. Det stilles krav til analysekvalitet av blodsukkerteststrimmel og -apparat i bruk av helsepersonell og i bruk av personer med diabetes.</p>
        <ul class="bulletlist">
            <li><a href="#">Kravspesifikasjoner til blodsukkerstrimler på produkt- og prislisten</a></li>
            <li><a href="#">HELFOs protokoll for utprøving av blodsukkerteststrimmel og – apparat blant helsepersonell og blant personer med diabetes</a></li>
        </ul>

        <h3>Slik skriver du søknad</h3>
        <p> Søknadsskjemaet «Nytt produkt» brukes for alle nye produkter, produkter med nytt varenummer fra Farmalogg og produkter som skal søkes inn for nye bruksområder/indikasjoner.</p>

        <h3>Utfylling og innsending av skjema</h3>
        <p> Det er ikke mulig å lagre utfylte HELFO-skjema i PDF-format. Slik går du fram for å sikre at HELFO får den informasjonen vi trenger:</p>
        <ul class="bulletlist">
            <li>Du som leverandør kan fylle ut skjema i PDF-format på datamaskinen, og deretter  skrive ut utfylt skjema.</li>
            <li>
                Utskriften må skannes, og hver søknad må sendes HELFO i separate PDF-filer.
                Ved utfylling av søknadsskjema er det viktig at alle opplysninger er rett utfylt.
            </li>
            <li>	Produkt- og prisliste, produktområde, produktgruppe og artikkelgruppe fylles ut etter inndelingen i gjeldende produkt- og prisliste.</li>
            <li>Skal produktet søkes inn flere bruksområder, må det leveres søknadsskjema for hvert område.</li>
            <li>	Varenummer fylles ikke ut for produkter som ikke allerede har varenummer fra Farmalogg.</li>
            <li>	Artikkelnummer er leverandørens eget nummer.</li>
            <li>	Produktnavn er det navnet som kommer til å stå i produkt- og prislisten hvis produktet blir godkjent.</li>
            <li>	Nettopris er prisen som du søker inn. Denne prisen er utgangspunktet for utregning av maksimal refusjonspris. Nettopris pluss avansetillegg til apotek/bandasjist pluss moms blir den summen som blir refundert fra HELFO til apotek/bandasjist når et produkt fra produkt- og prislisten leveres til en bruker. (mer om stk/antall i denne forklaringen)</li>
        </ul>

        <h2>Ved søknad om blodsukkerstrimler kreves følgende tilleggsdokumentasjon:</h2>
        <ul class="bulletlist">
            <li>	Dokumentasjon for leverandørens system for klagebehandling                                </li>
            <li>Norsk bruksanvisning til blodsukkerapparatet/ene tilhørende teststrimmelen</li>
            <li>Norsk pakningsvedlegg til teststrimmelen</li>
            <li>Dokumentasjon for transport og oppbevaring av importerte teststrimler</li>
            <li>Dokumentasjon for spesifikasjoner og måleprinsipp for teststrimmelen</li>
            <li>Dokumentasjon for sporbarhet av kalibratorverdi for teststrimmelen</li>
            <li>Dokumentasjon for fabrikantens garanterte krav til total feil for hver lot av teststrimler</li>
            <li>Dokumentasjon for fabrikantens garanterte krav til innen lot variasjon</li>
            <li>	Dokumentasjon fra utprøving av blodsukkerapparat- og teststrimmel blant helsepersonell og blant personer med diabetes ifølge HELFOs protokoll for slik utprøving. Utprøvingen må være utført i regi av «uavhengig instans». Skup.nu er et eksempel på en slik uavhengig instans.</li>
            <li>	Dokumentasjon for gyldig CE-merking                                                 </li>
        </ul>

        <h2>
            4. Sende inn
        </h2>
        <h2>Søknad og dokumentasjon</h2>
        <p>Send søknad og dokumentasjon per e-post til <a href="mailto:post@helfo.no">post@helfo.no</a>. Søknaden må inneholde:</p>
        <ul class="bulletlist">
            <li>	søknadsskjema                                                          </li>
            <li>	produktbeskrivelse                                                     </li>
            <li>	dokumentasjon for gyldig CE-merking for medisinsk forbruksmateriell    </li>
            <li>	egnethetsvurdering fra Mattilsynet for næringsmidler                   </li>
            <li>	tilleggsdokumentsjon ved søknad om blodsukkerstrimler.              </li>
        </ul>

        <h2>Vareprøve</h2>
        <p>  Merk konvolutten/pakken: «Produkt- og prisliste.» og send vareprøve per post til:</p>
        <p>
            HELFO<br />
            Postboks 2415<br />
            3104 Tønsberg.
        </p>

        <h2>5. Veien videre </h2>
        <h2>Saksbehandling</h2>
        <p>Saksbehandlingstiden er gjennomsnittlig seks måneder. Søknadene behandles fortløpende, men saksbehandlingstiden avhenger av når søknaden er sendt inn i forhold til neste oppdatering av listene. Det er ikke mulig for HELFO å gjøre endringer i databasen den siste måneden før listene legges ut.</p>
        <p>Vi bruker kortere tid på å behandle enkle søknader som fjerning eller enkle endringer på oppførte produkter.</p>
        <p> Vi bruker lengre tid på komplekse søknader. Eksempler på slike søknader er:</p>
        <ul class="bulletlist">
            <li>nye produkter som ikke er tilgjengelige i ordningen fra før eller har en annen pris</li>
            <li>endring av pris på allerede oppførte produkter</li>
            <li>dersom vi må be  mer dokumentasjon om brukergrupper, kostnader og lignende i vurderingen av søknadene.</li>
        </ul>

        <h2>Svar fra HELFO</h2>
        <p>Du får vedtak om godkjenning av produktet eller avslag på søknad på e-post. Hvis HELFO godkjenner produktet, må du som er leverandør <a href="https://www.farmalogg.no">søke om varenummer hos Farmalogg</a>  som er apotekbransjens felles vareregister. </p>
        <p>Husk å legge ved vedtaket fra HELFO i søknaden til Farmalogg. </p>
        <p>Etter at du har fått varenummer, sender du kvittering fra Farmalogg til HELFO. Deretter legger vi produktet inn i produkt- og prislisten hos HELFO.</p>
        <p>Vi oppdaterer Produkt- og prislistene fire ganger i året – 1. januar, 1. april, 1. juli og 1. oktober. </p>
    </article>
</body>
</html>