<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Slik endrer/fjerner du produkter på produkt- og prislistene | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/skjema.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />
    <link href="../css/nosvg.css" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>
    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/veiviser.js"></script>
</head>
<body>
    <div id="header">
        <div class=" shortcuts">
            <ul>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-4  nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../img/HELFO-logo.svg" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-lg-2 col-lg-offset-0 hidden-xs hidden-sm ">
                    <div class=" menubutton pull-right">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class=" menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-3  hidden-mobile" id="mainsearchcolumn">
                    <form class="mainsearch">

                        <span role="search">
                            <label for="mainsearchinput" class=" visuallyhidden">Søk</label>
                            <input id="mainsearchinput" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk" />
                            <button type="submit">
                                <img src="../img/ikoner/ikon_forstorrelsesglass.png" alt="Søkeknapp" />
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
                    <div class="pull-right">
                        <a class="links hidden-sm hidden-xs " href="transportside_omoss.html">om helfo</a>
                        <a class=" links hidden-sm hidden-xs" href="#">English</a>
                    </div>
                </div>
            </header>
        </div>
        <div class="js-expand">
            <div class=" toppmeny  container-fluid ">
                <div class="inner container-fluid">
                    <div class="container">
                        <nav class=" tabs">
                            <ul class=" tab-links" role="tablist">
                                <li role="presentation"><span class=" tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                <li role="presentation"><span class=" tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                            </ul>
                            <div class=" tab-content">
                                <div id="panel_header1" class=" tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="transportside_avtale.html" id="content_categories">Avtale med HELFO</a></li>
                                                <li><a href="transportside_takster.html">Takster</a></li>
                                                <li><a href="transportside_oppgjor.html">Oppgjør</a></li>
                                                <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="skjema.html">Skjema</a></li>
                                                <li><a href="#">Frikort</a></li>
                                                <li><a href="#">Vikar</a></li>
                                                <li><a href="#">På vegne av pasient</a></li>
                                            </ul>
                                        </div>
                                        <div class=" clearfix visible-xs visible-sm"></div>
                                        <div class=" col-sm-6 col-md-4">
                                            <ul>
                                                <li><a href="transportside_blaaresept.html">Blå resept</a></li>
                                                <li><a href="#">Hvit resept</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="panel_header2" class=" tab tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                    <div class="row alphabetical">
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">A</li>
                                                <li><a href="#" id="content_alphabetical">Apotek og bandasjist</a></li>
                                            </ul>

                                            <ul>
                                                <li class="character">B</li>
                                                <li><a href="#">Behandling i utlandet</a></li>
                                            </ul>

                                            <ul>
                                                <li class="character">D</li>
                                                <li><a href="#">Diagnoser og takster</a></li>
                                            </ul>

                                            <ul>
                                                <li class="character">E</li>
                                            </ul>
                                            <ul>
                                                <li class="character">F</li>
                                            </ul>
                                            <ul>
                                                <li class="character">G</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">H</li>
                                            </ul>
                                            <ul>
                                                <li class="character">I</li>
                                            </ul>
                                            <ul>
                                                <li class="character">J</li>
                                                <li><a href="#">Jordmor og helsestasjon</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">K</li>
                                                <li><a href="transportside_kiropraktor.html">Kiropraktor</a></li>
                                                <li><a href="#">Kommune og fylkeskommune</a></li>
                                                <li><a href="#">Kurssentra og andre senter</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">L</li>
                                                <li><a href="transportside_leger.html">Lege</a></li>
                                                <li><a href="#">Logoped og audiopedagog</a></li>
                                                <li><a href="transportside_leverandor.html">Leverandører</a></li>
                                            </ul>
                                        </div>
                                        <div class=" clearfix hidden-md hidden-lg"></div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">M</li>
                                                <li><a href="#">Manuellterapeut</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">N</li>
                                                <li><a href="#">Nasjonalt kontaktpunkt</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">O</li>
                                                <li><a href="#">Ortoptist</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">P</li>
                                                <li><a href="artikkel_prisproduktliste.html">Produkt- og prislisten</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">

                                            <ul>
                                                <li class="character">R</li>
                                            </ul>
                                            <ul>
                                                <li class="character">S</li>
                                                <li><a href="#">Sykehus og poliklinikk</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">T</li>
                                                <li><a href="transportside_tannlege.html">Tannlege og tannpleier</a></li>
                                            </ul>
                                            <ul>
                                                <li class="character">U</li>
                                                <li>
                                                    <a href="#">Utbetalingsvedtak</a>
                                                </li>
                                            </ul>
                                            <ul>
                                                <li class="character">V</li>
                                                <li>
                                                    <a href="#">Veiledet tjeneste</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <a id="content" tabindex="-1"></a>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-12">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li>
                                <a href="forside.html">
                                    Forside
                                </a>
                            </li>
                            <li>
                                <a href="transportside_blaaresept.html">
                                    Blå resept
                                </a>
                            </li>
                        </ol>
                    </nav>
                    <h1>Slik endrer/fjerner du produkter på produkt- og prislistene</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="content">
                    <nav class="clearfix">
                        <a href="veiviser_produktpris_fjerne_1.html" class="method_entrance passive">
                            <div class="icon"><span class="number">1</span></div><div class="heading_wrapper"><h3>Hvem kan søke</h3></div>
                        </a>
                        <a href="veiviser_produktpris_fjerne_2.html" class="method_entrance passive">
                            <div class="icon"><span class="number">2</span></div><div class="heading_wrapper"><h3>Hvordan søke</h3></div>
                        </a>
                        <a href="veiviser_produktpris_fjerne_3.html" class="method_entrance selected">
                            <div class="icon"><span class="number">3</span></div><div class="heading_wrapper"><h3>Sende inn</h3></div>
                        </a>
                        <a href="veiviser_produktpris_fjerne_4.html" class="method_entrance passive">
                            <div class="icon"><span class="number">4</span></div><div class="heading_wrapper"><h3>Saksbehandling</h3></div>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2>3. Sende inn</h2>
                <p>Det er dessverre ikke mulig å lagre utfylte HELFO-skjema i PDF-format.</p>
                <ul class="bulletlist">
                    <li>
                        Fylle ut skjema i PDF-format på datamaskinen
                    </li>
                    <li>Skriv ut det utfylte skjemaet </li>
                    <li>
                        Skriv under, skanne utskriften og send søknad til HELFO per e-post til <a href="#">post@helfo.no</a> i separate PDF-filer.
                    </li>
                </ul>

                <nav>
                    <div class="navigate_forward pull-right">
                        <a href="veiviser_produktpris_fjerne_4.html">
                            <span>Neste steg: Saksbehandling</span>
                        </a>
                    </div>
                    <div class="navigate_back pull-left">
                        <a href="veiviser_produktpris_fjerne_2.html">
                            <span>Forrige steg: Hvordan søke</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </article>
    <div id="footer">
        <div class=" shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class=" footerwrapper" role="contentinfo">
            <div class=" menuwrapper">
                <div class="container">
                    <div class="row  forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class=" tabs">
                                <ul class=" tab-links" role="tablist">
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                                </ul>
                                <div class=" tab-content">
                                    <div id="panel_footer1" class=" tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="transportside_avtale.html" id="footer_content_categories">Avtale med HELFO</a></li>
                                                    <li><a href="transportside_takster.html">Takster</a></li>
                                                    <li><a href="transportside_oppgjor.html">Oppgjør</a></li>
                                                    <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="skjema.html">Skjema</a></li>
                                                    <li><a href="#">Frikort</a></li>
                                                    <li><a href="#">Vikar</a></li>
                                                    <li><a href="#">På vegne av pasient</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix visible-xs visible-sm"></div>
                                            <div class=" col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="transportside_blaaresept.html">Blå resept</a></li>
                                                    <li><a href="#">Hvit resept</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">
                                                <ul>
                                                    <li class="character">A</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">B</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">D</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">
                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">
                                                <ul>
                                                    <li class="character">M</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">
                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>
            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="artikkel_kontaktoss.html">
                                <h4>Kontakt oss</h4>
                            </a>
                            <p>HELFO veiledning for helseaktører</p>
                            <div class="contact clearfix">
                                <p>Telefon: </p>
                                <p>+47 815 70 070</p>
                                <p>E-post: </p>
                                <p><a href="mailto:post@helfo.no">post@helfo.no</a></p>
                                <p>Postadresse: </p>
                                <p>HELFO<br /> Postboks 2415<br /> 3104 Tønsberg</p>
                            </div>
                            <p><a href="artikkel_kontaktoss.html">Finn telefonnummer når du ringer på vegne av pasient</a></p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="transportside_omoss.html">
                                <h4>Om HELFO</h4>
                            </a>
                            <p> Helseøkonomiforvaltningen (HELFO) er en ytre etat under Helsedirektoratet. Vi forvalter oppgjør til behandlere, leverandører og tjenesteytere, samt individuell refusjon av privatpersoners utgifter til blant annet legemidler, tannhelse og helsetjenester i utlandet.</p>
                            <ul class="bulletlist">
                                <li>HELFOs organisasjon</li>
                                <li>Ledige stillinger</li>

                                <li>Mediehenvendelser</li>
                            </ul>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <h4>Abonner</h4>
                            <p> <a href="#">Nyheter på e-post</a></p>
                            <p><a href="#">Nyheter på RSS</a></p>
                            <h4>Følg oss på</h4>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>