<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../img/HELFO-logo.ico">
    <title>Slik inngår du avtale | HELFO</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/fonts.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/skjema.css" rel="stylesheet">
    <link href="../css/masterpage.css" rel="stylesheet" />

    <!--[if lte IE 8]>
    <link href="/css/ie8fix.css" rel="stylesheet">
    <script src="../js/modernizr-latest.js"></script>
    <script src="../js/html5.js"></script>
    <script src="../js/respond.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="header">
        <div class=" shortcuts">
            <ul>
                <li><a href="#content" id="contentshortcut">Gå til innhold</a></li>
            </ul>
        </div>
        <div class="container">
            <header class="row masterheader">
                <div class="col-xs-7 col-sm-8 col-md-4 col-lg-4  nopadding">
                    <a href="forside.html" id="logo" title="Gå til forsiden">
                        <img src="../img/HELFO-logo.svg" alt="" />
                    </a>
                </div>

                <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-0 hidden-xs hidden-sm ">
                    <div class=" menubutton pull-right">
                        <button class="js-expander">
                            <span>Alt innhold</span>
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="col-xs-5 visible-xs xs-no-padding col-sm-4 visible-sm">

                    <div class=" menubutton mobile-search pull-right" id="mobilesearch">
                    </div>
                    <div class=" menubutton mobile-menu js-expander pull-right" id="mobilemenu">
                    </div>
                </div>

                <div class="col-xs-12 col-md-2 col-lg-3  hidden-mobile" id="mainsearchcolumn">
                    <form class="mainsearch">

                        <span role="search">
                            <label for="mainsearchinput" class=" visuallyhidden">Søk</label>
                            <input id="mainsearchinput" type="search" title="Skriv inn hva du vil søke på og trykk enter" placeholder="Søk i alt innhold" />
                            <button type="submit">
                                <img src="../img/ikoner/ikon_forstorrelsesglass.png" alt="Søkeknapp" />
                            </button>
                        </span>
                    </form>
                </div>
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                    <div class="pull-right">
                        <a class=" links hidden-sm hidden-xs" href="transportside_omoss.html">OM OSS</a>
                        <a class=" links hidden-sm hidden-xs" href="#">ENGLISH</a>
                    </div>
                </div>
            </header>
        </div>
        <div class=" toppmeny  container-fluid js-expand">
            <div class="inner container-fluid">
                <div class="container">
                    <nav class=" tabs">
                        <ul class=" tab-links" role="tablist">
                            <li role="presentation"><span class=" tabs_header" id="tab_header1" role="tab" aria-controls="panel_header1" aria-selected="true" tabindex="0">Kategorier</span></li>
                            <li role="presentation"><span class=" tabs_header" id="tab_header2" role="tab" aria-controls="panel_header2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                        </ul>
                        <div class=" tab-content">
                            <div id="panel_header1" class=" tab tabpanel_header" aria-labelledby="tab_header1" aria-hidden="false" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#" id="content_categories">Avtale med HELFO</a></li>
                                            <li><a href="#">Takster</a></li>
                                            <li><a href="#">Oppgjør</a></li>
                                            <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#">Skjema</a></li>
                                            <li><a href="#">Frikort</a></li>
                                            <li><a href="#">Vikar</a></li>
                                            <li><a href="#">På vegne av pasient</a></li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix visible-xs visible-sm"></div>
                                    <div class=" col-sm-6 col-md-4">
                                        <ul>
                                            <li><a href="#">Blå resept</a></li>
                                            <li><a href="#">Hvit resept</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="panel_header2" class=" tab tabpanel_header" aria-labelledby="tab_header2" aria-hidden="true" role="tabpanel">
                                <div class="row alphabetical">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">A</li>
                                        </ul>
                                        <ul>
                                            <li class="character">B</li>
                                        </ul>
                                        <ul>
                                            <li class="character">D</li>
                                        </ul>
                                        <ul>
                                            <li class="character">E</li>
                                        </ul>
                                        <ul>
                                            <li class="character">F</li>
                                        </ul>
                                        <ul>
                                            <li class="character">G</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">H</li>
                                        </ul>
                                        <ul>
                                            <li class="character">I</li>
                                        </ul>
                                        <ul>
                                            <li class="character">K</li>
                                        </ul>
                                        <ul>
                                            <li class="character">L</li>
                                        </ul>
                                    </div>
                                    <div class=" clearfix hidden-md hidden-lg"></div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">M</li>
                                        </ul>
                                        <ul>
                                            <li class="character">N</li>
                                        </ul>
                                        <ul>
                                            <li class="character">O</li>
                                        </ul>
                                        <ul>
                                            <li class="character">P</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <ul>
                                            <li class="character">R</li>
                                        </ul>
                                        <ul>
                                            <li class="character">S</li>
                                        </ul>
                                        <ul>
                                            <li class="character">T</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <a id="content" tabindex="-1"></a>
    </div>
    <article class="container">
        <div class="row">
            <div class="col-md-7">
                <header id="pageheader">
                    <nav>
                        <ol class=" breadcrumbs clearfix">
                            <li><a href="forside.html">Forside</a></li>
                            <li><a href="transportside_avtale.html">Avtale</a></li>
                        </ol>
                    </nav>
                    <h1>Slik inngår du som lege avtale</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="content">
                    <nav class="clearfix">

                        <a href="veiviser_autorisasjon.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop forslag ">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">1</span>
                                </span>
                            </span>
                            <div class="heading_wrapper"><h3>Autorisasjon</h3></div>
                        </a>
                        <a href="veiviser_avtale.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop metodevurdering ">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">2</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Avtale</h3></div>
                        </a>
                        <a href="veiviser_medlemsskap.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop beslutning selected">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">3</span>
                                </span>
                            </span><div class="heading_wrapper"><h3 class="selected">Medlemskap</h3></div>
                        </a>
                        <a href="veiviser_opplysningsskjema.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop implementering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">4</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Opplysningsskjema</h3></div>
                        </a>
                        <a href="veiviser_innsending.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop implementering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">5</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Innsending</h3></div>
                        </a>
                        <a href="veiviser_veienvidere.html" class="method_entrance ">
                            <span class="drop_wrapper">
                                <span class="drop implementering">
                                    <i class="drop_triangle"></i>
                                    <i class="drop_circle"></i>
                                    <span class="drop_number">6</span>
                                </span>
                            </span><div class="heading_wrapper"><h3>Veien videre</h3></div>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h1>3. Medlemsskap</h1>
                <p>Du må ha en eller flere av følgende avtaler:</p>
                <ul class="bulletlist">
                    <li>Er du medlem i DNLF, legg ved bekreftelsen</li>
                    <li>
                        Turnusavtale
                    </li>
                    <li>Vikaravtale</li>
                </ul>
                <p>Hvis du også deltar i kommunalt organisert legevakt, må du i tillegg sende denne avtalen.</p>
                <nav>
                    <div class="navigate_back pull-left">
                        <a href="veiviser_avtale.html">
                            <span>Forrige steg: Avtale</span>
                        </a>
                    </div>
                    <div class="navigate_forward pull-right">
                        <a href="#">
                            <span>Neste steg: Opplysningsskjema</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </article>

    <div id="footer">
        <div class=" shortcuts">
            <ul>
                <li><a href="#bottom">Bunnlinje</a></li>
            </ul>
        </div>
        <footer class=" footerwrapper" role="contentinfo">
            <div class=" menuwrapper">
                <div class="container">
                    <div class="row  forside">
                        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav class=" tabs">

                                <ul class=" tab-links" role="tablist">
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer1" role="tab" aria-controls="panel_footer1" aria-selected="true" tabindex="0">Kategorier</span></li>
                                    <li role="presentation"><span class=" tabs_footer" id="tab_footer2" role="tab" aria-controls="panel_footer2" aria-selected="false" tabindex="0">Innhold A-Å</span></li>
                                </ul>
                                <div class=" tab-content">
                                    <div id="panel_footer1" class=" tab tabpanel_footer" aria-labelledby="tab_footer1" aria-hidden="false" role="tabpanel">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#" id="footer_content_categories">Avtale med HELFO</a></li>
                                                    <li><a href="#">Takster</a></li>
                                                    <li><a href="#">Oppgjør</a></li>
                                                    <li><a href="transportside_refusjon.html">Refusjon</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Skjema</a></li>
                                                    <li><a href="#">Frikort</a></li>
                                                    <li><a href="#">Vikar</a></li>
                                                    <li><a href="#">På vegne av pasient</a></li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix visible-xs visible-sm"></div>
                                            <div class=" col-sm-6 col-md-4">
                                                <ul>
                                                    <li><a href="#">Blå resept</a></li>
                                                    <li><a href="#">Hvit resept</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel_footer2" class="tab tabpanel_footer" aria-labelledby="tab_footer2" aria-hidden="true" role="tabpanel">
                                        <div class="row alphabetical">
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">A</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">B</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">D</li>
                                                </ul>

                                                <ul>
                                                    <li class="character">E</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">F</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">G</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">H</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">I</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">K</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">L</li>
                                                </ul>
                                            </div>
                                            <div class=" clearfix hidden-md hidden-lg"></div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">M</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">N</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">O</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">P</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6 col-md-3 col-lg-3">

                                                <ul>
                                                    <li class="character">R</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">S</li>
                                                </ul>
                                                <ul>
                                                    <li class="character">T</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </section>
                    </div>
                </div>
            </div>
            <a id="bottom" tabindex="-1"></a>
            <div class="footerlinkswrapper">
                <div class="container">
                    <div class="row">
                        <section class="col-sm-12 col-md-4 ">
                            <a href="transportside_omoss.html">
                                <h4>Kontakt oss</h4>
                            </a>
                            <p>Telefon: +47 815 70 070</p>
                            <p>E-post: <a href="mailto:post@helfo.no">post@helfo.no</a></p>
                            <p>Postadresse: HELFO, Postboks 2415, 3104 Tønsberg</p>
                            <h4>HELFO.no</h4>
                            <p>Portal for helseaktører om avtale, oppgjør og refusjon fra HELFO</p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne to</h4>
                            </a>
                            <p><a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                        <section class="col-sm-12 col-md-4 ">
                            <a href="#">
                                <h4>Kolonne tre</h4>
                            </a>
                            <p> <a href="#">Lenke en</a></p>
                            <p><a href="#">Lenke to</a></p>
                            <p><a href="#">Lenke tre</a></p>
                        </section>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="../js/jquery-1.11.0.js"></script>
    <script src="../js/tabs.js"></script>
    <script src="../js/helsedir.js"></script>
    <script src="../js/expandmenu.js"></script>
</body>
</html>