@roboto: 'Roboto', sans-serif;

@colorDarkBlue: #002c42;
@colorDarkBlueHover: #002e41;
@colorMediumBlue: #0093a7;
@colorMediumBlueHover: #006371;
@colorLightBlue: #6cb4b5;
@colorLightBlueHover: #4f8889;
@colorOrange: #eb6a0a;
@colorOrangeHover: #b8811d;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorYellowHover: #c7ad1c;
@colorDarkGray: #aeaba8;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGreenHover: #748f29;

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: 100%;
    background: white;
}

body {
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 30px;
    color: #222;
    background-color: #f7f6f6;
    background-position: 100% 20%;
    background-position-x: 100%;
    background-position-y: 20%;
    -webkit-background-size: 40% auto;
    -moz-background-size: 40% auto;
    -o-background-size: 40% auto;
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container, .container-fluid {
    h1 {
        font-weight: normal;
        font-size: 40px;
        font-family: @roboto;
        line-height: 48px;
        margin: 50px 0 0 0;
        color: @colorDarkBlue;
    }

    .ingress {
        margin: 20px 0 20px 0;
        font-size: 25px;
        line-height: 30px;
        font-family: @roboto;

        a {
            font-size: 25px;
            line-height: 30px;
            font-family: @roboto;
        }
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
        font-family: @roboto;
        margin: 35px 0 10px 0;
        color: @colorDarkBlue;

        &.internal-link {
            color: @colorMediumBlue;
        }
    }

    h3 {
        font-size: 28px;
        font-family: @roboto;
        margin: 35px 0 0 0;
        line-height: 36px;
    }

    h4 {
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        margin-top: 55px;
        font-family: @roboto;
    }

    h5 {
        font-weight: normal;
        font-size: 18px;
    }

    p {
        margin: 10px 0 0 0;
        font-size: 20px;
        font-family: 'Roboto';
        line-height: 30px;
    }

    ul {
        &.list {
            list-style: none;
            margin: 0 0 24px 0;

            li {
                padding-bottom: 15px;
            }

            li:before {
                content: "•";
                color: @colorDarkBlue;
                margin-right: 20px;
            }
        }
    }

    .breadcrumbs {
        padding: 0;
        list-style-type: none;
        margin: 10px 0 0 0;

        li {
            display: block;
            float: left;
            padding-right: 0.3rem;
        }

        li:after {
            content: '';
            height: 28px;
            width: 28px;
            display: inline-block;
            background: url('../img/ikoner/pil_tilbake_brun.svg') no-repeat;
            background-size: 28px 28px;
            margin: 0 5px 0 5px;
            vertical-align: bottom;
        }

        li:last-child:after {
            background: none;
        }

        a {
            font-family: @roboto;
            font-size: 18px;
            line-height: 22px;
        }

        a:visited {
            color: @colorDarkBlue;
        }
    }

    .accordion {
        /* h3 {
			border-bottom: 1px solid @colorDarkGray;
			padding-bottom: 10px;
			padding-left: 33px;
		}*/
    }

    .has-hidden-content {
        h2 {
            cursor: pointer;

            &:before {
                float: left;
                padding: 3px 20px 0 0;
                content: "\f107";
                font-family: "FontAwesome";
                font-size: 40px;
            }
        }
        /* &.accordion {
			h3 {
				cursor: pointer;

				&:before {
					content: "\f107";
					font-family: "FontAwesome";
					font-size: 30px;
					position: absolute;
					left: 0;
				}
			}
		} */
    }
    /* .nested-accordion.has-hidden-content > .accordion:before {
		float: left;
		padding: 3px 20px 0 0;
		content: "\f107";
		font-family: "FontAwesome";
		font-size: 40px;
		cursor: pointer;
	}*/
    .has-visible-content {
        h2 {
            cursor: pointer;

            &:before {
                float: left;
                padding: 3px 20px 0 0;
                content: "\f106";
                font-family: "FontAwesome";
                font-size: 40px;
            }
        }
        /*
		&.accordion {
			h3 {
				cursor: pointer;

				&:before {
					content: "\f106";
					font-family: "FontAwesome";
					font-size: 30px;
					position: absolute;
					left: 0;
				}
			}
		}*/
    }
    /*    .nested-accordion.has-visible-content > .accordion:before {
		float: left;
		padding: 3px 20px 0 0;
		content: "\f106";
		font-family: "FontAwesome";
		font-size: 40px;
	}*/
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: " ";
    }

    .clearfix:after {
        clear: both;
    }

    .fa-chevron-down {
        float: right;
        padding-top: 0.3rem;
        font-size: 1.5em;
    }

    .tabs {
        position: inherit;
        height: 100%;
        width: 100%;
        display: inline-block;

        .tab-links {
            margin: 0;
            padding-left: 20px;
            list-style: none;

            &:after {
                display: block;
                clear: both;
                content: '';
            }

            li {
                span.tabs_header, span.tabs_footer, form {
                    margin: 0;
                    float: left;
                    list-style: none;
                    margin-right: 10px;
                    width: 170px;
                    text-align: center;
                    transition: all linear 0.15s;
                    padding-bottom: 6px;

                    &.active {
                        border: none;

                        a {
                            color: @colorDarkBlue;
                            font-family: @roboto;
                            background: white;

                            &:hover, &:focus {
                                background: white;
                                color: @colorDarkBlue;
                            }
                        }
                    }

                    a {
                        display: inline-block;
                        font-size: 16px;
                        transition: all linear 0.15s;
                        width: 100%;
                        border-radius: 0;
                        color: white;
                        text-decoration: none;
                        font-family: @roboto;
                        background: #838078;

                        &:hover, &:focus {
                            color: white;
                            background: #5e5d57;
                        }
                    }
                }
            }
        }
        /*----- Content of Tabs -----*/
        .tab-content {
            padding: 15px;
            border-radius: 3px;

            li {
                list-style-type: none;
                margin-left: 0;
                padding: 5px 0 5px 10px;
                border-bottom: solid 1px @colorDarkGray;

                @media only screen and (min-width:900px) {
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }

            a, a:visited, a:hover {
                text-decoration: none;
            }

            .alphabetical {
                font-size: 18px;

                ul {
                    li:first-of-type {
                        border-bottom: solid 1px @colorDarkGray;
                    }

                    li {
                        border: none;

                        a {
                            color: @colorDarkBlue;
                            display: inline-block;
                            line-height: 22px;

                            &:focus {
                                color: white;
                            }
                        }
                    }
                }

                .character {
                    text-transform: uppercase;
                    font-weight: bold;

                    &:hover {
                        background: white;
                    }
                }
            }

            .tabpanel_header[aria-hidden="true"] {
                display: none;
            }

            .tabpanel_footer[aria-hidden="true"] {
                display: none;
            }
        }
    }

    .chart_div {
        height: 450px;
        margin: 20px 57px;
        background: white;
    }

    .visuallyhidden, &.visuallyhidden {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .searchform {
        margin-top: 30px;
        margin-bottom: 20px;
        height: 41px;
        width: 100%;
        border: none;
        vertical-align: middle;
        cursor: text;
        display: inline-block;

        input {
            width: 94%;
            height: 40px;
            background: white;
            cursor: text;
            border: none;
            padding: 0 0 0 20px;
            vertical-align: sub;
            float: left;
        }

        button {
            border: none;
            width: 39px;
            height: 40px;
            padding: 0;
            vertical-align: bottom;
            float: left;
            background: #badde9;

            img {
                width: 25px;
                vertical-align: bottom;
            }
        }
    }

    .numberofpublications {
        margin-bottom: 20px;
        padding-top: 15px;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 18px;
        color: #222;
    }

    .searchfield {
        margin: 20px 0 0 0;
        height: 41px;
        /*max-width: 220px;*/
        width: 100%;
        border: 1px inset @colorDarkBlue;
        vertical-align: middle;
        cursor: text;
        display: inline-block;
        padding-left: 5px;
        background: white;

        input {
            border: none;
            padding: 0 0 0 10px;
            width: 94%;
            vertical-align: sub;
        }

        button {
            border: none;
            background: none;
            width: 29px;
            padding: 0;
            vertical-align: middle;

            img {
                width: 25px;
                vertical-align: middle;
            }
        }
    }

    .search_withbutton {
        .search {
            display: inline;
            background: white;
        }

        .calltoaction {
            display: inline;
            padding: 6px 20px 6px 40px;
            margin-left: 10px;
            background-position: 10% 50%;

            &:hover {
                background-position: 10% 50%;
            }
        }
    }
    /**********************************************************************
	Moduler
***********************************************************************/
    video {
        width: 100%;
        margin-top: 10px;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin: 40px 0;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    figure {
        .metatext {
            text-align: right;
        }
    }

    .metatext {
        font-family: @roboto;
        font-size: 18px;
        color: #222;
        line-height: 22px;

        &.statistics {
            text-align: right;
            float: right;
            padding: 10px 20px 15px 10px;
        }
    }

    .spennendeTall {
        border: 1px solid #222;
        width: 100%;
        margin-bottom: 10px;

        p {
            text-align: center;
            padding: 30px;
        }
    }

    .relative-container {
        position: relative;
    }

    .content {
        position: relative;
    }

    .aside, .aside.bottom {
        margin-right: 0;
        position: relative;
        width: 300px;

        h2 {
            margin: 0;
        }
    }

    .linklist {
        list-style-type: none;
        margin: 10px 0 15px 0;

        a:visited {
            text-decoration: none;
        }

        li a, li a.internal-link.arrow_right {
            margin-bottom: 5px;
        }

        li a.external-link {
            margin: 0;
        }

        li a.internal-link.arrow_right, li a.external-link {
            text-decoration: none;
            margin: 5px 0;
        }
    }

    .bulletlist {
        list-style-position: outside;
        margin-top: 10px;

        li {
            margin: 0 0 10px 25px;
            display: block;

            &:before {
                content: "•";
                color: @colorDarkBlue;
                margin: -1px 0 0 -25px;
                display: block;
                position: absolute;
            }
        }
    }

    .numberedlist {
        list-style-position: outside;
        margin-top: 10px;

        li {
            margin: 0 0 10px 0;
            display: block;
        }
    }

    .borderbox {
        margin-bottom: 20px;
        margin-top: 10px;
        border: 1px solid @colorDarkGray;
        padding-left: 10px;
        background: white;

        .innerDiv {
            margin: 10px;

            p, a, h4 {
                margin: 0 0 0 10px;
            }
        }
    }
    //Center text in input fields
    ::-webkit-input-placeholder {
        text-align: left;
        font-weight: 300;
    }

    :-moz-placeholder { /* Firefox 18- */
        text-align: left;
        font-weight: 300;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        text-align: left;
        font-weight: 300;
    }

    :-ms-input-placeholder {
        text-align: left;
        font-weight: 300;
    }

    .calltoaction {
        margin: 30px 0 0 0;
        min-width: 0;
        border: none;
        padding: 10px 25px 10px 20px;
        background: #6e8c22;
        color: white;
        font-family: @roboto;
        font-size: 2.0rem;
        line-height: 2.4rem;
        font-weight: 400;
        display: inline-block;
        cursor: pointer;
        text-align: left;
        transition: all 0.5s;

        &:hover {
            background: #536f2b;
        }

        &.secondary {
            border: 2px solid @colorMediumBlue;
            background: @colorMediumBlue url('../img/ikoner/ikon_pilmothoyre_hvit.png') no-repeat;
            background-position: 20px 50%;
            background-size: 10px;
            color: white;

            &:hover, &:focus {
                background: #01737c url('../img/ikoner/ikon_pilmothoyre_hvit.png') no-repeat;
                border: 2px solid #01737c;
                background-position: 20px 50%;
                background-size: 10px;
                color: white;
            }
        }

        &:disabled {
            background: #f7f6f6 url('../img/ikon_pilmothoyre_graa.png') no-repeat;
            color: #838078;
            background-position: 20px 50%;
            background-size: 10px;
        }
    }

    iframe {
        margin-bottom: 23px;
    }

    .external-link {
        text-decoration: none;
        margin: 15px 0;
        display: inline-block;
        border-bottom: none;

        &:after {
            content: '';
            background: url('../img/ekstern_lenke_mellomblaa.svg') right no-repeat;
            background-size: 15px 15px;
            display: inline;
            padding-left: 25px;
        }
        /*
		&.inline, .inline:visited {
			text-decoration: none;
			margin: 0;
		}

		&:visited {
			background: url('../img/navigasjon/ikon_eksternlenkebesoekt.svg') right no-repeat;
			background-size: 16px 16px;
		}*/
        h1, h2, h3, h4, h5 {
            display: inline;
        }

        &:hover {
            border-bottom: 1px solid #0093a7;
        }
    }

    .internal-link {
        text-decoration: none;
        color: @colorDarkBlue;
        display: inline-block;
        margin-bottom: 1px;
        border-bottom: none;

        &:visited {
            color: @colorMediumBlue;
        }

        h2, h3, h4, p {
            display: inline;
        }

        &.arrow_right {
            margin: 15px 0 4px 0;
            padding-bottom: 4px;

            &:hover {
            }
        }

        &.arrow_right:after {
            padding-left: 10px;
            content: "\f105";
            font-family: "FontAwesome";
            font-size: inherit;
            text-decoration: none;
            position: absolute;
            padding-top: 2px;
        }

        &.inline, &.inline:visited {
            border-bottom: 1px solid @colorDarkGray;

            &:hover {
                border-bottom: 1px solid @colorDarkGray;
            }
        }

        &:hover {
            text-decoration: none;

            &.arrow_right:after {
                text-decoration: none;
            }
        }
    }

    p.keyfigures, h4.keyfigures {
        font-size: 36px;
        color: #c63629;
        line-height: 42px;
        font-family: @roboto;
    }

    .header3 {
        font-size: 28px;
        font-family: @roboto;
        margin: 55px 0 0 0;
        line-height: 34px;
    }

    .module {
        display: inline-block;
        margin: 20px 0 0 0;
        padding: 0 25px 20px 15px;
        background: white;
        position: relative;

        p {
            font-size: 1.8rem;
            line-height: 2.6rem;

            a {
                border: none;
                font-size: 1.8rem;
                line-height: 2.6rem;

                &:hover {
                    border-bottom: 1px solid #c2c3c4;
                }
            }
        }

        a {
            h5 {
                margin: 15px 0 5px 0;
                padding-bottom: 4px;
                text-decoration: none;
                display: inline-block;
                border-bottom: none;
                color: @colorMediumBlue;
                font-size: 24px;
                line-height: 30px;
                font-family: 'Roboto';

                &:after {
                    padding-left: 10px;
                    content: "\f105";
                    font-family: "FontAwesome";
                    font-size: inherit;
                    text-decoration: none;
                    position: absolute;
                    padding-top: 2px;
                }
            }
        }

        .module_description {
            margin-top: -45px;
            margin-bottom: 15px;
            padding: 1.2rem 0;
        }

        a .module_header {
            color: @colorMediumBlue;
        }

        .module_header {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .module_theme {
            font-family: @roboto;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            display: inline;
            margin-right: 10px;
        }

        .module_ingress {
            display: inline;
        }

        &.module_related {
            margin-top: 50px;
            padding-bottom: 10px;

            .bulletlist {
                margin-top: 10px;

                li:before {
                }
            }

            .module_description {
                margin-bottom: 5px;
                margin-top: -45px;
                font-size: 2.1rem;
                line-height: 2.6rem;
                font-family: @roboto;
                font-weight: 500;
            }

            .module_header {
                margin-top: 0;
            }

            &.clickable {
                border: none;
                background: white url(../img/ikoner/pil_sort.svg) no-repeat;
                background-size: 36px;
                background-position: 93% 92%;

                .source {
                    color: #222;
                }

                &.viktigemeldinger {
                    &:hover {
                        text-decoration: none;
                        box-shadow: #f8d2b5 0 0 0 4px;

                        h5 {
                            text-decoration: none;
                        }
                    }
                }
            }

            &.regelverk {
                border-top: 45px solid #badde9;
                border-bottom: 10px solid #badde9;

                &:hover {
                    text-decoration: none;
                    box-shadow: #badde9 0 0 0 4px;

                    h5 {
                        text-decoration: none;
                    }
                }
            }

            &.relevant {
                .module_description {
                    margin-top: -70px;
                }

                border-top: 70px solid #badde9;
                border-bottom: 10px solid #badde9;

                &:hover {
                    text-decoration: none;
                    box-shadow: #badde9 0 0 0 4px;

                    h5 {
                        text-decoration: none;
                    }
                }
            }

            &.viktigemeldinger {
                border-top: 45px solid #f8d2b5;
                border-bottom: 10px solid #f8d2b5;
            }
        }

        &.module_subscribe {
            .module_description {
                margin-top: -45px;
                margin-bottom: 5px;
            }

            .module_header {
                margin-top: 20px;
            }

            .rss {
                width: 45%;
                display: inline-block;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background: url(../img/ikoner/ikon_rss.svg) no-repeat;
                    vertical-align: top;
                    padding-right: 35px;
                }
            }

            .email {
                width: 50%;
                display: inline-block;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 35px;
                    background: url(../img/ikoner/ikon_epost.svg) no-repeat;
                    vertical-align: bottom;
                    padding-right: 45px;
                }
            }

            a {
                border: none;

                &:hover {
                    border-bottom: 1px solid #c2c3c4;
                }
            }

            border-top: 45px solid #d9dadb;
            border-bottom: 10px solid #d9dadb;
        }

        &.module_feedback {
            .module_header {
                margin-top: 20px;
            }

            .calltoaction {
                float: right;
            }

            textarea {
                margin-top: 10px;
                width: 100%;
                resize: none;
                max-width: 260px;
                height: 130px;
            }

            label {
                font-size: 1.8rem;
                font-weight: 300;
            }

            border-top: 45px solid #d9dadb;
            border-bottom: 10px solid #d9dadb;
        }

        &.module_contact {
            .module_description {
                margin-bottom: 0;
            }

            padding-bottom: 5px;

            .module_header {
                margin-top: 20px;
            }

            .phone {
                margin-bottom: 5px;
                margin-top: 10px;

                p {
                    display: inline-block;
                    padding: 0;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background: url(../img/ikoner/ikon_telefon.svg) no-repeat;
                    vertical-align: sub;
                    padding-right: 50px;
                }
            }

            .email {
                &:before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background: url(../img/ikoner/ikon_epost.svg) no-repeat;
                    vertical-align: bottom;
                    padding-right: 50px;
                }

                a {
                    border: none;

                    &:hover {
                        border-bottom: 1px solid #c2c3c4;
                    }
                }
            }

            .address {
                &:before {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background: url(../img/ikoner/ikon_postadresse.svg) no-repeat;
                    vertical-align: sub;
                    padding-right: 50px;
                }

                p {
                    display: inline-table;
                    padding-top: 12px;
                }
            }

            border-top: 45px solid #d9dadb;
            border-bottom: 10px solid #d9dadb;
        }

        &.module_print, &.module_social {
            padding: 0;
            background: none;
            padding-top: 13px;
            margin: 67px 0 31px 0;
            width: 100%;

            a, a:visited {
                color: #222;
                font-weight: 400;
                float: left;
                margin: 0 50px 0 0;
                font-size: 2rem;
                line-height: 2.4rem;
                text-decoration: none;
                border-bottom: none;
                padding: 10px 15px;

                &:last-of-type {
                    margin-right: 0;
                }

                &:hover {
                    background-color: #D9DADB;
                }
            }

            p, span {
                float: left;
            }

            span {
                margin: 0 12px 0 0;
                height: 24px;
                width: 26px;
            }

            .ikon_skrivut {
                display: block;

                span {
                    background: url(../img/ikoner/skriv_ut_regular.svg) no-repeat;
                    -moz-background-size: 27px 22px;
                    -o-background-size: 27px 22px;
                    -webkit-background-size: 27px 22px;
                    background-size: 27px 22px;
                }
            }
        }
    }

    .showmorenews {
        width: auto;
        max-width: 300px;
        text-align: center;
        margin: 50px 0;
        color: @colorDarkBlue;
        background: #d1d0cf url(../img/spinner.png) no-repeat;
        font-family: @roboto;
        font-size: 20px;
        line-height: 24px;
        -moz-background-size: 12%;
        -o-background-size: 12%;
        -webkit-background-size: 12%;
        background-size: 12%;
        background-position: 7% 50%;
        transition: all 0.5s;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            color: #222;
            padding: 10px 20px 10px 30px;
            text-decoration: none;
            border-bottom: none;

            &:hover {
                text-decoration: none;
            }
        }

        &.selected {
            background: @colorDarkBlue;

            a, a:visited {
                color: white;
            }
        }

        &:hover {
            background: @colorDarkGray url(../img/spinner.png) no-repeat;
            -moz-background-size: 12%;
            -o-background-size: 12%;
            -webkit-background-size: 12%;
            background-size: 12%;
            background-position: 7% 50%;
        }
    }

    &.crisis {
        padding-bottom: 20px;
        background: @colorYellow;
        padding-top: 1px;

        h1 {
            background-color: @colorYellow;
            background-image: url(../img/kriseikon_trekant.svg);
            background-size: 49px;
            background-position: left;
            background-repeat: no-repeat;
            color: #222;
            padding-left: 80px;
            margin-top: 30px;
        }

        .fa-exclamation {
            color: @colorOrange;
            font-size: 2em;
        }

        .button {
            border-color: #222;
            color: #222;
            background: white url(../img/ikon_pilmothoyre.png) no-repeat;
            text-decoration: none;
            padding: 10px 20px 10px 15px;
            background-position: 95% 50%;
            background-size: 10px;

            &:hover {
                background: #5e5d57 url(../img/ikon_pilmothoyre_hvit.png);
                background-size: 10px;
                background-repeat: no-repeat;
                background-position: 95% 50%;
                color: white;

                &:before {
                    color: white;
                }
            }

            a {
                color: white;
            }
        }

        .border_crisis {
            border-bottom: 5px solid #222;
            padding-bottom: 20px;
            width: 100%;
        }

        #volcano {
            height: 100px;
            margin: 40px 60px;
            display: block;
        }

        .ul {
            list-style-position: outside;
            margin-top: 10px;

            li {
                margin: 0 0 10px 25px;
                display: block;

                &:before {
                    content: "•";
                    color: #222;
                    margin-right: 20px;
                }
            }
        }

        .urgentinformation {
            padding-left: 50px;
        }

        a {
            text-decoration: underline;
            color: #222;
            border-bottom: none;

            &:hover, &:visited {
                color: #222;
            }
        }

        h3 {
            font-size: 28px;
            font-family: 'Roboto';
            margin: 0;
            line-height: 34px;
        }

        .module.urgentinformation_module, .module.urgentinformation_module {
            position: relative;
            border-left: 2px solid #222;
            background: none;
            display: inline-block;
            margin: 0;
            padding: 0 30px 30px 30px;
        }
    }

    &.crisis_banner {
        background: @colorYellow;
        height: 100px;
        padding: 0;

        .container {
            background-color: @colorYellow;
            background-image: url(../img/kriseikon_trekant.svg);
            background-size: 49px;
            background-position: left;
            background-repeat: no-repeat;
        }

        h1 {
            font-size: 28px;
            line-height: 34px;
            margin: 33px 0 0 58px;
            padding: 0;
            color: #222;
            float: left;
        }

        .crisis_info {
            float: left;
            margin-left: 40px;
            max-width: 530px;
            color: #222;

            p {
            }
        }

        .crisis_link {
            float: left;
            margin: 63px 0 0 20px;
            display: block;
            color: #222;

            &:hover, &:visited {
                color: #222;
            }
        }
    }
    /**Kurs og konferanse*/
    /**Felles*/
    .border {
        border-bottom: 2px solid @colorDarkBlue;
        padding-bottom: 20px;
        width: 100%;
    }

    .checkbox {
        margin-right: 20px;
    }

    input[type="radio"] {
        float: left;
        width: 0;
        opacity: 0;
        height: 0;

        &:focus {
            & + label {
                border: 1px dotted #222;
            }
        }

        & + label {
            border: 1px solid white;
        }
    }

    input[type="radio"] + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -5px 5px 0 0;
        vertical-align: middle;
        background: url('../img/radiobutton_passive.png') top left no-repeat;
        cursor: pointer;
        -moz-background-size: 19px;
        -o-background-size: 19px;
        -webkit-background-size: 19px;
        background-size: 19px;
    }

    input[type="radio"] + label {
        margin-right: 10px;
    }

    input[type="radio"]:checked + label span {
        background: url(../img/radiobutton_valgt.png)top no-repeat;
        -moz-background-size: 19px;
        -o-background-size: 19px;
        -webkit-background-size: 19px;
        background-size: 19px;
    }

    input[type="checkbox"] {
        float: left;
        width: 0;
        opacity: 0;
        height: 0;
    }

    input[type="checkbox"] + label span {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: -5px 10px 0 0;
        vertical-align: middle;
        background: url('../img/navigasjon/checkbox_inaktiv.svg') top left no-repeat;
        cursor: pointer;
        -moz-background-size: 19px;
        -o-background-size: 19px;
        -webkit-background-size: 19px;
        background-size: 19px;

        &:hover {
            background: url('../img/navigasjon/checkbox_hover.svg') top left no-repeat;
            -moz-background-size: 19px;
            -o-background-size: 19px;
            -webkit-background-size: 19px;
            background-size: 19px;
        }
    }

    input[type="checkbox"]:checked + label span {
        background: url(../img/navigasjon/checkbox_valgt.svg)top no-repeat;
        -moz-background-size: 19px;
        -o-background-size: 19px;
        -webkit-background-size: 19px;
        background-size: 19px;
    }

    fieldset {
        border: none !important;
    }

    .form {
        label {
            display: block;
            margin-bottom: 10px;
        }

        input {
            margin-bottom: 20px;
            padding: 5px 10px;
        }

        .form_field_standard {
            border: 1px solid @colorDarkBlue;
        }

        .form_field_zip {
            border: 1px solid @colorDarkBlue;
            width: 4em;
        }
    }

    .cancelbutton {
        background: @colorDarkBlue;
        color: white;
        font-family: @roboto;
        font-size: 20px;
        padding: 7px;
        text-align: center;
        width: 150px;
        border: none;

        &:hover {
            background: @colorDarkBlueHover;
        }
    }

    .dropdown {
        label {
            display: block;
            margin-bottom: 5px;
        }

        select {
            width: 100%;
            border: none;
            font-family: @roboto;
            font-size: 20px;
            padding: 5px 38px 4px 10px;
            -webkit-appearance: none; /*Removes default chrome and safari style*/
            -moz-appearance: none; /* Removes Default Firefox style*/
            background: white url('../img/ikoner/knapp_nedtrekksmeny.png') no-repeat; /*Adds background-image*/
            background-position: 100%; /*Position of the background-image*/
            text-indent: 0.01px;
            text-overflow: '';
            color: #222;

            &::-ms-expand {
                display: none;
            }

            &.selected {
                box-shadow: #0093a7 0 0 0 4px;
                font-weight: bold;
            }
        }
    }

    .refinesearch {
        background: #badde9;
        padding: 0 15px 5px 15px;
        width: 300px;
        margin-top: 30px;

        h2, h5 {
            padding-top: 1.2rem;
            margin-bottom: 15px;
            font-size: 2.1rem;
            line-height: 2.6rem;
            font-family: @roboto;
            font-weight: 500;
            color: #222;
        }

        label {
            font-weight: 300;
        }

        select {
            margin-bottom: 10px;
            font-size: 2.0rem;
            line-height: 3.0rem;
            font-family: @roboto;
            font-weight: 300;
        }
    }

    @-moz-document url-prefix() {
        .refinesearch {
            .form-group {
                overflow: hidden;

                select {
                    width: 317px;
                    background: url('../img/knapp_nedtrekksmeny.png') no-repeat scroll 95% center #FFF;

                    &:hover, &:focus, &:active {
                        background: @colorDarkBlue url('../img/knapp_nedtrekksmeny_hvit.png') no-repeat;
                        background-position: 92%;
                        -moz-background-size: 20px;
                        -o-background-size: 20px;
                        -webkit-background-size: 20px;
                        background-size: 20px;
                        color: white;
                    }
                }
            }
        }
    }

    .table_general {
        border: 1px solid #91c6c2;
        margin: 20px auto;

        thead th {
            background: #91c6c2;
            text-align: center;
            font-size: 16px;
            padding: 5px;
            line-height: 20px;
        }

        tr {
            background: #daecec;

            &.odd {
                background: white;
            }
        }

        tbody th, td {
            padding: 10px;
            font-size: 18px;

            a {
                line-height: 24px;
            }
        }

        &.alignleft {
            th, td {
                text-align: left;
            }
        }
    }

    .iveCharts {
        margin: 0 auto 20px auto;
        width: 100%;
        height: 300px;

        .columnOuter {
            height: 100%;
            float: left;
            top: 0;
            text-align: center;
            position: relative;
            border-left: solid 1px #aaaaaa;

            &:first-of-type {
                border-left: none;
            }

            &:after {
                clear: both;
            }
        }

        .columnHolder {
            float: left;
            width: 50%;
            height: 90%;
            top: 0;
            position: relative;

            &:after {
                clear: both;
            }
        }

        .number {
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
            font-size: 24px;

            &.small {
                font-size: 16px;
            }
        }

        .column {
            bottom: 10%;
            position: absolute;

            &:hover {
                border: solid 1px #333;
                opacity: 0.7;
                /*cursor: pointer;*/
            }
        }

        .title {
            position: absolute;
            top: 90%;
            width: 100%;
            text-align: center;

            &.small {
                font-size: 16px;
            }
        }
    }

    #graph-source {
        font-size: 18px;
        margin-right: 10px;
    }

    .image_intext {
        float: right;
        display: table;
        width: 87px;
        margin: 20px 0 20px 30px;

        figcaption {
            font-size: 18px;
        }
    }

    .transportsideknapp {
        background: white url(../img/ikoner/ikon_pil_knapp_mellomblaa.png) no-repeat;
        background-size: 45px 20px;
        background-position: 96% 50%;
        margin-top: 15px;
        max-width: 685px;
        width: 100%;
        display: inline-block;
        padding: 10px 92px 15px 20px;
        border: none;

        h2 {
            font-size: 3.0rem;
            line-height: 3.6rem;
            font-weight: 300;
            margin: 0;
            padding-bottom: 7px;
            color: @colorMediumBlue;
            border: none;

            &:hover {
                border: none;
            }
        }

        p {
            color: #838078;
            padding-top: 0;
        }

        &:hover, &:focus, &:visited:focus {
            text-decoration: none;
            background: #badde9 url(../img/ikoner/pil_sort.svg) no-repeat;
            background-size: 46px 46px;
            background-position: 96% 50%;
            border: none;

            h2, p {
                color: #222;
                background: #badde9;
            }

            h2 {
                text-decoration: none;
            }
        }
    }

    .transportsideknapp_dokument {
        background: #ffffff url(../img/ikoner/ikon_pil_knapp_mellomblaa.png) no-repeat;
        background-size: 45px 20px;
        background-position: 96% 50%;
        margin-top: 15px;
        max-width: 685px;
        width: 100%;
        display: inline-block;
        padding: 0 92px 20px 20px;
        border: none;

        h2 {
            font-size: 2.3rem;
            line-height: 2.9rem;
            font-weight: 300;
            padding: 10px 30px 0 0;
            margin: 0;
            color: #0093a7;
            border: none;

            &:hover {
                border: none;
            }
        }

        &:hover {
            text-decoration: none;
            background: #badde9 url(../img/ikoner/pil_sort.svg) no-repeat;
            background-size: 46px 46px;
            background-position: 96% 50%;
            border: none;

            h2, p {
                color: #222;
            }

            h2 {
                text-decoration: none;
            }
        }
    }

    .figure {
        margin: 40px 0 75px 0;
    }
}

.container .accordion.nested-accordion.has-hidden-content > h3:before,
.container-fluid .accordion.nested-accordion.has-hidden-content > h3:before,
.container .accordion.nested-accordion.has-hidden-content > h4:before,
.container-fluid .accordion.nested-accordion.has-hidden-content > h4:before,
.container .accordion.nested-accordion.has-hidden-content > h5:before,
.container-fluid .accordion.nested-accordion.has-hidden-content > h5:before {
    content: "\f107";
    font-family: "FontAwesome";
    /*font-size: 40px;*/
    cursor: pointer;
    position: absolute;
    left: 0;
}

.container .accordion.nested-accordion.has-visible-content > h3:before,
.container-fluid .accordion.nested-accordion.has-visible-content > h3:before,
.container .accordion.nested-accordion.has-visible-content > h4:before,
.container-fluid .accordion.nested-accordion.has-visible-content > h4:before,
.container .accordion.nested-accordion.has-visible-content > h5:before,
.container-fluid .accordion.nested-accordion.has-visible-content > h5:before {
    content: "\f106";
    font-family: "FontAwesome";
    /*font-size: 40px;*/
    position: absolute;
    left: 0;
}

@media only screen and (min-width: 1200px) {
    .container {
        .aside {
            top: 0;
            right: 0;
            position: absolute;
            margin-right: -77%;

            &.bottom {
                position: absolute;
                bottom: 0;
                right: 0;
                top: auto;
                margin-right: -77%;
            }
        }

        h1 {
            min-width: 651px;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1199px) {
    .container {
        .aside {
            top: 0;
            right: 0;
            position: absolute;
            margin-right: -79%;

            &.bottom {
                position: absolute;
                bottom: 0;
                right: 0;
                top: auto;
                margin-right: -71%;
            }

            &.top {
                margin-right: -72%;
            }
        }

        h1 {
            min-width: 477px;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .container {
        .refinesearch {
            margin-top: 30px;
            margin-left: 0;
            max-width: 300px;
            width: auto;
        }

        .border {
            display: none;
        }

        .searchfield {
            width: 100%;

            input {
                width: 91%;
            }
        }

        .searchform {
            margin-top: 30px;

            input {
                width: 91%;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .container {
        .statistics_compare button {
            margin-top: 30px;
        }

        .hidden_links {
            display: none;
        }
    }
}

@media only screen and (max-width: 900px) {
    .container {
        iframe {
            width: 100%;
        }

        .module_subscribe {
            margin: 30px 0;
        }

        .module_message {
            margin: 0;
        }

        .aside {
            margin-top: 0;
            width: auto;

            .module {
                margin: 30px 0;

                &.module_statistics_graph {
                    max-width: none;
                }
            }
        }

        h1 {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .container {
        .socialmedia {
            a:first-of-type {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .container {
        .transportsideknapp {
            border: none;

            .fa-chevron-right {
                display: none;
            }
        }

        .module {
            min-width: 300px;
        }
    }
}

@media only screen and (max-width: 599px) {
    .container {
        .aside, .aside.bottom {
            width: auto;
        }

        h1 {
            font-size: 30px;
            line-height: 36px;
            margin-top: 40px;
        }

        h2 {
            font-size: 28px;
            line-height: 32px;
        }

        h3 {
            font-size: 26px;
            line-height: 30px;
        }

        h4 {
            font-size: 22px;
            line-height: 28px;
        }

        .ingress {
            font-size: 23px;
        }

        .statistics_compare {
            background: #ddd;
            border-radius: 5px;
        }

        .tabs {
            .tab-content {
                ul {
                    margin-bottom: 0;

                    li {
                        padding: 5px 0;
                    }
                }
            }
        }

        .accordion_mobile h2 {
            padding-bottom: 10px;
            -ms-word-break: break-word;
            word-break: break-word;
        }

        .xs-no-padding {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .entrancebutton {
            margin: 7.5px 0 7.5px 0;
            width: 100%;
            height: auto;

            a .innerDiv {
                margin-top: 15px;

                h2 {
                    font-size: 28px;
                }
            }
        }

        .socialmedia {
            a:first-of-type {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }

        .transportsideknapp {
            margin: 10px 0 10px 0;
            padding: 5px 0 20px 15px;
            background: white;

            h2, p {
                margin: 0;
            }
        }

        .breadcrumbs {
            margin: 0;

            li {
                display: none;

                &:last-child {
                    display: block;

                    &:before {
                        content: '';
                        height: 28px;
                        width: 28px;
                        display: inline-block;
                        background: url('../img/ikoner/pil_tilbake_brun.svg') no-repeat;
                        background-size: 28px 28px;
                        margin: 0 5px 0 5px;
                        vertical-align: bottom;
                    }
                }
            }
        }

        .statistics_table {
            table, tbody {
                display: block;
                width: 100%;
            }

            table {
                thead {
                    display: none;
                }

                tr, th, td {
                    display: block;
                    white-space: normal;
                    border: 0;
                }

                tr {
                    border-bottom: 1px solid #eee;
                    padding-bottom: 11px;
                    margin-bottom: 11px;
                }

                th[data-title]:before, td[data-title]:before {
                    content: attr(data-title) ":\00A0";
                    font-weight: bold;
                }

                tbody th:first-child {
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 6px;
                    color: #333;
                }

                tbody th:first-child:before {
                    content: '';
                }
            }
        }

        .toppmeny, .tabs, .tabs-statistics .tabs {
            .tab-links {
                li {
                    span.tabs_header, span.tabs_footer, form {
                        width: 114px;
                        font-size: 12px;
                    }
                }
            }
        }

        .table_general {
            display: block;
            width: 100%;

            tbody {
                display: block;
                width: 100%;
            }

            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr, th, td {
                display: block;
            }

            tr {
                padding-bottom: 11px;
            }

            tbody th, td {
                border: none;
                position: relative;
                padding: 0;
                padding-left: 50%;

                &:before {
                    position: absolute;
                    left: 15px;
                    padding-right: 10px;
                    white-space: nowrap;
                }
            }

            th[data-title]:before, td[data-title]:before {
                content: attr(data-title);
            }

            tbody th:first-child {
                background: #d1d0cf;
                font-weight: bold;
                padding: 5px 0 5px 15px;
                text-align: left;
            }

            caption {
                position: absolute !important;
                top: -9999px !important;
                left: -9999px !important;
            }
        }

        .module {
            width: 100%;
        }

        .module_message {
            padding: 15px 15px 25px 15px;

            .module_description {
                margin-left: 10px;
            }
        }

        .chart_div {
            height: 300px;
            margin: 20px 0;
        }

        .module.module_message.date_small_closed .keyfigures {
            display: block;
            margin: 0;
        }

        .module.module_social {
            margin-bottom: 0;

            a {
                float: none;
                display: block;
                margin: 0 0 30px 0;
            }
        }

        .module.module_message.date_small .keyfigures {
            display: inline-block;
            margin-left: 0;
        }

        .searchfield {
            width: 100%;

            input {
                width: 84%;
            }
        }

        .searchform input {
            width: 85%;
        }
    }
}

@media braille {
    .container {
        .has-hidden-content div {
            display: block !important;
        }

        .hidden-mobile {
            display: block !important;
        }

        #map {
            display: none;
        }
    }
}
/************************HELSENORGE-FONTER*******************************************/
html {
    font-size: 62.5%;
}

.container {
    h1 {
        font-size: 3.6rem;
        line-height: 4.8rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 6.3rem 0 2.4rem 0;
        padding: 0 0 2px 0;
        border-bottom: 2px solid #88b9cb;
        color: #222;
        display: inline-block;
    }

    h1.alternative {
        font-weight: 300;
        font-size: 3.0rem;
        line-height: 3.6rem;
        margin: 50px 0 0 0;
        padding: 0 0 4px 0;
        color: #222;
        border: none;
    }

    h2 {
        font-size: 3.0rem;
        line-height: 3.6rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 2.4rem 0 1.6rem 0;
        padding: 0;
        color: #222;
    }

    h3 {
        font-size: 2.6rem;
        line-height: 3.2rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 3.2rem 0 1.2rem 0;
        padding: 0;
        color: #222;
    }

    h4 {
        font-size: 2.3rem;
        line-height: 2.8rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 3.2rem 0 0 0;
        padding: 0;
        color: #222;
    }

    h5 {
        font-size: 2.1rem;
        line-height: 2.6rem;
        font-family: @roboto;
        font-weight: 500;
        color: #222;
    }

    .ingress {
        font-size: 2.0rem;
        line-height: 3.0rem;
        font-family: @roboto;
        font-weight: 400;
        margin: 1.6rem 0 1.6rem 0;
        padding: 0;
        color: #222;
    }

    p {
        font-size: 2.0rem;
        line-height: 3.0rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 0;
        padding: 0.8rem 0;
        color: #222;

        a {
            font-size: 2.0rem;
            line-height: 3.0rem;
            font-family: @roboto;
            font-weight: 300;
            margin: 0;
            padding: 0.2rem 0;
            color: @colorOrange;
            border-bottom: 1px solid #c2c3c4;

            &:hover {
                border-bottom: 1px solid @colorOrange;
            }
        }
    }

    .bulletlist li {
        font-size: 2.0rem;
        line-height: 3.0rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 0 0 0 2.5rem;
        padding: 0.8rem 0;
        color: #222;

        &:before {
            content: "•";
            color: #54abca;
            margin: 1px 0 0 -25px;
            display: block;
            position: absolute;
            font-size: 30px;
        }

        a {
            border-bottom: 1px solid #c2c3c4;

            &:hover {
                border-bottom: 1px solid @colorOrange;
            }
        }
    }

    .numberedlist li {
        font-size: 2.0rem;
        line-height: 3.0rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 0 0 0 0;
        padding: 0.8rem 0;
        color: #222;

        a {
            border-bottom: 1px solid #c2c3c4;

            &:hover {
                border-bottom: 1px solid @colorOrange;
            }
        }
    }

    a {
        font-size: 2.0rem;
        line-height: 3.0rem;
        font-family: @roboto;
        font-weight: 300;
        margin: 0;
        padding: 0.2rem 0;
        color: @colorOrange;
        border-bottom: 1px solid #c2c3c4;
        cursor: pointer;

        &:hover {
            border-bottom: 1px solid @colorOrange;
            color: @colorOrange;
            text-decoration: none;
        }

        h1, h2, h3, h4 {
            color: #398ca9;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom: 1px solid #398ca9;
            }
        }

        &:focus, &:visited:focus {
            h2, h4, p {
                background: @colorDarkBlue;
                color: white;
                outline: 0;
            }

            background: @colorDarkBlue;
            color: white;
            outline: 0;
        }
    }

    .takst_table {
        margin-top: 50px;
        display: inline-block;
        width: 100%;
    }

    .breadcrumbs {
        a {
            font-size: 1.8rem;
            line-height: 2.6rem;
            font-family: @roboto;
            font-weight: 400;
            margin: 0;
            color: #756d6a;
            border: none;

            &:hover {
                border-bottom: 1px solid #c2c3c4;
            }

            &:visited {
                color: #756d6a;
            }
        }
    }

    .navigate_forward, .navigate_back {
        margin-top: 30px;

        a {
            margin: 0;
            border: none;

            &:hover {
                border-bottom: 1px solid #c2c3c4;
            }

            &:visited {
                color: #756d6a;
            }

            span {
                font-size: 1.8rem;
                line-height: 2.6rem;
                font-family: @roboto;
                font-weight: 300;
                color: #756d6a;
            }
        }
    }

    .navigate_forward {
        background: url(../img/ikoner/pil_fremover_brun.svg) no-repeat;
        background-position: 28% 100%;
        background-size: 28px 28px;
        padding-right: 36px;
    }

    .navigate_forward.pull-right {
        background: url(../img/ikoner/pil_fremover_brun.svg) no-repeat;
        background-position: 100% 75%;
        background-size: 28px 28px;
        padding-right: 36px;
    }

    .navigate_back.pull-left {
        background: url(../img/ikoner/pil_tilbake_brun.svg) no-repeat;
        background-position: 0 75%;
        background-size: 28px 28px;
        padding-left: 36px;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        .ingress {
            width: 57%;
        }
    }
}