.no-background {
  background: #f7f6f6;
}
.mainentrance {
  background: url('../img/bakgrunn_forside.png');
  background-color: #f7f6f6;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 0 25px 0;
}
.container .entrancebutton {
  width: 240px;
  height: 200px;
  margin: 10px 0 15px 30px;
  float: left;
  position: relative;
}
.container .entrancebutton.menu {
  margin-right: 0;
}
.container .entrancebutton.menu button {
  background: white;
  height: 200px;
  width: 100%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 4px;
  border: none;
}
.container .entrancebutton.menu button h2 {
  margin: auto;
  font-size: 3.0rem;
  line-height: 3.5rem;
  color: #222;
}
.container .entrancebutton.menu button.js-expanded {
  background: #d9dadb;
  border: none;
  outline: none;
}
.container .entrancebutton.menu button:hover {
  background: #d9dadb;
}
.container .entrancebutton.menu button:focus {
  background: #d9dadb;
  border: none;
  outline: none;
}
.container .entrancebutton.menu button span {
  border-radius: 50%;
  display: block;
  margin: -43px auto 5px auto;
  height: 85px;
  width: 85px;
  background: #ffffff url('../img/ikoner/hovedinngang_altinnhold.svg') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.container .entrancebutton a {
  height: 100%;
  width: 100%;
  display: inline-block;
  color: #58585a;
  text-decoration: none;
  border-bottom: 0;
  border-radius: 5px;
  background: white;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container .entrancebutton a h3 {
  margin: 80px 0 0 0;
  padding: 0;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}
.container .entrancebutton a h3 .fa-bars {
  margin-top: 20px;
}
.container .entrancebutton a h2 {
  font-size: 3.0rem;
  line-height: 3.5rem;
  padding-bottom: 5px;
  color: #58585a;
  position: relative;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}
.container .entrancebutton a p {
  font-size: 1.6rem;
  line-height: 2.0rem;
  position: relative;
  margin-left: 0;
  margin-bottom: 15px;
  color: #58585a;
  padding-top: 0;
  text-align: center;
}
.container .entrancebutton a:focus {
  background: #badde9;
}
.container .entrancebutton a:focus h2,
.container .entrancebutton a:focus p {
  background: #badde9;
  color: #222;
}
.container .entrancebutton a:hover {
  background: #badde9;
}
.container .entrancebutton a:hover h2 {
  border: none;
}
.container .entrancebutton:visited,
.container .entrancebutton:hover {
  color: white;
}
.container .entrancebutton span {
  border-radius: 50%;
  display: block;
  margin: 15px auto 5px auto;
  height: 85px;
  width: 85px;
}
.container .entrancebutton span.avtale {
  background: #ffffff url('../img/ikoner/hovedinngang_avtale.svg') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.container .entrancebutton span.helseaktor {
  background: #ffffff url('../img/ikoner/hovedinngang_helseaktor.svg') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.container .entrancebutton span.oppgjor {
  background: #ffffff url('../img/ikoner/hovedinngang_oppgjor.svg') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.container .entrancebutton span.takster {
  background: #ffffff url('../img/ikoner/hovedinngang_takster.svg') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.container .entrancebutton span.skjema {
  background: #ffffff url('../img/ikoner/hovedinngang_skjema.svg') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.container.frontpage {
  padding-bottom: 50px;
}
.container.frontpage h2 {
  margin: 30px 0 0 0;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid #88b9cb;
}
.container.frontpage h2.noborder {
  border: none;
}
.container.frontpage a {
  color: #004e66;
  text-decoration: none;
}
.container.frontpage a:hover h2 {
  text-decoration: underline;
}
.container.frontpage a:hover h2.internal-link {
  text-decoration: underline;
  border-bottom: 3px solid #004e66;
  padding-bottom: 0;
}
.container.frontpage .internal-link {
  text-decoration: none;
  color: #004e66;
  display: inline-block;
}
.container.frontpage .internal-link:visited {
  color: #0093a7;
}
.container.frontpage .internal-link h2,
.container.frontpage .internal-link h3,
.container.frontpage .internal-link h4,
.container.frontpage .internal-link p {
  display: inline;
}
.container.frontpage .internal-link.arrow_right {
  padding: 0;
}
.container.frontpage .internal-link.arrow_right:hover {
  margin-bottom: 0;
}
.container.frontpage .internal-link.arrow_right:after {
  padding-top: 3px;
}
.container.frontpage .internal-link.inline,
.container.frontpage .internal-link.inline:visited {
  border-bottom: 1px solid #aeaba8;
}
.container.frontpage .internal-link.inline:hover,
.container.frontpage .internal-link.inline:visited:hover {
  border-bottom: 1px solid #aeaba8;
}
.container.frontpage .internal-link:hover {
  border-bottom: 1px solid #0093a7;
  text-decoration: none;
  padding-bottom: 3px;
}
.container.frontpage .internal-link:hover.arrow_right:after {
  text-decoration: none;
}
.container.frontpage a h2.internal-link.arrow_right {
  padding-bottom: 15px;
  margin-bottom: 19px;
}
.container.frontpage a h2.internal-link.arrow_right:hover {
  margin-bottom: 19px;
  text-decoration: none;
}
.container.frontpage .news {
  margin-top: 20px;
}
.container.frontpage .news p {
  color: #222;
  font-size: 18px;
  line-height: 22px;
}
.container.frontpage .news a {
  font-size: 26px;
  border: none;
}
.container.frontpage .news a h3 {
  font-size: 26px;
  margin: 0;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  display: inline;
}
.container.frontpage .news a:hover {
  border: none;
}
.container.frontpage .news .internal-link.arrow_right {
  margin: 0;
}
.container.frontpage .news .bulletlist {
  margin-top: 0;
}
.container.frontpage .news .bulletlist li {
  padding: 0 0 1.6rem 0;
}
.container.frontpage .news .bulletlist li:before {
  font-size: 40px;
  color: #398ca9;
}
.container.frontpage p {
  margin: 0;
}
.container.frontpage .conferenceitem {
  width: 100%;
  margin-bottom: 20px;
}
.container.frontpage .conferenceitem p {
  padding: 0;
  line-height: 22px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #222;
}
.container.frontpage .conferenceitem a {
  font-size: 26px;
}
.container.frontpage .conferenceitem .conference_date {
  font-size: 26px;
  color: #c63629;
  display: block;
  font-family: 'Roboto', sans-serif;
  margin-right: 28px;
  line-height: 27px;
  text-align: right;
}
.container.frontpage .conferenceitem .month {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #c63629;
  display: block;
  text-align: right;
  margin-top: 2px;
}
.container.frontpage .conferenceitem .external-link {
  margin-bottom: 0;
}
.container.frontpage .conferenceitem > div:nth-child(2n-1) {
  width: 25%;
  float: left;
  min-height: 85px;
  padding-top: 15px;
}
.container.frontpage .conferenceitem > div:nth-child(2n) {
  width: 68%;
  float: left;
  min-height: 100px;
}
.container.frontpage .statistics_image {
  margin-bottom: 20px;
}
.container.frontpage .ingress {
  border: none;
  margin-top: 23px;
  width: 100%;
}
.container.frontpage .ingress.nomargin {
  margin: 0;
}
.container.frontpage .importantnews .bulletlist {
  margin-bottom: 35px;
}
.container.frontpage .importantnews .text_and_image {
  width: 49%;
  float: left;
}
.container.frontpage .importantnews .importantphoto {
  margin: 28px 0 0 22px;
  width: 49%;
  float: left;
}
.container.frontpage .importantnews a {
  border-bottom: none;
}
.container.frontpage .importantnews a h2 {
  color: #222;
  text-decoration: none;
}
.container.frontpage .importantnews a h2:hover {
  border-bottom: 2px solid #88b9cb;
}
.container.frontpage.newsandconference {
  background: white;
}
.container.frontpage .chart_wrapper {
  margin: 40px 57px 0 57px;
  background: white;
  overflow: auto;
}
.container.frontpage #chart_div {
  margin-bottom: 0;
}
.container .video-container {
  padding-bottom: 40%;
  margin: 40px 0 20px 0;
}
.frontpagewrapper {
  position: relative;
}
.frontpagewrapper.grey {
  background: #d9dadb;
}
.frontpagewrapper.white {
  background: white;
}
.frontpagewrapper_crisis {
  background: #f4d01e;
}
.container-fluid.toppmeny .tabs .tab-links li.menu_search {
  background: none;
  padding-top: 0;
}
#menu_search {
  border-radius: 0;
}
#menu_search::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 16px;
}
#menu_search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 16px;
  opacity: 1;
}
#menu_search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 16px;
  opacity: 1;
}
#menu_search:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 16px;
}
#footer {
  margin-top: 0;
}
@media only screen and (max-width: 599px) {
  .container .entrancebutton {
    width: 100%;
    height: 100%;
    margin: 7.5px 0 7.5px 0;
  }
  .container .entrancebutton span {
    margin: 10px 20px;
    float: left;
  }
  .container .entrancebutton a h2 {
    text-align: left;
    margin: 22px 0 0 12px;
  }
  .container .entrancebutton a p {
    text-align: left;
    margin: 0 0 15px 12px;
  }
  .container .entrancebutton.menu button {
    height: 109px;
    width: 100%;
    border-radius: 4px;
  }
  .container .entrancebutton.menu button span {
    margin: 10px 17px;
  }
  .container .entrancebutton.menu button h2 {
    text-align: left;
    margin: 22px 0 0 12px;
  }
  .container.frontpage .chart_wrapper {
    margin: 40px 0 0 0;
  }
  .container.frontpage .conferenceitem .conference_date {
    font-size: 28px;
    margin-right: 20px;
  }
  .container.frontpage .conferenceitem > div:nth-child(2n-1) {
    width: 100%;
    float: none;
    text-align: left;
    padding-top: 0;
    min-height: 0;
  }
  .container.frontpage .conferenceitem > div:nth-child(2n-1) .month {
    text-align: left;
    display: inline;
  }
  .container.frontpage .conferenceitem > div:nth-child(2n) {
    width: 100%;
    float: none;
    text-align: left;
    min-height: 0;
    margin-bottom: 30px;
  }
  .container.frontpage .conferenceitem > div:nth-child(2n) .internal-link.arrow_right {
    margin-top: 0;
  }
  #header .mainsearch {
    width: 100%;
  }
  #header .mainsearch input {
    width: 85%;
  }
  .mainentrance {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .container .entrancebutton {
    margin: 30px 25px 0 0;
  }
}
@media only screen and (max-width: 899px) {
  .container.frontpage .importantnews .text_and_image {
    width: 100%;
    float: none;
  }
  .container.frontpage {
    padding-bottom: 20px;
  }
  .container.frontpage h2 {
    margin-top: 40px;
  }
  .container.frontpage .conferenceitem {
    margin-bottom: 0;
  }
  .container.frontpage .conferenceitem > div:nth-child(2n) {
    margin-bottom: 20px;
  }
  .container.frontpage .conferenceitem .conference_date {
    line-height: 34px;
  }
  .container.frontpage .ingress {
    margin-top: 0;
  }
  .container .video-container {
    margin: 40px 0 0 0;
  }
  .container .calltoaction {
    margin-top: 20px;
  }
  .container .border_grey {
    border-top: 1px solid #aeaba8;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .frontpage .importantnews .text_and_image {
    width: 48%;
    float: left;
  }
  .frontpage .importantnews .importantphoto {
    margin: 28px 0 0 22px;
    width: 48%;
    float: left;
  }
  #header .mainsearch {
    width: 100%;
  }
  #header .mainsearch input {
    width: 82%;
  }
  .container.frontpage .conferenceitem > div:nth-child(2n-1) {
    width: 34%;
  }
  .container.frontpage .conferenceitem > div:nth-child(2n) {
    width: 58%;
  }
}
@media only screen and (min-width: 1200px) {
  .container .center {
    padding: 0 165px;
  }
}
@media only screen and (min-width: 1200px) {
  .jumplink {
    display: none;
  }
}
@media only screen and (max-width: 899px) {
  .jumplink {
    display: none;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .jumplink {
    background: url(../img/ikoner/forside_jumplink.png);
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    left: 50%;
    line-height: 26px;
    margin-left: -15px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 30px;
    z-index: 2;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  #header .mainsearch {
    width: 100%;
  }
  #header .mainsearch input {
    width: 92%;
  }
}
/*# sourceMappingURL=frontpage.css.map */