.no-svg .container {
  /*
        .e-mail {
            background-image: url('../img/modules/icons/epost_regular.png');
            background-repeat: no-repeat;
            background-size: 20px 27px;
            padding-left: 30px;

            img {
                display: none;
            }
        }

        .rss {
            background-image: url('../img/modules/icons/rss_regular.png');
            background-repeat: no-repeat;
            background-size: 20px 27px;

            img {
                display: none;
            }
        }
*/
}
.no-svg .container .facebook {
  background-image: url(../img/sosiale_ikon_facebook.png) !important;
}
.no-svg .container .twitter {
  background-image: url(../img/sosiale_ikon_twitter.png) !important;
}
.no-svg .container .linkedin {
  background-image: url(../img/sosiale_ikon_linkedin.png) !important;
}
.no-svg .container .youtube {
  background-image: url(../img/sosiale_ikon_youtube.png) !important;
}
.no-svg .container input[type="checkbox"] {
  float: left;
  width: auto;
  opacity: 1;
  height: auto;
}
.no-svg .container input[type="radio"] {
  float: left;
  width: auto;
  opacity: 1;
  height: auto;
}
.no-svg .container input[type="radio"] + label span {
  margin: 0;
  vertical-align: auto;
  width: auto;
  height: auto;
}
.no-svg .container input[type="checkbox"] + label span {
  margin: 0;
  vertical-align: auto;
  width: auto;
  height: auto;
}
.no-svg .container .module.module_socialandprint .ikon_facebook {
  background: url(../img/modules/icons/facebook_blaa.png) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.no-svg .container .module.module_socialandprint .ikon_twitter {
  background: url(../img/modules/icons/twitter_blaa.png) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.no-svg .container .module.module_socialandprint .ikon_skrivut {
  background: url(../img/modules/icons/ikon_skriv_ut.png) no-repeat;
  -moz-background-size: 27px 20px;
  -o-background-size: 27px 20px;
  -webkit-background-size: 27px 20px;
  background-size: 27px 20px;
}
.no-svg .container .module.module_socialandprint .ikon_skrivut:hover {
  background: url(../img/modules/icons/skriv_ut_hover.png) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.no-svg .container .module.module_socialandprint .ikon_facebook:hover {
  background: url(../img/modules/icons/sosiale_ikon_facebook_hover.svg) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.no-svg .container .module.module_socialandprint .ikon_twitter:hover {
  background: url(../img/modules/icons/twitter_hover.png) no-repeat;
  -moz-background-size: 28px 23px;
  -o-background-size: 28px 23px;
  -webkit-background-size: 28px 23px;
  background-size: 28px 23px;
}
.no-svg .container .module.module_contact .phone:before {
  background: url(../img/ikoner/ikon_telefon.png) no-repeat;
  background-size: 25px 25px;
  background-position: center;
}
.no-svg .container .module.module_contact .email:before {
  background: url(../img/ikoner/ikon_epost.png) no-repeat;
  background-size: 25px 25px;
  background-position: center;
}
.no-svg .container .module.module_contact .address:before {
  background: url(../img/ikoner/ikon_postadresse.png) no-repeat;
  background-size: 25px 25px;
  background-position: center;
}
.no-svg .container .transportsideknapp {
  background: #ffffff url(../img/ikoner/ikon_pil_knapp_mellomblaa.png) no-repeat;
  background-size: 45px;
  background-position: 96% 90%;
}
.no-svg .container .transportsideknapp_dokument {
  background: #ffffff url(../img/ikoner/ikon_pil_knapp_mellomblaa.png) no-repeat;
  background-size: 45px;
  background-position: 96% 50%;
}
.no-svg .container .breadcrumbs li:last-child:before {
  background: url('../img/ikoner/pil_tilbake_brun.png') no-repeat;
  background-size: 28px 28px;
}
.no-svg .container .breadcrumbs li:after {
  background: url('../img/ikoner/pil_tilbake_brun.png') no-repeat;
  background-size: 28px 28px;
}
.no-svg .container .entrancebutton a p {
  font-size: 16px;
  line-height: 20px;
}
.no-svg .container .entrancebutton:hover span.avtale,
.no-svg .container .entrancebutton:hover span.helseaktor,
.no-svg .container .entrancebutton:hover span.oppgjor,
.no-svg .container .entrancebutton:hover span.takster,
.no-svg .container .entrancebutton:hover span.skjema {
  background-color: #badde9;
}
.no-svg .container .entrancebutton span {
  border-radius: 0;
  height: 100px;
  width: 100px;
}
.no-svg .container .entrancebutton span.avtale {
  background: #ffffff url('../img/ikoner/hovedinngang_avtale.png') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.no-svg .container .entrancebutton span.helseaktor {
  background: #ffffff url('../img/ikoner/hovedinngang_helseaktor.png') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.no-svg .container .entrancebutton span.oppgjor {
  background: #ffffff url('../img/ikoner/hovedinngang_oppgjor.png') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.no-svg .container .entrancebutton span.takster {
  background: #ffffff url('../img/ikoner/hovedinngang_takster.png') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.no-svg .container .entrancebutton span.skjema {
  background: #ffffff url('../img/ikoner/hovedinngang_skjema.png') no-repeat;
  background-size: 90px 90px;
  background-position: center;
}
.no-svg .container .entrancebutton.menu button span {
  background: #ffffff url('../img/ikoner/hovedinngang_altinnhold.png') no-repeat;
  background-size: 90px 90px;
  background-position: center;
  border-radius: 0;
  height: 100px;
  width: 100px;
}
.no-svg .container .entrancebutton.menu button:hover span {
  background-color: #badde9;
}
.no-svg .menubutton a.js-expander i {
  margin-left: 0;
}
.no-svg .mainsearch,
.no-svg .search {
  background-image: url('../img/ikon_forstorrelsesglass_IE8.png');
  background-repeat: no-repeat;
  -moz-background-size: auto 80%;
  -o-background-size: auto 80%;
  -webkit-background-size: auto 80%;
  background-size: auto 80%;
  background-color: #ffffff;
  background-position: 97% 50%;
  background-position-x: 97%;
  background-position-y: 50%;
}
.no-svg .selected span {
  background: url(../img/ikoner/helfo_pil_valgt.png) no-repeat;
  background-size: 85px 85px;
  background-position: center;
}
.no-svg .passive span {
  background: url(../img/ikoner/helfo_pil_passiv.png) no-repeat;
  background-size: 85px 85px;
  background-position: center;
}
.no-svg .passive:hover span {
  background: url(../img/ikoner/helfo_pil_hover.png) no-repeat;
  background-size: 85px 85px;
  background-position: center;
}
.no-svg #header #logo {
  padding: 0;
  background-image: url(../img/HELFO-logo.png);
  margin-top: -13px;
  height: 56px;
  width: 211px;
}
.no-svg #footer .footerlinkswrapper .rss:before {
  content: none;
}
.no-svg #footer .footerlinkswrapper .email:before {
  content: none;
}
/*# sourceMappingURL=nosvg.css.map */