.no-svg {
    .container {
        .facebook {
            background-image: url(../img/sosiale_ikon_facebook.png) !important;
        }

        .twitter {
            background-image: url(../img/sosiale_ikon_twitter.png) !important;
        }

        .linkedin {
            background-image: url(../img/sosiale_ikon_linkedin.png) !important;
        }

        .youtube {
            background-image: url(../img/sosiale_ikon_youtube.png) !important;
        }

        #logo {
            background-image: url('../img/logo.png') !important;
        }

        input[type="checkbox"] {
            float: left;
            width: auto;
            opacity: 1;
            height: auto;
        }

        input[type="radio"] {
            float: left;
            width: auto;
            opacity: 1;
            height: auto;
        }

        input[type="radio"] + label span {
            margin: 0;
            vertical-align: auto;
            width: auto;
            height: auto;
        }

        input[type="checkbox"] + label span {
            margin: 0;
            vertical-align: auto;
            width: auto;
            height: auto;
        }

        .e-mail {
            background-image: url('../img/modules/icons/epost_regular.png');
            background-repeat: no-repeat;
            background-size: 20px 27px;
            padding-left: 30px;

            img {
                display: none;
            }
        }

        .rss {
            background-image: url('../img/modules/icons/rss_regular.png');
            background-repeat: no-repeat;
            background-size: 20px 27px;
            padding-left: 30px;

            img {
                display: none;
            }
        }

        .module {
            &.module_socialandprint {
                .ikon_facebook {
                    background: url(../img/modules/icons/facebook_blaa.png) no-repeat;
                    -moz-background-size: 27px 20px;
                    -o-background-size: 27px 20px;
                    -webkit-background-size: 27px 20px;
                    background-size: 27px 20px;
                }

                .ikon_twitter {
                    background: url(../img/modules/icons/twitter_blaa.png) no-repeat;
                    -moz-background-size: 27px 20px;
                    -o-background-size: 27px 20px;
                    -webkit-background-size: 27px 20px;
                    background-size: 27px 20px;
                }

                .ikon_skrivut {
                    background: url(../img/modules/icons/ikon_skriv_ut.png) no-repeat;
                    -moz-background-size: 27px 20px;
                    -o-background-size: 27px 20px;
                    -webkit-background-size: 27px 20px;
                    background-size: 27px 20px;
                }

                .ikon_skrivut:hover {
                    background: url(../img/modules/icons/skriv_ut_hover.png) no-repeat;
                    -moz-background-size: 28px 23px;
                    -o-background-size: 28px 23px;
                    -webkit-background-size: 28px 23px;
                    background-size: 28px 23px;
                }

                .ikon_facebook:hover {
                    background: url(../img/modules/icons/sosiale_ikon_facebook_hover.svg) no-repeat;
                    -moz-background-size: 28px 23px;
                    -o-background-size: 28px 23px;
                    -webkit-background-size: 28px 23px;
                    background-size: 28px 23px;
                }

                .ikon_twitter:hover {
                    background: url(../img/modules/icons/twitter_hover.png) no-repeat;
                    -moz-background-size: 28px 23px;
                    -o-background-size: 28px 23px;
                    -webkit-background-size: 28px 23px;
                    background-size: 28px 23px;
                }
            }

            &.module_contact {
                .phone {
                    &:before {
                        background: url(../img/ikoner/ikon_telefon.png) no-repeat;
                        background-size: 25px 25px;
                        background-position: center;
                    }
                }

                .email {
                    &:before {
                        background: url(../img/ikoner/ikon_epost.png) no-repeat;
                        background-size: 25px 25px;
                        background-position: center;
                    }
                }

                .address {
                    &:before {
                        background: url(../img/ikoner/ikon_postadresse.png) no-repeat;
                        background-size: 25px 25px;
                        background-position: center;
                    }
                }
            }
        }

        .transportsideknapp {
            background: white url(../img/ikoner/ikon_pil_knapp_mellomblaa.png) no-repeat;
            background-size: 45px;
            background-position: 96% 90%;
        }

        .transportsideknapp_dokument {
            background: #ffffff url(../img/ikoner/ikon_pil_knapp_mellomblaa.png) no-repeat;
            background-size: 45px;
            background-position: 96% 50%;
        }
    }

    .menubutton a.js-expander i {
        margin-left: 0;
    }

    .mainsearch, .search {
        background-image: url('../img/ikon_forstorrelsesglass_IE8.png');
        background-repeat: no-repeat;
        -moz-background-size: auto 80%;
        -o-background-size: auto 80%;
        -webkit-background-size: auto 80%;
        background-size: auto 80%;
        background-color: #ffffff;
        background-position: 97% 50%;
        background-position-x: 97%;
        background-position-y: 50%;
    }

    .selected {
        span {
            background: url(../img/ikoner/helfo_pil_valgt.png) no-repeat;
            background-size: 85px 85px;
            background-position: center;
        }
    }

    .passive {
        span {
            background: url(../img/ikoner/helfo_pil_passiv.png) no-repeat;
            background-size: 85px 85px;
            background-position: center;
        }

        &:hover {
            span {
                background: url(../img/ikoner/helfo_pil_hover.png) no-repeat;
                background-size: 85px 85px;
                background-position: center;
            }
        }
    }
}