@roboto: 'Roboto';

@colorDarkBlue: #004e66;
@colorDarkBlueHover: #002e41;
@colorBlue: #023c49;
@colorMediumBlue: #0093a7;
@colorMediumBlueHover: #006371;
@colorLightBlue: #6cb4b5;
@colorLightBlueHover: #4f8889;
@colorOrange: #eb6a0a;
@colorOrangeHover: #b8811d;
@colorRed: #c63629;
@colorYellow: #f4d01e;
@colorYellowHover: #c7ad1c;
@colorDarkGray: #aeaba8;
@colorLightGray: #f2f2f2;
@colorMediumGray: #bababa;
@colorLightGray2: #dbdcdd;
@colorGreen: #a1bf37;
@colorGreenHover: #748f29;

.warning {
    color: #222;
    margin: 30px 0;
    padding: 10px 20px;
    background: #fcf8e3;
}

input, textarea {
    width: 100%;
    background: white;
    color: #222;
}

textarea {
    height: 120px;
}

.label_addition {
    font-size: 18px;
    line-height: 22px;
}

label {
    margin-top: 20px;
}

.form {
    label {
        display: block;
    }

    input {
        margin-bottom: 20px;
        padding: 5px 10px;
    }
}

.radiobuttongroup {
    margin-top: 20px;

    label {
        margin: 0 30px 0 0;
        float: left;
    }

    input {
        margin-right: 5px;
    }

    legend {
        margin-right: 100px;
    }
}

input.radio {
    width: auto;
}

.checkbox {
    input {
        width: auto;
        margin: 10px 10px 10px 0;
    }

    label {
        display: inline;
        margin: 10px 0;
    }
}

.calltoaction.send {
    display: inline-block;
    margin-left: 30px;

    &.disabled {
        color: @colorDarkGray;
        background-color: @colorLightGray;
    }
}

.schema_header {
    font-size: 36px;
    line-height: 42px;
    font-family: @roboto;
    margin: 35px 0 0 0;
    color: @colorDarkBlue;
}

.border {
    border-bottom: 1px solid @colorDarkBlue;
}

input[type=tel] {
    width: 137px;
}

input[type=text], input[type=tel], input[type=email], textarea {
    outline: none;
    padding: 8px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus, input[type=tel]:focus, input[type=email]:focus {
    box-shadow: 0 0 5px magenta;
    padding: 8px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid magenta;
}

input[type=text], textarea, input[type=radio], input[type=checkbox] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

input[type=text]:focus, textarea:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    box-shadow: 0 0 5px magenta;
    border: 1px solid magenta;
}

.formbuttons {
    margin-top: -10px;
}

.breadcrumbs_schema {
    margin-top: 20px;
    width: 100%;

    li {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width: 32%;
        margin: 5px 1px 0 0;
        text-indent: 22px;
        position: relative;

        &:before {
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            left: -2px;
            border-style: solid;
            border-width: 15px 0 15px 15px;
            border-color: transparent transparent transparent #f7f6f6;
            z-index: 0;
        }

        &:first-child:before {
            border-color: transparent;
        }

        a:after {
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            right: -15px;
            border-style: solid;
            border-width: 15px 0 15px 15px;
            border-color: transparent transparent transparent #ccc;
            z-index: 10;
        }

        &.active a {
            background: @colorDarkBlue;
            z-index: 100;
            color: white;
        }

        &.active a:after {
            border-left-color: @colorDarkBlue;
        }

        a {
            display: block;
            background: #ccc;
            line-height: 30px;
            color: #222;
        }

        a:hover {
            background: @colorMediumBlue;
            color: white;
        }

        a:hover:after {
            border-color: transparent transparent transparent @colorMediumBlue;
        }
    }
}

a.method_entrance {
    cursor: pointer;
    float: left;
    vertical-align: middle;
    text-align: center;
    margin: 20px 0 10px 0;
    width: 16%;
    border: none;

    &:first-of-type {
        margin-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
    }

    h3 {
        margin-top: 0;
        font-size: 18px;
        border: none;

        &.selected {
            border-bottom: 4px solid #838078;
        }

        &:hover {
            border: none;
        }
    }

    &:hover {
        border: none;
    }
}

@media only screen and (max-width: 1199px) {
    .breadcrumbs_schema li {
        width: auto;
        text-indent: 30px;
    }

    .phonenumber, .email, .zipcode, .location {
        width: auto;
        float: none;
        margin-left: 0;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
    .method_entrance {
    }
}

@media only screen and (max-width: 599px) {
    .method_entrance {
        margin-bottom: 0;
        float: left;
        width: 25%;

        .heading_wrapper {
            width: auto;
            margin: 0;

            h3 {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 899px) {
    label {
        margin-top: 0;
    }

    h1 {
        font-size: 22px;
    }

    .method_entrance {
        margin-bottom: 0;
        float: left;
        width: 25%;

        .heading_wrapper {
            width: auto;
            margin: 0;

            h3 {
                text-align: left;
                border: none;
                font-size: 16px;
                line-height: 20px;
                padding-bottom: 2px;

                &.selected {
                    border-bottom: 2px solid #838078;
                }
            }
        }
    }
}

.selected {
    .icon {
        background: url(../img/ikoner/helfo_pil_valgt.svg) no-repeat;
        background-size: 85px 85px;
        background-position: center;
        height: 90px;
        width: 100%;
        display: inline-block;
        position: relative;

        .number {
            color: white;
            position: absolute;
            top: 32px;
            left: 80px;
            font-size: 4rem;
        }
    }
    /*
    span {
        width: 86px;
        height: 60px;
        background: @colorOrange;
        position: relative;
        display: block;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 43px solid transparent;
            border-right: 43px solid transparent;
            border-top: 20px solid white;
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -25px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 43px solid transparent;
            border-right: 43px solid transparent;
            border-top: 25px solid @colorOrange;
        }
    } */
    .heading_wrapper h3 {
        color: @colorOrange;
    }
}

.passive {
    .icon {
        background: url(../img/ikoner/helfo_pil_passiv.svg) no-repeat;
        background-size: 85px 85px;
        background-position: center;
        height: 90px;
        width: 100%;
        display: inline-block;
        position: relative;

        .number {
            color: white;
            position: absolute;
            top: 32px;
            left: 80px;
            font-size: 4rem;
        }
    }

    &:hover {
        .icon {
            background: url(../img/ikoner/helfo_pil_hover.svg) no-repeat;
            background-size: 85px 85px;
            background-position: center;
        }
    }
}