.warning {
  color: #222;
  margin: 30px 0;
  padding: 10px 20px;
  background: #fcf8e3;
}
input,
textarea {
  width: 100%;
  background: white;
  color: #222;
}
textarea {
  height: 120px;
}
.label_addition {
  font-size: 18px;
  line-height: 22px;
}
label {
  margin-top: 20px;
}
.form label {
  display: block;
}
.form input {
  margin-bottom: 20px;
  padding: 5px 10px;
}
.radiobuttongroup {
  margin-top: 20px;
}
.radiobuttongroup label {
  margin: 0 30px 0 0;
  float: left;
}
.radiobuttongroup input {
  margin-right: 5px;
}
.radiobuttongroup legend {
  margin-right: 100px;
}
input.radio {
  width: auto;
}
.checkbox input {
  width: auto;
  margin: 10px 10px 10px 0;
}
.checkbox label {
  display: inline;
  margin: 10px 0;
}
.calltoaction.send {
  display: inline-block;
  margin-left: 30px;
}
.calltoaction.send.disabled {
  color: #aeaba8;
  background-color: #f2f2f2;
}
.schema_header {
  font-size: 36px;
  line-height: 42px;
  font-family: 'Roboto';
  margin: 35px 0 0 0;
  color: #004e66;
}
.border {
  border-bottom: 1px solid #004e66;
}
input[type=tel] {
  width: 137px;
}
input[type=text],
input[type=tel],
input[type=email],
textarea {
  outline: none;
  padding: 8px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
input[type=text]:focus,
textarea:focus,
input[type=tel]:focus,
input[type=email]:focus {
  box-shadow: 0 0 5px #EB6A0A;
  padding: 8px 10px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #EB6A0A;
}
input[type=text],
textarea,
input[type=radio],
input[type=checkbox] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
input[type=text]:focus,
textarea:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  box-shadow: 0 0 5px #EB6A0A;
  border: 1px solid #EB6A0A;
}
.formbuttons {
  margin-top: -10px;
}
.method_entrance {
  cursor: pointer;
  float: left;
  vertical-align: middle;
  text-align: center;
  margin: 20px 0 10px 0;
  width: 16.5%;
  border: none;
}
.method_entrance:first-of-type {
  margin-left: 0;
}
.method_entrance:last-of-type {
  margin-right: 0;
}
.method_entrance h3 {
  margin-top: 0;
  font-size: 18px;
  border: none;
}
.method_entrance h3.selected {
  border-bottom: 4px solid #838078;
}
.method_entrance h3:hover {
  border: none;
}
.method_entrance:hover {
  border: none;
}
.method_entrance:focus {
  background: none;
}
.selected .icon {
  background: url(../img/ikoner/helfo_pil_valgt.svg) no-repeat;
  background-size: 85px 85px;
  background-position: center;
  height: 90px;
  width: 90px;
  display: inline-block;
  position: relative;
}
.selected .icon .number {
  color: white;
  position: absolute;
  top: 32px;
  left: 35px;
  font-size: 4rem;
}
.selected .heading_wrapper h3 {
  color: #eb6a0a;
}
.passive .icon {
  background: url(../img/ikoner/helfo_pil_passiv.svg) no-repeat;
  background-size: 85px 85px;
  background-position: center;
  height: 90px;
  width: 90px;
  display: inline-block;
  position: relative;
}
.passive .icon .number {
  color: white;
  position: absolute;
  top: 32px;
  left: 35px;
  font-size: 4rem;
}
.passive:hover .icon {
  background: url(../img/ikoner/helfo_pil_hover.svg) no-repeat;
  background-size: 85px 85px;
  background-position: center;
}
@media only screen and (max-width: 1199px) {
  .breadcrumbs_schema li {
    width: auto;
    text-indent: 30px;
  }
  .phonenumber,
  .email,
  .zipcode,
  .location {
    width: auto;
    float: none;
    margin-left: 0;
  }
}
@media only screen and (max-width: 599px) {
  .method_entrance {
    margin-bottom: 0;
    float: left;
    width: 16.5%;
    margin-top: 0;
  }
  .method_entrance .heading_wrapper {
    width: auto;
    margin: 0;
  }
  .method_entrance .heading_wrapper h3 {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
  .selected:hover .icon {
    background-size: 40px 40px;
  }
  .selected .icon {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
  .selected .icon .number {
    color: white;
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 2rem;
  }
  .passive:hover .icon {
    background-size: 40px 40px;
  }
  .passive .icon {
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
  }
  .passive .icon .number {
    color: white;
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  label {
    margin-top: 0;
  }
  h1 {
    font-size: 22px;
  }
  .method_entrance {
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    width: 33%;
  }
  .method_entrance .heading_wrapper {
    width: auto;
    margin: 0;
  }
  .method_entrance .heading_wrapper h3 {
    text-align: center;
    border: none;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 2px;
  }
}
/*# sourceMappingURL=veiviser.css.map */