<article class="container Search">
    <div class="row">
        <div class="col-md-7">
            <header id="pageheader">
                <nav>
                    <ol class="breadcrumbs clearfix">
                        <li><a href="../layouts/forside.html">Forside</a></li>
                    </ol>
                </nav>
                <h1>Søk i nasjonale faglige retningslinjer</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <form class="searchform">
                <label for="searchinput">Søk etter anbefalinger i retningslinjer og veiledere</label>
                <div id="search_input_retningslinjer">
                    <input id="searchinput" class="search typeahead" type="text" placeholder="Amming" />
                </div>
            </form>
            
            <div class="content">
                <aside class="aside">
                    <div class="accordion_mobile refinesearch avgrens">
                        <h2>Avgrens visning</h2>
                        <form>
                            <ul>
                                <li>
                                    <input type="radio" name="radiobutton" id="alle" checked>
                                    <label for="alle"><span></span>Alle</label>
                                </li>
                                <li>
                                    <input type="radio" name="radiobutton" id="barn">
                                    <label for="barn"><span></span>Barn og svangerskap</label>
                                </li>
                                <li>
                                    <input type="radio" name="radiobutton" id="kreft">
                                    <label for="kreft"><span></span>Kreft</label>
                                </li>
                                <li>
                                    <input type="radio" name="radiobutton" id="psykiske">
                                    <label for="psykiske"><span></span>Psykiske lidelser</label>
                                </li>
                                <li>
                                    <input type="radio" name="radiobutton" id="fysiske">
                                    <label for="fysiske"><span></span>Fysiske lidelser</label>
                                </li>
                            </ul>
                        </form>
                    </div>
                </aside>
                
                <span class="numberofresults smalltitle">4 treff på "amming" i anbefalinger</span>
                <ul class="Searchresults">
                    <li class="result recommendation">
                        <img class="pulse" src="../../../img/modules/line-ekg-seagreen.svg">
                        <ol class="breadcrumbs clearfix">
                            <li class="crumb smalltitle">Spedbarnsernæring</li>
                            <li class="crumb smalltitle">Kosten i første leveår</li>
                        </ol>
                        <span class="recommendationnumber">Anbefaling 1 av 3:</span>
                        <h3 class="sectiontitle">Barn bør om mulig få morsmelk; gjerne i hele første leveår</h3>
                    </li>
                    <li class="result section">
                        <h3 class="sectiontitle"><span class="guidelinetitle smalltitle">Spedbarnsernæring</span>Kosten i første levehalvår</h3>
                        <div class="sectioninformation hidden-xs">
                            <span class="numberofrecommendations">5</span>
                            Anbefalinger
                        </div>
                    </li>
                    <li class="result recommendation">
                        <img class="pulse" src="../../../img/modules/line-ekg-seagreen.svg">
                        <ol class="breadcrumbs clearfix">
                            <li class="crumb smalltitle">Spedbarnsernæring</li>
                            <li class="crumb smalltitle">Kosten i første leveår</li>
                        </ol>
                        <span class="recommendationnumber">Anbefaling 3 av 3:</span>
                        <h3 class="sectiontitle">Ved bruk av morsmelkerstatning må denne
                        tilberedes og brukes riktig</h3>
                    </li>
                    <li class="result section">
                        <h3 class="sectiontitle"><span class="guidelinetitle smalltitle">Spedbarnsernæring</span>Introduksjon av fast føde</h3>
                        <div class="sectioninformation hidden-xs">
                            <span class="numberofrecommendations">5</span>
                            Anbefalinger
                        </div>
                    </li>
                </ul>
                <!-- cols -->
                
            </div>
        </div>
        
        
        <!-- row -->
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="module module_social col-md-7">
                <a href="#" class="ikon_metode"><span></span>metode</a>
            </div>
        </div>
        
    </div>
    <!-- end container -->
    <div class=" checkbox">
        
    </div>
</article>