<article class="container Guidelinesfrontpage">
    <div class="row">
        <div class="col-md-7">
            <header id="pageheader" class="pageheader">
                <nav>
                    <ol class="breadcrumbs clearfix">
                        <li><a href="../layouts/forside.html">Forside</a></li>
                    </ol>
                    
                </nav>
                <h1>Nasjonale faglige retningslinjer</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <form class="retningslinjerSok">
                <label for="searchinput">Søk etter anbefalinger i retningslinjer og veiledere</label>
                <div id="search_input_retningslinjer">
                    <input id="searchinput" class="search typeahead" type="text" placeholder="Amming, Sepsis.." />
                </div>
            </form>
            
            <div class="content">
                 <aside class="aside">
            <div class="accordion_mobile refinesearch">
                <h2>Avgrens visning</h2>
                <form>
                    <ul>
                        <li>
                            <input type="radio" name="radiobutton" id="alle" checked>
                            <label for="alle"><span></span>Alle</label>
                        </li>
                        <li>
                            <input type="radio" name="radiobutton" id="nasjonalefagligeretn">
                            <label for="nasjonalefagligeretn"><span></span>Nasjonale faglige retningslinjer</label>
                        </li>
                        <li>
                            <input type="radio" name="radiobutton" id="prio">
                            <label for="prio"><span></span>Prioriteringsveiledere</label>
                        </li>
                        <li>
                            <input type="radio" name="radiobutton" id="andre">
                            <label for="andre"><span></span>Andre veiledere</label>
                        </li>
                        <li>
                            <input type="radio" name="radiobutton" id="kreft">
                            <label for="kreft"><span></span>Pakkeforløp for kreft</label>
                        </li>
                    </ul>
                </form>
            </div>
        </aside>
           
            <span class="guidelinecount">{{guidelines.length}} retningslinjer og veiledere</span>
            <ul class="guidelineslist">
                <li ng-repeat="guideline in guidelines" class="guideline">

                        <a href="#/{{guideline.guidelineId}}">
                            <!-- guidelines.title -->
                            <h3 class="guidelinetitle">{{guideline.shortTitle}}</h3>
                            <p class="guidelinesummary">{{guideline.title}}</p>
                        </a>

                </li>
            </ul>
            <!-- cols -->
             
        </div>
    </div>
        
       
        <!-- row -->
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="module module_social col-md-7">
                <a href="#" class="ikon_metode"><span></span>metode</a>
            </div>
        </div>
        
    </div>
    <!-- end container -->
</article>
<script>
//We need to wait until Angular is finished with the DOM
    window.setTimeout(function(){
        runJqueryUIRecommendationStuff();
    }, 500);
</script>