<article>
	<header id="pageheader">
		<div class="headerGroup">
			<div class="container">
				<h1>{{retningslinje.title}}</h1>
				<span>Nasjonale faglige retningslinjer for spedbarnsernæring i primærhelsetjenesten</span>
				<ul class="hidden-xs">
					<li><span>40</span>Anbefalinger</li>
					<li><span>2014</span>Sist oppdatert</li>
					<li><span>2214</span>IS-nummer</li>
				</ul>
				<a href="#omRetningslinjen" title="" class="omRetningslinjen hidden-sm hidden-xs">Om retningslinjen</a>
			</div>
		</div>
		
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form class="retningslinjerSok">
					<label for="searchinput">Søk etter anbefalinger i denne retningslinjen</label>
					<div id="search_input_retningslinjer">
						<input id="searchinput" class="search typeahead" type="text" placeholder="Luftveier, Øye, Mage, Forgiftning.." />
					</div>
				</form>
				
				<h2 class="innhold subtitle">Innhold i denne retningslinjen</h2>
				<ul class="guidelinelist">
					
					<li class="haschildren" ng-repeat="section in retningslinje.sections">
						<a href="/{{retningslinje.guidelineId}}/section/{{section.sectionId}}">
							
							<h3><span>{{retningslinje.title}}</span>{{section.heading}}</h3>
							<div class="sectioninformation hidden-xs">
								<!--<div>
									<span>5</span>
									Anbefalinger
								</div>-->
								<img src="../../img/modules/icons/ico-mer.svg" alt="" />
							</a>
						</li>
						
					</ul>
					<div class="module module_social">
						<a href="javascript:window.print()" class=" ikon_skrivut"><span></span>skriv ut</a>
						<a href="#" class="ikon_disclaimer"><span></span>disclaimer</a>
						<a href="#" class="ikon_metode"><span></span>metode</a>
					</div>
					<aside class=" aside retningslinjer col-8">
						<div class=" module module_person ">
							<h5 class=" module_description">Ansvarlig for retningslinjen</h5>
							<a href="mailto:Anne.May.Knudsen@helsedir.no">
								<div class="name">Avd XX</div>
							</a>
							<div class="person_information">
								<p class="phone">E-post: avdxx@helsedir.no</p>
							</div>
						</div>
						<div class="module module_related green">
							<h3>Relaterte anbefalinger</h3>
							<ul class="linklist">
								<li><a href="#">Sepsis</a></li>
								<li><a href="#">Antibiotika</a></li>
								<li><a href="#">Sepsis</a></li>
							</ul>
							<img class="pulse" src="../../../img/modules/EKG-groenn.png" alt="">
						</div>
						<div class="module module_related blue">
							<h3>Relaterte retningslinjer</h3>
							<ul class="linklist">
								<li><a href="#">Antibiotika</a></li>
								<li><a href="#">Sepsis</a></li>
								<li><a href="#">Sepsis</a></li>
							</ul>
							<img class="pulse" src="../../../img/modules/EKG-lyseblaa.png" alt="">
						</div>
					</aside>
					</div> <!-- cols -->
					</div><!-- row -->
				</div>
				</article> <!-- end container -->