<article class="container">
  
  <!--Header row-->
  <div class="row">
    <div class="col-md-12">
      <header id="pageheader">
        <nav>
          <ol class="breadcrumbs clearfix">
            <li><a href="../../../layouts/forside.html">Forside</a></li>
            <li><a href="../../" class="active">Nasjonale faglige retningslinjer</a></li>
            <li><a href="../" class="active">Spedbarnsernæring</a></li>
          </ol>
        </nav>
        <div class="headerGroup">
          <span>{{retningslinje.title}}</span>
          <h1>{{section.heading}}</h1>
          <i class="icon">i</i>
        </div>
      </header>
    </div>
  </div>
  <!--Recommendations-->
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <section class="recommendation" ng-repeat="recommendation in section.recommendations">
        <div class="header_wrapper">
          <header grading="{{recommendation.strength}}">
            <h2>{{recommendation.heading}}</h2>
          </header>
        </div>
        <div class="text">
          <div class="textContainer" data-grading="{{recommendation.strength}}">
            <img ng-show="recommendation.strength == 'strong'" class="pulse closed" src="../../../img/modules/line-ekg-purple.svg">
            <img ng-show="recommendation.strength == 'weak'" class="pulse closed" src="../../../img/modules/line-ekg-seagreen.svg">
            <img ng-show="recommendation.strength == null" class="pulse closed" src="../../../img/modules/line-ekg-gray.svg">
            <div class="recommendationexplanation">
              <i ng-hide="recommendation.strength == null" class="icon" grading="{{recommendation.strength}}">i</i>
              <span ng-show="recommendation.strength == 'strong'" class="recommendationstrength gradingStrong">Sterk anbefaling</span>
              <span ng-show="recommendation.strength == 'weak'" class="recommendationstrength gradingWeak">Svak anbefaling</span>
              <div class="explainingtext" grading="{{recommendation.strength}}">
              <p ng-show="recommendation.strength == 'strong'" >
              Denne anbefalingen er sterk Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. 
              </p>
              <p ng-show="recommendation.strength == 'weak'">
              Denne anbefalingen er svak Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodolorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              consequat.
              </p>
              </div>
            </div>
            <div class="recommendation-text">
              {{recommendation.text}}
            </div>
          </div>
          <div class="tabs">
              <ul class="resp-tabs-list">
              <li><a href="#nokkelinfo">Nøkkelinfo</a></li>
              <li><a href="#vitenskap">Vitenskapelige spm.</a></li>
              <li><a href="#rasjonale">Rasjonale</a></li>
              <li><a href="#praktisk">Praktisk info</a></li>
              <li><a href="#referanser">Referanser</a></li>
              </ul>

              <div class="resp-tabs-container">
              <div id="nokkelinfo"></div>
              <div id="vitenskap">
                <section class="pico" ng-repeat="pico in recommendation.picos">
                  <dl class="dl-horizontal">
                    <dt>Populasjon</dt>
                    <dd>{{pico.population}}</dd>
                    <dt>Intervensjon</dt>
                    <dd>{{pico.intervention}}</dd>
                    <dt>Komparator</dt>
                    <dd>{{pico.control}}</dd>
                    <dt>Utfall</dt>
                    <dd><span ng-repeat="outcome in picoOutcomes">{{outcome.outcome}}</span></dd>
                  </dl>
                </section>
              </div>
              <div id="rasjonale">{{recommendation.rational}}</div>
              <div id="praktisk">{{recommendation.practicalAdvice}}</div>
              <div id="referanser">{{recommendation.refs}}</div>
            </div>
          </div>
        </div>
        <a href="#" grading="{{recommendation.strength}}" class="closepane"><i class="fa fa-angle-up"></i></a>
      </section>
      <aside class="col-sm-12 col-lg-3 offset1">
        <div class="module module_related">
          <h3 class=" module_header">Relaterte anbefalinger</h3>
          <ul class="linklist">
            <li><a href="#">Anbefaling X</a></li>
            <li><a href="#">Anbefaling Y</a></li>
            <li><a href="#">Anbefaling Z</a></li>
          </ul>
          <img class="pulse" src="../../../img/modules/EKG-groenn.png" alt="">
        </div>
        <div class="module module_related">
          <h3 class=" module_header">Relaterte retningslinjer</h3>
          <ul class="linklist">
            <li><a href="#">Retningslinje A</a></li>
            <li><a href="#">Retningslinje B</a></li>
            <li><a href="#">Retningslinje C</a></li>
          </ul>
          <img class="pulse" src="../../../img/modules/EKG-groenn.png" alt="">
        </div>
      </aside>
    </div>

    <!-- row -->
  </div>
  <!-- end container -->
</article>