<article class="container">
  
  <!--Header row-->
  <div class="row">
    <div class="col-md-12">
      <header id="pageheader">
        <nav>
          <ol class="breadcrumbs clearfix">
            <li><a href="../../../layouts/forside.html">Forside</a></li>
            <li><a href="../../" class="active">Nasjonale faglige retningslinjer</a></li>
            <li><a href="../" class="active">Spedbarnsernæring</a></li>
          </ol>
        </nav>
        <div class="headerGroup">
          <span>{{retningslinje.title}}</span>
          <h1>{{section.heading}}</h1>
          <i class="icon">i</i>
        </div>
      </header>
    </div>
  </div>
  <!--Recommendations-->
  <div class="row">
    <div class="col-md-7">
      <section class="recommendation" ng-repeat="recommendation in section.recommendations">
        <div class="header_wrapper">
          <header grading="{{recommendation.strength}}">
            <h2>{{recommendation.heading}}</h2>
          </header>
        </div>
        <div class="text">
          <div class="textContainer" data-grading="{{recommendation.strength}}">
            <img ng-show="recommendation.strength == 'strong'" class="pulse" src="../../../img/modules/line-ekg-purple.svg">
            <img ng-show="recommendation.strength == 'weak'" class="pulse" src="../../../img/modules/line-ekg-seagreen.svg">
            <img ng-show="recommendation.strength == null" class="pulse" src="../../../img/modules/line-ekg-gray.svg">
            <i ng-hide="recommendation.strength == null" class="icon" ng-class="{gradingStrong: recommendation.strength == 'strong', gradingWeak: recommendation.strength == 'weak', gradingNone: recommendation.strength == null}">i</i>
            <span ng-show="recommendation.strength == 'strong'" class="recommendationstrength gradingStrong">Sterk anbefaling</span>
            <span ng-show="recommendation.strength == 'weak'" class="recommendationstrength gradingWeak">Svak anbefaling</span>
            <p>{{recommendation.text}}</p>
          </div>
          <nav>
            <ul class="tabnav">
              <li><a href="#nokkelinfo" data-link="nokkelinfo">Nøkkelinfo</a></li>
              <li><a href="#vitenskap" data-link="vitenskap">Vitenskapelige spm.</a></li>
              <li><a href="#rasjonale" data-link="rasjonale">Rasjonale</a></li>
              <li><a href="#praktisk" data-link="praktisk">Praktisk info</a></li>
              <li><a href="#referanser" data-link="referanser">Referanser</a></li>
            </ul>
          </nav>
          <div class="tab-content">
            <div class="tab-pane" id="nokkelinfo">a</div>
            <div class="tab-pane" id="vitenskap">
              <section class="pico" ng-repeat="pico in recommendation.picos">
                <dl>
                  <dt>Populasjon</dt>
                  <dd>{{pico.population}}</dd>
                  <dt>Intervensjon</dt>
                  <dd>{{pico.intervention}}</dd>
                  <dt>Komparator</dt>
                  <dd>{{pico.control}}</dd>
                  <dt>Utfall</dt>
                  <dd><span ng-repeat="outcome in picoOutcomes">{{outcome.outcome}}</span></dd>
                </dl>
              </section>
            </div>
            <div class="tab-pane" id="rasjonale">b</div>
            <div class="tab-pane" id="praktisk">c</div>
            <div class="tab-pane" id="referanser">d</div>
          </div>
        </div>
        <a href="#" grading="{{recommendation.strength}}" class="closepane"><i class="fa fa-angle-up"></i></a>
      </section>
      <aside class="aside">
        <div class="module module_related">
          <h3 class=" module_header">Relaterte anbefalinger</h3>
          <ul class="linklist">
            <li><a href="#">Anbefaling X</a></li>
            <li><a href="#">Anbefaling Y</a></li>
            <li><a href="#">Anbefaling Z</a></li>
          </ul>
          <img class="pulse" src="../../../img/modules/EKG-groenn.png" alt="">
        </div>
        <div class="module module_related">
          <h3 class=" module_header">Relaterte retningslinjer</h3>
          <ul class="linklist">
            <li><a href="#">Retningslinje A</a></li>
            <li><a href="#">Retningslinje B</a></li>
            <li><a href="#">Retningslinje C</a></li>
          </ul>
          <img class="pulse" src="../../../img/modules/EKG-groenn.png" alt="">
        </div>
      </aside>
    </div>
    <!-- row -->
  </div>
  <!-- end container -->
</article>