<article class="container">  
 
<!--Header row-->
  <div class="row">
    <div class="col-md-12">
      <header id="pageheader">
        <nav>
          <ol class="breadcrumbs clearfix">
            <li><a href="../../../layouts/forside.html">Forside</a></li>
            <li><a href="../../" class="active">Nasjonale faglige retningslinjer</a></li>
            <li><a href="../" class="active">Spedbarnsernæring</a></li>
          </ol>
        </nav>
        <div class="headerGroup">
          <span>{{retningslinje.title}}</span>
          <h1>{{section.heading}}</h1>
          <i class="icon">i</i>
        </div>
      </header>
    </div>
  </div>

<!--Recommendations-->
  <div class="row">
    <div class="col-md-7">

      <section class="recommendation" ng-repeat="recommendation in section.recommendations">
        <div class="header_wrapper">
          <header class="gradingWeak">
            <!--
            <div class="context">
              <div class="column uppercase">Anbefaling</div>
              <div class="column leftBorder">
                <div class="uppercase"><span class="recommendationGrading">Sterk</span></div>
                <div class="gradingInfo largeScreen">
                  <dl>
                    <dt>sterk</dt>
                    <dd>
                      Fordelene ved å følge anbefalingen vil for de fleste være større enn eventuelle ulemper. Ulike valg kan være riktig for ulike pasienter, og helse- og omsorgspersonell må hjelpe til med å vurdere hva som er riktig i den enkelte situasjon.
                    </dd>
                    <dt>svak</dt>
                    <dd>
                      Fordelene ved å følge anbefalingen vil for de fleste være klart større enn eventuelle ulemper. Pasienter og helse- og omsorgspersonell vil, i de fleste situasjoner, mene det er riktig å følge anbefalingen.
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="gradingInfo smallScreen">
                <dl>
                  <dt>sterk</dt>
                  <dd>
                    Fordelene ved å følge anbefalingen vil for de fleste være større enn eventuelle ulemper. Ulike valg kan være riktig for ulike pasienter, og helse- og omsorgspersonell må hjelpe til med å vurdere hva som er riktig i den enkelte situasjon.
                  </dd>
                  <dt>svak</dt>
                  <dd>
                    Fordelene ved å følge anbefalingen vil for de fleste være klart større enn eventuelle ulemper. Pasienter og helse- og omsorgspersonell vil, i de fleste situasjoner, mene det er riktig å følge anbefalingen.
                  </dd>
                </dl>
              </div>
            </div>-->
            <h2>{{recommendation.heading}}</h2>
          </header>
        </div>
        <div class="text">
          {{recommendation.text}}
        </div>
        <div class="accordion background_information visuallyhidden">
          <h2>Kunnskapsgrunnlag </h2>

<div class="kunnskapsgrunnlag">
  <div class="accordion nested-accordion">
    <h3>Nøkkelinfo</h3>
    <div class="keyInfo" ng-repeat="keyInfo in keyInfo">
      <div class="accordion nested-accordion">
        <h4>Fordeler og ulemper</h4>
        <div>
          dsf
          {{keyInfo.benefits}}
        </div>
      </div>

      <div class="accordion nested-accordion">
        <h4>Kvalitet på dokumentasjonen</h4>
        <div>
          {{keyInfo.evidence}}
        </div>
      </div>

      <div class="accordion nested-accordion">
        <h4>Verdier og preferanser</h4>
        <div>
          {{keyInfo.preference}}
        </div>
      </div>

      <div class="accordion nested-accordion">
        <h4>Ressurshensyn</h4>
        <div>
          {{keyInfo.resources}}
        </div>
      </div>


    </div>
  </div>
  <div class="accordion nested-accordion">
    <h3>Vitenskapelige spørsmål</h3>
    <div ng-repeat="pico in picos">
      <dl class="picoList">
        <dt>Populasjon</dt>
        <dd>{{pico.population}}</dd>
        <dt>Intervensjon</dt>
        <dd>{{pico.intervention}}</dd>
        <dt>Komparator</dt>
        <dd>{{pico.control}}</dd>
        <dt>Utfall</dt>
        <dd>
          <span ng-repeat="outcome in picoOutcomes">{{pico.outcome}}</span>
        </dd>
      </dl>
      <div class="evidensprofil accordion nested-accordion">
        <h4>Evidensprofil</h4>
        <div class="accordion nested-accordion">
          <h5>Evidensprofil</h5>

          <div>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>

              <dd><strong>Død</strong></dd>

              <dt>Tiltro til estimatene</dt>

              <dd>..</dd>

              <dt>Relativ effekt</dt>

              <dd>..</dd>

              <dt>Ingen behandling</dt>

              <dd>..</dd>

              <dt>Parental antikoagulasjon</dt>

              <dd>..</dd>

              <dt>Absolutt forskjell</dt>

              <dd>..</dd>

              <dt>Antall inkluderte</dt>

              <dd>..</dd>

              <dt>Antall studier</dt>

              <dd>..</dd>

              <dt>Oppfølgingstid</dt>

              <dd>..</dd>
            </dl>
          </div>

          <div class="accordion nested-accordion">
            <h5>Sammendrag av studie</h5>

            <div>
              ttt
            </div>
          </div>

          <div class="accordion nested-accordion">
            <h5>Referanser</h5>

            <div>
              <table class="table_general">
                <caption class="visuallyhidden">
                  Tittel
                </caption>

                <thead>
                  <tr class="odd">
                    <th scope="col">#</th>

                    <th scope="col">Tittel</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="odd">
                    <th scope="row" data-title="#">1</th>

                    <td data-title="Tittel">
                      <a href="http://www.ncbi.nlm.nih.gov/pubmed/22895934" target="_blank">Kramer MS, Kakuma R. Optimal duration of exclusive breastfeeding. The Cochrane database of systematic reviews. 2012;8</a>
                    </td>
                  </tr>

                  <tr class="odd">
                    <th scope="row" data-title="#">2</th>

                    <td data-title="Tittel">
                      <a href="http://www.ncbi.nlm.nih.gov/pubmed/21669892" target="_blank">Hauck FR, Thompson JM, Tanabe KO, Moon RY, Vennemann MM. Breastfeeding and reduced risk of sudden infant death syndrome: a meta-analysis. Pediatrics. 2011 Jul;128(1):103-10.</a>
                    </td>
                  </tr>

                  <tr class="odd">
                    <th scope="row" data-title="#">3</th>

                    <td data-title="Tittel">
                      <a href="http://www.ncbi.nlm.nih.gov/pubmed/16276370" target="_blank">Stray-Pedersen A, Arnestad M, Vege A, Sveum L, Rognum TO. [Bed sharing and sudden infant death]. Tidsskr Nor Laegeforen. 2005 Nov 3;125(21):2919-21.</a>
                    </td>
                  </tr>

                  <tr class="odd">
                    <th scope="row" data-title="#">4</th>

                    <td data-title="Tittel">
                      <a href="http://www.ncbi.nlm.nih.gov/pubmed/20617343" target="_blank">Plenge-Bonig A, Soto-Ramirez N, Karmaus W, Petersen G, Davis S, Forster J. Breastfeeding protects against acute gastroenteritis due to rotavirus in infants. European journal of pediatrics. 2010 Dec;169(12):1471-6.</a>
                    </td>
                  </tr>

                  <tr class="odd">
                    <th scope="row" data-title="#">5</th>

                    <td data-title="Tittel">
                      <a href="http://www.ncbi.nlm.nih.gov/pubmed/24029792" target="_blank">Chmielewska A, Szajewska H, Shamir R. Celiac disease--prevention strategies through early infant nutrition. World review of nutrition and dietetics. 2013;108:91-7</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>



      </div>
      <dl class="picoList">
        <dt>Populasjon</dt>
        <dd>Friske spedbarns mødre i Norge</dd>
        <dt>Intervensjon</dt>
        <dd>Fullamming til 6 måneder</dd>
        <dt>Komparator</dt>
        <dd>Fullamming 4 måneder og fortsatt amming til 6 måneder med tillegg av annen kost</dd>
        <dt>Utfall</dt>
        <dd>Død, kognitiv funksjon, infeksjoner, vekst, overvekt/fedme, allergi/atopisk sykdom, cøliaki, spiseutvikling/smaksaksept</dd>
      </dl>
      <div class="evidensprofil accordion nested-accordion">
        <h4>Evidensprofil</h4>
        <div class="accordion nested-accordion">
          <h5>Evidensprofil</h5>
          <div>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Død</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Kognitiv funksjon</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Infeksjoner</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Vekst</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Overvekt</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Atopisk sykdom/allergi</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Cøliaki</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
            <dl class="evidensprofilList">
              <dt>Utfall</dt>
              <dd><strong>Spiseutvikling og smaksaksept</strong></dd>
              <dt>Tiltro til estimatene</dt>
              <dd>..</dd>
              <dt>Relativ effekt</dt>
              <dd>..</dd>
              <dt>Ingen behandling</dt>
              <dd>..</dd>
              <dt>Parental antikoagulasjon</dt>
              <dd>..</dd>
              <dt>Absolutt forskjell</dt>
              <dd>..</dd>
              <dt>Antall inkluderte</dt>
              <dd>..</dd>
              <dt>Antall studier</dt>
              <dd>..</dd>
              <dt>Oppfølgingstid</dt>
              <dd>..</dd>
            </dl>
          </div>
          <div class="accordion nested-accordion">
            <h5>Sammendrag av studie</h5>
            <div>ttt</div>
          </div>
          <div class="accordion nested-accordion">
            <h5>Referanser</h5>
            <div>ttt</div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="accordion nested-accordion">
    <h3>Rasjonale</h3>
    <div>
      <p>
        Plaid Helvetica pug High Life, iPhone cornhole jean shorts ethnic. Forage Tumblr Kickstarter, church-key vinyl sustainable roof party beard. Next level banjo street art, swag church-key yr Tonx. Readymade direct trade typewriter lo-fi Intelligentsia, you probably haven't heard of them Pinterest four loko Wes Anderson tousled farm-to-table. 3 wolf moon salvia slow-carb yr four loko. Sustainable ethical typewriter flexitarian Helvetica, +1 Truffaut meh bespoke. Williamsburg street art photo booth, banjo tote bag flannel squid tofu VHS polaroid readymade fashion axe gastropub hella.
      </p>
      <p>
        Banjo jean shorts dreamcatcher, Schlitz four loko banh mi literally PBR distillery next level Helvetica bicycle rights mlkshk gastropub 90's. Ugh keytar normcore chambray farm-to-table, 3 wolf moon slow-carb distillery paleo mixtape mustache beard Godard 8-bit. Kogi pug beard, VHS locavore photo booth Odd Future shabby chic wayfarers. Pug Blue Bottle photo booth fixie, Odd Future meh bitters High Life forage gastropub. Sriracha +1 Williamsburg twee Portland, XOXO disrupt bicycle rights viral Godard photo booth drinking vinegar. Cardigan street art twee keytar brunch, vegan church-key iPhone beard swag Shoreditch cred. Cred pork belly Cosby sweater Austin ethnic Schlitz.
      </p>


    </div>
  </div>
  <div class="accordion nested-accordion">
    <h3>Praktisk info</h3>
    <div>
      <p>
        Ut fra det kunnskapsgrunnlaget som finnes per i dag og som har vært vurdert, fant vi at fullamming til 6 måneder gir en noe lavere risiko for mage- og tarminfeksjoner enn fullamming til 4 mnd. Forøvrig var det ingen forskjeller i helseutfall for barnet mellom fullamming til 6 mnd og amming til 6 mnd med tillegg av fast føde mellom 4 og 6 mnd. Kvinnen (og ev. partner) bør få veiledning og beslutningstøtte etter behov; ut fra barnets behov, særlige hensyn, samt mors verdier, preferanser og livssituasjon.
      </p>


    </div>
  </div>
  <div class="accordion nested-accordion">
    <h3>Referanser</h3>
    <div>
      <table class="table_general">
        <caption class="visuallyhidden">
          Tittel
        </caption>

        <thead>
          <tr class="odd">
            <th scope="col">#</th>

            <th scope="col">Tittel</th>
          </tr>
        </thead>

        <tbody>
          <tr class="odd">
            <th scope="row" data-title="#">1</th>

            <td data-title="Tittel">
              <a href="http://www.ncbi.nlm.nih.gov/pubmed/22895934" target="_blank">Kramer MS, Kakuma R. Optimal duration of exclusive breastfeeding. The Cochrane database of systematic reviews. 2012;8</a>
            </td>
          </tr>

          <tr class="odd">
            <th scope="row" data-title="#">2</th>

            <td data-title="Tittel">
              <a href="http://www.ncbi.nlm.nih.gov/pubmed/21669892" target="_blank">Hauck FR, Thompson JM, Tanabe KO, Moon RY, Vennemann MM. Breastfeeding and reduced risk of sudden infant death syndrome: a meta-analysis. Pediatrics. 2011 Jul;128(1):103-10.</a>
            </td>
          </tr>

          <tr class="odd">
            <th scope="row" data-title="#">3</th>

            <td data-title="Tittel">
              <a href="http://www.ncbi.nlm.nih.gov/pubmed/16276370" target="_blank">Stray-Pedersen A, Arnestad M, Vege A, Sveum L, Rognum TO. [Bed sharing and sudden infant death]. Tidsskr Nor Laegeforen. 2005 Nov 3;125(21):2919-21.</a>
            </td>
          </tr>

          <tr class="odd">
            <th scope="row" data-title="#">4</th>

            <td data-title="Tittel">
              <a href="http://www.ncbi.nlm.nih.gov/pubmed/20617343" target="_blank">Plenge-Bonig A, Soto-Ramirez N, Karmaus W, Petersen G, Davis S, Forster J. Breastfeeding protects against acute gastroenteritis due to rotavirus in infants. European journal of pediatrics. 2010 Dec;169(12):1471-6.</a>
            </td>
          </tr>

          <tr class="odd">
            <th scope="row" data-title="#">5</th>

            <td data-title="Tittel">
              <a href="http://www.ncbi.nlm.nih.gov/pubmed/24029792" target="_blank">Chmielewska A, Szajewska H, Shamir R. Celiac disease--prevention strategies through early infant nutrition. World review of nutrition and dietetics. 2013;108:91-7</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>
</section>


<aside class="aside">
  <div class="module module_related">
    <h3 class=" module_header">Relaterte anbefalinger</h3>
    <ul class="linklist">
      <li><a href="#">Anbefaling X</a></li>
      <li><a href="#">Anbefaling Y</a></li>
      <li><a href="#">Anbefaling Z</a></li>
    </ul>
    <img class="pulse" src="../../../img/modules/EKG-groenn.png" alt="">
  </div>
  <div class="module module_related">
    <h3 class=" module_header">Relaterte retningslinjer</h3>
    <ul class="linklist">
      <li><a href="#">Retningslinje A</a></li>
      <li><a href="#">Retningslinje B</a></li>
      <li><a href="#">Retningslinje C</a></li>
    </ul>
    <img class="pulse" src="../../../img/modules/EKG-groenn.png" alt="">
  </div>
</aside>
</div>

</div><!-- row -->
</article> <!-- end container 