

//$colorDarkBlueHover: #002e41;


$colorWhite: #fff;
$colorBlack: #000;

$colorBase: #f5f5f5;
$colorBase-light: #f6f6f6;
$colorgrading-strong: #77438d;
$colorgrading-weak: #69b4b6;
$colorgrading-none: #aeaba8;
$colorgrading-blank: #fff;
$colorPurple: rgba($colorgrading-strong, 0.89);

//greens
$colorGreen: #a1bf37;
$colorSeaGreen: #6cb4b5;
$colorEdgewater: #c1dfdd;

//blues
$colorBondiBlue: #0093a7;
$colorRegalBlue: #004e66;

//reds
$colorSnuff: #ded2e4;


//gray tones
$colorFriarGray: #838078;
$colorGallery: #eeeded;
$colorCloudy: #aeaba8;
$colorWildSand: #f7f6f6;
$colorQuillGray: #d1d0cf;
$colorDesertStorm: #e7e7e6;
$colorAlto: #e0e0e0;